/*# sourceURL=lm-components.component.scss */

app-lm-components {
  height: 100%;
  display: flex;
  color: #060e12;  // # color: #2a3338;  // color: #20262D;

  .lcm-left-side {
    flex-shrink: 0;
    flex-basis: 149px;
    @media (min-width: 800px) { flex-basis: 200px; }
    @media (min-width: 1000px) { flex-basis: 250px; }
    @media (min-width: 1200px) { flex-basis: 300px; }

    display: flex;
    flex-direction: column;
  }
  .lcm-right-side-wrap {
    flex-grow: 1;
    flex-basis: 100%;
    overflow-y: auto;
  }
  .lcm-right-side {
    display: flex;
    justify-content: center;
  }
  .lcm-right-side-data {
    width: 100%;
    max-width: 650px;
  }
  .lcm-r-border {
    border-right-width: var(--app-root-border-width);
    border-right-style: var(--app-root-border-style);
    border-right-color: var(--app-root-border-color);
    box-sizing: border-box;
  }

  .lcm-item {
    padding: 10px 15px;
  }
  .lcm-ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .lcm-li {
    padding: 2px 0;
    display: block;
  }
  .lcm-li-href {
    padding: 2px 0 2px 10px;
    display: block;
  }
  .lcm-li-active {
    color: #007FFF;
    font-weight: 500;
    background-color: #F0F7FF;
  }

  .mat-expansion-panel-header.mat-expanded {
    height: 48px;
  }


  .lc-api-class {
    margin-top: 28px;
    margin-bottom: 0;
    display: block;
    font-weight: bold;
    font-size: 20px;
    background: none;
  }
  .lc-brk-wrd {
    word-break: break-word;
  }
  .lc-api-param {
    background: rgba(0,0,0,.06);
    padding: 3px;
    margin-left: 3px;
  }
  table.lc-api-tab {
    border-collapse: collapse;
    border: 1px solid rgba(0,0,0,.12);
    tr {
      border-top: 1px solid rgba(0,0,0,.12);
    }
    th, td {
      &:not(:last-of-type) {
        border-right: 1px solid rgba(0,0,0,.12);
      }
    }
    th {
      font-weight: 400;
      max-width: 100px;
      text-align: left;
      background: whitesmoke;
    }
    th, td {
      padding: 8px 16px;
      code {
        display: block;
      }
    }
  }
  .lc-ds-blc {
    display: block;
  }

}

