<app-site-scheme>
  <div sideLeftPanel>

    <div class="ss-item">Components</div>

    <mat-accordion displayMode="flat">

      <mat-expansion-panel [expanded]="expandedFrameInput">
        <mat-expansion-panel-header [expandedHeight]="expandedHeight">
          <mat-panel-title>FrameInput</mat-panel-title>
        </mat-expansion-panel-header>
        <ul class="ss-ul">
          <li *ngFor="let urlItem of urlListFrameInput">
            <a [routerLink]="[urlItem.url]"
              [fragment]="urlItem.fragment">{{ urlItem.label }}</a>
          </li>
        </ul>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="expandedInfiniteScroll">
        <mat-expansion-panel-header [expandedHeight]="expandedHeight">
          <mat-panel-title>InfiniteScroll</mat-panel-title>
        </mat-expansion-panel-header>
        <ul class="ss-ul">
          <li *ngFor="let urlItem of urlListInfiniteScroll">
            <a [routerLink]="[urlItem.url]"
              [fragment]="urlItem.fragment">{{ urlItem.label }}</a>
          </li>
        </ul>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="expandedInput">
        <mat-expansion-panel-header [expandedHeight]="expandedHeight">
          <mat-panel-title>Input</mat-panel-title>
        </mat-expansion-panel-header>
        <ul class="ss-ul">
          <li *ngFor="let urlItem of urlListInput">
            <a [routerLink]="[urlItem.url]"
              [fragment]="urlItem.fragment">{{ urlItem.label }}</a>
          </li>
        </ul>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="expandedTextarea">
        <mat-expansion-panel-header [expandedHeight]="expandedHeight">
          <mat-panel-title>Textarea</mat-panel-title>
        </mat-expansion-panel-header>
        <ul class="ss-ul">
          <li *ngFor="let urlItem of urlListTextarea">
            <a [routerLink]="[urlItem.url]"
              [fragment]="urlItem.fragment">{{ urlItem.label }}</a>
          </li>
        </ul>
      </mat-expansion-panel>

    </mat-accordion>
  </div>
  <div sideMainPanel>
    <router-outlet></router-outlet>
  </div>
</app-site-scheme>