/*# sourceURL=lm-components.component.scss */

app-lm-components {
  display: block;
  height: 100%;
  color: #060e12;  // # color: #2a3338;  // color: #20262D;

  .lc-brk-wrd {
    word-break: break-word;
  }
  .lc-api-param {
    background: rgba(0,0,0,.06);
    padding: 3px;
    margin-left: 3px;
  }
  table.lc-api-tab {
    border-collapse: collapse;
    border: 1px solid rgba(0,0,0,.12);
    tr {
      border-top: 1px solid rgba(0,0,0,.12);
    }
    th, td {
      &:not(:last-of-type) {
        border-right: 1px solid rgba(0,0,0,.12);
      }
    }
    th {
      font-weight: 400;
      max-width: 100px;
      text-align: left;
      background: whitesmoke;
    }
    th, td {
      padding: 8px 16px;
      code {
        display: block;
      }
    }
    ul {
      margin-block-start: 0;
      margin-block-end: 0;
      padding-inline-start: 30px;
    }
  }
  .lc-ds-blc {
    display: block;
  }

}

