<section *ngIf="isShowBasic"
  mr-vr>
  <h3 class="app-hover-link">
    Basic.
    <a [href]="urlCmChip + '#Basic'">#</a>
  </h3>
  <span>
    To use this component, in your module you need to add:
  </span>
  <code><pre source="ts">
import &#123; GlnChipModule &#125; from 'gelenium-ui';</pre>
  </code>
  <p>
    The component is designed to display the name of an entity in the form of a small panel.
    Also, this panel may optionally have additional attributes (icons or buttons).
  </p>
  <span>It comes in two versions:</span>
  <ul>
    <li>with an outline (exterior="outlined")</li>
    <li>with a fill (exterior="filled")</li>
  </ul>

  <span> For example:</span>
  <code><pre source="html">
&lt;<strong>gln-chip</strong> label="chip"&gt;&lt;/<strong>gln-chip</strong>&gt;</pre></code>
</section>


<div *ngIf="isShowBasic"
  class="app-group">

  <div class="app-elem">
    <gln-chip class="chbs-fn-sz-13"
      exterior="outlined"
      label="Outlined">
    </gln-chip>
  </div>

  <div class="app-elem">
    <gln-chip class="chbs-fn-sz-13"
      exterior="filled"
      label="Filled">
    </gln-chip>
  </div>

</div>

<!-- source -->

<hr br-nn />


<i id="Attributes">_</i>
<section *ngIf="isShowAttributes02a"
  mr-vr>
  <h3 class="app-hover-link">
    Attributes.
    <a [href]="urlCmChip + '#Attributes'">#</a>
  </h3>
  <span>The following attributes are supported:</span>
  <ul>
    <li>
      "config" - Defines a configuration object.
      <a [href]="urlCmChip + '#config-interface'">More details.</a>
    </li>
    <li>
      "exterior" - Determines the appearance of an element.<br />
      It can take the following values:
      <ul>
        <li>"outlined";</li>
        <li>"filled";</li>
      </ul>
    </li>
    <li>"isDisabled" - a sign that the field is disabled (isDisabled);</li>
    <li>
      "isElevation" - a sign displaying the height of the element (isElevation);
    </li>
    <li>"isNoRipple" - Disables the ripple effect.</li>
  </ul>
</section>


<!-- <div *ngIf="isShowAttributes02a"
  class="app-group">

  <div class="app-elem">
    <div>
      <small>
        <em>Attribute: ?</em>
      </small>
    </div>
    <gln-chip class="cha1-fn-sz-13"
      exterior="outlined"
      label="Outlined A"
      ?
      (deleted)="showMsg('Outlined A')">
    </gln-chip>
  </div>

  <div class="app-elem">
    <div>
      <small>
        <em>Attribute: ?</em>
      </small>
    </div>
    <gln-chip class="cha1-fn-sz-13"
      exterior="filled"
      label="Filled A"
      ?
      (deleted)="showMsg('Filled A')">
    </gln-chip>
  </div>

</div> -->

<div *ngIf="isShowAttributes02a"
  class="app-group">

  <div class="app-elem">
    <div>
      <small>
        <em>Attribute: isDisabled</em>
      </small>
    </div>
    <gln-chip class="cha1-fn-sz-13"
      exterior="outlined"
      label="Outlined B"
      isDisabled>
    </gln-chip>
  </div>

  <div class="app-elem">
    <div>
      <small>
        <em>Attribute: isDisabled</em>
      </small>
    </div>
    <gln-chip class="cha1-fn-sz-13"
      exterior="filled"
      label="Filled B"
      isDisabled>
    </gln-chip>
  </div>

</div>



<div *ngIf="isShowAttributes02a"
  class="app-group">

  <div class="app-elem">
    <div>
      <small>
        <em>Attribute: isElevation.</em>
      </small>
    </div>
    <gln-chip class="cha1-fn-sz-13"
      exterior="outlined"
      label="Outlined C"
      isElevation>
    </gln-chip>
  </div>

  <div class="app-elem">
    <div>
      <small>
        <em>Attribute: isElevation.</em>
      </small>
    </div>
    <gln-chip class="cha1-fn-sz-13"
      exterior="filled"
      label="Filled C"
      isElevation>
    </gln-chip>
  </div>

</div>

<div *ngIf="isShowAttributes02a"
  class="app-group">

  <div class="app-elem">
    <div>
      <small>
        <em>Attribute: isNoRipple</em>
      </small>
    </div>
    <gln-chip class="cha1-fn-sz-13"
      exterior="outlined"
      label="Outlined D"
      isNoRipple>
    </gln-chip>
  </div>

  <div class="app-elem">
    <div>
      <small>
        <em>Attribute: isNoRipple</em>
      </small>
    </div>
    <gln-chip class="cha1-fn-sz-13"
      exterior="filled"
      label="Filled D"
      isNoRipple>
    </gln-chip>
  </div>

</div>



<div *ngIf="isShowAttributes02a"
  class="app-group">

</div>

<!-- source -->

<hr br-nn />


<i id="Size">_</i>
<section *ngIf="isShowSize03a"
  mr-vr>
  <h3 class="app-hover-link">
    Size
    <a [href]="urlCmChip + '#Size'">#</a>
  </h3>
  <p>
    The "size" property determines the size of the element (its height).
  </p>
  <span>
    It takes the following values:
  </span>
  <ul>
    <li>"short" - sets the height to 24px;</li>
    <li>"little" - sets the height to 28px;</li>
    <li>"small" - sets the height to 32px (default);</li>
    <li>"middle" - sets the height to 36px;</li>
    <li>"wide" - sets the height to 40px;</li>
  </ul>
  <p>
    The height of the "delete" button is determined by the formula: Math.round(size * 0.672).
  </p>
  <p>
    It is possible to specify the height of an element. To do this,
    in the "config.size" property, we define the required height in pixels.
  </p>
</section>


<div *ngIf="isShowSize03a"
  class="app-group">

  <div class="app-elem">
    <div>
      <small>
        <em>"Short" - 24px; font: 13px;</em>
      </small>
    </div>
    <gln-chip class="chsz-fn-sz-13"
      exterior="outlined"
      label="Outlined 'Short'"
      size="short">
    </gln-chip>
  </div>

  <div class="app-elem">
    <div>
      <small>
        <em>"Short" - 24px; font: 13px;</em>
      </small>
    </div>
    <gln-chip class="chsz-fn-sz-13"
      exterior="filled"
      label="Filled 'Short'"
      size="short">
    </gln-chip>
  </div>

</div>

<div *ngIf="isShowSize03a"
  class="app-group">

  <div class="app-elem">
    <div>
      <small>
        <em>"Little" - 28px; font: 13px;</em>
      </small>
    </div>
    <gln-chip class="chsz-fn-sz-13"
      exterior="outlined"
      label="Outlined 'Little'"
      size="little">
    </gln-chip>
  </div>

  <div class="app-elem">
    <div>
      <small>
        <em>"Little" - 28px; font: 13px;</em>
      </small>
    </div>
    <gln-chip class="chsz-fn-sz-13"
      exterior="filled"
      label="Filled 'Little'"
      size="little">
    </gln-chip>
  </div>

</div>

<div *ngIf="isShowSize03a"
  class="app-group">

  <div class="app-elem">
    <div>
      <small>
        <em>"Small" - 32px; font: 13px;</em>
      </small>
    </div>
    <gln-chip class="chsz-fn-sz-13"
      exterior="outlined"
      label="Outlined 'Small'"
      size="small">
    </gln-chip>
  </div>

  <div class="app-elem">
    <div>
      <small>
        <em>"Small" - 32px; font: 13px;</em>
      </small>
    </div>
    <gln-chip class="chsz-fn-sz-13"
      exterior="filled"
      label="Filled 'Small'"
      size="small">
    </gln-chip>
  </div>

</div>

<div *ngIf="isShowSize03a"
  class="app-group">

  <div class="app-elem">
    <div>
      <small>
        <em>"Middle" - 36px; font: 14px;</em>
      </small>
    </div>
    <gln-chip class="chsz-fn-sz-14"
      exterior="outlined"
      label="Outlined 'Middle'"
      size="middle">
    </gln-chip>
  </div>

  <div class="app-elem">
    <div>
      <small>
        <em>"Middle" - 36px; font: 14px;</em>
      </small>
    </div>
    <gln-chip class="chsz-fn-sz-14"
      exterior="filled"
      label="Filled 'Middle'"
      size="middle">
    </gln-chip>
  </div>

</div>

<div *ngIf="isShowSize03a"
  class="app-group">

  <div class="app-elem">
    <div>
      <small>
        <em>"Wide" - 40px; font: 15px;</em>
      </small>
    </div>
    <gln-chip class="chsz-fn-sz-15"
      exterior="outlined"
      label="Outlined 'Wide'"
      size="wide">
    </gln-chip>
  </div>

  <div class="app-elem">
    <div>
      <small>
        <em>"Wide" - 40px; font: 15px;</em>
      </small>
    </div>
    <gln-chip class="chsz-fn-sz-15"
      exterior="filled"
      label="Filled 'Wide'"
      size="wide">
    </gln-chip>
  </div>

</div>

<!-- source -->

<hr br-nn />


<h4 *ngIf="isShowSize03a"
  class="app-hover-link"
  id="size-config">
  Configuration for custom height (30px).
  <a [href]="urlCmChip + '#size-config'">#</a>
</h4>


<div *ngIf="isShowSize03a"
  class="app-group">

  <div class="app-elem">
    <div>
      <small>
        <em>Size - 30px; font: 13px;</em>
      </small>
    </div>
    <gln-chip class="chsz-fn-sz-13"
      exterior="outlined"
      label="Outlined 'size: 30px'"
      size="30">
    </gln-chip>
  </div>

  <div class="app-elem">
    <div>
      <small>
        <em>Size - 30px; font: 13px;</em>
      </small>
    </div>
    <gln-chip class="chsz-fn-sz-13"
      exterior="filled"
      label="Filled 'size: 30px'"
      size="30">
    </gln-chip>
  </div>

</div>

<!-- source -->

<hr br-nn />


<i id="Ornaments">_</i>
<section *ngIf="isShowOrnaments05a"
  mr-vr>
  <h3 class="app-hover-link">
    Ornaments.
    <a [href]="urlCmChip + '#Ornaments'">#</a>
  </h3>
  <p>
    For the GlnChip component, it is possible to display an ornament
    (picture or text).
    <br />
    To display the ornament on the left, you need to add a block with the
    "gln-orn-lf" attribute inside the "gln-chip".
    <br />
    To display the ornament on the right, you need to add a block with the
    "gln-orn-rg" attribute inside the "gln-chip".
  </p>
  <span>
    Example:
  </span>
  <code><pre source="html">
&lt;gln-chip&gt;
  <i>&lt;div <strong>gln-orn-lf</strong>&gt;&lt;span&gt;left&lt;/span&gt;&lt;/div&gt;</i>
  <i>&lt;div <strong>gln-orn-rg</strong>&gt;&lt;span&gt;right&lt;/span&gt;&lt;/div&gt;</i>
&lt;/gln-chip&gt;</pre></code>
  <p>
    For blocks: <code><i>&lt;span&gt;left&lt;/span&gt;</i></code> and
    <code><i>&lt;span&gt;right&lt;/span&gt;</i></code>
    you need to specify the value of horizontal indents.
  </p>
</section>


<section *ngIf="isShowOrnaments05a"
  mr-vr
  id="ornament-text">
  <h4 class="app-hover-link">
    Ornament - text.
    <a [href]="urlCmChip + '#ornament-text'">#</a>
  </h4>
  <p>
    The css class "chor-text" defines the horizontal padding.
    <br />
    The css class "chor-fn-sz" defines the font size as 13px.
  </p>
</section>


<div *ngIf="isShowOrnaments05a"
  class="app-group">

  <div class="app-elem">
    <div>
      <small><em>Section: "gln-orn-lf" + text.</em></small>
    </div>
    <gln-chip class="chor-fn-sz"
      exterior="outlined"
      label="Previous value (text)">
      <div gln-orn-lf
        class="chor-text">
        <span>&lt;</span>
      </div>
    </gln-chip>
  </div>

  <div class="app-elem">
    <div>
      <small><em>Section: "gln-orn-rg" + text.</em></small>
    </div>
    <gln-chip class="chor-fn-sz"
      exterior="filled"
      label="Next value (text)">
      <div gln-orn-rg
        class="chor-text">
        <span>&gt;</span>
      </div>
    </gln-chip>
  </div>

</div>

<!-- source -->

<hr br-nn />


<section *ngIf="isShowOrnaments05a"
  mr-vr
  id="ornament-uncode">
  <h4 class="app-hover-link">
    Ornament - uncode.
    <a [href]="urlCmChip + '#ornament-uncode'">#</a>
  </h4>
  <p>
    A unicode character can be used as an ornament.
    <br />
    In this example, the css class "chor-uncode" defines the horizontal padding.
    <br />
    The css class "chor-fn-sz" defines the font size as 13px.
  </p>
</section>


<div *ngIf="isShowOrnaments05a"
  class="app-group">

  <div class="app-elem">
    <div>
      <small><em>Section: "gln-orn-lf" + uncode.</em></small>
    </div>
    <gln-chip class="chor-fn-sz"
      exterior="outlined"
      label="Previous value (uncode)">
      <div gln-orn-lf
        class="chor-uncode">
        &#9668;
      </div>
    </gln-chip>
  </div>

  <div class="app-elem">
    <div>
      <small><em>Section: "gln-orn-rg" + uncode.</em></small>
    </div>
    <gln-chip class="chor-fn-sz"
      exterior="filled"
      label="Next value (uncode)">
      <div gln-orn-rg
        class="chor-uncode">
        &#9658;
      </div>
    </gln-chip>
  </div>

</div>

<!-- source -->

<hr br-nn />


<section *ngIf="isShowOrnaments05a"
  mr-vr
  id="ornament-svg">
  <h4 class="app-hover-link">
    Ornament - svg.
    <a [href]="urlCmChip + '#ornament-svg'">#</a>
  </h4>
  <p>
    A svg images can be used as an ornament.
    <br />
    In this example, the "bo-svg" css class defines the horizontal padding
    and dimensions.
  </p>
</section>


<div *ngIf="isShowOrnaments05a"
  class="app-group">

  <div class="app-elem">
    <div>
      <small><em>Section: "gln-orn-lf" + svg.</em></small>
    </div>
    <gln-chip class="chor-fn-sz"
      exterior="outlined"
      label="Previous value (svg)"
      size="middle">
      <svg gln-orn-lf
        class="chor-svg">
        <use
          href="assets/icons/lib-components/cm-chip-ornaments/icon-circle-left.svg#arrow-circle-down"
          height="24"
          width="24"></use>
      </svg>
    </gln-chip>
  </div>

  <div class="app-elem">
    <div>
      <small><em>Section: "gln-orn-rg" + svg.</em></small>
    </div>
    <gln-chip class="chor-fn-sz"
      exterior="filled"
      label="Next value (svg)"
      size="middle">
      <svg gln-orn-rg
        class="chor-svg">
        <use
          href="assets/icons/lib-components/cm-chip-ornaments/icon-circle-right.svg#arrow-circle-down"
          height="24"
          width="24"></use>
      </svg>
    </gln-chip>
  </div>

</div>

<!-- source -->

<hr br-nn />


<section *ngIf="isShowOrnaments05a"
  mr-vr
  id="ornament-button">
  <h4 class="app-hover-link">
    Ornament - button.
    <a [href]="urlCmChip + '#ornament-button'">#</a>
  </h4>
  <p>
    A "button" element can be used as an ornament.
    <br />
    When a "button" element is clicked, a message is written to the console.
    <br />
    If an event is being processed on the "ornament" and you do not want the ripple
    effect to work, then you need to cancel the further propagation of this event
    ($event.stopPropagation();).
  </p>
</section>


<div *ngIf="isShowOrnaments05a"
  class="app-group">

  <div class="app-elem">
    <div>
      <small><em>Section: "gln-orn-lf" + button.</em></small>
    </div>
    <gln-chip class="chor-fn-sz"
      exterior="outlined"
      label="Outlined orn-left (button)">
      <button gln-orn-lf
        title="delete"
        class="chor-btn chor-btn-bg"
        (click)="showMsg('Outlined orn-left (button)', $event)">
        <span class="chor-label">&#x2715;</span>
      </button>
    </gln-chip>
  </div>

  <div class="app-elem">
    <div>
      <small><em>Section: "gln-orn-rg" + button.</em></small>
    </div>
    <gln-chip class="chor-fn-sz"
      exterior="filled"
      label="Filled orn-right (button)">
      <button gln-orn-rg
        title="delete"
        class="chor-btn"
        (click)="showMsg('Filled orn-right (button)', $event)">
        <i class="chor-del"></i>
      </button>
    </gln-chip>
  </div>

</div>

<!-- source -->

<hr br-nn />


<!-- Page: Pallete -->

<section mr-vr>
  <label>
    <input type="checkbox"
      (change)="isElevation06a=!isElevation06a"
      [checked]="isElevation06a" />
    is Elevation
  </label>
</section>


<div class="app-group">

  <div class="app-elem chpl-elem">
    <div>
      <small><em>color: "Primary".</em></small>
    </div>
    <gln-chip class="chpl-fn-sz"
      exterior="outlined"
      label="Outlined - Primary"
      [isElevation]="isElevation06a"
      [glnColor]="{ default: 'primary' }">
    </gln-chip>
  </div>

  <div class="app-elem chpl-elem">
    <div>
      <small><em>color: "Primary".</em></small>
    </div>
    <gln-chip class="chpl-fn-sz"
      exterior="filled"
      label="Filled - Primary"
      [isElevation]="isElevation06a"
      [glnColor]="{ default: 'primary' }">
    </gln-chip>
  </div>

  <div class="app-elem chpl-elem">
    <div>
      <small><em>color: "Primary".</em></small>
    </div>
    <gln-chip class="chpl-fn-sz"
      exterior="filled"
      label="Filled - Primary"
      [isElevation]="isElevation06a"
      [glnColor]="{  'basic-cl': 'default-bg'
        , 'basic-bg': 'primary' }">
    </gln-chip>
  </div>

</div>

<div class="app-group">

  <div class="app-elem chpl-elem">
    <div>
      <small><em>color: "Danger".</em></small>
    </div>
    <gln-chip class="chpl-fn-sz"
      exterior="outlined"
      label="Outlined - Danger"
      [isElevation]="isElevation06a"
      [glnColor]="{ default: 'danger' }">
    </gln-chip>
  </div>

  <div class="app-elem chpl-elem">
    <div>
      <small><em>color: "Danger".</em></small>
    </div>
    <gln-chip class="chpl-fn-sz"
      exterior="filled"
      label="Filled - Danger"
      [isElevation]="isElevation06a"
      [glnColor]="{ default: 'danger' }">
    </gln-chip>
  </div>

  <div class="app-elem chpl-elem">
    <div>
      <small><em>color: "Danger".</em></small>
    </div>
    <gln-chip class="chpl-fn-sz"
      exterior="filled"
      label="Filled - Danger"
      [isElevation]="isElevation06a"
      [glnColor]="{  'basic-cl': 'default-bg'
        , 'basic-bg': 'danger' }">
    </gln-chip>
  </div>

</div>

<div class="app-group">

  <div class="app-elem chpl-elem">
    <div>
      <small><em>color: "Success".</em></small>
    </div>
    <gln-chip class="chpl-fn-sz"
      exterior="outlined"
      label="Outlined - Success"
      [isElevation]="isElevation06a"
      [glnColor]="{ 'default': 'success' }">
    </gln-chip>
  </div>

  <div class="app-elem chpl-elem">
    <div>
      <small><em>color: "Success".</em></small>
    </div>
    <gln-chip class="chpl-fn-sz"
      exterior="filled"
      label="Filled - Success"
      [isElevation]="isElevation06a"
      [glnColor]="{ default: 'success' }">
    </gln-chip>
  </div>

  <div class="app-elem chpl-elem">
    <div>
      <small><em>color: "Success".</em></small>
    </div>
    <gln-chip class="chpl-fn-sz"
      exterior="filled"
      label="Filled - Success"
      [isElevation]="isElevation06a"
      [glnColor]="{  'basic-cl': 'default-bg'
        , 'basic-bg': 'success' }">
    </gln-chip>
  </div>

</div>

<div class="app-group">

  <div class="app-elem chpl-elem">
    <div>
      <small><em>color: "Info".</em></small>
    </div>
    <gln-chip class="chpl-fn-sz"
      exterior="outlined"
      label="Outlined - Info"
      [isElevation]="isElevation06a"
      [glnColor]="{ default: 'info' }">
    </gln-chip>
  </div>

  <div class="app-elem chpl-elem">
    <div>
      <small><em>color: "Info".</em></small>
    </div>
    <gln-chip class="chpl-fn-sz"
      exterior="filled"
      label="Filled - Info"
      [isElevation]="isElevation06a"
      [glnColor]="{ 'basic-cl': 'default'
        , default: 'info' }">
    </gln-chip>
  </div>

  <div class="app-elem chpl-elem">
    <div>
      <small><em>color: "Info".</em></small>
    </div>
    <gln-chip class="chpl-fn-sz"
      exterior="filled"
      label="Filled - Info"
      [isElevation]="isElevation06a"
      [glnColor]="{  'basic-cl': 'default-bg'
        , 'basic-bg': 'info' }">
    </gln-chip>
  </div>

</div>

<div class="app-group">

  <div class="app-elem chpl-elem">
    <div>
      <small><em>color: "Warning".</em></small>
    </div>
    <gln-chip class="chpl-fn-sz"
      exterior="outlined"
      label="Outlined - Warning"
      [isElevation]="isElevation06a"
      [glnColor]="{ default: 'warning' }">
    </gln-chip>
  </div>

  <div class="app-elem chpl-elem">
    <div>
      <small><em>color: "Warning".</em></small>
    </div>
    <gln-chip class="chpl-fn-sz"
      exterior="filled"
      label="Filled - Warning"
      [isElevation]="isElevation06a"
      [glnColor]="{ 'basic-cl': 'default'
        , default: 'warning' }">
    </gln-chip>
  </div>

  <div class="app-elem chpl-elem">
    <div>
      <small><em>color: "Warning".</em></small>
    </div>
    <gln-chip class="chpl-fn-sz"
      exterior="filled"
      label="Filled - Warning"
      [isElevation]="isElevation06a"
      [glnColor]="{  'basic-cl': 'default-bg'
        , 'basic-bg': 'warning' }">
    </gln-chip>
  </div>

</div>

<div class="app-group">

  <div class="app-elem chpl-elem">
    <div>
      <small><em>color: "Customer".</em></small>
    </div>
    <gln-chip class="chpl-fn-sz chpl-customer"
      exterior="outlined"
      label="Outlined - Customer"
      [isElevation]="isElevation06a"
      [glnColor]="{ default: 'customer' }">
    </gln-chip>
  </div>

  <div class="app-elem chpl-elem">
    <div>
      <small><em>color: "Customer".</em></small>
    </div>
    <gln-chip class="chpl-fn-sz chpl-customer"
      exterior="filled"
      label="Filled - Customer"
      [isElevation]="isElevation06a"
      [glnColor]="{ 'basic-cl': 'default'
        , default: 'customer' }">
    </gln-chip>
  </div>

  <div class="app-elem chpl-elem">
    <div>
      <small><em>color: "Customer".</em></small>
    </div>
    <gln-chip class="chpl-fn-sz chpl-customer"
      exterior="filled"
      label="Filled - Customer"
      [isElevation]="isElevation06a"
      [glnColor]="{  'basic-cl': 'default-bg'
        , 'basic-bg': 'customer' }">
    </gln-chip>
  </div>

</div>