/*# sourceURL=cm-chip-basic.component.scss */

app-cm-chip-basic {
  display: block;

  // Page: "Basic"
  .chbs-fn-sz-13 {
    font-size: 13px;
  }

  // Page: "Attributes02a"
  .cha1-fn-sz-13 {
    font-size: 13px;
  }

  // Page: "Size03a"
  .chsz-fn-sz-13 {
    font-size: 13px;
  }
  .chsz-fn-sz-14 {
    font-size: 14px;
  }
  .chsz-fn-sz-15 {
    font-size: 15px;
  }

  // Page: "Ornaments05a"
  .chor-fn-sz {
    font-size: 13px;
  }
  .chor-text {
    color: black;
    font-weight: 600;
    margin-right: 10px;
    margin-left: 10px;
  }
  .chor-uncode {
    color: black;
    margin-right: 7px;
    margin-left: 7px;
  }

  .chor-svg {
    fill: black;
    height: 24px;
    margin-right: 5px;
    margin-left: 5px;
    width: 24px;
  }
  .chor-btn {
    border-radius: 50%;
    border-width: 0;
    cursor: pointer;
    height: 1.5em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    outline: none;
    padding: 0px;
    width: 1.5em;
    &:not(.chor-btn-bg) {
      background-color: transparent;
    }
  }
  .chor-btn-bg {
    background-color: #00000033;
    &:hover {
      background-color: #00000053;
    }
  }
  .chor-label {
    display: block;
    font-weight: 600;
  }
  .chor-del {
    background-color: currentColor;
    display: inline-block;
    height: inherit;
    mask: url("data:image/svg+xml;charset=utf8,"
      + "<svg xmlns='http://www.w3.org/2000/svg' "
      + " viewBox='0 0 24 24'>"
      + "<path d='M12 2C6.47 2 2 6.47 2 12s4.47 10 10 10 10-4.47 10-"
      + "10S17.53 2 12 2zm5 13.59L15.59 17 12 13.41 8.41 17 7 15.59 "
      + "10.59 12 7 8.41 8.41 7 12 10.59 15.59 7 17 8.41 13.41 12 17 15.59z'>"
      + "</path>"
      + "</svg>");
    width: inherit;
    color: #0000005c;
    &:hover {
      color: #00000080;
    }
  }

  // Page: "Palette"
  .chpl-fn-sz {
    font-size: 13px;
  }
  .chpl-elem {
    min-width: 20ch;
  }
  .chpl-customer {
    --gln-customer-h: 200;
    --gln-customer-s: 75%;
    --gln-customer-l: 50%;
  }

}
