/*# sourceURL=cm-chip-basic.component.scss */

app-cm-chip-basic {
  display: block;

  // Page: "Basic"
  .chbs-fn-sz-13 {
    font-size: 13px;
  }

  // Page: "Attributes02a"
  .cha1-fn-sz-13 {
    font-size: 13px;
  }

  // Page: "Size03a"
  .chsz-fn-sz-13 {
    font-size: 13px;
  }
  .chsz-fn-sz-14 {
    font-size: 14px;
  }
  .chsz-fn-sz-15 {
    font-size: 15px;
  }
}
