<section *ngIf="isShowBasic"
  mr-vr>
  <h3 class="app-hover-link">
    Basic.
    <a [href]="urlCmChip + '#Basic'">#</a>
  </h3>
  <span>
    To use this component, in your module you need to add:
  </span>
  <code><pre source="ts">
import &#123; GlnChipModule &#125; from 'gelenium-ui';</pre>
  </code>
  <p>
    The component is designed to display the name of an entity in the form of a small panel.
    Also, this panel may optionally have additional attributes (icons or buttons).
  </p>
  <span>It comes in two versions:</span>
  <ul>
    <li>with an outline (exterior="outlined")</li>
    <li>with a fill (exterior="filled")</li>
  </ul>

  <span> For example:</span>
  <code><pre source="html">
&lt;<strong>gln-chip</strong> label="chip"&gt;&lt;/<strong>gln-chip</strong>&gt;</pre></code>
</section>


<div *ngIf="isShowBasic"
  class="app-group">

  <div class="app-elem">
    <gln-chip class="chbs-fn-sz-13"
      exterior="outlined"
      label="chip 'Outlined'">
    </gln-chip>
  </div>

  <div class="app-elem">
    <gln-chip class="chbs-fn-sz-13"
      exterior="filled"
      label="chip 'Filled'">
    </gln-chip>
  </div>

</div>

<!-- source -->

<hr br-nn />


<i id="Attributes">_</i>
<section *ngIf="isShowAttributes02a"
  mr-vr>
  <h3 class="app-hover-link">
    Attributes.
    <a [href]="urlCmChip + '#Attributes'">#</a>
  </h3>
  <span>The following attributes are supported:</span>
  <ul>
    <li>
      "config" - Defines a configuration object.
      <a [href]="urlCmChip + '#config-interface'">More details.</a>
    </li>
    <li>
      "isHoverable" - indicates that the background color changes on hover;
    </li>
    <li>
      "isDeletable" - indicates that a delete button is displayed;
    </li>
  </ul>
</section>

<div *ngIf="isShowAttributes02a"
  class="app-group">

  <div class="app-elem">
    <div>
      <small>
        <em>Attribute: isHoverable</em>
      </small>
    </div>
    <gln-chip class="cha1-fn-sz-13"
      exterior="outlined"
      label="Outlined A"
      isHoverable>
    </gln-chip>
  </div>

  <div class="app-elem">
    <div>
      <small>
        <em>Attribute: isHoverable</em>
      </small>
    </div>
    <gln-chip class="cha1-fn-sz-13"
      exterior="filled"
      label="Filled A"
      isHoverable>
    </gln-chip>
  </div>

</div>

<div *ngIf="isShowAttributes02a"
  class="app-group">

  <div class="app-elem">
    <div>
      <small>
        <em>Attribute: isHoverable, isDeletable</em>
      </small>
    </div>
    <gln-chip class="cha1-fn-sz-13"
      exterior="outlined"
      label="Outlined B"
      isHoverable
      isDeletable
      (deleted)="showMsg('deleted (Outlined B)')">
    </gln-chip>
  </div>

  <div class="app-elem">
    <div>
      <small>
        <em>Attribute: isHoverable, isDeletable</em>
      </small>
    </div>
    <gln-chip class="cha1-fn-sz-13"
      exterior="filled"
      label="Filled B"
      isHoverable
      isDeletable
      (deleted)="showMsg('deleted (Filled B)')">
    </gln-chip>
  </div>

</div>

<!-- source -->

<hr br-nn />


<i id="Size">_</i>
<section *ngIf="isShowSize03a"
  mr-vr>
  <h3 class="app-hover-link">
    Size
    <a [href]="urlCmChip + '#Size'">#</a>
  </h3>
  <p>
    The "size" property determines the size of the element (its height).
  </p>
  <span>
    It takes the following values:
  </span>
  <ul>
    <li>"short" - sets the height to 24px;</li>
    <li>"little" - sets the height to 28px;</li>
    <li>"small" - sets the height to 32px (default);</li>
    <li>"middle" - sets the height to 36px;</li>
    <li>"wide" - sets the height to 40px;</li>
  </ul>
  <p>
    The height of the "delete" button is determined by the formula: Math.round(size * 0.672).
  </p>
  <p>
    It is possible to specify the height of an element. To do this,
    in the "config.size" property, we define the required height in pixels.
  </p>
</section>


<div *ngIf="isShowSize03a"
  class="app-group">

  <div class="app-elem">
    <div>
      <small>
        <em>"Short" - 24px; font: 13px;</em>
      </small>
    </div>
    <gln-chip class="chsz-fn-sz-13"
      exterior="outlined"
      label="Outlined 'Short'"
      size="short"
      isDeletable>
    </gln-chip>
  </div>

  <div class="app-elem">
    <div>
      <small>
        <em>"Short" - 24px; font: 13px;</em>
      </small>
    </div>
    <gln-chip class="chsz-fn-sz-13"
      exterior="filled"
      label="Filled 'Short'"
      size="short"
      isDeletable>
    </gln-chip>
  </div>

</div>

<div *ngIf="isShowSize03a"
  class="app-group">

  <div class="app-elem">
    <div>
      <small>
        <em>"Little" - 28px; font: 13px;</em>
      </small>
    </div>
    <gln-chip class="chsz-fn-sz-13"
      exterior="outlined"
      label="Outlined 'Little'"
      size="little"
      isDeletable>
    </gln-chip>
  </div>

  <div class="app-elem">
    <div>
      <small>
        <em>"Little" - 28px; font: 13px;</em>
      </small>
    </div>
    <gln-chip class="chsz-fn-sz-13"
      exterior="filled"
      label="Filled 'Little'"
      size="little"
      isDeletable>
    </gln-chip>
  </div>

</div>

<div *ngIf="isShowSize03a"
  class="app-group">

  <div class="app-elem">
    <div>
      <small>
        <em>"Small" - 32px; font: 13px;</em>
      </small>
    </div>
    <gln-chip class="chsz-fn-sz-13"
      exterior="outlined"
      label="Outlined 'Small'"
      size="small"
      isDeletable>
    </gln-chip>
  </div>

  <div class="app-elem">
    <div>
      <small>
        <em>"Small" - 32px; font: 13px;</em>
      </small>
    </div>
    <gln-chip class="chsz-fn-sz-13"
      exterior="filled"
      label="Filled 'Small'"
      size="small"
      isDeletable>
    </gln-chip>
  </div>

</div>

<div *ngIf="isShowSize03a"
  class="app-group">

  <div class="app-elem">
    <div>
      <small>
        <em>"Middle" - 36px; font: 14px;</em>
      </small>
    </div>
    <gln-chip class="chsz-fn-sz-14"
      exterior="outlined"
      label="Outlined 'Middle'"
      size="middle"
      isDeletable>
    </gln-chip>
  </div>

  <div class="app-elem">
    <div>
      <small>
        <em>"Middle" - 36px; font: 14px;</em>
      </small>
    </div>
    <gln-chip class="chsz-fn-sz-14"
      exterior="filled"
      label="Filled 'Middle'"
      size="middle"
      isDeletable>
    </gln-chip>
  </div>

</div>

<div *ngIf="isShowSize03a"
  class="app-group">

  <div class="app-elem">
    <div>
      <small>
        <em>"Wide" - 40px; font: 15px;</em>
      </small>
    </div>
    <gln-chip class="chsz-fn-sz-15"
      exterior="outlined"
      label="Outlined 'Wide'"
      size="wide"
      isDeletable>
    </gln-chip>
  </div>

  <div class="app-elem">
    <div>
      <small>
        <em>"Wide" - 40px; font: 15px;</em>
      </small>
    </div>
    <gln-chip class="chsz-fn-sz-15"
      exterior="filled"
      label="Filled 'Wide'"
      size="wide"
      isDeletable>
    </gln-chip>
  </div>

</div>

<!-- source -->

<hr br-nn />


<h4 *ngIf="isShowSize03a"
  class="app-hover-link"
  id="size-config">
  Configuration for custom height (29px).
  <a [href]="urlCmChip + '#size-config'">#</a>
</h4>


<div *ngIf="isShowSize03a"
  class="app-group">

  <div class="app-elem">
    <div>
      <small>
        <em>Size - 30px; font: 13px;</em>
      </small>
    </div>
    <gln-chip class="chsz-fn-sz-13"
      exterior="outlined"
      label="Outlined 'size: 30px'"
      size="30"
      isDeletable>
    </gln-chip>
  </div>

  <div class="app-elem">
    <div>
      <small>
        <em>Size - 30px; font: 13px;</em>
      </small>
    </div>
    <gln-chip class="chsz-fn-sz-13"
      exterior="filled"
      label="Filled 'size: 30px'"
      size="30"
      isDeletable>
    </gln-chip>
  </div>

</div>

<!-- source -->

<hr br-nn />


<i id="Ornaments">_</i>
<section *ngIf="isShowOrnaments05a"
  mr-vr>
  <h3 class="app-hover-link">
    Ornaments.
    <a [href]="urlCmChip + '#Ornaments'">#</a>
  </h3>
  <p>
    For the GlnChip component, it is possible to display an ornament
    (picture or text).
    <br />
    To display the ornament on the left, you need to add a block with the
    "gln-orn-lf" attribute inside the "gln-chip".
    <br />
    To display the ornament on the right, you need to add a block with the
    "gln-orn-rg" attribute inside the "gln-chip".
  </p>
  <span>
    Example:
  </span>
  <code><pre source="html">
&lt;gln-chip&gt;
  <i>&lt;div <strong>gln-orn-lf</strong>&gt;&lt;span&gt;left&lt;/span&gt;&lt;/div&gt;</i>
  <i>&lt;div <strong>gln-orn-rg</strong>&gt;&lt;span&gt;right&lt;/span&gt;&lt;/div&gt;</i>
&lt;/gln-chip&gt;</pre></code>
  <p>
    For blocks: <code><i>&lt;span&gt;left&lt;/span&gt;</i></code> and
    <code><i>&lt;span&gt;right&lt;/span&gt;</i></code>
    you need to specify the value of horizontal indents.
  </p>
</section>

<section *ngIf="isShowOrnaments05a"
  mr-vr
  id="ornament-text">
  <h4 class="app-hover-link">
    Ornament - text.
    <a [href]="urlCmChip + '#ornament-text'">#</a>
  </h4>
  <p>
    The css class "chor-text" defines the horizontal padding.
    <br />
    The css class "chor-fn-sz" defines the font size as 13px.
  </p>
</section>


<div *ngIf="isShowOrnaments05a"
  class="app-group">

  <div class="app-elem">
    <div>
      <small><em>Section: "gln-orn-lf" + text.</em></small>
    </div>
    <gln-chip class="chor-fn-sz"
      exterior="outlined"
      label="Previous value (text)"
      isHoverable>
      <div gln-orn-lf
        class="chor-text">
        <span>&lt;</span>
      </div>
    </gln-chip>
  </div>

  <div class="app-elem">
    <div>
      <small><em>Section: "gln-orn-rg" + text.</em></small>
    </div>
    <gln-chip class="chor-fn-sz"
      exterior="filled"
      label="Next value (text)"
      isHoverable>
      <div gln-orn-rg
        class="chor-text">
        <span>&gt;</span>
      </div>
    </gln-chip>
  </div>

</div>

<!-- source -->

<hr br-nn />


<section mr-vr
  id="ornament-uncode">
  <h4 class="app-hover-link">
    Ornament - uncode.
    <a [href]="urlCmChip + '#ornament-uncode'">#</a>
  </h4>
  <p>
    A unicode character can be used as an ornament.
    <br />
    In this example, the css class "chor-uncode" defines the horizontal padding.
    <br />
    The css class "chor-fn-sz" defines the font size as 13px.
  </p>
</section>


<div *ngIf="isShowOrnaments05a"
  class="app-group">

  <div class="app-elem">
    <div>
      <small><em>Section: "gln-orn-lf" + uncode.</em></small>
    </div>
    <gln-chip class="chor-fn-sz"
      exterior="outlined"
      label="Previous value (uncode)"
      isHoverable>
      <div gln-orn-lf
        class="chor-uncode">
        &#9668;
      </div>
    </gln-chip>
  </div>

  <div class="app-elem">
    <div>
      <small><em>Section: "gln-orn-rg" + uncode.</em></small>
    </div>
    <gln-chip class="chor-fn-sz"
      exterior="filled"
      label="Next value (uncode)"
      isHoverable>
      <div gln-orn-rg
        class="chor-uncode">
        &#9658;
      </div>
    </gln-chip>
  </div>

</div>

<!-- source -->

<hr br-nn />


<section *ngIf="isShowOrnaments05a"
  mr-vr
  id="ornament-svg">
  <h4 class="app-hover-link">
    Ornament - svg.
    <a [href]="urlCmChip + '#ornament-svg'">#</a>
  </h4>
  <p>
    A svg images can be used as an ornament.
    <br />
    In this example, the "bo-svg" css class defines the horizontal padding
    and dimensions.
  </p>
</section>


<div *ngIf="isShowOrnaments05a"
  class="app-group">

  <div class="app-elem">
    <div>
      <small><em>Section: "gln-orn-lf" + svg.</em></small>
    </div>
    <gln-chip class="chor-fn-sz"
      exterior="outlined"
      label="Previous value (svg)"
      size="middle"
      isHoverable>
      <svg gln-orn-lf
        class="chor-svg">
        <use
          href="assets/icons/lib-components/cm-chip-ornaments/icon-circle-left.svg#arrow-circle-down"
          height="24"
          width="24"></use>
      </svg>
    </gln-chip>
  </div>

  <div class="app-elem">
    <div>
      <small><em>Section: "gln-orn-rg" + svg.</em></small>
    </div>
    <gln-chip class="chor-fn-sz"
      exterior="filled"
      label="Next value (svg)"
      size="middle"
      isHoverable>
      <svg gln-orn-rg
        class="chor-svg">
        <use
          href="assets/icons/lib-components/cm-chip-ornaments/icon-circle-right.svg#arrow-circle-down"
          height="24"
          width="24"></use>
      </svg>
    </gln-chip>
  </div>

</div>

<!-- source -->

<hr br-nn />