<h3>Component: "GlnSelect"</h3>

<div *ngIf="!showNum || showNum==='01'"
  id="Basic">
  <app-select-basic></app-select-basic>
  <hr br-tp>
</div>

<div *ngIf="!showNum || showNum==='02'"
  id="Attributes">
  <app-select-attributes></app-select-attributes>
  <hr br-tp>
</div>

<div *ngIf="!showNum || showNum==='03'"
  id="Validation">
  <app-select-validation></app-select-validation>
  <hr br-tp>
</div>

<div *ngIf="!showNum || showNum==='04'"
  id="Group">
  <app-select-group></app-select-group>
  <hr br-tp>
</div>

<div *ngIf="!showNum || showNum==='05'"
  id="Trigger">
  <app-select-trigger></app-select-trigger>
  <hr br-tp>
</div>

<div *ngIf="!showNum || showNum==='06'"
  id="Ornaments">
  <app-select-ornaments></app-select-ornaments>
  <hr br-tp>
</div>

<section mr-vr
  *ngIf="!showNum"
  id="ItemSize">
  <h3>Item Size</h3>
  <p>
    The <a [href]="urlFrame1 + '#FrameSize'">"GlnFrame#FrameSize"</a>
    page shows you how to resize an element.
  </p>
  <hr br-tp>
</section>

<section mr-vr
  *ngIf="!showNum"
  id="HelperText">
  <h3>Helper text</h3>
  <p>
    The <a [href]="urlFrame1 + '#HelperText'">"GlnFrame#HelperText"</a>
    page shows you how to effectively use the helperText property.
  </p>
  <hr br-tp>
</section>

<section mr-vr
  *ngIf="!showNum"
  id="BorderRadius">
  <h3>Border Radius</h3>
  <p>
    The <a [href]="urlFrame1 + '#BorderRadius'">"GlnFrame#BorderRadius"</a>
    page shows you how to change the rounding radius of an element.
  </p>
  <hr br-tp>
</section>

<section mr-vr
  *ngIf="!showNum || showNum==='07'"
  id="Palette">
  <h3>Palette</h3>
  <p>
    The <a [href]="urlPlSelect + '#Basic'">"Palette GlnSelect#Basic"</a>
    page shows you how to change the color palette of an element.
  </p>
  <hr br-tp>
</section>

<div *ngIf="!showNum || showNum==='08'"
  id="Config">
  <app-select-config></app-select-config>
  <hr br-tp>
</div>

<div *ngIf="!showNum || showNum==='09'"
  id="Api">
  <app-select-api></app-select-api>
  <hr br-tp>
</div>

<br />
<br />