<section mr-vr>
  <h4 class="app-hover-link">
    Like a Material-UI.
    <a [href]="urlPlCalendar + '#MaterialUI'">#</a>
  </h4>
  <p>
    It is possible to display GlnCalendar in style as "MaterialUI".
    <br />
    To do this, you need to specify the following configuration:
  </p>
</section>


<section mr-vr>
  <label>
    <input type="checkbox"
      (change)="isDisabled01a=!isDisabled01a"
      [checked]="isDisabled01a" />
    Is disabled
  </label>
  &nbsp;
  <label>
    <input type="checkbox"
      (change)="isHideOldDays01a=!isHideOldDays01a"
      [checked]="isHideOldDays01a" />
    is hide old days
  </label>
</section>


<div class="app-group">
  <div class="app-elem">
    <div>
      <small><em>Material-UI style</em></small>
    </div>
    <div class="cnm1-br1">
      <gln-calendar class="cnm1-mui"
        [config]="cfgMui"
        [isDisabled]="isDisabled01a"
        [isHideOldDays]="isHideOldDays01a">
      </gln-calendar>
    </div>
  </div>
</div>