<h3>Component: "GlnRadioButton"</h3>

<div *ngIf="!showNum || showNum==='01'"
  id="Basic">
  <app-cm-radio-basic></app-cm-radio-basic>
  <hr br-tp>
</div>

<div *ngIf="!showNum || showNum==='02'"
  id="Attributes">
  <app-cm-radio-attributes></app-cm-radio-attributes>
  <hr br-tp>
</div>

<div *ngIf="!showNum || showNum==='03'"
  id="Size">
  <app-cm-radio-size></app-cm-radio-size>
  <hr br-tp>
</div>

<section mr-vr
  *ngIf="!showNum"
  id="Palette">
  <h3 class="app-hover-link">
    Palette
    <a [href]="urlCmRadio + '#Palette'">#</a>
  </h3>
  <p>
    The <a [href]="urlPlRadio + '#Basic'">"Palette GlnRadioButton#Basic"</a>
    page shows you how to change the color palette of an element.
  </p>
  <hr br-tp>
</section>

<div *ngIf="!showNum || showNum==='08'"
  id="Config">
  <app-cm-radio-config></app-cm-radio-config>
  <hr br-tp>
</div>

<div *ngIf="!showNum || showNum==='09'"
  id="Api">
  <app-cm-radio-api></app-cm-radio-api>
  <hr br-tp>
</div>

<br />
<br />