/*# sourceURL=button-ornaments.component.scss */

app-button-ornaments {
  display: block;

  .bo-font-large {
    font-size: 1.4em;
  }
  .bo-text {
    margin-right: 10px;
    margin-left: 10px;
  }
  .bo-uncode {
    margin-right: 7px;
    margin-left: 7px;
  }
  .bo-svg {
    width: 24px;
    height: 24px;
    margin-right: 7px;
    margin-left: 7px;
  }
  .bo-svg>svg {
    fill: currentColor;
    width: inherit;
    height: inherit;
  }
  .bo-link {
    display: flex;
  }
}
