<section mr-vr
  [attr.id]="fragment">
  <h3>Ornaments for the "button" element.</h3>
  <p>
    For the GrnButton component, it is possible to display an ornament
    (picture or text).
    It will appear as a prefix or suffix for the button name.
  </p>
</section>

<section mr-vr>
  <span>exterior: </span>
  <mat-button-toggle-group [(ngModel)]="exterior05a">
    <mat-button-toggle value="contained">{{ labelContained }}</mat-button-toggle>
    <mat-button-toggle value="outlined">{{ labelOutlined }}</mat-button-toggle>
    <mat-button-toggle value="text">{{ labelText }}</mat-button-toggle>
  </mat-button-toggle-group>
</section>

<div class="app-group">

  <div class="app-elem">
    <div>
      <small><em>Section: "grn-orn-lf" + svg.</em></small>
    </div>
    <grn-button [exterior]="exterior05a"
      noUppercase>
      <i grn-orn-lf
        class="bo-icon">
        <svg>
          <use
            href="/assets/icons/lib-components/button-ornaments/icon-circle-left.svg#arrow-circle-down"
            height="24"
            width="24"></use>
        </svg>
      </i>
      <span>Previous value</span>
    </grn-button>
  </div>

  <div class="app-elem">
    <div>
      <small><em>Section: "grn-orn-rg" + svg.</em></small>
    </div>
    <grn-button [exterior]="exterior05a"
      noUppercase>
      <span>Next value</span>
      <div grn-orn-rg
        class="bo-icon">
        <svg>
          <use
            href="/assets/icons/lib-components/button-ornaments/icon-circle-right.svg#arrow-circle-down"
            height="24"
            width="24"></use>
        </svg>
      </div>
    </grn-button>
  </div>

</div>

<div class="app-group">

  <div class="app-elem">
    <div>
      <small><em>Section: Link "grn-orn-lf" + svg.</em></small>
    </div>
    <grn-button [exterior]="exterior05a"
      noUppercase>
      <i grn-orn-lf></i>
      <a [routerLink]="[routerLink]"
        [fragment]="fragment"
        class="bo-link">
        <i class="bo-icon">
          <svg>
            <use
              href="/assets/icons/lib-components/button-ornaments/icon-circle-left.svg#arrow-circle-down"
              height="24"
              width="24"></use>
          </svg>
        </i>
        <span>Previous page Link</span>
      </a>
    </grn-button>
  </div>

  <div class="app-elem">
    <div>
      <small><em>Section: Link "grn-orn-rg" + svg.</em></small>
    </div>
    <grn-button [exterior]="exterior05a"
      noUppercase>
      <a [routerLink]="[routerLink]"
        [fragment]="fragment"
        class="bo-link">
        <span>Next page Link</span>
        <i class="bo-icon">
          <svg>
            <use
              href="/assets/icons/lib-components/button-ornaments/icon-circle-right.svg#arrow-circle-down"
              height="24"
              width="24"></use>
          </svg>
        </i>
      </a>
      <i grn-orn-rg></i>
    </grn-button>
  </div>

</div>