<section mr-vr>
  <h3>Basic</h3>
  <h4>Introduction</h4>
  <p>
    Sometimes a situation arises when, after rendering the page layout, you need to pass
    focus to a specific input element.
    To do this, you can use the standard HTML attribute "auto focus".
  </p>
  <span>
    For example:
  </span>
  <pre>
&lt;form novalidation&gt;
  &lt;label&gt;
    &lt;input type="text" ([ngModel])="modelLogin" name="login" autofocuse /&gt; Login
  &lt;/label&gt;
  &lt;label&gt;
    &lt;input type="password" ([ngModel])="modelPassword" name="password" /&gt; Password
  &lt;/label&gt;
&lt;/form&gt;</pre>
  <p>
    But this is not always done correctly. For example, when the page layout structure
    complex: many levels of nesting or input elements.
    Or is there a complex the logic for determining the required element to which the
    input focus should be given.
    In such cases, you can use the GlnAutoFocuse directive.
  </p>

  <h4>A simple example.</h4>
  <p>
    If the page layout has a relatively simple structure, then GlnAutoFocuse can be applied.
    This directive transfers input focus at the moment when the current element is already rendered.
    To do this, use the "OnAfterViewInit" hook and additionally call Promise.resolve().
  </p>
  <span>
    For example:
  </span>
  <pre>
&lt;form novalidation&gt;
  &lt;label&gt;
    &lt;input type="text" ([ngModel])="modelLogin" name="login" glnAutoFocuse /&gt; Login
  &lt;/label&gt;
  &lt;label&gt;
    &lt;input type="password" ([ngModel])="modelPassword" name="password" /&gt; Password
  &lt;/label&gt;
&lt;/form&gt;</pre>
  <p>
    You can pass a boolean value to the GlnAutoFocuse directive, which will
    determine whether the parameter value is enabled or disabled.
  </p>
  <span>
    For example:
  </span>
  <pre>
&lt;form novalidation&gt;
  &lt;label&gt;
    &lt;input type="text"
     ([ngModel])="modelLogin"
      name="login"
      [glnAutoFocuse]="!modelLogin" /&gt;
    Login
  &lt;/label&gt;
  &lt;label&gt;
    &lt;input type="password"
     ([ngModel])="modelPassword"
      name="password"
      [glnAutoFocuse]="!!modelLogin" /&gt;
    Password
  &lt;/label&gt;
&lt;/form&gt;</pre>
  <p>
    If the "Login" field is empty, then the input focus will be given to this element.
    Otherwise, the input focus will be given to the "Password" input element.
  </p>
</section>

<section mr-vr>
  <label class="afb-focuse-owner">
    <input type="radio"
      name="mode"
      value="A"
      [(ngModel)]="mode"
      (change)="doChangeMode(mode)" /> Section "GlnAutoFocuse" is active.
  </label>

  <p>Set autofocus on page load on a field:</p>
  <fieldset [attr.disabled]="mode === 'A' ? null : ''">
    <label>
      <input type="radio"
        name="mode1a"
        value="surname"
        [(ngModel)]="mode1a"
        (change)="doChangeMode1a(mode1a)" /> surname
    </label>
    <label>
      <input type="radio"
        name="mode1a"
        value="name"
        [(ngModel)]="mode1a"
        (change)="doChangeMode1a(mode1a)" /> name
    </label>
    <label>
      <input type="radio"
        name="mode1a"
        value="patronymic"
        [(ngModel)]="mode1a"
        (change)="doChangeMode1a(mode1a)" /> patronymic
    </label>
  </fieldset>
</section>

<form [formGroup]="formGroup01a"
  novalidate
  autocomplete="off">

  <div class="app-group">

    <div class="app-elem">
      <div>
        <small><em>Surname</em></small>
      </div>
      <input type="text"
        formControlName="surname01a"
        [glnAutoFocuse]="mode1a === 'surname'" />
    </div>

    <div class="app-elem">
      <div>
        <small><em>Name</em></small>
      </div>
      <input type="text"
        formControlName="name01a"
        [glnAutoFocuse]="mode1a === 'name'" />
    </div>

    <div class="app-elem">
      <div>
        <small><em>Patronymic</em></small>
      </div>
      <input type="text"
        formControlName="patronymic01a"
        [glnAutoFocuse]="mode1a === 'patronymic'" />
    </div>

  </div>

</form>

<section mr-vr2>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="labelHtml">
          <code><pre source="html">
&lt;form [formGroup]="formGroup01a"
  novalidate
  autocomplete="off"&gt;

  &lt;div class="app-group"&gt;

    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;&lt;em&gt;Surname&lt;/em&gt;&lt;/small&gt;
      &lt;/div&gt;
      &lt;input type="text"
        formControlName="surname01a"
        [glnAutoFocuse]="mode1a === 'surname'" /&gt;
    &lt;/div&gt;

    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;&lt;em&gt;Name&lt;/em&gt;&lt;/small&gt;
      &lt;/div&gt;
      &lt;input type="text"
        formControlName="name01a"
        [glnAutoFocuse]="mode1a === 'name'" /&gt;
    &lt;/div&gt;

    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;&lt;em&gt;Patronymic&lt;/em&gt;&lt;/small&gt;
      &lt;/div&gt;
      &lt;input type="text"
        formControlName="patronymic01a"
        [glnAutoFocuse]="mode1a === 'patronymic'" /&gt;
    &lt;/div&gt;

  &lt;/div&gt;

&lt;/form&gt;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelTs">
          <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';
import &#123;
  FormControl, FormGroup
&#125; from '@angular/forms';

const CN_MODE1A = 'mode1a';

@Component(&#123;
  selector: 'app-auto-focuse',
  templateUrl: './auto-focuse.component.html',
  styleUrls: ['./auto-focuse.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class AutoFocuseComponent implements OnInit &#123;

  public mode1a = 'surname';

  public formGroup01a: FormGroup = new FormGroup(&#123;
    surname01a: new FormControl('surname', []),
    name01a: new FormControl('name', []),
    patronymic01a: new FormControl('patronymic', []),
  &#125;);

  ngOnInit(): void &#123;
    this.mode1a = this.getPrm(location.href, CN_MODE1A) || this.mode1a;
  &#125;

  // ** Public API **

  private getPrm(url: string, prmName: string): string &#123;
    let result = '';
    if (!!url && !!prmName) &#123;
      const buff = url.split('?');
      const prms = buff.length &gt; 1 ? buff[1].split('&') : [];
      for (let i = 0; i &lt; prms.length; i++) &#123;
        const prm = prms[i];
        const data = prm ? prm.split('=') : [];
        if (data.length &gt; 1 && prmName === data[0]) &#123;
          result = data[1] || '';
          break;
        &#125;
      &#125;
    &#125;
    return result;
  &#125;
&#125;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelCss">
          <code><pre source="css">
.app-group &#123;
  display: flex;
  flex-wrap: wrap;
&#125;
.app-elem &#123;
  min-width: 26ch;
  margin: 10px 10px;
&#125;</pre></code>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
</section>


<section mr-vr>
  <h4>Complex example.</h4>
  <p>
    If using GlnAutoFocuse does not give the desired result, then you can additionally
    use GlnAutoFocuseOwner.
    This situation can occur when the page layout is so complex that the directive
    GlnAutoFocuse doesn't work.
    In other words, the input element (on which GlnAutoFocuse is present) is drawn before
    than the whole page layout.
    Here we can add an additional GlnAutoFocuseOwner directive at the root level page layout.
    And this additional directive will be able to get the moment when the rendering of the
    page layout is completed.
    In doing so, it will determine the first child directive GlnAutoFocuse, whose input
    parameter true and will call its input focus transfer method.
  </p>
  <span>
    For example:
  </span>
  <pre>
  &lt;form glnAutoFocuseOwner novalidation&gt;
    &lt;div&gt;
      &lt;div&gt;
        &lt;div&gt;
          &lt;label&gt;
            &lt;input type="text"
             ([ngModel])="model01"
              name="model01"
              [glnAutoFocuse]="!model01" /&gt;
            Name01
          &lt;/label&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
    ...
    &lt;div&gt;
      &lt;div&gt;
        &lt;div&gt;
          &lt;label&gt;
            &lt;input type="text"
             ([ngModel])="model99"
              name="model99"
              [glnAutoFocuse]="!model99" /&gt;
            Name99
          &lt;/label&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/form&gt;</pre>
</section>

<section mr-vr>
  <label class="afb-focuse-owner">
    <input type="radio"
      name="mode"
      value="B"
      [(ngModel)]="mode"
      (change)="doChangeMode(mode)" /> Section "GlnAutoFocuseOwner" is active.
  </label>

  <p>Set autofocus on page load on a field:</p>
  <fieldset [attr.disabled]="mode === 'B' ? null : ''">
    <label>
      <input type="radio"
        name="mode1b"
        value="surname"
        [(ngModel)]="mode1b"
        (change)="doChangeMode1b(mode1b)" /> surname
    </label>
    <label>
      <input type="radio"
        name="mode1b"
        value="name"
        [(ngModel)]="mode1b"
        (change)="doChangeMode1b(mode1b)" /> name
    </label>
    <label>
      <input type="radio"
        name="mode1b"
        value="patronymic"
        [(ngModel)]="mode1b"
        (change)="doChangeMode1b(mode1b)" /> patronymic
    </label>
  </fieldset>
</section>

<form [formGroup]="formGroup01b"
  glnAutoFocuseOwner
  novalidate
  autocomplete="off">

  <div class="app-group">

    <div class="app-elem">
      <div>
        <small><em>Surname</em></small>
      </div>
      <input type="text"
        formControlName="surname01b"
        [glnAutoFocuse]="mode1b === 'surname'" />
    </div>

    <div class="app-elem">
      <div>
        <small><em>Name</em></small>
      </div>
      <input type="text"
        formControlName="name01b"
        [glnAutoFocuse]="mode1b === 'name'" />
    </div>

    <div class="app-elem">
      <div>
        <small><em>Patronymic</em></small>
      </div>
      <input type="text"
        formControlName="patronymic01b"
        [glnAutoFocuse]="mode1b === 'patronymic'" />
    </div>

  </div>

</form>

<section mr-vr2>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="labelHtml">
          <code><pre source="html">
&lt;form [formGroup]="formGroup01b"
  glnAutoFocuseOwner
  novalidate
  autocomplete="off"&gt;

  &lt;div class="app-group"&gt;

    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;&lt;em&gt;Surname&lt;/em&gt;&lt;/small&gt;
      &lt;/div&gt;
      &lt;input type="text"
        formControlName="surname01b"
        [glnAutoFocuse]="mode1b === 'surname'" /&gt;
    &lt;/div&gt;

    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;&lt;em&gt;Name&lt;/em&gt;&lt;/small&gt;
      &lt;/div&gt;
      &lt;input type="text"
        formControlName="name01b"
        [glnAutoFocuse]="mode1b === 'name'" /&gt;
    &lt;/div&gt;

    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;&lt;em&gt;Patronymic&lt;/em&gt;&lt;/small&gt;
      &lt;/div&gt;
      &lt;input type="text"
        formControlName="patronymic01b"
        [glnAutoFocuse]="mode1b === 'patronymic'" /&gt;
    &lt;/div&gt;

  &lt;/div&gt;

&lt;/form&gt;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelTs">
          <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';
import &#123;
  FormControl, FormGroup
&#125; from '@angular/forms';

const CN_MODE1B = 'mode1b';

@Component(&#123;
  selector: 'app-auto-focuse',
  templateUrl: './auto-focuse.component.html',
  styleUrls: ['./auto-focuse.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class AutoFocuseComponent implements OnInit &#123;

  public mode1b = 'surname';

  public formGroup01b: FormGroup = new FormGroup(&#123;
    surname01b: new FormControl('surname', []),
    name01b: new FormControl('name', []),
    patronymic01b: new FormControl('patronymic', []),
  &#125;);

  ngOnInit(): void &#123;
    this.mode1b = this.getPrm(location.href, CN_MODE1B) || this.mode1b;
  &#125;

  // ** Public API **

  private getPrm(url: string, prmName: string): string &#123;
    let result = '';
    if (!!url && !!prmName) &#123;
      const buff = url.split('?');
      const prms = buff.length &gt; 1 ? buff[1].split('&') : [];
      for (let i = 0; i &lt; prms.length; i++) &#123;
        const prm = prms[i];
        const data = prm ? prm.split('=') : [];
        if (data.length &gt; 1 && prmName === data[0]) &#123;
          result = data[1] || '';
          break;
        &#125;
      &#125;
    &#125;
    return result;
  &#125;
&#125;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelCss">
          <code><pre source="css">
.app-group &#123;
  display: flex;
  flex-wrap: wrap;
&#125;
.app-elem &#123;
  min-width: 26ch;
  margin: 10px 10px;
&#125;</pre></code>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
</section>