<h3>Component: "GlnSwitch"</h3>

<div *ngIf="!showNum || showNum==='01'"
  id="Basic">
  <app-cm-switch-basic></app-cm-switch-basic>
  <hr br-tp>
</div>

<div *ngIf="!showNum || showNum==='02'"
  id="Attributes">
  <app-cm-switch-attributes></app-cm-switch-attributes>
  <hr br-tp>
</div>

<div *ngIf="!showNum || showNum==='03'"
  id="ItemSize">
  <app-cm-switch-size></app-cm-switch-size>
  <hr br-tp>
</div>

<div *ngIf="!showNum || showNum==='04'"
  id="Palette">
  <app-cm-switch-palette></app-cm-switch-palette>
  <hr br-tp>
</div>

<div *ngIf="!showNum || showNum==='05'"
  id="Customization">
  <app-cm-switch-customization></app-cm-switch-customization>
  <hr br-tp>
</div>

<div *ngIf="!showNum || showNum==='06'"
  id="Config">
  <app-cm-switch-config></app-cm-switch-config>
  <hr br-tp>
</div>

<div *ngIf="!showNum || showNum==='07'"
  id="Api">
  <app-cm-switch-api></app-cm-switch-api>
  <hr br-tp>
</div>

<br />
<br />