/*# sourceURL=cm-datepicker-basic.component.scss */

app-cm-datepicker-basic {
  display: block;

  .app-elem {
    margin-left: 15px;
    margin-right: 15px;
  }
  // Page: Basic
  .dpbs-mb {
    margin-bottom: 0.5em;
  }

  // Page: Attrib02

  // Page: 
  .demo01 {
    .gln-calendar-h-btn {
      color: cadetblue;
    }
  }

  .cnbs-demo2 {
    .gln-calendar-t-btn-month {
      min-width: 9ch;
    }
  }


}

.demo1 {
  .gln-calendar-t-btn-month {
    overflow: visible;
    font-weight: 700;
    color: blue;
  }
}
