/*# sourceURL=cm-datepicker-basic.component.scss */

app-cm-datepicker-basic {
  display: block;

  .app-elem {
    margin-left: 15px;
    margin-right: 15px;
    min-width: 20ch;
  }
  // Page: Basic
  .dpbs-mb {
    margin-bottom: 0.5em;
  }
  .cnbs1-clnd {
    border: 1px solid darkgray;
    padding: 5px;
  }

  // Page: Attrib01
  .cnat1-elem {
    min-width: 300px;
    min-height: 300px;
    display: grid;
  }
  .cnat1-clnd {
    border: 1px solid darkgray;
    padding: 5px;
  }

  // Page: Attrib02
  .cnat2-clnd {
    border: 1px solid mediumseagreen;
    padding: 5px;
  }

  // Page: Attrib03
  .cnat3-clnd {
    border: 1px solid mediumorchid;
    padding: 5px;
  }

  // Page: 
  .demo01 {
    .gln-calendar-h-btn {
      color: cadetblue;
    }
  }



}

.demo1 {
  .gln-calendar-month {
    overflow: visible;
    font-weight: 700;
    color: blue;
  }
}
