/*# sourceURL=cm-datepicker-basic.component.scss */

app-cm-datepicker-basic {
  display: block;
  // Page: Basic
  .dpbs-mb {
    margin-bottom: 0.5em;
  }

  // Page: Attrib02

  // Page: 
  .demo01 {
    .gln-calendar-h-btn {
      color: cadetblue;
    }
  }

}
