<!-- isShowBasic -->
<section *ngIf="isShowBasic01"
  mr-vr>
  <h3 class="app-hover-link">
    Basic.
    <a [href]="urlCmDatepicker + '#Basic'">#</a>
  </h3>
  <span>
    To use this component, in your module you need to add:
  </span>
  <code><pre source="ts">
import &#123; GlnDatepickerModule &#125; from 'gelenium-ui';</pre>
  </code>
  <p>
    The GlnDatepicker component is a form control for picking a date.<br />
    It includes: a label, a list of options, and a help text.
  </p>
  <span>It comes in three versions:</span>
  <ul>
    <li>with an outline (exterior="outlined" - default)</li>
    <li>with a fill (exterior="underline")</li>
    <li>standard (exterior="standard")</li>
  </ul>
  <span>For example:</span>
  <code><pre source="html">
&lt;<strong>gln-datepicker</strong> formControlName="model01a"
  label="Enter value"&gt;
&lt;<strong>/gln-datepicker</strong>&gt;</pre></code>
</section>

<!-- <section mr-vr>
  <div class="app-group">
    <div class="app-elem">
      <div>
        <small><em>GlnCalendar</em></small>
      </div>

      <gln-calendar class="demo01_">
      </gln-calendar>

    </div>
  </div>
</section> -->

<form *ngIf="false && isShowBasic01"
  [formGroup]="formGroup01"
  novalidate
  autocomplete="off">

  <div class="app-group">

    <div class="app-elem">
      <div>
        <small><em>exterior: Outlined</em></small>
      </div>
      <div class="dpbs-mb">
        <small>
          <em>
            Model: {{ control01.model01a.value ?? 'null' }}
          </em>
        </small>
      </div>
      <!-- <gln-datepicker formControlName="model01a"
        label="Enter value"
        exterior="outlined"
        wdFull>
      </gln-datepicker> -->
      <gln-datepicker formControlName="model01a"
        label="Enter value"
        exterior="outlined"
        [config]="{ overlayClasses: 'overlay-demo1' }"
        wdFull9>
      </gln-datepicker>
    </div>

    <div class="app-elem">
      <div>
        <small><em>exterior: Underline</em></small>
      </div>
      <div class="dpbs-mb">
        <small>
          <em>
            Model: {{ control01.model01b.value ?? 'null' }}
          </em>
        </small>
      </div>
      <!-- <gln-datepicker formControlName="model01b"
        label="Enter value"
        exterior="underline"
        wdFull>
      </gln-datepicker> -->
    </div>

    <div class="app-elem">
      <div>
        <small><em>exterior: Standard</em></small>
      </div>
      <div class="dpbs-mb">
        <small>
          <em>
            Model: {{ control01.model01c.value ?? 'null' }}
          </em>
        </small>
      </div>
      <!-- <gln-datepicker formControlName="model01c"
        label="Enter value"
        exterior="standard"
        wdFull>
      </gln-datepicker> -->
    </div>
  </div>

</form>



<ng-container *ngIf="isShowClnBasic">
  <section mr-vr>
    <h3 class="app-hover-link">
      Basic
      <a [href]="urlCmCalendar + '#Basic'">#</a>
    </h3>
    <span>
      To use this component, in your module you need to add:
    </span>
    <code><pre source="ts">
import &#123; GlnDatepickerModule &#125; from 'gelenium-ui';</pre>
    </code>
    <p>
      This component is designed to select a date from the table of days
      of the specified month.
    </p>
    <span>
      Here is an example of usage:
    </span>
    <code><pre source="html">
&lt;gln-calendar class="demo"&gt;
&lt;/gln-calendar&gt;</pre>
    </code>
  </section>

  <div class="app-group">
    <div class="app-elem">
      <div>
        <small><em>standard view</em></small>
      </div>
      <div>
        <gln-calendar class="demo1">
        </gln-calendar>
      </div>
    </div>
  </div>

  <!-- <div class="app-elem">
      <div>
        <small><em>Horizontal Orientation</em></small>
      </div>
      <div>
        <gln-calendar class="cnbs-demo2"
          isHideOldDays
          [isHorizont]="true">
        </gln-calendar>
      </div>
    </div> -->
</ng-container>


<ng-container *ngIf="isShowClnAttr01">

</ng-container>



<ng-container *ngIf="isShowClnCellSize">
  <section mr-vr>
    <h3 class="app-hover-link">
      Size
      <a [href]="urlCmCalendar + '#Size'">#</a>
    </h3>
    <p>
      The "cell-size" property determines the cell size of the element (its height and width).
    </p>
    <p>
      It takes the following values:
    </p>
    <ul>
      <li>"short" - sets the height to 28px;</li>
      <li>"small" - sets the height to 32px;</li>
      <li>"middle" - sets the height to 36px (default);</li>
      <li>"wide" - sets the height to 40px;</li>
      <li>"large" - sets the height to 44px;</li>
      <li>"huge" - sets the height to 48px;</li>
    </ul>
    <!-- short: 28, small: 32, middle: 36, wide: 40, large: 44, huge: 48 -->
  </section>

  <div class="app-group">
    <div class="app-elem">
      <div>
        <small><em>"Short" height: 28px; font-size: 14px;</em></small>
      </div>
      <gln-calendar class="demo01_"
        style="font-size: 14px;"
        cellSize="short">
      </gln-calendar>
    </div>

    <div class="app-elem">
      <div>
        <small><em>"Small" height: 32px; font-size: 15px;</em></small>
      </div>
      <gln-calendar class="demo01_"
        style="font-size: 15px;"
        cellSize="small">
      </gln-calendar>
    </div>
  </div>

  <div class="app-group">
    <div class="app-elem">
      <div>
        <small><em>"Middle" height: 36px; font-size: 16px;</em></small>
      </div>
      <gln-calendar class="demo01_"
        cellSize="middle">
      </gln-calendar>
    </div>

    <div class="app-elem">
      <div>
        <small><em>"Wide" height: 40px; font-size: 16px;</em></small>
      </div>
      <gln-calendar class="demo01_"
        cellSize="wide">
      </gln-calendar>
    </div>
  </div>

  <div class="app-group">
    <div class="app-elem">
      <div>
        <small><em>"Large" height: 44px; font-size: 18px;</em></small>
      </div>
      <gln-calendar class="demo01_"
        style="font-size: 18px;"
        cellSize="large">
      </gln-calendar>
    </div>

    <div class="app-elem">
      <div>
        <small><em>"Huge" height: 48px; font-size: 20px;</em></small>
      </div>
      <gln-calendar class="demo01_"
        style="font-size: 20px;"
        cellSize="huge">
      </gln-calendar>
    </div>
  </div>

  <h4 class="app-hover-link"
    id="calendar-cell-size-config">
    Configuration for custom cell height (41px).
    <a [href]="urlCmDatepicker + '#calendar-cell-size-config'">#</a>
  </h4>

  <div class="app-group">
    <div class="app-elem">
      <div>
        <small><em>"Config" cell height: 41px; font-size: 14px;</em></small>
      </div>
      <gln-calendar class="demo01_"
        style="font-size: 14px;"
        [cellSize]="41">
      </gln-calendar>
    </div>

    <div class="app-elem">
      <div>
        <small><em>"Config" cell height: 41px; font-size: 16px;</em></small>
      </div>
      <gln-calendar class="demo01_"
        style="font-size: 16px;"
        [cellSize]="41">
      </gln-calendar>
    </div>
  </div>

</ng-container>