<section mr-vr>
  <h3 class="app-hover-link">
    Attributes.
    <a [href]="urlCmCalendar + '#Attributes'">#</a>
  </h3>
  <p>The following attributes are supported:</p>
  <ul>
    <!-- <li>"id" - parameter for defining the unique identifier of the input field
      (id="unique_identifier");
    </li> -->
    <!-- <li>
      "config" - Defines a configuration object.
      <a [href]="urlCmCalendar + '#config-interface'">More details.</a>
    </li> -->
    <li>"isDisabled" - a sign that the field is disabled (isDisabled);</li>
    <li>
      "isHideOldDays" - a sign of hiding the days of the previous and next month (isHideOldDays);
    </li>
    <li>"isHorizont" - renders a component with a horizontal layout (isHorizont);</li>
    <li>"isReadOnly" - a sign that the field is read-only (isReadOnly);</li>
  </ul>
</section>



<div class="app-group">

  <div class="app-elem">
    <div>
      <small><em>Attribute: isDisabled.</em></small>
    </div>
    <div class="cnat1-clnd">
      <gln-calendar [value]="value02a"
        isDisabled>
      </gln-calendar>
    </div>
  </div>

  <div class="app-elem">
    <div>
      <small><em>Attribute: isHorizont.</em></small>
    </div>
    <div class="cnat1-clnd">
      <gln-calendar [value]="value02b"
        isHorizont>
      </gln-calendar>
    </div>
  </div>

</div>

<div class="app-group">

  <div class="app-elem">
    <div>
      <small><em>Attribute: isReadOnly.</em></small>
    </div>
    <div class="cnat1-clnd">
      <gln-calendar [value]="value02c"
        isReadOnly>
      </gln-calendar>
    </div>
  </div>

  <div class="app-elem">
    <div>
      <small><em>Attribute: isHideOldDays.</em></small>
    </div>
    <div class="cnat1-clnd">
      <gln-calendar [value]="value02d"
        isHideOldDays>
      </gln-calendar>
    </div>
  </div>

</div>



<span style="color: indianred;">source</span>




<section mr-vr
  id="attributes-supported02">
  <h4 class="app-hover-link">
    Attributes are also supported 2:
    <a [href]="urlCmCalendar + '#attributes-supported02'">#</a>
  </h4>
  <ul>
    <li>
      "wdFull" - an attribute sets the width to the width of the parent (width: 100%).
      <br />
      In this case, the width must be defined at the parent or at the current level.
      <br />
      Without this parameter, the width is determined by the content and may change
      when the font size is changed.
      <br />
      <i>To make the child element have the height of the parent, we specify "display: grid;"
        for a parent.</i>
    </li>
    <li>"sizeDayWeek" - specifies the length of the name of the day of the week ([sizeDayWeek]="2")
    </li>
  </ul>
</section>


<div class="app-group">

  <div class="app-elem ">
    <div>
      <small><em>Attribute: wdFull (min-width: 320px; min-height: 320px;).</em></small>
    </div>
    <div class="cnat2-block cnat2-clnd">
      <gln-calendar wdFull
        [value]="value02f">
      </gln-calendar>
    </div>
  </div>

  <div class="app-elem">
    <div>
      <small><em>Attribute: wdFull, isHorizont (min-width: 320px; min-height: 320px;).</em></small>
    </div>
    <div class="cnat2-block cnat2-clnd">
      <gln-calendar wdFull
        isHorizont
        [value]="value02g">
      </gln-calendar>
    </div>
  </div>

</div>

<div class="app-group">

  <div class="app-elem">
    <div>
      <small><em>Attribute: sizeDayWeek=1 ('M').</em></small>
    </div>
    <div class="cnat2-clnd">
      <gln-calendar [sizeDayWeek]="1"
        [value]="value02h">
      </gln-calendar>
    </div>
  </div>

  <div class="app-elem">
    <div>
      <small><em>Attribute: sizeDayWeek=3 ('Mon').</em></small>
    </div>
    <div class="cnat2-clnd">
      <gln-calendar [sizeDayWeek]="3"
        [value]="value02i">
      </gln-calendar>
    </div>
  </div>

</div>


<span style="color: indianred;">source</span>



<section mr-vr
  id="attributes-supported03">
  <h4 class="app-hover-link">
    Attributes are also supported 3:
    <a [href]="urlCmCalendar + '#attributes-supported03'">#</a>
  </h4>
  <ul>
    <li>
      "isHideDayoff" - hide display of dayoffs in "danger" color (isHideDayoff);
    </li>
    <li>
      "isStartSunday" - specifies the start of the week from "Sunday".
      <br />
      By default, the start of the week is determined by the locale.
    </li>
    <li>"isWeekNumber" - specifies the display of the week number (isWeekNumber);</li>
  </ul>
</section>


<div class="app-group">

  <div class="app-elem ">
    <div>
      <small><em>Attribute: isHideDayoff.</em></small>
    </div>
    <div class="cnat3-clnd">
      <gln-calendar [value]="value02k"
        isHideDayoff>
      </gln-calendar>
    </div>
  </div>

  <div class="app-elem ">
    <div>
      <small><em>Attribute: isWeekNumber.</em></small>
    </div>
    <div class="cnat3-clnd">
      <gln-calendar isWeekNumber
        [value]="value02l">
      </gln-calendar>
    </div>
  </div>

</div>

<div class="app-group">

  <div class="app-elem ">
    <div>
      <small><em>Attribute: isStartSunday.</em></small>
    </div>
    <div class="cnat3-clnd">
      <gln-calendar [value]="value02m"
        isStartSunday>
      </gln-calendar>
    </div>
  </div>

  <div class="app-elem ">
    <div>
      <small><em>Attribute: isWeekNumber, isHorizont.</em></small>
    </div>
    <div class="cnat3-clnd">
      <gln-calendar isWeekNumber
        isHorizont
        [value]="value02n">
      </gln-calendar>
    </div>
  </div>

</div>


<span style="color: indianred;">source</span>



<section mr-vr
  id="attributes-supported04">
  <h4 class="app-hover-link">
    Attributes are also supported 4:
    <a [href]="urlCmCalendar + '#attributes-supported04'">#</a>
  </h4>
  <ul>
    <li>
      "isTwoDigitDay" - defines a two-digit day value (isTwoDigitDay);
    </li>
  </ul>
</section>


<div class="app-group">

  <div class="app-elem ">
    <div>
      <small><em>Attribute: isTwoDigitDay.</em></small>
    </div>
    <div class="cnat4-clnd">
      <gln-calendar [value]="value02p"
        isTwoDigitDay>
      </gln-calendar>
    </div>
  </div>

  <div class="app-elem ">
    <div>
      <small><em>Attribute: views=['month', 'year'].</em></small>
    </div>
    <div class="cnat4-clnd">
      <gln-calendar [value]="value02q"
        [views]="['month', 'year']">
      </gln-calendar>
    </div>
  </div>

</div>

<div class="app-group">

  <div class="app-elem ">
    <div>
      <small><em>Attribute: views=['month', 'year'], view='year'.</em></small>
    </div>
    <div class="cnat4-clnd">
      <gln-calendar [value]="value02r"
        [views]="['month', 'year']"
        view="year">
      </gln-calendar>
    </div>
  </div>

</div>


<span style="color: indianred;">source</span>

<hr br-nn />
<hr br-nn />