<section mr-vr>
  <h3 class="app-hover-link">
    Attributes.
    <a [href]="urlCmCalendar + '#Attributes'">#</a>
  </h3>
  <p>The following attributes are supported:</p>
  <ul>
    <li>"id" - parameter for defining the unique identifier of the input field (id="unique_identifier");</li>
    <li>
      "config" - Defines a configuration object.
      <a [href]="urlCmCalendar + '#config-interface'">More details.</a>
    </li>
    <li>
      "cellSize" - Determines the cell size of the element (its height and width).
      <a [href]="urlCmCalendar + '#Size'">More details.</a>
    </li>
    <li>
      "colsByYears" - defines the number of columns in the years grid.
      <br />[1..12] (for view='year').
      (default = 4;)
    </li>
    <li>
      "colsByMonths" - defines the number of columns in the months grid.
      <br />[1..12] (for view='month').
      (default = 3;)
    </li>
    <li>
      "dateClasses" - function that can be used to add custom CSS classes to dates;
      <br />
      <code><pre source="ts">
dateClasses1 = (date: Date, view: string, currentDate: Date): string[] => &#123;
  const result: string[] = [];
  const day: number = date.getDate();
  if ('day' === view && date.getMonth() === currentDate.getMonth()
    && (day === 1 || day === 20)) &#123;
    result.push('cnat6-demo1');
  &#125;
  return result;
&#125;;</pre>
      </code>
      <br />
      (default = undefined;)
    </li>
    <li>
      "dateDisabled" - function that can be used to disable a date based on a custom condition;
      <br />
      <code><pre source="ts">
dateDisabled1 = (date: Date, view: string, currentDate: Date): boolean => &#123;
  const dayWeek: number = date.getDay();
  return 'day' ==== view && date.getMonth() === currentDate.getMonth()
    && (dayWeek === 0 || dayWeek === 1);
&#125;;</pre>
      </code>
      <br />
      (default = undefined;)
    </li>
  </ul>
</section>


<div class="app-group">

  <div class="app-elem ">
    <div>
      <small><em>Attribute: colsByYears=3, view="year".</em></small>
    </div>
    <div class="cnat1-clnd">
      <gln-calendar [value]="value02a"
        [colsByYears]="3"
        view="year"
        (change)="value02a=$event">
      </gln-calendar>
    </div>
  </div>

  <div class="app-elem ">
    <div>
      <div>
        <small><em>Attribute: colsByMonths=4, view="year"</em></small>
      </div>
    </div>
    <div class="cnat1-clnd">
      <gln-calendar [value]="value02b"
        [colsByMonths]="4"
        view="month"
        (change)="value02b=$event">
      </gln-calendar>
    </div>
  </div>

  <div class="app-elem ">
    <div>
      <div>
        <small><em>Attribute: dateClasses</em></small>
      </div>
      <div>
        <small><em>day=[1,20], month=[1,4], year=[2021,2025]</em></small>
      </div>
    </div>
    <div class="cnat1-clnd">
      <gln-calendar [value]="value02c"
        [dateClasses]="dateClasses02c"
        (change)="value02c=$event">
      </gln-calendar>
    </div>
  </div>

  <div class="app-elem ">
    <div>
      <div>
        <small><em>Attribute: dateDisabled, isHideOldDays.</em></small>
      </div>
      <div>
        <small><em>dayWeek=[0,1], month=[1,4], year=[2021,2025]</em></small>
      </div>
    </div>
    <div class="cnat1-clnd">
      <gln-calendar [value]="value02d"
        isHideOldDays
        [dateDisabled]="dateDisabled02d"
        (change)="value02d=$event">
      </gln-calendar>
    </div>
  </div>

</div>


<span style="color: indianred;">source</span>

<hr br-nn />


<section mr-vr
  id="attributes-supported02">
  <h4 class="app-hover-link">
    Attributes are also supported 2:
    <a [href]="urlCmCalendar + '#attributes-supported02'">#</a>
  </h4>
  <ul>
    <li>
      "formatByMonths" - defines the format for naming months in a grid of months
      (for view='month');
      <br />
      <i>takes the following values:</i>
      <ul>
        <li>"numeric" - "6";</li>
        <li>"2-digit" - "06";</li>
        <li>"long" - "June";</li>
        <li>"short" - "Jun" (default);</li>
        <li>"narrow" - "J";</li>
      </ul>
    </li>
    <li>
      "formatMonth" - defines the format of the month name in the header.
      <br />
      <i>takes the following values:</i>
      <ul>
        <li>"numeric" - "6";</li>
        <li>"2-digit" - "06";</li>
        <li>"long" - "June";</li>
        <li>"short" - "Jun" (default);</li>
        <li>"narrow" - "J";</li>
      </ul>
    </li>
    <li>"isDisabled" - a sign that the field is disabled (isDisabled);</li>
    <li>
      "isHideDayoff" - hide display of dayoffs in "danger" color (isHideDayoff);
    </li>
  </ul>
</section>


<div class="app-group">

  <div class="app-elem ">
    <div>
      <div>
        <small><em>Attribute: formatByMonths='long',</em></small>
      </div>
      <div>
        <small><em>wdFull (min-width: 300px; min-height: 300px;).</em></small>
      </div>
    </div>
    <div class="cnat2-clnd cnat2-box">
      <gln-calendar [value]="value02e"
        style="--glncn-month-cell-wd: 100%;"
        formatByMonths="long"
        view="month"
        wdFull
        (change)="value02e=$event">
      </gln-calendar>
    </div>
  </div>

  <div class="app-elem ">
    <div>
      <small><em>Attribute: formatMonth='2-digit'.</em></small>
    </div>
    <div>
      <small>&nbsp;</small>
    </div>
    <div class="cnat2-clnd cnat2-title-day">
      <gln-calendar [value]="value02f"
        formatMonth="2-digit"
        (change)="value02f=$event">
      </gln-calendar>
    </div>
  </div>

  <div class="app-elem">
    <div>
      <small><em>Attribute: isDisabled.</em></small>
    </div>
    <div class="cnat2-clnd">
      <gln-calendar [value]="value02g"
        isDisabled
        (change)="value02g=$event">
      </gln-calendar>
    </div>
  </div>

  <div class="app-elem ">
    <div>
      <small><em>Attribute: isHideDayoff.</em></small>
    </div>
    <div class="cnat2-clnd">
      <gln-calendar [value]="value02h"
        isHideDayoff
        (change)="value02h=$event">
      </gln-calendar>
    </div>
  </div>

</div>


<span style="color: indianred;">source</span>

<hr br-nn />


<section mr-vr
  id="attributes-supported03">
  <h4 class="app-hover-link">
    Attributes are also supported 3:
    <a [href]="urlCmCalendar + '#attributes-supported03'">#</a>
  </h4>
  <ul>
    <li>
      "isHideOldDays" - a sign of hiding the days of the previous and next month (isHideOldDays);
    </li>
    <li>"isHorizont" - renders a component with a horizontal layout (isHorizont);</li>
    <li>"isReadOnly" - a sign that the field is read-only (isReadOnly);</li>
    <li>
      "isStartSunday" - specifies the start of the week from "Sunday".
      <br />
      By default, the start of the week is determined by the locale.
    </li>
  </ul>
</section>


<div class="app-group">

  <div class="app-elem">
    <div>
      <small><em>Attribute: isHideOldDays.</em></small>
    </div>
    <div class="cnat3-clnd">
      <gln-calendar [value]="value02i"
        isHideOldDays
        (change)="value02i=$event">
      </gln-calendar>
    </div>
  </div>

  <div class="app-elem">
    <div>
      <small><em>Attribute: isHorizont.</em></small>
    </div>
    <div class="cnat3-clnd">
      <gln-calendar [value]="value02j"
        isHorizont
        (change)="value02j=$event">
      </gln-calendar>
    </div>
  </div>

  <div class="app-elem">
    <div>
      <small><em>Attribute: isReadOnly.</em></small>
    </div>
    <div class="cnat3-clnd">
      <gln-calendar [value]="value02k"
        isReadOnly
        (change)="value02k=$event">
      </gln-calendar>
    </div>
  </div>

  <div class="app-elem ">
    <div>
      <small><em>Attribute: isStartSunday.</em></small>
    </div>
    <div class="cnat3-clnd">
      <gln-calendar [value]="value02l"
        isStartSunday
        (change)="value02l=$event">
      </gln-calendar>
    </div>
  </div>

</div>


<span style="color: indianred;">source</span>

<hr br-nn />


<section mr-vr
  id="attributes-supported04">
  <h4 class="app-hover-link">
    Attributes are also supported 4:
    <a [href]="urlCmCalendar + '#attributes-supported04'">#</a>
  </h4>
  <ul>
    <li>
      "isTwoDigitDay" - defines a two-digit day value (isTwoDigitDay);
    </li>
    <li>"isWeekNumber" - specifies the display of the week number (isWeekNumber);</li>
    <li>
      "minDate" - specifies the minimum date that can be selected;
      <br />
      (default = undefined;)
    </li>
    <li>
      "minDate" - specifies the maximum date that can be selected;
      <br />
      (default = undefined;)
    </li>
  </ul>
</section>


<div class="app-group">

  <div class="app-elem ">
    <div>
      <small><em>Attribute: isTwoDigitDay.</em></small>
    </div>
    <div class="cnat4-clnd">
      <gln-calendar [value]="value02m"
        isTwoDigitDay
        (change)="value02m=$event">
      </gln-calendar>
    </div>
  </div>

  <div class="app-elem ">
    <div>
      <small><em>Attribute: isWeekNumber.</em></small>
    </div>
    <div class="cnat4-clnd">
      <gln-calendar [value]="value02n"
        isWeekNumber
        (change)="value02n=$event">
      </gln-calendar>
    </div>
  </div>

  <div class="app-elem ">
    <div>
      <div>
        <small><em>Attribute: minDate="{{ minDate02o.toDateString() }}".</em></small>
      </div>
    </div>
    <div class="cnat4-clnd">
      <gln-calendar [value]="value02o"
        [minDate]="minDate02o"
        (change)="value02o=$event">
      </gln-calendar>
    </div>
  </div>

  <div class="app-elem ">
    <div>
      <div>
        <small><em>Attribute: maxDate="{{ maxDate02p.toDateString() }}".</em></small>
      </div>
    </div>
    <div class="cnat4-clnd">
      <gln-calendar [value]="value02p"
        [maxDate]="maxDate02p"
        (change)="value02p=$event">
      </gln-calendar>
    </div>
  </div>

</div>


<span style="color: indianred;">source</span>

<hr br-nn />


<section mr-vr
  id="attributes-supported05">
  <h4 class="app-hover-link">
    Attributes are also supported 5:
    <a [href]="urlCmCalendar + '#attributes-supported05'">#</a>
  </h4>
  <ul>
    <li>
      "locales" - defines the meaning of locales for translating month names
      (for calling Intl.DateTimeFormat);
      <br />
      For example: 'en-US', 'de-DE', 'fr-FR'.
      <br />
      The default value is 'default'.
    </li>
    <li>
      "rowsByYears" - defines the number of rows in the years grid;
      <br />[1..12] (for view='year').
      (default = 5;)
    </li>
    <li>
      "sizeDayWeek" - specifies the length of the name of the day of the week ([sizeDayWeek]="2")
    </li>
  </ul>
</section>


<div class="app-group">

  <div class="app-elem ">
    <div>
      <small><em>Attribute: locales='fr-FR'.</em></small>
    </div>
    <div class="cnat5-clnd cnat5-header">
      <gln-calendar [value]="value02q"
        [locales]="'fr-FR'"
        (change)="value02q=$event">
      </gln-calendar>
    </div>
  </div>

  <div class="app-elem ">
    <div>
      <small><em>Attribute: rowsByYears=4, view="year".</em></small>
    </div>
    <div class="cnat5-clnd">
      <gln-calendar [value]="value02r"
        [rowsByYears]="4"
        view="year"
        (change)="value02r=$event">
      </gln-calendar>
    </div>
  </div>

  <div class="app-elem">
    <div>
      <small><em>Attribute: sizeDayWeek=1 ('M').</em></small>
    </div>
    <div class="cnat5-clnd">
      <gln-calendar [value]="value02s"
        [sizeDayWeek]="1"
        (change)="value02s=$event">
      </gln-calendar>
    </div>
  </div>

  <div class="app-elem">
    <div>
      <small><em>Attribute: sizeDayWeek=3 ('Mon').</em></small>
    </div>
    <div class="cnat5-clnd">
      <gln-calendar [value]="value02t"
        [sizeDayWeek]="3"
        (change)="value02t=$event">
      </gln-calendar>
    </div>
  </div>

</div>


<span style="color: indianred;">source</span>

<hr br-nn />


<section mr-vr
  id="attributes-supported06">
  <h4 class="app-hover-link">
    Attributes are also supported 6:
    <a [href]="urlCmCalendar + '#attributes-supported06'">#</a>
  </h4>
  <ul>
    <li>
      "startDate" - defines the date (also month and year) from which the calendar opens;
      <br />
      The default is 'today'.
    </li>
    <li>
      "views" - defines an array of available values for the display mode.
      <br />
      (default = ['day', 'year', 'month'];)
      <br />
      <i>takes the following values:</i>
      <ul>
        <li>'day' - display mode for day selection;</li>
        <li>'month' - display mode for month selection;</li>
        <li>'year' - display mode for year selection;</li>
      </ul>
    </li>
    <li>
      "view" - defines the initial value of the display mode.
      <br />
      <i>takes the following values:</i>
      <ul>
        <li>'day' - display mode for day selection;</li>
        <li>'month' - display mode for month selection;</li>
        <li>'year' - display mode for year selection;</li>
      </ul>
    </li>

  </ul>
</section>


<div class="app-group">

  <div class="app-elem ">
    <div>
      <small><em>Attribute: startDate="{{startDate02u.toDateString()}}".</em></small>
    </div>
    <div class="cnat6-clnd">
      <gln-calendar [value]="value02u"
        [startDate]="startDate02u"
        (change)="value02u=$event">
      </gln-calendar>
    </div>
  </div>

  <div class="app-elem ">
    <div>
      <small><em>Attribute: without startDate.</em></small>
    </div>
    <div class="cnat6-clnd">
      <gln-calendar [value]="value02v"
        (change)="value02v=$event">
      </gln-calendar>
    </div>
  </div>

  <div class="app-elem ">
    <div>
      <small><em>Attribute: views=['month', 'year'], view='year'.</em></small>
    </div>
    <div class="cnat4-clnd">
      <gln-calendar [value]="value02w"
        [views]="['month', 'year']"
        view="year"
        (change)="value02w=$event">
      </gln-calendar>
    </div>
  </div>

  <div class="app-elem ">
    <div>
      <small><em>Attribute: views=['month', 'year'].</em></small>
    </div>
    <div class="cnat4-clnd">
      <gln-calendar [value]="value02x"
        [views]="['month', 'year']"
        (change)="value02x=$event">
      </gln-calendar>
    </div>
  </div>

</div>


<span style="color: indianred;">source</span>

<hr br-nn />


<section mr-vr
  id="attributes-supported07">
  <h4 class="app-hover-link">
    Attributes are also supported 7:
    <a [href]="urlCmCalendar + '#attributes-supported07'">#</a>
  </h4>
  <ul>
    <li>
      "wdFull" - an attribute sets the width to the width of the parent (width: 100%).
      <br />
      In this case, the width must be defined at the parent or at the current level.
      <br />
      Without this parameter, the width is determined by the content and may change
      when the font size is changed.
      <br />
      <i>To make the child element have the height of the parent, we specify "display: grid;"
        for a parent.</i>
    </li>
  </ul>
</section>


<div class="app-group">

  <div class="app-elem ">
    <div>
      <small><em>Attribute: wdFull (min-width: 320px; min-height: 320px;).</em></small>
    </div>
    <div class="cnat7-clnd cnat7-box">
      <gln-calendar [value]="value02y"
        wdFull
        (change)="value02y=$event">
      </gln-calendar>
    </div>
  </div>

  <div class="app-elem">
    <div>
      <small><em>Attribute: wdFull, isHorizont (min-width: 320px; min-height: 320px;).</em></small>
    </div>
    <div class="cnat7-clnd cnat7-box">
      <gln-calendar [value]="value02z"
        wdFull
        isHorizont
        (change)="value02z=$event">
      </gln-calendar>
    </div>
  </div>

</div>


<span style="color: indianred;">source</span>

<hr br-nn />