/*# sourceURL=cm-calendar-attributes.component.scss */

app-cm-calendar-attributes {
  display: block;

  .cnat1-clnd {
    border: 1px solid burlywood;
    padding: 5px;
  }
  .gln-calendar button[glncn-tint].cnat1-demo1 {
    background: orange;
  }

  .cnat2-clnd {
    border: 1px solid mediumseagreen;
    padding: 5px;
  }
  .cnat2-block {
    min-width: 300px;
    min-height: 300px;
    display: grid;
  }

  .cnat3-clnd {
    border: 1px solid mediumorchid;
    padding: 5px;
  }

  // ===
  .cnat-2-block {
    min-width: 320px;
    min-height: 320px;
    display: grid;
  }

  .cnat4-clnd {
    border: 1px solid cornflowerblue;
    padding: 5px;
  }

  .cnat5-clnd {
    border: 1px solid  mediumblue;
    padding: 5px;
  }

  .cnat6-clnd {
    border: 1px solid darkgreen;
    padding: 5px;
  }

}