/*# sourceURL=cm-calendar-attributes.component.scss */

app-cm-calendar-attributes {
  display: block;

  .cnat1-clnd {
    border: 1px solid burlywood;
    padding: 5px;
  }
  .gln-calendar button[glncn-tint].cnat1-demo1 {
    background: orange;
  }

  .cnat2-clnd {
    border: 1px solid mediumseagreen;
    padding: 5px;
  }
  .cnat2-box {
    min-width: 300px;
    min-height: 300px;
    display: grid;
  }
  .cnat2-title-day .gln-calendar-header-caption {
    color: blue;
  }

  .cnat3-clnd {
    border: 1px solid mediumorchid;
    padding: 5px;
  }

  .cnat4-clnd {
    border: 1px solid cornflowerblue;
    padding: 5px;
  }

  .cnat5-clnd {
    border: 1px solid  mediumblue;
    padding: 5px;
  }
  .cnat5-header .gln-calendar-day-header {
    font-style: italic;
  }
  .cnat5-header .gln-calendar-cage:not(.dayWeek0):not(.dayWeek6) {
    color: rgb(0 0 255 / 50%);
  }

  .cnat6-clnd {
    border: 1px solid darkgreen;
    padding: 5px;
  }

  .cnat7-clnd {
    border: 1px solid mediumslateblue;
  }
  .cnat7-box {
    min-width: 320px;
    min-height: 320px;
    display: grid;
  }

  .cnex1-calendar {
    .gln-calendar-head {
      display: none;
    }
    .gln-today {
      border: 0px;
    }
  }
  .cnex1-month {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cnex1-month-name {
    font-weight: 500;
    line-height: 2.5em;
  }
  .cnex1-name {
    justify-content: center;
    font-weight: 500;
    font-size: x-large;
    max-width: calc(((36px * 7) + 6px) * 3);
  }
  .cnex1-clnd {
    border: 1px solid lightsteelblue;
  }
}