/*# sourceURL=cm-calendar-attributes.component.scss */

app-cm-calendar-attributes {
  display: block;

  .cnat1-clnd {
    border: 1px solid burlywood;
    padding: 5px;
  }

  .cnat2-block {
    min-width: 320px;
    min-height: 320px;
    display: grid;
  }
  .cnat2-clnd {
    border: 1px solid mediumseagreen;
    padding: 5px;
  }

  .cnat3-clnd {
    border: 1px solid mediumorchid;
    padding: 5px;
  }

  .cnat4-clnd {
    border: 1px solid cornflowerblue;
    padding: 5px;
  }
}