<h3>Component: "GlnSelect"</h3>

<div *ngIf="!showNum || showNum==='01'"
  id="Basic">
  <app-cm-select-basic></app-cm-select-basic>
  <hr br-tp>
</div>

<div *ngIf="!showNum || showNum==='02'"
  id="Attributes">
  <app-cm-select-attributes></app-cm-select-attributes>
  <hr br-tp>
</div>

<div *ngIf="!showNum || showNum==='03'"
  id="Validation">
  <app-cm-select-validation></app-cm-select-validation>
  <hr br-tp>
</div>

<div *ngIf="!showNum || showNum==='04'"
  id="Group">
  <app-cm-select-group></app-cm-select-group>
  <hr br-tp>
</div>

<div *ngIf="!showNum || showNum==='05'"
  id="Trigger">
  <app-cm-select-trigger></app-cm-select-trigger>
  <hr br-tp>
</div>

<div *ngIf="!showNum || showNum==='06'"
  id="Ornaments">
  <app-cm-select-ornaments></app-cm-select-ornaments>
  <hr br-tp>
</div>

<section mr-vr
  *ngIf="!showNum"
  id="Size">
  <h3 class="app-hover-link">
    Size
    <a [href]="urlCmSelect + '#Size'">#</a>
  </h3>
  <p>
    The <a [href]="urlCmFrame + '#Size'">"GlnFrame#Size"</a>
    page shows you how to resize an element.
  </p>
  <hr br-tp>
</section>

<section mr-vr
  *ngIf="!showNum"
  id="HelperText">
  <h3 class="app-hover-link">
    Helper text
    <a [href]="urlCmSelect + '#HelperText'">#</a>
  </h3>
  <p>
    The <a [href]="urlCmFrame + '#HelperText'">"GlnFrame#HelperText"</a>
    page shows you how to effectively use the helperText property.
  </p>
  <hr br-tp>
</section>

<section mr-vr
  *ngIf="!showNum"
  id="BorderRadius">
  <h3 class="app-hover-link">
    Border Radius
    <a [href]="urlCmSelect + '#BorderRadius'">#</a>
  </h3>
  <p>
    The <a [href]="urlCmFrame + '#BorderRadius'">"GlnFrame#BorderRadius"</a>
    page shows you how to change the rounding radius of an element.
  </p>
  <hr br-tp>
</section>

<section mr-vr
  *ngIf="!showNum"
  id="Palette">
  <h3 class="app-hover-link">
    Palette
    <a [href]="urlCmSelect + '#Palette'">#</a>
  </h3>
  <p>
    The <a [href]="urlPlSelect + '#Basic'">"Palette GlnSelect#Basic"</a>
    page shows you how to change the color palette of an element.
  </p>
  <hr br-tp>
</section>

<div *ngIf="!showNum || showNum==='07'"
  id="Feature">
  <app-cm-select-feature></app-cm-select-feature>
  <hr br-tp>
</div>

<div *ngIf="!showNum || showNum==='08'"
  id="Config">
  <app-cm-select-config></app-cm-select-config>
  <hr br-tp>
</div>

<div *ngIf="!showNum || showNum==='09'"
  id="Api">
  <app-cm-select-api></app-cm-select-api>
  <hr br-tp>
</div>

<br />
<br />