/*# sourceURL=cm-pagination-size.component.scss */

app-cm-pagination-size {
  display: block;

  // Page: "Size" 03
  .pgs-elem {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
