<h3>Component: "GlnPagination"</h3>

<div *ngIf="!showNum || showNum==='01'"
  id="Basic">
  <app-cm-pagination-basic></app-cm-pagination-basic>
  <hr br-tp>
</div>

<div *ngIf="!showNum || showNum==='02'"
  id="Attributes">
  <app-cm-pagination-attributes></app-cm-pagination-attributes>
  <hr br-tp>
</div>

<div *ngIf="!showNum || showNum==='03'"
  id="Size">
  <app-cm-pagination-size></app-cm-pagination-size>
  <hr br-tp>
</div>

<div *ngIf="!showNum || showNum==='04'"
  id="Border">
  <app-cm-pagination-border></app-cm-pagination-border>
  <hr br-tp>
</div>

<div *ngIf="!showNum || showNum==='05'"
  id="Ornaments">
  <app-cm-pagination-ornaments></app-cm-pagination-ornaments>
  <hr br-tp>
</div>

<section mr-vr
  *ngIf="!showNum"
  id="Palette">
  <h3>Palette</h3>
  <p>
    The <a [href]="urlPlPagination + '#Basic'">"Palette GlnPagination#Basic"</a>
    page shows you how to change the color palette of an element.
  </p>
  <hr br-tp>
</section>

<div *ngIf="!showNum || showNum==='08'"
  id="Config">
  <app-cm-pagination-config></app-cm-pagination-config>
  <hr br-tp>
</div>

<div *ngIf="!showNum || showNum==='09'"
  id="Api">
  <app-cm-pagination-api></app-cm-pagination-api>
  <hr br-tp>
</div>

<br />
<br />