<h3>Component: "GlnPagination"</h3>

<div *ngIf="!showNum || showNum==='01'"
  id="Basic">
  <app-cm-pagination-basic></app-cm-pagination-basic>
  <hr br-tp>
</div>

<!-- <div *ngIf="!showNum || showNum==='02'"
  id="Attributes">
  <app-cm-pagination-attributes></app-cm-pagination-attributes>
  <hr br-tp>
</div> -->

<!-- <div *ngIf="!showNum || showNum==='03'"
  id="Size">
  <app-cm-pagination-size></app-cm-pagination-size>
  <hr br-tp>
</div> -->

<!-- <div *ngIf="!showNum || showNum==='04'"
  id="Palette">
  <app-cm-pagination-palette></app-cm-pagination-palette>
  <hr br-tp>
</div> -->

<!-- <div *ngIf="!showNum || showNum==='05'"
  id="Customization">
  <app-cm-pagination-customization></app-cm-pagination-customization>
  <hr br-tp>
</div> -->

<!-- <div *ngIf="!showNum || showNum==='08'"
  id="Config">
  <app-cm-pagination-config></app-cm-pagination-config>
  <hr br-tp>
</div> -->

<!-- <div *ngIf="!showNum || showNum==='09'"
  id="Api">
  <app-cm-pagination-api></app-cm-pagination-api>
  <hr br-tp>
</div> -->

<br />
<br />