<section mr-vr>
  <h3 class="app-hover-link">
    Attributes.
    <a [href]="urlCmSnackbar + '#Attributes'">#</a>
  </h3>
</section>


<section mr-vr
  id="snackbars-with-types">
  <h4 class="app-hover-link">
    Snackbars with types
    <a [href]="urlCmSnackbar + '#snackbars-with-types'">#</a>
  </h4>
  <p>
    You can display notifications with different types: "default", "error", "warning", "success",
    "info".
  </p>
</section>


<div class="snat1-elem">
  <p>
    <gln-snackbar class="snat1-box"
      [params]="{ message: 'snackbar with type \'default\''
        , msgType: 'default', 'isNoClose': true }"
      (click)="clickTypical('snackbar with type \'default\''
        , '', { data: { msgType: 'default'}} )">
    </gln-snackbar>
  </p>
  <p>
    <gln-snackbar class="snat1-box"
      [params]="{ message: 'snackbar with type \'error\''
        , msgType: 'error', 'isNoClose': true }"
      (click)="clickTypical('snackbar with type \'error\''
        , '', { data: { msgType: 'error'}})">
    </gln-snackbar>
  </p>
  <p>
    <gln-snackbar class="snat1-box"
      [params]="{ message: 'snackbar with type \'warning\''
        , msgType: 'warning', 'isNoClose': true }"
      (click)="clickTypical('snackbar with type \'warning\''
        , '', { data: { msgType: 'warning'}})">
    </gln-snackbar>
  </p>
  <p>
    <gln-snackbar class="snat1-box"
      [params]="{ message: 'snackbar with type \'success\''
        , msgType: 'success', 'isNoClose': true }"
      (click)="clickTypical('snackbar with type \'success\''
        , '', { data: { msgType: 'success'}})">
    </gln-snackbar>
  </p>
  <p>
    <gln-snackbar class="snat1-box"
      [params]="{ message: 'snackbar with type \'info\''
        , msgType: 'info', 'isNoClose': true }"
      (click)="clickTypical('snackbar with type \'info\''
        , '', { data: { msgType: 'info'}})">
    </gln-snackbar>
  </p>
</div>


<section mr-vr>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="labelHtml">
          <code><pre source="html">
&lt;div class="snat1-elem"&gt;

  &lt;p&gt;
    &lt;gln-snackbar class="snat1-box"
      [params]="&#123; message: 'notifications with type \'default\''
        , msgType: 'default', 'isNoClose': true &#125;"
      (click)="clickTypical('notifications with type \'default\''
        , '', &#123; data: &#123; msgType: 'default'&#125;&#125; )"&gt;
    &lt;/gln-snackbar&gt;
  &lt;/p&gt;
  &lt;p&gt;
    &lt;gln-snackbar class="snat1-box"
      [params]="&#123; message: 'notifications with type \'error\''
        , msgType: 'error', 'isNoClose': true &#125;"
      (click)="clickTypical('notifications with type \'error\''
        , '', &#123; data: &#123; msgType: 'error'&#125;&#125;)"&gt;
    &lt;/gln-snackbar&gt;
  &lt;/p&gt;
  &lt;p&gt;
    &lt;gln-snackbar class="snat1-box"
      [params]="&#123; message: 'notifications with type \'warning\''
        , msgType: 'warning', 'isNoClose': true &#125;"
      (click)="clickTypical('notifications with type \'warning\''
        , '', &#123; data: &#123; msgType: 'warning'&#125;&#125;)"&gt;
    &lt;/gln-snackbar&gt;
  &lt;/p&gt;
  &lt;p&gt;
    &lt;gln-snackbar class="snat1-box"
      [params]="&#123; message: 'notifications with type \'success\''
        , msgType: 'success', 'isNoClose': true &#125;"
      (click)="clickTypical('notifications with type \'success\''
        , '', &#123; data: &#123; msgType: 'success'&#125;&#125;)"&gt;
    &lt;/gln-snackbar&gt;
  &lt;/p&gt;
  &lt;p&gt;
    &lt;gln-snackbar class="snat1-box"
      [params]="&#123; message: 'notifications with type \'info\''
        , msgType: 'info', 'isNoClose': true &#125;"
      (click)="clickTypical('notifications with type \'info\''
        , '', &#123; data: &#123; msgType: 'info'&#125;&#125;)"&gt;
    &lt;/gln-snackbar&gt;
  &lt;/p&gt;

&lt;/div&gt;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelTs">
          <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';
import &#123; GlnSnackbarService &#125; from 'gelenium-ui';

@Component(&#123;
  selector: 'app-snackbar',
  templateUrl: './snackbar.component.html',
  styleUrls: ['./snackbar.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class SnackbarComponent &#123;

  constructor(private snackbarService: GlnSnackbarService) &#123;&#125;

  public clickTypical(
    message: string, action: string = '', config: any
  ): void &#123;
    this.snackbarService.open(message, action, config);
  &#125;
&#125;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelCss">
          <code><pre source="css">
app-snackbar &#123;
  .snat1-elem &#123;
    max-width: 40ch;
  &#125;
  .snat1-box &#123;
    cursor: pointer;
  &#125;
&#125;</pre></code>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
</section>

<hr br-nn />



<section mr-vr
  id="positioning-snackbars">
  <h4 class="app-hover-link">
    Positioning of snackbars
    <a [href]="urlCmSnackbar + '#positioning-snackbars'">#</a>
  </h4>
  <p>
    The display position of snackbars is subject to change and is defined in the configuration.
  </p>
</section>


<div>

  <div class="app-group">

    <button class="app-elem snat2-btn"
      tabindex="0"
      type="button"
      (click)="clickPosition('Positioning - top left'
        , '', { horizontal: 'left', vertical: 'top' })">
      <span>Top Left</span>
    </button>

    <button class="app-elem snat2-btn"
      tabindex="0"
      type="button"
      (click)="clickPosition('Positioning - top center'
        , '', { horizontal: 'center', vertical: 'top' })">
      <span>Top Center</span>
    </button>

    <button class="app-elem snat2-btn"
      tabindex="0"
      type="button"
      (click)="clickPosition('Positioning - top right'
        , '', { horizontal: 'right', vertical: 'top' })">
      <span>Top Right</span>
    </button>

  </div>

  <div class="app-group">

    <button class="app-elem snat2-btn"
      tabindex="0"
      type="button"
      (click)="clickPosition('Positioning - bottom left'
        , '', { horizontal: 'left', vertical: 'bottom' })">
      <span>Bottom Left</span>
    </button>

    <button class="app-elem snat2-btn"
      tabindex="0"
      type="button"
      (click)="clickPosition('Positioning - bottom center'
        , '', { horizontal: 'center', vertical: 'bottom' })">
      <span>Bottom Center</span>
    </button>

    <button class="app-elem snat2-btn"
      tabindex="0"
      type="button"
      (click)="clickPosition('Positioning - bottom right'
        , '', { horizontal: 'right', vertical: 'bottom' })">
      <span>Bottom Right</span>
    </button>

  </div>

</div>


<section mr-vr>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="labelHtml">
          <code><pre source="html">
&lt;div&gt;
  &lt;div class="app-group"&gt;

    &lt;button class="app-elem snat2-btn"
      tabindex="0"
      type="button"
      (click)="clickPosition('Positioning - top left'
        , '', &#123; horizontal: 'left', vertical: 'top' &#125;)"&gt;
      &lt;span&gt;Top Left&lt;/span&gt;
    &lt;/button&gt;

    &lt;button class="app-elem snat2-btn"
      tabindex="0"
      type="button"
      (click)="clickPosition('Positioning - top center'
        , '', &#123; horizontal: 'center', vertical: 'top' &#125;)"&gt;
      &lt;span&gt;Top Center&lt;/span&gt;
    &lt;/button&gt;

    &lt;button class="app-elem snat2-btn"
      tabindex="0"
      type="button"
      (click)="clickPosition('Positioning - top right'
        , '', &#123; horizontal: 'right', vertical: 'top' &#125;)"&gt;
      &lt;span&gt;Top Right&lt;/span&gt;
    &lt;/button&gt;

  &lt;/div&gt;

  &lt;div class="app-group"&gt;

    &lt;button class="app-elem snat2-btn"
      tabindex="0"
      type="button"
      (click)="clickPosition('Positioning - bottom left'
        , '', &#123; horizontal: 'left', vertical: 'bottom' &#125;)"&gt;
      &lt;span&gt;Bottom Left&lt;/span&gt;
    &lt;/button&gt;

    &lt;button class="app-elem snat2-btn"
      tabindex="0"
      type="button"
      (click)="clickPosition('Positioning - bottom center'
        , '', &#123; horizontal: 'center', vertical: 'bottom' &#125;)"&gt;
      &lt;span&gt;Bottom Center&lt;/span&gt;
    &lt;/button&gt;

    &lt;button class="app-elem snat2-btn"
      tabindex="0"
      type="button"
      (click)="clickPosition('Positioning - bottom right'
        , '', &#123; horizontal: 'right', vertical: 'bottom' &#125;)"&gt;
      &lt;span&gt;Bottom Right&lt;/span&gt;
    &lt;/button&gt;

  &lt;/div&gt;
&lt;/div&gt;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelTs">
          <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';
import &#123; GlnSnackbarService &#125; from 'gelenium-ui';

@Component(&#123;
  selector: 'app-snackbar',
  templateUrl: './snackbar.component.html',
  styleUrls: ['./snackbar.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class SnackbarComponent &#123;

  constructor(private snackbarService: GlnSnackbarService) &#123;&#125;

  public clickPosition(
    message: string, action: string = '', config: any
  ): void &#123;
    this.snackbarService.open(message, action, config);
  &#125;
&#125;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelCss">
          <code><pre source="css">
app-snackbar &#123;
  .app-group &#123;
    display: flex;
    flex-wrap: wrap;
  &#125;
  .app-elem &#123;
    min-width: 26ch;
    margin: 10px 10px;
  &#125;
  .snat2-btn &#123;
    border-radius: 4px;
    border-width: 0;
    cursor: pointer;
    font-size: 0.875em;
    height: 38px;
    min-width: 16ch;
    padding: 0 1.143em;
  &#125;
&#125;</pre></code>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
</section>

<hr br-nn />



<section mr-vr
  id="transitions-snackbars">
  <h4 class="app-hover-link">
    "Transitions" of snackbars
    <a [href]="urlCmSnackbar + '#transitions-snackbars'">#</a>
  </h4>
  <p>
    The display of "transitions" of snackbars can be changed.
    The configuration parameter "transition" is responsible for the transition type.
  </p>
  <span>And it can take the following values:</span>
  <ul>
    <li>
      'grow' - "scaling" transition (css - transform: scale(.3)) (default);
    </li>
    <li>
      'fade' - "manifestation" transition (css - opacity: 0);
    </li>
    <li>
      'blur' - "blur" transition (css - filter: blur(20px));
    </li>
    <li>
      'slide' - "slide up" transition (css - transform: translate(0px, 120vh));
    </li>
    <li>
      'slide-dw' - "slide down" transition (css - transform: translate(0px, -120vh));
    </li>
    <li>
      'slide-lf' - "slide left" transition (css - transform: translate(-120vw, 0px));
    </li>
    <li>
      'slide-rg' - "slide right" transition (css - transform: translate(120vw, 0px));
    </li>
    <li>
      'turn' - "3D turn along x-axis" transition (css - transform: perspective(400px)
      rotateX(90deg));
    </li>
    <li>
      'turn-y' - "3D turn along y-axis" transition (css - transform: perspective(400px)
      rotateY(90deg));
    </li>
  </ul>
</section>


<section>
  <label>
    transition
    <select class="snat3-select"
      (change)="transition02g=getValue02g($event.target)">
      <option *ngFor="let item of transition02gList"
        [value]="item"
        [attr.selected]="transition02g==item ? '' : null">{{ item }}
      </option>
    </select>
  </label>
</section>


<div class="app-group">

  <div class="app-elem">
    <button class="snat3-btn"
      tabindex="0"
      type="button"
      (click)="clickTransition('show transition \'' + transition02g + '\''
        , { transition: transition02g })">
      <span>Open transition</span>
    </button>
  </div>
</div>


<section mr-vr>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="labelHtml">
          <code><pre source="html">
&lt;section&gt;
  &lt;label&gt;
    transition
    &lt;select class="snat3-select"
      (change)="transition02g=getValue02g($event.target)"&gt;
      &lt;option *ngFor="let item of transition02gList"
        [value]="item"
        [attr.selected]="transition02g==item ? '' : null"&gt;<b>&#123;</b>&#123; item &#125;&#125;
      &lt;/option&gt;
    &lt;/select&gt;
  &lt;/label&gt;
&lt;/section&gt;


&lt;div class="app-group"&gt;

  &lt;div class="app-elem"&gt;
    &lt;button class="snat3-btn"
      tabindex="0"
      type="button"
      (click)="clickTransition('show transition \'' + transition02g + '\''
        , &#123; transition: transition02g &#125;)"&gt;
      &lt;span&gt;Open transition&lt;/span&gt;
    &lt;/button&gt;
  &lt;/div&gt;
&lt;/div&gt;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelTs">
          <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';
import &#123; GlnSnackbarService &#125; from 'gelenium-ui';

@Component(&#123;
  selector: 'app-snackbar',
  templateUrl: './snackbar.component.html',
  styleUrls: ['./snackbar.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class SnackbarComponent &#123;
  public transition02gList: string[] = [
  'grow', 'fade', 'blur',
  'slide', 'slide-dw', 'slide-lf', 'slide-rg',
  'turn', 'turn-y'
  ];
  public transition02g: string = this.transition02gList[0];

  constructor(private snackbarService: GlnSnackbarService) &#123;&#125;

  public getValue02g(eventTarget: any): any &#123;
    return eventTarget != null
      ? (eventTarget as Attr).value : '';
  &#125;

  public clickTransition(
    message: string, config: any
  ): void &#123;
    this.snackbarService.open(message, '', config);
  &#125;
&#125;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelCss">
          <code><pre source="css">
app-snackbar &#123;
  .app-group &#123;
    display: flex;
    flex-wrap: wrap;
  &#125;
  .app-elem &#123;
    min-width: 26ch;
    margin: 10px 10px;
  &#125;
  .snat3-select &#123;
    padding: 6px 1em;
    font-size: 14px;
    outline: none;
    margin: 3px;
  &#125;
  .snat3-btn &#123;
    border-radius: 4px;
    border-width: 0;
    cursor: pointer;
    font-size: 0.875em;
    height: 38px;
    min-width: 64px;
    padding: 0 1.143em;
  &#125;
&#125;</pre></code>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
</section>

<hr br-nn />



<section mr-vr
  id="snackbar-action">
  <h4 class="app-hover-link">
    snackbar with action button
    <a [href]="urlCmSnackbar + '#snackbar-action'">#</a>
  </h4>
  <p>
    The snackbar component provides the ability to display an action button.
  </p>
</section>


<div class="app-group">

  <div class="app-elem">
    <button class="snat4-btn"
      tabindex="0"
      type="button"
      (click)="clickAction('snackbar action button', 'UNDO', {})">
      <span>Open snackbar with action</span>
    </button>
  </div>
</div>


<section mr-vr>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="labelHtml">
          <code><pre source="html">
&lt;div class="app-group"&gt;
  &lt;div class="app-elem"&gt;
    &lt;button class="snat4-btn"
      tabindex="0"
      type="button"
      (click)="clickAction('snackbar action button', 'UNDO', &#123;&#125;)"&gt;
      &lt;span&gt;Open snackbar with action&lt;/span&gt;
    &lt;/button&gt;
  &lt;/div&gt;
&lt;/div&gt;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelTs">
          <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';
import &#123; GlnSnackbarService &#125; from 'gelenium-ui';

@Component(&#123;
  selector: 'app-snackbar',
  templateUrl: './snackbar.component.html',
  styleUrls: ['./snackbar.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class SnackbarComponent &#123;
  constructor(private snackbarService: GlnSnackbarService) &#123;&#125;

  public clickAction(
    message: string, action: string, config: any
  ): void &#123;
    this.snackbarService.open(message, action, config)
    .result.then((response) => &#123;
      // response=undefined - When closing by the "close" button.
      // response=UNDO      - When closing by the "action" button.
      console.log(`simple action response=$&#123;response&#125;`);
    &#125;);
  &#125;
#125;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelCss">
          <code><pre source="css">
app-snackbar &#123;
  .app-group &#123;
    display: flex;
    flex-wrap: wrap;
  &#125;
  .app-elem &#123;
    min-width: 26ch;
    margin: 10px 10px;
  &#125;
  .snat4-btn &#123;
    border-radius: 4px;
    border-width: 0;
    cursor: pointer;
    font-size: 0.875em;
    height: 38px;
    min-width: 64px;
    padding: 0 1.143em;
  &#125;
&#125;</pre></code>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
</section>

<hr br-nn />