<h3>Component: "GlnFrame"</h3>

<div *ngIf="!showNum || showNum==='01'"
  id="Basic">
  <app-frame-basic></app-frame-basic>
  <hr br-tp>
</div>

<div *ngIf="!showNum || showNum==='02'"
  id="Attributes">
  <app-frame-attributes></app-frame-attributes>
  <hr br-tp>
</div>

<div *ngIf="!showNum || showNum==='03'"
  id="FrameSize">
  <app-frame-size></app-frame-size>
  <hr br-tp>
</div>

<div *ngIf="!showNum || showNum==='04'"
  id="Label">
  <app-frame-label></app-frame-label>
  <hr br-tp>
</div>

<div *ngIf="!showNum || showNum==='05'"
  id="HelperText">
  <app-frame-helper-text></app-frame-helper-text>
  <hr br-tp>
</div>

<div *ngIf="!showNum || showNum==='06'"
  id="BorderRadius">
  <app-frame-border-radius></app-frame-border-radius>
  <hr br-tp>
</div>

<div *ngIf="!showNum || showNum==='07'"
  id="Palette">
  <app-frame-palette></app-frame-palette>
  <app-frame-palette2></app-frame-palette2>
  <app-frame-palette3></app-frame-palette3>
  <hr br-tp>
</div>

<div *ngIf="!showNum || showNum==='08'"
  id="Feature">
  <app-frame-feature></app-frame-feature>
  <hr br-tp>
</div>

<div *ngIf="!showNum || showNum==='09'"
  id="Structure">
  <app-frame-structure></app-frame-structure>
  <hr br-tp>
</div>

<div *ngIf="!showNum || showNum==='10'"
  id="Config">
  <app-frame-config></app-frame-config>
  <hr br-tp>
</div>

<div *ngIf="!showNum || showNum==='11'"
  id="Api">
  <app-frame-api></app-frame-api>
  <hr br-tp>
</div>

<br />
<br />