<h3>Component: "GrnFrame"</h3>

<div *ngIf="!showNum || showNum==='01'"
  id="Basic">
  <app-frame-basic></app-frame-basic>
  <hr br-tp>
</div>

<div *ngIf="!showNum || showNum==='02'"
  id="FrameSize">
  <app-frame-size></app-frame-size>
  <hr br-tp>
</div>

<div *ngIf="!showNum || showNum==='03'"
  id="Label">
  <app-frame-label></app-frame-label>
  <hr br-tp>
</div>

<div *ngIf="!showNum || showNum==='04'"
  id="HelperText">
  <app-frame-helper-text></app-frame-helper-text>
  <hr br-tp>
</div>

<div *ngIf="!showNum || showNum==='05'"
  id="BorderRadius">
  <app-frame-border-radius></app-frame-border-radius>
  <hr br-tp>
</div>

<div *ngIf="!showNum || showNum==='06'"
  id="Palette">
  <app-frame-palette></app-frame-palette>
  <hr br-tp>
</div>

<div *ngIf="!showNum || showNum==='07'"
  id="Config">
  <app-frame-config></app-frame-config>
  <hr br-tp>
</div>

<div *ngIf="!showNum || showNum==='08'"
  id="Api">
  <app-frame-api></app-frame-api>
  <hr br-tp>
</div>

<br />
<br />