/*# sourceURL=button.component.scss */

app-button {
  display: block;

  .b-items {
    display: flex;
    flex-wrap: wrap;

    &>:first-child {
      margin-left: 3%;
    }

    &>:not(first-child) {
      margin-left: 7%;
    }
  }

}
