<section mr-vr>
  <h3 class="app-hover-link">
    Attributes.
    <a [href]="urlCmInput + '#Attributes'">#</a>
  </h3>
  <p>The following attributes are supported:</p>
  <ul>
    <li>"id" - parameter for defining the unique identifier of the input field
      (id="unique_identifier");
    </li>

    <li>
      "config" - Defines a configuration object.
      <a [href]="urlCmInput + '#Config'">More details.</a>
    </li>
    <li>
      "exterior" - Determines the appearance of an element.<br />
      It can take the following values:
      <ul>
        <li>"outlined";</li>
        <li>"underline";</li>
        <li>"standard";</li>
      </ul>
    </li>
    <li>"helperText" - the parameter is used to provide context about the input
      of the field or error message (helperText="Some important text").
    </li>
    <li>"isDisabled" - a sign that the field is disabled (isDisabled);</li>
    <li>"isError" - a sign that the field is in error status (isError);</li>
    <li>"isNoLabel" - Hide label display.</li>
    <li>"isReadOnly" - read-only access flag (isReadOnly);</li>
    <li>"isRequired" - a sign that the field is required (isRequired);</li>
    <li>"label" - The content of the label.</li>
    <li>"isLabelShrink" - An indication that the label has moved up and shrunk.</li>
    <li>"type" - indicate the type of the input element (type="text");</li>
    <li>"autoComplete" - the value of the autocomplete parameter for the input field.
      <br />&nbsp;&nbsp;autoComplete="off" - The browser is not permitted to automatically enter or
      select a value for this field.
      <br />&nbsp;&nbsp;autoComplete="new-password" - A new password.
      <br />&nbsp;&nbsp;autoComplete="current-password" - The user's current password.
    </li>
    <li>
      "wdFull" - an attribute sets the width to the width of the parent (width: 100%).
      <br />
      In this case, the width must be defined at the parent or at the current level.
      <br />
      Without this parameter, the width is determined by the content and may change
      when the font size is changed.
    </li>
  </ul>
  <p>
    The "type" attribute can take the following values:
  </p>
  <ul>
    <li>'color';</li>
    <li>'date';</li>
    <li>'datetime-local';</li>
    <li>'email';</li>
    <li>'month';</li>
    <li>'number';</li>
    <li>'password';</li>
    <li>'search';</li>
    <li>'tel';</li>
    <li>'text';</li>
    <li>'time';</li>
    <li>'url';</li>
    <li>'week';</li>
  </ul>
  <p>
    For a field with the "color" type, it is desirable to set a non-empty value (for example,
    "#000000"), otherwise, a warning may appear:<br />
    <i>
      platform-browser.js:745 The specified value "" does not conform to the required format.
      The format is "#rrggbb" where rr, gg, bb are two-digit hexadecimal numbers.
    </i><br />
    This warning appears when there are two input elements of type "color" and "date".
  </p>
</section>

<section mr-vr>
  <span>exterior: </span>
  <mat-button-toggle-group value="exterior02a"
    (change)="exterior02a=$event.value">
    <mat-button-toggle [checked]="exterior02a==='outlined'"
      value="outlined">{{ labelOutlined }}</mat-button-toggle>
    <mat-button-toggle [checked]="exterior02a==='underline'"
      value="underline">{{ labelUnderline }}</mat-button-toggle>
    <mat-button-toggle [checked]="exterior02a==='standard'"
      value="standard">{{ labelStandard }}</mat-button-toggle>
  </mat-button-toggle-group>
</section>

<form [formGroup]="formGroup02a"
  novalidate
  autocomplete="off">

  <div class="app-group">

    <div class="app-elem">
      <div>
        <small>
          <em>Attributes: id, isRequired, no label.</em>
        </small>
      </div>
      <gln-input formControlName="model02a"
        id="unique_id_input02a"
        isRequired
        [exterior]="exterior02a">
      </gln-input>
    </div>

    <div class="app-elem">
      <div>
        <small>
          <em>Attributes: isRequired, helperText.</em>
        </small>
      </div>
      <gln-input formControlName="model02b"
        label="Required field"
        isRequired
        helperText="A value must be entered."
        [exterior]="exterior02a">
      </gln-input>
    </div>

    <div class="app-elem">
      <div>
        <small>
          <em>Attribute: isNoLabel.</em>
        </small>
      </div>
      <gln-input formControlName="model02c"
        label="isNoLabel"
        isNoLabel
        helperText="The label is not displayed."
        [exterior]="exterior02a">
      </gln-input>
    </div>

    <div class="app-elem">
      <div>
        <small>
          <em>Attribute: isDisabled.</em>
        </small>
      </div>
      <gln-input formControlName="model02d"
        label="Disabled"
        isDisabled
        helperText="The parameter is disabled."
        [exterior]="exterior02a">
      </gln-input>
    </div>

  </div>

</form>

<section mr-vr>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="labelHtml">
          <code><pre source="html">
&lt;form [formGroup]="formGroup02a"
  novalidate
  autocomplete="off"&gt;

  &lt;div class="app-group"&gt;

    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;State: empty.&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;gln-input formControlName="model02a"
        id="unique_id_input02a"
        label="Enter value"
        [exterior]="exterior02a"&gt;
      &lt;/gln-input&gt;
    &lt;/div&gt;

    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;Attributes: isRequired, helperText.&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;gln-input formControlName="model02b"
        label="Required field"
        isRequired
        helperText="A value must be entered."
        [exterior]="exterior02a"&gt;
      &lt;/gln-input&gt;
    &lt;/div&gt;

    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;Attribute: isNoLabel.&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;gln-input formControlName="model02c"
        label="isNoLabel"
        isNoLabel
        helperText="The label is not displayed."
        [exterior]="exterior02a"&gt;
      &lt;/gln-input&gt;
    &lt;/div&gt;

    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;Attribute: isDisabled.&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;gln-input formControlName="model02d"
        label="Disabled"
        isDisabled
        helperText="The parameter is disabled."
        [exterior]="exterior02a"&gt;
      &lt;/gln-input&gt;
    &lt;/div&gt;

  &lt;/div&gt;

&lt;/form&gt;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelTs">
          <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';
import &#123;
  FormControl, FormGroup, Validators
&#125; from '@angular/forms';

@Component(&#123;
  selector: 'app-input',
  templateUrl: './input.component.html',
  styleUrls: ['./input.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class InputComponent &#123;
  public exterior02a = 'outlined';

  public formGroup02a: FormGroup = new FormGroup(&#123;
    model02a: new FormControl(null, []),
    model02b: new FormControl('Hello World', [Validators.required]),
    model02c: new FormControl('Hello World', []),
    model02d: new FormControl('Hello World', []),
  &#125;);
&#125;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelCss">
          <code><pre source="css">
app-input &#123;
  .app-group &#123;
    display: flex;
    flex-wrap: wrap;
  &#125;
  .app-elem &#123;
    min-width: 26ch;
    margin: 10px 10px;
  &#125;
&#125;</pre></code>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
</section>

<hr br-nn />

<section mr-vr>
  <span>exterior: </span>
  <mat-button-toggle-group value="exterior02b"
    (change)="exterior02b=$event.value">
    <mat-button-toggle [checked]="exterior02b==='outlined'"
      value="outlined">{{ labelOutlined }}</mat-button-toggle>
    <mat-button-toggle [checked]="exterior02b==='underline'"
      value="underline">{{ labelUnderline }}</mat-button-toggle>
    <mat-button-toggle [checked]="exterior02b==='standard'"
      value="standard">{{ labelStandard }}</mat-button-toggle>
  </mat-button-toggle-group>
</section>

<form [formGroup]="formGroup02b"
  novalidate
  autocomplete="off">

  <div class="app-group">

    <div class="app-elem">
      <div>
        <small>
          <em>Attribute: isLabelShrink.</em>
        </small>
      </div>
      <gln-input formControlName="model02e"
        label="Permanent label"
        isLabelShrink
        helperText="The position of the label is fixed."
        [exterior]="exterior02b">
      </gln-input>
    </div>

    <div class="app-elem">
      <div>
        <small>
          <em>Attribute: isError.</em>
        </small>
      </div>
      <gln-input formControlName="model02f"
        [label]="!control02b.model02f.value
        ? 'Requires a value':'Parameter value'"
        [isError]="!control02b.model02f.value ? '':null"
        [helperText]="control02b.model02f.value
      ? 'The field is filled.'
      : 'The field is not filled.'"
        [exterior]="exterior02b">
      </gln-input>
    </div>

    <div class="app-elem">
      <div>
        <small>
          <em>Attribute: isReadOnly.</em>
        </small>
      </div>
      <gln-input formControlName="model02g"
        label="Read Only"
        isReadOnly
        helperText="The parameter is read only."
        [exterior]="exterior02b">
      </gln-input>
    </div>

  </div>

</form>

<section mr-vr>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="labelHtml">
          <code><pre source="html">
&lt;form [formGroup]="formGroup02b"
  novalidate
  autocomplete="off"&gt;

  &lt;div class="app-group"&gt;

    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;Attribute: isLabelShrink.&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;gln-input formControlName="model02e"
        label="Permanent label"
        isLabelShrink
        helperText="The position of the label is fixed."
        [exterior]="exterior02b"&gt;
      &lt;/gln-input&gt;
    &lt;/div&gt;

    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;Attribute: isError.&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;gln-input formControlName="model02f"
        [label]="!control02b.model02f.value
        ? 'Requires a value':'Parameter value'"
        [isError]="!control02b.model02f.value ? '':null"
        [helperText]="control02b.model02f.value
      ? 'The field is filled.'
      : 'The field is not filled.'"
        [exterior]="exterior02b"&gt;
      &lt;/gln-input&gt;
    &lt;/div&gt;

    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;Attribute: isReadOnly.&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;gln-input formControlName="model02g"
        label="Read Only"
        isReadOnly
        helperText="The parameter is read only."
        [exterior]="exterior02b"&gt;
      &lt;/gln-input&gt;
    &lt;/div&gt;

  &lt;/div&gt;

&lt;/form&gt;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelTs">
          <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';
import &#123;
  FormControl, FormGroup, Validators
&#125; from '@angular/forms';

@Component(&#123;
  selector: 'app-input',
  templateUrl: './input.component.html',
  styleUrls: ['./input.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class InputComponent &#123;
  public exterior02b = 'outlined';
  public control02b = &#123;
    model02e: new FormControl(null, []),
    model02f: new FormControl('Hello World', [Validators.required]),
    model02g: new FormControl('Hello World', []),
  &#125;;
  public formGroup02b: FormGroup = new FormGroup(this.control02b);
&#125;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelCss">
          <code><pre source="css">
app-input &#123;
  .app-group &#123;
    display: flex;
    flex-wrap: wrap;
  &#125;
  .app-elem &#123;
    min-width: 26ch;
    margin: 10px 10px;
  &#125;
&#125;</pre></code>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
</section>

<hr br-nn />


<section mr-vr>
  <span>exterior: </span>
  <mat-button-toggle-group value="exterior02c"
    (change)="exterior02c=$event.value">
    <mat-button-toggle [checked]="exterior02c==='outlined'"
      value="outlined">{{ labelOutlined }}</mat-button-toggle>
    <mat-button-toggle [checked]="exterior02c==='underline'"
      value="underline">{{ labelUnderline }}</mat-button-toggle>
    <mat-button-toggle [checked]="exterior02c==='standard'"
      value="standard">{{ labelStandard }}</mat-button-toggle>
  </mat-button-toggle-group>
</section>

<form [formGroup]="formGroup02c"
  novalidate
  autocomplete="off">

  <div class="app-group">

    <div class="app-elem">
      <div>
        <small>
          <em>Attribute: autoComplete, type="password".</em>
        </small>
      </div>
      <gln-input formControlName="model02i"
        [label]="!control02c.model02i.value
      ? 'Enter password':'Password'"
        type="password"
        autoComplete="current-password"
        helperText="Enter your password value."
        [exterior]="exterior02c">
      </gln-input>
    </div>

    <div class="app-elem">
      <div>
        <small>
          <em>Attributes: type="number".</em>
        </small>
      </div>
      <gln-input formControlName="model02j"
        [label]="!control02c.model02j.value
       ? 'Enter number':'Number'"
        type="number"
        helperText="Enter your number value."
        [exterior]="exterior02c">
      </gln-input>
    </div>

    <div class="app-elem">
      <div>
        <small>
          <em>Attributes: type="search".</em>
        </small>
      </div>
      <gln-input formControlName="model02k"
        [label]="!control02c.model02k.value
       ? 'Enter search value':'Search value'"
        type="search"
        helperText="Enter your search value."
        [exterior]="exterior02c">
      </gln-input>
    </div>

    <div class="app-elem">
      <div>
        <small>
          <em>Attributes: type="month", isLabelShrink.</em>
        </small>
      </div>
      <gln-input formControlName="model02l"
        [label]="!control02c.model02l.value
        ? 'Enter month':'Month'"
        isLabelShrink
        type="month"
        [helperText]="!control02c.model02l.value
      ?'Enter your month value.'
      :'Month value is \''
      + control02c.model02l.value + '\''"
        [exterior]="exterior02c">
      </gln-input>
    </div>

  </div>

</form>

<section mr-vr>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="labelHtml">
          <code><pre source="html">
&lt;form [formGroup]="formGroup02c"
  novalidate
  autocomplete="off"&gt;

  &lt;div class="app-group"&gt;

    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;Attribute: autoComplete, type="password".&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;gln-input formControlName="model02i"
        [label]="!control02c.model02i.value
      ? 'Enter password':'Password'"
        type="password"
        autoComplete="current-password"
        helperText="Enter your password value."
        [exterior]="exterior02c"&gt;
      &lt;/gln-input&gt;
    &lt;/div&gt;

    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;Attributes: type="number".&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;gln-input formControlName="model02j"
        [label]="!control02c.model02j.value
       ? 'Enter number':'Number'"
        type="number"
        helperText="Enter your number value."
        [exterior]="exterior02c"&gt;
      &lt;/gln-input&gt;
    &lt;/div&gt;

    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;Attributes: type="search".&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;gln-input formControlName="model02k"
        [label]="!control02c.model02k.value
       ? 'Enter search value':'Search value'"
        type="search"
        helperText="Enter your search value."
        [exterior]="exterior02c"&gt;
      &lt;/gln-input&gt;
    &lt;/div&gt;

    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;Attributes: type="month", isLabelShrink.&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;gln-input formControlName="model02l"
        [label]="!control02c.model02l.value
        ? 'Enter month':'Month'"
        isLabelShrink
        type="month"
        [helperText]="!control02c.model02l.value
      ?'Enter your month value.'
      :'Month value is \''
      + control02c.model02l.value + '\''"
        [exterior]="exterior02c"&gt;
      &lt;/gln-input&gt;
    &lt;/div&gt;

  &lt;/div&gt;

&lt;/form&gt;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelTs">
          <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';
import &#123;
  FormControl, FormGroup
&#125; from '@angular/forms';

@Component(&#123;
  selector: 'app-input',
  templateUrl: './input.component.html',
  styleUrls: ['./input.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class InputComponent &#123;
  public exterior02c = 'outlined';
  public control02c = &#123;
    model02i: new FormControl(null, []),
    model02j: new FormControl(null, []),
    model02k: new FormControl('Hello World', []),
    model02l: new FormControl(null, []),
  &#125;;
  public formGroup02c: FormGroup = new FormGroup(this.control02c);
&#125;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelCss">
          <code><pre source="css">
app-input &#123;
  .app-group &#123;
    display: flex;
    flex-wrap: wrap;
  &#125;
  .app-elem &#123;
    min-width: 26ch;
    margin: 10px 10px;
  &#125;
&#125;</pre></code>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
</section>

<hr br-nn />


<section mr-vr>
  <span>exterior: </span>
  <mat-button-toggle-group value="exterior02d"
    (change)="exterior02d=$event.value">
    <mat-button-toggle [checked]="exterior02d==='outlined'"
      value="outlined">{{ labelOutlined }}</mat-button-toggle>
    <mat-button-toggle [checked]="exterior02d==='underline'"
      value="underline">{{ labelUnderline }}</mat-button-toggle>
    <mat-button-toggle [checked]="exterior02d==='standard'"
      value="standard">{{ labelStandard }}</mat-button-toggle>
  </mat-button-toggle-group>
</section>

<form [formGroup]="formGroup02d"
  novalidate
  autocomplete="off">

  <div class="app-group">

    <div class="app-elem">
      <div>
        <small>
          <em>Attributes: type="week", isLabelShrink.</em>
        </small>
      </div>
      <gln-input formControlName="model02m"
        [label]="!control02d.model02m.value
        ? 'Enter week':'Week'"
        isLabelShrink
        type="week"
        [helperText]="!control02d.model02m.value
      ?'Enter your week value.'
      :'Week value is \''
      + (control02d.model02m.value) + '\''"
        [exterior]="exterior02d">
      </gln-input>
    </div>

    <div class="app-elem">
      <div>
        <small>
          <em>Attributes: type="color", isLabelShrink.</em>
        </small>
      </div>
      <gln-input formControlName="model02n"
        [label]="!control02d.model02n.value
        ? 'Enter color':'Color'"
        isLabelShrink
        type="color"
        [helperText]="!control02d.model02n.value
      ?'Enter color.'
      :'\'' + control02d.model02n.value + '\''"
        [exterior]="exterior02d">
      </gln-input>
    </div>

    <div class="app-elem">
      <div>
        <small>
          <em>Attributes: type="date", isLabelShrink.</em>
        </small>
      </div>
      <gln-input formControlName="model02o"
        [label]="!control02d.model02o.value
        ? 'Enter date':'Date'"
        isLabelShrink
        type="date"
        [helperText]="!control02d.model02o.value
        ?'Enter your date value.'
        :'Date value is \''
        + (control02d.model02o.value | date:'mediumDate')
        + '\''"
        [exterior]="exterior02d">
      </gln-input>
    </div>

    <div class="app-elem">
      <div>
        <small>
          <em>Attributes: type="time", isLabelShrink.</em>
        </small>
      </div>
      <gln-input formControlName="model02p"
        [label]="!control02d.model02p.value
        ? 'Enter time':'Time'"
        isLabelShrink
        type="time"
        [helperText]="!control02d.model02p.value
        ?'Enter your time value.'
        :'Time value is \''
        + control02d.model02p.value + '\''"
        [exterior]="exterior02d">
      </gln-input>
    </div>

  </div>

</form>

<section mr-vr>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="labelHtml">
          <code><pre source="html">
&lt;form [formGroup]="formGroup02d"
  novalidate
  autocomplete="off"&gt;

  &lt;div class="app-group"&gt;

    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;Attributes: type="week", isLabelShrink.&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;gln-input formControlName="model02m"
        [label]="!control02d.model02m.value
        ? 'Enter week':'Week'"
        isLabelShrink
        type="week"
        [helperText]="!control02d.model02m.value
      ?'Enter your week value.'
      :'Week value is \''
      + (control02d.model02m.value) + '\''"
        [exterior]="exterior02d"&gt;
      &lt;/gln-input&gt;
    &lt;/div&gt;

    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;Attributes: type="color", isLabelShrink.&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;gln-input formControlName="model02n"
        [label]="!control02d.model02n.value
        ? 'Enter color':'Color'"
        isLabelShrink
        type="color"
        [helperText]="!control02d.model02n.value
      ?'Enter color.'
      :'\'' + control02d.model02n.value + '\''"
        [exterior]="exterior02d"&gt;
      &lt;/gln-input&gt;
    &lt;/div&gt;

    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;Attributes: type="date", isLabelShrink.&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;gln-input formControlName="model02o"
        [label]="!control02d.model02o.value
        ? 'Enter date':'Date'"
        isLabelShrink
        type="date"
        [helperText]="!control02d.model02o.value
        ?'Enter your date value.'
        :'Date value is \''
        + (control02d.model02o.value | date:'mediumDate')
        + '\''"
        [exterior]="exterior02d"&gt;
      &lt;/gln-input&gt;
    &lt;/div&gt;

    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;Attributes: type="time", isLabelShrink.&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;gln-input formControlName="model02p"
        [label]="!control02d.model02p.value
        ? 'Enter time':'Time'"
        isLabelShrink
        type="time"
        [helperText]="!control02d.model02p.value
        ?'Enter your time value.'
        :'Time value is \''
        + control02d.model02p.value + '\''"
        [exterior]="exterior02d"&gt;
      &lt;/gln-input&gt;
    &lt;/div&gt;

  &lt;/div&gt;

&lt;/form&gt;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelTs">
          <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';
import &#123;
  FormControl, FormGroup, Validators
&#125; from '@angular/forms';

@Component(&#123;
  selector: 'app-input',
  templateUrl: './input.component.html',
  styleUrls: ['./input.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class InputComponent &#123;
  public exterior02d = 'outlined';
  public control02d = &#123;
    model02m: new FormControl(null, []),
    model02n: new FormControl('#000000'),
    model02o: new FormControl(null, []),
    model02p: new FormControl(null, []),
  &#125;;
  public formGroup02d: FormGroup = new FormGroup(this.control02d);
&#125;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelCss">
          <code><pre source="css">
app-input &#123;
  .app-group &#123;
    display: flex;
    flex-wrap: wrap;
  &#125;
  .app-elem &#123;
    min-width: 26ch;
    margin: 10px 10px;
  &#125;
&#125;</pre></code>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
</section>

<section mr-vr>
  <p>
    You can learn more about the use of additional parameters in the
    <a [href]="urlCmFrame + '#Attributes'">"frame attributes"</a>.
  </p>
</section>

<hr br-nn />