<h3>Component: "GlnAutocomplete"</h3>

<div *ngIf="!showNum || showNum==='01'"
  id="Basic">
  <app-cm-autocomplete-basic></app-cm-autocomplete-basic>
  <hr br-tp>
</div>

<div *ngIf="!showNum || showNum==='02'"
  id="Attributes">
  <app-cm-autocomplete-attributes></app-cm-autocomplete-attributes>
  <hr br-tp>
</div>

<div *ngIf="!showNum || showNum==='03'"
  id="Asynchrony">
  <app-cm-autocomplete-asynchrony></app-cm-autocomplete-asynchrony>
  <hr br-tp>
</div>

<div *ngIf="!showNum || showNum==='04'"
  id="Feature">
  <app-cm-autocomplete-feature></app-cm-autocomplete-feature>
  <hr br-tp>
</div>

<div *ngIf="!showNum || showNum==='08'"
  id="Config">
  <app-cm-autocomplete-config></app-cm-autocomplete-config>
  <hr br-tp>
</div>