<section mr-vr>
  <h3>Numerical value</h3>
  <p>
    When using an input element with type="number", there are the following problems:
  </p>
  <ul>
    <li>non-numeric values are allowed ('e', '+', '-', '.');</li>
    <li>it is not very convenient to use scrolling to increase / decrease the value;</li>
  </ul>
  <p>
    As a solution to this problem, it is suggested to use type="text" and pattern="^[0-9]+$".
    This allows the error status to be displayed when entering non-numeric values.
  </p>
  <p>
    An alternative is to use the
    <a [href]="urlRegexMatch + '#Basic'">"GlnRegexMatch"</a>
    directive.
    This directive allows you to enter only those values that match the specified regular
    expression.
    To enter only numbers, you can use: glnRegexMatch="^-?(\d+)$", [glnRegexMatch]="'^-?(\\d+)$'"
    or [glnRegexMatch]="'/^-?(\\d+)$/i'".
  </p>
  <p>
    The following templates can be specified in the glnRegexMatch directive as an input parameter:
  </p>
  <ul>
    <li>'#numeric' - which matches the regular expression<br />
      '^-?(\d+)$';</li>
    <li>'#numeric(,2)' - which matches the regular expression<br />
      '^-?(\d+(\.\d&#123;0,2&#125;)?|\.\d&#123;0,2&#125;)$';</li>
    <li>'#numeric(12,2)' - which matches the regular expression<br />
      '^-?(\d&#123;1,12&#125;(\.\d&#123;0,2&#125;)?|\.\d&#123;0,2&#125;)$';</li>
  </ul>
  <p>
    You can also specify your own regular expressions as an input parameter.<br />
    For example: numbers, lowercase characters, and space.<br />
    glnRegexMatch="^[\ ,\d,a-z]+$"
  </p>
</section>

<section mr-vr>
  <span>exterior: </span>
  <mat-button-toggle-group value="exterior04"
    (change)="exterior04=$event.value">
    <mat-button-toggle [checked]="exterior04==='outlined'"
      value="outlined">{{ labelOutlined }}</mat-button-toggle>
    <mat-button-toggle [checked]="exterior04==='underline'"
      value="underline">{{ labelUnderline }}</mat-button-toggle>
    <mat-button-toggle [checked]="exterior04==='standard'"
      value="standard">{{ labelStandard }}</mat-button-toggle>
  </mat-button-toggle-group>
</section>


<form [formGroup]="formGroup04"
  novalidate
  autocomplete="off">

  <div class="app-group">

    <div class="app-elem">
      <div>
        <small>
          <em>Attribute: min=0 max=50 step=5.</em>
        </small>
      </div>
      <gln-input formControlName="model04a"
        wdFull
        [label]="!formGroup04.controls['model04a']['value']
          ?'Enter number':'Number'"
        type="number"
        [step]="5"
        [min]="0"
        [max]="50"
        [helperText]="!formGroup04.controls['model04a']['value']
          ?'Enter your number value.'
          :'The value is entered.'"
        [exterior]="exterior04">
      </gln-input>
    </div>

    <div class="app-elem">
      <div>
        <small>
          <em>Attribute: pattern="^[0-9]+$".</em>
        </small>
      </div>
      <gln-input formControlName="model04b"
        wdFull
        [label]="formGroup04.controls['model04b']['errors'] != null
          ? 'Error'
          : (!formGroup04.controls['model04b']['value']
            ? 'Enter number' : 'Number')"
        type="text"
        pattern="^[0-9]+$"
        [helperText]="formGroup04.controls['model04b']['errors']
          ?'The value is not correct.'
          :(!formGroup04.controls['model04b']['value']
            ?'Enter your number value.'
            :'The value is correct.')"
        [exterior]="exterior04">
      </gln-input>
    </div>

    <div class="app-elem">
      <div>
        <small>
          <em>Attrib.: glnRegexMatch="/^-?(\d+)$/".</em>
        </small>
      </div>
      <gln-input formControlName="model04c"
        wdFull
        [label]="!formGroup04.controls['model04c']['value']
          ?'Enter number':'Number'"
        glnRegexMatch="/^-?(\d+)$/"
        [helperText]="!formGroup04.controls['model04c']['value']
          ?'Enter your number value.'
          :'The value is correct.'"
        [exterior]="exterior04">
      </gln-input>
    </div>

    <div class="app-elem">
      <div>
        <small>
          <em>Attrib.: glnRegexMatch="#numeric".</em>
        </small>
      </div>
      <gln-input formControlName="model04d"
        wdFull
        [label]="!formGroup04.controls['model04d']['value']
          ?'Enter number':'Number'"
        glnRegexMatch="#numeric"
        [helperText]="!formGroup04.controls['model04d']['value']
          ?'Enter your number value.'
          :'The value is correct.'"
        [exterior]="exterior04">
      </gln-input>
    </div>

    <div class="app-elem">
      <div>
        <small>
          <em>Attrib.: glnRegexMatch="#numeric(,2)".</em>
        </small>
      </div>
      <gln-input formControlName="model04e"
        wdFull
        [label]="!formGroup04.controls['model04e']['value']
          ?'Enter number':'Number'"
        glnRegexMatch="#numeric(,2)"
        [helperText]="!formGroup04.controls['model04e']['value']
          ?'Enter your number value.'
          :'The value is correct.'"
        [exterior]="exterior04">
      </gln-input>
    </div>

    <div class="app-elem">
      <div>
        <small>
          <em>Attrib.: glnRegexMatch="#numeric(12,2)".</em>
        </small>
      </div>
      <gln-input formControlName="model04f"
        wdFull
        [label]="!formGroup04.controls['model04f']['value']
          ?'Enter number':'Number'"
        glnRegexMatch="#numeric(12,2)"
        [helperText]="!formGroup04.controls['model04f']['value']
          ?'Enter your number value.'
          :'The value is correct.'"
        [exterior]="exterior04">
      </gln-input>
    </div>

    <div class="app-elem">
      <div>
        <small>
          <em>Attrib.: glnRegexMatch="^[\ ,\d,a-z]+$"</em>
        </small>
      </div>
      <gln-input formControlName="model04g"
        wdFull
        [label]="!formGroup04.controls['model04g']['value']
          ?'Enter number':'Number'"
        glnRegexMatch="^[\ ,\d,a-z]+$"
        [helperText]="!formGroup04.controls['model04g']['value']
          ?'Enter your number value.'
          :'The value is correct.'"
        [exterior]="exterior04">
      </gln-input>
    </div>

  </div>

</form>

<section mr-vr>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="labelHtml">
          <code><pre source="html">
&lt;form [formGroup]="formGroup04"
  novalidate
  autocomplete="off"&gt;

  &lt;div class="app-group"&gt;

    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;Attribute: min=0 max=50 step=5.&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;gln-input formControlName="model04a"
        wdFull
        [label]="!formGroup04.controls['model04a']['value']
          ?'Enter number':'Number'"
        type="number"
        [step]="5"
        [min]="0"
        [max]="50"
        [helperText]="!formGroup04.controls['model04a']['value']
          ?'Enter your number value.'
          :'The value is entered.'"
        [exterior]="exterior04"&gt;
      &lt;/gln-input&gt;
    &lt;/div&gt;

    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;Attribute: pattern="^[0-9]+$".&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;gln-input formControlName="model04b"
        wdFull
        [label]="formGroup04.controls['model04b']['errors']
          ?'Error'
          :(!formGroup04.controls['model04b']['value']
            ?'Enter number':'Number')"
        type="text"
        pattern="^[0-9]+$"
        [helperText]="formGroup04.controls['model04b']['errors']
          ?'The value is not correct.'
          :(!formGroup04.controls['model04b']['value']
            ?'Enter your number value.'
            :'The value is correct.')"
        [exterior]="exterior04"&gt;
      &lt;/gln-input&gt;
    &lt;/div&gt;

    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;Attrib.: glnRegexMatch="/^-?(\d+)$/".&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;gln-input formControlName="model04c"
        wdFull
        [label]="!formGroup04.controls['model04c']['value']
          ?'Enter number':'Number'"
        glnRegexMatch="/^-?(\d+)$/"
        [helperText]="!formGroup04.controls['model04c']['value']
          ?'Enter your number value.'
          :'The value is correct.'"
        [exterior]="exterior04"&gt;
      &lt;/gln-input&gt;
    &lt;/div&gt;

    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;Attrib.: glnRegexMatch="#numeric".&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;gln-input formControlName="model04d"
        wdFull
        [label]="!formGroup04.controls['model04d']['value']
          ?'Enter number':'Number'"
        glnRegexMatch="#numeric"
        [helperText]="!formGroup04.controls['model04d']['value']
          ?'Enter your number value.'
          :'The value is correct.'"
        [exterior]="exterior04"&gt;
      &lt;/gln-input&gt;
    &lt;/div&gt;

    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;Attrib.: glnRegexMatch="#numeric(,2)".&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;gln-input formControlName="model04e"
        wdFull
        [label]="!formGroup04.controls['model04e']['value']
          ?'Enter number':'Number'"
        glnRegexMatch="#numeric(,2)"
        [helperText]="!formGroup04.controls['model04e']['value']
          ?'Enter your number value.'
          :'The value is correct.'"
        [exterior]="exterior04"&gt;
      &lt;/gln-input&gt;
    &lt;/div&gt;

    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;Attrib.: glnRegexMatch="#numeric(12,2)".&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;gln-input formControlName="model04f"
        wdFull
        [label]="!formGroup04.controls['model04f']['value']
          ?'Enter number':'Number'"
        glnRegexMatch="#numeric(12,2)"
        [helperText]="!formGroup04.controls['model04f']['value']
          ?'Enter your number value.'
          :'The value is correct.'"
        [exterior]="exterior04"&gt;
      &lt;/gln-input&gt;
    &lt;/div&gt;

    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;Attrib.: glnRegexMatch="^[\ ,\d,a-z]+$"&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;gln-input formControlName="model04g"
        wdFull
        [label]="!formGroup04.controls['model04g']['value']
          ?'Enter number':'Number'"
        glnRegexMatch="^[\ ,\d,a-z]+$"
        [helperText]="!formGroup04.controls['model04g']['value']
          ?'Enter your number value.'
          :'The value is correct.'"
        [exterior]="exterior04"&gt;
      &lt;/gln-input&gt;
    &lt;/div&gt;

  &lt;/div&gt;

&lt;/form&gt;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelTs">
          <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';
import &#123;
  FormControl, FormGroup, Validators
&#125; from '@angular/forms';

@Component(&#123;
  selector: 'app-input',
  templateUrl: './input.component.html',
  styleUrls: ['./input.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class InputComponent &#123;
  public formGroup04: FormGroup = new FormGroup(&#123;
    model04a: new FormControl('', []),
    model04b: new FormControl('', []),
    model04c: new FormControl('', []),
    model04d: new FormControl('-12345678901234567890', []),
    model04e: new FormControl('12345678901234567890.12', []),
    model04f: new FormControl('123456789012.12', []),
    model04g: new FormControl('between 3 and 6', []),
  &#125;);
  public exterior04 = 'outlined';
&#125;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelCss">
          <code><pre source="css">
.app-group &#123;
  display: flex;
  flex-wrap: wrap;
&#125;
.app-elem &#123;
  min-width: 26ch;
  margin: 10px 10px;
&#125;</pre></code>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
</section>