/*# sourceURL=textarea-ornaments.component.scss */

app-textarea-ornaments {
  display: block;

  .to-elem {
    width: 26ch;
  }

  .to-pd-hor {
    padding-left: 8px;
    padding-right: 8px;
  }
  .to-btn {
    outline: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
    cursor: pointer;
    user-select: none;
    border-radius: 50%;
    background-color: transparent;
  }
  .to-uncode {
    font-size: 20px;
    padding-top: 6px;
    padding-bottom: 6px;
  }
}
