<section mr-vr>
  <h3>Ornaments for the textarea.</h3>
  <p>
    It is possible to add a different ornament (picture or text) for the input line.
    It will appear as a prefix or suffix for the input string.
    You can define the reaction to pressing an element of the ornament.
    <br />To add a prefix, you need to add a tag with the "grnOrnamentLf" attribute inside the
    "grn-input" tag. (&lt;span grnOrnamentLf&gt;kg&lt;/span&gt;)
    <br />To add a suffix, you need to add a tag with the "grnOrnamentRg" attribute inside the
    "grn-input" tag.
    (&lt;span grnOrnamentRg&gt;cm&lt;/span&gt;)
    <br />
    Adding a prefix or suffix does not disable legend animation for that input field.
  </p>

</section>

<section mr-vr>
  <span>exterior: </span>
  <mat-button-toggle-group [(ngModel)]="exterior05">
    <mat-button-toggle value="outlined">{{ labelOutlined }}</mat-button-toggle>
    <mat-button-toggle value="underline">{{ labelUnderline }}</mat-button-toggle>
    <mat-button-toggle value="standard">{{ labelStandard }}</mat-button-toggle>
  </mat-button-toggle-group>
</section>

<form class="io-ornament"
  [formGroup]="formGroup05"
  novalidate
  autocomplete="off">

  <div class="app-group">

    <div class="app-elem to-elem">
      <div>
        <small>
          <em>Section: "grnOrnamentLf" + text.</em>
        </small>
      </div>
      <grn-textarea formControlName="input05a"
        label="Enter the mass"
        [cntRows]="2"
        helperText="The field must have a value."
        [exterior]="exterior05"
        [ornamLfAlign]="'baseline'">
        <span grnOrnamentLf
          class="to-pd-hor">kg</span>
      </grn-textarea>
    </div>

    <div class="app-elem to-elem">
      <div>
        <small>
          <em>Section: "grnOrnamentRg" + text.</em>
        </small>
      </div>
      <grn-textarea formControlName="input05b"
        label="Enter the height"
        [cntRows]="2"
        helperText="The field must have a value."
        [exterior]="exterior05"
        [config]="configBaseline">
        <span grnOrnamentRg
          class="to-pd-hor">cm</span>
      </grn-textarea>
    </div>

    <div class="app-elem to-elem">
      <div>
        <small>
          <em>Section: "grnOrnamentLf" + uncode.</em>
        </small>
      </div>
      <grn-textarea formControlName="input05c"
        label="Enter text value"
        [cntRows]="2"
        helperText="The field must have a value."
        [exterior]="exterior05"
        [ornamLfAlign]="'baseline'">
        <button grnOrnamentLf
          class="to-btn to-uncode"
          (click)="isBtnEye05c=!isBtnEye05c">
          <span>{{ isBtnEye05c ? '&#128153;': '&#128154;' }}</span>
        </button>
      </grn-textarea>
    </div>

    <div class="app-elem to-elem">
      <div>
        <small>
          <em>Section: "grnOrnamentRg" + uncode.</em>
        </small>
      </div>
      <grn-textarea formControlName="input05d"
        label="Enter text value"
        [cntRows]="2"
        helperText="The field must have a value."
        [exterior]="exterior05"
        [config]="configBaseline">
        <button grnOrnamentRg
          class="to-btn to-uncode"
          (click)="isBtnEye05d=!isBtnEye05d">
          <span>{{ isBtnEye05d ? '&#129505;': '&#128156;' }}</span>
        </button>
      </grn-textarea>
    </div>

  </div>

</form>

<section mr-vr>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="labelHtml">
          <code><pre source="html">
&lt;form class="io-ornament"
  [formGroup]="formGroup05"
  novalidate
  autocomplete="off"&gt;

  &lt;div class="app-group"&gt;

    &lt;div class="app-elem to-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;Section: "grnOrnamentLf" + text.&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;grn-textarea formControlName="input05a"
        label="Enter the mass"
        [cntRows]="2"
        helperText="The field must have a value."
        [exterior]="exterior05"
        [ornamLfAlign]="'baseline'"&gt;
        &lt;span grnOrnamentLf
          class="to-pd-hor"&gt;kg&lt;/span&gt;
      &lt;/grn-textarea&gt;
    &lt;/div&gt;

    &lt;div class="app-elem to-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;Section: "grnOrnamentRg" + text.&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;grn-textarea formControlName="input05b"
        label="Enter the height"
        [cntRows]="2"
        helperText="The field must have a value."
        [exterior]="exterior05"
        [config]="configBaseline"&gt;
        &lt;span grnOrnamentRg
          class="to-pd-hor"&gt;cm&lt;/span&gt;
      &lt;/grn-textarea&gt;
    &lt;/div&gt;

    &lt;div class="app-elem to-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;Section: "grnOrnamentLf" + uncode.&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;grn-textarea formControlName="input05c"
        label="Enter text value"
        [cntRows]="2"
        helperText="The field must have a value."
        [exterior]="exterior05"
        [ornamLfAlign]="'baseline'"&gt;
        &lt;button grnOrnamentLf
          class="to-btn to-uncode"
          (click)="isBtnEye05c=!isBtnEye05c"&gt;
          &lt;span&gt;<b>&#123;</b>&#123; isBtnEye05c ? '&amp;#128153;': '&amp;#128154;' &#125;&#125;&lt;/span&gt;
        &lt;/button&gt;
      &lt;/grn-textarea&gt;
    &lt;/div&gt;

    &lt;div class="app-elem to-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;Section: "grnOrnamentRg" + uncode.&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;grn-textarea formControlName="input05d"
        label="Enter text value"
        [cntRows]="2"
        helperText="The field must have a value."
        [exterior]="exterior05"
        [config]="configBaseline"&gt;
        &lt;button grnOrnamentRg
          class="to-btn to-uncode"
          (click)="isBtnEye05d=!isBtnEye05d"&gt;
          &lt;span&gt;<b>&#123;</b>&#123; isBtnEye05d ? '&amp;#129505;': '&amp;#128156;' &#125;&#125;&lt;/span&gt;
        &lt;/button&gt;
      &lt;/grn-textarea&gt;
    &lt;/div&gt;

  &lt;/div&gt;

&lt;/form&gt;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelTs">
          <code><pre source="ts">
import &#123; ChangeDetectionStrategy, Component, Input, ViewEncapsulation &#125; from '@angular/core';
import &#123; FormControl, FormGroup &#125; from '@angular/forms';
import &#123; GrnFrameInputConfig &#125; from 'projects/lib-geranium/src/lib/interfaces/grn-frame-input-config.interface';
import &#123; OrnamAlign &#125; from 'projects/lib-geranium/src/lib/interfaces/ornam-align.interface';

@Component(&#123;
  selector: 'app-input',
  templateUrl: './input.component.html',
  styleUrls: ['./input.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class TextareaComponent &#123;
  public controls05 = &#123;
    input05a: new FormControl('', []),
    input05b: new FormControl('First line\nSecond line', []),
    input05c: new FormControl('', []),
    input05d: new FormControl('', []),
  &#125;;
  public formGroup05: FormGroup = new FormGroup(this.controls05);
  public exterior05 = 'outlined';
  public isBtnEye05c = false;
  public isBtnEye05d = false;

  constructor() &#123;&#125;
  public configBaseline: GrnFrameInputConfig = &#123;
    ornamRgAlign: OrnamAlign.baseline,
  &#125;;
&#125;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelCss">
          <code><pre source="css">
.app-group &#123;
  display: flex;
  flex-wrap: wrap;
&#125;
.app-elem &#123;
  min-width: 26ch;
  margin: 10px 10px;
&#125;
.to-elem &#123;
  width: 26ch;
&#125;
.to-pd-hor &#123;
  padding-left: 8px;
  padding-right: 8px;
&#125;
.to-btn &#123;
  outline: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
  cursor: pointer;
  user-select: none;
  border-radius: 50%;
  background-color: transparent;
&#125;
.to-uncode &#123;
  font-size: 20px;
  padding-top: 6px;
  padding-bottom: 6px;
&#125;</pre></code>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
</section>