<section mr-vr>
  <h3>Ornaments for the textarea.</h3>
</section>

<section mr-vr>
  <span>exterior: </span>
  <mat-button-toggle-group [(ngModel)]="exterior05">
    <mat-button-toggle value="outlined">{{ labelOutlined }}</mat-button-toggle>
    <mat-button-toggle value="underline">{{ labelUnderline }}</mat-button-toggle>
    <mat-button-toggle value="standard">{{ labelStandard }}</mat-button-toggle>
  </mat-button-toggle-group>
</section>

<section mr-vr>
  <input type="checkbox"
    [(ngModel)]="isConfig" />
  isConfig={{isConfig}}
</section>


<form class="io-ornament"
  [formGroup]="formGroup05"
  novalidate
  autocomplete="off">

  <div class="app-group">

    <div class="app-elem io-elem">
      <div>
        <small>
          <em>Section: "grnOrnament" + text.</em>
        </small>
      </div>
      <grn-textarea formControlName="input05a"
        label="Enter the mass"
        [cntRows]="1"
        [config]="!isConfig ? null : config"
        exterior9="exterior05"
        frameSize9="'middle'"
        helperText="The value is greater than zero.">
        <span grnOrnament9
          class="io-pd-8">kg</span>
      </grn-textarea>
    </div>

    <!-- <div class="app-elem io-elem">
      <div>
        <small>
          <em>Section: "grnOrnamentEnd" + text.</em>
        </small>
      </div>
      <grn-textarea formControlName="input05b"
        label="Enter the height"
        [cntRows]="2"
        [config]="!isConfig ? null : config"
        exterior9="exterior05"
        frameSize9="'middle'"
        helperText="The value is greater than zero.">
        <span grnOrnamentEnd9
          class="io-pd-8">см</span>
      </grn-textarea>
    </div> -->

  </div>

</form>