/*# sourceURL=select-palette.component.scss */

app-select-palette {
  display: block;

  .sp-palette-gamma {

    // "default" color;
    --gln-gamma-default-h: 231;
    --gln-gamma-default-s: 23%;
    --gln-gamma-default-l: 55%;
    --gln-gamma-default-cl: hsl(var(--gln-gamma-default-h), var(--gln-gamma-default-s), var(--gln-gamma-default-l));
    --glnfr-def-lb-cl: hsl(var(--gln-gamma-default-h), var(--gln-gamma-default-s), 50%);
    --glnfr-hov-br-cl: var(--gln-gamma-default-cl);
    --glnfr-hov-brb-bf: var(--gln-gamma-default-cl);

    // "primary" color;
    --gln-gamma-primary-h: 186;
    --gln-gamma-primary-s: 51%;
    --gln-gamma-primary-l: 50%;
    --gln-gamma-primary-cl: hsl(var(--gln-gamma-primary-h), var(--gln-gamma-primary-s), var(--gln-gamma-primary-l));

    // "danger" color;
    --gln-gamma-danger-h: 320;
    --gln-gamma-danger-s: 70%;
    --gln-gamma-danger-l: 50%;
    --gln-gamma-danger-cl: hsl(var(--gln-gamma-danger-h), var(--gln-gamma-danger-s), var(--gln-gamma-danger-l));
    --glnfr-err-lb-cl: hsl(var(--gln-gamma-danger-h), var(--gln-gamma-danger-s), 60%);
    --glnfr-err-br-cl: hsl(var(--gln-gamma-danger-h), var(--gln-gamma-danger-s), 70%);
    --glnfr-err-brb-bf: hsl(var(--gln-gamma-danger-h), var(--gln-gamma-danger-s), 70%);
  }
}
