<section mr-vr>
  <h3>Attributes</h3>
  <p>The following attributes are supported:</p>
  <ul>
    <li>"id" - parameter for defining the unique identifier of the field
      (id="unique_identifier");</li>
    <li>"isReadOnly" - a sign that the field is read-only (isReadOnly);</li>
    <li>"isRequired" - a sign that the field is required (isRequired);</li>
    <li>"isDisabled" - a sign that the field is disabled (isDisabled);</li>
    <li>"lbShrink" - a sign that the field has a permanent label,
      without being converted to a placeholder (lbShrink);</li>
    <li>"hiddenLabel" - a sign that the field has no label at all (hiddenLabel);</li>
    <li>"helperText" - the parameter is used to provide context for a given
      field or error message (helperText="Enter value");</li>
    <li>"isError" - a sign that the field is in error (isError);</li>
    <li>"minLength" - sets the minimum field length;<br />
      <code>
        [minLength]="2" or min02=4; [minLength]="min02"
      </code>
    </li>
    <li>"maxLength" - sets the maximum field length;<br />
      <code>
        [maxLength]="2" or max02=4; [maxLength]="max02"
      </code>
    </li>
  </ul>
  <p>
    For clarity, two visible lines of the text area are indicated.<br />
    <code>
      [cntRows]="2" or [cntRows]="cntRows"
    </code>
  </p>
</section>

<section mr-vr>
  <span>exterior: </span>
  <mat-button-toggle-group [(ngModel)]="exterior02">
    <mat-button-toggle value="outlined">{{ labelOutlined }}</mat-button-toggle>
    <mat-button-toggle value="underline">{{ labelUnderline }}</mat-button-toggle>
    <mat-button-toggle value="standard">{{ labelStandard }}</mat-button-toggle>
  </mat-button-toggle-group>
</section>

<form [formGroup]="formGroup02"
  novalidate
  autocomplete="off">

  <div class="app-group">

    <div class="app-elem">
      <div>
        <small>
          <em>State: empty.</em>
        </small>
      </div>
      <grn-textarea formControlName="input02a"
        id="unique_identifier"
        label="Enter value"
        [cntRows]="2"
        [exterior]="exterior02">
      </grn-textarea>
    </div>

    <div class="app-elem">
      <div>
        <small>
          <em>Attributes: isRequired, helperText.</em>
        </small>
      </div>
      <grn-textarea formControlName="input02b"
        label="Required field"
        [cntRows]="cntRows"
        isRequired
        helperText="A value must be entered."
        [exterior]="exterior02">
      </grn-textarea>
    </div>

    <div class="app-elem">
      <div>
        <small>
          <em>Attribute: isReadOnly.</em>
        </small>
      </div>
      <grn-textarea formControlName="input02c"
        label="Read Only"
        [cntRows]="cntRows"
        isReadOnly
        helperText="The parameter is read only."
        [exterior]="exterior02">
      </grn-textarea>
    </div>

    <div class="app-elem">
      <div>
        <small>
          <em>Attribute: isDisabled.</em>
        </small>
      </div>
      <grn-textarea formControlName="input02d"
        label="Disabled"
        [cntRows]="cntRows"
        isDisabled
        helperText="The parameter is disabled."
        [exterior]="exterior02">
      </grn-textarea>
    </div>

    <div class="app-elem">
      <div>
        <small>
          <em>Attribute: lbShrink.</em>
        </small>
      </div>
      <grn-textarea formControlName="input02e"
        label="Permanent label"
        [cntRows]="cntRows"
        lbShrink
        helperText="The position of the label is fixed."
        [exterior]="exterior02">
      </grn-textarea>
    </div>

    <div class="app-elem">
      <div>
        <small>
          <em>Attribute: hiddenLabel.</em>
        </small>
      </div>
      <grn-textarea formControlName="input02f"
        label="hiddenLabel"
        hiddenLabel
        [cntRows]="cntRows"
        helperText="The label is not displayed."
        [exterior]="exterior02">
      </grn-textarea>
    </div>

  </div>

</form>

<section mr-vr>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="labelHtml">
          <pre source="html">
&lt;form [formGroup]="formGroup02"
  novalidate
  autocomplete="off"&gt;

  &lt;div class="app-group"&gt;

    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;State: empty.&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;grn-textarea formControlName="input02a"
        id="unique_identifier"
        label="Enter value"
        [cntRows]="2"
        [exterior]="exterior02"&gt;
      &lt;/grn-textarea&gt;
    &lt;/div&gt;

    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;Attributes: isRequired, helperText.&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;grn-textarea formControlName="input02b"
        label="Required field"
        [cntRows]="cntRows"
        isRequired
        helperText="A value must be entered."
        [exterior]="exterior02"&gt;
      &lt;/grn-textarea&gt;
    &lt;/div&gt;

    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;Attribute: isReadOnly.&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;grn-textarea formControlName="input02c"
        label="Read Only"
        [cntRows]="cntRows"
        isReadOnly
        helperText="The parameter is read only."
        [exterior]="exterior02"&gt;
      &lt;/grn-textarea&gt;
    &lt;/div&gt;

    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;Attribute: isDisabled.&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;grn-textarea formControlName="input02d"
        label="Disabled"
        [cntRows]="cntRows"
        isDisabled
        helperText="The parameter is disabled."
        [exterior]="exterior02"&gt;
      &lt;/grn-textarea&gt;
    &lt;/div&gt;

    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;Attribute: lbShrink.&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;grn-textarea formControlName="input02e"
        label="Permanent label"
        [cntRows]="cntRows"
        lbShrink
        helperText="The position of the label is fixed."
        [exterior]="exterior02"&gt;
      &lt;/grn-textarea&gt;
    &lt;/div&gt;

    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;Attribute: hiddenLabel.&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;grn-textarea formControlName="input02f"
        label="hiddenLabel"
        hiddenLabel
        [cntRows]="cntRows"
        helperText="The label is not displayed."
        [exterior]="exterior02"&gt;
      &lt;/grn-textarea&gt;
    &lt;/div&gt;

  &lt;/div&gt;

&lt;/form&gt;</pre>
        </mat-tab>
        <mat-tab [label]="labelTs">
          <pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';
import &#123;
  FormControl, FormGroup, Validators
&#125; from '@angular/forms';

@Component(&#123;
  selector: 'app-textarea',
  templateUrl: './textarea.component.html',
  styleUrls: ['./textarea.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class TextareaComponent &#123;
  public formGroup02: FormGroup = new FormGroup(&#123;
    input02a: new FormControl('', []),
    input02b: new FormControl('Hello World'
      , [Validators.required]),
    input02c: new FormControl('Hello World', []),
    input02d: new FormControl('Hello World', []),
    input02e: new FormControl('', []),
    input02f: new FormControl('Hello World', []),
  &#125;);
  public exterior02 = 'outlined';
  public cntRows = 2;
&#125;</pre>
        </mat-tab>
        <mat-tab [label]="labelCss">
          <pre source="css">
.app-group &#123;
  display: flex;
  flex-wrap: wrap;
&#125;             
.app-elem &#123;
  min-width: 26ch;
  margin: 10px 10px;
&#125;</pre>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
</section>