<div class="in-section">
  <h3>Attributes</h3>
  <p>The following attributes are supported:</p>
  <ul>
    <li>"id" - parameter for defining the unique identifier of the field;</li>
    <li>"isReadOnly" - a sign that the field is read-only;</li>
    <li>"isRequired" - a sign that the field is required;</li>
    <li>"isDisabled" - a sign that the field is disabled;</li>
    <li>"lbShrink" - a sign that the field has a permanent label,
      without being converted to a placeholder;</li>
    <li>"hiddenLabel" - a sign that the field has no label at all;</li>
    <li>"helperText" - the parameter is used to provide context for a given
      field or error message;</li>
    <li>"isError" - a sign that the field is in error;</li>
    <li>"minLength" - sets the minimum field length;
      <pre class="fw-nr">
( minLength="2", min02=4; minLength="<b>&#123;</b>&#123;min02&#125;&#125;" [minLength]="''+min02" )</pre>
    </li>
    <li>"maxLength" - sets the maximum field length;
      <pre class="fw-nr">
( maxLength="2", max02=4; maxLength="<b>&#123;</b>&#123;max02&#125;&#125;" [maxLength]="''+max02" )</pre>
    </li>
    <li>"cntRows" - sets the number of lines that, when multiplied by the line
      height, determine the total height. If not specified, the height is
      determined by the number of lines in the text.
    </li>
    <li>"minRows" - sets the number of lines that, when multiplied by the line
      height, determine the min height. Active if there is no "cntRows".
    </li>
    <li>"maxRows" - sets the number of lines that, when multiplied by the line
      height, determine the max height. Active if there is no "cntRows".
    </li>
  </ul>
</div>

<div class="in-section">
  <span>exterior: </span>
  <mat-button-toggle-group [(ngModel)]="exterior02"
    aria-label="Font Style">
    <mat-button-toggle value="outlined">{{ labelOutlined }}</mat-button-toggle>
    <mat-button-toggle value="underline">{{ labelUnderline }}</mat-button-toggle>
    <mat-button-toggle value="standard">{{ labelStandard }}</mat-button-toggle>
  </mat-button-toggle-group>
</div>

<form class="in-section"
  [formGroup]="formGroup02"
  novalidate
  autocomplete="off">

  <div class="ta-group">

    <div>
      <div class="ta-item taa-text">
        State: empty and attribute: cntRows=2.
      </div>
      <grn-textarea class="ta-item"
        formControlName="input02a"
        id="unique_identifier"
        label="Enter value"
        cntRows="2"
        [exterior]="exterior02">
      </grn-textarea>
    </div>

    <div>
      <div class="ta-item taa-text">
        Attribute: isRequired.
      </div>
      <grn-textarea class="ta-item"
        formControlName="input02b"
        id="unique_identifier"
        label="Required"
        isRequired
        cntRows="2"
        [exterior]="exterior02">
      </grn-textarea>
    </div>
  </div>

  <div class="ta-group">
    <div>
      <div class="ta-item taa-text">
        Attribute: lbShrink.
      </div>
      <grn-textarea class="ta-item"
        formControlName="input02c"
        label="Permanent label"
        lbShrink
        cntRows="2"
        [exterior]="exterior02">
      </grn-textarea>
    </div>

    <div>
      <div class="ta-item taa-text">
        Attribute: hiddenLabel.
      </div>
      <grn-textarea class="ta-item"
        formControlName="input02d"
        label="hiddenLabel"
        hiddenLabel
        cntRows="2"
        [exterior]="exterior02">
      </grn-textarea>
    </div>
  </div>

  <div class="ta-group">
    <div>
      <div class="ta-item taa-text">
        Attribute: isReadOnly.
      </div>
      <grn-textarea class="ta-item"
        formControlName="input02e"
        label="Read Only"
        isReadOnly
        cntRows="2"
        [exterior]="exterior02">
      </grn-textarea>
    </div>

    <div>
      <div class="ta-item taa-text">
        Attribute: isDisabled.
      </div>
      <grn-textarea class="ta-item"
        formControlName="input02f"
        label="Disabled"
        isDisabled
        helperText="The parameter is disabled."
        cntRows="2"
        [exterior]="exterior02">
      </grn-textarea>
    </div>
  </div>

  <div class="ta-group">
    <div>
      <div class="ta-item taa-text">
        Attribute: helperText.
      </div>
      <grn-textarea class="ta-item"
        formControlName="input02g"
        label="Helper text"
        helperText="The parameter value must be entered."
        cntRows="2"
        [exterior]="exterior02">
      </grn-textarea>
    </div>

    <div>
      <div class="ta-item taa-text">
        Attribute: isError.
      </div>
      <grn-textarea class="ta-item"
        formControlName="input02h"
        [label]="!controls02.input02h.value ? 'Requires a value':'Parameter value'"
        cntRows="2"
        [isError]="!controls02.input02h.value ? '':null"
        [helperText]="!controls02.input02h.value
          ? 'The field is not filled.': 'The field is filled.'"
        [exterior]="exterior02">
      </grn-textarea>
    </div>
  </div>

  <div class="ta-group">
    <div>
      <div class="ta-item taa-text">
        Attribute: isRequired, minLength.
      </div>
      <grn-textarea class="ta-item"
        formControlName="input02i"
        [label]="controls02.input02i.errors ? 'Error':'Value'"
        cntRows="2"
        isRequired
        minLength="{{minLength02}}"
        helperText="{{(controls02.input02i.errors?.required ?
          'Required field.':
          (controls02.input02i.errors?.minlength ?
            'Minimum length ' + controls02.input02i.errors?.minlength.requiredLength
            + ' characters.':'Enter value.'
          )
        )}}"
        [exterior]="exterior02">
      </grn-textarea>
    </div>

    <div>
      <div class="ta-item taa-text">Attribute: isError + isDisabled.</div>
      <grn-textarea class="ta-item"
        formControlName="input02j"
        label="Error-Disabled"
        isReadOnly
        cntRows="2"
        isError
        isDisabled
        helperText="The parameter is disabled."
        [exterior]="exterior02">
      </grn-textarea>
    </div>
  </div>

  <div class="ta-group">
    <div>
      <div class="ta-item taa-text">
        Height by number of lines.
      </div>
      <grn-textarea class="ta-item"
        formControlName="input02k"
        label="Parameter value"
        helperText="Height by number of lines."
        [exterior]="exterior02">
      </grn-textarea>
    </div>

    <div>
      <div class="ta-item taa-text">
        Height: min = 2 max = 6.
      </div>
      <grn-textarea class="ta-item"
        formControlName="input02l"
        label="Parameter value"
        minRows="2"
        maxRows="6"
        helperText="Height: min = 2 max = 6."
        [exterior]="exterior02">
      </grn-textarea>
    </div>
  </div>

</form>

<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
    </mat-expansion-panel-header>
    <mat-tab-group animationDuration="0ms">
      <mat-tab [label]="labelHtml">
        <pre>
&lt;form [formGroup]="formGroup02" novalidate autocomplete="off"&gt;


&lt;/form&gt;</pre>
      </mat-tab>
      <mat-tab [label]="labelTs">
        <pre>
import &#123; Component, ViewEncapsulation &#125; from '@angular/core';
import &#123; FormControl, FormGroup, Validators &#125; from '@angular/forms';

@Component(&#123;
  selector: 'app-input',
  templateUrl: './input.component.html',
  styleUrls: ['./input.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class InputComponent &#123;
  public formGroup02: FormGroup = new FormGroup(&#123;
    input02a: new FormControl('Hello World', [Validators.required]),
    input02b: new FormControl('Hello World', []),
    input02c: new FormControl('', []),
    input02d: new FormControl('Hello World', []),
    input02e: new FormControl('', []),
    input02f: new FormControl('Hello World', []),
    input02g: new FormControl('Hello World', []),
  &#125;);
  public exterior02 = 'outlined';
&#125;</pre>
      </mat-tab>
      <mat-tab [label]="labelCss">
        <pre>
.in-item &#123;
  width: 240px;
  margin: 10px 10px;
&#125;</pre>
      </mat-tab>
    </mat-tab-group>
  </mat-expansion-panel>
</mat-accordion>