<h3>Component: "GlnInput"</h3>

<div *ngIf="!showNum || showNum==='01'"
  id="Basic">
  <app-input-basic></app-input-basic>
  <hr br-tp>
</div>

<div *ngIf="!showNum || showNum==='02'"
  id="Attributes">
  <app-input-attributes></app-input-attributes>
  <hr br-tp>
</div>

<div *ngIf="!showNum || showNum==='03'"
  id="Validation">
  <app-input-validation></app-input-validation>
  <hr br-tp>
</div>

<div *ngIf="!showNum || showNum==='04'"
  id="NumericalValue">
  <app-input-numerical></app-input-numerical>
  <hr br-tp>
</div>

<div *ngIf="!showNum || showNum==='05'"
  id="Ornaments">
  <app-input-ornaments></app-input-ornaments>
  <hr br-tp>
</div>

<section mr-vr
  *ngIf="!showNum"
  id="ItemSize">
  <h3>Item Size</h3>
  <p>
    The <a [href]="urlFrame + '#FrameSize'">"GlnFrame#FrameSize"</a>
    page shows you how to resize an element.
  </p>
  <hr br-tp>
</section>

<section mr-vr
  *ngIf="!showNum"
  id="HelperText">
  <h3>Helper text</h3>
  <p>
    The <a [href]="urlFrame + '#HelperText'">"GlnFrame#HelperText"</a>
    page shows you how to effectively use the helperText property.
  </p>
  <hr br-tp>
</section>

<section mr-vr
  *ngIf="!showNum"
  id="BorderRadius">
  <h3>Border Radius</h3>
  <p>
    The <a [href]="urlFrame + '#BorderRadius'">"GlnFrame#BorderRadius"</a>
    page shows you how to change the rounding radius of an element.
  </p>
  <hr br-tp>
</section>

<section mr-vr
  *ngIf="!showNum"
  id="Palette">
  <h3>Palette</h3>
  <p>
    The <a [href]="urlFrame + '#Palette'">"GlnFrame#Palette"</a>
    page shows you how to change the color palette of an element.
  </p>
  <hr br-tp>
</section>

<div *ngIf="!showNum || showNum==='06'"
  id="Api">
  <app-input-api></app-input-api>
  <hr br-tp>
</div>

<br />
<br />