/*# sourceURL=frame-input-palette.component.scss */

app-frame-input-palette {
  display: block;

  .fip-specific .Grn-palette {
    --fip-default-color: #00acc1;
    --fip-error-color: #ad1457;
    --fip-error-hover-color: #f06292;
    --fip-focused-color: #0097a7;

    --fip-label-default-color: #5c6bc0;
    --fip-label-disabled-color: #9c27b0;

    --fip-outlined-default-brd-color: #5c6bc0;

    --fip-underline-default-bg-color: rgba(178, 235, 242, 0.6);
    --fip-underline-focused-bg-color: rgba(178, 235, 242, 0.4);
    --fip-underline-disabled-bg-color: rgba(178, 235, 242, 0.2);

    --fip-substrate-before-brd-color: rgba(101, 1, 151, 0.9);
  }

  .fip-specific .gfi-label.gfi-default {
    color: var(--fip-label-default-color);
  }
  .fip-specific .gfi-label.gfi-error:not(.gfi-hover) {
    color: var(--fip-error-color);
  }
  .fip-specific .gfi-label.gfi-hover.gfi-error {
    color: var(--fip-error-hover-color);
  }
  .fip-specific .gfi-label.gfi-hover:not(.gfi-error) {
    color: var(--fip-default-color);
  }
  .fip-specific .gfi-label.gfi-focused:not(.gfi-error) {
    color: var(--fip-focused-color);
  }
  .fip-specific .gfi-label.gfi-disabled:not(.gfi-error) {
    color: var(--fip-label-disabled-color);
  }

  .fip-specific .gfi-fieldset.gfi-default {
    border-color: var(--fip-outlined-default-brd-color);
  }
  .fip-specific .gfi-fieldset.gfi-error:not(.gfi-hover) {
    border-color: var(--fip-error-color);
  }
  .fip-specific .gfi-fieldset.gfi-hover.gfi-error {
    border-color: var(--fip-error-hover-color);
  }
  .fip-specific .gfi-fieldset.gfi-hover:not(.gfi-error) {
    border-color: var(--fip-default-color);
  }
  .fip-specific .gfi-fieldset.gfi-focused:not(.gfi-error) {
    border-color: var(--fip-focused-color);
  }
  .fip-specific .gfi-fieldset.gfi-disabled:not(.gfi-error) {
    border-color: var(--fip-label-disabled-color);
  }
  
  .fip-specific .Grn-palette .p-u-def-bg-cl {
    background-color: var(--fip-underline-default-bg-color);
  }
  .fip-specific .Grn-palette .p-u-err-bg-cl {
    background-color: var(--fip-underline-default-bg-color);
  }
  .fip-specific .Grn-palette .p-u-hov-err-bg-cl {
    background-color: var(--fip-underline-focused-bg-color);
  }
  .fip-specific .Grn-palette .p-u-hov-bg-cl {
    background-color: var(--fip-underline-focused-bg-color);
  }
  .fip-specific .Grn-palette .p-u-foc-bg-cl {
    background-color: var(--fip-underline-focused-bg-color);
  }
  .fip-specific .Grn-palette .p-u-dis-bg-cl {
    background-color: var(--fip-underline-disabled-bg-color);
  }

  .fip-specific .Grn-palette .gfi-su-pal-def-br-cl:before {
    border-bottom-color: var(--fip-substrate-before-brd-color);
  }
  .fip-specific .Grn-palette .gfi-su-pal-err-br-cl:before {
    border-bottom-color: var(--fip-error-color);
  }
  .fip-specific .Grn-palette .gfi-su-pal-err-br-cl:after {
    border-bottom-color: var(--fip-error-color);
  }
  .fip-specific .Grn-palette .gfi-su-pal-hov-err-br-cl:before {
    border-bottom-color: var(--fip-error-hover-color);
  }
  .fip-specific .Grn-palette .gfi-su-pal-hov-br-cl:before {
    border-bottom-color: var(--fip-default-color);
  }
  .fip-specific .Grn-palette .gfi-su-pal-foc-br-cl:after {
    border-bottom-color: var(--fip-focused-color);
  }
  .fip-specific .Grn-palette .gfi-su-pal-dis-br-cl:before {
    border-bottom-color: var(--fip-substrate-before-brd-color);
  }



  .fip-bstrap {
    color: #495057;
  }
  .fip-bstrap .Grn-palette {
    --g-err-cl: #dc3545;
    --g-hov-err-cl: #dc3545;
    --g-foc-cl: #80bdff;
    --g-o-def-br-cl: #ced4da;
  }
  .fip-bstrap .gfi-fieldset.gfi-hover:not(.gfi-error) {
    border-color: var(--g-o-def-br-cl);
  }
  .fip-bstrap .gfi-fieldset.gfi-focused {
    border-width: 1px;
  }
  // .fip-bstrap .gfi-fieldset.gfi-focused.p -o-err-br-cl  // .p -o-err-br-cl - .gfi-fieldset.gfi-error:not(.gfi-hover)
  .fip-bstrap .gfi-fieldset.gfi-focused.gfi-error {
    box-shadow: 0 0 0 0.2rem rgb(220 53 69 / 25%);
  }
  .fip-bstrap .gfi-fieldset.gfi-focused:not(.gfi-error) {
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
  }
  .fip-bstrap .gfi-o-frm.gfi-disabled {
    background-color: #e9ecef;
    opacity: 1;
  }
  .fip-bstrap .gi-input.gfi-error {
    padding-right: 1.4em;
    background-image: url("data:image/svg+xml,"
    + "<svg xmlns='http://www.w3.org/2000/svg' width='12' "
    + "height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'>"
    + "<circle cx='6' cy='6' r='4.5'/>"
    + "<path stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/>"
    + "<circle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/>"
    + "</svg>");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
    margin-right: 3px;
  }
}