<section mr-vr>
  <h3>Basic</h3>
  <p>
    The GrnButton component is a styled button.
    <br />
    It appears in three versions:
  </p>
  <ul>
    <li>as text (btnShape="text" - default)</li>
    <li>as a container (btnShape="contained")</li>
    <li>as an outline (btnShape="outlined")</li>
  </ul>
</section>

<grn-button exterior="contained">
  Contained
</grn-button>

<div>

  <!--<div class="app-group">

    <div class="app-item">
      <grn-button exterior="text">
        <span>Text</span>
      </grn-button>
    </div>

    <div class="app-item">
      <grn-button exterior="contained">
        Contained
      </grn-button>
    </div>

    <div class="app-item">
      <grn-button exterior="outlined">
        <span>Outlined</span>
      </grn-button>
    </div>

  </div>-->

</div>