<section mr-vr>
  <h3>Basic</h3>
  <p>
    The GrnButton component is a styled button.
    <br />
    It comes in three versions:
  </p>
  <ul>
    <li>as a container (exterior="contained")</li>
    <li>as an outline (exterior="outlined")</li>
    <li>as text (exterior="text" - default)</li>
  </ul>
  <p>
    The content of the grnButton component is determined by the content
    between its opening and closing tags.
    This can be a fragment of html elements that will be displayed as
    the content of the button.
    <br />
    Another option, the content of the hyperlink - in this case, the
    hyperlink will remain.
    In practice, there are often situations when a button is displayed
    on the design, but in terms of functionality it is a hyperlink.
    The second option is designed for such situations.
  </p>
</section>

<div class="b-items">

  <grn-button exterior="contained">
    Contained
  </grn-button>

  <grn-button exterior="outlined">
    Outlined
  </grn-button>

  <grn-button exterior="text">
    Text
  </grn-button>

</div>

<section mr-vr>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="labelHtml">
          <code><pre source="html">
&lt;div class="b-items"&gt;

  &lt;grn-button exterior="contained"&gt;
    Contained
  &lt;/grn-button&gt;

  &lt;grn-button exterior="outlined"&gt;
    Outlined
  &lt;/grn-button&gt;

  &lt;grn-button exterior="text"&gt;
    Text
  &lt;/grn-button&gt;

&lt;/div&gt;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelTs">
          <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';

@Component(&#123;
  selector: 'app-button',
  templateUrl: './button.component.html',
  styleUrls: ['./button.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class ButtonComponent &#123;
&#125;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelCss">
          <code><pre source="css">
.b-items &#123;
  display: flex;
  flex-wrap: wrap;
  &amp;&gt;:first-child &#123;
    margin-left: 3%;
  &#125;
  &amp;&gt;:not(first-child) &#123;
    margin-left: 7%;
  &#125;
&#125;</pre></code>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
</section>


<section mr-vr
  [attr.id]="fragment1">
  <h4>Button with "contained" exterior.</h4>
  <p>
    Buttons with the "contained" exterior are for important primary actions.
  </p>
</section>

<div class="b-items">

  <grn-button exterior="contained">
    <span>Primary</span>
  </grn-button>

  <grn-button exterior="contained"
    isDisabled>
    <span>Primary Disabled</span>
  </grn-button>

  <grn-button exterior="contained">
    <a [routerLink]="[routerLink]"
      [fragment]="fragment1">
      Link
    </a>
  </grn-button>

  <grn-button exterior="contained"
    isDisabled>
    <a [routerLink]="[routerLink]"
      [fragment]="fragment1">
      Link Disabled
    </a>
  </grn-button>

</div>

<section mr-vr>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="labelHtml">
          <code><pre source="html">
&lt;div class="b-items"&gt;

  &lt;grn-button exterior="contained"&gt;
    &lt;span&gt;Primary&lt;/span&gt;
  &lt;/grn-button&gt;

  &lt;grn-button exterior="contained"
    isDisabled&gt;
    &lt;span&gt;Primary Disabled&lt;/span&gt;
  &lt;/grn-button&gt;

  &lt;grn-button exterior="contained"&gt;
    &lt;a [routerLink]="[routerLink]"
      [fragment]="fragment1"&gt;
      Link
    &lt;/a&gt;
  &lt;/grn-button&gt;

  &lt;grn-button exterior="contained"
    isDisabled&gt;
    &lt;a [routerLink]="[routerLink]"
      [fragment]="fragment1"&gt;
      Link Disabled
    &lt;/a&gt;
  &lt;/grn-button&gt;

&lt;/div&gt;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelTs">
          <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';

@Component(&#123;
  selector: 'app-button',
  templateUrl: './button.component.html',
  styleUrls: ['./button.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class ButtonComponent &#123;
  public routerLink = '/components/button';
  public fragment1 = 'basic1';
&#125;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelCss">
          <code><pre source="css">
.b-items &#123;
  display: flex;
  flex-wrap: wrap;
  &amp;&gt;:first-child &#123;
    margin-left: 3%;
  &#125;
  &amp;&gt;:not(first-child) &#123;
    margin-left: 7%;
  &#125;
&#125;</pre></code>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
</section>


<section mr-vr
  [attr.id]="fragment2">
  <h4>Button with "outlined" exterior.</h4>
  <p>
    Buttons with the "outlined" exterior are for important secondary actions.
  </p>
</section>

<div class="b-items">

  <grn-button exterior="outlined">
    <span>Secondary</span>
  </grn-button>

  <grn-button exterior="outlined"
    isDisabled>
    <span>Secondary Disabled</span>
  </grn-button>

  <grn-button exterior="outlined">
    <a [routerLink]="[routerLink]"
      [fragment]="fragment2">
      Link
    </a>
  </grn-button>

  <grn-button exterior="outlined"
    isDisabled>
    <a [routerLink]="[routerLink]"
      [fragment]="fragment2">
      Link Disabled
    </a>
  </grn-button>

</div>

<section mr-vr>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="labelHtml">
          <code><pre source="html">
&lt;div class="b-items"&gt;

  &lt;grn-button exterior="outlined"&gt;
    &lt;span&gt;Secondary&lt;/span&gt;
  &lt;/grn-button&gt;

  &lt;grn-button exterior="outlined"
    isDisabled&gt;
    &lt;span&gt;Secondary Disabled&lt;/span&gt;
  &lt;/grn-button&gt;

  &lt;grn-button exterior="outlined"&gt;
    &lt;a [routerLink]="[routerLink]"
      [fragment]="fragment2"&gt;
      Link
    &lt;/a&gt;
  &lt;/grn-button&gt;

  &lt;grn-button exterior="outlined"
    isDisabled&gt;
    &lt;a [routerLink]="[routerLink]"
      [fragment]="fragment2"&gt;
      Link Disabled
    &lt;/a&gt;
  &lt;/grn-button&gt;

&lt;/div&gt;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelTs">
          <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';

@Component(&#123;
  selector: 'app-button',
  templateUrl: './button.component.html',
  styleUrls: ['./button.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class ButtonComponent &#123;
  public routerLink = '/components/button';
  public fragment2 = 'basic2';
&#125;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelCss">
          <code><pre source="css">
.b-items &#123;
  display: flex;
  flex-wrap: wrap;
  &amp;&gt;:first-child &#123;
    margin-left: 3%;
  &#125;
  &amp;&gt;:not(first-child) &#123;
    margin-left: 7%;
  &#125;
&#125;</pre></code>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
</section>


<section mr-vr
  [attr.id]="fragment3">
  <div>
    <h4>Button with "text" exterior.</h4>
    <p>
      Buttons with the "text" exterior are for less important actions.
    </p>
  </div>
</section>

<div class="b-items">

  <grn-button exterior="text">
    <span>Additionally</span>
  </grn-button>

  <grn-button exterior="text"
    isDisabled>
    <span>Additionally Disabled</span>
  </grn-button>

  <grn-button exterior="text">
    <a [routerLink]="[routerLink]"
      [fragment]="fragment3">
      Link
    </a>
  </grn-button>

  <grn-button exterior="text"
    isDisabled>
    <a [routerLink]="[routerLink]"
      [fragment]="fragment3">
      Link Disabled
    </a>
  </grn-button>

</div>


<section mr-vr>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="labelHtml">
          <code><pre source="html">
&lt;div class="b-items"&gt;

  &lt;grn-button exterior="text"&gt;
    &lt;span&gt;Additionally&lt;/span&gt;
  &lt;/grn-button&gt;

  &lt;grn-button exterior="text"
    isDisabled&gt;
    &lt;span&gt;Additionally Disabled&lt;/span&gt;
  &lt;/grn-button&gt;

  &lt;grn-button exterior="text"&gt;
    &lt;a [routerLink]="[routerLink]"
      [fragment]="fragment3"&gt;
      Link
    &lt;/a&gt;
  &lt;/grn-button&gt;

  &lt;grn-button exterior="text"
    isDisabled&gt;
    &lt;a [routerLink]="[routerLink]"
      [fragment]="fragment3"&gt;
      Link Disabled
    &lt;/a&gt;
  &lt;/grn-button&gt;

&lt;/div&gt;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelTs">
          <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';

@Component(&#123;
  selector: 'app-button',
  templateUrl: './button.component.html',
  styleUrls: ['./button.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class ButtonComponent &#123;
  public routerLink = '/components/button';
  public fragment3 = 'basic3';
&#125;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelCss">
          <code><pre source="css">
.b-items &#123;
  display: flex;
  flex-wrap: wrap;
  &amp;&gt;:first-child &#123;
    margin-left: 3%;
  &#125;
  &amp;&gt;:not(first-child) &#123;
    margin-left: 7%;
  &#125;
&#125;</pre></code>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
</section>