<section mr-vr>
  <h4 class="app-hover-link">
    About library.
    <a [href]="urlGdDescription + '#AboutLibrary'">#</a>
  </h4>
  <p>
    This library contains components and directives that allow you to reduce the development
    time of an application in Angular.<br />
    The visual components have a similar style to the "Material UI" components.
    But at the same time, you can also easily customize the display as Bootstrap.<br />
    This guide provides many examples that will help you quickly understand how to use the
    components of this library.
  </p>
</section>

<section mr-vr>
  <h4 class="app-hover-link"
    id="about-library-gln-input">
    Main component GlnInput.
    <a [href]="urlGdDescription + '#about-library-gln-input'">#</a>
  </h4>
  <p>
  <p>
    The GlnInput component is a form control. It includes: label, input and help text.
  </p>
  <span>
    It comes in three versions:
  </span>
  <ul>
    <li>with an outline (exterior="outlined" - default)</li>
    <li>with a fill (exterior="underline")</li>
    <li>standard (exterior="standard")</li>
  </ul>
  <p>
    <a target="_blank"
      rel="noopener noreferrer"
      href="assets/read-me/input1a.png">
      <img src="assets/read-me/input1a.png"
        alt="input1a.png">
    </a>
  </p>
  <p>
    The element's label has an animation and smoothly transitions into a placeholder.
  </p>
  <p>
    This component changes the display color when it is in an error state.
  </p>
  <p>
    <a target="_blank"
      rel="noopener noreferrer"
      href="assets/read-me/input1b_error.png">
      <img src="assets/read-me/input1b_error.png"
        alt="input1b_error.png">
    </a>
  </p>
</section>

<section mr-vr>
  <h4 class="app-hover-link"
    id="about-library-ornament">
    Ornament.
    <a [href]="urlGdDescription + '#about-library-ornament'">#</a>
  </h4>
  <p>
    An ornament (text or picture) can be placed at the beginning or at the end of an element.
  </p>
  <p>
    <a target="_blank"
      rel="noopener noreferrer"
      href="assets/read-me/input2a_ornam.png">
      <img src="assets/read-me/input2a_ornam.png"
        alt="input2a_ornam.png">
    </a>
  </p>
</section>

<section mr-vr>
  <h4 class="app-hover-link"
    id="about-library-size">
    Size.
    <a [href]="urlGdDescription + '#about-library-size'">#</a>
  </h4>
  <p>
    The element's height is set according to the value of the "size" parameter.
    All padding and offsets are determined by this variable and the font size.
  </p>
  <p>
    The "size" property takes the following values:
  </p>
  <ul>
    <li>"short" - sets the height to 38px;</li>
    <li>"small" - sets the height to 44px;</li>
    <li>"middle" - sets the height to 50px (default);</li>
    <li>"wide" - sets the height to 56px;</li>
    <li>"large" - sets the height to 62px;</li>
    <li>"huge" - sets the height to 68px;</li>
  </ul>
  <p>
    The font size for native input and label is determined from the parent container.
    The size of the font can be defined with the css-style for the "gln-input" tag.
    We can change the font size at the gln-input tag level, but the height of the element will not
    change.
  </p>
  <p>
    The height of the element remains the same even when the font size is changed (from font-size:
    10px to 26px).
  </p>
  <p>
    In the value of the 'size' parameter, you can also specify a numeric value (the height
    of the element in pixels).<br />
    In the configuration, you can also specify the value of the 'size' parameter,
    both string and numeric.
  </p>
  <p>
    An element with an "outlined" appearance.
  </p>
  <p>
    <a target="_blank"
      rel="noopener noreferrer"
      href="assets/read-me/input3a_size.png">
      <img src="assets/read-me/input3a_size.png"
        alt="input3a_size.png">
    </a>
  </p>
  <p>
    An element with an "underline" appearance.
  </p>
  <p>
    <a target="_blank"
      rel="noopener noreferrer"
      href="assets/read-me/imgs-for-readme/input3b_size.png">
      <img src="assets/read-me/input3b_size.png"
        alt="input3b_size.png">
    </a>
  </p>
</section>

<section mr-vr>
  <h4 class="app-hover-link"
    id="about-library-border-radius">
    Border radius.
    <a [href]="urlGdDescription + '#about-library-border-radius'">#</a>
  </h4>
  <p>
    For these components, you can change the border radius.
  </p>
  <p>
    An element with an "outlined" appearance.
  </p>
  <p>
    <a target="_blank"
      rel="noopener noreferrer"
      href="assets/read-me/input4a_border.png">
      <img src="assets/read-me/input4a_border.png"
        alt="input4a_border.png">
    </a>
  </p>
  <p>
    An element with an "underline" appearance.
  </p>
  <p>
    <a target="_blank"
      rel="noopener noreferrer"
      href="assets/read-me/input4b_border.png">
      <img src="assets/read-me/input4b_border.png"
        alt="input4b_border.png">
    </a>
  </p>
</section>

<section mr-vr>
  <p>There are also other features of these components that can be seen on the demo site.</p>
</section>