<section mr-vr>
  <h3 class="app-hover-link">
    Basic.
    <a [href]="urlCmSelect + '#Basic'">#</a>
  </h3>
  <span>
    To use this component, in your module you need to add:
  </span>
  <code><pre source="ts">
import &#123; GlnSelectModule, GlnOptionModule &#125; from 'gelenium-ui';</pre>
  </code>
  <p>
    The GlnSelect component is a form control. It includes: label, option list and help text.
    <br />
    It comes in three versions:
  </p>
  <ul>
    <li>with an outline (exterior="outlined" - default)</li>
    <li>with a fill (exterior="underline")</li>
    <li>standard (exterior="standard")</li>
  </ul>
  <span>For example:</span>
  <code><pre source="html">
&lt;<strong>gln-select</strong> formControlName="model01a"
  label="Enter value"
  wdFull&gt;
  &lt;gln-option&gt;&lt;em&gt;None&lt;/em&gt;&lt;/gln-option&gt;
  &lt;gln-option value="mango"&gt;Mango&lt;/gln-option&gt;
  &lt;gln-option value="lemon"&gt;Lemon&lt;/gln-option&gt;
  &lt;gln-option value="orange"&gt;Orange&lt;/gln-option&gt;
  &lt;gln-option value="kiwi"&gt;Kiwi&lt;/gln-option&gt;
&lt;<strong>/gln-select</strong>&gt;</pre></code>
</section>

<form [formGroup]="formGroup01"
  novalidate
  autocomplete="off">

  <div class="app-group">

    <div class="app-elem">
      <div>
        <small><em>exterior: Outlined</em></small>
      </div>
      <div class="slbs-mb">
        <small>
          <em>
            Model: {{ control01.model01a.value === null
            ? 'null' : control01.model01a.value }}
          </em>
        </small>
      </div>
      <gln-select formControlName="model01a"
        label="Enter value"
        exterior="outlined"
        wdFull>
        <gln-option [value]="null"><em>None</em></gln-option>
        <gln-option value="mango">Mango</gln-option>
        <gln-option value="lemon">Lemon</gln-option>
        <gln-option value="orange">Orange</gln-option>
        <gln-option value="kiwi">Kiwi</gln-option>
      </gln-select>
    </div>

    <div class="app-elem">
      <div>
        <small><em>exterior: Underline</em></small>
      </div>
      <div class="slbs-mb">
        <small>
          <em>
            Model: {{ control01.model01b.value !== null
            ? control01.model01b.value : 'null' }}
          </em>
        </small>
      </div>
      <gln-select formControlName="model01b"
        label="Enter value"
        exterior="underline"
        wdFull>
        <gln-option [value]="null"><em>None</em></gln-option>
        <gln-option value="mango">Mango</gln-option>
        <gln-option value="lemon">Lemon</gln-option>
        <gln-option value="orange">Orange</gln-option>
        <gln-option value="kiwi">Kiwi</gln-option>
      </gln-select>
    </div>

    <div class="app-elem">
      <div>
        <small><em>exterior: Standard</em></small>
      </div>
      <div class="slbs-mb">
        <small>
          <em>
            Model: {{ control01.model01c.value !== null
            ? control01.model01c.value : 'null' }}
          </em>
        </small>
      </div>
      <gln-select formControlName="model01c"
        label="Enter value"
        exterior="standard"
        wdFull>
        <gln-option [value]="null"><em>None</em></gln-option>
        <gln-option value="mango">Mango</gln-option>
        <gln-option value="lemon">Lemon</gln-option>
        <gln-option value="orange">Orange</gln-option>
        <gln-option value="kiwi">Kiwi</gln-option>
      </gln-select>
    </div>

  </div>

</form>

<section mr-vr>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="labelHtml">
          <code><pre source="html">
&lt;form [formGroup]="formGroup01"
  novalidate
  autocomplete="off"&gt;

  &lt;div class="app-group"&gt;

    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;&lt;em&gt;Outlined&lt;/em&gt;&lt;/small&gt;
      &lt;/div&gt;
      &lt;div class="slbs-mb"&gt;
        &lt;small&gt;
          &lt;em&gt;
            Model: <b>&#123;</b>&#123; control01.model01a.value === null
            ? 'null' : control01.model01a.value &#125;&#125;
          &lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;gln-select formControlName="model01a"
        label="Enter value"
        exterior="outlined"
        wdFull&gt;
        &lt;gln-option [value]="null"&gt;&lt;em&gt;None&lt;/em&gt;&lt;/gln-option&gt;
        &lt;gln-option value="mango"&gt;Mango&lt;/gln-option&gt;
        &lt;gln-option value="lemon"&gt;Lemon&lt;/gln-option&gt;
        &lt;gln-option value="orange"&gt;Orange&lt;/gln-option&gt;
        &lt;gln-option value="kiwi"&gt;Kiwi&lt;/gln-option&gt;
      &lt;/gln-select&gt;
    &lt;/div&gt;

    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;&lt;em&gt;Underline&lt;/em&gt;&lt;/small&gt;
      &lt;/div&gt;
      &lt;div class="slbs-mb"&gt;
        &lt;small&gt;
          &lt;em&gt;
            Model: <b>&#123;</b>&#123; control01.model01b.value !== null
            ? control01.model01b.value : 'null' &#125;&#125;
          &lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;gln-select formControlName="model01b"
        label="Enter value"
        exterior="underline"
        wdFull&gt;
        &lt;gln-option [value]="null"&gt;&lt;em&gt;None&lt;/em&gt;&lt;/gln-option&gt;
        &lt;gln-option value="mango"&gt;Mango&lt;/gln-option&gt;
        &lt;gln-option value="lemon"&gt;Lemon&lt;/gln-option&gt;
        &lt;gln-option value="orange"&gt;Orange&lt;/gln-option&gt;
        &lt;gln-option value="kiwi"&gt;Kiwi&lt;/gln-option&gt;
      &lt;/gln-select&gt;
    &lt;/div&gt;

    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;&lt;em&gt;Standard&lt;/em&gt;&lt;/small&gt;
      &lt;/div&gt;
      &lt;div class="slbs-mb"&gt;
        &lt;small&gt;
          &lt;em&gt;
            Model: <b>&#123;</b>&#123; control01.model01c.value !== null
            ? control01.model01c.value : 'null' &#125;&#125;
          &lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;gln-select formControlName="model01c"
        label="Enter value"
        exterior="standard"
        wdFull&gt;
        &lt;gln-option [value]="null"&gt;&lt;em&gt;None&lt;/em&gt;&lt;/gln-option&gt;
        &lt;gln-option value="mango"&gt;Mango&lt;/gln-option&gt;
        &lt;gln-option value="lemon"&gt;Lemon&lt;/gln-option&gt;
        &lt;gln-option value="orange"&gt;Orange&lt;/gln-option&gt;
        &lt;gln-option value="kiwi"&gt;Kiwi&lt;/gln-option&gt;
      &lt;/gln-select&gt;
    &lt;/div&gt;

  &lt;/div&gt;

&lt;/form&gt;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelTs">
          <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';
import &#123;
  FormGroup, FormControl 
&#125; from '@angular/forms';

@Component(&#123;
  selector: 'app-select',
  templateUrl: './select.component.html',
  styleUrls: ['./select.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class SelectComponent &#123;
  public control01 = &#123;
    model01a: new FormControl(null, []),
    model01b: new FormControl(null, []),
    model01c: new FormControl(null, []),
  &#125;;
  public formGroup01: FormGroup = new FormGroup(this.control01);
&#125;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelCss">
          <code><pre source="css">
app-select &#123;
  .app-group &#123;
    display: flex;
    flex-wrap: wrap;
  &#125;
  .app-elem &#123;
    min-width: 26ch;
    margin: 10px 10px;
  &#125;
  .slbs-mb &#123;
    margin-bottom: 0.5em;
  &#125;
&#125;</pre></code>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
</section>