/*# sourceURL=cm-chip-size.component.scss */

app-cm-chip-size {
  display: block;

  .chsz-fn-sz-13 {
    font-size: 13px;
  }
  .chsz-fn-sz-14 {
    font-size: 14px;
  }
  .chsz-fn-sz-15 {
    font-size: 15px;
  }
}
