<h3>Component: "GlnFrame" part 1.</h3>

<div *ngIf="!showNum || showNum==='01'"
  id="Basic">
  <app-frame-basic></app-frame-basic>
  <hr br-tp>
</div>

<div *ngIf="!showNum || showNum==='02'"
  id="Attributes">
  <app-frame-attributes></app-frame-attributes>
  <hr br-tp>
</div>

<div *ngIf="!showNum || showNum==='03'"
  id="FrameSize">
  <app-frame-size></app-frame-size>
  <hr br-tp>
</div>

<div *ngIf="!showNum || showNum==='04'"
  id="Label">
  <app-frame-label></app-frame-label>
  <hr br-tp>
</div>

<div *ngIf="!showNum || showNum==='05'"
  id="HelperText">
  <app-frame-helper-text></app-frame-helper-text>
  <hr br-tp>
</div>

<div *ngIf="!showNum || showNum==='06'"
  id="BorderRadius">
  <app-frame-border-radius></app-frame-border-radius>
  <hr br-tp>
</div>