<h3>Component: "GlnChip"</h3>

<div *ngIf="!showNum || showNum==='01'"
  id="Basic">
  <app-cm-chip-basic></app-cm-chip-basic>
  <hr br-tp>
</div>

<div *ngIf="!showNum || showNum==='02'"
  id="Attributes">
  <app-cm-chip-attributes></app-cm-chip-attributes>
  <hr br-tp>
</div>

<div *ngIf="!showNum || showNum==='03'"
  id="Size">
  <app-cm-chip-size></app-cm-chip-size>
  <hr br-tp>
</div>

<div *ngIf="!showNum || showNum==='05'"
  id="Ornaments">
  <app-cm-chip-ornaments></app-cm-chip-ornaments>
  <hr br-tp>
</div>

<div *ngIf="!showNum || showNum==='06'"
  id="Ornaments">
  <app-cm-chip-pallete></app-cm-chip-pallete>
  <hr br-tp>
</div>

<div *ngIf="!showNum || showNum==='08'"
  id="Config">
  <app-cm-chip-config></app-cm-chip-config>
  <hr br-tp>
</div>

<div *ngIf="!showNum || showNum==='09'"
  id="Api">
  <app-cm-chip-api></app-cm-chip-api>
  <hr br-tp>
</div>

<br />
<br />