<section mr-vr>
  <h3>API: GrnFrameInput</h3>
  <p>
    Selector:
    <span fw500>grn-frame-input</span>
  </p>
  <p>
    Exported as:
    <span fw500>grnFrameInput</span>
  </p>
</section>

<section mr-vr>
  <h4>Properties</h4>
</section>

<table class="app-tab">
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>

  <tr>
    <td>
      <code>@Input()</code>
      <code>label: string;</code>
    </td>
    <td>
      <span>The content of the label.<br />(default = '';)</span>
    </td>
  </tr>
  <tr>
    <td>
      <code>@Input()</code>
      <code>config: GrnFrameInputConfig | null = null;</code>
    </td>
    <td>
      <span>Defines a configuration object.</span>
    </td>
  </tr>
  <tr>
    <td>
      <code>@Input()</code>
      <code>exterior: Exterior | null = null;</code>
    </td>
    <td>
      <span>
        Determines the appearance of an element.<br />
        It can take the following values:
      </span>
      <ul>
        <li>"outlined";</li>
        <li>"underline";</li>
        <li>"standard";</li>
      </ul>
    </td>
  </tr>
  <tr>
    <td>
      <code>@Input()</code>
      <code>frameSize: FrameSize | null = null;</code>
    </td>
    <td>
      <span>Determines the size of the element.<br />
        It can take the following values:
      </span>
      <ul>
        <li>"short" - if one line is height: 38px;</li>
        <li>"small" - if one line is height: 44px;</li>
        <li>"middle" - if one line is height: 50px (default);</li>
        <li>"wide" - if one line is height: 56px;</li>
        <li>"large" - if one line is height: 62px;</li>
        <li>"huge" - if one line is height: 68px;</li>
      </ul>
    </td>
  </tr>
  <tr>
    <td>
      <code>@Input()</code>
      <code>isLabelShrink: boolean | null = null;</code>
    </td>
    <td>
      <span>
        An indication that the label has moved up and shrunk.
      </span>
    </td>
  </tr>
  <tr>
    <td>
      <code>@Input()</code>
      <code>hiddenLabel: boolean | null = null;</code>
    </td>
    <td>
      <span>Disables the display of the label.</span>
    </td>
  </tr>
  <tr>
    <td>
      <code>@Input()</code>
      <code>isDisabled: boolean;</code>
    </td>
    <td>
      <span>The element is disabled.<br />(default = false;)</span>
    </td>
  </tr>
  <tr>
    <td>
      <code>@Input()</code>
      <code>isFocused: boolean;</code>
    </td>
    <td>
      <span>Indicates that an input element has received input focus.
        <br />(default = false;)</span>
    </td>
  </tr>
  <tr>
    <td>
      <code>@Input()</code>
      <code>isFilled: boolean;</code>
    </td>
    <td>
      <span>Indicates that the input element is not empty (filled).
        <br />(default = false;)</span>
    </td>
  </tr>
  <tr>
    <td>
      <code>@Input()</code>
      <code>isError: boolean;</code>
    </td>
    <td>
      <span>Forces the error status of an item to be displayed.
        <br />(default = false;)
      </span>
    </td>
  </tr>
  <tr>
    <td>
      <code>@Input()</code>
      <code>isRequired: boolean;</code>
    </td>
    <td>
      <span>Adds a validation condition: required field.
        <br />(default = false;)
      </span>
    </td>
  </tr>
  <tr>
    <td>
      <code>@Output()</code>
      <code>
        readonly clickFrame: EventEmitter&lt;Event&gt; = new EventEmitter();
      </code>
    </td>
    <td>
      <span>
        Defines a click event on the element's frame
      </span>
    </td>
  </tr>
</table>

<section mr-vr>
  <h4>Css variables at the ":root" level.</h4>
</section>
<table class="app-tab">
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>

  <tr>
    <td><code>--gfi-hov-cl: rgba(0, 0, 0, 0.87);</code></td>
    <td>
      <span>The color of the label and border on mouse hover.</span>
    </td>
  </tr>
  <tr>
    <td><code>--gfi-err-cl: #d32f2f;</code></td>
    <td>
      <span>The color of the label and border in an error state.</span>
    </td>
  </tr>
  <tr>
    <td><code>--gfi-hov-err-cl: #ff0000;</code></td>
    <td>
      <span>The color of the label and border on mouse hover in an error state.</span>
    </td>
  </tr>
  <tr>
    <td><code>--gfi-foc-cl: #1976d2;</code></td>
    <td>
      <span>The color of the border and label when getting focus.</span>
    </td>
  </tr>
  <tr>
    <td><code>--gfi-dis-cl: #787878;</code></td>
    <td>
      <span>The color of the label and border in the state is disabled.</span>
    </td>
  </tr>

  <tr>
    <td><code>--gfi-def-cl1: rgba(0, 0, 0, 0.6);</code></td>
    <td>
      <span>The default color for the label.</span>
    </td>
  </tr>

  <tr>
    <td><code>--gfi-o-def-br-cl: rgba(0, 0, 0, 0.23);</code></td>
    <td>
      <span>The default border color for "outlined" mode.</span>
    </td>
  </tr>

  <tr>
    <td><code>--gfi-u-def-bg-cl: rgba(0, 0, 0, 0.06);</code></td>
    <td>
      <span>The default background color for "underline" mode.</span>
    </td>
  </tr>
  <tr>
    <td><code>--gfi-u-hov-bg-cl: #1976d20b;</code></td>
    <td>
      <span>The background color on mouse hover for the "underline" mode.</span>
    </td>
  </tr>
  <tr>
    <td><code>--gfi-u-err-bg-cl: #d32f2f0f;</code></td>
    <td>
      <span>The background color in an error state for "underline" mode.</span>
    </td>
  </tr>
  <tr>
    <td><code>--gfi-u-hov-err-bg-cl: #d32f2f0b;</code></td>
    <td>
      <span>The background color on mouse hover in an error state for "underline" mode.</span>
    </td>
  </tr>
  <tr>
    <td><code>--gfi-u-foc-bg-cl: #1976d20f;</code></td>
    <td>
      <span>The background color when getting focus for "underline" mode.</span>
    </td>
  </tr>
  <tr>
    <td><code>--gfi-u-dis-bg-cl: #7878783b;</code></td>
    <td>
      <span>The background color in the state is disabled for the "underline" mode.</span>
    </td>
  </tr>
  <tr>
    <td><code>--gfi-su-def-br-cl: rgba(0, 0, 0, 0.42);</code></td>
    <td>
      <span>The default bottom border color for "underline" and "standard" modes.</span>
    </td>
  </tr>
</table>