/*# sourceURL=cm-switch-size.component.scss */

app-cm-switch-size {
  display: block;

  .ss-mini09 {
    font-size: 9px;
  }
  .ss-mini10 {
    font-size: 10px;
  }
  .ss-mini11 {
    font-size: 11px;
  }
  .ss-small12 {
    font-size: 12px;
  }
  .ss-small13 {
    font-size: 13px;
  }
  .ss-small14 {
    font-size: 14px;
  }
}