/*# sourceURL=cm-pagination-basic.component.scss */

app-cm-pagination-basic {
  display: block;

  // Page: "Basic" 01
  .pgb-elem {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  // Page: "Attributes" 02
  .pga-elem {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  // Page: "Size" 03
  .pgs-elem {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  // Page: "Border" 04
  .pgr-elem {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  // Page: "Ornaments" 05
  .pgo-elem {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .pgo-prev {
    height: 24px;
    fill: currentColor;
  }
  .pgo-next {
    background-color: currentColor;
    display: inline-block;
    height: 24px;
    mask: url("data:image/svg+xml;charset=utf8,"
      + "<svg xmlns='http://www.w3.org/2000/svg' "
      + " viewBox='0 0 24 24'>"
      + "<path d='m12 4-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z'>"
      + "</path>"
      + "</svg>");
    width: 24px;
  }
  .pgo-first {
    height: 24px;
    fill: currentColor;
  }
  .pgo-last {
    background-color: currentColor;
    display: inline-block;
    height: 24px;
    mask: url("data:image/svg+xml;charset=utf8,"
      + "<svg xmlns='http://www.w3.org/2000/svg' "
      + " viewBox='0 0 24 24'>"
      + "<path d='M8 18a.987.987 0 0 1-.383-.076A1 1 0 0 1 7 17V7a1 1 0 0 1 "
      + "1.707-.707l5 5a1 1 0 0 1 0 1.414l-5 5A1 1 0 0 1 8 18zm1-8.586v5.172"
      + "L11.586 12zM16 18a1 1 0 0 1-1-1V7a1 1 0 0 1 2 0v10a1 1 0 0 1-1 1z'>"
      + "</path>"
      + "</svg>");
    width: 24px;
  }

  // Page: "PaletteBasic" 11
  .pgpb-elem {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  // Page: "PaletteBootstrap" 12
  .pgpb-elem {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .pgpb-bs {
    font-size: 16px;
  }
  .pgpb-pd {
    padding-left: 1em;
    padding-right: 1em;
  }

  // Page: "PaletteMaterialUI" 13
  .pgpm-elem {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  // ** Style: "Material-UI" **
  .pgpm-mui {
    font-size: 14px;
  }
  .pgpm-grey {
    --gln-grey-h: 0;
    --gln-grey-s: 0%;
    --gln-grey-l: 85%;
    --glnpg-hov-bg-cl: rgba(0, 0, 0, 0.04);
    --glnpg-sel-def-lb-cl: rgba(0, 0, 0, 0.87);
    --glnpg-sel-def-bg-cl: rgba(0, 0, 0, 0.08);
    --glnpg-sel-hov-lb-cl: rgba(0, 0, 0, 0.87);
    --glnpg-sel-hov-bg-cl: rgba(0, 0, 0, 0.12);
    --glnpg-sel-ripple-cl: rgba(0, 0, 0, 0.35);
  }
  .pgpm-blue {
    --gln-blue-h: 210;
    --gln-blue-s: 79%;
    --gln-blue-l: 46%;
  }
  .pgpm-pink {
    --gln-pink-h: 291;
    --gln-pink-s: 64%;
    --gln-pink-l: 42%;
  }
  .pgpm-light-grey {
    --gln-light-grey-h: 0;
    --gln-light-grey-s: 0%;
    --gln-light-grey-l: 40%;
    --glnpg-def-lb-cl: rgba(0, 0, 0, 0.87);
    --glnpg-sel-def-lb-cl: rgba(0, 0, 0, 0.87);
    --glnpg-sel-hov-lb-cl: rgba(0, 0, 0, 0.87);
  }
  .pgpm-light-blue {
    --gln-blue-h: 210;
    --gln-blue-s: 85%;
    --gln-blue-l: 50%;
  }

}
