/*# sourceURL=cm-pagination-basic.component.scss */

app-cm-pagination-basic {
  display: block;

  // Page: "Basic" 01
  .pgb-elem {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  // Page: "Attributes" 02
  .pga-elem {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  // Page: "Size" 03
  .pgs-elem {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  // Page: "Border" 04
  .pgr-elem {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  //
  .pgb-dark-grey1 {
    // "default" color: hsl(250, 5%, 20%);
    --gln-dark-grey1-h: 250;
    --gln-dark-grey1-s: 5%;
    --gln-dark-grey1-l: 20%;
  }

  .pgb-dark-grey2 {
    --gln-dark-grey2-h: 0;
    --gln-dark-grey2-s: 0%;
    --gln-dark-grey2-l: 70%;
  }
}
