<section *ngIf="isShowBasic"
  mr-vr>
  <h3 class="app-hover-link">
    Basic.
    <a [href]="urlCmPagination + '#Basic'">#</a>
  </h3>
  <span>
    To use this component, in your module you need to add:
  </span>
  <code><pre source="ts">
import &#123; GlnPaginationModule &#125; from 'gelenium-ui';</pre>
  </code>
  <p>
    The GlnPagination component is designed to change the current page from the specified
    range.
  </p>
  <span>For example:</span>
  <code><pre source="html">
&lt;<strong>gln-pagination</strong>
  [<i><strong>page</strong></i>]="page01"
  [<i><strong>count</strong></i>]="pageCount01"
  (<i><strong>changePage</strong></i>)="page01a=$event"&gt;
&lt;<strong>/gln-pagination</strong>&gt;</pre></code>
  <span>
    The "page" current page number.<br />
    The "count" - total number of pages.<br />
    The "changePage" parameter is the page number change event.
  </span>
</section>


<div *ngIf="isShowBasic"
  class="app-group">

  <div class="app-elem pgb-elem">
    <div>
      <small>
        <em>Exterior: 'text'.</em>
      </small>
    </div>
    <gln-pagination [page]="page01a"
      [count]="10"
      (changePage)="page01a = $event">
    </gln-pagination>
  </div>

  <div class="app-elem pgb-elem">
    <div>
      <small>
        <em>Exterior: 'outlined'.</em>
      </small>
    </div>
    <gln-pagination [page]="page01b"
      [count]="10"
      exterior="outlined"
      (changePage)="page01b = $event">
    </gln-pagination>
  </div>

</div>


<section *ngIf="isShowBasic"
  mr-vr>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="labelHtml">
          <code><pre source="html">
&lt;div class="app-group"&gt;

  &lt;div class="app-elem pgb-elem"&gt;
    &lt;div&gt;
      &lt;small&gt;
        &lt;em&gt;Exterior: 'text'.&lt;/em&gt;
      &lt;/small&gt;
    &lt;/div&gt;
    &lt;gln-pagination [page]="page01a"
      [count]="10"
      (changePage)="page01a = $event"&gt;
    &lt;/gln-pagination&gt;
  &lt;/div&gt;

  &lt;div class="app-elem pgb-elem"&gt;
    &lt;div&gt;
      &lt;small&gt;
        &lt;em&gt;Exterior: 'outlined'.&lt;/em&gt;
      &lt;/small&gt;
    &lt;/div&gt;
    &lt;gln-pagination [page]="page01b"
      [count]="10"
      exterior="outlined"
      (changePage)="page01b = $event"&gt;
    &lt;/gln-pagination&gt;
  &lt;/div&gt;

&lt;/div&gt;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelTs">
          <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';

@Component(&#123;
  selector: 'app-pagination',
  templateUrl: './pagination.component.html',
  styleUrls: ['./pagination.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class PaginationComponent &#123;
  public page01a: number = 1;
  public page01b: number = 1;
&#125;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelCss">
          <code><pre source="css">
app-input &#123;
  .app-group &#123;
    display: flex;
    flex-wrap: wrap;
  &#125;
  .app-elem &#123;
    min-width: 26ch;
    margin: 10px 10px;
  &#125;
  .pgb-elem &#123;
    width: 100%;
    display: flex;
    flex-direction: column;
  &#125;
&#125;</pre></code>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
</section>

<!-- <hr br-nn /> -->

<!-- Page: Page: "Attributes" 02 -->
_<i id="Attributes">#A</i>

<section *ngIf="isShowAttributes"
  mr-vr>
  <h3 class="app-hover-link">
    Attributes.
    <a [href]="urlCmPagination + '#Attributes'">#</a>
  </h3>
  <p>The following attributes are supported:</p>
  <ul>
    <li>"id" - parameter for defining the unique identifier of the input field
      (id="unique_identifier");
    </li>
    <li>
      "config" - Defines a configuration object.
      <a [href]="urlCmPagination + '#config-interface'">More details.</a>
    </li>
    <li>
      "count" - total number of pages;
      (default 1)
    </li>
    <li>
      "page" - current page number;
      (default 1)
    </li>
    <li>
      "exterior" - Determines the appearance of an element.<br />
      It can take the following values:
      <ul>
        <li>"text" - default;</li>
        <li>"outlined";</li>
      </ul>
    </li>
    <li>"isDisabled" - a sign that the field is disabled (isDisabled);</li>
    <li>
      "isHidePrev" - indicates that the "previous page" button is hidden (isHidePrev);
    </li>
    <li>
      "isHideNext" - indicates that the "next page" button is hidden (isHideNext);
    </li>
    <li>
      "isShowFirst" - indicates that the "first page" button is displayed (isShowFirst);
    </li>
    <li>
      "isShowLast" - indicates that the "last page" button is displayed (isShowLast);
    </li>
  </ul>
</section>


<section *ngIf="isShowAttributes"
  mr-vr>
  <span>exterior: </span>
  <mat-button-toggle-group value="exterior02a"
    (change)="exterior02a=$event.value">
    <mat-button-toggle [checked]="exterior02a==='outlined'"
      value="outlined">{{ labelOutlined }}</mat-button-toggle>
    <mat-button-toggle [checked]="exterior02a==='text'"
      value="text">{{ labelText }}</mat-button-toggle>
  </mat-button-toggle-group>
</section>


<div *ngIf="isShowAttributes"
  class="app-group">

  <div class="app-elem pga-elem">
    <div>
      <small>
        <em>Attributes: id, count, page, exterior.</em>
      </small>
    </div>
    <gln-pagination [page]="page02a"
      id="unique_id_pagination02a"
      [count]="10"
      [exterior]="exterior02a"
      (changePage)="page02a = $event">
    </gln-pagination>
  </div>

  <div class="app-elem pga-elem">
    <div>
      <small>
        <em>Attributes: isDisabled.</em>
      </small>
    </div>
    <gln-pagination [page]="page02b"
      [count]="10"
      [exterior]="exterior02a"
      isDisabled
      (changePage)="page02b = $event">
    </gln-pagination>
  </div>

  <div class="app-elem pga-elem">
    <div>
      <small>
        <em>Attributes: isHidePrev, isHideNext.</em>
      </small>
    </div>
    <gln-pagination [page]="page02c"
      [count]="10"
      [exterior]="exterior02a"
      isHidePrev
      isHideNext
      (changePage)="page02c = $event">
    </gln-pagination>
  </div>

  <div class="app-elem pga-elem">
    <div>
      <small>
        <em>Attributes: isShowFirst, isShowLast.</em>
      </small>
    </div>
    <gln-pagination [page]="page02d"
      [count]="10"
      [exterior]="exterior02a"
      isShowFirst
      isShowLast
      (changePage)="page02d = $event">
    </gln-pagination>
  </div>

</div>


<section *ngIf="isShowAttributes"
  mr-vr>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="labelHtml">
          <code><pre source="html">
&lt;div class="app-group"&gt;

  &lt;div class="app-elem pga-elem"&gt;
    &lt;div&gt;
      &lt;small&gt;
        &lt;em&gt;Attributes: id, count, page, exterior.&lt;/em&gt;
      &lt;/small&gt;
    &lt;/div&gt;
    &lt;gln-pagination [page]="page02a"
      id="unique_id_pagination02a"
      [count]="10"
      [exterior]="exterior02a"
      (changePage)="page02a = $event"&gt;
    &lt;/gln-pagination&gt;
  &lt;/div&gt;

  &lt;div class="app-elem pga-elem"&gt;
    &lt;div&gt;
      &lt;small&gt;
        &lt;em&gt;Attributes: isDisabled.&lt;/em&gt;
      &lt;/small&gt;
    &lt;/div&gt;
    &lt;gln-pagination [page]="page02b"
      [count]="10"
      [exterior]="exterior02a"
      isDisabled
      (changePage)="page02b = $event"&gt;
    &lt;/gln-pagination&gt;
  &lt;/div&gt;


  &lt;div class="app-elem pga-elem"&gt;
    &lt;div&gt;
      &lt;small&gt;
        &lt;em&gt;Attributes: isHidePrev, isHideNext.&lt;/em&gt;
      &lt;/small&gt;
    &lt;/div&gt;
    &lt;gln-pagination [page]="page02c"
      [count]="10"
      [exterior]="exterior02a"
      isHidePrev
      isHideNext
      (changePage)="page02c = $event"&gt;
    &lt;/gln-pagination&gt;
  &lt;/div&gt;

  &lt;div class="app-elem pga-elem"&gt;
    &lt;div&gt;
      &lt;small&gt;
        &lt;em&gt;Attributes: isShowFirst, isShowLast.&lt;/em&gt;
      &lt;/small&gt;
    &lt;/div&gt;
    &lt;gln-pagination [page]="page02d"
      [count]="10"
      [exterior]="exterior02a"
      isShowFirst
      isShowLast
      (changePage)="page02d = $event"&gt;
    &lt;/gln-pagination&gt;
  &lt;/div&gt;

&lt;/div&gt;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelTs">
          <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';

@Component(&#123;
  selector: 'app-pagination',
  templateUrl: './pagination.component.html',
  styleUrls: ['./pagination.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class PaginationComponent &#123;
  public exterior02a = 'outlined';
  public page02a: number = 1;
  public page02b: number = 1;
  public page02c: number = 1;
  public page02d: number = 1;
&#125;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelCss">
          <code><pre source="css">
app-input &#123;
  .app-group &#123;
    display: flex;
    flex-wrap: wrap;
  &#125;
  .app-elem &#123;
    min-width: 26ch;
    margin: 10px 10px;
  &#125;
  .pga-elem &#123;
    width: 100%;
    display: flex;
    flex-direction: column;
  &#125;
&#125;</pre></code>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
</section>

<!-- <hr br-nn /> -->

<section *ngIf="isShowAttributes"
  mr-vr
  id="attributes-supported02">
  <h4 class="app-hover-link">
    Attributes are also supported 2:
    <a [href]="urlCmPagination + '#attributes-supported02'">#</a>
  </h4>
  <ul>
    <li>
      "countBorder" - number of always visible pages at the beginning and at the end;<br />
      (default 1)
    </li>
    <li>
      "countNearby" - number of always visible pages before and after the current page;<br />
      (default 1)
    </li>
    <li>
      "isNoRipple" - This property to turn off the ripple effect;<br />
      (default false)
    </li>
  </ul>
</section>

<section *ngIf="isShowAttributes"
  mr-vr>
  <span>exterior: </span>
  <mat-button-toggle-group value="exterior02b"
    (change)="exterior02b=$event.value">
    <mat-button-toggle [checked]="exterior02b==='outlined'"
      value="outlined">{{ labelOutlined }}</mat-button-toggle>
    <mat-button-toggle [checked]="exterior02b==='text'"
      value="text">{{ labelText }}</mat-button-toggle>
  </mat-button-toggle-group>
</section>


<div *ngIf="isShowAttributes"
  class="app-group">

  <div class="app-elem pga-elem">
    <div>
      <small>
        <em>Attributes: page=6, countNearby=0, isNoRipple.</em>
      </small>
    </div>
    <gln-pagination [page]="page02f"
      [count]="11"
      [exterior]="exterior02b"
      [countNearby]="0"
      isNoRipple
      (changePage)="page02f = $event">
    </gln-pagination>
  </div>

  <div class="app-elem pga-elem">
    <div>
      <small>
        <em>Attributes: page=6, countNearby=1.</em>
      </small>
    </div>
    <gln-pagination [page]="page02g"
      [count]="11"
      [exterior]="exterior02b"
      (changePage)="page02g = $event">
    </gln-pagination>
  </div>

  <div class="app-elem pga-elem">
    <div>
      <small>
        <em>Attributes: page=6, countNearby=0, countBorder=2.</em>
      </small>
    </div>
    <gln-pagination [page]="page02h"
      [count]="11"
      [exterior]="exterior02b"
      [countNearby]="0"
      [countBorder]="2"
      (changePage)="page02h = $event">
    </gln-pagination>
  </div>

  <div class="app-elem pga-elem">
    <div>
      <small>
        <em>Attributes: page=6, countBorder=2.</em>
      </small>
    </div>
    <gln-pagination [page]="page02i"
      [count]="11"
      [exterior]="exterior02b"
      [countBorder]="2"
      (changePage)="page02i = $event">
    </gln-pagination>
  </div>

</div>

<section *ngIf="isShowAttributes"
  mr-vr>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="labelHtml">
          <code><pre source="html">
&lt;div class="app-group"&gt;

  &lt;div class="app-elem pga-elem"&gt;
    &lt;div&gt;
      &lt;small&gt;
        &lt;em&gt;Attributes: page=6, countNearby=0.&lt;/em&gt;
      &lt;/small&gt;
    &lt;/div&gt;
    &lt;gln-pagination [page]="page02f"
      [count]="11"
      [exterior]="exterior02b"
      [countNearby]="0"
      isNoRipple
      (changePage)="page02f = $event"&gt;
    &lt;/gln-pagination&gt;
  &lt;/div&gt;

  &lt;div class="app-elem pga-elem"&gt;
    &lt;div&gt;
      &lt;small&gt;
        &lt;em&gt;Attributes: page=6, countNearby=1.&lt;/em&gt;
      &lt;/small&gt;
    &lt;/div&gt;
    &lt;gln-pagination [page]="page02g"
      [count]="11"
      [exterior]="exterior02b"
      (changePage)="page02g = $event"&gt;
    &lt;/gln-pagination&gt;
  &lt;/div&gt;

  &lt;div class="app-elem pga-elem"&gt;
    &lt;div&gt;
      &lt;small&gt;
        &lt;em&gt;Attributes: page=6, countNearby=0, countBorder=2.&lt;/em&gt;
      &lt;/small&gt;
    &lt;/div&gt;
    &lt;gln-pagination [page]="page02h"
      [count]="11"
      [exterior]="exterior02b"
      [countNearby]="0"
      [countBorder]="2"
      (changePage)="page02h = $event"&gt;
    &lt;/gln-pagination&gt;
  &lt;/div&gt;

  &lt;div class="app-elem pga-elem"&gt;
    &lt;div&gt;
      &lt;small&gt;
        &lt;em&gt;Attributes: page=6, countBorder=2.&lt;/em&gt;
      &lt;/small&gt;
    &lt;/div&gt;
    &lt;gln-pagination [page]="page02i"
      [count]="11"
      [exterior]="exterior02b"
      [countBorder]="2"
      (changePage)="page02i = $event"&gt;
    &lt;/gln-pagination&gt;
  &lt;/div&gt;

&lt;/div&gt;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelTs">
          <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';

@Component(&#123;
  selector: 'app-pagination',
  templateUrl: './pagination.component.html',
  styleUrls: ['./pagination.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class PaginationComponent &#123;
  public exterior02b = 'outlined';
  public page02f: number = 6;
  public page02g: number = 6;
  public page02h: number = 6;
  public page02i: number = 6;
&#125;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelCss">
          <code><pre source="css">
app-input &#123;
  .app-group &#123;
    display: flex;
    flex-wrap: wrap;
  &#125;
  .app-elem &#123;
    min-width: 26ch;
    margin: 10px 10px;
  &#125;
  .pga-elem &#123;
    width: 100%;
    display: flex;
    flex-direction: column;
  &#125;
&#125;</pre></code>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
</section>

<!-- <hr br-nn /> -->

<!-- Page: "Size" 03 -->
_<i id="Size">#S</i>

<section *ngIf="isShowSize"
  mr-vr>
  <h3 class="app-hover-link">
    Size
    <a [href]="urlCmPagination + '#Size'">#</a>
  </h3>
  <p>
    The "size" property determines the size of the element (its height).
  </p>
  <p>
    It takes the following values:
  </p>
  <ul>
    <li>"short" - sets the height to 38px (default);</li>
    <li>"small" - sets the height to 44px;</li>
    <li>"middle" - sets the height to 50px;</li>
    <li>"wide" - sets the height to 56px;</li>
    <li>"large" - sets the height to 62px;</li>
    <li>"huge" - sets the height to 68px;</li>
  </ul>
  <p>
    The font size is determined from the parent container.
    The size of the font can be defined with the css-style for the "gln-pagination" tag.
    We can change the font size at the gln-pagination tag level,
    but the height of the element will not change.
  </p>
  <p>
    The height of the element remains the same even when the font size is changed
    (from font-size: 10px to font-size: 26px).
  </p>
  <p>
    It is possible to specify the height of an element. To do this,
    in the "config.size" property, we define the required height in pixels.
  </p>
</section>


<section *ngIf="isShowSize"
  mr-vr>
  <span>exterior: </span>
  <mat-button-toggle-group value="exterior03a"
    (change)="exterior03a=$event.value">
    <mat-button-toggle [checked]="exterior03a==='outlined'"
      value="outlined">{{ labelOutlined }}</mat-button-toggle>
    <mat-button-toggle [checked]="exterior03a==='text'"
      value="text">{{ labelText }}</mat-button-toggle>
  </mat-button-toggle-group>
</section>


<div *ngIf="isShowSize"
  class="app-group">

  <div class="app-elem pgs-elem">
    <div>
      <small>
        <em>"Short" - 38px; font: 14px;</em>
      </small>
    </div>
    <gln-pagination [page]="page03a"
      style="font-size: 14px;"
      [count]="10"
      [exterior]="exterior03a"
      size="short"
      (changePage)="page03a = $event">
    </gln-pagination>
  </div>

  <div class="app-elem pgs-elem">
    <div>
      <small>
        <em>"Small" - 44px; font: 16px;</em>
      </small>
    </div>
    <gln-pagination [page]="page03b"
      style="font-size: 16px;"
      [count]="10"
      [exterior]="exterior03a"
      size="small"
      (changePage)="page03b = $event">
    </gln-pagination>
  </div>

  <div class="app-elem pgs-elem">
    <div>
      <small>
        <em>"Middle" - 50px; font: 16px;</em>
      </small>
    </div>
    <gln-pagination [page]="page03c"
      style="font-size: 16px;"
      [count]="10"
      [exterior]="exterior03a"
      size="middle"
      (changePage)="page03c = $event">
    </gln-pagination>
  </div>

  <div class="app-elem pgs-elem">
    <div>
      <small>
        <em>"Wide" - 56px; font: 18px;</em>
      </small>
    </div>
    <gln-pagination [page]="page03d"
      style="font-size: 18px;"
      [count]="10"
      [exterior]="exterior03a"
      size="wide"
      (changePage)="page03d = $event">
    </gln-pagination>
  </div>

  <div class="app-elem pgs-elem">
    <div>
      <small>
        <em>"Large" - 62px; font: 20px;</em>
      </small>
    </div>
    <gln-pagination [page]="page03e"
      style="font-size: 20px;"
      [count]="10"
      [exterior]="exterior03a"
      size="large"
      (changePage)="page03e = $event">
    </gln-pagination>
  </div>

  <div class="app-elem pgs-elem">
    <div>
      <small>
        <em>"Huge" - 68px; font: 22px;</em>
      </small>
    </div>
    <gln-pagination [page]="page03f"
      style="font-size: 22px;"
      [count]="10"
      [exterior]="exterior03a"
      size="huge"
      (changePage)="page03f = $event">
    </gln-pagination>
  </div>

</div>


<section *ngIf="isShowSize"
  mr-vr>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="labelHtml">
          <code><pre source="html">
&lt;div class="app-group"&gt;

  &lt;div class="app-elem pgs-elem"&gt;
    &lt;div&gt;
      &lt;small&gt;
        &lt;em&gt;"Short" - 38px; font: 14px;&lt;/em&gt;
      &lt;/small&gt;
    &lt;/div&gt;
    &lt;gln-pagination [page]="page03a"
      style="font-size: 14px;"
      [count]="10"
      [exterior]="exterior03a"
      size="short"
      (changePage)="page03a = $event"&gt;
    &lt;/gln-pagination&gt;
  &lt;/div&gt;

  &lt;div class="app-elem pgs-elem"&gt;
    &lt;div&gt;
      &lt;small&gt;
        &lt;em&gt;"Small" - 44px; font: 16px;&lt;/em&gt;
      &lt;/small&gt;
    &lt;/div&gt;
    &lt;gln-pagination [page]="page03b"
      style="font-size: 16px;"
      [count]="10"
      [exterior]="exterior03a"
      size="small"
      (changePage)="page03b = $event"&gt;
    &lt;/gln-pagination&gt;
  &lt;/div&gt;

  &lt;div class="app-elem pgs-elem"&gt;
    &lt;div&gt;
      &lt;small&gt;
        &lt;em&gt;"Middle" - 50px; font: 16px;&lt;/em&gt;
      &lt;/small&gt;
    &lt;/div&gt;
    &lt;gln-pagination [page]="page03c"
      style="font-size: 16px;"
      [count]="10"
      [exterior]="exterior03a"
      size="middle"
      (changePage)="page03c = $event"&gt;
    &lt;/gln-pagination&gt;
  &lt;/div&gt;

  &lt;div class="app-elem pgs-elem"&gt;
    &lt;div&gt;
      &lt;small&gt;
        &lt;em&gt;"Wide" - 56px; font: 18px;&lt;/em&gt;
      &lt;/small&gt;
    &lt;/div&gt;
    &lt;gln-pagination [page]="page03d"
      style="font-size: 18px;"
      [count]="10"
      [exterior]="exterior03a"
      size="wide"
      (changePage)="page03d = $event"&gt;
    &lt;/gln-pagination&gt;
  &lt;/div&gt;

  &lt;div class="app-elem pgs-elem"&gt;
    &lt;div&gt;
      &lt;small&gt;
        &lt;em&gt;"Large" - 62px; font: 20px;&lt;/em&gt;
      &lt;/small&gt;
    &lt;/div&gt;
    &lt;gln-pagination [page]="page03e"
      style="font-size: 20px;"
      [count]="10"
      [exterior]="exterior03a"
      size="large"
      (changePage)="page03e = $event"&gt;
    &lt;/gln-pagination&gt;
  &lt;/div&gt;

  &lt;div class="app-elem pgs-elem"&gt;
    &lt;div&gt;
      &lt;small&gt;
        &lt;em&gt;"Huge" - 68px; font: 22px;&lt;/em&gt;
      &lt;/small&gt;
    &lt;/div&gt;
    &lt;gln-pagination [page]="page03f"
      style="font-size: 22px;"
      [count]="10"
      [exterior]="exterior03a"
      size="huge"
      (changePage)="page03f = $event"&gt;
    &lt;/gln-pagination&gt;
  &lt;/div&gt;

&lt;/div&gt;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelTs">
          <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';

@Component(&#123;
  selector: 'app-pagination',
  templateUrl: './pagination.component.html',
  styleUrls: ['./pagination.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class PaginationComponent &#123;
  public exterior03a = 'outlined';
  public page03a: number = 1;
  public page03b: number = 1;
  public page03c: number = 1;
  public page03d: number = 1;
  public page03e: number = 1;
  public page03f: number = 1;

&#125;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelCss">
          <code><pre source="css">
app-input &#123;
  .app-group &#123;
    display: flex;
    flex-wrap: wrap;
  &#125;
  .app-elem &#123;
    min-width: 26ch;
    margin: 10px 10px;
  &#125;
  .pgs-elem &#123;
    width: 100%;
    display: flex;
    flex-direction: column;
  &#125;
&#125;</pre></code>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
</section>

<hr br-nn />


<h4 class="app-hover-link"
  id="size-config">
  Configuration for custom height (57px).
  <a [href]="urlCmPagination + '#size-config'">#</a>
</h4>

<section *ngIf="isShowSize"
  mr-vr>
  <span>exterior: </span>
  <mat-button-toggle-group value="exterior03b"
    (change)="exterior03b=$event.value">
    <mat-button-toggle [checked]="exterior03b==='outlined'"
      value="outlined">{{ labelOutlined }}</mat-button-toggle>
    <mat-button-toggle [checked]="exterior03b==='text'"
      value="text">{{ labelText }}</mat-button-toggle>
  </mat-button-toggle-group>
</section>


<div *ngIf="isShowSize"
  class="app-group">

  <div class="app-elem pgs-elem">
    <div>
      <small>
        <em>height: 57px; font: 16px;</em>
      </small>
    </div>
    <gln-pagination [page]="page03h"
      style="font-size: 16px;"
      [count]="10"
      [exterior]="exterior03b"
      size="57"
      (changePage)="page03h = $event">
    </gln-pagination>
  </div>

  <div class="app-elem pgs-elem">
    <div>
      <small>
        <em>height: 57px; font: 18px;</em>
      </small>
    </div>
    <gln-pagination [page]="page03i"
      style="font-size: 18px;"
      [count]="10"
      [exterior]="exterior03b"
      size="57"
      (changePage)="page03i = $event">
    </gln-pagination>
  </div>

  <div class="app-elem pgs-elem">
    <div>
      <small>
        <em>height: 57px; font: 20px;</em>
      </small>
    </div>
    <gln-pagination [page]="page03j"
      style="font-size: 20px;"
      [count]="10"
      [exterior]="exterior03b"
      [config]="{ size: '57' }"
      (changePage)="page03j = $event">
    </gln-pagination>
  </div>

</div>


<section *ngIf="isShowSize"
  mr-vr>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="labelHtml">
          <code><pre source="html">
&lt;div class="app-group"&gt;

  &lt;div class="app-elem pgs-elem"&gt;
    &lt;div&gt;
      &lt;small&gt;
        &lt;em&gt;height: 57px; font: 16px;&lt;/em&gt;
      &lt;/small&gt;
    &lt;/div&gt;
    &lt;gln-pagination [page]="page03h"
      style="font-size: 16px;"
      [count]="10"
      [exterior]="exterior03b"
      size="57"
      (changePage)="page03h = $event"&gt;
    &lt;/gln-pagination&gt;
  &lt;/div&gt;

  &lt;div class="app-elem pgs-elem"&gt;
    &lt;div&gt;
      &lt;small&gt;
        &lt;em&gt;height: 57px; font: 18px;&lt;/em&gt;
      &lt;/small&gt;
    &lt;/div&gt;
    &lt;gln-pagination [page]="page03i"
      style="font-size: 18px;"
      [count]="10"
      [exterior]="exterior03b"
      size="57"
      (changePage)="page03i = $event"&gt;
    &lt;/gln-pagination&gt;
  &lt;/div&gt;

  &lt;div class="app-elem pgs-elem"&gt;
    &lt;div&gt;
      &lt;small&gt;
        &lt;em&gt;height: 57px; font: 20px;&lt;/em&gt;
      &lt;/small&gt;
    &lt;/div&gt;
    &lt;gln-pagination [page]="page03j"
      style="font-size: 20px;"
      [count]="10"
      [exterior]="exterior03b"
      [config]="&#123; size: '57' &#125;"
      (changePage)="page03j = $event"&gt;
    &lt;/gln-pagination&gt;
  &lt;/div&gt;

&lt;/div&gt;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelTs">
          <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';

@Component(&#123;
  selector: 'app-pagination',
  templateUrl: './pagination.component.html',
  styleUrls: ['./pagination.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class PaginationComponent &#123;
  public exterior03b = 'outlined';
  public page03h: number = 1;
  public page03i: number = 1;
  public page03j: number = 1;
&#125;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelCss">
          <code><pre source="css">
app-input &#123;
  .app-group &#123;
    display: flex;
    flex-wrap: wrap;
  &#125;
  .app-elem &#123;
    min-width: 26ch;
    margin: 10px 10px;
  &#125;
  .pgs-elem &#123;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  &#125;
&#125;</pre></code>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
</section>

<hr br-nn />

<!-- Page: "Border" 04 -->
_<i id="Border">#B</i>

<section *ngIf="isShowBorder"
  mr-vr>
  <h3 class="app-hover-link">
    Border
    <a [href]="urlCmPagination + '#Border'">#</a>
  </h3>
  <p>
    The GlnPagination component has the ability to change the border-radius css property.
    <br />
    In other words, the buttons of the GlnPagination component can be square instead of round.
    <br />
    The round shape of the GlnPagination component buttons is given a special css property
    '--glnbt-br-rd'.
    <br />
    If you exclude this css-property, then the shape of the buttons will be square.
    <br />
    To disable this css property, you need to add the 'isNoRounded' attribute.
  </p>
</section>


<div *ngIf="isShowBorder"
  class="app-group">

  <div class="app-elem pgr-elem">
    <div>
      <small>
        <em>Attributes: isNoRounded, Exterior: 'text'.</em>
      </small>
    </div>
    <gln-pagination [page]="page04a"
      style="font-size: 16px;"
      [count]="10"
      exterior="text"
      isNoRounded
      (changePage)="page04a = $event">
    </gln-pagination>
  </div>

  <div class="app-elem pgr-elem">
    <div>
      <small>
        <em>Config: isNoRounded, Exterior: 'outlined'.</em>
      </small>
    </div>
    <gln-pagination [page]="page04b"
      style="font-size: 16px;"
      [count]="10"
      exterior="outlined"
      [config]="{ isNoRounded: true }"
      (changePage)="page04b = $event">
    </gln-pagination>
  </div>

</div>

<section *ngIf="isShowBorder"
  mr-vr>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="labelHtml">
          <code><pre source="html">
&lt;div class="app-group"&gt;

  &lt;div class="app-elem pgr-elem"&gt;
    &lt;div&gt;
      &lt;small&gt;
        &lt;em&gt;Attributes: isNoRounded, Exterior: 'text'.&lt;/em&gt;
      &lt;/small&gt;
    &lt;/div&gt;
    &lt;gln-pagination [page]="page04a"
      style="font-size: 16px;"
      [count]="10"
      exterior="text"
      isNoRounded
      (changePage)="page04a = $event"&gt;
    &lt;/gln-pagination&gt;
  &lt;/div&gt;

  &lt;div class="app-elem pgr-elem"&gt;
    &lt;div&gt;
      &lt;small&gt;
        &lt;em&gt;Config: isNoRounded, Exterior: 'outlined'.&lt;/em&gt;
      &lt;/small&gt;
    &lt;/div&gt;
    &lt;gln-pagination [page]="page04b"
      style="font-size: 16px;"
      [count]="10"
      exterior="outlined"
      [config]="&#123; isNoRounded: true &#125;"
      (changePage)="page04b = $event"&gt;
    &lt;/gln-pagination&gt;
  &lt;/div&gt;

&lt;/div&gt;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelTs">
          <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';

@Component(&#123;
  selector: 'app-pagination',
  templateUrl: './pagination.component.html',
  styleUrls: ['./pagination.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class PaginationComponent &#123;
  public exterior04a = 'outlined';
  public page04a: number = 1;
  public page04b: number = 1;
&#125;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelCss">
          <code><pre source="css">
app-input &#123;
  .app-group &#123;
    display: flex;
    flex-wrap: wrap;
  &#125;
  .app-elem &#123;
    min-width: 26ch;
    margin: 10px 10px;
  &#125;
  .pgr-elem &#123;
    width: 100%;
    display: flex;
    flex-direction: column;
  &#125;
&#125;</pre></code>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
</section>

<hr br-nn />

<!-- Page: "Ornaments" 05 -->
_<i id="Ornaments">#PO</i>

<section *ngIf="isShowOrnam"
  mr-vr>
  <h3 class="app-hover-link">
    Ornaments.
    <a [href]="urlCmPagination + '#Ornaments'">#</a>
  </h3>
  <p>
    For the GlnPagination component, it is possible to display an ornament
    (picture or text).
    <br />
    To display the ornament, you need to add a block inside "gln-pagination" with one
    of the attributes: "gln-orn-first", "gln-orn-prev", "gln-orn-next", "gln-orn-last".
  </p>
  <span>
    Example:
  </span>
  <code><pre source="html">
&lt;<strong>gln-pagination</strong>&gt;
  &lt;span <i><strong>gln-orn-prev</strong></i>&gt;prev&lt;/span&gt;
  &lt;span <i><strong>gln-orn-next</strong></i>&gt;next&lt;/span&gt;
  &lt;span <i><strong>gln-orn-first</strong></i>&gt;first&lt;/span&gt;
  &lt;span <i><strong>gln-orn-last</strong></i>&gt;last&lt;/span&gt;
&lt;/<strong>gln-pagination</strong>&gt;</pre></code>
  <p>
    For these blocks, you need to specify a horizontal indent value or use
    the 'glnpg-pd-hor' attribute.
  </p>
</section>

<section *ngIf="isShowOrnam"
  mr-vr>
  <span>exterior: </span>
  <mat-button-toggle-group value="exterior05a"
    (change)="exterior05a=$event.value">
    <mat-button-toggle [checked]="exterior05a==='outlined'"
      value="outlined">{{ labelOutlined }}</mat-button-toggle>
    <mat-button-toggle [checked]="exterior05a==='text'"
      value="text">{{ labelText }}</mat-button-toggle>
  </mat-button-toggle-group>
</section>


<div *ngIf="isShowOrnam"
  class="app-group">

  <div class="app-elem pgo-elem">
    <div>
      <small>
        <em>Ornaments: text 'prev', 'next'.</em>
      </small>
    </div>
    <gln-pagination [page]="page05a"
      [count]="10"
      [exterior]="exterior05a"
      (changePage)="page05a = $event">
      <span gln-orn-prev
        glnpg-pd-hor>prev
      </span>
      <span gln-orn-next
        glnpg-pd-hor>next
      </span>
    </gln-pagination>
  </div>

  <div class="app-elem pgo-elem">
    <div>
      <small>
        <em>Ornaments: 'gln-orn-prev', 'gln-orn-next'.</em>
      </small>
    </div>
    <gln-pagination [page]="page05b"
      [count]="10"
      [exterior]="exterior05a"
      (changePage)="page05b = $event">
      <svg gln-orn-prev
        class="pgo-ornam"
        focusable="false"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24">
        <path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z"></path>
      </svg>
      <svg gln-orn-next
        class="pgo-ornam"
        focusable="false"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24">
        <path d="m12 4-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z"></path>
      </svg>
    </gln-pagination>
  </div>

  <div class="app-elem pgo-elem">
    <div>
      <small>
        <em>Ornaments: 'gln-orn-first', 'gln-orn-last'.</em>
      </small>
    </div>
    <gln-pagination [page]="page05c"
      [count]="10"
      [exterior]="exterior05a"
      isHideNext
      isHidePrev
      isShowFirst
      isShowLast
      (changePage)="page05c = $event">
      <span gln-orn-first
        class="pgo-first">
      </span>
      <span gln-orn-last
        class="pgo-last">
      </span>
    </gln-pagination>
  </div>

</div>


<section *ngIf="isShowOrnam"
  mr-vr>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="labelHtml">
          <code><pre source="html">
&lt;div class="app-group"&gt;

  &lt;div class="app-elem pgo-elem"&gt;
    &lt;div&gt;
      &lt;small&gt;
        &lt;em&gt;Ornaments: text 'prev', 'next'.&lt;/em&gt;
      &lt;/small&gt;
    &lt;/div&gt;
    &lt;gln-pagination [page]="page05a"
      [count]="10"
      [exterior]="exterior05a"
      (changePage)="page05a = $event"&gt;
      &lt;span gln-orn-prev
        glnpg-pd-hor&gt;prev
      &lt;/span&gt;
      &lt;span gln-orn-next
        glnpg-pd-hor&gt;next
      &lt;/span&gt;
    &lt;/gln-pagination&gt;
  &lt;/div&gt;

  &lt;div class="app-elem pgo-elem"&gt;
    &lt;div&gt;
      &lt;small&gt;
        &lt;em&gt;Ornaments: 'gln-orn-prev', 'gln-orn-next'.&lt;/em&gt;
      &lt;/small&gt;
    &lt;/div&gt;
    &lt;gln-pagination [page]="page05b"
      [count]="10"
      [exterior]="exterior05a"
      (changePage)="page05b = $event"&gt;
      &lt;svg gln-orn-prev
        class="pgo-ornam"
        focusable="false"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"&gt;
        &lt;path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z"&gt;&lt;/path&gt;
      &lt;/svg&gt;
      &lt;svg gln-orn-next
        class="pgo-ornam"
        focusable="false"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"&gt;
        &lt;path d="m12 4-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z"&gt;&lt;/path&gt;
      &lt;/svg&gt;
    &lt;/gln-pagination&gt;
  &lt;/div&gt;

  &lt;div class="app-elem pgo-elem"&gt;
    &lt;div&gt;
      &lt;small&gt;
        &lt;em&gt;Ornaments: 'gln-orn-first', 'gln-orn-last'.&lt;/em&gt;
      &lt;/small&gt;
    &lt;/div&gt;
    &lt;gln-pagination [page]="page05c"
      [count]="10"
      [exterior]="exterior05a"
      isHideNext
      isHidePrev
      isShowFirst
      isShowLast
      (changePage)="page05c = $event"&gt;
      &lt;span gln-orn-first
        class="pgo-first"&gt;
      &lt;/span&gt;
      &lt;span gln-orn-last
        class="pgo-last"&gt;
      &lt;/span&gt;
    &lt;/gln-pagination&gt;
  &lt;/div&gt;

&lt;/div&gt;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelTs">
          <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';

@Component(&#123;
  selector: 'app-pagination',
  templateUrl: './pagination.component.html',
  styleUrls: ['./pagination.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class PaginationComponent &#123;
  public exterior05a = 'outlined';
  public page05a: number = 1;
  public page05b: number = 1;
  public page05c: number = 1;
&#125;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelCss">
          <code><pre source="css">
app-input &#123;
  .app-group &#123;
    display: flex;
    flex-wrap: wrap;
  &#125;
  .app-elem &#123;
    min-width: 26ch;
    margin: 10px 10px;
  &#125;
  .pgo-elem &#123;
    width: 100%;
    display: flex;
    flex-direction: column;
  &#125;
  .pgo-ornam &#123;
    height: 24px;
    fill: currentColor;
  &#125;
  .pgo-first &#123;
    background-color: currentColor;
    display: inline-block;
    height: 24px;
    mask: url("data:image/svg+xml;charset=utf8,"
      + "&lt;svg xmlns='http://www.w3.org/2000/svg' "
      + " viewBox='0 0 24 24'&gt;"
      + "&lt;path d='M16.383 6.076a.994.994 0 0 0-1.09.217l-5 5a1 1 0 0 0 0 1.4"
      + "14l5 5A1 1 0 0 0 16 18a.987.987 0 0 0 .383-.076A1 1 0 0 0 17 17V7a1"
      + " 1 0 0 0-.617-.924zM15 14.586 12.414 12 15 9.414zM8 6a1 1 0 0 0-1 1"
      + "v10a1 1 0 0 0 2 0V7a1 1 0 0 0-1-1z'&gt;"
      + "&lt;/path&gt;"
      + "&lt;/svg&gt;");
    width: 24px;
  &#125;
  .pgo-last &#123;
    background-color: currentColor;
    display: inline-block;
    height: 24px;
    mask: url("data:image/svg+xml;charset=utf8,"
      + "&lt;svg xmlns='http://www.w3.org/2000/svg' "
      + " viewBox='0 0 24 24'&gt;"
      + "&lt;path d='M8 18a.987.987 0 0 1-.383-.076A1 1 0 0 1 7 17V7a1 1 0 0 1 "
      + "1.707-.707l5 5a1 1 0 0 1 0 1.414l-5 5A1 1 0 0 1 8 18zm1-8.586v5.172"
      + "L11.586 12zM16 18a1 1 0 0 1-1-1V7a1 1 0 0 1 2 0v10a1 1 0 0 1-1 1z'&gt;"
      + "&lt;/path&gt;"
      + "&lt;/svg&gt;");
    width: 24px;
  &#125;
&#125;</pre></code>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
</section>

<hr br-nn />

<!-- Page: "Config" 08 -->
_<i id="Config">#PC</i>

<section *ngIf="isShowConfig"
  mr-vr>
  <h3 class="app-hover-link">
    Config.
    <a [href]="urlCmPagination + '#Config'">#</a>
  </h3>
  <p>
    If your application will have a single style for all GlnPagination elements,
    then you can set a single configuration.
    To do this, you need to create an object with the GlnPaginationConfig interface and define the
    required values.
    Next, specify the resulting object in the list of providers for the entire application (at the
    level of the AppComponent).
  </p>
  <code><pre source="ts">
const glnPaginationConfigDefault: GlnPaginationConfig = &#123;
  countNearby: 2,
  exterior: 'outlined',
  size: 'small',
&#125;;

@Component(&#123;
  selector: 'app-root',
  templateUrl: './app.component.html',
  styleUrls: ['./app.component.scss'],
  encapsulation: ViewEncapsulation.None,
  providers: [
    &#123; provide: GLN_PAGINATION_CONFIG, useValue: glnPaginationConfigDefault &#125;
  ],
&#125;)
export class AppComponent &#123;
  title = 'demo';
&#125;</pre></code>
  <p>
    After that, all GlnPagination elements based on the "GlnPaginationConfig" component will
    have the same configuration.
  </p>
</section>

<section *ngIf="isShowConfig"
  mr-vr
  id="config-interface">
  <h4 class="app-hover-link">
    GlnPaginationConfig interface.
    <a [href]="urlCmPagination + '#config-interface'">#</a>
  </h4>
</section>

<table *ngIf="isShowConfig"
  class="app-tab">
  <thead>
    <tr>
      <th class="app-mn-wd-22ch">Name</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <code>count?: number;</code>
      </td>
      <td>
        <span>
          The total number of pages.<br />
          If a value less than zero is specified, then zero is used.<br />
          (default = 1;)
        </span><br />
        <span>(optional)</span>
      </td>
    </tr>
    <tr>
      <td>
        <code>countBorder?: number;</code>
      </td>
      <td>
        <span>
          The number of always visible pages at the beginning and at the end.<br />
          If a value less than zero is specified, then zero is used.<br />
          (default = 1;)
        </span><br />
        <span>(optional)</span>
      </td>
    </tr>
    <tr>
      <td>
        <code>countNearby?: number;</code>
      </td>
      <td>
        <span>
          The number of always visible pages before and after the current page.<br />
          If a value less than zero is specified, then zero is used.<br />
          (default = 1;)
        </span><br />
        <span>(optional)</span>
      </td>
    </tr>
    <tr>
      <td>
        <code>exterior?: string;</code>
      </td>
      <td>
        <span>
          This property determines the appearance of the page switch buttons.
          It takes the following values:
        </span>
        <ul>
          <li>
            "outlined" - A border around the entire perimeter of the element.
          </li>
          <li>
            "text" - There is no border. (default)
          </li>
        </ul>
        <span>(optional)</span>
      </td>
    </tr>
    <tr>
      <td>
        <code>isHideNext?: boolean;</code>
      </td>
      <td>
        <span>
          Specifies that the 'Next' button is hidden.
          <br />(default = false;)
        </span><br />
        <span>(optional)</span>
      </td>
    </tr>
    <tr>
      <td>
        <code>isHidePrev?: boolean;</code>
      </td>
      <td>
        <span>
          Specifies that the 'Previous' button is hidden.
          <br />(default = false;)
        </span><br />
        <span>(optional)</span>
      </td>
    </tr>
    <tr>
      <td>
        <code>isNoRipple?: boolean;</code>
      </td>
      <td>
        <span>
          This property to turn off the ripple effect.
          <br />(default = false;)
        </span><br />
        <span>(optional)</span>
      </td>
    </tr>
    <tr>
      <td>
        <code>isNoRounded?: boolean;</code>
      </td>
      <td>
        <span>
          Specifies that the buttons are not round, but rectangular.
          <br />(default = false;)
        </span><br />
        <span>(optional)</span>
      </td>
    </tr>
    <tr>
      <td>
        <code>isShowFirst?: boolean;</code>
      </td>
      <td>
        <span>
          Specifies that the 'First' button is visible.
          <br />(default = false;)
        </span><br />
        <span>(optional)</span>
      </td>
    </tr>
    <tr>
      <td>
        <code>isShowLast?: boolean;</code>
      </td>
      <td>
        <span>
          Specifies that the 'Last' button is visible.
          <br />(default = false;)
        </span><br />
        <span>(optional)</span>
      </td>
    </tr>
    <tr>
      <td>
        <code>size?: number<br/>
        &nbsp;&nbsp;| string;</code>
      </td>
      <td>
        <span>
          This property determines the size of the element (its height).
          <a [href]="urlCmFrame + '#Size'">More details.</a>
          It takes the following values:
        </span>
        <ul>
          <li>"short" - sets the height to 38px (default);</li>
          <li>"small" - sets the height to 44px;</li>
          <li>"middle" - sets the height to 50px;</li>
          <li>"wide" - sets the height to 56px;</li>
          <li>"large" - sets the height to 62px;</li>
          <li>"huge" - sets the height to 68px;</li>
        </ul>
        <span>
          In this property, you can specify the value of the height of the
          element in pixels. (size="57").
        </span>
        <span>(optional)</span>
      </td>
    </tr>
  </tbody>
</table>

<section *ngIf="isShowConfig"
  mr-vr
  id="config1">
  <h4 class="app-hover-link">
    1. Configuration with "outlined" and "small".
    <a [href]="urlCmPagination + '#config1'">#</a>
  </h4>
  <p>
    For example, let's prepare a configuration in which:
  </p>
  <ul>
    <li>"countNearby" will have the value 2.</li>
    <li>"exterior" will have the value "outlined".</li>
    <li>"size" will have the value "small" (height to 44px;).</li>
  </ul>
  <code><pre source="ts">
const glnPaginationConfigDefault: GlnPaginationConfig = &#123;
  count: 11,
  countNearby: 2,
  exterior: 'outlined',
  size: 'small',
&#125;;</pre></code>
</section>


<section *ngIf="isShowConfig"
  mr-vr
  id="config2">
  <h4 class="app-hover-link">
    2. Specify "text" and "middle".
    <a [href]="urlCmPagination + '#config2'">#</a>
  </h4>
  <p>
    Suppose we have a provider in our application with "GlnPaginationConfig" and all GlnPagination
    elements accept its default values.
    We can change these values for an individual element.
    To do this, you need to specify in this element those properties that do not match in the
    configuration provider.
  </p>
  <p>
    For example, let's specify the following parameters:
  </p>
  <code><pre source="ts">
  count: 12,
  countNearby: 1,
  exterior="text",
  size="middle"</pre></code>
  <p>
    In other words, there is the following order of determining the configuration parameters:
  </p>
  <ul>
    <li>
      Standard values are taken.
      <code><pre source="ts">
  count=1,
  countBorder=1,
  countNearby=1,
  exterior="text",
  isHideNext=false,
  isHidePrev=false,
  isNoRounded=false,
  isShowFirst=false,
  isShowLast=false,
  size="short"</pre></code>
    </li>
    <li>
      Values from the default configuration provider (if there is one).
    </li>
    <li>
      Values from input parameters (if there is one).
    </li>
  </ul>
</section>

<div *ngIf="isShowConfig"
  class="app-group">

  <div class="app-elem pgc-elem">
    <div>
      <small>
        <em>1. Default config: "outlined", "small", countNearby=2, count=11.</em>
      </small>
    </div>
    <gln-pagination [page]="page08a"
      (changePage)="page08a = $event">
    </gln-pagination>
  </div>

  <div class="app-elem pgc-elem">
    <div>
      <small>
        <em>2. exterior="text", size="middle", countNearby=1, count=12.</em>
      </small>
    </div>
    <gln-pagination [page]="page08b"
      [count]="12"
      [countNearby]="1"
      exterior="outlined"
      size="middle"
      (changePage)="page08b = $event">
    </gln-pagination>
  </div>

</div>


<section *ngIf="isShowConfig"
  mr-vr>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="labelHtml">
          <code><pre source="html">
&lt;div class="app-group"&gt;

  &lt;div class="app-elem pgc-elem"&gt;
    &lt;div&gt;
      &lt;small&gt;
        &lt;em&gt;1. Default config: "outlined", "small", countNearby=2.&lt;/em&gt;
      &lt;/small&gt;
    &lt;/div&gt;
    &lt;gln-pagination [page]="page08a"
      (changePage)="page08a = $event"&gt;
    &lt;/gln-pagination&gt;
  &lt;/div&gt;

  &lt;div class="app-elem pgc-elem"&gt;
    &lt;div&gt;
      &lt;small&gt;
        &lt;em&gt;2. exterior="text", size="middle", countNearby=1.&lt;/em&gt;
      &lt;/small&gt;
    &lt;/div&gt;
    &lt;gln-pagination [page]="page08b"
      [count]="12"
      [countNearby]="1"
      exterior="outlined"
      size="middle"
      (changePage)="page08b = $event"&gt;
    &lt;/gln-pagination&gt;
  &lt;/div&gt;

&lt;/div&gt;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelTs">
          <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';
import &#123;
  GlnPaginationConfig, GLN_PAGINATION_CONFIG
&#125; from 'gelenium-ui';

const glnPaginationConfigDefault: GlnPaginationConfig = &#123;
  count: 11,
  countNearby: 2,
  exterior: 'outlined',
  size: 'small',
&#125;;

@Component(&#123;
  selector: 'app-pagination',
  templateUrl: './pagination.component.html',
  styleUrls: ['./pagination.component.scss'],
  encapsulation: ViewEncapsulation.None,
  providers: [
    &#123; provide: GLN_PAGINATION_CONFIG, useValue: glnPaginationConfigDefault &#125;
  ],
&#125;)
export class PaginationComponent &#123;
  public page08a: number = 6;
  public page08b: number = 6;
&#125;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelCss">
          <code><pre source="css">
app-input &#123;
  .app-group &#123;
    display: flex;
    flex-wrap: wrap;
  &#125;
  .app-elem &#123;
    min-width: 26ch;
    margin: 10px 10px;
  &#125;
  .pgc-elem &#123;
    width: 100%;
    display: flex;
    flex-direction: column;
  &#125;
&#125;</pre></code>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
</section>

<hr br-nn />

<!-- Page: "Api" 09 -->

<hr br-nn />


<!-- Page: "PaletteBasic" 11 -->
_<i id="Basic">#PB</i>

<section *ngIf="isShowPalette"
  mr-vr>
  <h4 class="app-hover-link">
    Basic.
    <a [href]="urlPlPagination + '#Basic'">#</a>
  </h4>
  <p>
    The GlnPagination component has a default palette.
  </p>
</section>

<section *ngIf="isShowPalette"
  mr-vr>
  <span>exterior: </span>
  <mat-button-toggle-group value="exterior11a"
    (change)="exterior11a=$event.value">
    <mat-button-toggle [checked]="exterior11a==='outlined'"
      value="outlined">{{ labelOutlined }}</mat-button-toggle>
    <mat-button-toggle [checked]="exterior11a==='text'"
      value="text">{{ labelText }}</mat-button-toggle>
  </mat-button-toggle-group>
</section>


<div *ngIf="isShowPalette"
  class="app-group">

  <div class="app-elem pgpb-elem">
    <div>
      <small>
        <em>Attributes: count, page, exterior.</em>
      </small>
    </div>
    <gln-pagination [page]="page11a"
      style="font-size: 16px;"
      [count]="10"
      [exterior]="exterior11a"
      (changePage)="page11a = $event">
    </gln-pagination>
  </div>

  <div class="app-elem pgpb-elem">
    <div>
      <small>
        <em>Attributes: count, page, exterior, isDisabled.</em>
      </small>
    </div>
    <gln-pagination [page]="page11b"
      style="font-size: 16px;"
      [count]="10"
      [exterior]="exterior11a"
      isDisabled
      (changePage)="page11b = $event">
    </gln-pagination>
  </div>

</div>


<section *ngIf="isShowPalette"
  mr-vr>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="labelHtml">
          <code><pre source="html">
&lt;div class="app-group"&gt;

  &lt;div class="app-elem pgpb-elem"&gt;
    &lt;div&gt;
      &lt;small&gt;
        &lt;em&gt;Attributes: count, page, exterior.&lt;/em&gt;
      &lt;/small&gt;
    &lt;/div&gt;
    &lt;gln-pagination [page]="page11a"
      style="font-size: 16px;"
      [count]="10"
      [exterior]="exterior11a"
      (changePage)="page11a = $event"&gt;
    &lt;/gln-pagination&gt;
  &lt;/div&gt;

  &lt;div class="app-elem pgpb-elem"&gt;
    &lt;div&gt;
      &lt;small&gt;
        &lt;em&gt;Attributes: count, page, exterior, isDisabled.&lt;/em&gt;
      &lt;/small&gt;
    &lt;/div&gt;
    &lt;gln-pagination [page]="page11b"
      style="font-size: 16px;"
      [count]="10"
      [exterior]="exterior11a"
      isDisabled
      (changePage)="page11b = $event"&gt;
    &lt;/gln-pagination&gt;
  &lt;/div&gt;

&lt;/div&gt;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelTs">
          <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';

@Component(&#123;
  selector: 'app-pagination',
  templateUrl: './pagination.component.html',
  styleUrls: ['./pagination.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class PaginationComponent &#123;
  public exterior11a = 'outlined';
  public page11a: number = 1;
  public page11b: number = 1;
&#125;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelCss">
          <code><pre source="css">
app-input &#123;
  .app-group &#123;
    display: flex;
    flex-wrap: wrap;
  &#125;
  .app-elem &#123;
    min-width: 26ch;
    margin: 10px 10px;
  &#125;
  .pgpb-elem &#123;
    width: 100%;
    display: flex;
    flex-direction: column;
  &#125;
&#125;</pre></code>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
</section>

<hr br-nn />

<!-- Page: "PaletteBootstrap" 12 -->
_<i id="Bootstrap">#PB</i>

<section *ngIf="isShowPalette"
  mr-vr>
  <h4 class="app-hover-link">
    Like a Bootstrap.
    <a [href]="urlPlPagination + '#Bootstrap'">#</a>
  </h4>
  <p>
    It is possible to display GlnPagination in style as "Bootstrap".
  </p>
</section>


<div *ngIf="isShowPalette"
  class="app-group">

  <div class="app-elem pgpb-elem">
    <div>
      <small>
        <em>Attributes: count, page, exterior.</em>
      </small>
    </div>
    <gln-pagination class="pgpb-bs"
      [page]="page12a"
      [count]="10"
      exterior="outlined"
      size="short"
      isNoRounded
      (changePage)="page12a = $event">
      <span gln-orn-prev
        class="pgpb-pd">Previous</span>
      <span gln-orn-next
        class="pgpb-pd">Next</span>
    </gln-pagination>
  </div>

  <div class="app-elem pgpb-elem">
    <div>
      <small>
        <em>Attributes: count, page, exterior, isDisabled.</em>
      </small>
    </div>
    <gln-pagination class="pgpb-bs"
      [page]="page12b"
      [count]="10"
      exterior="outlined"
      size="short"
      isNoRounded
      isDisabled
      (changePage)="page12b = $event">
      <span gln-orn-prev
        class="pgpb-pd">Previous</span>
      <span gln-orn-next
        class="pgpb-pd">Next</span>
    </gln-pagination>
  </div>

</div>




<!-- Page: "PaletteMaterialUI" 13 -->
_<i id="MaterialUI">#PM</i>

<section *ngIf="isShowPalette"
  mr-vr>
  <h4 class="app-hover-link">
    Like a Material-UI.
    <a [href]="urlPlPagination + '#MaterialUI'">#</a>
  </h4>
  <p>
    It is possible to display GlnPagination in style as "Material-UI".
  </p>
</section>


<div *ngIf="isShowPalette"
  class="app-group">

  <div class="app-elem pgpm-elem">
    <div>
      <small>
        <em>Attributes: count, page, exterior='text', grey.</em>
      </small>
    </div>
    <gln-pagination class="pgpm-mui pgpm-grey"
      [glnColor]="{ primary: 'grey' }"
      [page]="page13a"
      [count]="10"
      exterior="text"
      [size]="32"
      (changePage)="page13a = $event">
    </gln-pagination>
  </div>

  <div class="app-elem pgpm-elem">
    <div>
      <small>
        <em>Attributes: count, page, exterior='text', blue.</em>
      </small>
    </div>
    <gln-pagination class="pgpm-mui pgpm-blue"
      [glnColor]="{ primary: 'blue' }"
      [page]="page13b"
      [count]="10"
      exterior="text"
      [size]="32"
      (changePage)="page13b = $event">
    </gln-pagination>
  </div>

  <div class="app-elem pgpm-elem">
    <div>
      <small>
        <em>Attributes: count, page, exterior='text', pink.</em>
      </small>
    </div>
    <gln-pagination class="pgpm-mui pgpm-pink"
      [glnColor]="{ primary: 'pink' }"
      [page]="page13c"
      [count]="10"
      exterior="text"
      [size]="32"
      (changePage)="page13c = $event">
    </gln-pagination>
  </div>

  <div class="app-elem pgpm-elem">
    <div>
      <small>
        <em>Attributes: count, page, exterior='text', isDisabled.</em>
      </small>
    </div>
    <gln-pagination class="pgpm-mui"
      [page]="page13d"
      [count]="10"
      exterior="text"
      [size]="32"
      isDisabled
      (changePage)="page13d = $event">
    </gln-pagination>
  </div>

  <div class="app-elem pgpm-elem">
    <div>
      <small>
        <em>Attributes: count, page, exterior='outlined', light-grey.</em>
      </small>
    </div>
    <gln-pagination class="pgpm-mui pgpm-light-grey"
      [glnColor]="{ primary: 'light-grey' }"
      [page]="page13f"
      [count]="10"
      exterior="outlined"
      [size]="32"
      (changePage)="page13f = $event">
    </gln-pagination>
  </div>

  <div class="app-elem pgpm-elem">
    <div>
      <small>
        <em>Attributes: count, page, exterior='outlined', light-blue.</em>
      </small>
    </div>
    <gln-pagination class="pgpm-mui pgpm-light-blue"
      [glnColor]="{ primary: 'light-blue' }"
      [page]="page13g"
      [count]="10"
      exterior="outlined"
      [size]="32"
      (changePage)="page13g = $event">
    </gln-pagination>
  </div>

  <div class="app-elem pgpm-elem">
    <div>
      <small>
        <em>Attributes: count, page, exterior='outlined', pink.</em>
      </small>
    </div>
    <gln-pagination class="pgpm-mui pgpm-pink"
      [glnColor]="{ primary: 'pink' }"
      [page]="page13h"
      [count]="10"
      exterior="outlined"
      [size]="32"
      (changePage)="page13h = $event">
    </gln-pagination>
  </div>

  <div class="app-elem pgpm-elem">
    <div>
      <small>
        <em>Attributes: count, page, exterior='outlined', isDisabled.</em>
      </small>
    </div>
    <gln-pagination class="pgpm-mui"
      [page]="page13i"
      [count]="10"
      exterior="outlined"
      [size]="32"
      isDisabled
      (changePage)="page13i = $event">
    </gln-pagination>
  </div>

</div>

<!--
<section *ngIf="isShowPalette"
  mr-vr>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="labelHtml">
          <code><pre source="html">
&lt;div class="app-group"&gt;


&lt;/div&gt;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelTs">
          <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';

@Component(&#123;
  selector: 'app-pagination',
  templateUrl: './pagination.component.html',
  styleUrls: ['./pagination.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class PaginationComponent &#123;
  public exterior13a = 'outlined';
  public page13a: number = 1;
  public page13b: number = 1;
&#125;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelCss">
          <code><pre source="css">
app-input &#123;
  .app-group &#123;
    display: flex;
    flex-wrap: wrap;
  &#125;
  .app-elem &#123;
    min-width: 26ch;
    margin: 10px 10px;
  &#125;
  .pgpm-elem &#123;
    width: 100%;
    display: flex;
    flex-direction: column;
  &#125;
&#125;</pre></code>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
</section>
-->
<hr br-nn />

<!-- END -->