<section mr-vr>
  <h3 class="app-hover-link">
    Basic.
    <a [href]="urlCmPagination + '#Basic'">#</a>
  </h3>
  <span>
    To use this component, in your module you need to add:
  </span>
  <code><pre source="ts">
import &#123; GlnPaginationModule &#125; from 'gelenium-ui';</pre>
  </code>
  <p>
    The GlnPagination component is designed to change the current page from the specified
    range.
  </p>
</section>


<div class="app-group">

  <div class="app-elem">
    <gln-pagination class="demo"
      isShowFirst
      isShowLast
      [count]="10"
      [page]="page01a"
      [size]="32"
      (changePage)="page01a = $event">
    </gln-pagination>
  </div>

</div>


<div class="app-group">

  <div class="app-elem">
    <gln-pagination class="demo"
      isShowFirst
      isShowLast
      [count]="10"
      [page]="page02a"
      [size]="32"
      exterior="outlined"
      (changePage)="page02a = $event">
    </gln-pagination>
  </div>

</div>