<ng-container *ngIf="true">
  <section mr-vr>
    <h3 class="app-hover-link">
      Basic.
      <a [href]="urlCmPagination + '#Basic'">#</a>
    </h3>
    <span>
      To use this component, in your module you need to add:
    </span>
    <code><pre source="ts">
import &#123; GlnPaginationModule &#125; from 'gelenium-ui';</pre>
  </code>
    <p>
      The GlnPagination component is designed to change the current page from the specified
      range.
    </p>
    <span>For example:</span>
    <code><pre source="html">
&lt;<strong>gln-pagination</strong>
  [<i><strong>page</strong></i>]="page01"
  [<i><strong>count</strong></i>]="pageCount01"
  (<i><strong>changePage</strong></i>)="page01a=$event"&gt;
&lt;<strong>/gln-pagination</strong>&gt;</pre></code>
    <span>
      The "page" current page number.<br />
      The "count" - total number of pages.<br />
      The "changePage" parameter is the page number change event.
    </span>
  </section>


  <div class="app-group">

    <div class="app-elem pgb-elem">
      <div>
        <small>
          <em>Exterior: 'text'.</em>
        </small>
      </div>
      <gln-pagination [page]="page01a"
        [count]="10"
        [size]="32"
        (changePage)="page01a = $event">
      </gln-pagination>
    </div>

    <div class="app-elem pgb-elem">
      <div>
        <small>
          <em>Exterior: 'outlined'.</em>
        </small>
      </div>
      <gln-pagination [page]="page01b"
        [count]="10"
        [size]="32"
        exterior="outlined"
        (changePage)="page01b = $event">
      </gln-pagination>
    </div>

  </div>

</ng-container>

<br />

<i id="Attributes">#</i>
<ng-container *ngIf="true">
  <section mr-vr>
    <h3 class="app-hover-link">
      Attributes.
      <a [href]="urlCmPagination + '#Attributes'">#</a>
    </h3>
    <p>The following attributes are supported:</p>
    <ul>
      <li>"id" - parameter for defining the unique identifier of the input field
        (id="unique_identifier");
      </li>
      <li>
        "config" - Defines a configuration object.
        <a [href]="urlCmPagination + '#config-interface'">More details.</a>
      </li>
      <li>
        "count" - total number of pages;
        (default 1)
      </li>
      <li>
        "page" - current page number;
        (default 1)
      </li>
      <li>
        "exterior" - Determines the appearance of an element.<br />
        It can take the following values:
        <ul>
          <li>"text" - default;</li>
          <li>"outlined";</li>
        </ul>
      </li>
      <li>"isDisabled" - a sign that the field is disabled (isDisabled);</li>
      <li>
        "isHidePrev" - indicates that the "previous page" button is hidden (isHidePrev);
      </li>
      <li>
        "isHideNext" - indicates that the "next page" button is hidden (isHideNext);
      </li>
      <li>
        "isShowFirst" - indicates that the "first page" button is displayed (isShowFirst);
      </li>
      <li>
        "isShowLast" - indicates that the "last page" button is displayed (isShowLast);
      </li>
    </ul>
  </section>


  <section mr-vr>
    <span>exterior: </span>
    <mat-button-toggle-group value="exterior02b"
      (change)="exterior02b=$event.value">
      <mat-button-toggle [checked]="exterior02b==='outlined'"
        value="outlined">{{ labelOutlined }}</mat-button-toggle>
      <mat-button-toggle [checked]="exterior02b==='underline'"
        value="text">{{ labelText }}</mat-button-toggle>
    </mat-button-toggle-group>
  </section>


  <div class="app-group">

    <div class="app-elem pga-elem">
      <div>
        <small>
          <em>Attributes: count, page, exterior.</em>
        </small>
      </div>
      <gln-pagination [page]="page02a"
        [count]="10"
        [size]="32"
        [exterior]="exterior02b"
        (changePage)="page02a = $event">
      </gln-pagination>
    </div>

  </div>

  <div class="app-group">

    <div class="app-elem pga-elem">
      <div>
        <small>
          <em>Attributes: isHidePrev, isHideNext.</em>
        </small>
      </div>
      <gln-pagination [page]="page02b"
        [count]="10"
        [size]="32"
        [exterior]="exterior02b"
        isHidePrev
        isHideNext
        (changePage)="page02b = $event">
      </gln-pagination>
    </div>

    <div class="app-elem pga-elem">
      <div>
        <small>
          <em>Attributes: isShowFirst, isShowLast.</em>
        </small>
      </div>
      <gln-pagination [page]="page02c"
        [count]="10"
        [size]="32"
        [exterior]="exterior02b"
        isShowFirst
        isShowLast
        (changePage)="page02c = $event">
      </gln-pagination>
    </div>

    <div class="app-elem pga-elem">
      <div>
        <small>
          <em>Attributes: isHidePrev, isHideNext, isShowFirst, isShowLast.</em>
        </small>
      </div>
      <gln-pagination [page]="page02d"
        [count]="10"
        [size]="32"
        [exterior]="exterior02b"
        isHidePrev
        isHideNext
        isShowFirst
        isShowLast
        (changePage)="page02d = $event">
      </gln-pagination>
    </div>

    <!--  -->

    <div class="app-elem pga-elem">
      <div>
        <small>
          <em>Attributes: isDisabled.</em>
        </small>
      </div>
      <gln-pagination [page]="page02e"
        [count]="10"
        [size]="32"
        [exterior]="exterior02b"
        isDisabled
        (changePage)="page02e = $event">
      </gln-pagination>
    </div>


  </div>

</ng-container>


<ng-container *ngIf="true">
  <section mr-vr
    id="attributes-supported02">
    <h4 class="app-hover-link">
      Attributes are also supported 2:
      <a [href]="urlCmPagination + '#attributes-supported02'">#</a>
    </h4>
    <ul>
      <li>
        "countBorder" - number of always visible pages at the beginning and at the end;<br />
        (default 1)
      </li>
      <li>
        "countNearby" - number of always visible pages before and after the current page;<br />
        (default 1)
      </li>
    </ul>
  </section>
</ng-container>