/*# sourceURL=cm-tooltip-basic.component.scss */

app-cm-tooltip-basic {
  display: block;

  // Page: "Basic"
  .ttbs-btn {
    border-radius: 4px;
    border-width: 0;
    font-size: 0.875em;
    height: 38px;
    min-width: 64px;
    padding: 0 16px;
  }

  // Page: "Attributes" 01 // 02(abcd)
  .tta1-group-place {
    width: 400px;
  }
  .tta1-group {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
  }
  .tta1-group50{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    &.left {
      align-items: flex-start;  
    }
    &.right {
      align-items: flex-end;  
    }
  }
  .tta1-btn-cl {
    border-radius: 5px;
    border-width: 0px;
    color: cadetblue;;
    font-weight: 600;
    height: 38px;
    margin: 5px 5px;
    min-width: 100px;
    user-select: all;
  }

  // Page: "Attributes" 02 // 02(efgh)
  .tta2-input {
    height: 26px;
    width: 55px;
    padding-left: 1em;
    padding-right: 1em;
  }
  .tta2-io-wd {
    min-width: 15ch;
  }
  .tta2-io-mrl {
    margin-left: 32px;
  }
  .tta2-io {
    display: flex;
  }
  .tta2-io-btn {
    background-color: transparent;
    border: 0;
    border-radius: 50%;
    color: #00000080;
    cursor: pointer;
    font-size: 24px;
    outline: 0;
    &:hover {
      color: #000000fa;
    }
  }
  .tta2-btn {
    border-radius: 4px;
    border-width: 0;
    font-size: 0.875em;
    height: 38px;
    min-width: 64px;
    padding: 0 16px;
  }

  // Page: "Attributes" 03 // 02(ijkl)
  .tta3-btn {
    border-radius: 4px;
    border-width: 0;
    font-size: 0.875em;
    height: 38px;
    min-width: 64px;
    padding: 0 16px;
  }
  .tta3-ver {
    vertical-align: middle;
  }

  // Page: "Attributes" 04 // 02(mnop)
  .tta4-elem {
    min-width: 200px;
  }
  .tta4-btn {
    border-radius: 4px;
    border-width: 0;
    font-size: 0.875em;
    height: 38px;
    min-width: 64px;
    padding: 0 16px;
  }
  .tta4-select {
    padding: 6px 1em;
    font-size: 14px;
    outline: none;
    margin: 3px;
  }

  // Page: "Customization" 06
  .ttcs-btn {
    border-radius: 4px;
    border-width: 0;
    font-size: 0.875em;
    height: 38px;
    min-width: 64px;
    padding: 0 16px;
  }

  // Page: "Feature" 07
  .ttft-btn {
    border-radius: 4px;
    border-width: 0;
    font-size: 0.875em;
    height: 38px;
    min-width: 64px;
    padding: 0 16px;
  }

  table.ttft-table {
    border-collapse: collapse;
    th {
      font-weight: 500;
    }
    th, td {
      border: 1px solid black;
      max-width: 140px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      padding: 2px 7px;
    }
  }

  // Page: "Config" 08
  .ttcf-btn {
    border-radius: 4px;
    border-width: 0;
    font-size: 0.875em;
    height: 38px;
    min-width: 64px;
    padding: 0 16px;
  }

  // Page: "Api" 09
  table.ttap-table {
    td {
      &[mx-wd-230] {
        max-width: 230px;
        width: 230px;
      }
    }
  }
  
}

// Page: "Attributes" 03
.tta3-panel-demo {
  --glntt-color: black;
  --glntt-bg-color: darkorange;
}

// Page: "Customization" 06
.gln-tooltip-panel.ttcs-panel-bootstrap {
  --glntt-panel-indent: 7px;
}
.ttcs-bootstrap {
  --glntt-color: #fff;
  --glntt-bg-color: #000;
  --glntt-font-size: 14px;
  border-radius: 0.43em;
  font-weight: 400;
  padding: 4px 8px;
}
.gln-tooltip-panel.ttcs-panel-mui {
  --glntt-panel-indent: 14px;
}
.ttcs-mui {
  --glntt-bg-color:rgba(97, 97, 97, 0.92);
  --glntt-color: rgb(255, 255, 255);
  --glntt-font-size: 11px;
  border-radius: 4px;
  padding: 4px 8px;
}
.ttcs-mui-light {
  --glntt-bg-color:#fff;
  --glntt-color: rgba(0, 0, 0, 0.87);
  --glntt-font-size: 11px;
  border-radius: 4px;
  padding: 4px 8px;
  box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2)
    , 0px 1px 1px 0px rgba(0,0,0,0.14)
    , 0px 1px 3px 0px rgba(0,0,0,0.12)
    , 0px -1px 0px 0px rgba(0, 0, 0, 0.08);
}

// Page: "Config" 08
.ttcf-panel {
  --glntt-bg-color: cornflowerblue;
  box-shadow: rgb(100, 119, 154) 0 2px 7px 1px;
}
