<section mr-vr>
  <h3 class="app-hover-link">
    Basic.
    <a [href]="urlCmTooltip + '#Basic'">#</a>
  </h3>
  <span>
    To use this component, in your module you need to add:
  </span>
  <code><pre source="ts">
import &#123; GlnTooltipModule &#125; from 'gelenium-ui';</pre>
  </code>
  <p>
    The GlnTooltip component displays a tooltip when the user hovers over
    or long presses on an element.
  </p>
  <span> For example:</span>
  <code><pre source="html">
&lt;button <strong>glnTooltip</strong>=<i>"Information"</i>&gt;
  Action
&lt;/button&gt;</pre></code>
</section>


<div class="app-group">

  <div class="app-elem">
    <div>
      <small>
        <em>Show tooltip on hover.</em>
      </small>
    </div>
    <div>
      <button class="ttbs-btn"
        glnTooltip="Information">
        Action
      </button>
    </div>
  </div>

</div>

<section mr-vr>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="labelHtml">
          <code><pre source="html">
&lt;div class="app-group"&gt;

  &lt;div class="app-elem"&gt;
    &lt;div&gt;
      &lt;small&gt;
        &lt;em&gt;Show tooltip on hover.&lt;/em&gt;
      &lt;/small&gt;
    &lt;/div&gt;
    &lt;div&gt;
      &lt;button class="ttbs-btn"
        glnTooltip="Information"&gt;
        Action
      &lt;/button&gt;
    &lt;/div&gt;
  &lt;/div&gt;

&lt;/div&gt;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelTs">
          <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';

@Component(&#123;
  selector: 'app-tooltip',
  templateUrl: './tooltip.component.html',
  styleUrls: ['./tooltip.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class TooltipComponent &#123;
&#125;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelCss">
          <code><pre source="css">
app-tooltip &#123;
  .app-group &#123;
    display: flex;
    flex-wrap: wrap;
  &#125;
  .app-elem &#123;
    min-width: 26ch;
    margin: 10px 10px;
  &#125;
  .ttbs-btn &#123;
    border-radius: 4px;
    border-width: 0;
    font-size: 0.875em;
    height: 38px;
    min-width: 64px;
    padding: 0 16px;
  &#125;
&#125;</pre></code>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
</section>

<hr br-nn />