<!-- Page: "Basic" -->
<section *ngIf="isShowBasic"
  mr-vr>
  <h3 class="app-hover-link">
    Basic.
    <a [href]="urlCmTooltip + '#Basic'">#</a>
  </h3>
  <span>
    To use this component, in your module you need to add:
  </span>
  <code><pre source="ts">
import &#123; GlnTooltipModule &#125; from 'gelenium-ui';</pre>
  </code>
  <p>
    The GlnTooltip component displays a tooltip when the user hovers over
    or long presses on an element.
  </p>
  <span> For example:</span>
  <code><pre source="html">
&lt;button <strong>glnTooltip</strong>=<i>"Information"</i>&gt;
  Action
&lt;/button&gt;</pre></code>
</section>


<div *ngIf="isShowBasic"
  class="app-group">

  <div class="app-elem">
    <div>
      <small>
        <em>Show tooltip on hover.</em>
      </small>
    </div>
    <div>
      <button class="ttbs-btn"
        glnTooltip="Information">
        Action
      </button>
    </div>
  </div>

</div>

<!-- Page: "Attributes" 01 -->
<i id="Attributes"
  temp>_Attributes_</i>
<section *ngIf="isShowAttributes01"
  mr-vr>
  <h3 class="app-hover-link">
    Attributes.
    <a [href]="urlCmTooltip + '#Attributes'">#</a>
  </h3>
  <span>The following attributes are supported:</span>
  <ul>
    <li>
      "config" - Defines a configuration object.
      <a [href]="urlCmTooltip + '#config-interface'">More details.</a>
    </li>
    <li>
      "glnTooltip" - specifies the tooltip text;
    </li>
    <li>
      "glnttPosition" - specifies the position of the tooltip;
      <br />
      This property can take the following values:
      <ul>
        <li>'bottom' (default);</li>
        <li>'bottom-start';</li>
        <li>'bottom-end';</li>
        <li>'top';</li>
        <li>'top-start';</li>
        <li>'top-end';</li>
        <li>'left';</li>
        <li>'left-start';</li>
        <li>'left-end';</li>
        <li>'right';</li>
        <li>'right-start';</li>
        <li>'right-end';</li>
      </ul>
    </li>
  </ul>
</section>

<ng-container *ngIf="isShowAttributes01">

  <div class="app-group">
    <div>
      <small>
        <em>Attribute: glnttPosition.</em>
      </small>
    </div>
  </div>

  <hr br-nn />

  <div class="tta1-group-place">
    <div class="tta1-group">
      <div>
        <button class="tta1-btn-cl"
          glnttPosition="top-start"
          glnTooltip="Information">
          top-start
        </button>
        <button class="tta1-btn-cl"
          glnttPosition="top"
          glnTooltip="Information">
          top
        </button>
        <button class="tta1-btn-cl"
          glnttPosition="top-end"
          glnTooltip="Information">
          top-end
        </button>
      </div>
    </div>
    <div class="tta1-group">
      <div class="tta1-group50 left">
        <button class="tta1-btn-cl"
          glnttPosition="left-start"
          glnTooltip="Information">
          left-start
        </button>
        <button class="tta1-btn-cl"
          glnttPosition="left"
          glnTooltip="Information">
          left
        </button>
        <button class="tta1-btn-cl"
          glnttPosition="left-end"
          glnTooltip="Information">
          left-end
        </button>
      </div>
      <div class="tta1-group50 right">
        <button class="tta1-btn-cl"
          glnttPosition="right-start"
          glnTooltip="Information">
          right-start
        </button>
        <button class="tta1-btn-cl"
          glnttPosition="right"
          glnTooltip="Information">
          right
        </button>
        <button class="tta1-btn-cl"
          glnttPosition="right-end"
          glnTooltip="Information">
          right-end
        </button>
      </div>
    </div>
    <div class="tta1-group">
      <div>
        <button class="tta1-btn-cl"
          glnttPosition="bottom-start"
          glnTooltip="Information">
          bottom-start
        </button>
        <button class="tta1-btn-cl"
          glnttPosition="bottom"
          glnTooltip="Information">
          bottom
        </button>
        <button class="tta1-btn-cl"
          glnttPosition="bottom-end"
          glnTooltip="Information">
          bottom-end
        </button>
      </div>
    </div>

  </div>

  <hr br-nn />
  <section mr-vr>
  </section>

</ng-container>

<!-- Page: "Attributes" 02 -->
<section *ngIf="isShowAttributes02"
  mr-vr
  id="attributes-supported02">
  <h4 class="app-hover-link">
    Attributes are also supported 2:
    <a [href]="urlCmTooltip + '#attributes-supported02'">#</a>
  </h4>
  <ul>
    <li>
      "glnttShowDelay" - specifies the delay time before showing the tooltip, ms;
    </li>
    <li>
      "glnttHideDelay" - specifies the delay time before hiding the tooltip, ms;
    </li>
    <li>
      "glnttNoHoverable" - a sign that the display of the mouse hover tooltip is disabled
      (glnttNoHoverable);
    </li>
    <li>
      "glnttNoTouchable" - a sign that the display of a touch action tip is disabled
      (glnttNoTouchable);
    </li>
  </ul>
</section>

<ng-container *ngIf="isShowAttributes02">
  <div class="app-group">
    <div class="app-elem">
      <small>
        <em>Attributes: glnttShowDelay, glnttHideDelay.</em>
      </small>
    </div>
  </div>

  <div class="app-group">

    <div class="app-elem tta2-io-wd">

      <div class="tta2-io-mrl">
        <small><em>Value ShowDelay</em></small>
      </div>
      <div class="tta2-io">
        <button class="tta2-io-btn"
          (click)="showDelay02a=decVal(showDelay02a, 100, 0)">
          &#8854;
        </button>
        <input class="tta2-input"
          type="number"
          min="0"
          max="10000"
          step="100"
          readonly
          [value]="showDelay02a" />
        <button class="tta2-io-btn"
          (click)="showDelay02a=incVal(showDelay02a, 100, 10000)">
          &#8853;
        </button>
      </div>
      <div class="tta2-io-mrl">
        <small><em>milliseconds</em></small>
      </div>
    </div>

    <div class="app-elem tta2-io-wd">
      <div class="tta2-io-mrl">
        <small><em>Value HideDelay</em></small>
      </div>
      <div class="tta2-io">
        <button class="tta2-io-btn"
          (click)="hideDelay02a=decVal(hideDelay02a, 100, 0)">
          &#8854;
        </button>
        <input class="tta2-input"
          type="number"
          min="0"
          max="10000"
          step="100"
          readonly
          [value]="hideDelay02a" />
        <button class="tta2-io-btn"
          (click)="hideDelay02a=incVal(hideDelay02a, 100, 10000)">
          &#8853;
        </button>
      </div>
      <div class="tta2-io-mrl">
        <small><em>milliseconds</em></small>
      </div>
    </div>

    <div class="app-elem">
      <div>
        <small><em>Show tooltip.</em></small>
      </div>
      <div>
        <button class="tta2-btn"
          [glnttShowDelay]="showDelay02a"
          [glnttHideDelay]="hideDelay02a"
          glnTooltip="Information">
          Action
        </button>
      </div>
    </div>

  </div>

  <div class="app-group">

    <div class="app-elem">
      <div>
        <small>
          <em>Attribute: glnttNoHoverable.</em>
        </small>
      </div>
      <div>
        <button class="tta2-btn"
          glnttNoHoverable
          glnTooltip="Information">
          Action
        </button>
      </div>
    </div>

    <div class="app-elem">
      <div>
        <small>
          <em>Attribute: glnttNoTouchable.</em>
        </small>
      </div>
      <div>
        <button class="tta2-btn"
          glnttNoTouchable
          glnTooltip="Information">
          Action
        </button>
      </div>
    </div>

  </div>

</ng-container>

<hr br-nn />

<!-- Page: "Attributes" 03 -->
<section *ngIf="isShowAttributes03"
  mr-vr
  id="attributes-supported03">
  <h4 class="app-hover-link">
    Attributes are also supported 3:
    <a [href]="urlCmTooltip + '#attributes-supported03'">#</a>
  </h4>
  <ul>
    <li>
      "glnttDisabled" - a sign that the tooltip is disabled (glnttDisabled);
      <br>
      Disabling a tooltip removes its DOM element's internal subscriptions.
    </li>
    <li>
      "glnttNoAnimation" - a sign that the animation is disabled (glnttNoAnimation);
    </li>
  </ul>
</section>

<ng-container *ngIf="isShowAttributes03">

  <div class="app-group">

    <div class="app-elem">
      <div>
        <small>
          <em>Attribute: glnttDisabled.</em>
        </small>
      </div>
      <div>
        <button class="tta1-btn"
          glnttDisabled
          glnTooltip="Information">
          Action
        </button>
      </div>
    </div>

    <div class="app-elem">
      <div>
        <small>
          <em>Attribute:
            <label>
              <input class="tta1-ver"
                type="checkbox"
                [checked]="isDisabled03a"
                (change)="isDisabled03a=!isDisabled03a" />
              [glnttDisabled]="{{isDisabled03a}}".
            </label>

          </em>
        </small>
      </div>
      <div>
        <button class="tta1-btn"
          [glnttDisabled]="isDisabled03a"
          glnTooltip="Information">
          Action
        </button>
      </div>
    </div>

  </div>

  <hr br-nn />

  <div class="app-group">

    <div class="app-elem">
      <div>
        <small>
          <em>Attribute: glnttNoAnimation.</em>
        </small>
      </div>
      <div>
        <button class="tta1-btn"
          glnttNoAnimation
          glnTooltip="Information">
          Action
        </button>
      </div>
    </div>

  </div>

  <hr br-nn />

</ng-container>

<!-- Page: "Customization" 06 -->
<i id="Customization"
  temp>_Customization_</i>
<section *ngIf="isShowCustomization"
  mr-vr
  id="Customization">
  <h4 class="app-hover-link">
    Customization
    <a [href]="urlCmTooltip + '#Customization'">#</a>
  </h4>
  <p>
    The GlnTooltip component has additional user customization.
    <br />
    It is possible to specify your own tooltip context.
  </p>
</section>

<ng-container *ngIf="isShowCustomization">
  <div class="app-group">

    <div class="app-elem">
      <div>
        <small>
          <em>Show tooltip HTML only on a click.</em>
        </small>
      </div>
      <div>
        <ng-template #contextTmpl06a
          let-name="nameVar">
          <b>{{name}}</b> is a very <em>tasty</em>&nbsp;<u>fruit</u> !
        </ng-template>

        <button class="ttcs-btn"
          [glnTooltip]="contextTmpl06a"
          [glnttContent]="{ nameVar: 'Mango' }"
          glnttNoHoverable
          glnttNoTouchable
          #tooltip06a="glnTooltip"
          (click)="tooltip06a.toggle()">
          <span>
            Action
          </span>
        </button>
      </div>
    </div>

  </div>
</ng-container>

<hr br-nn />

<!-- Page: "Feature" 07 -->
<i id="Feature"
  temp>_Feature_</i>
<section *ngIf="isShowFeature"
  mr-vr>
  <h4 class="app-hover-link">
    Feature
    <a [href]="urlCmTooltip + '#Feature'">#</a>
  </h4>
  <p>
    Sometimes there are situations where we don't know if an element will fit entirely within its
    parent's bounds.
    This may be when internationalization is used, i.e. different translations of the value are
    substituted.
    Or when the value does not fit into the specified table column width.
    In these cases, we should only display the tooltip when the element goes beyond its parent.
    <br />
    To do this, you can use the glnOverflowChild directive.
    <br />
    The directive's getChildHasOverflow() method determines the first child element and checks
    if it overflows its parent.
    And if it goes beyond the boundaries of the parent element, then we can enable the display of a
    tooltip.
  </p>
  <span> For example:</span>
  <code><pre source="html">
&lt;button class="ttbs-btn"
  style="max-width: 75px; white-space: nowrap; overflow: hidden;"
  <i><strong>glnTooltip</strong></i>="Action demo"
  <i><strong>[glnttDisabled]</strong></i>="<strong>!overflowChild.getChildHasOverflow()</strong>"
  <strong>glnOverflowChild</strong>
  <strong>#overflowChild="glnOverflowChild"</strong>&gt;
  &lt;span&gt;Action demo&lt;/span&gt;
&lt;/button&gt;</pre></code>
</section>

<ng-container *ngIf="isShowFeature">
  <div class="app-group">

    <div class="app-elem">
      <div>
        <small>
          <em>Show the tooltip only if the element is out of bounds.</em>
        </small>
      </div>
      <div>
        <button class="ttft-btn"
          style="max-width: 75px; white-space: nowrap; overflow: hidden;"
          glnTooltip="Action demo"
          [glnttDisabled]="!overflowChildZ0.getChildHasOverflow()"
          glnOverflowChild
          #overflowChildZ0="glnOverflowChild">
          <span>Action demo</span>
        </button>
      </div>
    </div>

    <div class="app-elem">
      <div>
        <small>
          <em>Show the tooltip only if the element is out of bounds.</em>
        </small>
      </div>
      <table class="ttft-table">
        <thead>
          <tr>
            <th>fruits</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td glnTooltip="mango"
              [glnttDisabled]="!overflowChildZ1.getChildHasOverflow()"
              glnOverflowChild
              #overflowChildZ1="glnOverflowChild">
              <span>mango</span>
            </td>
          </tr>
          <tr>
            <td glnTooltip="gorgeous orange"
              [glnttDisabled]="!overflowChildZ2.getChildHasOverflow()"
              glnOverflowChild
              #overflowChildZ2="glnOverflowChild">
              <span>gorgeous orange</span>
            </td>
          </tr>
          <tr>
            <td glnTooltip="succulent watermelon"
              [glnttDisabled]="!overflowChildZ3.getChildHasOverflow()"
              glnOverflowChild
              #overflowChildZ3="glnOverflowChild">
              <span>succulent watermelon</span>
            </td>
          </tr>
        </tbody>
      </table>

    </div>

  </div>
</ng-container>

<div class="app-group">

  <br />
  <div style="height: 300px;">_</div>
  <br />

  <!-- // # Add to examples --
  <div class="app-elem">
    <div>
      <small>
        <em>Show tooltip only on a click.</em>
      </small>
    </div>
    <div>
      <button class="ttbs-btn"
        style="max-width: 75px; white-space: nowrap; overflow: hidden;"
        glnTooltip9="Information"
        [glnTooltip]="demo02"
        glnttNoHoverable
        glnttNoTouchable
        glnttPanelClass="tta-panel-demo"
        glnttDisabled9="!overflowChild.value"
        [glnttDisabled]="!overflowChild.getChildHasOverflow()"
        #tooltip="glnTooltip"
        (click)="tooltip.toggle()"
        glnOverflowChild
        #overflowChild="glnOverflowChild">
        <span>
          Action demonstartion
        </span>
      </button>
    </div>
  </div>
  -- // # -->

  <!-- // # display tooltip on the "show" button, hide tooltip on the "hide" button -->

  <!-- // # Add to examples
  <div class="app-elem">
    <div>
      <small>
        <em>Show tooltip only when it has focus.</em>
      </small>
    </div>
    <div>
      <button class="ttbs-btn"
        glnTooltip="Information"
        glnttNoHoverable
        glnttNoTouchable
        #tooltip="glnTooltip"
        (focus)="tooltip.show()"
        (blur)="tooltip.hide()">
        Action
      </button>
    </div>
  </div>
   // # -->

  <!-- // #
  <div class="app-elem">
    <div>
      <small>
        <em>Show tooltip on ??.</em>
      </small>
    </div>
    <div>
      <button class="ttbs-btn"
        glnTooltip="Information"
        glnttNoHoverable
        glnttNoTouchable>
        Action
      </button>
    </div>
  </div>
  -->

  <!-- <div class="app-elem">
  <div>
    <small>
      <em>Attribute: ??.</em>
    </small>
  </div>
  <div>
    <button class="tta-btn"
      glnTooltip="Information">
      Action
    </button>
  </div>
</div> -->

</div>


<!-- <section mr-vr>
  <label>
    <input type="checkbox"
      (change)="demo1=!demo1" />
    demo1
  </label>
</section> -->

<!-- 
<section mr-vr>
  <label>
    Position
    <select style="padding: 5px; outline: none;"
      (change)="position1=getValue($event.target)">
      <option *ngFor="let item of positionList"
        [value]="item"
        [attr.selected]="position1==item ? '' : null">{{ item }}
      </option>
    </select>
  </label>
</section>

<div class="app-group">

  <div class="ttb-elem">
    <button class="ttb-btn"
      glnTooltip="Info the action"
      glnttShowDelay9="500"
      glnttHideDelay9="500"
      glnttPanelClass9="tta-panel-demo"
      glnttPosition9="top-start"
      [glnttPosition]="position1"
      glnttNoHoverable
      glnttNoTouchable
      #tooltip2="glnTooltip"
      (click)="tooltip2.toggle()">
      Action1
    </button>
  </div>

</div>
 -->

<!-- <div class="app-group">

  <div class="ttb-elem">
    <button class="ttb-btn"
      glnTooltip="Info the action 1 demo 1"
      glnttShowDelay9="500"
      glnttHideDelay9="500"
      glnttPanelClass="tta-panel-demo"
      glnttPosition="top-start">
      Action1
    </button>
  </div>

</div> -->

<br />
<br />
<div style="height: 300px;">_</div>
<br />
<div style="height: 300px;">_</div>