<section mr-vr>
  <h3 class="app-hover-link">
    Ornaments.
    <a [href]="urlCmInput + '#Ornaments'">#</a>
  </h3>
  <p>
    For the GlnInput component, it is possible to display an ornament
    (picture or text).
    <br />
    To display the ornament on the left, you need to add the "gln-orn-lf"
    attribute to the element inside the "gln-input" content.
    <br />
    To display the ornament on the right, you need to add the "gln-orn-rg"
    attribute to the element inside the "gln-input" content.
  </p>
  <span>
    Example:
  </span>
  <code><pre source="html">
&lt;gln-input formControlName="model01a"
  label="Enter value"&gt;
  <i>&lt;div <strong>gln-orn-lf</strong>&gt;&lt;span&gt;left&lt;/span&gt;&lt;/div&gt;</i>
  <i>&lt;div <strong>gln-orn-rg</strong>&gt;&lt;span&gt;right&lt;/span&gt;&lt;/div&gt;</i>
&lt;/gln-input&gt;</pre></code>
  <p>
    Adding a prefix or suffix does not disable legend animation for that element.
    <br />
    For blocks: <code><i>&lt;span&gt;left&lt;/span&gt;</i></code> and
    <code><i>&lt;span&gt;right&lt;/span&gt;</i></code>
    you need to specify the value of horizontal indents.
  </p>
  <p>
    You can increase/decrease the font size for an input element.
    For example, when entering a password, you can increase the font size to display
    larger black circles.<br />
    To do this, add a style:
  </p>
  <code><pre source="css">
.io-ornament .io-passwd-big .glnin-input &#123;
  font-size: 20px;
&#125;</pre></code>
  <p>
    In this case, you need to add the "wdFull" attribute, otherwise when you change
    the font size, the length of the input element will change.
  </p>
  <p>
    You can add the "isLabelShrink" attribute and the legend will be fixed in the title.
    Nor will the legend descend to the pre-holder position.
  </p>
</section>

<section mr-vr
  id="ornaments-properties01">
  <h4 class="app-hover-link">
    Ornaments properties:
    <a [href]="urlCmInput + '#ornaments-properties01'">#</a>
  </h4>
</section>

<section mr-vr>
  <span>exterior: </span>
  <mat-button-toggle-group value="exterior05"
    (change)="exterior05=$event.value">
    <mat-button-toggle [checked]="exterior05==='outlined'"
      value="outlined">{{ labelOutlined }}</mat-button-toggle>
    <mat-button-toggle [checked]="exterior05==='underline'"
      value="underline">{{ labelUnderline }}</mat-button-toggle>
    <mat-button-toggle [checked]="exterior05==='standard'"
      value="standard">{{ labelStandard }}</mat-button-toggle>
  </mat-button-toggle-group>
</section>

<form class="io-ornament"
  [formGroup]="formGroup05"
  novalidate
  autocomplete="off">

  <div class="app-group">

    <div class="app-elem">
      <div>
        <small>
          <em>Section: "gln-orn-lf" + text.</em>
        </small>
      </div>
      <gln-input formControlName="model05a"
        label="Enter the mass"
        helperText="The value is greater than zero."
        [exterior]="exterior05">
        <span gln-orn-lf
          class="io-pd-hor">kg</span>
      </gln-input>
    </div>

    <div class="app-elem">
      <div>
        <small>
          <em>Section: "gln-orn-rg" + text.</em>
        </small>
      </div>
      <gln-input formControlName="model05b"
        label="Enter the height"
        [exterior]="exterior05">
        <span gln-orn-rg
          class="io-pd-hor">cm</span>
      </gln-input>
    </div>

    <div class="app-elem">
      <div>
        <small>
          <em>Section: "gln-orn-lf" + text.</em>
        </small>
      </div>
      <gln-input formControlName="model05c"
        label="Enter a small number in words"
        isRequired
        [minLength]="minLength05"
        [maxLength]="maxLength05"
        [exterior]="exterior05"
        [helperText]="
          (!controls05.model05c.value
          ? 'Required field.'
          : ((controls05.model05c.errors || {})['minlength']
            ? 'Minimum length '
            + controls05.model05c.errors!['minlength'].requiredLength
            + ' characters.'
            : ((controls05.model05c.errors || {})['maxlength']
              ? 'Maximum length '
              + controls05.model05c.errors!['maxlength'].requiredLength
              + ' characters.'
              :'')
            )
          )">
        <span gln-orn-lf
          class="io-pd-hor">$</span>
      </gln-input>
    </div>

    <div class="app-elem">
      <div>
        <small>
          <em>Section: "gln-orn-rg" + text.</em>
        </small>
      </div>
      <gln-input formControlName="model05d"
        label="Enter a small number in words"
        isRequired
        [minLength]="minLength05"
        [maxLength]="maxLength05"
        [exterior]="exterior05"
        [helperText]="
          (!controls05.model05d.value
          ? 'Required field.'
          : ((controls05.model05d.errors || {})['minlength']
            ? 'Minimum length '
            + controls05.model05d.errors!['minlength'].requiredLength
            + ' characters.'
            : ((controls05.model05d.errors || {})['maxlength']
              ? 'Maximum length '
              + controls05.model05d.errors!['maxlength'].requiredLength
              + ' characters.'
              :'')
            )
          )">
        <span gln-orn-rg
          class="io-pd-hor">$</span>
      </gln-input>
    </div>

    <div class="app-elem io-elem">
      <div>
        <small>
          <em>Section: "gln-orn-lf" + icon.</em>
        </small>
      </div>
      <gln-input formControlName="model05e"
        [ngClass]="[(!isBtnEyeCrossed05e ?'io-passwd-big':'')]"
        [type]="isBtnEyeCrossed05e ? 'text':'password'"
        label="Enter a unique password in words"
        wdFull
        isRequired
        [exterior]="exterior05"
        [helperText]="
          !controls05.model05e.value
          ? 'The password value is required.'
          :'Enter the password value.'">
        <button gln-orn-lf
          class="io-btn io-btn-eye"
          (click)="isBtnEyeCrossed05e=!isBtnEyeCrossed05e">
          <span [ngClass]="[
            'io-icon-eye', (isBtnEyeCrossed05e ? 'crossed':'')
          ]"></span>
        </button>
      </gln-input>
    </div>

    <div class="app-elem io-elem">
      <div>
        <small>
          <em>Section: "gln-orn-rg" + icon.</em>
        </small>
      </div>
      <gln-input formControlName="model05f"
        [ngClass]="[(!isBtnEyeCrossed05f ?'io-passwd-big':'')]"
        [type]="isBtnEyeCrossed05f ? 'text':'password'"
        label="Enter a unique password in words"
        wdFull
        isRequired
        [exterior]="exterior05"
        [helperText]="
          !controls05.model05f.value
          ? 'The password value is required.'
          : 'Enter the password value.'">
        <button gln-orn-rg
          class="io-btn io-btn-eye"
          (click)="isBtnEyeCrossed05f=!isBtnEyeCrossed05f">
          <span [ngClass]="[
            'io-icon-eye', (isBtnEyeCrossed05f ? 'crossed':'')
          ]"></span>
        </button>
      </gln-input>
    </div>

    <div class="app-elem">
      <div>
        <small>
          <em>Section: "gln-orn-lf" + uncode.</em>
        </small>
      </div>
      <gln-input formControlName="model05g"
        class="io-demo"
        [type]="isBtnEyeCrossed05g ? 'text':'password'"
        label="Enter a unique password in words"
        isRequired
        [exterior]="exterior05"
        [helperText]="
          !controls05.model05g.value
          ? 'The password value is required.'
          :'Enter the password value.'"
        [ornamLfAlign]="'baseline'">
        <button gln-orn-lf
          class="io-btn io-uncode"
          (click)="isBtnEyeCrossed05g=!isBtnEyeCrossed05g">
          <span>{{ isBtnEyeCrossed05g ? '&#128275;': '&#128274;' }}</span>
        </button>
      </gln-input>
    </div>

    <div class="app-elem">
      <div>
        <small>
          <em>Section: "gln-orn-rg" + uncode.</em>
        </small>
      </div>
      <gln-input formControlName="model05h"
        [type]="isBtnEyeCrossed05h ? 'text':'password'"
        label="Enter a unique password in words"
        isRequired
        [exterior]="exterior05"
        [helperText]="
          !controls05.model05h.value
          ? 'The password value is required.'
          :'Enter the password value.'"
        [config]="config05h">
        <button gln-orn-rg
          class="io-btn io-uncode"
          (click)="isBtnEyeCrossed05h=!isBtnEyeCrossed05h">
          <span>{{ isBtnEyeCrossed05h ? '&#128275;': '&#128274;' }}</span>
        </button>
      </gln-input>
    </div>

    <div class="io-elem2">
      <div>
        <small>
          <em>regex=/^-?(\d+)$/, uncode</em>
        </small>
      </div>
      <gln-input formControlName="model05i"
        wdFull
        [label]="controls05.model05i.value === ''
          ?'Enter number':'Number'"
        glnRegexMatch="/^-?(\d+)$/"
        [helperText]="controls05.model05i.value === ''
          ?'Enter your number value.'
          :'The value is correct.'"
        [exterior]="exterior05">
        <button gln-orn-lf
          class="io-btn io-uncode2"
          (click)="controls05.model05i.setValue(
            toStr(toNum(controls05.model05i.value || 0) - 1))">
          &#8854;
        </button>
        <button gln-orn-rg
          class="io-btn io-uncode2"
          (click)="controls05.model05i.setValue(
            toStr(toNum(controls05.model05i.value || 0) + 1))">
          &#8853;
        </button>
      </gln-input>
    </div>

  </div>

  <div class="app-elem">
    <div>
      <small>
        <em>Demonstration of the alignment of the ornament.</em>
      </small>
    </div>
  </div>

  <section mr-vr>
    <span>ornamLfAlign: </span>
    <mat-button-toggle-group value="ornamLfAlign05"
      (change)="changeConfig05(ornamLfAlign05=$event.value, config05['ornamRgAlign'])">
      <mat-button-toggle [checked]="ornamLfAlign05==='default'"
        value="default">default</mat-button-toggle>
      <mat-button-toggle [checked]="ornamLfAlign05==='center'"
        value="center">center</mat-button-toggle>
      <mat-button-toggle [checked]="ornamLfAlign05==='flex-start'"
        value="flex-start">flex-start</mat-button-toggle>
      <mat-button-toggle [checked]="ornamLfAlign05==='flex-end'"
        value="flex-end">flex-end</mat-button-toggle>
      <mat-button-toggle [checked]="ornamLfAlign05==='baseline'"
        value="baseline">baseline</mat-button-toggle>
      <mat-button-toggle [checked]="ornamLfAlign05==='stretch'"
        value="stretch">stretch</mat-button-toggle>
    </mat-button-toggle-group>
  </section>

  <div class="app-group">

    <div class="app-elem">
      <div>
        <small>
          <em>Section: "gln-orn-lf" + text.</em>
        </small>
      </div>
      <gln-input formControlName="model05j"
        [label]="controls05.model05j.value === ''
          ?'Enter a value':'Value'"
        [exterior]="exterior05"
        [helperText]="controls05.model05j.value === ''
          ?'Enter your value.'
          :'The value is correct.'"
        [config]="config05">
        <span gln-orn-lf
          class="glnfr-ornam io-pd-hor">$</span>
      </gln-input>
    </div>

    <div class="app-elem">
      <div>
        <small>
          <em>Section: "gln-orn-rg" + text.</em>
        </small>
      </div>
      <gln-input formControlName="model05k"
        [label]="controls05.model05k.value === ''
          ?'Enter a value':'Value'"
        [exterior]="exterior05"
        [helperText]="controls05.model05k.value === ''
          ?'Enter your value.'
          :'The value is correct.'"
        [config]="config05">
        <span gln-orn-rg
          class="glnfr-ornam io-pd-hor">$</span>
      </gln-input>
    </div>

  </div>

  <section mr-vr>
    <span>ornamRgAlign: </span>
    <mat-button-toggle-group value="ornamRgAlign05"
      (change)="changeConfig05(config05['ornamLfAlign'], ornamRgAlign05=$event.value)">
      <mat-button-toggle [checked]="ornamRgAlign05==='default'"
        value="default">default</mat-button-toggle>
      <mat-button-toggle [checked]="ornamRgAlign05==='center'"
        value="center">center</mat-button-toggle>
      <mat-button-toggle [checked]="ornamRgAlign05==='flex-start'"
        value="flex-start">flex-start</mat-button-toggle>
      <mat-button-toggle [checked]="ornamRgAlign05==='flex-end'"
        value="flex-end">flex-end</mat-button-toggle>
      <mat-button-toggle [checked]="ornamRgAlign05==='baseline'"
        value="baseline">baseline</mat-button-toggle>
      <mat-button-toggle [checked]="ornamRgAlign05==='stretch'"
        value="stretch">stretch</mat-button-toggle>
    </mat-button-toggle-group>
  </section>

</form>

<section mr-vr>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="labelHtml">
          <code><pre source="html">
&lt;form class="io-ornament"
  [formGroup]="formGroup05"
  novalidate
  autocomplete="off"&gt;

  &lt;div class="app-group"&gt;

    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;Section: "gln-orn-lf" + text.&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;gln-input formControlName="model05a"
        label="Enter the mass"
        helperText="The value is greater than zero."
        [exterior]="exterior05"&gt;
        &lt;span gln-orn-lf
          class="io-pd-hor"&gt;kg&lt;/span&gt;
      &lt;/gln-input&gt;
    &lt;/div&gt;

    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;Section: "gln-orn-rg" + text.&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;gln-input formControlName="model05b"
        label="Enter the height"
        [exterior]="exterior05"&gt;
        &lt;span gln-orn-rg
          class="io-pd-hor"&gt;cm&lt;/span&gt;
      &lt;/gln-input&gt;
    &lt;/div&gt;

    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;Section: "gln-orn-lf" + text.&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;gln-input formControlName="model05c"
        label="Enter a small number in words"
        isRequired
        [minLength]="minLength05"
        [maxLength]="maxLength05"
        [exterior]="exterior05"
        [helperText]="
          (!controls05.model05c.value
          ? 'Required field.'
          : ((controls05.model05c.errors || &#123;&#125;)['minlength']
            ? 'Minimum length '
            + controls05.model05c.errors!['minlength'].requiredLength
            + ' characters.'
            : ((controls05.model05c.errors || &#123;&#125;)['maxlength']
              ? 'Maximum length '
              + controls05.model05c.errors!['maxlength'].requiredLength
              + ' characters.'
              :'')
            )
          )"&gt;
        &lt;span gln-orn-lf
          class="io-pd-hor"&gt;$&lt;/span&gt;
      &lt;/gln-input&gt;
    &lt;/div&gt;

    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;Section: "gln-orn-rg" + text.&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;gln-input formControlName="model05d"
        label="Enter a small number in words"
        isRequired
        [minLength]="minLength05"
        [maxLength]="maxLength05"
        [exterior]="exterior05"
        [helperText]="
          (!controls05.model05d.value
          ? 'Required field.'
          : ((controls05.model05d.errors || &#123;&#125;)['minlength']
            ? 'Minimum length '
            + controls05.model05d.errors!['minlength'].requiredLength
            + ' characters.'
            : ((controls05.model05d.errors || &#123;&#125;)['maxlength']
              ? 'Maximum length '
              + controls05.model05d.errors!['maxlength'].requiredLength
              + ' characters.'
              :'')
            )
          )"&gt;
        &lt;span gln-orn-rg
          class="io-pd-hor"&gt;$&lt;/span&gt;
      &lt;/gln-input&gt;
    &lt;/div&gt;

    &lt;div class="app-elem io-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;Section: "gln-orn-lf" + icon.&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;gln-input formControlName="model05e"
        [ngClass]="[(!isBtnEyeCrossed05e ?'io-passwd-big':'')]"
        [type]="isBtnEyeCrossed05e ? 'text':'password'"
        label="Enter a unique password in words"
        wdFull
        isRequired
        [exterior]="exterior05"
        [helperText]="
          !controls05.model05e.value
          ? 'The password value is required.'
          :'Enter the password value.'"&gt;
        &lt;button gln-orn-lf
          class="io-btn io-btn-eye"
          (click)="isBtnEyeCrossed05e=!isBtnEyeCrossed05e"&gt;
          &lt;span [ngClass]="[
            'io-icon-eye', (isBtnEyeCrossed05e ? 'crossed':'')
          ]"&gt;&lt;/span&gt;
        &lt;/button&gt;
      &lt;/gln-input&gt;
    &lt;/div&gt;

    &lt;div class="app-elem io-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;Section: "gln-orn-rg" + icon.&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;gln-input formControlName="model05f"
        [ngClass]="[(!isBtnEyeCrossed05f ?'io-passwd-big':'')]"
        [type]="isBtnEyeCrossed05f ? 'text':'password'"
        label="Enter a unique password in words"
        wdFull
        isRequired
        [exterior]="exterior05"
        [helperText]="
          !controls05.model05f.value
          ? 'The password value is required.'
          : 'Enter the password value.'"&gt;
        &lt;button gln-orn-rg
          class="io-btn io-btn-eye"
          (click)="isBtnEyeCrossed05f=!isBtnEyeCrossed05f"&gt;
          &lt;span [ngClass]="[
            'io-icon-eye', (isBtnEyeCrossed05f ? 'crossed':'')
          ]"&gt;&lt;/span&gt;
        &lt;/button&gt;
      &lt;/gln-input&gt;
    &lt;/div&gt;

    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;Section: "gln-orn-lf" + uncode.&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;gln-input formControlName="model05g"
        class="io-demo"
        [type]="isBtnEyeCrossed05g ? 'text':'password'"
        label="Enter a unique password in words"
        isRequired
        [exterior]="exterior05"
        [helperText]="
          !controls05.model05g.value
          ? 'The password value is required.'
          :'Enter the password value.'"
          [ornamLfAlign]="'baseline'"&gt;
        &lt;button gln-orn-lf
          class="io-btn io-uncode"
          (click)="isBtnEyeCrossed05g=!isBtnEyeCrossed05g"&gt;
          &lt;span&gt;<b>&#123;</b>&#123; isBtnEyeCrossed05g ? '&amp;#128275;': '&amp;#128274;' &#125;&#125;&lt;/span&gt;
        &lt;/button&gt;
      &lt;/gln-input&gt;
    &lt;/div&gt;

    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;Section: "gln-orn-rg" + uncode.&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;gln-input formControlName="model05h"
        [type]="isBtnEyeCrossed05h ? 'text':'password'"
        label="Enter a unique password in words"
        isRequired
        [exterior]="exterior05"
        [helperText]="
          !controls05.model05h.value
          ? 'The password value is required.'
          :'Enter the password value.'"
          [config]="config05h"&gt;
        &lt;button gln-orn-rg
          class="io-btn io-uncode"
          (click)="isBtnEyeCrossed05h=!isBtnEyeCrossed05h"&gt;
          &lt;span&gt;<b>&#123;</b>&#123; isBtnEyeCrossed05h ? '&amp;#128275;': '&amp;#128274;' &#125;&#125;&lt;/span&gt;
        &lt;/button&gt;
      &lt;/gln-input&gt;
    &lt;/div&gt;

    &lt;div class="io-elem2"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;regex=/^-?(\d+)$/, uncode&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;gln-input formControlName="model05i"
        wdFull
        [label]="controls05.model05i.value === ''
          ?'Enter number':'Number'"
        glnRegexMatch="/^-?(\d+)$/"
        [helperText]="controls05.model05i.value === ''
          ?'Enter your number value.'
          :'The value is correct.'"
        [exterior]="exterior05"&gt;
        &lt;button gln-orn-lf
          class="io-btn io-uncode2"
          (click)="controls05.model05i.setValue(
            toStr(toNum(controls05.model05i.value || 0) - 1))"&gt;
          &amp;#8854;
        &lt;/button&gt;
        &lt;button gln-orn-rg
          class="io-btn io-uncode2"
          (click)="controls05.model05i.setValue(
            toStr(toNum(controls05.model05i.value || 0) + 1))"&gt;
          &amp;#8853;
        &lt;/button&gt;
      &lt;/gln-input&gt;
    &lt;/div&gt;

  &lt;/div&gt;

  &lt;div class="app-elem"&gt;
    &lt;div&gt;
      &lt;small&gt;
        &lt;em&gt;Demonstration of the alignment of the ornament.&lt;/em&gt;
      &lt;/small&gt;
    &lt;/div&gt;
  &lt;/div&gt;

  &lt;div class="app-group"&gt;

    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;Section: "gln-orn-lf" + text.&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;gln-input formControlName="model05j"
        [label]="controls05.model05j.value === ''
          ?'Enter a value':'Value'"
        [exterior]="exterior05"
        [helperText]="controls05.model05j.value === ''
          ?'Enter your value.'
          :'The value is correct.'"
        [config]="config05"&gt;
        &lt;span gln-orn-lf
          class="glnfr-ornam io-pd-hor"&gt;$&lt;/span&gt;
      &lt;/gln-input&gt;
    &lt;/div&gt;

    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;Section: "gln-orn-rg" + text.&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;gln-input formControlName="model05k"
        [label]="controls05.model05k.value === ''
          ?'Enter a value':'Value'"
        [exterior]="exterior05"
        [helperText]="controls05.model05k.value === ''
          ?'Enter your value.'
          :'The value is correct.'"
        [config]="config05"&gt;
        &lt;span gln-orn-rg
          class="glnfr-ornam io-pd-hor"&gt;$&lt;/span&gt;
      &lt;/gln-input&gt;
    &lt;/div&gt;

  &lt;/div&gt;

&lt;/form&gt;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelTs">
          <code><pre source="ts">
import &#123; Component, ViewEncapsulation &#125; from '@angular/core';
import &#123; FormControl, FormGroup &#125; from '@angular/forms';

@Component(&#123;
  selector: 'app-input',
  templateUrl: './input.component.html',
  styleUrls: ['./input.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class InputComponent &#123;
  public minLength05 = 3;
  public maxLength05 = 15;
  public controls05 = &#123;
    model05a: new FormControl('', []),
    model05b: new FormControl('thirty', []),
    model05c: new FormControl('one', [
      Validators.required,
      Validators.minLength(this.minLength05),
      Validators.maxLength(this.maxLength05)
    ]),
    model05d: new FormControl('', [
      Validators.required,
      Validators.minLength(this.minLength05),
      Validators.maxLength(this.maxLength05),
    ]),
    model05e: new FormControl('thirty', [Validators.required]),
    model05f: new FormControl('thirty', [Validators.required]),
    model05g: new FormControl('thirty', [Validators.required]),
    model05h: new FormControl('thirty', [Validators.required]),
    model05i: new FormControl('', [Validators.required]),
    model05j: new FormControl('test', []),
    model05k: new FormControl('test', []),
  &#125;;
  public formGroup05: FormGroup = new FormGroup(this.controls05);
  public exterior05 = 'outlined';
  public isBtnEyeCrossed05e = false;
  public isBtnEyeCrossed05f = false;
  public isBtnEyeCrossed05g = false;
  public isBtnEyeCrossed05h = false;
  // GlnInputConfig
  public config05h = &#123;
    ornamRgAlign: 'baseline',
  &#125;;
  public ornamLfAlign05 = 'baseline';
  public ornamRgAlign05 = 'baseline';
  // GlnInputConfig
  public config05 = &#123;
    ornamLfAlign: this.ornamLfAlign05,
    ornamRgAlign: this.ornamRgAlign05,
  &#125;;

  constructor() &#123;&#125;

  public convert(ornamAlign: string | null): OrnamAlign &#123;
    return OrnamAlignUtil.convert(ornamAlign) || OrnamAlign.default;
  &#125;
  public changeConfig05(
    ornamLfAlign: string | undefined,
    ornamRgAlign: string | undefined
  ): void &#123;
    this.config05 = &#123;
      ornamLfAlign: GlnFrameOrnamAlignUtil.convert(ornamLfAlign || null)?.toString() || 'default',
      ornamRgAlign: GlnFrameOrnamAlignUtil.convert(ornamRgAlign || null)?.toString() || 'default',
    &#125;;
  &#125;
  public toStr(value: number): string &#123;
    return String(value);
  &#125;
  public toNum(value: any): number &#123;
    return Number(value);
  &#125;
&#125;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelCss">
          <code><pre source="css">
app-input &#123;
  .app-group &#123;
    display: flex;
    flex-wrap: wrap;
  &#125;
  .app-elem &#123;
    min-width: 26ch;
    margin: 10px 10px;
  &#125;

  .io-elem &#123;
    width: 26ch;
  &#125;
  .io-elem2 &#123;
    margin: 10px 10px;
    width: 160px;
  &#125;
  .io-elem2 > div &#123;
    margin-bottom: 6px;
  &#125;
  .io-pd-hor &#123;
    padding-left: 8px;
    padding-right: 8px;
  &#125;

  .io-ornament .io-btn &#123;
    outline: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
    cursor: pointer;
    user-select: none;
    border-radius: 50%;
    background-color: transparent;
  &#125;
  .io-ornament .io-btn:hover &#123;
    background-color: rgba(0, 0, 0, 0.04);
  &#125;
  .io-uncode &#123;
    font-size: 20px;
    padding-top: 6px;
    padding-bottom: 6px;
  &#125;
  .io-uncode2 &#123;
    font-size: 24px;
    padding-top: 2px;
    padding-bottom: 5px;
    color: #00000080;
    &:hover &#123;
      color: #000000fa;
    &#125;
  &#125;
  .io-ornament .io-btn-eye &#123;
    vertical-align: middle;
    overflow: visible;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    padding-top: 5px;
    padding-bottom: 4px;
  &#125;

  .io-ornament .io-icon-eye &#123;
    background: center no-repeat;
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 1.5rem;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  &#125;
  .io-ornament .io-icon-eye:not(.crossed) &#123;
    background-image: url("data:image/svg+xml,"
    + "&lt;svg xmlns='http://www.w3.org/2000/svg' width='24' height='24'"
    + " viewBox='0 0 24 24' fill='rgb(0 0 0 / 54%)'&gt;"
    + "&lt;path d='M12 4.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9"
    + ".27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5zM12 17c-2.76 0-5-2.24-"
    + "5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5zm0-8c-1.66 0-3 1.34-3 3s1"
    + ".34 3 3 3 3-1.34 3-3-1.34-3-3-3z'/&gt;"
    + "&lt;/svg&gt;");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 24px 24px;
  &#125;
  .io-ornament .io-icon-eye.crossed &#123;
    background-image: url("data:image/svg+xml,"
    + "&lt;svg xmlns='http://www.w3.org/2000/svg' width='24' height='24'"
    + " viewBox='0 0 24 24' fill='rgb(0 0 0 / 54%)'&gt;"
    + "&lt;path d='M12 7c2.76 0 5 2.24 5 5 0 .65-.13 1.26-.36 1.83l2.92 "
    + "2.92c1.51-1.26 2.7-2.89 3.43-4.75-1.73-4.39-6-7.5-11-7.5-1.4 0"
    + "-2.74.25-3.98.7l2.16 2.16C10.74 7.13 11.35 7 12 7zM2 4.27l2.28"
    + " 2.28.46.46C3.08 8.3 1.78 10.02 1 12c1.73 4.39 6 7.5 11 7.5 1."
    + "55 0 3.03-.3 4.38-.84l.42.42L19.73 22 21 20.73 3.27 3 2 4.27zM"
    + "7.53 9.8l1.55 1.55c-.05.21-.08.43-.08.65 0 1.66 1.34 3 3 3 .22"
    + " 0 .44-.03.65-.08l1.55 1.55c-.67.33-1.41.53-2.2.53-2.76 0-5-2."
    + "24-5-5 0-.79.2-1.53.53-2.2zm4.31-.78 3.15 3.15.02-.16c0-1.66-1"
    + ".34-3-3-3l-.17.01z'/&gt;"
    + "&lt;/svg&gt;");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 24px 24px;
  &#125;

  .io-ornament .io-passwd-big .glnin-input &#123;
    font-size: 20px;
  &#125;
&#125;</pre></code>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
</section>