<section mr-vr>
  <h3 class="app-hover-link">
    API: GlnTextarea.
    <a [href]="urlCmTextarea + '#Api'">#</a>
  </h3>
  <p>
    Selector:
    <span fw500>gln-textarea</span>
  </p>
  <p>
    Exported as:
    <span fw500>glnTextarea</span>
  </p>
</section>

<section mr-vr
  id="api-properties">
  <h4 class="app-hover-link">
    Properties.
    <a [href]="urlCmTextarea + '#api-properties'">#</a>
  </h4>
</section>

<table class="app-tab">
  <tbody>
    <tr>
      <th class="app-mn-wd-22ch">Name</th>
      <th>Description</th>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>id: string;</code>
      </td>
      <td>
        <span>
          ID of the native textarea element.
          <br />(default = `glntx-$&#123;uniqueIdCounter++&#125;`;)
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>autoComplete: string;</code>
      </td>
      <td>
        <span>
          Determines whether the element's value can be automatically populated
          by the browser.
          <br />
          It can take the following values:
        </span>
        <ul>
          <li>"off" - the browser does not automatically complete the entry;</li>
          <li>"on" - The browser can automatically complete the value based
            on values that the user has entered during previous uses;</li>
        </ul>
        <span>
          If the autocomplete attribute is not specified on a element, then the browser uses the
          autocomplete attribute value of the element's form owner.
        </span>
        <br />
        <a
          href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/textarea#attr-autocomplete">
          More details: MDN "attr-autocomplete".
        </a>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>cntCols: number<br/>
          &nbsp;&nbsp;| null<br/>
          &nbsp;&nbsp;| undefined;</code>
      </td>
      <td>
        <span>
          The visible width of the text element, in average character width.
          If it is specified, it must be a positive integer.
          Used as the "cols" attribute of the "textarea" element.
          <br />(default = null;)
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>cntRows: number<br/>
          &nbsp;&nbsp;| null<br/>
          &nbsp;&nbsp;| undefined;</code>
      </td>
      <td>
        <span>
          The number of visible lines for the text element.
          If it is specified, it must be a positive integer.
          Used as the "rows" attribute of the "textarea" element.
          The height of the text area is calculated as "cntRows"
          multiplied by to the line height.
          <br />(default = null;)
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>config: GlnFrameConfig<br/>
          &nbsp;&nbsp;| null<br/>
          &nbsp;&nbsp;| undefined;</code>
      </td>
      <td>
        <span>Defines a configuration object.</span><br />
        <a [href]="urlCmTextarea + '#config-interface'">More details.</a>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>exterior: string<br/>
          &nbsp;&nbsp;| null<br/>
          &nbsp;&nbsp;| undefined;</code>
      </td>
      <td>
        <span>
          Determines the appearance of an element.<br />
          It can take the following values:
        </span>
        <ul>
          <li>"outlined" (default);</li>
          <li>"underline";</li>
          <li>"standard";</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>size: number<br/>
          &nbsp;&nbsp;| string<br/>
          &nbsp;&nbsp;| null<br/>
          &nbsp;&nbsp;| undefined;</code>
      </td>
      <td>
        <span>Determines the size of the element.<br />
          It can take the following values:
        </span>
        <ul>
          <li>"short" - if one line is height: 38px;</li>
          <li>"small" - if one line is height: 44px;</li>
          <li>"middle" - if one line is height: 50px (default);</li>
          <li>"wide" - if one line is height: 56px;</li>
          <li>"large" - if one line is height: 62px;</li>
          <li>"huge" - if one line is height: 68px;</li>
        </ul>
        <span>
          This property can also contain a string with the value of the height
          of the element in pixels.<br />
          For example: <code>size="57" or [size]="57"</code>
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>helperText: string<br/>
          &nbsp;&nbsp;| null<br/>
          &nbsp;&nbsp;| undefined;</code>
      </td>
      <td>
        <span>
          Specifies the text for additional clarification or error.
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>isDisabled: string<br/>
          &nbsp;&nbsp;| boolean<br/>
          &nbsp;&nbsp;| null<br/>
          &nbsp;&nbsp;| undefined;</code>
      </td>
      <td>
        <span>
          Indicates that the element is disabled.<br />
          (default = false;) Attribute (no content).
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>isError: string<br/>
          &nbsp;&nbsp;| boolean<br/>
          &nbsp;&nbsp;| null<br/>
          &nbsp;&nbsp;| undefined;</code>
      </td>
      <td>
        <span>
          Indicates that the element is in an error state.<br />
          (default = false;) Attribute (no content).
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>isLabelShrink: string<br/>
          &nbsp;&nbsp;| boolean<br/>
          &nbsp;&nbsp;| null<br/>
          &nbsp;&nbsp;| undefined;</code>
      </td>
      <td>
        <span>
          Indication that the label has shrunk and moved up.<br />
          (default = false;) Attribute (no content).
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>isNoAnimation: string<br/>
          &nbsp;&nbsp;| boolean<br/>
          &nbsp;&nbsp;| null<br/>
          &nbsp;&nbsp;| undefined;</code>
      </td>
      <td>
        <span>
          Indicates that animation is disabled.<br />
          (default = false;) Attribute (no content).
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>isPlaceholder: string<br/>
          &nbsp;&nbsp;| boolean<br/>
          &nbsp;&nbsp;| null<br/>
          &nbsp;&nbsp;| undefined;</code>
      </td>
      <td>
        <span>
          Specifies that the value of the "label" field be displayed
          as the "placeholder" attribute for the "textarea" element.<br />
          (default = false;) Attribute (no content).
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>isReadOnly: string<br/>
          &nbsp;&nbsp;| boolean<br/>
          &nbsp;&nbsp;| null<br/>
          &nbsp;&nbsp;| undefined;</code>
      </td>
      <td>
        <span>
          Indicates that the element is read-only.<br />
          (default = false;) Attribute (no content).
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>isRequired: string<br/>
          &nbsp;&nbsp;| boolean<br/>
          &nbsp;&nbsp;| null<br/>
          &nbsp;&nbsp;| undefined;</code>
      </td>
      <td>
        <span>
          Indicates that the field is required.<br />
          (default = false;) Attribute (no content).
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>label: string<br/>
          &nbsp;&nbsp;| null<br/>
          &nbsp;&nbsp;| undefined;</code>
      </td>
      <td>
        <span>
          Specifies the content of the label.
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>maxLength: number<br/>
          &nbsp;&nbsp;| null<br/>
          &nbsp;&nbsp;| undefined;</code>
      </td>
      <td>
        <span>
          Defines the maximum number of characters for an textarea element.<br />
          (default = null;)
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>maxRows: number<br/>
          &nbsp;&nbsp;| null<br/>
          &nbsp;&nbsp;| undefined;</code>
      </td>
      <td>
        <span>
          Defines the maximum number of visible rows.
          The maximum height of the text area is calculated as "maxRows"
          multiplied by to the line height.
          Active if "cntRows" is not specified.
          <br />(default = null;)
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>minLength: number<br/>
          &nbsp;&nbsp;| null<br/>
          &nbsp;&nbsp;| undefined;</code>
      </td>
      <td>
        <span>
          Defines the minimum number of characters for an textarea element.
          <br />(default = null;)
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>minRows: number<br/>
          &nbsp;&nbsp;| null<br/>
          &nbsp;&nbsp;| undefined;</code>
      </td>
      <td>
        <span>
          Defines the minimum number of visible rows.
          The minimum height of the text area is calculated as "minRows"
          multiplied by to the line height.
          Active if "cntRows" is not specified.
          <br />(default = null;)
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>ornamLfAlign: string<br/>
          &nbsp;&nbsp;| null<br/>
          &nbsp;&nbsp;| undefined;</code>
      </td>
      <td>
        <span>
          This property controls the vertical alignment for the left ornament.
          <br />(default = 'default';)
          It can take the following values:
        </span>
        <ul>
          <li>"default" - defines the default</li>
          <li>"center" - defines middle alignment</li>
          <li>"flexStart" - defines top alignment</li>
          <li>"flexEnd" - defines bottom alignment</li>
          <li>"baseline" - defines baseline alignment</li>
          <li>"stretch" - stretches across the entire height</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>ornamRgAlign: string<br/>
          &nbsp;&nbsp;| null<br/>
          &nbsp;&nbsp;| undefined;</code>
      </td>
      <td>
        <span>
          This property controls the vertical alignment of the right ornament.
          <br />(default = 'default';)
          It can take the following values:
        </span>
        <ul>
          <li>"default" - defines the default</li>
          <li>"center" - defines middle alignment</li>
          <li>"flexStart" - defines top alignment</li>
          <li>"flexEnd" - defines bottom alignment</li>
          <li>"baseline" - defines baseline alignment</li>
          <li>"stretch" - stretches across the entire height</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>tabIndex: number;</code>
      </td>
      <td>
        <span>
          Indicates that its element can be focused.
          <br />(default = 0;)
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>wdFull: string<br/>
          &nbsp;&nbsp;| null<br/>
          &nbsp;&nbsp;| undefined;</code>
      </td>
      <td>
        <span>
          Sets the width to the parent's width (width: 100%;).
          <br />Attribute (no content).
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>spellCheck: string<br/>
          &nbsp;&nbsp;| null<br/>
          &nbsp;&nbsp;| undefined;</code>
      </td>
      <td>
        <span>
          Indicates whether the text element is subject to spell checking by the
          underlying browser/OS.
          It can take the following values:
        </span>
        <ul>
          <li>
            "true" - Indicates that the element needs to have its spelling and grammar checked.
          </li>
          <li>
            "default" - Indicates that the element is to act according to a default behavior,
            possibly based on the parent element's own spellcheck value.
          </li>
          <li>
            "false" - Indicates that the element should not be spell checked.
          </li>
        </ul>
        <br />
        <a
          href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/textarea#attr-spellcheck">
          More details: MDN "attr-spellcheck".
        </a>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>wraps: string<br/>
          &nbsp;&nbsp;| null<br/>
          &nbsp;&nbsp;| undefined;</code>
      </td>
      <td>
        <span>
          Indicates how the control wraps text.
          It can take the following values:
        </span>
        <ul>
          <li>
            "hard" - The browser automatically inserts line breaks (CR+LF) so
            that each line has no more than the width of the control;
            the cols attribute must also be specified for this to take effect.
          </li>
          <li>
            "soft" - The browser ensures that all line breaks in the value consist
            of a CR+LF pair, but does not insert any additional line breaks.
          </li>
        </ul>
        <br />
        <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/textarea#attr-wrap">
          More details: MDN "attr-wrap".
        </a>
      </td>
    </tr>

    <tr>
      <td>
        <code>@Output()</code>
        <code>focused: EventEmitter&lt;void&gt;;</code>
      </td>
      <td>
        <span>
          Fires when the element receives input focus.
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Output()</code>
        <code>blured: EventEmitter&lt;void&gt;;</code>
      </td>
      <td>
        <span>
          Fires when an element loses input focus.
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Output()</code>
        <code>input: EventEmitter&lt;Event&gt;;</code>
      </td>
      <td>
        <span>
          The event is called when the user changes the value of an element.
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Output()</code>
        <code>change: EventEmitter&lt;Event&gt;;</code>
      </td>
      <td>
        <span>
          Fires when the user finishes changing the value of an element.
        </span>
      </td>
    </tr>
    <tr>
    <tr>
      <td>
        <code>@Output()</code>
        <code>keydownData: EventEmitter&lt;KeyboardEvent&gt;;</code>
      </td>
      <td>
        <span>
          Fires when any button moves down.
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Output()</code>
        <code>keypressData: EventEmitter&lt;KeyboardEvent&gt;;</code>
      </td>
      <td>
        <span>
          Fires when a button that has a printable character is pressed.
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Output()</code>
        <code>keyupData: EventEmitter&lt;KeyboardEvent&gt;;</code>
      </td>
      <td>
        <span>
          Fires when any button moves up.
        </span>
      </td>
    </tr>

  </tbody>
</table>


<section mr-vr
  id="api-methods">
  <h4 class="app-hover-link">
    Methods
    <a [href]="urlCmTextarea + '#api-methods'">#</a>
  </h4>
</section>

<table class="app-tab">
  <thead>
    <th colspan="2">
      <span fw500>focus(): void;</span>
    </th>
  </thead>
  <tbody>
    <tr colspan="2">
      <td>
        <span>
          The input focus is given to this element.
        </span>
      </td>
    </tr>
  </tbody>
</table>

<section mr-vr
  id="api-css-variables">
  <h4 class="app-hover-link">
    Css variables, optional. You can override the default values.
    <a [href]="urlCmTextarea + '#api-css-variables'">#</a>
  </h4>
</section>

<table class="app-tab">
  <tr>
    <th class="app-mn-wd-22ch">Name</th>
    <th>Description</th>
  </tr>

  <tr>
    <td><code>--glntx-he-pd-lf:<br/>
      &nbsp;var(--glnfrs--pd-lf);</code>
    </td>
    <td>
      <span>
        The value of the "padding-left" property for the GlnHintOrError component.
      </span>
    </td>
  </tr>

  <tr>
    <td><code>--glntx-he-pd-rg:<br/>
      &nbsp;var(--glnfrs--pd-rg);</code>
    </td>
    <td>
      <span>
        The value of the "padding-right" property for the GlnHintOrError component.
      </span>
    </td>
  </tr>

</table>

<hr br-nn />

<section mr-vr
  id="api-css-variables-gln-frame">
  <h4 class="app-hover-link">
    Css variables from GlnFrame.
    <a [href]="urlCmTextarea + '#api-css-variables-gln-frame'">#</a>
  </h4>
  <p>
    You can also use CSS variables at the
    GlnFrame component level
    <a [href]="urlCmFrame + '#api-css-variables-optional'">GlnFrame#api-css-variables-optional</a>.
    But remember that new css variables must be defined at the GlnFrame level.
  </p>
  <span>For example:</span>
  <pre source="css">
.ip-bootstrap <strong>.gln-frame</strong> &#123;
  // Hover styles match the default styles.
  --glnfr-hov-lb-cl: var(--glnfr--lb-cl-def);
  --glnfr-hov-br-cl: var(--glnfr--br-cl-def);
  // Blocking frame resizing when hovering the mouse for "Outlined" mode.
  --glnfr-hov-dcr-br-wd: unset;
  // Blocking frame resizing when receiving focus for "Outlined" mode.
  --glnfr-foc-dcr-br-wd: unset;
&#125;</pre>
</section>

<hr br-nn />

<section mr-vr>
  <h4>Recommendation</h4>
  <p>
    We recommend using "formControlName" and NOT using "[(ngModel)]" (at least in production).
    For angular 14, there was still an issue with the second call to the
    ControlValueAccessor writeValue method when using [(ngModel)].
    <br />
    <a href="https://github.com/angular/angular/issues/14988">
      ValueAccessor.writeValue is being called twice, first time with a phantom null value
    </a>
  </p>
</section>