/*# sourceURL=select-attributes.component.scss */

app-select-attributes {
  display: block;

	.sa-text-center {
		text-align: center;
	}
	.sa-mini {
		width: 90px;
	}
	.sa-elem {
    width: 28ch;
  }
}
