<section mr-vr>
  <h3>Attributes</h3>
  <p>The following attributes are supported:</p>
  <ul>
    <li>"id" - parameter for defining the unique identifier of the field
      (id="unique_identifier");</li>
    <li>"isReadOnly" - a sign that the field is read-only (isReadOnly);</li>
    <li>"isRequired" - a sign that the field is required (isRequired);</li>
    <li>"isDisabled" - a sign that the field is disabled (isDisabled);</li>
    <li>"lbShrink" - a sign that the field has a permanent label,
      without being converted to a placeholder (lbShrink);</li>
    <li>"noLabel" - a sign that the field has no label at all (noLabel);</li>
    <li>"helperText" - the parameter is used to provide context for a given
      field or error message (helperText="A value must be entered.");</li>
    <li>"isError" - a sign that the field is in error (isError);</li>
  </ul>
</section>

<section mr-vr>
  <span>exterior: </span>
  <mat-button-toggle-group [(ngModel)]="exterior02a">
    <mat-button-toggle value="outlined">{{ labelOutlined }}</mat-button-toggle>
    <mat-button-toggle value="underline">{{ labelUnderline }}</mat-button-toggle>
    <mat-button-toggle value="standard">{{ labelStandard }}</mat-button-toggle>
  </mat-button-toggle-group>
</section>


<div class="app-group">


  <div class="app-elem">
    <div>
      <small>
        <em>State: empty.</em>
      </small>
    </div>
    <gln-select [(ngModel)]="model02a"
      id="unique_id_select02a"
      label="Enter value"
      [exterior]="exterior02a"
      isValueInit
      [noAnimation]="initNoAnim02['model02a']"
      (writeValueInit)="doWriteValueInit($event, 'model02a');"
      wdFull>
      <gln-menu-item><em>None</em></gln-menu-item>
      <gln-menu-item *ngFor="let item of fruits"
        [value]="item">{{ capitalizeFirstLetter(item) }}
      </gln-menu-item>
    </gln-select>
  </div>

  <div class="app-elem">
    <div>
      <small>
        <em>Attributes: isRequired, helperText.</em>
      </small>
    </div>
    <gln-select [(ngModel)]="model02b"
      label="Required field"
      isRequired
      helperText="A value must be entered."
      [exterior]="exterior02a"
      isValueInit
      [noAnimation]="initNoAnim02['model02b']"
      (writeValueInit)="doWriteValueInit($event, 'model02b');"
      wdFull>
      <gln-menu-item><em>None</em></gln-menu-item>
      <gln-menu-item *ngFor="let item of fruits"
        [value]="item">{{ capitalizeFirstLetter(item) }}
      </gln-menu-item>
    </gln-select>
  </div>

  <div class="app-elem">
    <div>
      <small>
        <em>Attribute: noLabel.</em>
      </small>
    </div>
    <gln-select [(ngModel)]="model02c"
      label="noLabel"
      noLabel
      helperText="The label is not displayed."
      [exterior]="exterior02a"
      isValueInit
      [noAnimation]="initNoAnim02['model02c']"
      (writeValueInit)="doWriteValueInit($event, 'model02c');"
      wdFull>
      <gln-menu-item><em>None</em></gln-menu-item>
      <gln-menu-item *ngFor="let item of fruits"
        [value]="item">{{ capitalizeFirstLetter(item) }}
      </gln-menu-item>
    </gln-select>
  </div>

  <!-- <div class="app-elem">
    <div>
      <small>
        <em>Attribute: isDisabled.</em>
      </small>
    </div>
    <gln-select [(ngModel)]="model02d"
      label="Disabled"
      isDisabled
      helperText="The parameter is disabled."
      [exterior]="exterior02a"
      wdFull>
      <gln-menu-item><em>None</em></gln-menu-item>
      <gln-menu-item *ngFor="let item of fruits"
        [value]="item">{{ capitalizeFirstLetter(item) }}
      </gln-menu-item>
    </gln-select>
  </div> -->


  <div class="app-elem">
    <div>
      <small>
        <em>Attributes: isRequired, helperText.</em>
      </small>
    </div>
    <gln-select [(ngModel)]="model02r"
      label="Required field"
      isRequired
      helperText="A value must be entered."
      [exterior]="exterior02a"
      isValueInit
      [noAnimation]="initNoAnim02['model02r']"
      (writeValueInit)="doWriteValueInit($event, 'model02r');"
      wdFull>
      <gln-menu-item><em>None</em></gln-menu-item>
      <gln-menu-item *ngFor="let item of fruits"
        [value]="item">{{ capitalizeFirstLetter(item) }}
      </gln-menu-item>
    </gln-select>
  </div>

</div>

<!-- <div class="app-elem">
    <div>
      <small>
        <em>State: empty.</em>
      </small>
    </div>
    <gln-select [(ngModel)]="model02a"
      label="Cool fruit"
      wdFull
      isFixRight9
      isError9
      hoverColor9
      isDisabled9
      noAnimation9
      [visibleSize]="5"
      [exterior]="exterior02a">
      <gln-menu-item><em>None</em></gln-menu-item>
      <gln-menu-item *ngFor="let item of fruits"
        [value]="item">{{ capitalizeFirstLetter(item) }}</gln-menu-item>
    </gln-select>
  </div> -->