<section mr-vr>
  <h3>Attributes</h3>
  <p>The following attributes are supported: <a [href]="urlSelect + '#Attributes'">#</a></p>
  <ul>
    <li>
      "id" - parameter for defining the unique identifier of the field
      (id="unique_identifier");
    </li>
    <li>
      "exterior" - Determines the appearance of an element.<br />
      It can take the following values:
      <ul>
        <li>"outlined";</li>
        <li>"underline";</li>
        <li>"standard";</li>
      </ul>
    </li>
    <li>
      "isRequired" - a sign that the field is required (isRequired);
    </li>
    <li>
      "helperText" - the parameter is used to provide context for a given
      field or error message (helperText="A value must be entered.");
    </li>
    <li>"label" - The content of the label.</li>
    <li>"isNoLabel" - a sign that the field has no label at all (isNoLabel);</li>
    <li>
      "isDisabled" - a sign that the field is disabled (isDisabled);
    </li>
    <li>
      "wdFull" - an attribute sets the width to the width of the parent (width: 100%).
    </li>
  </ul>
</section>

<section mr-vr>
  <span>exterior: </span>
  <mat-button-toggle-group value="exterior02a"
    (change)="exterior02a=$event.value">
    <mat-button-toggle [checked]="exterior02a==='outlined'"
      value="outlined">{{ labelOutlined }}</mat-button-toggle>
    <mat-button-toggle [checked]="exterior02a==='underline'"
      value="underline">{{ labelUnderline }}</mat-button-toggle>
    <mat-button-toggle [checked]="exterior02a==='standard'"
      value="standard">{{ labelStandard }}</mat-button-toggle>
  </mat-button-toggle-group>
</section>

<form [formGroup]="formGroup02a"
  novalidate
  autocomplete="off">

  <div class="app-group">

    <div class="app-elem">
      <div>
        <small>
          <em>State: empty.</em>
        </small>
      </div>
      <gln-select formControlName="model02a"
        id="unique_id_select02a"
        label="Enter value"
        [exterior]="exterior02a"
        wdFull>
        <gln-option><em>None</em></gln-option>
        <gln-option *ngFor="let item of fruits"
          [value]="item">{{ capitalizeFirstLetter(item) }}
        </gln-option>
      </gln-select>
    </div>

    <div class="app-elem">
      <div>
        <small>
          <em>Attributes: isRequired, helperText.</em>
        </small>
      </div>
      <gln-select formControlName="model02b"
        label="Required field"
        isRequired
        helperText="A value must be entered."
        [exterior]="exterior02a"
        wdFull>
        <gln-option><em>None</em></gln-option>
        <gln-option *ngFor="let item of fruits"
          [value]="item">{{ capitalizeFirstLetter(item) }}
        </gln-option>
      </gln-select>
    </div>

    <div class="app-elem">
      <div>
        <small>
          <em>Attribute: isNoLabel.</em>
        </small>
      </div>
      <gln-select formControlName="model02c"
        label="isNoLabel"
        isNoLabel
        helperText="The label is not displayed."
        [exterior]="exterior02a"
        wdFull>
        <gln-option><em>None</em></gln-option>
        <gln-option *ngFor="let item of fruits"
          [value]="item">{{ capitalizeFirstLetter(item) }}
        </gln-option>
      </gln-select>
    </div>

    <div class="app-elem">
      <div>
        <small>
          <em>Attribute: isDisabled.</em>
        </small>
      </div>
      <gln-select formControlName="model02d"
        label="Disabled"
        isDisabled
        helperText="The parameter is disabled."
        [exterior]="exterior02a"
        wdFull>
        <gln-option><em>None</em></gln-option>
        <gln-option *ngFor="let item of fruits"
          [value]="item">{{ capitalizeFirstLetter(item) }}
        </gln-option>
      </gln-select>
    </div>

  </div>

</form>

<section mr-vr>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="labelHtml">
          <code><pre source="html">
&lt;form [formGroup]="formGroup02a"
  novalidate
  autocomplete="off"&gt;

  &lt;div class="app-group"&gt;

    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;State: empty.&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;gln-select formControlName="model02a"
        id="unique_id_select02a"
        label="Enter value"
        [exterior]="exterior02a"
        wdFull&gt;
        &lt;gln-option&gt;&lt;em&gt;None&lt;/em&gt;&lt;/gln-option&gt;
        &lt;gln-option *ngFor="let item of fruits"
          [value]="item"&gt;<b>&#123;</b>&#123; capitalizeFirstLetter(item) &#125;&#125;
        &lt;/gln-option&gt;
      &lt;/gln-select&gt;
    &lt;/div&gt;

    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;Attributes: isRequired, helperText.&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;gln-select formControlName="model02b"
        label="Required field"
        isRequired
        helperText="A value must be entered."
        [exterior]="exterior02a"
        wdFull&gt;
        &lt;gln-option&gt;&lt;em&gt;None&lt;/em&gt;&lt;/gln-option&gt;
        &lt;gln-option *ngFor="let item of fruits"
          [value]="item"&gt;<b>&#123;</b>&#123; capitalizeFirstLetter(item) &#125;&#125;
        &lt;/gln-option&gt;
      &lt;/gln-select&gt;
    &lt;/div&gt;

    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;Attribute: isNoLabel.&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;gln-select formControlName="model02c"
        label="isNoLabel"
        isNoLabel
        helperText="The label is not displayed."
        [exterior]="exterior02a"
        wdFull&gt;
        &lt;gln-option&gt;&lt;em&gt;None&lt;/em&gt;&lt;/gln-option&gt;
        &lt;gln-option *ngFor="let item of fruits"
          [value]="item"&gt;<b>&#123;</b>&#123; capitalizeFirstLetter(item) &#125;&#125;
        &lt;/gln-option&gt;
      &lt;/gln-select&gt;
    &lt;/div&gt;

    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;Attribute: isDisabled.&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;gln-select formControlName="model02d"
        label="Disabled"
        isDisabled
        helperText="The parameter is disabled."
        [exterior]="exterior02a"
        wdFull&gt;
        &lt;gln-option&gt;&lt;em&gt;None&lt;/em&gt;&lt;/gln-option&gt;
        &lt;gln-option *ngFor="let item of fruits"
          [value]="item"&gt;<b>&#123;</b>&#123; capitalizeFirstLetter(item) &#125;&#125;
        &lt;/gln-option&gt;
      &lt;/gln-select&gt;
    &lt;/div&gt;

  &lt;/div&gt;

&lt;/form&gt;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelTs">
          <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';
import &#123;
  FormControl, FormGroup, Validators
&#125; from '@angular/forms';

@Component(&#123;
  selector: 'app-select',
  templateUrl: './select.component.html',
  styleUrls: ['./select.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class SelectComponent &#123;
  public fruits = ['mango', 'lemon', 'orange', 'kiwi'];

  public exterior02a = 'outlined';
  public formGroup02a: FormGroup = new FormGroup(&#123;
    model02a: new FormControl(null, []),
    model02b: new FormControl(this.fruits[0], [Validators.required]),
    model02c: new FormControl(this.fruits[0], []),
    model02d: new FormControl(this.fruits[0], []),
  &#125;);

  public capitalizeFirstLetter(value: string): string &#123;
    return value ? value[0].toUpperCase() + value.slice(1) : '';
  &#125;
&#125;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelCss">
          <code><pre source="css">
.app-group &#123;
  display: flex;
  flex-wrap: wrap;
&#125;
.app-elem &#123;
  min-width: 26ch;
  margin: 10px 10px;
&#125;</pre></code>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
</section>

<hr br-nn />

<section mr-vr
  id="Attributes02">
  <p>Attributes are also supported: <a [href]="urlSelect + '#Attributes02'">#</a></p>
  <ul>
    <li>
      "isLabelShrink" - a sign that the field has a permanent label,
      without being converted to a placeholder (isLabelShrink);
    </li>
    <li>
      "isError" - a sign that the field is in error (isError);
    </li>
    <li>
      "isHoverColor" - When hovering the mouse, the label and frame
      will have the same color as when they received focus.
    </li>
    <li>
      "isReadOnly" - a sign that the field is read-only (isReadOnly);
    </li>
  </ul>
</section>


<section mr-vr>
  <span>exterior: </span>
  <mat-button-toggle-group value="exterior02b"
    (change)="exterior02b=$event.value">
    <mat-button-toggle [checked]="exterior02b==='outlined'"
      value="outlined">{{ labelOutlined }}</mat-button-toggle>
    <mat-button-toggle [checked]="exterior02b==='underline'"
      value="underline">{{ labelUnderline }}</mat-button-toggle>
    <mat-button-toggle [checked]="exterior02b==='standard'"
      value="standard">{{ labelStandard }}</mat-button-toggle>
  </mat-button-toggle-group>
</section>

<form [formGroup]="formGroup02b"
  novalidate
  autocomplete="off">

  <div class="app-group">

    <div class="app-elem">
      <div>
        <small>
          <em>Attribute: isLabelShrink.</em>
        </small>
      </div>
      <gln-select formControlName="model02e"
        label="Permanent label"
        isLabelShrink
        helperText="The position of the label is fixed."
        [exterior]="exterior02b"
        wdFull>
        <gln-option><em>None</em></gln-option>
        <gln-option *ngFor="let item of fruits"
          [value]="item">{{ capitalizeFirstLetter(item) }}
        </gln-option>
      </gln-select>
    </div>

    <div class="app-elem">
      <div>
        <small>
          <em>Attribute: isError.</em>
        </small>
      </div>
      <gln-select formControlName="model02f"
        [label]="!control02b.model02f.value
          ? 'Requires a value':'Parameter value'"
        [isError]="!control02b.model02f.value ? '':null"
        [helperText]="control02b.model02f.value
          ? 'The field is filled.'
          : 'The field is not filled.'"
        [exterior]="exterior02b"
        wdFull>
        <gln-option><em>None</em></gln-option>
        <gln-option *ngFor="let item of fruits"
          [value]="item">{{ capitalizeFirstLetter(item) }}
        </gln-option>
      </gln-select>
    </div>

    <div class="app-elem">
      <div>
        <small>
          <em>Attribute: isHoverColor.</em>
        </small>
      </div>
      <gln-select formControlName="model02g"
        label="Parameter value"
        isHoverColor
        helperText="On hover, a frame with the focus color."
        [exterior]="exterior02b"
        wdFull>
        <gln-option><em>None</em></gln-option>
        <gln-option *ngFor="let item of fruits"
          [value]="item">{{ capitalizeFirstLetter(item) }}
        </gln-option>
      </gln-select>
    </div>

    <div class="app-elem">
      <div>
        <small>
          <em>Attribute: isReadOnly.</em>
        </small>
      </div>
      <gln-select formControlName="model02h"
        label="Read Only"
        isReadOnly
        helperText="The parameter is read only."
        [exterior]="exterior02b"
        wdFull>
        <gln-option><em>None</em></gln-option>
        <gln-option *ngFor="let item of fruits"
          [value]="item">{{ capitalizeFirstLetter(item) }}
        </gln-option>
      </gln-select>
    </div>

  </div>

</form>

<section mr-vr>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="labelHtml">
          <code><pre source="html">
&lt;form [formGroup]="formGroup02b"
  novalidate
  autocomplete="off"&gt;

  &lt;div class="app-group"&gt;

    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;Attribute: isLabelShrink.&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;gln-select formControlName="model02e"
        label="Permanent label"
        isLabelShrink
        helperText="The position of the label is fixed."
        [exterior]="exterior02b"
        wdFull&gt;
        &lt;gln-option&gt;&lt;em&gt;None&lt;/em&gt;&lt;/gln-option&gt;
        &lt;gln-option *ngFor="let item of fruits"
          [value]="item"&gt;<b>&#123;</b>&#123; capitalizeFirstLetter(item) &#125;&#125;
        &lt;/gln-option&gt;
      &lt;/gln-select&gt;
    &lt;/div&gt;

    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;Attribute: isError.&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;gln-select formControlName="model02f"
        [label]="!control02b.model02f.value
          ? 'Requires a value':'Parameter value'"
        [isError]="!control02b.model02f.value ? '':null"
        [helperText]="control02b.model02f.value
          ? 'The field is filled.'
          : 'The field is not filled.'"
        [exterior]="exterior02b"
        wdFull&gt;
        &lt;gln-option&gt;&lt;em&gt;None&lt;/em&gt;&lt;/gln-option&gt;
        &lt;gln-option *ngFor="let item of fruits"
          [value]="item"&gt;<b>&#123;</b>&#123; capitalizeFirstLetter(item) &#125;&#125;
        &lt;/gln-option&gt;
      &lt;/gln-select&gt;
    &lt;/div&gt;

    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;Attribute: isHoverColor.&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;gln-select formControlName="model02g"
        label="Parameter value"
        isHoverColor
        helperText="On hover, a frame with the focus color."
        [exterior]="exterior02b"
        wdFull&gt;
        &lt;gln-option&gt;&lt;em&gt;None&lt;/em&gt;&lt;/gln-option&gt;
        &lt;gln-option *ngFor="let item of fruits"
          [value]="item"&gt;<b>&#123;</b>&#123; capitalizeFirstLetter(item) &#125;&#125;
        &lt;/gln-option&gt;
      &lt;/gln-select&gt;
    &lt;/div&gt;

    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;Attribute: isReadOnly.&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;gln-select formControlName="model02h"
        label="Read Only"
        isReadOnly
        helperText="The parameter is read only."
        [exterior]="exterior02b"
        wdFull&gt;
        &lt;gln-option&gt;&lt;em&gt;None&lt;/em&gt;&lt;/gln-option&gt;
        &lt;gln-option *ngFor="let item of fruits"
          [value]="item"&gt;<b>&#123;</b>&#123; capitalizeFirstLetter(item) &#125;&#125;
        &lt;/gln-option&gt;
      &lt;/gln-select&gt;
    &lt;/div&gt;

  &lt;/div&gt;

&lt;/form&gt;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelTs">
          <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';
import &#123;
  FormControl, FormGroup, Validators
&#125; from '@angular/forms';

@Component(&#123;
  selector: 'app-select',
  templateUrl: './select.component.html',
  styleUrls: ['./select.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class SelectComponent &#123;
  public fruits = ['mango', 'lemon', 'orange', 'kiwi'];

  public exterior02b = 'outlined';
  public control02b = &#123;
    model02e: new FormControl(null, []),
    model02f: new FormControl(null, [Validators.required]),
    model02g: new FormControl(this.fruits[1], []),
    model02h: new FormControl(this.fruits[1], []),
&#125;;
  public formGroup02b: FormGroup = new FormGroup(this.control02b);

  public capitalizeFirstLetter(value: string): string &#123;
    return value ? value[0].toUpperCase() + value.slice(1) : '';
  &#125;
&#125;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelCss">
          <code><pre source="css">
.app-group &#123;
  display: flex;
  flex-wrap: wrap;
&#125;
.app-elem &#123;
  min-width: 26ch;
  margin: 10px 10px;
&#125;</pre></code>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
</section>

<hr br-nn />


<section mr-vr
  id="Attributes03">
  <p>Attributes are also supported: <a [href]="urlSelect + '#Attributes03'">#</a></p>
  <ul>
    <li>
      "wdFull" - an attribute sets the width to the width of the parent (width: 100%).
      <br />
      Without this parameter, the width is determined by the content.
      <br />
      The default minimum width is frameSizeValue * 1.1.
      <br />
      The content of "helperText" also affects the width of the component.
      <br />
      The value of the minimum width can be specified by the css citile or by setting
      the css variable "--glns-min-width".
    </li>
    <li>
      "position" - Defines horizontal positioning.
      It can take the following values:
      <ul>
        <li>"start" - positioned at the left edge;</li>
        <li>"center" - positioned in the middle;</li>
        <li>"end" - positioned on the right edge;</li>
      </ul>
    </li>
    <li>
      "visibleSize" - Specifies the maximum number of visible option elements.
      This value is multiplied by the height of the option and defines the
      maximum height of the options panel.
    </li>
    <li>
      "isNoIcon" - Hide the display of the status icon of the dropdown list of options.
    </li>
    <li>
      "isNoAnimation" - Hide the display of the animation when the dropdown list of
      options is expanded.
    </li>
  </ul>
</section>

<hr br-nn />

<section mr-vr>
  <span>exterior: </span>
  <mat-button-toggle-group value="exterior02c"
    (change)="exterior02c=$event.value">
    <mat-button-toggle [checked]="exterior02c==='outlined'"
      value="outlined">{{ labelOutlined }}</mat-button-toggle>
    <mat-button-toggle [checked]="exterior02c==='underline'"
      value="underline">{{ labelUnderline }}</mat-button-toggle>
    <mat-button-toggle [checked]="exterior02c==='standard'"
      value="standard">{{ labelStandard }}</mat-button-toggle>
  </mat-button-toggle-group>
</section>

<form [formGroup]="formGroup02c"
  novalidate
  autocomplete="off">

  <div class="app-group">

    <div class="app-elem sa-text-center">
      <div>
        <small>
          <em>Attribute: without wdFull, position='center'.</em>
        </small>
      </div>
      <gln-select formControlName="model02i"
        class="sa-mini"
        label="Fruit"
        position="center"
        [exterior]="exterior02c">
        <gln-option><em>None</em></gln-option>
        <gln-option *ngFor="let item of fruitsC"
          [value]="item">{{ capitalizeFirstLetter(item) }}
        </gln-option>
      </gln-select>
    </div>

    <div class="app-elem">
      <div>
        <small>
          <em>Attribute: position='end'.</em>
        </small>
      </div>
      <gln-select formControlName="model02j"
        class="sa-mini"
        label="Fruit"
        position="end"
        [exterior]="exterior02c">
        <gln-option><em>None</em></gln-option>
        <gln-option *ngFor="let item of fruitsC"
          [value]="item">{{ capitalizeFirstLetter(item) }}
        </gln-option>
      </gln-select>
    </div>

    <div class="app-elem">
      <div>
        <small>
          <em>Attribute: isNoIcon, visibleSize=4.</em>
        </small>
      </div>
      <gln-select formControlName="model02k"
        label="Fruit"
        isNoIcon
        [visibleSize]="4"
        [exterior]="exterior02c"
        helperText="The 'isNoIcon', 'visibleSize' are used."
        wdFull>
        <gln-option><em>None</em></gln-option>
        <gln-option *ngFor="let item of fruits"
          [value]="item">{{ capitalizeFirstLetter(item) }}
        </gln-option>
      </gln-select>
    </div>

    <div class="app-elem">
      <div>
        <small>
          <em>Attribute: isNoAnimation.</em>
        </small>
      </div>
      <gln-select formControlName="model02l"
        label="Fruit"
        isNoAnimation
        [exterior]="exterior02c"
        helperText="The 'isNoAnimation' are used."
        wdFull>
        <gln-option><em>None</em></gln-option>
        <gln-option *ngFor="let item of fruits"
          [value]="item">{{ capitalizeFirstLetter(item) }}
        </gln-option>
      </gln-select>
    </div>

  </div>

</form>

<section mr-vr>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="labelHtml">
          <code><pre source="html">
&lt;form [formGroup]="formGroup02c"
  novalidate
  autocomplete="off"&gt;

  &lt;div class="app-group"&gt;

    &lt;div class="app-elem sa-text-center"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;Attribute: without wdFull, position='center'.&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;gln-select formControlName="model02i"
        class="sa-mini"
        label="Fruit 1"
        position="center"
        [exterior]="exterior02c"&gt;
        &lt;gln-option&gt;&lt;em&gt;None&lt;/em&gt;&lt;/gln-option&gt;
        &lt;gln-option *ngFor="let item of fruitsC"
          [value]="item"&gt;<b>&#123;</b>&#123; capitalizeFirstLetter(item) &#125;&#125;
        &lt;/gln-option&gt;
      &lt;/gln-select&gt;
    &lt;/div&gt;

    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;Attribute: position='end'.&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;gln-select formControlName="model02j"
        class="sa-mini"
        label="Fruit 2"
        position="end"
        [exterior]="exterior02c"&gt;
        &lt;gln-option&gt;&lt;em&gt;None&lt;/em&gt;&lt;/gln-option&gt;
        &lt;gln-option *ngFor="let item of fruitsC"
          [value]="item"&gt;<b>&#123;</b>&#123; capitalizeFirstLetter(item) &#125;&#125;
        &lt;/gln-option&gt;
      &lt;/gln-select&gt;
    &lt;/div&gt;

    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;Attribute: isNoIcon, visibleSize=4.&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;gln-select formControlName="model02k"
        label="Fruit 3"
        isNoIcon
        [visibleSize]="4"
        [exterior]="exterior02c"
        helperText="The 'isNoIcon', 'visibleSize' are used."
        wdFull&gt;
        &lt;gln-option&gt;&lt;em&gt;None&lt;/em&gt;&lt;/gln-option&gt;
        &lt;gln-option *ngFor="let item of fruits"
          [value]="item"&gt;<b>&#123;</b>&#123; capitalizeFirstLetter(item) &#125;&#125;
        &lt;/gln-option&gt;
      &lt;/gln-select&gt;
    &lt;/div&gt;

    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;Attribute: isNoAnimation.&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;gln-select formControlName="model02l"
        label="Fruit 4"
        isNoAnimation
        [exterior]="exterior02c"
        helperText="The 'isNoAnimation' are used."
        wdFull&gt;
        &lt;gln-option&gt;&lt;em&gt;None&lt;/em&gt;&lt;/gln-option&gt;
        &lt;gln-option *ngFor="let item of fruits"
          [value]="item"&gt;<b>&#123;</b>&#123; capitalizeFirstLetter(item) &#125;&#125;
        &lt;/gln-option&gt;
      &lt;/gln-select&gt;
    &lt;/div&gt;

  &lt;/div&gt;

&lt;/form&gt;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelTs">
          <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';
import &#123;
  FormControl, FormGroup, Validators
&#125; from '@angular/forms';

@Component(&#123;
  selector: 'app-select',
  templateUrl: './select.component.html',
  styleUrls: ['./select.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class SelectComponent &#123;
  public fruits = ['mango', 'lemon', 'orange', 'kiwi'];;

  public fruitsC = [
    'mango', 'ripe lemon', 'gorgeous orange', 'succulent watermelon'
  ];

  public exterior02c = 'outlined';
  public control02c = &#123;
    model02i: new FormControl(null, []),
    model02j: new FormControl(null, []),
    model02k: new FormControl(null, []),
    model02l: new FormControl(null, []),
  &#125;;
  public formGroup02c: FormGroup = new FormGroup(this.control02c);

  public capitalizeFirstLetter(value: string): string &#123;
    return value ? value[0].toUpperCase() + value.slice(1) : '';
  &#125;
&#125;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelCss">
          <code><pre source="css">
.app-group &#123;
  display: flex;
  flex-wrap: wrap;
&#125;
.app-elem &#123;
  min-width: 26ch;
  margin: 10px 10px;
&#125;
.sa-text-center &#123;
  text-align: center;
&#125;
.sa-mini &#123;
  min-width: 90px;
&#125;</pre></code>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
</section>

<hr br-nn />


<section mr-vr
  id="Attributes04">
  <p>Attributes are also supported: <a [href]="urlSelect + '#Attributes04'">#</a></p>
  <ul>
    <li>
      "isMultiple" - Use multiple selection options.
    </li>
    <li>
      "isCheckmark" - Display a checkbox for options when multiple selections are made.
    </li>
    <li>
      "isNoRipple" - Disables the ripple effect.
    </li>
  </ul>
</section>

<section mr-vr>
  <span>exterior: </span>
  <mat-button-toggle-group value="exterior02d"
    (change)="exterior02d=$event.value">
    <mat-button-toggle [checked]="exterior02d==='outlined'"
      value="outlined">{{ labelOutlined }}</mat-button-toggle>
    <mat-button-toggle [checked]="exterior02d==='underline'"
      value="underline">{{ labelUnderline }}</mat-button-toggle>
    <mat-button-toggle [checked]="exterior02d==='standard'"
      value="standard">{{ labelStandard }}</mat-button-toggle>
  </mat-button-toggle-group>
</section>

<form [formGroup]="formGroup02d"
  novalidate
  autocomplete="off">

  <div class="app-group">

    <div class="app-elem">
      <div>
        <small>
          <em>Attribute: isMultiple, visibleSize.</em>
        </small>
      </div>
      <gln-select formControlName="model02m"
        class="sa-elem"
        label="Flower"
        isMultiple
        [visibleSize]="8"
        helperText="The 'isMultiple', 'visibleSize' are used."
        [exterior]="exterior02d">
        <gln-option><em>None</em></gln-option>
        <gln-option *ngFor="let item of flowers"
          [value]="item">{{ capitalizeFirstLetter(item) }}
        </gln-option>
      </gln-select>
    </div>

    <div class="app-elem sa-elem">
      <div>
        <small>
          <em>Attribute: isMultiple, isCheckmark.</em>
        </small>
      </div>
      <gln-select formControlName="model02n"
        label="Flower"
        isMultiple
        [visibleSize]="8"
        isCheckmark
        helperText="The 'isMultiple', 'isCheckmark' are used."
        [exterior]="exterior02d"
        wdFull>
        <gln-option><em>None</em></gln-option>
        <gln-option *ngFor="let item of flowers"
          [value]="item">{{ capitalizeFirstLetter(item) }}
        </gln-option>
      </gln-select>
    </div>

    <div class="app-elem sa-elem">
      <div>
        <small>
          <em>Attribute: isNoRipple.</em>
        </small>
      </div>
      <gln-select formControlName="model02o"
        label="Flower"
        isNoRipple
        isMultiple
        [visibleSize]="8"
        helperText="The 'isNoRipple' are used."
        [exterior]="exterior02d"
        wdFull>
        <gln-option><em>None</em></gln-option>
        <gln-option *ngFor="let item of flowers"
          [value]="item">{{ capitalizeFirstLetter(item) }}
        </gln-option>
      </gln-select>
    </div>

  </div>

</form>

<section mr-vr>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="labelHtml">
          <code><pre source="html">
&lt;form [formGroup]="formGroup02d"
  novalidate
  autocomplete="off"&gt;

  &lt;div class="app-group"&gt;

    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;Attribute: isMultiple, visibleSize.&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;gln-select formControlName="model02m"
        class="sa-elem"
        label="Flower"
        isMultiple
        [visibleSize]="8"
        helperText="The 'isMultiple', 'visibleSize' are used."
        [exterior]="exterior02d"&gt;
        &lt;gln-option&gt;&lt;em&gt;None&lt;/em&gt;&lt;/gln-option&gt;
        &lt;gln-option *ngFor="let item of flowers"
          [value]="item"&gt;<b>&#123;</b>&#123; capitalizeFirstLetter(item) &#125;&#125;
        &lt;/gln-option&gt;
      &lt;/gln-select&gt;
    &lt;/div&gt;

    &lt;div class="app-elem sa-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;Attribute: isMultiple, isCheckmark.&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;gln-select formControlName="model02n"
        label="Flower"
        isMultiple
        [visibleSize]="8"
        isCheckmark
        helperText="The 'isMultiple', 'isCheckmark' are used."
        [exterior]="exterior02d"
        wdFull&gt;
        &lt;gln-option&gt;&lt;em&gt;None&lt;/em&gt;&lt;/gln-option&gt;
        &lt;gln-option *ngFor="let item of flowers"
          [value]="item"&gt;<b>&#123;</b>&#123; capitalizeFirstLetter(item) &#125;&#125;
        &lt;/gln-option&gt;
      &lt;/gln-select&gt;
    &lt;/div&gt;

    &lt;div class="app-elem sa-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;Attribute: isNoRipple.&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;gln-select formControlName="model02o"
        label="Flower"
        isNoRipple
        isMultiple
        [visibleSize]="8"
        helperText="The 'isNoRipple' are used."
        [exterior]="exterior02d"
        wdFull&gt;
        &lt;gln-option&gt;&lt;em&gt;None&lt;/em&gt;&lt;/gln-option&gt;
        &lt;gln-option *ngFor="let item of flowers"
          [value]="item"&gt;<b>&#123;</b>&#123; capitalizeFirstLetter(item) &#125;&#125;
        &lt;/gln-option&gt;
      &lt;/gln-select&gt;
    &lt;/div&gt;

  &lt;/div&gt;

&lt;/form&gt;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelTs">
          <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';
import &#123;
  FormControl, FormGroup
&#125; from '@angular/forms';

@Component(&#123;
  selector: 'app-select',
  templateUrl: './select.component.html',
  styleUrls: ['./select.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class SelectComponent &#123;
  public flowers = [
    'rose',
    'carnation',
    'tulip',
    'chamomile',
    'daffodil',
    'gerbera',
    'orchid',
    'lilac',
    'gardenia',
    'jasmine',
    'magnolia',
    'hyacinth',
  ];

  public exterior02d = 'outlined';
  public control02d = &#123;
    model02m: new FormControl([this.flowers[1], this.flowers[3], this.flowers[4]], []),
    model02n: new FormControl([], []),
    model02o: new FormControl([], []),
  &#125;;
  public formGroup02d: FormGroup = new FormGroup(this.control02d);

  public capitalizeFirstLetter(value: string): string &#123;
    return value ? value[0].toUpperCase() + value.slice(1) : '';
  &#125;
&#125;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelCss">
          <code><pre source="css">
.app-group &#123;
  display: flex;
  flex-wrap: wrap;
&#125;
.app-elem &#123;
  min-width: 26ch;
  margin: 10px 10px;
&#125;
.sa-elem &#123;
  width: 28ch;
&#125;</pre></code>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
</section>

<hr br-nn />