<section mr-vr>
  <h3>Frame Size</h3>
  <p>
    The "frameSize" property determines the size of the element (its height).
  </p>
  <p>
    It takes the following values:
  </p>
  <ul>
    <li>"short" - sets the height to 38px;</li>
    <li>"small" - sets the height to 44px;</li>
    <li>"middle" - sets the height to 50px (default);</li>
    <li>"wide" - sets the height to 56px;</li>
    <li>"large" - sets the height to 62px;</li>
    <li>"huge" - sets the height to 68px;</li>
  </ul>
  <p>
    The element's height is set according to the value of the frameSize parameter.
    All padding and offsets are determined by this variable and the font size.
  </p>
  <p>
    The font size for native input and label is determined from the parent container.
    The size of the font can be defined with the css-style for the "grn-input" tag.
    In the example, this is implemented with the styles "fifs-large" and "fifs-huge".
    We can change the font size at the grn-input tag level, but the height of the element
    will not change.
  </p>
  <p>
    The height of the element remains the same even when the font size is changed
    (from font-size: 10px to font-size: 26px).
  </p>
  <p>
    It is possible to specify the height of an element. To do this,
    in the "config.frameSizeValue" property, we define the required height in pixels.
    In this case, "frameSize" and "config.frameSize" should not be used.
  </p>
  <p>
    In order to hide the label (legend), add the "hiddenLabel" attribute.
  </p>
</section>

<section mr-vr>
  <span>exterior: </span>
  <mat-button-toggle-group [(ngModel)]="exterior02">
    <mat-button-toggle value="outlined">{{ labelOutlined }}</mat-button-toggle>
    <mat-button-toggle value="underline">{{ labelUnderline }}</mat-button-toggle>
    <mat-button-toggle value="standard">{{ labelStandard }}</mat-button-toggle>
  </mat-button-toggle-group>
</section>

<section mr-vr>
  <mat-slide-toggle color="primary"
    [checked]="isHiddenLabel"
    (change)="isHiddenLabel=$event.checked">
    is hiddenLabel
  </mat-slide-toggle>
</section>

<form [formGroup]="formGroup02"
  novalidate
  autocomplete="off">

  <div class="app-elem">
    <div>
      <small>
        <em>"Short" height: 38px; font-size: 16px;</em>
      </small>
    </div>
    <grn-input formControlName="input02a"
      label="Enter value"
      [hiddenLabel]="isHiddenLabel ? '':null"
      frameSize="short"
      [exterior]="exterior02">
    </grn-input>
  </div>

  <div class="app-elem">
    <div>
      <small>
        <em>"Small" height: 44px; font-size: 16px;</em>
      </small>
    </div>
    <grn-input formControlName="input02b"
      label="Enter value"
      [hiddenLabel]="isHiddenLabel ? '':null"
      frameSize="small"
      [exterior]="exterior02">
    </grn-input>
  </div>

  <div class="app-elem">
    <div>
      <small>
        <em>"Middle" height: 50px; font-size: 16px;</em>
      </small>
    </div>
    <grn-input formControlName="input02c"
      label="Enter value"
      [hiddenLabel]="isHiddenLabel ? '':null"
      frameSize="middle"
      [exterior]="exterior02">
    </grn-input>
  </div>

  <div class="app-elem">
    <div>
      <small>
        <em>"Wide" height: 56px; font-size: 16px;</em>
      </small>
    </div>
    <grn-input formControlName="input02d"
      label="Enter value"
      [hiddenLabel]="isHiddenLabel ? '':null"
      frameSize="wide"
      [exterior]="exterior02">
    </grn-input>
  </div>

  <div class="app-elem">
    <div>
      <small>
        <em>"Large" height: 62px; font-size: 18px;</em>
      </small>
    </div>
    <grn-input formControlName="input02e"
      class="fifs-large"
      label="Enter value"
      [hiddenLabel]="isHiddenLabel ? '':null"
      frameSize="large"
      [exterior]="exterior02">
    </grn-input>
  </div>

  <div class="app-elem">
    <div>
      <small>
        <em>"Huge" height: 68px; font-size: 20px;</em>
      </small>
    </div>
    <grn-input formControlName="input02f"
      class="fifs-huge"
      label="Enter value"
      [hiddenLabel]="isHiddenLabel ? '':null"
      frameSize="huge"
      [exterior]="exterior02">
    </grn-input>
  </div>

  <div class="app-elem">
    <div>
      <small>
        <em>"Config" height: 57px; font-size: 16px;</em>
      </small>
    </div>
    <grn-input formControlName="input02g"
      label="Enter value"
      [hiddenLabel]="isHiddenLabel ? '':null"
      [config]="config02g"
      [exterior]="exterior02">
    </grn-input>
  </div>

  <div class="app-elem">
    <div>
      <small>
        <em>"Config" height: 57px; font-size: 18px;</em>
      </small>
    </div>
    <grn-input formControlName="input02h"
      class="fifs-large"
      label="Enter value"
      [hiddenLabel]="isHiddenLabel ? '':null"
      [config]="config02g"
      [exterior]="exterior02">
    </grn-input>
  </div>

  <div class="app-elem">
    <div>
      <small>
        <em>"Config" height: 57px; font-size: 20px;</em>
      </small>
    </div>
    <grn-input formControlName="input02i"
      class="fifs-huge"
      label="Enter value"
      [hiddenLabel]="isHiddenLabel ? '':null"
      [config]="config02g"
      [exterior]="exterior02">
    </grn-input>
  </div>

</form>

<section mr-vr>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="labelHtml">
          <code><pre source="html">
&lt;form [formGroup]="formGroup02"
  novalidate
  autocomplete="off"&gt;

  &lt;div class="app-elem"&gt;
    &lt;div&gt;
      &lt;small&gt;
        &lt;em&gt;"Short" height: 38px; font-size: 16px;&lt;/em&gt;
      &lt;/small&gt;
    &lt;/div&gt;
    &lt;grn-input formControlName="input02a"
      label="Enter value"
      [hiddenLabel]="isHiddenLabel ? '':null"
      frameSize="short"
      [exterior]="exterior02"&gt;
    &lt;/grn-input&gt;
  &lt;/div&gt;

  &lt;div class="app-elem"&gt;
    &lt;div&gt;
      &lt;small&gt;
        &lt;em&gt;"Small" height: 44px; font-size: 16px;&lt;/em&gt;
      &lt;/small&gt;
    &lt;/div&gt;
    &lt;grn-input formControlName="input02b"
      label="Enter value"
      [hiddenLabel]="isHiddenLabel ? '':null"
      frameSize="small"
      [exterior]="exterior02"&gt;
    &lt;/grn-input&gt;
  &lt;/div&gt;

  &lt;div class="app-elem"&gt;
    &lt;div&gt;
      &lt;small&gt;
        &lt;em&gt;"Middle" height: 50px; font-size: 16px;&lt;/em&gt;
      &lt;/small&gt;
    &lt;/div&gt;
    &lt;grn-input formControlName="input02c"
      label="Enter value"
      [hiddenLabel]="isHiddenLabel ? '':null"
      frameSize="middle"
      [exterior]="exterior02"&gt;
    &lt;/grn-input&gt;
  &lt;/div&gt;

  &lt;div class="app-elem"&gt;
    &lt;div&gt;
      &lt;small&gt;
        &lt;em&gt;"Wide" height: 56px; font-size: 16px;&lt;/em&gt;
      &lt;/small&gt;
    &lt;/div&gt;
    &lt;grn-input formControlName="input02d"
      label="Enter value"
      [hiddenLabel]="isHiddenLabel ? '':null"
      frameSize="wide"
      [exterior]="exterior02"&gt;
    &lt;/grn-input&gt;
  &lt;/div&gt;

  &lt;div class="app-elem"&gt;
    &lt;div&gt;
      &lt;small&gt;
        &lt;em&gt;"Large" height: 62px; font-size: 18px;&lt;/em&gt;
      &lt;/small&gt;
    &lt;/div&gt;
    &lt;grn-input formControlName="input02e"
      class="fifs-large"
      label="Enter value"
      [hiddenLabel]="isHiddenLabel ? '':null"
      frameSize="large"
      [exterior]="exterior02"&gt;
    &lt;/grn-input&gt;
  &lt;/div&gt;

  &lt;div class="app-elem"&gt;
    &lt;div&gt;
      &lt;small&gt;
        &lt;em&gt;"Huge" height: 68px; font-size: 20px;&lt;/em&gt;
      &lt;/small&gt;
    &lt;/div&gt;
    &lt;grn-input formControlName="input02f"
      class="fifs-huge"
      label="Enter value"
      [hiddenLabel]="isHiddenLabel ? '':null"
      frameSize="huge"
      [exterior]="exterior02"&gt;
    &lt;/grn-input&gt;
  &lt;/div&gt;


  &lt;div class="app-elem"&gt;
    &lt;div&gt;
      &lt;small&gt;
        &lt;em&gt;"Config" height: 57px; font-size: 16px;&lt;/em&gt;
      &lt;/small&gt;
    &lt;/div&gt;
    &lt;grn-input formControlName="input02g"
      label="Enter value"
      [hiddenLabel]="isHiddenLabel ? '':null"
      [config]="config02g"
      [exterior]="exterior02"&gt;
    &lt;/grn-input&gt;
  &lt;/div&gt;

  &lt;div class="app-elem"&gt;
    &lt;div&gt;
      &lt;small&gt;
        &lt;em&gt;"Config" height: 57px; font-size: 18px;&lt;/em&gt;
      &lt;/small&gt;
    &lt;/div&gt;
    &lt;grn-input formControlName="input02h"
      class="fifs-large"
      label="Enter value"
      [hiddenLabel]="isHiddenLabel ? '':null"
      [config]="config02g"
      [exterior]="exterior02"&gt;
    &lt;/grn-input&gt;
  &lt;/div&gt;

  &lt;div class="app-elem"&gt;
    &lt;div&gt;
      &lt;small&gt;
        &lt;em&gt;"Config" height: 57px; font-size: 20px;&lt;/em&gt;
      &lt;/small&gt;
    &lt;/div&gt;
    &lt;grn-input formControlName="input02i"
      class="fifs-huge"
      label="Enter value"
      [hiddenLabel]="isHiddenLabel ? '':null"
      [config]="config02g"
      [exterior]="exterior02"&gt;
    &lt;/grn-input&gt;
  &lt;/div&gt;

&lt;/form&gt;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelTs">
          <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';
import &#123;
  FormControl, FormGroup
&#125; from '@angular/forms';

@Component(&#123;
  selector: 'app-frame-input',
  templateUrl: './frame-input.component.html',
  styleUrls: ['./frame-input.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class FrameInputComponent &#123;
  public formGroup02: FormGroup = new FormGroup(&#123;
    input02a: new FormControl('Demo Size Short', []),
    input02b: new FormControl('Demo Size Small', []),
    input02c: new FormControl('Demo Size Middle', []),
    input02d: new FormControl('Demo Size Wide', []),
    input02e: new FormControl('Demo Size Large', []),
    input02f: new FormControl('Demo Size Huge', []),
    input02g: new FormControl('Demo Size Config', []),
    input02h: new FormControl('Demo Size Config', []),
    input02i: new FormControl('Demo Size Config', []),
  &#125;);
  public exterior02 = 'outlined';
  public isHiddenLabel = false;
  // GrnFrameInputConfig
  public config02g = &#123;
    frameSizeValue: 53,
  &#125;;
&#125;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelCss">
          <code><pre source="css">
.app-group &#123;
  display: flex;
  flex-wrap: wrap;
&#125;
.app-elem &#123;
  min-width: 26ch;
  margin: 10px 10px;
&#125;
.fifs-large &#123;
  font-size: 18px;
&#125;
.fifs-huge &#123;
  font-size: 20px;
&#125;</pre></code>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
</section>