/*# sourceURL=frame-input-frame-size.component.scss */

app-frame-input-frame-size {
  display: block;

  .fifs-indent {
    margin-top: 15px;
  }
  .fifs-large {
    font-size: 18px;
  }
  .fifs-huge {
    font-size: 20px;
  }
}
