<section mr-vr>
  <h3>Validation</h3>
  <p>
    The "isError" parameter sets the field to the error display state.
    The "helperText" parameter can be used to display an error message.
  </p>
  <p>In case the field is in error:</p>
  <ul>
    <li>displays a red box for "outlined";</li>
    <li>red underline is displayed for "underline" or "standard";</li>
    <li>the content of "label" is displayed in red;</li>
    <li>the content of "helperText" is displayed in red;</li>
    <li>the specified elements are displayed in red even if the field is disabled (isDisabled);</li>
  </ul>
  <p>
    An error condition also occurs when the constraints set by the reactive form and attributes are
    violated.
  </p>
</section>

<section mr-vr>
  <span>exterior: </span>
  <mat-button-toggle-group value="exterior03a"
    (change)="exterior03a=$event.value">
    <mat-button-toggle [checked]="exterior03a==='outlined'"
      value="outlined">{{ labelOutlined }}</mat-button-toggle>
    <mat-button-toggle [checked]="exterior03a==='underline'"
      value="underline">{{ labelUnderline }}</mat-button-toggle>
    <mat-button-toggle [checked]="exterior03a==='standard'"
      value="standard">{{ labelStandard }}</mat-button-toggle>
  </mat-button-toggle-group>
</section>

<form [formGroup]="formGroup03a"
  novalidate
  autocomplete="off">

  <div class="app-group">

    <div class="app-elem">
      <div>
        <small>
          <em>Attribute: isError.</em>
        </small>
      </div>
      <gln-select formControlName="model03a"
        [label]="!controls03.model03a.value
          ? 'Requires a value':'Parameter value'"
        [isError]="!controls03.model03a.value ? '':null"
        [helperText]="controls03.model03a.value
          ? 'The field is filled.'
          : 'The field is not filled.'"
        [exterior]="exterior03a"
        wdFull>
        <gln-option><em>None</em></gln-option>
        <gln-option *ngFor="let item of fruits"
          [value]="item">{{ capitalizeFirstLetter(item) }}
        </gln-option>
      </gln-select>
    </div>

    <div class="app-elem">
      <div>
        <small>
          <em>Attribute: isRequired, minLength={{minLength03b}}.</em>
        </small>
      </div>
      <gln-select formControlName="model03b"
        [label]="controls03.model03b.value?.length >= minLength03b
          ? 'Value' : 'Error'"
        isMultiple
        isRequired
        [minLength]="minLength03b"
        [helperText]="!controls03.model03b.value
          ?'Required field.'
          :(controls03.model03b.errors?.minlength
            ?'Minimum length '
            + controls03.model03b.errors?.minlength.requiredLength
            + ' characters.'
            :'Enter value.')"
        [exterior]="exterior03a"
        wdFull>
        <gln-option *ngFor="let item of fruits"
          [value]="item">{{ capitalizeFirstLetter(item) }}
        </gln-option>
      </gln-select>
    </div>

    <div class="app-elem">
      <div>
        <small>
          <em>Attribute: isError + isDisabled.</em>
        </small>
      </div>
      <gln-select formControlName="model03c"
        label="Error-Disabled"
        isError
        isDisabled
        helperText="The parameter is disabled."
        [exterior]="exterior03a"
        wdFull>
        <gln-option *ngFor="let item of fruits"
          [value]="item">{{ capitalizeFirstLetter(item) }}
        </gln-option>
      </gln-select>
    </div>

  </div>

</form>

<section mr-vr>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="labelHtml">
          <code><pre source="html">
&lt;form [formGroup]="formGroup03a"
  novalidate
  autocomplete="off"&gt;

  &lt;div class="app-group"&gt;

    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;Attribute: isError.&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;gln-select formControlName="model03a"
        [label]="!controls03.model03a.value
          ? 'Requires a value':'Parameter value'"
        [isError]="!controls03.model03a.value ? '':null"
        [helperText]="controls03.model03a.value
          ? 'The field is filled.'
          : 'The field is not filled.'"
        [exterior]="exterior03a"
        wdFull&gt;
        &lt;gln-option&gt;&lt;em&gt;None&lt;/em&gt;&lt;/gln-option&gt;
        &lt;gln-option *ngFor="let item of fruits"
          [value]="item"&gt;<b>&#123;</b>&#123; capitalizeFirstLetter(item) &#125;&#125;
        &lt;/gln-option&gt;
      &lt;/gln-select&gt;
    &lt;/div&gt;

    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;Attribute: isRequired, minLength=<b>&#123;</b>&#123;minLength03b&#125;&#125;.&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;gln-select formControlName="model03b"
        [label]="controls03.model03b.value?.length &gt;= minLength03b
          ? 'Value' : 'Error'"
        isMultiple
        isRequired
        [minLength]="minLength03b"
        [helperText]="!controls03.model03b.value
          ?'Required field.'
          :(controls03.model03b.errors?.minlength
            ?'Minimum length '
            + controls03.model03b.errors?.minlength.requiredLength
            + ' characters.'
            :'Enter value.')"
        [exterior]="exterior03a"
        wdFull&gt;
        &lt;gln-option *ngFor="let item of fruits"
          [value]="item"&gt;<b>&#123;</b>&#123; capitalizeFirstLetter(item) &#125;&#125;
        &lt;/gln-option&gt;
      &lt;/gln-select&gt;
    &lt;/div&gt;

    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;Attribute: isError + isDisabled.&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;gln-select formControlName="model03c"
        label="Error-Disabled"
        isError
        isDisabled
        helperText="The parameter is disabled."
        [exterior]="exterior03a"
        wdFull&gt;
        &lt;gln-option *ngFor="let item of fruits"
          [value]="item"&gt;<b>&#123;</b>&#123; capitalizeFirstLetter(item) &#125;&#125;
        &lt;/gln-option&gt;
      &lt;/gln-select&gt;
    &lt;/div&gt;

  &lt;/div&gt;

&lt;/form&gt;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelTs">
          <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';
import &#123;
  FormControl, FormGroup
&#125; from '@angular/forms';

@Component(&#123;
  selector: 'app-select',
  templateUrl: './select.component.html',
  styleUrls: ['./select.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class SelectComponent &#123;
  public fruits = ['mango', 'lemon', 'orange', 'kiwi'];

  public minLength03b = 2;
  public controls03 = &#123;
    model03a: new FormControl(null, []),
    model03b: new FormControl([], []),
    model03c: new FormControl(this.fruits[0], []),
  &#125;;
  public formGroup03a: FormGroup = new FormGroup(this.controls03);
  public exterior03a = 'outlined';
&#125;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelCss">
          <code><pre source="css">
.app-group &#123;
  display: flex;
  flex-wrap: wrap;
&#125;
.app-elem &#123;
  min-width: 26ch;
  margin: 10px 10px;
&#125;</pre></code>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
</section>