<div class="in-section">
  <h3>Border radius.</h3>
  <p>
    You can change the value of the rounding radius in outlined appearance mode.
    To do this, you need to specify a new value for the rounding radius in the
    "&#8209;&#8209;gfi&#8209;outlined-border-radius" css-variable for the "grn&#8209;frame-input"
    css-style.
    For example:
  </p>
  <pre>
  .ibr-outlined-radius grn-frame-input &#123;
    --gfi-outlined-border-radius: calc(var(--gfi-base-size)*0.5);
  &#125;</pre>
  <p>
    This value for the fillet radius corresponds to 50% of the height of the current element.
    The minimum value for the fillet radius is 0.
    The maximum value for the fillet radius is 50% of the height of the current element.
    The value of the css-variable "<a href="/components/input#ItemSize">
      &#8209;&#8209;gfi&#8209;base-size
    </a>" determines the height
    of the current element.
  </p>
  <p>
    In this case, you also need to change the value of the left indent for correct display.
    The value of the left indentation is determined by the special css-variable
    "&#8209;&#8209;gfi-outlined-frm-pd-lf-rg" in the css-style "grn-frame-input".
    For example:
  </p>
  <pre>
  .ibr-outlined-radius grn-frame-input &#123;
    --gfi-outlined-border-radius: calc(var(--gfi-base-size)*0.5);
    --gfi-outlined-frm-pd-lf-rg: calc(var(--gfi-base-size)*0.57);
  &#125;</pre>
  <p>
    In our example, the value of the coefficient for changing the fillet radius will change
    dynamically.
    For this, an additional css-variable "&#8209;&#8209;ibr-border-radius" is used.
    As a result, we get the following:
  </p>
  <pre>
  .ibr-outlined-radius grn-frame-input &#123;
    --gfi-outlined-border-radius:
      calc(var(--gfi-base-size)*var(--ibr-border-radius)/100);
    --gfi-outlined-frm-pd-lf-rg: calc(0.57*var(--gfi-base-size));
  &#125;</pre>
  <p>
    This is what the original values look like:
  </p>
  <pre>
  grn-frame-input &#123;
    --gfi-outlined-border-radius: calc(var(--gfi-base-size)/10);
    --gfi-outlined-frm-pd-lf-rg: calc(0.25*var(--gfi-base-size));
  &#125;</pre>
  <p>
    Similarly, you can change the fillet radius for the underline appearance mode.
  </p>
  <p>
    To do this, you need to specify a new value for the rounding radius in the
    css-variable "&#8209;&#8209;gfi-underline-border-radius" for the css-style
    "grn&#8209;frame-input".
    And you also need to change the value of the left indentation value of the
    css-variable "&#8209;&#8209;gfi-underline-frm-pd-lf-rg" for the css-style
    "grn&#8209;frame-input".
  </p>
  <p>
    We get the following:
  </p>
  <pre>
    .ibr-underline-radius grn-frame-input &#123;
      --gfi-underline-border-radius:
        calc(var(--gfi-base-size)*var(--ibr-border-radius)/100);
      --gfi-underline-frm-pd-lf-rg: calc(0.4*var(--gfi-base-size));
    &#125;
  </pre>
  <p>
    This is what the original values look like:
  </p>
  <pre>
    grn-frame-input &#123;
    --gfi-underline-border-radius: calc(var(--gfi-base-size)/10);
    --gfi-underline-frm-pd-lf-rg: calc(0.214285714*var(--gfi-base-size));
    &#125;
  </pre>
</div>

<div class="in-section">
  <span>exterior: </span>
  <mat-button-toggle-group [(ngModel)]="exterior09"
    aria-label="Font Style">
    <mat-button-toggle value="outlined">{{ labelOutlined }}</mat-button-toggle>
    <mat-button-toggle value="underline">{{ labelUnderline }}</mat-button-toggle>
  </mat-button-toggle-group>
</div>

<div class="in-section ibr-slider-box">
  <span>border-radius = ( BaseSize * <b class="ibr-slider-value">{{ borderRadius }}</b>/100 )</span>
  <mat-slider class="ibr-slider"
    min="0"
    max="50"
    step="5"
    [value]="borderRadius"
    (input)="inputBorderRadius($event)"></mat-slider>
</div>

<form class="in-section ibr-outlined-radius ibr-underline-radius"
  [formGroup]="formGroup09"
  novalidate
  autocomplete="off">

  <div class="in-item ibr-row ibr-text">
    <span>Item height: 38px; font-size: 16px;</span>
  </div>

  <div>
    <grn-input class="in-item"
      formControlName="input09a"
      label="Size Short"
      frameSize="short"
      [exterOutlined]="exterior09==='outlined' ? '':null"
      [exterUnderline]="exterior09==='underline' ? '':null">
    </grn-input>

    <grn-input class="in-item"
      formControlName="input09a"
      hiddenLabel
      frameSize="short"
      [exterOutlined]="exterior09==='outlined' ? '':null"
      [exterUnderline]="exterior09==='underline' ? '':null">
    </grn-input>
  </div>


  <div class="in-item ibr-row ibr-text">
    <span>Item height: 44px; font-size: 16px;</span>
  </div>

  <div>
    <grn-input class="in-item"
      formControlName="input09b"
      label="Size Small"
      frameSize="small"
      [exterOutlined]="exterior09==='outlined' ? '':null"
      [exterUnderline]="exterior09==='underline' ? '':null">
    </grn-input>

    <grn-input class="in-item"
      formControlName="input09b"
      hiddenLabel
      frameSize="small"
      [exterOutlined]="exterior09==='outlined' ? '':null"
      [exterUnderline]="exterior09==='underline' ? '':null">
    </grn-input>
  </div>


  <div class="in-item ibr-row ibr-text">
    <span>Item height: 50px; font-size: 16px;</span>
  </div>

  <div>
    <grn-input class="in-item"
      formControlName="input09c"
      label="Size Middle"
      frameSize="middle"
      [exterOutlined]="exterior09==='outlined' ? '':null"
      [exterUnderline]="exterior09==='underline' ? '':null">
    </grn-input>

    <grn-input class="in-item"
      formControlName="input09c"
      hiddenLabel
      frameSize="middle"
      [exterOutlined]="exterior09==='outlined' ? '':null"
      [exterUnderline]="exterior09==='underline' ? '':null">
    </grn-input>
  </div>


  <div class="in-item ibr-row ibr-text">
    <span>Item height: 56px; font-size: 16px;</span>
  </div>

  <div>
    <grn-input class="in-item"
      formControlName="input09d"
      label="Size Wide"
      frameSize="wide"
      [exterOutlined]="exterior09==='outlined' ? '':null"
      [exterUnderline]="exterior09==='underline' ? '':null">
    </grn-input>

    <grn-input class="in-item"
      formControlName="input09d"
      hiddenLabel
      frameSize="wide"
      [exterOutlined]="exterior09==='outlined' ? '':null"
      [exterUnderline]="exterior09==='underline' ? '':null">
    </grn-input>
  </div>


  <div class="in-item ibr-row ibr-text">
    <span>Item height: 62px; font-size: 18px;</span>
  </div>

  <div>
    <grn-input class="in-item ibr-fn-sz-large"
      formControlName="input09e"
      label="Size Large"
      frameSize="large"
      [exterOutlined]="exterior09==='outlined' ? '':null"
      [exterUnderline]="exterior09==='underline' ? '':null">
    </grn-input>

    <grn-input class="in-item ibr-fn-sz-large"
      formControlName="input09e"
      hiddenLabel
      frameSize="large"
      [exterOutlined]="exterior09==='outlined' ? '':null"
      [exterUnderline]="exterior09==='underline' ? '':null">
    </grn-input>
  </div>


  <div class="in-item ibr-row ibr-text">
    <span>Item height: 68px; font-size: 20px;</span>
  </div>

  <div>
    <grn-input class="in-item ibr-fn-sz-huge"
      formControlName="input09f"
      label="Size Huge"
      frameSize="huge"
      [exterOutlined]="exterior09==='outlined' ? '':null"
      [exterUnderline]="exterior09==='underline' ? '':null">
    </grn-input>

    <grn-input class="in-item ibr-fn-sz-huge"
      formControlName="input09f"
      hiddenLabel
      frameSize="huge"
      [exterOutlined]="exterior09==='outlined' ? '':null"
      [exterUnderline]="exterior09==='underline' ? '':null">
    </grn-input>
  </div>

</form>

<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
    </mat-expansion-panel-header>
    <mat-tab-group animationDuration="0ms">
      <mat-tab [label]="labelHtml">
        <pre class="fw-nr">
&lt;form class="ibr-outlined-radius ibr-underline-radius"
  [formGroup]="formGroup09"
  novalidate
  autocomplete="off"&gt;

  &lt;div class="in-item ibr-row ibr-text"&gt;
    &lt;span&gt;Item height: 38px; font-size: 16px;&lt;/span&gt;
  &lt;/div&gt;

  &lt;div&gt;
    &lt;grn-input class="in-item"
      formControlName="input09a"
      label="Size Short"
      frameSize="short"
      [exterOutlined]="exterior09==='outlined' ? '':null"
      [exterUnderline]="exterior09==='underline' ? '':null"&gt;
    &lt;/grn-input&gt;

    &lt;grn-input class="in-item"
      formControlName="input09a"
      hiddenLabel
      frameSize="short"
      [exterOutlined]="exterior09==='outlined' ? '':null"
      [exterUnderline]="exterior09==='underline' ? '':null"&gt;
    &lt;/grn-input&gt;
  &lt;/div&gt;


  &lt;div class="in-item ibr-row ibr-text"&gt;
    &lt;span&gt;Item height: 44px; font-size: 16px;&lt;/span&gt;
  &lt;/div&gt;

  &lt;div&gt;
    &lt;grn-input class="in-item"
      formControlName="input09b"
      label="Size Small"
      frameSize="small"
      [exterOutlined]="exterior09==='outlined' ? '':null"
      [exterUnderline]="exterior09==='underline' ? '':null"&gt;
    &lt;/grn-input&gt;

    &lt;grn-input class="in-item"
      formControlName="input09b"
      hiddenLabel
      frameSize="small"
      [exterOutlined]="exterior09==='outlined' ? '':null"
      [exterUnderline]="exterior09==='underline' ? '':null"&gt;
    &lt;/grn-input&gt;
  &lt;/div&gt;


  &lt;div class="in-item ibr-row ibr-text"&gt;
    &lt;span&gt;Item height: 50px; font-size: 16px;&lt;/span&gt;
  &lt;/div&gt;

  &lt;div&gt;
    &lt;grn-input class="in-item"
      formControlName="input09c"
      label="Size Middle"
      frameSize="middle"
      [exterOutlined]="exterior09==='outlined' ? '':null"
      [exterUnderline]="exterior09==='underline' ? '':null"&gt;
    &lt;/grn-input&gt;

    &lt;grn-input class="in-item"
      formControlName="input09c"
      hiddenLabel
      frameSize="middle"
      [exterOutlined]="exterior09==='outlined' ? '':null"
      [exterUnderline]="exterior09==='underline' ? '':null"&gt;
    &lt;/grn-input&gt;
  &lt;/div&gt;


  &lt;div class="in-item ibr-row ibr-text"&gt;
    &lt;span&gt;Item height: 56px; font-size: 16px;&lt;/span&gt;
  &lt;/div&gt;

  &lt;div&gt;
    &lt;grn-input class="in-item"
      formControlName="input09d"
      label="Size Wide"
      frameSize="wide"
      [exterOutlined]="exterior09==='outlined' ? '':null"
      [exterUnderline]="exterior09==='underline' ? '':null"&gt;
    &lt;/grn-input&gt;

    &lt;grn-input class="in-item"
      formControlName="input09d"
      hiddenLabel
      frameSize="wide"
      [exterOutlined]="exterior09==='outlined' ? '':null"
      [exterUnderline]="exterior09==='underline' ? '':null"&gt;
    &lt;/grn-input&gt;
  &lt;/div&gt;


  &lt;div class="in-item ibr-row ibr-text"&gt;
    &lt;span&gt;Item height: 62px; font-size: 18px;&lt;/span&gt;
  &lt;/div&gt;

  &lt;div&gt;
    &lt;grn-input class="in-item ibr-fn-sz-large"
      formControlName="input09e"
      label="Size Large"
      frameSize="large"
      [exterOutlined]="exterior09==='outlined' ? '':null"
      [exterUnderline]="exterior09==='underline' ? '':null"&gt;
    &lt;/grn-input&gt;

    &lt;grn-input class="in-item ibr-fn-sz-large"
      formControlName="input09e"
      hiddenLabel
      frameSize="large"
      [exterOutlined]="exterior09==='outlined' ? '':null"
      [exterUnderline]="exterior09==='underline' ? '':null"&gt;
    &lt;/grn-input&gt;
  &lt;/div&gt;


  &lt;div class="in-item ibr-row ibr-text"&gt;
    &lt;span&gt;Item height: 68px; font-size: 20px;&lt;/span&gt;
  &lt;/div&gt;

  &lt;div&gt;
    &lt;grn-input class="in-item ibr-fn-sz-huge"
      formControlName="input09f"
      label="Size Huge"
      frameSize="huge"
      [exterOutlined]="exterior09==='outlined' ? '':null"
      [exterUnderline]="exterior09==='underline' ? '':null"&gt;
    &lt;/grn-input&gt;

    &lt;grn-input class="in-item ibr-fn-sz-huge"
      formControlName="input09f"
      hiddenLabel
      frameSize="huge"
      [exterOutlined]="exterior09==='outlined' ? '':null"
      [exterUnderline]="exterior09==='underline' ? '':null"&gt;
    &lt;/grn-input&gt;
  &lt;/div&gt;

&lt;/form&gt;</pre>
      </mat-tab>
      <mat-tab [label]="labelTs">
        <pre>
import &#123; Component, ViewEncapsulation &#125; from '@angular/core';
import &#123; FormControl, FormGroup &#125; from '@angular/forms';

@Component(&#123;
  selector: 'app-input',
  templateUrl: './input.component.html',
  styleUrls: ['./input.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class InputComponent &#123;
  public formGroup09: FormGroup = new FormGroup(&#123;
    input09a: new FormControl('Demo Size Short', []),
    input09b: new FormControl('Demo Size Small', []),
    input09c: new FormControl('Demo Size Middle', []),
    input09d: new FormControl('Demo Size Wide', []),
    input09e: new FormControl('Demo Size Large', []),
    input09f: new FormControl('Demo Size Huge', []),
  &#125;);
  public borderRadius = 50;
  public exterior09 = 'outlined';

  @HostBinding('style')
  public get getClass(): string | null &#123;
    return '--ibr-border-radius: ' + this.borderRadius + ';';
  &#125;

&#125;</pre>
      </mat-tab>
      <mat-tab [label]="labelCss">
        <pre>
.ibr-row &#123;
  display: inline-flex;
  padding-top: 10px;
&#125;
.ibr-text &#123;
  color: #00000096;
  font-size: 0.84em;
  font-style: italic;
&#125;
.ibr-fn-sz-large &#123;
  font-size: 18px;
&#125;
.ibr-fn-sz-huge &#123;
  font-size: 20px;
&#125;
--ibr-border-radius: 20;
.ibr-outlined-radius grn-frame-input &#123;
  --gfi-outlined-border-radius:
    calc(var(--gfi-base-size)*var(--ibr-border-radius)/100);
  --gfi-outlined-frm-pd-lf-rg: calc(0.57*var(--gfi-base-size));
&#125;
.ibr-underline-radius grn-frame-input &#123;
  --gfi-underline-border-radius:
    calc(var(--gfi-base-size)*var(--ibr-border-radius)/100);
  --gfi-underline-frm-pd-lf-rg: calc(0.4*var(--gfi-base-size));
&#125;</pre>
      </mat-tab>
    </mat-tab-group>
  </mat-expansion-panel>
</mat-accordion>