<section mr-vr>
  <h3 class="app-hover-link">
    Optional.
    <a [href]="urlCmInfiniteScroll + '#Optional'">#</a>
  </h3>
  <p>
    Above, there was an example where the "gln-infinite-scroll" component itself has the
    css-property: overflow-y:
    scroll (or overflow: auto).
    Now let's consider the option when the parent element has this css-property, and not the
    "gln-infinite-scroll"
    component itself.
  </p>
  <p>
    Add an additional container "iso-item-wrap" with the required css-property overflow-y: scroll
    (or overflow: auto).
    And inside this container we will place the "gln-infinite-scroll" component.
  </p>
</section>

<div class="iso-block">
  <div class="iso-item-wrap">

    <gln-infinite-scroll (scrolled)="doScroll()">

      <div class="iso-items"
        *ngFor="let item of elements2; let idx=index;
        let count=count; trackBy: trackByElement">
        <div class="iso-row">
          <span class="iso-label">serial number</span>
          <span class="iso-value">{{ idx+1 }}/{{ count }} </span>
        </div>
        <div class="iso-row">
          <span class="iso-label">participant</span>
          <span class="iso-value">{{ item.name }} {{ item.surname }}</span>
        </div>
        <div class="iso-row">
          <span class="iso-label">email</span>
          <span class="iso-value">{{ item.email }}</span>
        </div>
        <div class="iso-row">
          <span class="iso-label">phone</span>
          <span class="iso-value">{{ item.phone }}</span>
        </div>
      </div>

    </gln-infinite-scroll>

  </div>
  <div *ngIf="isLoading"
    class="iso-loading">
    Loading...
  </div>
</div>

<section mr-vr>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="labelHtml">
          <pre source="html">
&lt;div class="iso-block"&gt;
  &lt;div class="iso-item-wrap"&gt;

    &lt;gln-infinite-scroll (scrolled)="doScroll()"&gt;

      &lt;div class="iso-items"
        *ngFor="let item of elements2; let idx=index;
        let count=count; trackBy: trackByElement"&gt;
        &lt;div class="iso-row"&gt;
          &lt;span class="iso-label"&gt;serial number&lt;/span&gt;
          &lt;span class="iso-value"&gt;<b>&#123;</b>&#123; idx+1 &#125;&#125;/<b>&#123;</b>&#123; count &#125;&#125; &lt;/span&gt;
        &lt;/div&gt;
        &lt;div class="iso-row"&gt;
          &lt;span class="iso-label"&gt;participant&lt;/span&gt;
          &lt;span class="iso-value"&gt;<b>&#123;</b>&#123; item.name &#125;&#125; <b>&#123;</b>&#123; item.surname &#125;&#125;&lt;/span&gt;
        &lt;/div&gt;
        &lt;div class="iso-row"&gt;
          &lt;span class="iso-label"&gt;email&lt;/span&gt;
          &lt;span class="iso-value"&gt;<b>&#123;</b>&#123; item.email &#125;&#125;&lt;/span&gt;
        &lt;/div&gt;
        &lt;div class="iso-row"&gt;
          &lt;span class="iso-label"&gt;phone&lt;/span&gt;
          &lt;span class="iso-value"&gt;<b>&#123;</b>&#123; item.phone &#125;&#125;&lt;/span&gt;
        &lt;/div&gt;
      &lt;/div&gt;

    &lt;/gln-infinite-scroll&gt;

  &lt;/div&gt;
  &lt;div *ngIf="isLoading" class="iso-loading"&gt;
    Loading...
  &lt;/div&gt;
&lt;/div&gt;</pre>
        </mat-tab>
        <mat-tab [label]="labelTs">
          <pre source="ts">
import &#123;
  ChangeDetectorRef, Component, ViewEncapsulation
&#125; from '@angular/core';

export interface Element &#123;
  name: string;
  surname: string;
  email: string;
  phone: string;
&#125;

const CN_CNT = 5;
const CN_NAME1 = ['James', 'Mary', 'Robert', 'Patricia', 'John', 
  'Jennifer', 'Michael', 'Linda', 'William', 'Elizabeth', 'David'];
const CN_NAME2 = ['Barbara', 'Richard', 'Susan', 'Joseph', 'Jessica', 
  'Thomas', 'Sarah', 'Charles', 'Karen', 'Christopher', 'Nancy'];
const CN_NAME3 = ['Daniel', 'Lisa', 'Matthew', 'Betty', 'Anthony',
  'Margaret', 'Mark', 'Sandra', 'Donald', 'Ashley'];
const CN_SURNAME1 = ['Smith', 'Johnson', 'Williams', 'Brown',
  'Jones', 'Garcia', 'Miller', 'Davis', 'Rodriguez', 'Martinez'];
const CN_SURNAME2 = ['Hernandez', 'Lopez', 'Gonzales', 'Wilson', 
  'Anderson', 'Thomas', 'Taylor', 'Moore', 'Jackson', 'Martin'];
const CN_SURNAME3 = ['Perez', 'Thompson', 'White', 'Harris',
  'Sanchez', 'Clark', 'Ramirez', 'Lewis', 'Robinson', 'Walker'];

@Component(&#123;
  selector: 'app-infinite-scroll',
  templateUrl: './infinite-scroll.component.html',
  styleUrls: ['./infinite-scroll.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class InfiniteScrollComponent &#123;
  public elements2: Element[] = [];
  public isLoading = false;

  private names: string[]
    = [...CN_NAME1, ...CN_NAME2, ...CN_NAME3];
  private surnames: string[]
    = [...CN_SURNAME1, ...CN_SURNAME2, ...CN_SURNAME3];

  constructor(private changeDetectorRef: ChangeDetectorRef) &#123;
    this.elements2 = this.createElementList(CN_CNT);
  &#125;

  // ** Public API **

  public trackByElement(index: number, item: Element): string &#123;
    return item?.name + item?.surname;
  &#125;

  public doScroll(): void &#123;
    this.isLoading = true;
    setTimeout(() => &#123;
      this.elements2.push(...this.createElementList(CN_CNT));
      this.isLoading = false;
      this.changeDetectorRef.markForCheck();
    &#125;, 1000);
  &#125;

  // ** Private API **

  private randomNumber(value: number): number &#123;
    return Math.floor(Math.random() * value + 1);
  &#125;

  private createPhone(): string &#123;
    const part1 = ('000' + this.randomNumber(1000)).slice(-3);
    const part2 = ('000' + this.randomNumber(1000)).slice(-3);
    const part3 = ('000' + this.randomNumber(100)).slice(-2);
    const part4 = ('000' + this.randomNumber(100)).slice(-2);
    return part1 + '-' + part2 + '-' + part3 + '-' + part4;
  &#125;

  private createElement(): Element &#123;
    const cntN = this.names.length;
    const name = this.names[Math.floor(Math.random() * cntN)];
    const cntS = this.surnames.length;
    const surname = this.surnames[Math.floor(Math.random() * cntS)];
    const email = name + '.' + surname + '@gmail.com';
    const phone = this.createPhone();
    return &#123; name, surname, email, phone &#125;;
  &#125;

  private createElementList(cnt: number): Element[] &#123;
    const result: Element[] = [];
    while (result.length &lt; cnt) &#123;
      result.push(this.createElement());
    &#125;
    return result;
  &#125;
&#125;</pre>
        </mat-tab>
        <mat-tab [label]="labelCss">
          <pre source="css">
app-infinite-scroll &#123;
  .iso-block &#123;
    position: relative;
  &#125;
  .iso-item-wrap &#123;
    outline: 1px solid blue;
    height: 400px;
    overflow-y: scroll;
  &#125;
  .iso-items &#123;
    outline: 1px dashed green;
    padding: 15px 0;
  &#125;
  .iso-row &#123;
    display: flex;
    padding: 3px 10px;
  &#125;
  .iso-label &#123;
    flex-basis: 120px;
  &#125;
  .iso-value &#123;
    flex-grow: 1;
  &#125;
  .iso-loading &#123;
    color: blue;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(253 255 255 / 70%);
    display: flex;
    justify-content: center;
    align-items: center;
  &#125;
&#125;</pre>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
</section>