/*# sourceURL=cm-infinite-scroll-optional.component.scss */

app-cm-infinite-scroll-optional {
  display: block;

  .iso-block {
    position: relative;
  }
  .iso-item-wrap {
    outline: 1px solid blue;
    height: 400px;
    overflow-y: scroll;
  }
  .iso-items {
    outline: 1px dashed green;
    padding: 15px 0;
  }
  .iso-row {
    display: flex;
    padding: 3px 10px;
  }
  .iso-label {
    flex-basis: 120px;
  }
  .iso-value {
    flex-grow: 1;
  }
  .iso-loading {
    color: blue;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(253 255 255 / 70%);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
