<h3>Component: "GlnFrame" part 2.</h3>

<div *ngIf="!showNum || showNum==='07'"
  id="Palette">
  <app-frame-palette></app-frame-palette>
  <app-frame-palette2></app-frame-palette2>
  <app-frame-palette3></app-frame-palette3>
  <hr br-tp>
</div>

<div *ngIf="!showNum || showNum==='08'"
  id="Feature">
  <app-frame-feature></app-frame-feature>
  <hr br-tp>
</div>

<div *ngIf="!showNum || showNum==='09'"
  id="Structure">
  <app-frame-structure></app-frame-structure>
  <hr br-tp>
</div>

<div *ngIf="!showNum || showNum==='10'"
  id="Config">
  <app-frame-config></app-frame-config>
  <hr br-tp>
</div>

<div *ngIf="!showNum || showNum==='11'"
  id="Api">
  <app-frame-api></app-frame-api>
  <hr br-tp>
</div>

<br />
<br />