<section mr-vr
  *ngIf="false">
  <h3>Attributes</h3>
  <p>The following attributes are supported:</p>
  <ul>
    <li>"id" - parameter for defining the unique identifier of the input field
      (id="unique_identifier");</li>
    <li>"isRequired" - a sign that the field is required (isRequired);</li>
    <li>"isDisabled" - a sign that the field is disabled (isDisabled);</li>
    <li>"type" - indicate the type of the input element (type="password");</li>
    <li>"autoComplete" - the value of the autocomplete parameter for the input field.
      <br />&nbsp;&nbsp;autoComplete="off" - The browser is not permitted to automatically enter or
      select a value for this field.
      <br />&nbsp;&nbsp;autoComplete="new-password" - A new password.
      <br />&nbsp;&nbsp;autoComplete="current-password" - The user's current password.
    </li>
    <li>"isReadOnly" - read-only access flag (isReadOnly);</li>
    <li>"lbShrink" - an attribute, the presence of which leads to permanent display of the label in
      the field header
      without transformation into a placeholder (lbShrink);
    </li>
    <li>"helperText" - the parameter is used to provide context about the input of the field or
      error message (helperText="Some important text").</li>
    <li>
      "wdFull" - an attribute sets the width to the width of the parent (width: 100%).
    </li>
  </ul>
  <p>
    The "type" attribute can take the following values:
  </p>
  <ul>
    <li>'color';</li>
    <li>'date';</li>
    <li>'datetime-local';</li>
    <li>'email';</li>
    <li>'month';</li>
    <li>'number';</li>
    <li>'password';</li>
    <li>'search';</li>
    <li>'tel';</li>
    <li>'text';</li>
    <li>'time';</li>
    <li>'url';</li>
    <li>'week';</li>
  </ul>
  <p>
    For a field with the "color" type, it is desirable to set a non-empty value (for example,
    "#000000"), otherwise, a warning may appear:<br />
    <i>
      platform-browser.js:745 The specified value "" does not conform to the required format.
      The format is "#rrggbb" where rr, gg, bb are two-digit hexadecimal numbers.
    </i><br />
    This warning appears when there are two input elements of type "color" and "date".
  </p>
</section>

<section mr-vr>
  <span>exterior: </span>
  <mat-button-toggle-group [(ngModel)]="exterior02">
    <mat-button-toggle value="outlined">{{ labelOutlined }}</mat-button-toggle>
    <mat-button-toggle value="underline">{{ labelUnderline }}</mat-button-toggle>
    <mat-button-toggle value="standard">{{ labelStandard }}</mat-button-toggle>
  </mat-button-toggle-group>
</section>

<section mr-vr>
  <span>Config: </span>
  <mat-button-toggle-group [(ngModel)]="config02">
    <mat-button-toggle value="null">null</mat-button-toggle>
    <mat-button-toggle value="config02a">exterior</mat-button-toggle>
    <mat-button-toggle value="config02b">frameSize</mat-button-toggle>
    <mat-button-toggle value="config02c">frameSizeValue</mat-button-toggle>
    <mat-button-toggle value="config02d">LabelShrink</mat-button-toggle>
    <mat-button-toggle value="config02e">hiddenLabel</mat-button-toggle>
    <mat-button-toggle value="config02f">labelPd</mat-button-toggle>
  </mat-button-toggle-group>
</section>

<section mr-vr>
  <label>
    <input type="checkbox"
      [(ngModel)]="isRequired" /> isRequired
  </label>
</section>

<form [formGroup]="formGroup02"
  novalidate
  autocomplete="off">

  <div class="app-group">
    <style>
      .io-pd-hor {
        padding: 0 10px;
      }
    </style>
    <div class="app-elem">
      <div>
        <small>
          <em>State: empty.</em>
        </small>
      </div>
      <grn-input2 formControlName="input02a"
        id="unique_identifier"
        (click)="doClick()"
        label="Enter value Demonstration DEMO1DEMO2"
        [exterior]="exterior02"
        [config]="getConfig(config02)"
        [isRequired]="isRequired ? '' : null"
        ornamLfAlign9="'flex-start'"
        [helperText]="isRequired ? 'Required field.' : null">
        <span grnOrnamentLf9
          class="io-pd-hor">k1</span>
        <span grnOrnamentRg9
          class="io-pd-hor">g2</span>
      </grn-input2>
    </div>
  </div>


  <div class="app-group">
    <!--
    <div class="app-elem">
      <div>
        <small>
          <em>State: empty.</em>
        </small>
      </div>
      <grn-input formControlName="input02a"
        id="unique_identifier"
        label="Enter value"
        [exterior]="exterior02">
      </grn-input>
    </div>
    
    <div class="app-elem">
      <div>
        <small>
          <em>Attributes: isRequired, helperText.</em>
        </small>
      </div>
      <grn-input formControlName="input02b"
        label="Required field"
        isRequired
        helperText="A value must be entered."
        [exterior]="exterior02">
      </grn-input>
    </div>

    <div class="app-elem">
      <div>
        <small>
          <em>Attribute: isReadOnly.</em>
        </small>
      </div>
      <grn-input formControlName="input02c"
        label="Read Only"
        isReadOnly
        helperText="The parameter is read only."
        [exterior]="exterior02">
      </grn-input>
    </div>

    <div class="app-elem">
      <div>
        <small>
          <em>Attribute: isDisabled.</em>
        </small>
      </div>
      <grn-input formControlName="input02d"
        label="Disabled"
        isDisabled
        helperText="The parameter is disabled."
        [exterior]="exterior02">
      </grn-input>
    </div>

    <div class="app-elem">
      <div>
        <small>
          <em>Attribute: lbShrink.</em>
        </small>
      </div>
      <grn-input formControlName="input02e"
        label="Permanent label"
        lbShrink
        helperText="The position of the label is fixed."
        [exterior]="exterior02">
      </grn-input>
    </div>

    <div class="app-elem">
      <div>
        <small>
          <em>Attribute: hiddenLabel.</em>
        </small>
      </div>
      <grn-input formControlName="input02f"
        label="hiddenLabel"
        hiddenLabel
        helperText="The label is not displayed."
        [exterior]="exterior02">
      </grn-input>
    </div>

    <div class="app-elem">
      <div>
        <small>
          <em>Attributes: type="password".</em>
        </small>
      </div>
      <grn-input formControlName="input02g"
        [label]="!formGroup02.controls.input02g.value
         ? 'Enter password':'Password'"
        type="password"
        autoComplete="current-password"
        helperText="Enter your password value."
        [exterior]="exterior02">
      </grn-input>
    </div>

    <div class="app-elem">
      <div>
        <small>
          <em>Attributes: type="number".</em>
        </small>
      </div>
      <grn-input formControlName="input02h"
        [label]="!formGroup02.controls.input02h.value
         ? 'Enter number':'Number'"
        type="number"
        helperText="Enter your number value."
        [exterior]="exterior02">
      </grn-input>
    </div>

    <div class="app-elem">
      <div>
        <small>
          <em>Attributes: type="search".</em>
        </small>
      </div>
      <grn-input formControlName="input02i"
        [label]="!formGroup02.controls.input02i.value
         ? 'Enter search value':'Search value'"
        type="search"
        helperText="Enter your search value."
        [exterior]="exterior02">
      </grn-input>
    </div>

    <div class="app-elem">
      <div>
        <small>
          <em>Attributes: type="month", lbShrink.</em>
        </small>
      </div>
      <grn-input formControlName="input02j"
        [label]="!formGroup02.controls.input02j.value
          ? 'Enter month':'Month'"
        lbShrink
        type="month"
        [helperText]="!formGroup02.controls.input02j.value
        ?'Enter your month value.'
        :'Month value is \''
        + (formGroup02.controls.input02j.value) + '\''"
        [exterior]="exterior02">
      </grn-input>
    </div>

    <div class="app-elem">
      <div>
        <small>
          <em>Attributes: type="week", lbShrink.</em>
        </small>
      </div>
      <grn-input formControlName="input02k"
        [label]="!formGroup02.controls.input02k.value
          ? 'Enter week':'Week'"
        lbShrink
        type="week"
        [helperText]="!formGroup02.controls.input02k.value
        ?'Enter your week value.'
        :'Week value is \''
        + (formGroup02.controls.input02k.value) + '\''"
        [exterior]="exterior02">
      </grn-input>
    </div>

    <div class="app-elem">
      <div>
        <small>
          <em>Attributes: type="color", lbShrink.</em>
        </small>
      </div>
      <grn-input formControlName="input02l"
        style="width: 100px;"
        [label]="!formGroup02.controls.input02l.value
          ? 'Enter color':'Color'"
        lbShrink
        type="color"
        [helperText]="!formGroup02.controls.input02l.value
        ?'Enter color.'
        :'\'' + (formGroup02.controls.input02l.value) + '\''"
        [exterior]="exterior02">
      </grn-input>
    </div>

    <div class="app-elem">
      <div>
        <small>
          <em>Attributes: type="date", lbShrink.</em>
        </small>
      </div>
      <grn-input formControlName="input02m"
        [label]="!formGroup02.controls.input02m.value
          ? 'Enter date':'Date'"
        lbShrink
        type="date"
        [helperText]="!formGroup02.controls.input02m.value
          ?'Enter your date value.'
          :'Date value is \''
          + (formGroup02.controls.input02m.value | date:'mediumDate')
          + '\''"
        [exterior]="exterior02">
      </grn-input>
    </div>

    <div class="app-elem">
      <div>
        <small>
          <em>Attributes: type="time", lbShrink.</em>
        </small>
      </div>
      <grn-input formControlName="input02n"
        [label]="!formGroup02.controls.input02n.value
          ? 'Enter time':'Time'"
        lbShrink
        type="time"
        [helperText]="!formGroup02.controls.input02n.value
          ?'Enter your time value.'
          :'Time value is \''
          + (formGroup02.controls.input02n.value) + '\''"
        [exterior]="exterior02">
      </grn-input>
    </div>
  -->
  </div>

</form>

<section mr-vr>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="labelHtml">
          <code><pre source="html">
&lt;form [formGroup]="formGroup02"
  novalidate
  autocomplete="off"&gt;

  &lt;div class="app-group"&gt;

    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;State: empty.&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;grn-input formControlName="input02a"
        id="unique_identifier"
        label="Enter value"
        [exterior]="exterior02"&gt;
      &lt;/grn-input&gt;
    &lt;/div&gt;

    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;Attributes: isRequired, helperText.&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;grn-input formControlName="input02b"
        label="Required field"
        isRequired
        helperText="A value must be entered."
        [exterior]="exterior02"&gt;
      &lt;/grn-input&gt;
    &lt;/div&gt;

    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;Attribute: isReadOnly.&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;grn-input formControlName="input02c"
        label="Read Only"
        isReadOnly
        helperText="The parameter is read only."
        [exterior]="exterior02"&gt;
      &lt;/grn-input&gt;
    &lt;/div&gt;

    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;Attribute: isDisabled.&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;grn-input formControlName="input02d"
        label="Disabled"
        isDisabled
        helperText="The parameter is disabled."
        [exterior]="exterior02"&gt;
      &lt;/grn-input&gt;
    &lt;/div&gt;

    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;Attribute: lbShrink.&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;grn-input formControlName="input02e"
        label="Permanent label"
        lbShrink
        helperText="The position of the label is fixed."
        [exterior]="exterior02"&gt;
      &lt;/grn-input&gt;
    &lt;/div&gt;

    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;Attribute: hiddenLabel.&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;grn-input formControlName="input02f"
        label="hiddenLabel"
        hiddenLabel
        helperText="The label is not displayed."
        [exterior]="exterior02"&gt;
      &lt;/grn-input&gt;
    &lt;/div&gt;

    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;Attributes: type="password".&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;grn-input formControlName="input02g"
        [label]="!formGroup02.controls.input02g.value
         ? 'Enter password':'Password'"
        type="password"
        autoComplete="current-password"
        helperText="Enter your password value."
        [exterior]="exterior02"&gt;
      &lt;/grn-input&gt;
    &lt;/div&gt;

    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;Attributes: type="number".&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;grn-input formControlName="input02h"
        [label]="!formGroup02.controls.input02h.value
         ? 'Enter number':'Number'"
        type="number"
        helperText="Enter your number value."
        [exterior]="exterior02"&gt;
      &lt;/grn-input&gt;
    &lt;/div&gt;

    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;Attributes: type="search".&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;grn-input formControlName="input02i"
        [label]="!formGroup02.controls.input02i.value
         ? 'Enter search value':'Search value'"
        type="search"
        helperText="Enter your search value."
        [exterior]="exterior02"&gt;
      &lt;/grn-input&gt;
    &lt;/div&gt;

    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;Attributes: type="month", lbShrink.&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;grn-input formControlName="input02j"
        [label]="!formGroup02.controls.input02j.value
          ? 'Enter month':'Month'"
        lbShrink
        type="month"
        [helperText]="!formGroup02.controls.input02j.value
        ?'Enter your month value.'
        :'Month value is \''
        + (formGroup02.controls.input02j.value) + '\''"
        [exterior]="exterior02"&gt;
      &lt;/grn-input&gt;
    &lt;/div&gt;

    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;Attributes: type="week", lbShrink.&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;grn-input formControlName="input02k"
        [label]="!formGroup02.controls.input02k.value
          ? 'Enter week':'Week'"
        lbShrink
        type="week"
        [helperText]="!formGroup02.controls.input02k.value
        ?'Enter your week value.'
        :'Week value is \''
        + (formGroup02.controls.input02k.value) + '\''"
        [exterior]="exterior02"&gt;
      &lt;/grn-input&gt;
    &lt;/div&gt;

    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;Attributes: type="color", lbShrink.&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;grn-input formControlName="input02l"
        style="width: 100px;"
        [label]="!formGroup02.controls.input02l.value
          ? 'Enter color':'Color'"
        lbShrink
        type="color"
        [helperText]="!formGroup02.controls.input02l.value
        ?'Enter color.'
        :'\'' + (formGroup02.controls.input02l.value) + '\''"
        [exterior]="exterior02"&gt;
      &lt;/grn-input&gt;
    &lt;/div&gt;

    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;Attributes: type="date", lbShrink.&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;grn-input formControlName="input02m"
        [label]="!formGroup02.controls.input02m.value
          ? 'Enter date':'Date'"
        lbShrink
        type="date"
        [helperText]="!formGroup02.controls.input02m.value
          ?'Enter your date value.'
          :'Date value is \''
          + (formGroup02.controls.input02m.value | date:'mediumDate')
          + '\''"
        [exterior]="exterior02"&gt;
      &lt;/grn-input&gt;
    &lt;/div&gt;

    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;Attributes: type="time", lbShrink.&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;grn-input formControlName="input02n"
        [label]="!formGroup02.controls.input02n.value
          ? 'Enter time':'Time'"
        lbShrink
        type="time"
        [helperText]="!formGroup02.controls.input02n.value
          ?'Enter your time value.'
          :'Time value is \''
          + (formGroup02.controls.input02n.value) + '\''"
        [exterior]="exterior02"&gt;
      &lt;/grn-input&gt;
    &lt;/div&gt;

  &lt;/div&gt;

&lt;/form&gt;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelTs">
          <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';
import &#123;
  FormControl, FormGroup, Validators
&#125; from '@angular/forms';

@Component(&#123;
  selector: 'app-input',
  templateUrl: './input.component.html',
  styleUrls: ['./input.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class InputComponent &#123;
  public formGroup02: FormGroup = new FormGroup(&#123;
    input02a: new FormControl('', []),
    input02b: new FormControl('Hello World'
      , [Validators.required]),
    input02c: new FormControl('Hello World', []),
    input02d: new FormControl('Hello World', []),
    input02e: new FormControl('', []),
    input02f: new FormControl('Hello World', []),
    input02g: new FormControl('', []),
    input02h: new FormControl('', []),
    input02i: new FormControl('Hello World', []),
    input02j: new FormControl('', []),
    input02k: new FormControl('', []),
    input02l: new FormControl('#000000', []),
    input02m: new FormControl('', []),
    input02n: new FormControl('', []),
  &#125;);
  public exterior02 = 'outlined';
&#125;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelCss">
          <code><pre source="css">
.app-group &#123;
  display: flex;
  flex-wrap: wrap;
&#125;
.app-elem &#123;
  min-width: 26ch;
  margin: 10px 10px;
&#125;</pre></code>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
</section>