/* Library: gelenium-ui. lib-styles.scss */

// @import '~@angular/cdk/overlay-prebuilt.css';
.cdk-overlay-container,.cdk-global-overlay-wrapper{pointer-events:none;top:0;left:0;height:100%;width:100%}.cdk-overlay-container{position:fixed;z-index:1000}.cdk-overlay-container:empty{display:none}.cdk-global-overlay-wrapper{display:flex;position:absolute;z-index:1000}.cdk-overlay-pane{position:absolute;pointer-events:auto;box-sizing:border-box;z-index:1000;display:flex;max-width:100%;max-height:100%}.cdk-overlay-backdrop{position:absolute;top:0;bottom:0;left:0;right:0;z-index:1000;pointer-events:auto;-webkit-tap-highlight-color:transparent;transition:opacity 400ms cubic-bezier(0.25, 0.8, 0.25, 1);opacity:0}.cdk-overlay-backdrop.cdk-overlay-backdrop-showing{opacity:1}.cdk-high-contrast-active .cdk-overlay-backdrop.cdk-overlay-backdrop-showing{opacity:.6}.cdk-overlay-dark-backdrop{background:rgba(0,0,0,.32)}.cdk-overlay-transparent-backdrop,.cdk-overlay-transparent-backdrop.cdk-overlay-backdrop-showing{opacity:0}.cdk-overlay-connected-position-bounding-box{position:absolute;z-index:1000;display:flex;flex-direction:column;min-width:1px;min-height:1px}.cdk-global-scrollblock{position:fixed;width:100%;overflow-y:scroll}

:root {
  // "default" background-color: hsl(0deg 0% 100%); #fff;
  --gln-default-bg-h: 0;
  --gln-default-bg-s: 0%;
  --gln-default-bg-l: 100%;
  --gln-default-bg-cl: hsl(var(--gln-default-bg-h),var(--gln-default-bg-s),var(--gln-default-bg-l));
  // "default" color: hsl(20, 2%, 5%); OLD
  // --gln-default-h: 20;
  // --gln-default-s: 2%;
  // --gln-default-l: 5%;
  // "default" color: hsl(250, 2%, 5%);
  --gln-default-h: 250;
  --gln-default-s: 5%;
  --gln-default-l: 20%;
  --gln-default-cl: hsl(var(--gln-default-h),var(--gln-default-s),var(--gln-default-l));
  // "primary" color: hsl(210, 79%, 46%); OLD
  // --gln-primary-h: 210;
  // --gln-primary-s: 79%;
  // --gln-primary-l: 46%;
  // "primary" color: hsl(210, 100%, 50%);
  --gln-primary-h: 210;
  --gln-primary-s: 70%;
  --gln-primary-l: 50%;
  --gln-primary-cl: hsl(var(--gln-primary-h),var(--gln-primary-s),var(--gln-primary-l));
  // "danger" color: hsl(0, 65%, 51%); OLD
  // --gln-danger-h: 0;
  // --gln-danger-s: 65%;
  // --gln-danger-l: 51%;
  // "danger" color: hsl(5, 85%, 50%);
  --gln-danger-h: 5;
  --gln-danger-s: 70%;
  --gln-danger-l: 50%;
  --gln-danger-cl: hsl(var(--gln-danger-h),var(--gln-danger-s),var(--gln-danger-l));
  // "success" color: hsl(152, 69%, 31%); #198754
  --gln-success-h: 135;
  --gln-success-s: 30%;
  --gln-success-l: 50%;
  --gln-success-cl: hsl(var(--gln-success-h),var(--gln-success-s),var(--gln-success-l));
  // "info" color: hsl(190, 90%, 50%); #0dcaf0
  --gln-info-h: 90;
  --gln-info-s: 70%;
  --gln-info-l: 50%;
  --gln-info-cl: hsl(var(--gln-info-h),var(--gln-info-s),var(--gln-info-l));
  // "warning" color: hsl(45, 100%, 51%); #ffc107
  --gln-warning-h: 45;
  --gln-warning-s: 70%;
  --gln-warning-l: 50%;
  --gln-warning-cl: hsl(var(--gln-warning-h),var(--gln-warning-s),var(--gln-warning-l));
}
