/*# sourceURL=cm-checkbox-attributes.component.scss */

app-cm-checkbox-attributes {
  display: block;

  .cbat1-elem {
    min-width: 19ch;
  }
  .cbat1-fn-sz {
    font-size: 12px;
  }

  .cbat2-elem {
    min-width: 19ch;
  }
  .cbat2-fn-sz {
    font-size: 12px;
  }
  .cbat2-err {
    color: red;
  }

  .cbat3-elem {
    min-width: 19ch;
  }
  .cbat3-fn-sz {
    font-size: 12px;
  }
}