<section mr-vr>
  <h3>API: GlnSelect</h3>
  <p>
    Selector:
    <span fw500>gln-select</span>
  </p>
  <p>
    Exported as:
    <span fw500>glnSelect</span>
  </p>
</section>

<section mr-vr>
  <h4>Properties</h4>
</section>

<table class="app-tab">
  <tbody>
    <tr>
      <th>Name</th>
      <th>Description</th>
    </tr>

    <tr>
      <td>
        <code>@Input()</code>
        <code>id: string;</code>
      </td>
      <td>
        <span>
          ID of the native input element.<br />(default = `glns-$&#123;uniqueIdCounter++&#125;`;)
        </span>
      </td>
    </tr>

    <!-- <tr>
      <td>
        <code>@Input()</code>
        <code>config: GlnFrameConfig | null = null;</code>
      </td>
      <td>
        <span>Defines a configuration object.</span><br />
        <a [href]="urlFrame + '#Config'">More details.</a>
      </td>
    </tr> -->

    <tr>
      <td>
        <code>@Input()</code>
        <code>exterior: string | null;</code>
      </td>
      <td>
        <span>
          Determines the appearance of an element.<br />
          It can take the following values:
        </span>
        <ul>
          <li>"outlined" (default);</li>
          <li>"underline";</li>
          <li>"standard";</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>frameSize: string | null;</code>
      </td>
      <td>
        <span>Determines the size of the element.<br />
          It can take the following values:
        </span>
        <ul>
          <li>"short" - height: 38px;</li>
          <li>"small" - height: 44px;</li>
          <li>"middle" - height: 50px (default);</li>
          <li>"wide" - height: 56px;</li>
          <li>"large" - height: 62px;</li>
          <li>"huge" - height: 68px;</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>helperText: string;</code>
      </td>
      <td>
        <span>
          Specifies the text for additional clarification or error.
          <br />(default = null;)
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>isDisabled: string | null;</code>
      </td>
      <td>
        <span>The element is disabled.<br />Attribute (no content).</span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>isError: string | null;</code>
      </td>
      <td>
        <span>
          Forces the error status of an item to be displayed.<br />Attribute (no content).
        </span>
      </td>
    </tr>
    <!-- @Input()
    public isFixRight: string | boolean | null | undefined;
    @Input()
    public isMultiple: string | boolean | null | undefined;
    @Input()
    public isCheckmark: string | null = null; -->
    <tr>
      <td>
        <code>@Input()</code>
        <code>isNoRipple: string | boolean | null | undefined;</code>
      </td>
      <td>
        <span>
          This property to turn off the ripple effect.<br />Attribute (no content).
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>isHoverColor: boolean | null = null;</code>
      </td>
      <td>
        <span>
          If specified, then when hovering the mouse, the color of the label
          and frame will be the same as when the focus was received.
          <br />
          If not specified, then when you hover the mouse, the color of the
          label and frame will be the same as the default.
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>isLabelShrink: string | boolean | null | undefined;</code>
      </td>
      <td>
        <span>
          Disable label animation. The label is always static, at the top.<br />
          Attribute (no content).
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>isNoAnimation: string | null;</code>
      </td>
      <td>
        <span>
          Disable animation display.
          <br />Attribute (no content).
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>isNoLabel: string | null;</code>
      </td>
      <td>
        <span>
          Disables the display of the label.<br />Attribute (no content).
        </span>
      </td>
    </tr>

    <tr>
      <td>
        <code>@Input()</code>
        <code>isReadOnly: string | null;</code>
      </td>
      <td>
        <span>Whether the element is readonly.<br />Attribute (no content).</span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>isRequired: string | null;</code>
      </td>
      <td>
        <span>
          Adds a validation condition: required field.<br />Attribute (no content).
        </span>
      </td>
    </tr>

    <!-- // @Input() // #public isValueInit: string | null = null; -->

    <tr>
      <td>
        <code>@Input()</code>
        <code>label: string;</code>
      </td>
      <td>
        <span>The content of the label.<br />(default = '';)</span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>noElevation: string | null;</code>
      </td>
      <td>
        <span>
          Disable 3d shadow display.
          <br />Attribute (no content).
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>isNoIcon: string | boolean | null | undefined</code>
      </td>
      <td>
        <span>
          Disable the display of the icon - the status of the state of the open list.
          <br />Attribute (no content).
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>ornamLfAlign: string | null = null;</code>
      </td>
      <td>
        <span>Specifies the height justification for the left ornament.
          <br />(default = 'default';)
          It can take the following values:
        </span>
        <ul>
          <li>"default" - depending on frame type</li>
          <li>"center" - in the center</li>
          <li>"flex-start" - at the top</li>
          <li>"flex-end" - at the bottom</li>
          <li>"baseline" - along the baseline</li>
          <li>"stretch" - at the top</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>ornamRgAlign: string | null = null;</code>
      </td>
      <td>
        <span>Specifies the height justification for the right ornament.
          <br />(default = 'default';)
          It can take the following values:
        </span>
        <ul>
          <li>"default" - depending on frame type</li>
          <li>"center" - in the center</li>
          <li>"flex-start" - at the top</li>
          <li>"flex-end" - at the bottom</li>
          <li>"baseline" - along the baseline</li>
          <li>"stretch" - at the top</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>panelClass: string | string[] | Set&lt;string&gt; | &#123; [key: string]: any &#125; = ''</code>
      </td>
      <td>
        <span>
          Classes to be passed to the select panel. Supports the same syntax as `ngClass`.
        </span>
      </td>
    </tr>

    <!-- @Input()
    public visibleSize = -1; // TODO ?? -->

    <tr>
      <td>
        <code>@Input()</code>
        <code>tabIndex: number;</code>
      </td>
      <td>
        <span>Indicates that its element can be focused.
          <br />(default = 0;)
        </span>
      </td>
    </tr>
    <!-- 
    @Input()
    public wdFull: string | null = null;
  -->
    <!--   
    @Input()
    get value(): unknown | unknown[] | null {
  -->

    <tr>
      <td>
        <code>@Output()</code>
        <code>focused: EventEmitter&lt;void&gt;;</code>
      </td>
      <td>
        <span>Fires when the element receives input focus.</span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Output()</code>
        <code>blured: EventEmitter&lt;void&gt;;</code>
      </td>
      <td>
        <span>Fires when an element loses input focus.</span>
      </td>
    </tr>

    <tr>
      <td>
        <code>@Output()</code>
        <code>opened: EventEmitter&lt;void&gt;;</code>
      </td>
      <td>
        <span>Fires when the selection panel opens.</span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Output()</code>
        <code>closed: EventEmitter&lt;void&gt;;</code>
      </td>
      <td>
        <span>Fires when the selection panel closes.</span>
      </td>
    </tr>

  </tbody>
</table>