/*# sourceURL=pl-select-material-ui.component.scss */

app-pl-select-material-ui {
  display: block;

  .ip-elem {
    width: 29ch;
  }

  // ** Palette like Material-UI. **

  .ip-material-ui {
    // "default"
    --mui-default: rgba(0, 0, 0, 0.6);
    --mui-default-dis: rgba(0, 0, 0, 0.38);
    --mui-default-hov: rgba(0, 0, 0, 0.87);
    --mui-default-rhomb: rgba(0, 0, 0, 0.54);
    --glncl-default-h: 20;
    --glncl-default-s: 2%;
    // "primary"
    --mui-primary: #1976d2;
    --glncl-primary-h: 210;
    --glncl-primary-s: 79%;
    // "danger"
    --mui-danger: #d32f2f;
    --glncl-danger-h: 0;
    --glncl-danger-s: 65%;
    // scheme "success"
    --gln-sh-success-h: 135;
    --gln-sh-success-s: 40%;
  }
  
  // gln-frame
  .ip-material-ui .gln-frame {
    // Def
    --glnfr-def-lb-cl: var(--mui-default);
    --glnfr-def-br-cl: rgba(0, 0, 0, 0.23);
    --glnfr-def-bg-cl: rgba(0, 0, 0, 0.06);
    --glnfr-def-bf-cl: rgba(0, 0, 0, 0.42);

    --glnfr-hov-lb-cl: var(--mui-default);
    --glnfr-hov-br-cl: var(--mui-default-hov);
    --glnfr-hov-bg-cl: rgba(0, 0, 0, 0.09);
    --glnfr-hov-bf-cl: var(--mui-default-hov);

    --glnfr-foc-lb-cl: var(--mui-primary);
    --glnfr-foc-br-cl: var(--mui-primary);
    --glnfr-foc-bg-cl: rgba(0, 0, 0, 0.05);
    --glnfr-foc-bf-cl: var(--mui-default-hov);
    --glnfr-foc-af-cl: var(--mui-primary);

    // Blocking frame resizing when hovering the mouse for "Outlined" mode.
    --glnfr-hov-dcr-br-wd: unset;

    // Err
    --glnfr-def-err-lb-cl: var(--mui-danger);
    --glnfr-def-err-br-cl: var(--mui-danger);
    --glnfr-def-err-bg-cl: rgba(0, 0, 0, 0.06);
    --glnfr-def-err-bf-cl: var(--mui-danger);

    --glnfr-hov-err-lb-cl: var(--mui-danger);
    --glnfr-hov-err-br-cl: var(--mui-danger);
    --glnfr-hov-err-bg-cl: rgba(0, 0, 0, 0.09);
    --glnfr-hov-err-bf-cl: var(--mui-danger);

    --glnfr-foc-err-lb-cl: var(--mui-danger);
    --glnfr-foc-err-br-cl: var(--mui-danger);
    --glnfr-foc-err-bg-cl: rgba(0, 0, 0, 0.05);
    --glnfr-foc-err-bf-cl: var(--mui-danger);
    --glnfr-foc-err-af-cl: var(--mui-danger);

    // Dis
    --glnfr-dis-lb-cl: var(--mui-default-dis);
    --glnfr-dis-br-cl: rgba(0, 0, 0, 0.26);
    --glnfr-dis-bg-cl: rgba(0, 0, 0, 0.12);
    --glnfr-dis-bf-cl: rgba(0, 0, 0, 0.42);

    // For "rhomb"
    --glnsl-def-rhomb: var(--mui-default-rhomb);
    --glnsl-hov-rhomb: var(--mui-default-rhomb);
    --glnsl-foc-rhomb: var(--mui-default-rhomb);
    --glnsl-def-err-rhomb: var(--mui-default-rhomb);
    --glnsl-hov-err-rhomb: var(--mui-default-rhomb);
    --glnsl-foc-err-rhomb: var(--mui-default-rhomb);
    --glnsl-dis-rhomb: var(--mui-default-rhomb);
  }

  .ip-material-ui .ip-success .gln-frame:not([dis]):not([err]) {
    --glnfr-foc-lb-cl: hsl(var(--gln-sh-success-h), var(--gln-sh-success-s), 45%);
    --glnfr-foc-br-cl: hsl(var(--gln-sh-success-h), var(--gln-sh-success-s), 50%);
    --glnfr-foc-bf-cl: hsl(var(--gln-sh-success-h), var(--gln-sh-success-s), 40%);
    --glnfr-foc-af-cl: hsl(var(--gln-sh-success-h), var(--gln-sh-success-s), 50%);
  }

  // gln-hint-or-error
  .ip-material-ui .gln-hint-or-error:not([dis]):not([err]) {
    --glnhe-def-lb-cl: var(--mui-default);
    --glnhe-foc-lb-cl: var(--mui-default);
  }
  .ip-material-ui .gln-hint-or-error:not([dis])[err] {
    --glnhe-def-lb-cl: var(--mui-danger);
    --glnhe-foc-lb-cl: var(--mui-danger);
  }
  .ip-material-ui .gln-hint-or-error[dis] {
    --glnhe-dis-lb-cl: var(--mui-default-dis);
  }
}