/*# sourceURL=pl-calendar-mat.component.scss */

app-pl-calendar-mat {
  display: block;

  .cnma-clnd {
    border: 1px solid deepskyblue;
    box-sizing: border-box;
    display: inline-block;
  }
}

.cnma-mat9 {
  position: absolute;
  background-color: #fff;
  outline: 1px solid black;
  z-index: 1;
  top: -63px;
  left: 80px;
}

.cnma-mat {
  color: #000000de;
  display: inline-block;
  font-size: 14px;
  font-family: Roboto,sans-serif;
  height: 354px; //-8
  
  // border-color: transparent;
  width: 280px;
  .gln-calendar-head {
    padding: 8px 0 6px 3px;
  }
  // "title-block"
  --glncn-head-fn-wg: 500;
  --glncn-def-title-cl: #000;
  --glncn-title-pd-lf: 2px;
  // "title-caption"
  --glncn-caption-hg: 36px;
  --glncn-cap-pd: 8px 3px 8px 8px;

  .gln-calendar-title-caption {
    letter-spacing: 1.25px;
    text-transform: uppercase;
    &:hover {
      background-color: rgba(0, 0, 0, 0.04);
    }
    &::after {
      content: url('data:image/svg+xml;charset=UTF-8, '
        + '<svg xmlns="http://www.w3.org/2000/svg" version="1.1"'
        + ' height="5" width="10" fill="rgba(0, 0, 0, 0.54)">'
        + '<polygon points="0,0 5,5 10,0"></polygon>'
        + '</svg>');
      display: block;
      height: 22px;
      width: 20px;
    }
  }
  // "title switch"
  .gln-calendar-switch {
    display: none;
  }
  .gln-calendar-t-icon {
    height: 24px;
    width: 24px;
  }
  // "title nav"
  --glncn-nav-pd: 8px;
  --glncn-def-nav-cl: rgba(0, 0, 0, 0.54);
  --glncn-hov-nav-bg-cl: rgba(0, 0, 0, 0.04);
  // "view-day"
  // "header"
  .gln-calendar-day-header {
    border-bottom: 1px solid rgba(128,128,128, 0.3);
    margin-bottom: 7px;
  }
  // "header cage"
  --glncn-cage-fn-sz: 11px;
  --glncn-cage-hg: 25px;
  // "row item"
  --glncn-item-mr: 2px 2px 2px 2px;

  --glncn-def-act-cl: rgba(0, 0, 0, 0.87);
  --glncn-def-psv-cl: rgba(0, 0, 0, 0.6);
  --glncn-def-slct-cl: #fff;
  --glncn-def-slct-bg-cl: #3f51b5; // # #1976d2;
  --glncn-def-today-br-cl: rgba(0, 0, 0, 0.38);

  --glncn-hov-act-bg-cl: #3f51b54d; // # rgba(25, 118, 210, 0.04);
  --glncn-hov-psv-bg-cl: #3f51b54d; // # rgba(25, 118, 210, 0.04);
  --glncn-hov-slct-cl: #fff;
  --glncn-hov-slct-bg-cl: #3f51b5;

  // --glncn-dis-slct-cl: #fff;
  // --glncn-dis-slct-bg-cl: #1976d2;
  
  --glncn-item-fn-sz: 13.33px;

  // "view month"
  --glncn-view-month-pd: 60px 0px 85px 0px;
  // "month wrapper"
  --glncn-month-wrapper-pd: 0.7% 1%;
  // "month cell"
  .gln-calendar-month-cell {
    transition: unset;
    text-transform: uppercase;
  }
  --glncn-month-cell-br-rd: 2em;
  --glncn-month-cell-hg: 100%;
  --glncn-month-cell-wd: 100%;

  // "view year"
  --glncn-view-year-pd: 7px 4px 7px 4px;
  // "year-wrapper"
  --glncn-year-wrapper-pd: 0.7% 1%;
  // "year cell"
  .gln-calendar-year-cell {
    transition: unset;
  }
  --glncn-year-cell-br-rd: 2em;
  --glncn-year-cell-hg: 100%;
  --glncn-year-cell-wd: 100%;

}
