<h3>Component: "GlnTooltip"</h3>

<div *ngIf="!showNum || showNum==='01'"
  id="Basic">
  <app-cm-tooltip-basic></app-cm-tooltip-basic>
  <hr br-tp>
</div>

<!-- <div *ngIf="!showNum || showNum==='02'"
  id="Attributes">
  <app-cm-tooltip-attributes></app-cm-tooltip-attributes>
  <hr br-tp>
</div> -->

<!-- <div *ngIf="!showNum || showNum==='03'"
  id="Size">
  <app-cm-tooltip-size></app-cm-tooltip-size>
  <hr br-tp>
</div> -->

<!-- <div *ngIf="!showNum || showNum==='05'"
  id="Ornaments">
  <app-cm-tooltip-ornaments></app-cm-tooltip-ornaments>
  <hr br-tp>
</div> -->

<!-- <section mr-vr
  *ngIf="!showNum"
  id="Palette">
  <h3>Palette</h3>
  <p>
    The <a [href]="urlPlTextarea + '#Basic'">"Palette GlnTextarea#Basic"</a>
    page shows you how to change the color palette of an element.
  </p>
  <hr br-tp>
</section> -->

<!-- <div *ngIf="!showNum || showNum==='08'"
  id="Config">
  <app-cm-tooltip-config></app-cm-tooltip-config>
  <hr br-tp>
</div> -->

<!-- <div *ngIf="!showNum || showNum==='09'"
  id="Api">
  <app-cm-tooltip-api></app-cm-tooltip-api>
  <hr br-tp>
</div> -->

<br />
<br />