/*# sourceURL=pl-button-basic.component.scss */

app-pl-button-basic {
  display: block;

  .bb-items {
    display: flex;
    flex-wrap: wrap;
  }
  .bb-items > :first-child {
    margin-left: 1%;
  }
  .bb-items > :not(first-child) {
    margin-left: 5%;
  }
  .btpl-elem {
    min-width: 15ch;
  }
  .btpl-customer {
    --gln-customer-h: 200;
    --gln-customer-s: 75%;
    --gln-customer-l: 50%;
  }
}
