<section mr-vr>
  <h3>API: GrnInfiniteScroll</h3>
  <p>
    Selector:
    <span fw500>grn-infinite-scroll</span>
  </p>
  <p>
    Exported as:
    <span fw500>grnInfiniteScroll</span>
  </p>
</section>

<section mr-vr>
  <h4>Properties</h4>
</section>

<table class="app-tab">
  <tbody>
    <tr>
      <th>Name</th>
      <th>Description</th>
    </tr>

    <tr>
      <td>
        <code>@Input()</code>
        <code>options: IntersectionObserverInit;</code>
      </td>
      <td>
        <span>Parameter dictionary for initializing
          <a href="https://developer.mozilla.org/en-US/docs/Web/API/Intersection_Observer_API"
            target="_blank">IntersectionObserver</a>.
          Optional.
          <br />(default = &#123;&#125;;)
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Output()</code>
        <code>scrolled: EventEmitter&lt;void&gt;;</code>
      </td>
      <td>
        <span>When this event occurs, it is required to get a new chunk of data for the list.</span>
      </td>
    </tr>

  </tbody>
</table>