<div class="in-section" *ngIf="false">
  <h3>Palette customization</h3>
  <p>
    You can customize the color palette for the input element.
    To avoid duplicating color codes, we will use the following CSS variables:
  </p>
  <pre>
// Let's create our own color palette.
.ipc-customization .Grn-palette &#123;
// The default border color.
--in07-default-color: #00acc1;
// Border and label color on error.
--in07-error-color: #ad1457;
// Border and label color on error and mouse hover.
--in07-error-hover-color: #f06292;
// The color of the frame and label when receiving focus.
--in07-focused-color: #0097a7;

// The default color for the label.
--in07-label-default-color: #5c6bc0;
// The color of the label if the element is disabled.
--in07-label-disabled-color: #9c27b0;

// For the exterior "Outlined":
// The default border color.
--in07-outlined-default-brd-color: #5c6bc0;

// For the exterior "Underline":
// Default background color.
--in07-underline-default-bg-color: rgba(178, 235, 242, 0.6);
// The background color when receiving focus.
--in07-underline-focused-bg-color: rgba(178, 235, 242, 0.4);
// The background color when the element is disabled.
--in07-underline-disabled-bg-color: rgba(178, 235, 242, 0.2);

// For the exterior "Underline" and "Standard":
// The default bottom border color.
--in07-substrate-before-brd-color: rgba(101, 1, 151, 0.9);
&#125;</pre>
  <p>
    All the CSS classes that define the colors of the input element are children of the "Grn-palette" CSS classes.
    Add a custom "ipc-customization" CSS class to define our colors.
  </p>
  <p>
    To replace the color of the label, we define a group of CSS classes.
  </p>
  <pre>
// Default color of the label.
.ipc-customization .Grn-palette .plt-clr-default
&#123; color: var(--in07-label-default-color); &#125;
// The color of the label on error.
.ipc-customization .Grn-palette .plt-clr-error
&#123; color: var(--in07-error-color); &#125;
// The color of the label on mouse over and on error.
.ipc-customization .Grn-palette .plt-clr-mouse-error
&#123; color: var(--in07-error-hover-color); &#125;
// The color of the label on mouse hover.
.ipc-customization .Grn-palette .plt-clr-mouse
&#123; color: var(--in07-default-color); &#125;
// The color of the label when the input element receives focus.
.ipc-customization .Grn-palette .plt-clr-focused
&#123; color: var(--in07-focused-color); &#125;
// The color of the label when the input element is disabled.
.ipc-customization .Grn-palette .plt-clr-disabled
&#123; color: var(--in07-label-disabled-color); &#125;</pre>
  <p>
    Likewise to replace the "Outlined" border color define a group of CSS classes.
  </p>
  <pre>
.ipc-customization .Grn-palette .plt-brd-clr-XXX
&#123; border-color: var(--in07-outlined-default-brd-color); &#125;</pre>
  <p>
    Where XXX - take the values from the previous example.
  </p>
  <p>
    Likewise, to replace the "Underline" background color, define a group of CSS classes.
  </p>
  <pre>
.ipc-customization .Grn-palette .plt-bg-clr-XXX
&#123; background-color: var(--in07-underline-default-bg-color); &#125;</pre>
  <p>
    Where XXX - take the values from the previous example.
  </p>
  <p>
    Likewise, to replace the "Underline" and "Standard" colors, define a group of CSS classes.
  </p>
  <pre>
.ipc-customization .Grn-palette .plt-brd-bt-clr-XXX:before 
&#123; border-bottom-color: var(--in07-substrate-before-brd-color); &#125;</pre>
  <p>
    Where XXX - take the values from the previous example.
  </p>

  <p>
    The following example demonstrates how to change the colors of an input element.
  </p>
</div>

<div class="in-section">
  <span>exterior: </span>
  <mat-button-toggle-group [(ngModel)]="exterior07" aria-label="Font Style">
    <mat-button-toggle value="outlined">{{ labelOutlined }}</mat-button-toggle>
    <mat-button-toggle value="underline">{{ labelUnderline }}</mat-button-toggle>
    <mat-button-toggle value="standard">{{ labelStandard }}</mat-button-toggle>
  </mat-button-toggle-group>
</div>


<form class="in-section" [formGroup]="formGroup07" novalidate>

  <div class="ipc-customization">

    <div>
      <grn-input class="in-item" formControlName="input07a"
        label="Simple Text" type="text" autoComplete="off"
        [exterOutlined]="exterior07==='outlined' ? '':null"
        [exterUnderline]="exterior07==='underline' ? '':null">
      </grn-input>
  
      <grn-input class="in-item" formControlName="input07b"
        label="Required Text" isRequired autoComplete="off"
        [exterOutlined]="exterior07==='outlined' ? '':null"
        [exterUnderline]="exterior07==='underline' ? '':null">
      </grn-input>
    </div>
  
    <div>
      <grn-input class="in-item" formControlName="input07c"
        label="Read Only" isReadOnly autoComplete="off"
        helperText="Enter a value for the parameter."
        [exterOutlined]="exterior07==='outlined' ? '':null"
        [exterUnderline]="exterior07==='underline' ? '':null">
      </grn-input>
  
      <grn-input class="in-item" formControlName="input07d"
        label="Disabled" isDisabled
        helperText="The parameter is defined."
        [exterOutlined]="exterior07==='outlined' ? '':null"
        [exterUnderline]="exterior07==='underline' ? '':null">
      </grn-input>
    </div>

    <div>
      <grn-input class="in-item" formControlName="input07e"
        isRequired
        minLength="{{ minLength07e }}"
        maxLength="{{ maxLength07e }}"
        autoComplete="off"
        [label]="!!controls07.input07e.errors ?
          'Naming error' : 'Enter the name'"
        [exterOutlined]="exterior07==='outlined' ? '':null"
        [exterUnderline]="exterior07==='underline' ? '':null"
        helperText="{{
          (controls07.input07e.errors?.required ? 'Required field.':
            (controls07.input07e.errors?.minlength ?
              'Minimum length ' + controls07.input07e.errors?.minlength.requiredLength + ' characters.':
              (controls07.input07e.errors?.maxlength ?
                'Maximum length ' + controls07.input07e.errors?.maxlength.requiredLength + ' characters.':'')
            )
          )
        }}">
      </grn-input>
  
      <grn-input class="in-item" formControlName="input07f"
        label="Error-Disabled"
        isDisabled isError helperText="Incorrect entry."
        [exterOutlined]="exterior07==='outlined' ? '':null"
        [exterUnderline]="exterior07==='underline' ? '':null">
      </grn-input>
    </div>
    
  </div>


  
  <div>
    <span class="ipc-text">Style like Bootstrap</span>
  </div>

  <div>
    <grn-input class="in-item ipc-bstrap" formControlName="input07g"
      exterOutlined szShort hiddenLabel autoComplete="off"
      isRequired
      helperText="{{
        (controls07.input07g.errors?.required
          ? 'Required field.': 'Enter value.')
      }}">
    </grn-input>

    <grn-input class="in-item ipc-bstrap" formControlName="input07h"
      exterOutlined szShort hiddenLabel autoComplete="off"
      isDisabled helperText="Disabled">
    </grn-input>
  </div>

</form>

<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
    </mat-expansion-panel-header>
    <mat-tab-group animationDuration="0ms">
      <mat-tab [label]="labelHtml">
        <pre class="in-fw-nr">
&lt;form class="ipc-customization" [formGroup]="formGroup07" novalidate&gt;

  &lt;div&gt;
    &lt;grn-input class="in-item" formControlName="input07a"
      label="Simple Text" type="text" autoComplete="off"
      [exterOutlined]="exterior07==='outlined' ? '':null"
      [exterUnderline]="exterior07==='underline' ? '':null"&gt;
    &lt;/grn-input&gt;

    &lt;grn-input class="in-item" formControlName="input07b"
      label="Required Text" isRequired autoComplete="off"
      [exterOutlined]="exterior07==='outlined' ? '':null"
      [exterUnderline]="exterior07==='underline' ? '':null"&gt;
    &lt;/grn-input&gt;
  &lt;/div&gt;

  &lt;div&gt;
    &lt;grn-input class="in-item" formControlName="input07c"
      label="Read Only" isReadOnly autoComplete="off"
      helperText="Enter a value for the parameter."
      [exterOutlined]="exterior07==='outlined' ? '':null"
      [exterUnderline]="exterior07==='underline' ? '':null"&gt;
    &lt;/grn-input&gt;

    &lt;grn-input class="in-item" formControlName="input07d"
      label="Disabled" isDisabled
      helperText="The parameter is defined."
      [exterOutlined]="exterior07==='outlined' ? '':null"
      [exterUnderline]="exterior07==='underline' ? '':null"&gt;
    &lt;/grn-input&gt;
  &lt;/div&gt;

  &lt;div&gt;
    &lt;grn-input class="in-item" formControlName="input07e"
      isRequired
      minLength="<b>&#123;</b>&#123; minLength07e &#125;&#125;"
      maxLength="<b>&#123;</b>&#123; maxLength07e &#125;&#125;"
      autoComplete="off"
      [label]="!!controls07.input07e.errors ?
       'Naming error' : 'Enter the name'"
      [exterOutlined]="exterior07==='outlined' ? '':null"
      [exterUnderline]="exterior07==='underline' ? '':null"
      helperText="<b>&#123;</b>&#123;
        (controls07.input07e.errors?.required ? 'Required field.':
          (controls07.input07e.errors?.minlength ?
            'Minimum length '
            + controls07.input07e.errors?.minlength.requiredLength
            + ' characters.':
            (controls07.input07e.errors?.maxlength ?
              'Maximum length '
              + controls07.input07e.errors?.maxlength.requiredLength
              + ' characters.':'')
          )
        )
      &#125;&#125;"&gt;
    &lt;/grn-input&gt;

    &lt;grn-input class="in-item" formControlName="input07f"
      label="Error-Disabled"
      isDisabled isError helperText="Incorrect entry."
      [exterOutlined]="exterior07==='outlined' ? '':null"
      [exterUnderline]="exterior07==='underline' ? '':null"&gt;
    &lt;/grn-input&gt;
  &lt;/div&gt;

&lt;/form&gt;</pre>
      </mat-tab>
      <mat-tab [label]="labelTs">
        <pre>
import &#123; Component, ViewEncapsulation &#125; from '@angular/core';
import &#123; FormControl, FormGroup, Validators &#125; from '@angular/forms';

@Component(&#123;
  selector: 'app-input',
  templateUrl: './input.component.html',
  styleUrls: ['./input.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class InputComponent &#123;
  public minLength07e = 5;
  public maxLength07e = 15;
  public controls07 = &#123;
    input07a: new FormControl('', []),
    input07b: new FormControl('Hello World', [Validators.required]),
    input07c: new FormControl('Hello World', []),
    input07d: new FormControl('Hello World', []),
    input07e: new FormControl('demo', [
      Validators.required,
      Validators.minLength(this.minLength07e),
      Validators.maxLength(this.maxLength07e),
    ]),
    input07f: new FormControl('Hello World', []),
  &#125;;
  public formGroup07: FormGroup = new FormGroup(this.controls07);
  public exterior07 = 'outlined';
&#125;</pre>
      </mat-tab>
      <mat-tab [label]="labelCss">
        <pre>
.in-item &#123;
  width: 240px;
  margin: 10px 10px;
&#125;

.ipc-customization .Grn-palette &#123;
  --in07-default-color: #00acc1;
  --in07-error-color: #ad1457;
  --in07-error-hover-color: #f06292;
  --in07-focused-color: #0097a7;

  --in07-label-default-color: #5c6bc0;
  --in07-label-disabled-color: #9c27b0;

  --in07-outlined-default-brd-color: #5c6bc0;

  --in07-underline-default-bg-color: rgba(178, 235, 242, 0.6);
  --in07-underline-focused-bg-color: rgba(178, 235, 242, 0.4);
  --in07-underline-disabled-bg-color: rgba(178, 235, 242, 0.2);

  --in07-substrate-before-brd-color: rgba(101, 1, 151, 0.9);
&#125;

.ipc-customization .Grn-palette .plt-clr-default &#123;
  color: var(--in07-label-default-color);
&#125;
.ipc-customization .Grn-palette .plt-clr-error &#123;
  color: var(--in07-error-color);
&#125;
.ipc-customization .Grn-palette .plt-clr-mouse-error &#123;
  color: var(--in07-error-hover-color);
&#125;
.ipc-customization .Grn-palette .plt-clr-mouse &#123;
  color: var(--in07-default-color);
&#125;
.ipc-customization .Grn-palette .plt-clr-focused &#123;
  color: var(--in07-focused-color);
&#125;
.ipc-customization .Grn-palette .plt-clr-disabled &#123;
  color: var(--in07-label-disabled-color);
&#125;

.ipc-customization .Grn-palette .plt-brd-clr-default &#123;
  border-color: var(--in07-outlined-default-brd-color);
&#125;
.ipc-customization .Grn-palette .plt-brd-clr-error &#123;
  border-color: var(--in07-error-color);
&#125;
.ipc-customization .Grn-palette .plt-brd-clr-mouse-error &#123;
  border-color: var(--in07-error-hover-color);
&#125;
.ipc-customization .Grn-palette .plt-brd-clr-mouse &#123;
  border-color: var(--in07-default-color);
&#125;
.ipc-customization .Grn-palette .plt-brd-clr-focused &#123;
  border-color: var(--in07-focused-color);
&#125;
.ipc-customization .Grn-palette .plt-brd-clr-disabled &#123;
  border-color: var(--in07-label-disabled-color);
&#125;

.ipc-customization .Grn-palette .plt-bg-clr-default &#123;
  background-color: var(--in07-underline-default-bg-color);
&#125;
.ipc-customization .Grn-palette .plt-bg-clr-error &#123;
  background-color: var(--in07-underline-default-bg-color);
&#125;
.ipc-customization .Grn-palette .plt-bg-clr-mouse-error &#123;
  background-color: var(--in07-underline-focused-bg-color);
&#125;
.ipc-customization .Grn-palette .plt-bg-clr-mouse &#123;
  background-color: var(--in07-underline-focused-bg-color);
&#125;
.ipc-customization .Grn-palette .plt-bg-clr-focused &#123;
  background-color: var(--in07-underline-focused-bg-color);
&#125;
.ipc-customization .Grn-palette .plt-bg-clr-disabled &#123;
  background-color: var(--in07-underline-disabled-bg-color);
&#125;

.ipc-customization .Grn-palette .plt-brd-bt-clr-default:before &#123;
  border-bottom-color: var(--in07-substrate-before-brd-color);
&#125;
.ipc-customization .Grn-palette .plt-brd-bt-clr-error:before &#123;
  border-bottom-color: var(--in07-error-color);
&#125;
.ipc-customization .Grn-palette .plt-brd-bt-clr-error:after &#123;
  border-bottom-color: var(--in07-error-color);
&#125;
.ipc-customization .Grn-palette .plt-brd-bt-clr-mouse-error:before &#123;
  border-bottom-color: var(--in07-error-hover-color);
&#125;
.ipc-customization .Grn-palette .plt-brd-bt-clr-mouse:before &#123;
  border-bottom-color: var(--in07-default-color);
&#125;
.ipc-customization .Grn-palette .plt-brd-bt-clr-focused:after &#123;
  border-bottom-color: var(--in07-focused-color);
&#125;
.ipc-customization .Grn-palette .plt-brd-bt-clr-disabled:before &#123;
  border-bottom-color: var(--in07-substrate-before-brd-color);
&#125;</pre>
      </mat-tab>
    </mat-tab-group>

  </mat-expansion-panel>
</mat-accordion>

