/*# sourceURL=cm-checkbox-basic.component.scss */

app-cm-checkbox-basic {
  display: block;

  .cbbs-elem {
    min-width: 17ch;
  }

  // Page: Attributes02ijkl
  .cbat2-elem {
    min-width: 19ch;
  }

  // Page: Attributes02a
  // Page: Size03a
  // Page: Ornaments05a
  // Page: Config08a
}
