<section mr-vr>
  <h3 class="app-hover-link">
    Size.
    <a [href]="urlCmRadio + '#Size'">#</a>
  </h3>
  <p>
    The GlnRadioButton component has the ability to change its size.
    To change the size of the component image, you need to specify the "size" parameter.
  </p>
  <span>For example:</span>
</section>


<form [formGroup]="formGroup03a"
  novalidate
  autocomplete="off">

  <div class="app-group">
    <div class="app-elem">
      <div>
        <small>
          <em>"Little" height: 30px;</em>
        </small>
      </div>
      <gln-radio-group name="model03a">
        <gln-radio-button *ngFor="let item of fruits03a"
          formControlName="model03a"
          size="little"
          [value]="item">
          {{ item }}
        </gln-radio-button>
      </gln-radio-group>
    </div>
  </div>

  <div class="app-group">
    <div class="app-elem">
      <div>
        <small>
          <em>"Short" height: 36px;</em>
        </small>
      </div>
      <gln-radio-group name="model03b">
        <gln-radio-button *ngFor="let item of fruits03a"
          formControlName="model03b"
          size="short"
          [value]="item">
          {{ item }}
        </gln-radio-button>
      </gln-radio-group>
    </div>
  </div>

  <div class="app-group">
    <div class="app-elem">
      <div>
        <small>
          <em>"Small" height: 42px;</em>
        </small>
      </div>
      <gln-radio-group name="model03c">
        <gln-radio-button *ngFor="let item of fruits03a"
          formControlName="model03c"
          size="small"
          [value]="item">
          {{ item }}
        </gln-radio-button>
      </gln-radio-group>
    </div>
  </div>

  <div class="app-group">
    <div class="app-elem">
      <div>
        <small>
          <em>"Middle" height: 48px;</em>
        </small>
      </div>
      <gln-radio-group name="model03d">
        <gln-radio-button *ngFor="let item of fruits03a"
          formControlName="model03d"
          size="middle"
          [value]="item">
          {{ item }}
        </gln-radio-button>
      </gln-radio-group>
    </div>
  </div>

  <div class="app-group">
    <div class="app-elem">
      <div>
        <small>
          <em>"Wide" height: 54px;</em>
        </small>
      </div>
      <gln-radio-group name="model03e">
        <gln-radio-button *ngFor="let item of fruits03a"
          formControlName="model03e"
          size="wide"
          [value]="item">
          {{ item }}
        </gln-radio-button>
      </gln-radio-group>
    </div>
  </div>

  <div class="app-group">
    <div class="app-elem">
      <div>
        <small>
          <em>"Large" height: 60px;</em>
        </small>
      </div>
      <gln-radio-group name="model03f">
        <gln-radio-button *ngFor="let item of fruits03a"
          formControlName="model03f"
          size="large"
          [value]="item">
          {{ item }}
        </gln-radio-button>
      </gln-radio-group>
    </div>
  </div>

  <div class="app-group">
    <div class="app-elem">
      <div>
        <small>
          <em>"Huge" height: 66px;</em>
        </small>
      </div>
      <gln-radio-group name="model03g">
        <gln-radio-button *ngFor="let item of fruits03a"
          formControlName="model03g"
          size="huge"
          [value]="item">
          {{ item }}
        </gln-radio-button>
      </gln-radio-group>
    </div>
  </div>

  <div class="app-group">
    <div class="app-elem">
      <div>
        <small>
          <em>"Custom" height: 53px;</em>
        </small>
      </div>
      <gln-radio-group name="model03h">
        <gln-radio-button *ngFor="let item of fruits03a"
          formControlName="model03h"
          size="53"
          [value]="item">
          {{ item }}
        </gln-radio-button>
      </gln-radio-group>
    </div>
  </div>

</form>


<section mr-vr>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="labelHtml">
          <code><pre source="html">
&lt;form [formGroup]="formGroup03a"
  novalidate
  autocomplete="off"&gt;

  &lt;div class="app-group"&gt;
    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;"Little" height: 30px;&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;gln-radio-group name="model03a"&gt;
        &lt;gln-radio-button *ngFor="let item of fruits03a"
          formControlName="model03a"
          size="little"
          [value]="item"&gt;
          <b>&#123;</b>&#123; item &#125;&#125;
        &lt;/gln-radio-button&gt;
      &lt;/gln-radio-group&gt;
    &lt;/div&gt;
  &lt;/div&gt;

  &lt;div class="app-group"&gt;
    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;"Short" height: 36px;&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;gln-radio-group name="model03b"&gt;
        &lt;gln-radio-button *ngFor="let item of fruits03a"
          formControlName="model03b"
          size="short"
          [value]="item"&gt;
          <b>&#123;</b>&#123; item &#125;&#125;
        &lt;/gln-radio-button&gt;
      &lt;/gln-radio-group&gt;
    &lt;/div&gt;
  &lt;/div&gt;

  &lt;div class="app-group"&gt;
    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;"Small" height: 42px;&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;gln-radio-group name="model03c"&gt;
        &lt;gln-radio-button *ngFor="let item of fruits03a"
          formControlName="model03c"
          size="small"
          [value]="item"&gt;
          <b>&#123;</b>&#123; item &#125;&#125;
        &lt;/gln-radio-button&gt;
      &lt;/gln-radio-group&gt;
    &lt;/div&gt;
  &lt;/div&gt;

  &lt;div class="app-group"&gt;
    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;"Middle" height: 48px;&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;gln-radio-group name="model03d"&gt;
        &lt;gln-radio-button *ngFor="let item of fruits03a"
          formControlName="model03d"
          size="middle"
          [value]="item"&gt;
          <b>&#123;</b>&#123; item &#125;&#125;
        &lt;/gln-radio-button&gt;
      &lt;/gln-radio-group&gt;
    &lt;/div&gt;
  &lt;/div&gt;

  &lt;div class="app-group"&gt;
    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;"Wide" height: 54px;&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;gln-radio-group name="model03e"&gt;
        &lt;gln-radio-button *ngFor="let item of fruits03a"
          formControlName="model03e"
          size="wide"
          [value]="item"&gt;
          <b>&#123;</b>&#123; item &#125;&#125;
        &lt;/gln-radio-button&gt;
      &lt;/gln-radio-group&gt;
    &lt;/div&gt;
  &lt;/div&gt;

  &lt;div class="app-group"&gt;
    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;"Large" height: 60px;&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;gln-radio-group name="model03f"&gt;
        &lt;gln-radio-button *ngFor="let item of fruits03a"
          formControlName="model03f"
          size="large"
          [value]="item"&gt;
          <b>&#123;</b>&#123; item &#125;&#125;
        &lt;/gln-radio-button&gt;
      &lt;/gln-radio-group&gt;
    &lt;/div&gt;
  &lt;/div&gt;

  &lt;div class="app-group"&gt;
    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;"Huge" height: 66px;&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;gln-radio-group name="model03g"&gt;
        &lt;gln-radio-button *ngFor="let item of fruits03a"
          formControlName="model03g"
          size="huge"
          [value]="item"&gt;
          <b>&#123;</b>&#123; item &#125;&#125;
        &lt;/gln-radio-button&gt;
      &lt;/gln-radio-group&gt;
    &lt;/div&gt;
  &lt;/div&gt;

  &lt;div class="app-group"&gt;
    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;"Custom" height: 53px;&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;gln-radio-group name="model03h"&gt;
        &lt;gln-radio-button *ngFor="let item of fruits03a"
          formControlName="model03h"
          size="53"
          [value]="item"&gt;
          <b>&#123;</b>&#123; item &#125;&#125;
        &lt;/gln-radio-button&gt;
      &lt;/gln-radio-group&gt;
    &lt;/div&gt;
  &lt;/div&gt;

&lt;/form&gt;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelTs">
          <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';
import &#123;
  FormControl, FormGroup
&#125; from '@angular/forms';

@Component(&#123;
  selector: 'app-radio-button',
  templateUrl: './radio-button.component.html',
  styleUrls: ['./radio-button.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class RadioButtonComponent &#123;
  public fruits03a: string[] = ['apple', 'apricot', 'banana'];
  public formGroup03a: FormGroup = new FormGroup(&#123;
    model03a: new FormControl(this.fruits03a[0], []),
    model03b: new FormControl(this.fruits03a[0], []),
    model03c: new FormControl(this.fruits03a[0], []),
    model03d: new FormControl(this.fruits03a[0], []),
    model03e: new FormControl(this.fruits03a[0], []),
    model03f: new FormControl(this.fruits03a[0], []),
    model03g: new FormControl(this.fruits03a[0], []),
    model03h: new FormControl(this.fruits03a[0], []),
  &#125;);
&#125;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelCss">
          <code><pre source="css">
app-checkbox &#123;
  .app-group &#123;
    display: flex;
    flex-wrap: wrap;
  &#125;
  .app-elem &#123;
    min-width: 26ch;
    margin: 10px 10px;
  &#125;
&#125;</pre></code>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
</section>

<hr br-nn />