<section mr-vr>
  <h3>Button Size</h3>
  <p>
    The "size" property determines the size of the element (its height).
  </p>
  <p>
    It takes the following values:
  </p>
  <ul>
    <li>"short" - sets the height to 38px;</li>
    <li>"small" - sets the height to 44px (default);</li>
    <li>"middle" - sets the height to 50px;</li>
    <li>"wide" - sets the height to 56px;</li>
    <li>"large" - sets the height to 62px;</li>
    <li>"huge" - sets the height to 68px;</li>
  </ul>

</section>

<section mr-vr>
  <span>exterior: </span>
  <mat-button-toggle-group [(ngModel)]="exterior03">
    <mat-button-toggle value="contained">{{ labelContained }}</mat-button-toggle>
    <mat-button-toggle value="outlined">{{ labelOutlined }}</mat-button-toggle>
    <mat-button-toggle value="text">{{ labelText }}</mat-button-toggle>
  </mat-button-toggle-group>
</section>

<div *ngIf="false"
  class="app-group">
  <div class="app-elem">
    <div>
      <small><em>"Short" height: 38px; font-size: 16px;</em></small>
    </div>
    <grn-button [exterior]="exterior03"
      frameSize="short">
      <span>{{ getLabel(exterior03) }}</span>
    </grn-button>
  </div>

  <div class="app-elem">
    <div>
      <small><em>"Short" height: 38px; font-size: 16px;</em></small>
    </div>
    <grn-button [exterior]="exterior03"
      frameSize="short">
      <a [routerLink]="[routerLink]"
        [fragment]="'Attributes'">
        <span>{{ getLabel(exterior03) }} Link</span>
      </a>
    </grn-button>
  </div>
</div>

<div *ngIf="false"
  class="app-group">
  <div class="app-elem">
    <div>
      <small><em>"Small" height: 44px; font-size: 16px;</em></small>
    </div>
    <grn-button [exterior]="exterior03"
      frameSize="small">
      <span>{{ getLabel(exterior03) }}</span>
    </grn-button>
  </div>

  <div class="app-elem">
    <div>
      <small><em>"Small" height: 44px; font-size: 16px;</em></small>
    </div>
    <grn-button [exterior]="exterior03"
      frameSize="small">
      <a [routerLink]="[routerLink]"
        [fragment]="'Attributes'">
        <span>{{ getLabel(exterior03) }} Link</span>
      </a>
    </grn-button>
  </div>
</div>

<div *ngIf="false"
  class="app-group">
  <div class="app-elem">
    <div>
      <small><em>"Middle" height: 50px; font-size: 16px;</em></small>
    </div>
    <grn-button [exterior]="exterior03"
      frameSize="middle">
      <span>{{ getLabel(exterior03) }}</span>
    </grn-button>
  </div>

  <div class="app-elem">
    <div>
      <small><em>"Middle" height: 50px; font-size: 16px;</em></small>
    </div>
    <grn-button [exterior]="exterior03"
      frameSize="middle">
      <a [routerLink]="[routerLink]"
        [fragment]="'Attributes'">
        <span>{{ getLabel(exterior03) }} Link</span>
      </a>
    </grn-button>
  </div>
</div>

<div class="app-group">
  <div class="app-elem">
    <div>
      <small><em>"Wide" height: 56px; font-size: 16px;</em></small>
    </div>
    <grn-button [exterior]="exterior03"
      frameSize9="wide"
      config9="config">
      <span>{{ getLabel(exterior03) }}</span>
    </grn-button>
  </div>

  <!-- <div class="app-elem">
    <div>
      <small><em>"Wide" height: 56px; font-size: 16px;</em></small>
    </div>
    <grn-button [exterior]="exterior03"
      frameSize="wide">
      <a [routerLink]="[routerLink]"
        [fragment]="'Attributes'">
        <span>{{ getLabel(exterior03) }} Link</span>
      </a>
    </grn-button>
  </div> -->
</div>

<div *ngIf="false"
  class="app-group">
  <div class="app-elem">
    <div>
      <small><em>"Large" height: 62px; font-size: 18px;</em></small>
    </div>
    <grn-button [exterior]="exterior03"
      class="bs-large"
      frameSize="large">
      <span>{{ getLabel(exterior03) }}</span>
    </grn-button>
  </div>

  <div class="app-elem">
    <div>
      <small><em>"Large" height: 62px; font-size: 18px;</em></small>
    </div>
    <grn-button [exterior]="exterior03"
      class="bs-large"
      frameSize="large">
      <a [routerLink]="[routerLink]"
        [fragment]="'Attributes'">
        <span>{{ getLabel(exterior03) }} Link</span>
      </a>
    </grn-button>
  </div>
</div>

<div *ngIf="false"
  class="app-group">
  <div class="app-elem">
    <div>
      <small><em>"Huge" height: 68px; font-size: 20px;</em></small>
    </div>
    <grn-button [exterior]="exterior03"
      class="bs-huge"
      frameSize="huge">
      <span>{{ getLabel(exterior03) }}</span>
    </grn-button>
  </div>

  <div class="app-elem">
    <div>
      <small><em>"Huge" height: 68px; font-size: 20px;</em></small>
    </div>
    <grn-button [exterior]="exterior03"
      class="bs-huge"
      frameSize="huge">
      <a [routerLink]="[routerLink]"
        [fragment]="'Attributes'">
        <span>{{ getLabel(exterior03) }} Link</span>
      </a>
    </grn-button>
  </div>
</div>