<section mr-vr>
  <h3>Button Size</h3>
  <p>
    The "size" property determines the size of the element (its height).
  </p>
  <p>
    It takes the following values:
  </p>
  <ul>
    <li>"short" - sets the height to 38px;</li>
    <li>"small" - sets the height to 44px (default);</li>
    <li>"middle" - sets the height to 50px;</li>
    <li>"wide" - sets the height to 56px;</li>
    <li>"large" - sets the height to 62px;</li>
    <li>"huge" - sets the height to 68px;</li>
  </ul>
  <p>
    The font size is determined from the parent container.
    The size of the font can be defined with the css-style for the "grn-button" tag.
    In the example, this is implemented with the styles "bs-large" and "bs-huge".
    We can change the font size at the grn-input tag level,
    but the height of the element will not change.
  </p>
  <p>
    The height of the element remains the same even when the font size is changed
    (from font-size: 10px to font-size: 26px).
  </p>
  <p>
    It is possible to specify the height of an element. To do this,
    in the "config.frameSizeValue" property, we define the required height in pixels.
    In this case, "frameSize" and "config.frameSize" should not be used.
  </p>
</section>

<section mr-vr>
  <span>exterior: </span>
  <mat-button-toggle-group [(ngModel)]="exterior03a">
    <mat-button-toggle value="contained">{{ labelContained }}</mat-button-toggle>
    <mat-button-toggle value="outlined">{{ labelOutlined }}</mat-button-toggle>
    <mat-button-toggle value="text">{{ labelText }}</mat-button-toggle>
  </mat-button-toggle-group>
</section>

<div class="app-group">
  <div [attr.id]="fragment03a">
    <small><em>"Short" height: 38px; font-size: 16px;</em></small>
  </div>
</div>

<div class="app-group">
  <div class="app-elem">
    <grn-button [exterior]="exterior03a"
      frameSize="short">
      <span>{{ getLabel(exterior03a) }}</span>
    </grn-button>
  </div>

  <div class="app-elem">
    <grn-button [exterior]="exterior03a"
      frameSize="short">
      <a [routerLink]="[routerLink]"
        [fragment]="fragment03a">
        <span>{{ getLabel(exterior03a) }} Link</span>
      </a>
    </grn-button>
  </div>
</div>

<section mr-vr2>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="labelHtml">
          <code><pre source="html">
&lt;div class="app-group"&gt;
  &lt;div class="app-elem"&gt;
    &lt;grn-button [exterior]="exterior03a"
      frameSize="short"&gt;
      &lt;span&gt;<b>&#123;</b>&#123; getLabel(exterior03a) &#125;&#125;&lt;/span&gt;
    &lt;/grn-button&gt;
  &lt;/div&gt;

  &lt;div class="app-elem"&gt;
    &lt;grn-button [exterior]="exterior03a"
      frameSize="short"&gt;
      &lt;a [routerLink]="[routerLink]"
        [fragment]="fragment03a"&gt;
        &lt;span&gt;<b>&#123;</b>&#123; getLabel(exterior03a) &#125;&#125; Link&lt;/span&gt;
      &lt;/a&gt;
    &lt;/grn-button&gt;
  &lt;/div&gt;
&lt;/div&gt;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelTs">
          <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';

@Component(&#123;
  selector: 'app-button',
  templateUrl: './button.component.html',
  styleUrls: ['./button.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class ButtonComponent &#123;
  public exterior03a = 'outlined';
  public routerLink = '/components/button';
  public fragment03a = 'size-link03a';
  public getLabel(exterior: string): string &#123;
    return exterior ?
      exterior.substring(0, 1).toUpperCase() + exterior.substring(1) : '';
  &#125;
&#125;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelCss">
          <code><pre source="css">
.app-group &#123;
  display: flex;
  flex-wrap: wrap;
&#125;
.app-elem &#123;
  min-width: 26ch;
  margin: 10px 10px;
&#125;</pre></code>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
</section>


<div class="app-group">
  <div [attr.id]="fragment03b">
    <small><em>"Small" height: 44px; font-size: 16px;</em></small>
  </div>
</div>

<div class="app-group">
  <div class="app-elem">
    <grn-button [exterior]="exterior03a"
      frameSize="small">
      <span>{{ getLabel(exterior03a) }}</span>
    </grn-button>
  </div>

  <div class="app-elem">
    <grn-button [exterior]="exterior03a"
      frameSize="small">
      <a [routerLink]="[routerLink]"
        [fragment]="fragment03b">
        <span>{{ getLabel(exterior03a) }} Link</span>
      </a>
    </grn-button>
  </div>
</div>

<section mr-vr2>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="labelHtml">
          <code><pre source="html">
&lt;div class="app-group"&gt;
  &lt;div class="app-elem"&gt;
    &lt;grn-button [exterior]="exterior03a"
      frameSize="small"&gt;
      &lt;span&gt;<b>&#123;</b>&#123; getLabel(exterior03a) &#125;&#125;&lt;/span&gt;
    &lt;/grn-button&gt;
  &lt;/div&gt;

  &lt;div class="app-elem"&gt;
    &lt;grn-button [exterior]="exterior03a"
      frameSize="small"&gt;
      &lt;a [routerLink]="[routerLink]"
        [fragment]="fragment03b"&gt;
        &lt;span&gt;<b>&#123;</b>&#123; getLabel(exterior03a) &#125;&#125; Link&lt;/span&gt;
      &lt;/a&gt;
    &lt;/grn-button&gt;
  &lt;/div&gt;
&lt;/div&gt;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelTs">
          <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';

@Component(&#123;
  selector: 'app-button',
  templateUrl: './button.component.html',
  styleUrls: ['./button.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class ButtonComponent &#123;
  public exterior03a = 'outlined';
  public routerLink = '/components/button';
  public fragment03b = 'size-link03b';
  public getLabel(exterior: string): string &#123;
    return exterior ?
      exterior.substring(0, 1).toUpperCase() + exterior.substring(1) : '';
  &#125;
&#125;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelCss">
          <code><pre source="css">
.app-group &#123;
  display: flex;
  flex-wrap: wrap;
&#125;
.app-elem &#123;
  min-width: 26ch;
  margin: 10px 10px;
&#125;</pre></code>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
</section>


<div class="app-group">
  <div [attr.id]="fragment03c">
    <small><em>"Middle" height: 50px; font-size: 16px;</em></small>
  </div>
</div>

<div class="app-group">
  <div class="app-elem">
    <grn-button [exterior]="exterior03a"
      frameSize="middle">
      <span>{{ getLabel(exterior03a) }}</span>
    </grn-button>
  </div>

  <div class="app-elem">
    <grn-button [exterior]="exterior03a"
      frameSize="middle">
      <a [routerLink]="[routerLink]"
        [fragment]="fragment03c">
        <span>{{ getLabel(exterior03a) }} Link</span>
      </a>
    </grn-button>
  </div>
</div>

<section mr-vr2>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="labelHtml">
          <code><pre source="html">
&lt;div class="app-group"&gt;
  &lt;div class="app-elem"&gt;
    &lt;grn-button [exterior]="exterior03a"
      frameSize="middle"&gt;
      &lt;span&gt;<b>&#123;</b>&#123; getLabel(exterior03a) &#125;&#125;&lt;/span&gt;
    &lt;/grn-button&gt;
  &lt;/div&gt;

  &lt;div class="app-elem"&gt;
    &lt;grn-button [exterior]="exterior03a"
      frameSize="middle"&gt;
      &lt;a [routerLink]="[routerLink]"
        [fragment]="fragment03c"&gt;
        &lt;span&gt;<b>&#123;</b>&#123; getLabel(exterior03a) &#125;&#125; Link&lt;/span&gt;
      &lt;/a&gt;
    &lt;/grn-button&gt;
  &lt;/div&gt;
&lt;/div&gt;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelTs">
          <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';

@Component(&#123;
  selector: 'app-button',
  templateUrl: './button.component.html',
  styleUrls: ['./button.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class ButtonComponent &#123;
  public exterior03a = 'outlined';
  public routerLink = '/components/button';
  public fragment03c = 'size-link03c';
  public getLabel(exterior: string): string &#123;
    return exterior ?
      exterior.substring(0, 1).toUpperCase() + exterior.substring(1) : '';
  &#125;
&#125;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelCss">
          <code><pre source="css">
.app-group &#123;
  display: flex;
  flex-wrap: wrap;
&#125;
.app-elem &#123;
  min-width: 26ch;
  margin: 10px 10px;
&#125;</pre></code>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
</section>


<div class="app-group">
  <div [attr.id]="fragment03d">
    <small><em>"Wide" height: 56px; font-size: 16px;</em></small>
  </div>
</div>

<div class="app-group">
  <div class="app-elem">
    <grn-button [exterior]="exterior03a"
      frameSize="wide">
      <span>{{ getLabel(exterior03a) }}</span>
    </grn-button>
  </div>

  <div class="app-elem">
    <grn-button [exterior]="exterior03a"
      frameSize="wide">
      <a [routerLink]="[routerLink]"
        [fragment]="fragment03d">
        <span>{{ getLabel(exterior03a) }} Link</span>
      </a>
    </grn-button>
  </div>
</div>

<section mr-vr2>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="labelHtml">
          <code><pre source="html">
&lt;div class="app-group"&gt;
  &lt;div class="app-elem"&gt;
    &lt;grn-button [exterior]="exterior03a"
      frameSize="wide"&gt;
      &lt;span&gt;<b>&#123;</b>&#123; getLabel(exterior03a) &#125;&#125;&lt;/span&gt;
    &lt;/grn-button&gt;
  &lt;/div&gt;

  &lt;div class="app-elem"&gt;
    &lt;grn-button [exterior]="exterior03a"
      frameSize="wide"&gt;
      &lt;a [routerLink]="[routerLink]"
        [fragment]="fragment03d"&gt;
        &lt;span&gt;<b>&#123;</b>&#123; getLabel(exterior03a) &#125;&#125; Link&lt;/span&gt;
      &lt;/a&gt;
    &lt;/grn-button&gt;
  &lt;/div&gt;
&lt;/div&gt;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelTs">
          <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';

@Component(&#123;
  selector: 'app-button',
  templateUrl: './button.component.html',
  styleUrls: ['./button.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class ButtonComponent &#123;
  public exterior03a = 'outlined';
  public routerLink = '/components/button';
  public fragment03d = 'size-link03d';
  public getLabel(exterior: string): string &#123;
    return exterior ?
      exterior.substring(0, 1).toUpperCase() + exterior.substring(1) : '';
  &#125;
&#125;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelCss">
          <code><pre source="css">
.app-group &#123;
  display: flex;
  flex-wrap: wrap;
&#125;
.app-elem &#123;
  min-width: 26ch;
  margin: 10px 10px;
&#125;</pre></code>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
</section>


<div class="app-group">
  <div [attr.id]="fragment03e">
    <small><em>"Large" height: 62px; font-size: 18px;</em></small>
  </div>
</div>

<div class="app-group">
  <div class="app-elem">
    <grn-button [exterior]="exterior03a"
      class="bs-large"
      frameSize="large">
      <span>{{ getLabel(exterior03a) }}</span>
    </grn-button>
  </div>

  <div class="app-elem">
    <grn-button [exterior]="exterior03a"
      class="bs-large"
      frameSize="large">
      <a [routerLink]="[routerLink]"
        [fragment]="fragment03e">
        <span>{{ getLabel(exterior03a) }} Link</span>
      </a>
    </grn-button>
  </div>
</div>

<section mr-vr2>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="labelHtml">
          <code><pre source="html">
&lt;div class="app-group"&gt;
  &lt;div class="app-elem"&gt;
    &lt;grn-button [exterior]="exterior03a"
      class="bs-large"
      frameSize="large"&gt;
      &lt;span&gt;<b>&#123;</b>&#123; getLabel(exterior03a) &#125;&#125;&lt;/span&gt;
    &lt;/grn-button&gt;
  &lt;/div&gt;

  &lt;div class="app-elem"&gt;
    &lt;grn-button [exterior]="exterior03a"
      class="bs-large"
      frameSize="large"&gt;
      &lt;a [routerLink]="[routerLink]"
        [fragment]="fragment03e"&gt;
        &lt;span&gt;<b>&#123;</b>&#123; getLabel(exterior03a) &#125;&#125; Link&lt;/span&gt;
      &lt;/a&gt;
    &lt;/grn-button&gt;
  &lt;/div&gt;
&lt;/div&gt;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelTs">
          <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';

@Component(&#123;
  selector: 'app-button',
  templateUrl: './button.component.html',
  styleUrls: ['./button.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class ButtonComponent &#123;
  public exterior03a = 'outlined';
  public routerLink = '/components/button';
  public fragment03e = 'size-link03e';
  public getLabel(exterior: string): string &#123;
    return exterior ?
      exterior.substring(0, 1).toUpperCase() + exterior.substring(1) : '';
  &#125;
&#125;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelCss">
          <code><pre source="css">
.app-group &#123;
  display: flex;
  flex-wrap: wrap;
&#125;
.app-elem &#123;
  min-width: 26ch;
  margin: 10px 10px;
&#125;
.bs-large &#123;
  font-size: 18px;
&#125;</pre></code>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
</section>

<div class="app-group">
  <div [attr.id]="fragment03f">
    <small><em>"Huge" height: 68px; font-size: 20px;</em></small>
  </div>
</div>

<div class="app-group">
  <div class="app-elem">
    <grn-button [exterior]="exterior03a"
      class="bs-huge"
      frameSize="huge">
      <span>{{ getLabel(exterior03a) }}</span>
    </grn-button>
  </div>

  <div class="app-elem">
    <grn-button [exterior]="exterior03a"
      class="bs-huge"
      frameSize="huge">
      <a [routerLink]="[routerLink]"
        [fragment]="fragment03f">
        <span>{{ getLabel(exterior03a) }} Link</span>
      </a>
    </grn-button>
  </div>
</div>

<section mr-vr2>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="labelHtml">
          <code><pre source="html">
&lt;div class="app-group"&gt;
  &lt;div class="app-elem"&gt;
    &lt;grn-button [exterior]="exterior03a"
      class="bs-huge"
      frameSize="huge"&gt;
      &lt;span&gt;<b>&#123;</b>&#123; getLabel(exterior03a) &#125;&#125;&lt;/span&gt;
    &lt;/grn-button&gt;
  &lt;/div&gt;

  &lt;div class="app-elem"&gt;
    &lt;grn-button [exterior]="exterior03a"
      class="bs-huge"
      frameSize="huge"&gt;
      &lt;a [routerLink]="[routerLink]"
        [fragment]="fragment03f"&gt;
        &lt;span&gt;<b>&#123;</b>&#123; getLabel(exterior03a) &#125;&#125; Link&lt;/span&gt;
      &lt;/a&gt;
    &lt;/grn-button&gt;
  &lt;/div&gt;
&lt;/div&gt;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelTs">
          <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';

@Component(&#123;
  selector: 'app-button',
  templateUrl: './button.component.html',
  styleUrls: ['./button.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class ButtonComponent &#123;
  public exterior03a = 'outlined';
  public routerLink = '/components/button';
  public fragment03f = 'size-link03f';
  public getLabel(exterior: string): string &#123;
    return exterior ?
      exterior.substring(0, 1).toUpperCase() + exterior.substring(1) : '';
  &#125;
&#125;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelCss">
          <code><pre source="css">
.app-group &#123;
  display: flex;
  flex-wrap: wrap;
&#125;
.app-elem &#123;
  min-width: 26ch;
  margin: 10px 10px;
&#125;
.bs-huge &#123;
  font-size: 20px;
&#125;</pre></code>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
</section>

<hr br-nn />


<h4>Configuration for custom height (57px).</h4>

<section mr-vr>
  <span>exterior: </span>
  <mat-button-toggle-group [(ngModel)]="exterior03b">
    <mat-button-toggle value="contained">{{ labelContained }}</mat-button-toggle>
    <mat-button-toggle value="outlined">{{ labelOutlined }}</mat-button-toggle>
    <mat-button-toggle value="text">{{ labelText }}</mat-button-toggle>
  </mat-button-toggle-group>
</section>


<div class="app-group">
  <div [attr.id]="fragment03g">
    <small><em>"Huge" height: 57px; font-size: 16px;</em></small>
  </div>
</div>

<div class="app-group">
  <div class="app-elem">
    <grn-button [exterior]="exterior03b"
      [config]="config03">
      <span>{{ getLabel(exterior03b) }}</span>
    </grn-button>
  </div>

  <div class="app-elem">
    <grn-button [exterior]="exterior03b"
      [config]="config03">
      <a [routerLink]="[routerLink]"
        [fragment]="fragment03g">
        <span>{{ getLabel(exterior03b) }} Link</span>
      </a>
    </grn-button>
  </div>
</div>

<section mr-vr2>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="labelHtml">
          <code><pre source="html">
&lt;div class="app-group"&gt;
  &lt;div class="app-elem"&gt;
    &lt;grn-button [exterior]="exterior03b"
      [config]="config03"&gt;
      &lt;span&gt;<b>&#123;</b>&#123; getLabel(exterior03b) &#125;&#125;&lt;/span&gt;
    &lt;/grn-button&gt;
  &lt;/div&gt;

  &lt;div class="app-elem"&gt;
    &lt;grn-button [exterior]="exterior03b"
      [config]="config03"&gt;
      &lt;a [routerLink]="[routerLink]"
        [fragment]="fragment03g"&gt;
        &lt;span&gt;<b>&#123;</b>&#123; getLabel(exterior03b) &#125;&#125; Link&lt;/span&gt;
      &lt;/a&gt;
    &lt;/grn-button&gt;
  &lt;/div&gt;
&lt;/div&gt;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelTs">
          <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';

@Component(&#123;
  selector: 'app-button',
  templateUrl: './button.component.html',
  styleUrls: ['./button.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class ButtonComponent &#123;
  public exterior03b = 'outlined';
  public routerLink = '/components/button';
  public fragment03g = 'size-link03g';
  // GrnButtonConfig
  public config03 = &#123;
    frameSizeValue: 57,
  &#125;;
  public getLabel(exterior: string): string &#123;
    return exterior ?
      exterior.substring(0, 1).toUpperCase() + exterior.substring(1) : '';
  &#125;
&#125;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelCss">
          <code><pre source="css">
.app-group &#123;
  display: flex;
  flex-wrap: wrap;
&#125;
.app-elem &#123;
  min-width: 26ch;
  margin: 10px 10px;
&#125;</pre></code>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
</section>


<div class="app-group">
  <div [attr.id]="fragment03h">
    <small><em>"Large" height: 57px; font-size: 18px;</em></small>
  </div>
</div>

<div class="app-group">
  <div class="app-elem">
    <grn-button [exterior]="exterior03b"
      class="bs-large"
      [config]="config03">
      <span>{{ getLabel(exterior03b) }}</span>
    </grn-button>
  </div>

  <div class="app-elem">
    <grn-button [exterior]="exterior03b"
      class="bs-large"
      [config]="config03">
      <a [routerLink]="[routerLink]"
        [fragment]="fragment03h">
        <span>{{ getLabel(exterior03b) }} Link</span>
      </a>
    </grn-button>
  </div>
</div>

<section mr-vr2>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="labelHtml">
          <code><pre source="html">
&lt;div class="app-group"&gt;
  &lt;div class="app-elem"&gt;
    &lt;grn-button [exterior]="exterior03b"
      class="bs-large"
      [config]="config03"&gt;
      &lt;span&gt;<b>&#123;</b>&#123; getLabel(exterior03b) &#125;&#125;&lt;/span&gt;
    &lt;/grn-button&gt;
  &lt;/div&gt;

  &lt;div class="app-elem"&gt;
    &lt;grn-button [exterior]="exterior03b"
      class="bs-large"
      [config]="config03"&gt;
      &lt;a [routerLink]="[routerLink]"
        [fragment]="fragment03h"&gt;
        &lt;span&gt;<b>&#123;</b>&#123; getLabel(exterior03b) &#125;&#125; Link&lt;/span&gt;
      &lt;/a&gt;
    &lt;/grn-button&gt;
  &lt;/div&gt;
&lt;/div&gt;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelTs">
          <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';

@Component(&#123;
  selector: 'app-button',
  templateUrl: './button.component.html',
  styleUrls: ['./button.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class ButtonComponent &#123;
  public exterior03b = 'outlined';
  public routerLink = '/components/button';
  public fragment03h = 'size-link03h';
  // GrnButtonConfig
  public config03 = &#123;
    frameSizeValue: 57,
  &#125;;
  public getLabel(exterior: string): string &#123;
    return exterior ?
      exterior.substring(0, 1).toUpperCase() + exterior.substring(1) : '';
  &#125;
&#125;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelCss">
          <code><pre source="css">
.app-group &#123;
  display: flex;
  flex-wrap: wrap;
&#125;
.app-elem &#123;
  min-width: 26ch;
  margin: 10px 10px;
&#125;
.bs-large &#123;
  font-size: 18px;
&#125;</pre></code>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
</section>


<div class="app-group">
  <div [attr.id]="fragment03i">
    <small><em>"Huge" height: 57px; font-size: 20px;</em></small>
  </div>
</div>

<div class="app-group">
  <div class="app-elem">
    <grn-button [exterior]="exterior03b"
      class="bs-huge"
      [config]="config03">
      <span>{{ getLabel(exterior03b) }}</span>
    </grn-button>
  </div>

  <div class="app-elem">
    <grn-button [exterior]="exterior03b"
      class="bs-huge"
      [config]="config03">
      <a [routerLink]="[routerLink]"
        [fragment]="fragment03i">
        <span>{{ getLabel(exterior03b) }} Link</span>
      </a>
    </grn-button>
  </div>
</div>

<section mr-vr2>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="labelHtml">
          <code><pre source="html">
&lt;div class="app-group"&gt;
  &lt;div class="app-elem"&gt;
    &lt;grn-button [exterior]="exterior03b"
      class="bs-huge"
      [config]="config03"&gt;
      &lt;span&gt;<b>&#123;</b>&#123; getLabel(exterior03b) &#125;&#125;&lt;/span&gt;
    &lt;/grn-button&gt;
  &lt;/div&gt;

  &lt;div class="app-elem"&gt;
    &lt;grn-button [exterior]="exterior03b"
      class="bs-huge"
      [config]="config03"&gt;
      &lt;a [routerLink]="[routerLink]"
        [fragment]="fragment03i"&gt;
        &lt;span&gt;<b>&#123;</b>&#123; getLabel(exterior03b) &#125;&#125; Link&lt;/span&gt;
      &lt;/a&gt;
    &lt;/grn-button&gt;
  &lt;/div&gt;
&lt;/div&gt;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelTs">
          <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';

@Component(&#123;
  selector: 'app-button',
  templateUrl: './button.component.html',
  styleUrls: ['./button.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class ButtonComponent &#123;
  public exterior03b = 'outlined';
  public routerLink = '/components/button';
  public fragment03i = 'size-link03i';
  // GrnButtonConfig
  public config03 = &#123;
    frameSizeValue: 57,
  &#125;;
  public getLabel(exterior: string): string &#123;
    return exterior ?
      exterior.substring(0, 1).toUpperCase() + exterior.substring(1) : '';
  &#125;
&#125;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelCss">
          <code><pre source="css">
.app-group &#123;
  display: flex;
  flex-wrap: wrap;
&#125;
.app-elem &#123;
  min-width: 26ch;
  margin: 10px 10px;
&#125;
.bs-huge &#123;
  font-size: 20px;
&#125;</pre></code>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
</section>

<hr br-nn />
<hr br-nn />