<section mr-vr>
  <h4 class="app-hover-link">
    Config
    <a [href]="urlCmSnackbar + '#Config'">#</a>
  </h4>
  <p>
    If your application will have a single style for displaying notification elements,
    then you can set a single configuration.
    To do this, you need to create an object with the GlnSnackbarConfig interface and define the
    required values.
    <br />
    Next, in the <strong fw500>root</strong> class of the application
    (<strong fw500>AppComponent</strong>), during initialization, we set the required
    configuration for snackbars.
  </p>
  <code><pre source="ts">
import &#123; GlnSnackbarService &#125; from 'gelenium-ui';

@Component(&#123;
  selector: 'app-root',
  templateUrl: './app.component.html',
  styleUrls: ['./app.component.scss'],
&#125;)
export class AppComponent implements OnInit &#123;

  constructor(private snackbarService: GlnSnackbarService) &#123;&#125;

  public ngOnInit(): void &#123;
    this.snackbarService.setConfig(&#123;
      horizontal: 'left',
      vertical: 'top',
    &#125;);
  &#125;
&#125;</pre></code>
  <p>
    After that, all notifications will have the same display style.
  </p>
</section>


<section mr-vr
  id="config-interface">
  <h4 class="app-hover-link">
    GlnSnackbarConfig interface.
    <a [href]="urlCmSnackbar + '#config-interface'">#</a>
  </h4>
</section>


<table class="app-tab">
  <thead>
    <tr>
      <th class="app-mn-wd-22ch">Name</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="2"><em>Description of class GlnSnackbarConfig&lt;D = any&gt;.</em></td>
    </tr>
    <tr>
      <td><code>data?: D | null<br/>
        &nbsp;&nbsp;| undefined<br/>
        &nbsp;&nbsp;= undefined;</code></td>
      <td>
        <span>
          The data is passed to the child component (via the injector).
          <br />(default = undefined;)
        </span>
      </td>
    </tr>
    <tr>
      <td><code>duration?: number<br/>
        &nbsp;&nbsp;| undefined<br/>
        &nbsp;&nbsp;= 6000;</code></td>
      <td>
        <span>
          Time to wait (in milliseconds) before automatically closing the snackbar.
          <br />(default = 6000;)
        </span>
      </td>
    </tr>
    <tr>
      <td><code>horizontal?: string<br/>
        &nbsp;&nbsp;| undefined<br/>
        &nbsp;&nbsp;= 'center';</code></td>
      <td>
        <span>
          Horizontal position to accommodate the snackbar.
          <br />(default = 'center';)
        </span>
        <br />
        <span>Takes values:</span>
        <ul>
          <li>'left' - left aligned;</li>
          <li>'center' - center aligned (default);</li>
          <li>'right' - right aligned;</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td><code>maxCount?: number<br/>
        &nbsp;&nbsp;| undefined<br/>
        &nbsp;&nbsp;= 6;</code></td>
      <td>
        <span>
          The maximum number of visible snackbar items in the current overlay.
          <br />(default = 6;)
        </span>
      </td>
    </tr>
    <tr>
      <td><code>overlayClasses?: string<br/>
        &nbsp;&nbsp;| string[]<br/>
        &nbsp;&nbsp;| undefined<br/>
        &nbsp;&nbsp;= undefined;</code></td>
      <td>
        <span>
          Additional CSS classes to add to the snackbar overlay panel.
          <br />(default = undefined;)
        </span>
      </td>
    </tr>
    <tr>
      <td><code>vertical?: string<br/>
        &nbsp;&nbsp;| undefined<br/>
        &nbsp;&nbsp;= 'center';</code></td>
      <td>
        <span>
          Vertical position to accommodate the snackbar.
          <br />(default = 'bottom';)
        </span>
        <br />
        <span>Takes values:</span>
        <ul>
          <li>'top' - top aligned;</li>
          <li>'center' - middle aligned (default);</li>
          <li>'bottom' - bottom aligned;</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td><code>viewContainerRef?<br/>
        &nbsp;&nbsp;: ViewContainerRef<br/>
        &nbsp;&nbsp;| undefined<br/>
        &nbsp;&nbsp;= undefined;</code></td>
      <td>
        <span>
          The dependency injection view container that serves as the parent of the snackbar.
          <br />(default = undefined;)
        </span>
      </td>
    </tr>
    <tr>
      <td><code>transition?: string<br/>
        &nbsp;&nbsp;| undefined<br/>
        &nbsp;&nbsp;= 'grow';</code></td>
      <td>
        <span>
          Type of transformation when displaying (hiding) the snackbar.
          <br />(default = 'grow';)
        </span>
        <span>Takes values:</span>
        <ul>
          <li>
            'grow' - "scaling" transition
            <br /><i>(css - transform: scale(.3))</i> (default);
          </li>
          <li>
            'fade' - "manifestation" transition
            <br /><i>(css - opacity: 0)</i>;
          </li>
          <li>
            'blur' - "blur" transition
            <br /><i>(css - filter: blur(20px))</i>;
          </li>
          <li>
            'slide' - "slide up" transition
            <br /><i>(css - transform: translate(0px, 120vh))</i>;
          </li>
          <li>
            'slide-dw' - "slide down" transition
            <br /><i>(css - transform: translate(0px, -120vh))</i>;
          </li>
          <li>
            'slide-lf' - "slide left" transition
            <br /><i>(css - transform: translate(-120vw, 0px))</i>;
          </li>
          <li>
            'slide-rg' - "slide right" transition
            <br /><i>(css - transform: translate(120vw, 0px))</i>;
          </li>
          <li>
            'turn' - "3D turn along x-axis" transition
            <br /><i>(css - transform: perspective(400px) rotateX(90deg))</i>;
          </li>
          <li>
            'turn-y' - "3D turn along y-axis" transition
            <br /><i>(css - transform: perspective(400px) rotateY(90deg))</i>;
          </li>
        </ul>
      </td>
    </tr>
    <tr>
      <td><code>wrapperClass?: string<br/>
        &nbsp;&nbsp;| string[]<br/>
        &nbsp;&nbsp;| undefined<br/>
        &nbsp;&nbsp;= undefined;</code></td>
      <td>
        <span>
          Additional CSS classes to add on the wrapper to the snackbar.
          <br />(default = undefined;)
        </span>
      </td>
    </tr>

  </tbody>
</table>


<section mr-vr
  id="config-provide">
  <h4 class="app-hover-link">
    1. Configuration with horizontal="left", vertical="top".
    <a [href]="urlCmSnackbar + '#config-provide'">#</a>
  </h4>
  <p>
    For example, let's prepare a configuration in which:
  </p>
  <ul>
    <li>"horizontal" will have the value "left";</li>
    <li>"overlayClasses" will have the value "panel-custom";</li>
    <li>"vertical" will have the value "top";</li>
    <li>"transition" will have the value "turn";</li>
    <li>"wrapperClass" will have the value "wrapper-custom";</li>
  </ul>
  <code><pre source="ts">
const glnSnackbarConfigDefault: GlnSnackbarConfig = &#123;
  horizontal: 'left',
  overlayClasses: 'panel-custom',
  vertical: 'top',
  transition: 'turn',
  wrapperClass: 'wrapper-custom',
&#125;;</pre></code>
</section>

<section mr-vr
  id="config-params">
  <h4 class="app-hover-link">
    2. Configuration with horizontal="right", vertical="bottom".
    <a [href]="urlCmSnackbar + '#config-params'">#</a>
  </h4>
  <p>
    Suppose we have a provider in our application with "GlnSnackbarConfig" and all
    notifications accept its default values.
    We can change these values for an individual element.
    To do this, you need to specify in this element those properties that do not match the
    provider's configuration.
  </p>
  <p>
    For example, let's specify the following parameters:
  </p>
  <code><pre source="ts">
horizontal="right"
vertical="bottom"
transition="blur"</pre></code>
  <p>
    In other words, there is the following order of determining the configuration parameters:
  </p>
  <ul>
    <li>
      Standard values are taken.
      <code><pre source="ts">
duration=6000,
horizontal="center",
maxCount=6,
overlayClasses=undefined,
vertical="bottom",
viewContainerRef=undefined,
transition="grow",
wrapperClass=undefined</pre></code>
    </li>
    <li>
      Values from the default configuration provider (if there is one).
    </li>
    <li>
      Values from input parameters (if there is one).
    </li>
  </ul>
</section>

<hr br-nn />


<div class="app-group">

  <div class="app-elem">
    <div>
      <small>
        <em>1. Default config: horizontal="left", vertical="top".</em>
      </small>
    </div>
    <div>
      <button class="sncf-btn"
        tabindex="0"
        type="button"
        (click)="clickConfig('show snackbar with default config', config08)">
        <span>Open snackbar with default config</span>
      </button>
    </div>
  </div>

  <div class="app-elem">
    <div>
      <small>
        <em>2. horizontal="right", vertical="bottom".</em>
      </small>
    </div>
    <div>
      <button class="sncf-btn"
        tabindex="0"
        type="button"
        (click)="clickConfig('show snackbar with custom config',
          { horizontal: 'right', vertical: 'bottom', transition: 'blur' })">
        <span>Open snackbar with custom config</span>
      </button>
    </div>
  </div>

</div>


<section mr-vr>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="labelHtml">
          <code><pre source="html">
&lt;div class="app-group"&gt;

  &lt;div class="app-elem"&gt;
    &lt;div&gt;
      &lt;small&gt;
        &lt;em&gt;1. Default config: horizontal="left", vertical="top".&lt;/em&gt;
      &lt;/small&gt;
    &lt;/div&gt;
    &lt;div&gt;
      &lt;button class="sncf-btn"
        tabindex="0"
        type="button"
        (click)="clickConfig('show snackbar with default config', &#123;&#125;)"&gt;
        &lt;span&gt;Open snackbar with default config&lt;/span&gt;
      &lt;/button&gt;
    &lt;/div&gt;
  &lt;/div&gt;

  &lt;div class="app-elem"&gt;
    &lt;div&gt;
      &lt;small&gt;
        &lt;em&gt;2. horizontal="right", vertical="bottom".&lt;/em&gt;
      &lt;/small&gt;
    &lt;/div&gt;
    &lt;div&gt;
      &lt;button class="sncf-btn"
        tabindex="0"
        type="button"
        (click)="clickConfig('show snackbar with custom config',
          &#123; horizontal: 'right', vertical: 'bottom', transition: 'blur' &#125;)"&gt;
        &lt;span&gt;Open snackbar with custom config&lt;/span&gt;
      &lt;/button&gt;
    &lt;/div&gt;
  &lt;/div&gt;

&lt;/div&gt;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelTs">
          <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';

import &#123; GlnSnackbarService &#125; from 'gelenium-ui';

@Component(&#123;
  selector: 'app-root',
  templateUrl: './app.component.html',
  styleUrls: ['./app.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class AppComponent implements OnInit &#123;

  constructor(private snackbarService: GlnSnackbarService) &#123;&#125;

  public ngOnInit(): void &#123;
    this.snackbarService.setConfig(&#123;
      horizontal: 'left',
      vertical: 'top',
    &#125;);
  &#125;
&#125;


import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';

import &#123; GlnSnackbarService &#125; from 'gelenium-ui';

@Component(&#123;
  selector: 'app-snackbar',
  templateUrl: './snackbar.component.html',
  styleUrls: ['./snackbar.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class SnackbarComponent &#123;

  constructor(private snackbarService: GlnSnackbarService) &#123;&#125;

  public clickConfig(message: string, config: any): void &#123;
    this.snackbarService.open(message, '', config);
  &#125;
&#125;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelCss">
          <code><pre source="css">
app-snackbar &#123;
  .app-group &#123;
    display: flex;
    flex-wrap: wrap;
  &#125;
  .app-elem &#123;
    min-width: 26ch;
    margin: 10px 10px;
  &#125;
  .sncf-btn &#123;
    border-radius: 4px;
    border-width: 0;
    cursor: pointer;
    font-size: 0.875em;
    height: 38px;
    min-width: 64px;
    padding: 0 1.143em;
  &#125;
&#125;</pre></code>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
</section>

<hr br-nn />