<app-site-scheme>
  <div sideLeftPanel>

    <div class="ss-item">Directives</div>

    <mat-accordion displayMode="flat">

      <mat-expansion-panel [expanded]="expandedRegexCheck">
        <mat-expansion-panel-header expandedHeight="48px">
          <mat-panel-title>
            RegexCheck
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ul class="ss-ul">
          <li *ngFor="let urlItem of urlListRegexCheck">
            <a [href]="urlItem.url">{{ urlItem.label }}</a>
          </li>
        </ul>
      </mat-expansion-panel>

    </mat-accordion>
  </div>
  <div sideMainPanel>
    <router-outlet></router-outlet>
  </div>
</app-site-scheme>