<app-site-scheme>
  <div sideLeftPanel>

    <div class="ss-item">Directives</div>

    <mat-accordion displayMode="flat">

      <mat-expansion-panel [expanded]="expandedRegexCheck">
        <mat-expansion-panel-header expandedHeight="expandedHeight">
          <mat-panel-title>RegexCheck</mat-panel-title>
        </mat-expansion-panel-header>
        <ul class="ss-ul">
          <li *ngFor="let urlItem of urlListRegexCheck">
            <a [routerLink]="[urlItem.url]"
              [fragment]="urlItem.fragment">{{ urlItem.label }}</a>
          </li>
        </ul>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="expandedRegexMatch">
        <mat-expansion-panel-header expandedHeight="expandedHeight">
          <mat-panel-title>RegexMatch</mat-panel-title>
        </mat-expansion-panel-header>
        <ul class="ss-ul">
          <li *ngFor="let urlItem of urlListRegexMatch">
            <a [routerLink]="[urlItem.url]"
              [fragment]="urlItem.fragment">{{ urlItem.label }}</a>
          </li>
        </ul>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="expandedRegexRemove">
        <mat-expansion-panel-header expandedHeight="expandedHeight">
          <mat-panel-title>RegexRemove</mat-panel-title>
        </mat-expansion-panel-header>
        <ul class="ss-ul">
          <li *ngFor="let urlItem of urlListRegexRemove">
            <a [routerLink]="[urlItem.url]"
              [fragment]="urlItem.fragment">{{ urlItem.label }}</a>
          </li>
        </ul>
      </mat-expansion-panel>

    </mat-accordion>
  </div>
  <div sideMainPanel>
    <router-outlet></router-outlet>
  </div>
</app-site-scheme>