<section mr-vr>
  <h3 class="app-hover-link">
    Basic.
    <a [href]="urlCmCalendar + '#Basic'">#</a>
  </h3>
  <span>
    To use this component, in your module you need to add:
  </span>
  <code><pre source="ts">
import &#123; GlnCalendarModule &#125; from 'gelenium-ui';</pre>
  </code>
  <p>
    This component displays the calendar month (a grid of days of the month)
    and allows you to select a date.
  </p>
  <span>Here is an example of usage:</span>
  <code><pre source="html">
&lt;<strong>gln-calendar</strong> [value]="model01"&gt;
&lt;/<strong>gln-calendar</strong>&gt;</pre>
  </code>
  <code><pre source="ts">
public model01: Date | null = new Date();</pre>
  </code>
</section>

<section mr-vr>
  <label>
    <input type="checkbox"
      (change)="isDisabled01a=!isDisabled01a" />
    isDisabled01a
  </label>
</section>

<div class="app-group">

  <div class="app-elem">
    <div>
      <small><em>Attribute: value</em></small>
    </div>
    <div class="cnbs-mb">
      <small>
        <em>
          Model: {{ value01a == null ? 'null' : value01a | date:'YYYY/MM/dd' }}
        </em>
      </small>
    </div>
    <div class="cnbs-clnd">
      <gln-calendar [value]="value01a"
        [isDisabled]="isDisabled01a"
        (selected)="value01a=$event">
      </gln-calendar>
      <!-- <gln-calendar [value]="value01a">
      </gln-calendar> -->
    </div>
  </div>

  <div class="app-elem">
    <div>
      <small><em>Attribute: value</em></small>
    </div>
    <div class="cnbs-mb">
      <small>
        <em>
          Model: {{ value01b == null ? 'null' : value01b | date:'YYYY/MM/dd' }}
        </em>
      </small>
    </div>
    <div class="cnbs-clnd">
      <gln-calendar [value]="value01b"
        isHorizont
        [isDisabled]="isDisabled01a"
        (selected)="value01b=$event">
      </gln-calendar>
      <!-- <gln-calendar [value]="value01a">
      </gln-calendar> -->
    </div>
  </div>

</div>


<section mr-vr>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="labelHtml">
          <code><pre source="html">
&lt;div class="app-group"&gt;

  &lt;div class="app-elem"&gt;
    &lt;div&gt;
      &lt;small&gt;&lt;em&gt;Attribute: value&lt;/em&gt;&lt;/small&gt;
    &lt;/div&gt;
    &lt;div class="cnbs-mb"&gt;
      &lt;small&gt;
        &lt;em&gt;
          Model: <b>&#123;</b>&#123; value01a == null ? 'null' : value01a | date:'YYYY/MM/dd' &#125;&#125;
        &lt;/em&gt;
      &lt;/small&gt;
    &lt;/div&gt;
    &lt;div class="cnbs-clnd"&gt;
      &lt;gln-calendar [value]="value01a"&gt;
      &lt;/gln-calendar&gt;
    &lt;/div&gt;
  &lt;/div&gt;

&lt;/div&gt;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelTs">
          <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';

@Component(&#123;
  selector: 'app-calendar',
  templateUrl: './calendar.component.html',
  styleUrls: ['./calendar.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class CalendarComponent &#123;
  public selectedDate: Date = this.getSelectedDate();

  public value01a: Date | null = new Date(this.selectedDate);

  private getSelectedDate(): Date &#123;
    const d1: Date = new Date();
    const result: Date = new Date(d1.getFullYear(), d1.getMonth(), d1.getDate(), 0, 0, 0, 0);
    result.setDate(result.getDate() + (d1.getDate() === 1 ? 1 : -1));
    return result;
  &#125;
&#125;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelCss">
          <code><pre source="css">
app-checkbox &#123;
  .app-group &#123;
    display: flex;
    flex-wrap: wrap;
  &#125;
  .app-elem &#123;
    min-width: 26ch;
    margin: 10px 10px;
  &#125;
  .cnbs-clnd &#123;
    border: 1px solid darkgray;
    padding: 5px;
  &#125;
  .cnbs-mb &#123;
    margin-bottom: 0.5em;
  &#125;
&#125;</pre></code>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
</section>


<section>
  <p>
    The component does not support the ControlValueAccessor interface.
    <br />
    This is due to the fact that for rendering it is required to get the selected date, and
    if ngModel is used, then the selected date comes only with a writeValue() call and this
    happens after AfterViewInit().
    <br />
    <a href="https://github.com/angular/angular/issues/14988">
      ValueAccessor.writeValue is being called twice, first time with a phantom null value
    </a>
    <br />
    In other words, the data for rendering arrives too late.
  </p>
</section>

<hr br-nn />
<hr br-nn />