<section mr-vr>
  <h3 class="app-hover-link">
    Basic.
    <a [href]="urlCmCalendar + '#Basic'">#</a>
  </h3>
  <span>
    To use this component, in your module you need to add:
  </span>
  <code><pre source="ts">
import &#123; GlnCalendarModule &#125; from 'gelenium-ui';</pre>
  </code>
  <p>
    This component displays the calendar month (a grid of days of the month)
    and allows you to select a date.
  </p>
  <span>Here is an example of usage:</span>
  <code><pre source="html">
&lt;<strong>gln-calendar</strong> [value]="model01"&gt;
&lt;/<strong>gln-calendar</strong>&gt;</pre>
  </code>
  <code><pre source="ts">
public model01: Date | null = new Date();</pre>
  </code>
</section>


<div class="app-group">

  <div class="app-elem">
    <div>
      <small><em>Attribute: value</em></small>
    </div>
    <div class="cnbs-mb">
      <small><em>Model: {{ value01a == null ? 'null' : value01a | date:'YYYY/MM/dd' }}</em></small>
    </div>
    <div class="cnbs-clnd">
      <gln-calendar [value]="value01a">
      </gln-calendar>
    </div>
  </div>

</div>


<span style="color: indianred;">source</span>

<section>
  <p>
    The component does not support the ControlValueAccessor interface.
    <br />
    This is due to the fact that for rendering it is required to get the selected date, and
    if ngModel is used, then the selected date comes only with a writeValue() call and this
    happens after AfterViewInit().
    <br />
    <a href="https://github.com/angular/angular/issues/14988">
      ValueAccessor.writeValue is being called twice, first time with a phantom null value
    </a>
    <br />
    In other words, the data for rendering arrives too late.
  </p>
</section>

<hr br-nn />
<hr br-nn />