/*# sourceURL=cm-calendar-basic.component.scss */

app-cm-calendar-basic {
  display: block;

  .app-elem {
    margin-left: 15px;
    margin-right: 15px;
    // min-width: 20ch;
  }

  .cnbs1-clnd {
    border: 1px solid darkgray;
    padding: 5px;
  }


}
