<section mr-vr>
  <h3 class="app-hover-link">
    Basic.
    <a [href]="urlCmCalendar + '#Basic'">#</a>
  </h3>
  <span>
    To use this component, in your module you need to add:
  </span>
  <code><pre source="ts">
import &#123; GlnCalendarModule &#125; from 'gelenium-ui';</pre>
  </code>
  <p>
    This component displays the calendar month (a grid of days of the month)
    and allows you to select a date.
    With ngModel, the specified value comes after the second call to writeValue(),
    which happens after AfterViewInit().
    <br />
    <a href="https://github.com/angular/angular/issues/14988">
      ValueAccessor.writeValue is being called twice, first time with a phantom null value
    </a>
    Therefore, the component does not support the ControlValueAccessor interface.
  </p>
  <span> For example:</span>
  <code><pre source="html">
&lt;<strong>gln-calendar</strong>
&lt;/<strong>gln-calendar</strong>&gt;</pre></code>
</section>

<!-- selectedDate={{ selectedDate | date:'YYYY/MM/dd' }} -->




<div class="app-group">

  <div class="app-elem">
    <!-- <div>
        <small><em>exterior: Outlined</em></small>
      </div> -->
    <!-- class="slbs-mb" -->
    <div>
      <small><em>Model: {{ value01a == null ? 'null' : value01a | date:'YYYY/MM/dd' }}</em></small>
    </div>
    <div>
      <gln-calendar class="cnbs1-clnd"
        value9="value01a"
        [startDate]="startDate01a">
      </gln-calendar>
    </div>
  </div>

</div>