/*# sourceURL=cm-calendar-basic.component.scss */

app-cm-calendar-basic {
  display: block;

  .cnbs-clnd {
    border: 1px solid darkgray;
    // padding: 5px;
  }
  .cnbs-mb {
    margin-bottom: 0.5em;
  }

  .gln-calendar button {
    &.cnbs-demo1 {
      background: orange;
    }
  }
}
