<section mr-vr>
  <h3 class="app-hover-link">
    API: GlnRegexMatch.
    <a [href]="urlDrRegexMatch + '#Api'">#</a>
  </h3>
  <p>
    Selector:
    <span fw500>[glnRegexMatch]</span>
  </p>
  <p>
    Exported as:
    <span fw500>glnRegexMatch</span>
  </p>
  <p>
    The directive allows you to enter only those values that match the specified regular expression.
  </p>
</section>

<section mr-vr>
  <h4 class="app-hover-link"
    id="properties">
    Properties.
    <a [href]="urlDrRegexMatch + '#properties'">#</a>
  </h4>
</section>

<table class="app-tab">
  <tr>
    <th class="app-mn-wd-22ch">Name</th>
    <th>Description</th>
  </tr>

  <tr>
    <td>
      <code>@Input()</code>
      <code>glnRegexMatch: string | null;</code>
    </td>
    <td>
      <span>A regular expression value.</span>
      <ul>
        <li><code>glnRegexMatch="^-?(\d+)$"</code></li>
        <li><code>[glnRegexMatch]="'^-?(\\d+)$'"</code></li>
        <li><code>glnRegexMatch="/^-?(\d+)$/i"</code></li>
        <li><code>[glnRegexMatch]="'/^-?(\\d+)$/i'"</code></li>
      </ul>
      <span>
        An example of an input value as a configuration:<br />
        <code>
          [glnRegexCheck]="&#123;<br />
          'Letters': '^(?=.*[a-zA-Z])[\\w\\W]&#123;1,&#125;$',<br />
          'Digits': '^(?=.*\\d)[\\w\\W]&#123;1,&#125;$',<br />
          'Symbols': '^(?=.*[!@#$%^&*])[\\w\\W]&#123;1,&#125;$'<br />
        &#125;"
        </code>
      </span>
    </td>
  </tr>
</table>

<section mr-vr>
  <p>
    The following templates can be used as an input parameter:
  </p>
</section>
<table class="app-tab">
  <tr>
    <th>Template</th>
    <th>Regular expression</th>
  </tr>
  <tr>
    <td><code>'#numeric'</code></td>
    <td><code>'^-?(\\d+)$'</code></td>
  </tr>
  <tr>
    <td><code>'#numeric-exp'</code></td>
    <td><code>'^-?[\\d.]+(?:e-?\\d*)?$'</code></td>
  </tr>
  <tr>
    <td><code>'#numeric()'</code></td>
    <td><code>'^-?(\\d+(\\.\\d*)?|\\.\\d*)$'</code></td>
  </tr>
  <tr>
    <td><code>'#numeric12_2'</code></td>
    <td><code>'^-?(\\d&#123;1,12&#125;(\\.\\d&#123;0,2&#125;)?|\\.\\d&#123;0,2&#125;)$'</code>
    </td>
  </tr>
  <tr>
    <td><code>'#numeric(X,Y)'</code></td>
    <td>
      <code>'^-?(\\d&#123;1,X&#125;(\\.\\d&#123;0,Y&#125;)?|\\.\\d&#123;0,Y&#125;)$'</code>
      <small>where X and Y are integers greater than zero;</small>
    </td>
  </tr>
</table>

<section mr-vr>
  <h4 class="app-hover-link"
    id="additionally">
    Additionally.
    <a [href]="urlDrRegexMatch + '#additionally'">#</a>
  </h4>
  <p>
    In angular, directives are created in the order of their description, and for this reason, it is
    advisable to specify the first GlnRegexMatch directive.
    Because it filters changes to the value of the input element.
    When the GlnRegexMatch directive cancels the input changes it calls
    "event.stopImmediatePropagation();".
    This should have canceled calls to other subscriptions on this node.
    (<a href="https://developer.mozilla.org/en-US/docs/Web/API/Event/stopImmediatePropagation"
      target="_blank">Event.stopImmediatePropagation();</a>)
    However, this does not happen (
    <a href="https://github.com/angular/angular/issues/9587"
      target="_blank">event.stopImmediatePropagation() called from listeners not working</a>).
    For this reason, it is required to check the value of "event.cancelBubble" in subscriptions.
    If the value is "false", then the event.stopImmediatePropagation () method was not called and
    you can continue working.
    When the value is "true" - the method was called and no action is required.
    This check will help prevent further processing in cases where the GlnRegexMatch directive
    canceled changes.
  </p>
  <code><pre source="ts">
@HostListener('input', ['$event'])
public doInput(event: Event): void &#123;
  // https://github.com/angular/angular/issues/9587
  // "event.stopImmediatePropagation() called from listeners not working"
  // Added Event.cancelBubble check to make sure there was no call 
  // to event.stopImmediatePropagation() in previous handlers.
  if (!!event && !event.cancelBubble) &#123;
    // Further processing.
  &#125;
&#125;</pre></code>
  <p>
    Important! Remember that a regular expression must allow you to enter data sequentially.
  </p>
</section>