<p>cm-calendar-api works!</p>
<section mr-vr>
  <h3 class="app-hover-link">
    API: GlnCalendar.
    <a [href]="urlCmCalendar + '#Api'">#</a>
  </h3>
  <p>
    Selector:
    <span fw500>gln-calendar</span>
  </p>
  <p>
    Exported as:
    <span fw500>glnCalendar</span>
  </p>
</section>

<section mr-vr
  id="api-properties">
  <h4 class="app-hover-link">
    Properties.
    <a [href]="urlCmCalendar + '#api-properties'">#</a>
  </h4>
</section>


<table class="app-tab">
  <thead>
    <tr>
      <th class="app-mn-wd-22ch">Name</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <code>@Input()</code>
        <code>id: string;</code>
      </td>
      <td>
        <span>ID of the native element.
          <br />(default = `glncn-$&#123;uniqueIdCounter++&#125;`;)
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>config: GlnCalendarConfig<br/>
          &nbsp;&nbsp;| null<br/>
          &nbsp;&nbsp;| undefined;</code>
      </td>
      <td>
        <span>Defines a configuration object.</span><br />
        <a [href]="urlCmCalendar + '#config-interface'">More details.</a>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>cellSize: number<br/>
          &nbsp;&nbsp;| string<br/>
          &nbsp;&nbsp;| null<br/>
          &nbsp;&nbsp;| undefined;</code>
      </td>
      <td>
        <span>
          Determines the cell size of the element (its height and width).
          <br />
          It can take the following values:
        </span>
        <ul>
          <li>"short" - height: 28px;</li>
          <li>"small" - height: 32px;</li>
          <li>"middle" - height: 36px (default);</li>
          <li>"wide" - height: 40px;</li>
          <li>"large" - height: 44px;</li>
          <li>"huge" - height: 48px;</li>
        </ul>
        <span>
          This property can also contain the element's size in pixels as a string or a number.
          <br />
          For example: <code ubr>size="41" or [size]="41"</code>
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>colsByYears: number<br/>
          &nbsp;&nbsp;| string<br/>
          &nbsp;&nbsp;| null<br/>
          &nbsp;&nbsp;| undefined;</code>
      </td>
      <td>
        <span>
          Specifies the number of columns in the years grid.
          <br />[1..12] (for view='year').
          (default = 4;)
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>colsByMonths: number<br/>
          &nbsp;&nbsp;| string<br/>
          &nbsp;&nbsp;| null<br/>
          &nbsp;&nbsp;| undefined;</code>
      </td>
      <td>
        <span>
          Specifies the number of columns in the months grid.
          <br />[1..12] (for view='month').
          (default = 3;)
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>dateClasses:<br/>
        GlnCalendarCellClassesFun<br/>
        &nbsp;&nbsp;| undefined;</code>
      </td>
      <td>
        <span>
          A function that can be used to add custom CSS classes to dates.
          <code>
            GlnCalendarCellClassesFun = (<br/>
            &nbsp;&nbsp;date: Date, view: 'day' | 'month' | 'year', current: Date<br/>
            ) => string[];
          </code>
          <code><pre source="ts">
dateClasses1 = (
  date: Date, view: string, currentDate: Date
): string[] => &#123;
  const result: string[] = [];
  const day: number = date.getDate();
  if ('day' === view
    && date.getMonth() === currentDate.getMonth()
    && (day === 1 || day === 20)) &#123;
    result.push('cnat6-demo1');
  &#125;
  return result;
&#125;;</pre>
          </code>
          (default = undefined;)
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>dateDisabled:<br/>
        GlnCalendarCellDisabledFun<br/>
        &nbsp;&nbsp;| undefined;</code>
      </td>
      <td>
        <span>
          A function that can be used to disable a date based on a custom condition.
          <code>
            GlnCalendarCellDisabledFun = (<br/>
            &nbsp;&nbsp;date: Date, view: 'day' | 'month' | 'year', current: Date<br/>
            ) => boolean;
          </code>
          <code><pre source="ts">
dateDisabled1 = (
  date: Date, view: string, currentDate: Date
): boolean => &#123;
  const dayWeek: number = date.getDay();
  return 'day' ==== view
    && date.getMonth() === currentDate.getMonth()
    && (dayWeek === 0 || dayWeek === 1);
&#125;;</pre>
          </code>
          (default = undefined;)
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>formatByMonths: string<br/>
        &nbsp;&nbsp;| null<br/>
        &nbsp;&nbsp;| undefined;</code>
      </td>
      <td>
        <span>
          Specifies the format for naming months in a grid of months (for view='month').
          <br />
          It can take the following values:
        </span>
        <ul>
          <li>"numeric" - "6";</li>
          <li>"2-digit" - "06";</li>
          <li>"long" - "June";</li>
          <li>"short" - "Jun" (default);</li>
          <li>"narrow" - "J";</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>formatMonth: string<br/>
        &nbsp;&nbsp;| null<br/>
        &nbsp;&nbsp;| undefined;</code>
      </td>
      <td>
        <span>
          Specifies the format of the month name in the header (for view='day').
          <br />
          It can take the following values:
        </span>
        <ul>
          <li>"numeric" - "6";</li>
          <li>"2-digit" - "06";</li>
          <li>"long" - "June" (default);</li>
          <li>"short" - "Jun";</li>
          <li>"narrow" - "J";</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>isDisabled: string<br/>
          &nbsp;&nbsp;| boolean<br/>
          &nbsp;&nbsp;| null<br/>
          &nbsp;&nbsp;| undefined;</code>
      </td>
      <td>
        <span>The element is disabled.
          <br />(default = false;) Attribute (no content).
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>isHideDayoff: string<br/>
          &nbsp;&nbsp;| boolean<br/>
          &nbsp;&nbsp;| null<br/>
          &nbsp;&nbsp;| undefined;</code>
      </td>
      <td>
        <span>Hide display of dayoffs in "danger" color.
          <br />(default = false;) Attribute (no content).</span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>isHideOldDays: string<br/>
          &nbsp;&nbsp;| boolean<br/>
          &nbsp;&nbsp;| null<br/>
          &nbsp;&nbsp;| undefined;</code>
      </td>
      <td>
        <span>Hide the days of the previous and next months.
          <br />(default = false;) Attribute (no content).</span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>isHorizont: string<br/>
          &nbsp;&nbsp;| boolean<br/>
          &nbsp;&nbsp;| null<br/>
          &nbsp;&nbsp;| undefined;</code>
      </td>
      <td>
        <span>Renders a component with a horizontal layout.
          <br />(default = false;) Attribute (no content).</span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>isReadOnly: string<br/>
          &nbsp;&nbsp;| boolean<br/>
          &nbsp;&nbsp;| null<br/>
          &nbsp;&nbsp;| undefined;</code>
      </td>
      <td>
        <span>Indicates that the element is read-only.
          <br />(default = false;) Attribute (no content).
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>isStartSunday: string<br/>
          &nbsp;&nbsp;| boolean<br/>
          &nbsp;&nbsp;| null<br/>
          &nbsp;&nbsp;| undefined;</code>
      </td>
      <td>
        <span>Specifies the start of the week from "Sunday".
          By default, the start of the week is determined by the locale.
          <br />(default = false;) Attribute (no content).
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>isTwoDigitDay: string<br/>
        &nbsp;&nbsp;| boolean<br/>
        &nbsp;&nbsp;| null<br/>
        &nbsp;&nbsp;| undefined;</code>
      </td>
      <td>
        <span>
          Specifies the display of the day as a two-digit number (06) (for view='day').
          <br />(default = false;) Attribute (no content).
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>isWeekNumber: string<br/>
          &nbsp;&nbsp;| boolean<br/>
          &nbsp;&nbsp;| null<br/>
          &nbsp;&nbsp;| undefined;</code>
      </td>
      <td>
        <span>Specifies the display of the week number.
          <br />(default = false;) Attribute (no content).
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>locales: string<br/>
        &nbsp;&nbsp;| null<br/>
        &nbsp;&nbsp;| undefined;</code>
      </td>
      <td>
        <span>
          Specifies the value 'locales' for Intl.DateTimeFormat.
          <br />(default = undefined;) Examples: 'en-US', 'de-DE', 'fr-FR'.
        </span>
        <br />
        <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Intl/DateTimeFormat">
          More details: MDN "DateTimeFormat".
        </a>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>maxDate: Date<br/>
        &nbsp;&nbsp;| null<br/>
        &nbsp;&nbsp;| undefined;</code>
      </td>
      <td>
        <span>
          The maximum selectable date.
          <br />(default = undefined;)
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>minDate: Date<br/>
        &nbsp;&nbsp;| null<br/>
        &nbsp;&nbsp;| undefined;</code>
      </td>
      <td>
        <span>
          The minimum selectable date.
          <br />(default = undefined;)
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>rowsByYears: number<br/>
          &nbsp;&nbsp;| string<br/>
          &nbsp;&nbsp;| null<br/>
        &nbsp;&nbsp;| undefined;</code>
      </td>
      <td>
        <span>
          Specifies the number of rows in the years grid.
          <br />[1..12] (for view='year').
          (default = 5;)
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>sizeDayWeek: number<br/>
        &nbsp;&nbsp;| string<br/>
        &nbsp;&nbsp;| null<br/>
        &nbsp;&nbsp;| undefined;</code>
      </td>
      <td>
        <span>Specifies the length of the name of the day of the week.
          <br />(default = 2;)
          <br />It can take the following values:
        </span>
        <ul>
          <li>1 - (T);</li>
          <li>2 - (Th);</li>
          <li>3 - (Thu);</li>
          <li>-1 - (Thursday); </li>
          <li>"narrow" - (T);</li>
          <li>"short" - (Thu);</li>
          <li>"long" - (Thursday);</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>startDate: Date<br/>
          &nbsp;&nbsp;| null<br/>
          &nbsp;&nbsp;| undefined;</code>
      </td>
      <td>
        <span>Specifies the start date of the calendar.
          If not specified, the value of the "selected date" is used.
          If no "selected date" is specified, then today is taken.
          <br />(default = undefined;)
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>value: Date<br/>
          &nbsp;&nbsp;| null<br/>
          &nbsp;&nbsp;| undefined;</code>
      </td>
      <td>
        <span>Specifies the "selected date".
          <br />(default = undefined;)</span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>view: string<br/>
        &nbsp;&nbsp;| null<br/>
        &nbsp;&nbsp;| undefined;</code>
      </td>
      <td>
        <span>
          Specifies the initial value of the display mode.
          <br />(default = 'day';)
          <br />It can take the following values:
        </span>
        <ul>
          <li>'day' - display mode for day selection;</li>
          <li>'month' - display mode for month selection;</li>
          <li>'year' - display mode for year selection;</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>views: string[]<br/>
        &nbsp;&nbsp;| null<br/>
        &nbsp;&nbsp;| undefined;</code>
      </td>
      <td>
        <span>
          Specifies an array of available values for the display mode.
          <br />(default = ['day', 'year', 'month'];)
          <br />It can take the following values:
        </span>
        <ul>
          <li>'day' - display mode for day selection;</li>
          <li>'month' - display mode for month selection;</li>
          <li>'year' - display mode for year selection;</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>wdFull: string<br/>
          &nbsp;&nbsp;| null<br/>
          &nbsp;&nbsp;| undefined;</code>
      </td>
      <td>
        <span>Sets the width to the parent's width (width: 100%;).
          At the same time, it proportionally stretches the internal elements.
          <br />(default = false;) Attribute (no content).</span>
      </td>
    </tr>
  </tbody>
</table>

<hr br-nn />


<section mr-vr
  id="api-properties">
  <h4 class="app-hover-link">
    Internal properties:
    <a [href]="urlCmCalendar + '#api-internal-properties'">#</a>
  </h4>
</section>


<table class="app-tab">
  <thead>
    <tr>
      <th class="app-mn-wd-22ch">Name</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <code>markedDate: Date;</code>
      </td>
      <td>
        <span>The current cursor-marked date value.
          <br />(default = startDate || today;)
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>activeView: 'day'<br/>
          &nbsp;&nbsp;| 'month'<br/>
          &nbsp;&nbsp;| 'year';</code>
      </td>
      <td>
        <span>
          The current value of the view mode.
          <br />It can take the following values:
        </span>
        <ul>
          <li>'day' - view mode "day";</li>
          <li>'month' - view mode "month";</li>
          <li>'year' - view mode "year";</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        <code>currentMonthStr: string;</code>
      </td>
      <td>
        <span>The current value of the month name.</span>
      </td>
    </tr>
    <tr>
      <td>
        <code>currentYearStr: string;</code>
      </td>
      <td>
        <span>The current value of the year.</span>
      </td>
    </tr>
  </tbody>
</table>

<hr br-nn />


<section mr-vr
  id="api-methods">
  <h4 class="app-hover-link">
    Methods
    <a [href]="urlCmCalendar + '#api-methods'">#</a>
  </h4>
</section>


<table class="app-tab">
  <thead>
    <th colspan="2">
      <span fw500>focus(): void;</span>
    </th>
  </thead>
  <tbody>
    <tr colspan="2">
      <td>
        The current view element (day, month, or year) receives input focus.
      </td>
    </tr>
  </tbody>
</table>

<hr br-nn />

<table class="app-tab">
  <thead>
    <th colspan="2">
      <span fw500>isViewModeDay(): boolean;</span>
    </th>
  </thead>
  <tbody>
    <tr colspan="2">
      <td>
        The method returns "true" if the current representation is "day".
      </td>
    </tr>
  </tbody>
</table>

<hr br-nn />

<table class="app-tab">
  <thead>
    <th colspan="2">
      <span fw500>isViewModeMonth(): boolean;</span>
    </th>
  </thead>
  <tbody>
    <tr colspan="2">
      <td>
        The method returns "true" if the current representation is "month".
      </td>
    </tr>
  </tbody>
</table>

<hr br-nn />

<table class="app-tab">
  <thead>
    <th colspan="2">
      <span fw500>isViewModeYear(): boolean;</span>
    </th>
  </thead>
  <tbody>
    <tr colspan="2">
      <td>
        The method returns "true" if the current representation is "year".
      </td>
    </tr>
  </tbody>
</table>

<hr br-nn />


<table class="app-tab">
  <thead>
    <th colspan="2">
      <span fw500>switchViewMode(activeView: 'day' | 'month' | 'year' = this.viewMode): void;</span>
    </th>
  </thead>
  <tbody>
    <tr colspan="2">
      <td>
        The method performs the transition to the next view in the list (views).
      </td>
    </tr>
  </tbody>
</table>
<table class="app-tab">
  <thead>
    <th colspan="2">
      <code>Parameters</code>
    </th>
  </thead>
  <tbody>
    <tr>
      <td class="app-mn-wd-22ch">
        <code>activeView:<br/>
          &nbsp;'day'<br/>
          &nbsp;| 'month'<br/>
          &nbsp;| 'year';
        </code>
      </td>
      <td>
        <span>
          Specifies the current view mode.
          <br />
          It can take the following values:
        </span>
        <ul>
          <li>'day' - view mode "day";</li>
          <li>'month' - view mode "month";</li>
          <li>'year' - view mode "year";</li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>

<hr br-nn />

<table class="app-tab">
  <thead>
    <th colspan="2">
      <span fw500>getPeriodByViewMode(): 'period_month' | 'period_year' | 'period_years';</span>
    </th>
  </thead>
  <tbody>
    <tr colspan="2">
      <td>
        The method returns the period type for the 'prevPeriod()', 'nextPeriod()' methods, depending on the view mode.
      </td>
    </tr>
  </tbody>
</table>

<hr br-nn />


<table class="app-tab">
  <thead>
    <th colspan="2">
      <span fw500>prevPeriod(period: string): void;</span>
    </th>
  </thead>
  <tbody>
    <tr colspan="2">
      <td>
        Transition to the previous reporting period.
      </td>
    </tr>
  </tbody>
</table>
<table class="app-tab">
  <thead>
    <th colspan="2">
      <code>Parameters</code>
    </th>
  </thead>
  <tbody>
    <tr>
      <td class="app-mn-wd-22ch">
        <code>period: string;</code>
      </td>
      <td>
        <span>
          Specifies the period type for the transition.
          <br />
          It can take the following values:
        </span>
        <ul>
          <li>'period_month' - period month;</li>
          <li>'period year' - period year;</li>
          <li>'period years' - period "list of years";</li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>

<hr br-nn />

<table class="app-tab">
  <thead>
    <th colspan="2">
      <span fw500>nextPeriod(period: string): void;</span>
    </th>
  </thead>
  <tbody>
    <tr colspan="2">
      <td>
        Transition to the next reporting period.
      </td>
    </tr>
  </tbody>
</table>
<table class="app-tab">
  <thead>
    <th colspan="2">
      <code>Parameters</code>
    </th>
  </thead>
  <tbody>
    <tr>
      <td class="app-mn-wd-22ch">
        <code>period: string;</code>
      </td>
      <td>
        <span>
          Specifies the period type for the transition.
          <br />
          It can take the following values:
        </span>
        <ul>
          <li>'period_month' - period month;</li>
          <li>'period year' - period year;</li>
          <li>'period years' - period "list of years";</li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>

<hr br-nn />


<table class="app-tab">
  <thead>
    <th colspan="2">
      <span fw500>clickYearCell(newYear: number): void;</span>
    </th>
  </thead>
  <tbody>
    <tr colspan="2">
      <td>
        Method to select "year" for "year" view mode.
      </td>
    </tr>
  </tbody>
</table>
<table class="app-tab">
  <thead>
    <th colspan="2">
      <code>Parameters</code>
    </th>
  </thead>
  <tbody>
    <tr>
      <td class="app-mn-wd-22ch">
        <code>newYear: number;</code>
      </td>
      <td>
        <span>
          The new value for "year". Triggers the "yearSelected" event.
        </span>
      </td>
    </tr>
  </tbody>
</table>

<hr br-nn />


<table class="app-tab">
  <thead>
    <th colspan="2">
      <span fw500>clickMonthCell(newMonth: number): void;</span>
    </th>
  </thead>
  <tbody>
    <tr colspan="2">
      <td>
        Method to select "month" for "month" view mode.
      </td>
    </tr>
  </tbody>
</table>
<table class="app-tab">
  <thead>
    <th colspan="2">
      <code>Parameters</code>
    </th>
  </thead>
  <tbody>
    <tr>
      <td class="app-mn-wd-22ch">
        <code>newMonth: number;</code>
      </td>
      <td>
        <span>
          The new value for "month". Triggers the "monthSelected" event.
        </span>
      </td>
    </tr>
  </tbody>
</table>

<hr br-nn />



<table class="app-tab">
  <thead>
    <th colspan="2">
      <span fw500>clickSelectItem(cell: CalendarCell | null): void;</span>
    </th>
  </thead>
  <tbody>
    <tr colspan="2">
      <td>
        Method to select "day" (and the previously selected "month", "year") for "day" view mode.
        Triggers the "selected" event.
      </td>
    </tr>
  </tbody>
</table>
<table class="app-tab">
  <thead>
    <th colspan="2">
      <code>Parameters</code>
    </th>
  </thead>
  <tbody>
    <tr>
      <td class="app-mn-wd-22ch">
        <code>cell: CalendarCell<br/>
          &nbsp;&nbsp;| null;</code>
      </td>
      <td>
        <span>
          The new value is "day" (and the previously selected "month", "year").
        </span>
        <code>CalendarCell &#123;<br/>
          &nbsp;classes: string[];<br/>
          &nbsp;date: Date;<br/>
          &nbsp;dayWeek: number;<br/>
          &nbsp;isCurrent?: boolean | undefined;<br/>
          &nbsp;isDisabled?: boolean | undefined;<br/>
          &nbsp;isToday?: boolean | undefined;<br/>
          &nbsp;label: string;<br/>
          &nbsp;state: 'act' | 'psv' | 'slct';<br/>
          &nbsp;value: number;<br/>
          &#125;</code>
      </td>
    </tr>
  </tbody>
</table>

<hr br-nn />


<section mr-vr
  id="api-css-variables">
  <h4 class="app-hover-link">
    CSS variables at the component level.
    <a [href]="urlCmCalendar + '#api-css-variables'">#</a>
  </h4>
</section>


<table class="app-tab">
  <thead>
    <tr>
      <th class="app-mn-wd-22ch">Name</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td pd-h05><code>--glncn--default-[h,s,l]:<br/>
        var(<br/>
        &nbsp;--glncl-default-[h,s,l],<br/>
        &nbsp;var(--gln-default-[h,s,l])<br/>
        );</code>
      </td>
      <td>
        <span>
          In the "disabled" state, determines the color of: the title, the navigation buttons for the days of the month.
        </span>
        <span>
          The value is determined by the system css-variable
          <code ubr>--gln-default-[h,s,l]</code>.<br />
          Or the css-variable of the GlnColor directive
          <code ubr>--glncl-default-[h,s,l]</code>.<br />
          The hue value for the "hsl()" css function.
        </span>
      </td>
    </tr>
    <tr>
      <td pd-h05><code>--glncn--default-bg-[h,s,l]:<br/>
        var(<br/>
        --glncl-default-bg-[h,s,l],<br/>
        &nbsp;var(<br/>
        &nbsp;--gln-default-bg-[h,s,l])<br/>
        );</code>
      </td>
      <td>
        <span>
          Specifies a light text color for the selected day, month, year on a dark background.
        </span>
        <span>
          The value is determined by the system css-variable
          <code ubr>--gln-default-bg-[h,s,l]</code>.<br />
          Or the css-variable of the GlnColor directive
          <code ubr>--glncl-default-bg-[h,s,l]</code>.<br />
          The hue value for the "hsl()" css function.
        </span>
      </td>
    </tr>
    <tr>
      <td pd-h05><code>--glncn--primary-[h,s,l]:<br/>
        var(<br/>
        &nbsp;--glncl-primary-[h,s,l],<br/>
        &nbsp;var(<br/>
        &nbsp;--gln-primary-[h,s,l])<br/>
        );</code>
      </td>
      <td>
        <span>
          Specifies the color of the navigation buttons and the background color for the selected day, month, year.
        </span>
        <span>
          The value is determined by the system css-variable
          <code ubr>--gln-primary-[h,s,l]</code>.<br />
          Or the css-variable of the GlnColor directive
          <code ubr>--glncl-primary-[h,s,l]</code>.<br />
          The hue value for the "hsl()" css function.
        </span>
      </td>
    </tr>
    <tr>
      <td pd-h05><code>--glncn--danger-[h,s,l]:<br/>
        var(<br/>
        &nbsp;--glncl-danger-[h,s,l],<br/>
        &nbsp;var(--gln-danger-[h,s,l])<br/>
        );</code>
      </td>
      <td>
        <span>
          Specifies the color value of the weekend text for the "day" view mode.
        </span>
        <span>
          The value is determined by the system css-variable
          <code ubr>--gln-danger-[h,s,l]</code>.<br />
          Or the css-variable of the GlnColor directive
          <code ubr>--glncl-danger-[h,s,l]</code>.<br />
          The hue value for the "hsl()" css function.
        </span>
      </td>
    </tr>

    <tr>
      <td><code>--glncn-item-hg:<br/>
        var(--glncn--item-size);</code>
      </td>
      <td>
        <span>
          Specifies the cell height for all view modes.
          <br />By default corresponds to the specified "cellSize" parameter.
        </span>
        <span>
          The value is determined by the internal css variable
          <code ubr>--glncn--item-size</code>.
        </span>
      </td>
    </tr>
    <tr>
      <td><code>--glncn-item-wd:<br/>
        var(--glncn--item-size);</code>
      </td>
      <td>
        <span>
          Specifies the cell width for all view modes.
          <br />By default corresponds to the specified "cellSize" parameter.
        </span>
        <span>
          The value is determined by the internal css variable
          <code ubr>--glncn--item-size</code>.
        </span>
      </td>
    </tr>
    <tr>
      <td><code>--glncn-item-mr: 0px;</code>
      </td>
      <td>
        <span>
          Specifies the margin of the cell for all view modes.
        </span>
      </td>
    </tr>
    <tr>
      <td><code>--glncn-item-pd: 0px;</code>
      </td>
      <td>
        <span>
          Specifies the cell padding for all view modes.
        </span>
      </td>
    </tr>

    <tr colspan="2"
      id="api-css-variables-header">
      <th colspan="2">
        Section "header".
        <a [href]="urlCmCalendar + '#api-css-variables-header'">#</a>
      </th>
    </tr>
    <tr>
      <td><code>--glncn-head-fn-wg: 500;</code>
      </td>
      <td>
        <span>
          Specifies the "font-weight" value for the title text.
        </span>
      </td>
    </tr>
    <tr>
      <td><code>--glncn-header-ord: unset;</code>
      </td>
      <td>
        <span>
          Specifies the "order" value for the header text.
          <br />
          You can change the order of elements: "title text", "previous" button, "next" button.
          <br />For example, if you specify <code ubr>--glncn-header-ord: 1;</code>
          then we get the style as "bootstrap".
        </span>
      </td>
    </tr>
    <tr>
      <td pd-h05><code>--glncn-header-mn-wd: 8em;</code>
      </td>
      <td>
        <span>
          Specifies the "min-width" value for the header text.
        </span>
      </td>
    </tr>
    <tr>
      <td pd-h05><code>--glncn-title-pd-lf:<br/>
        calc(<br/>
        &nbsp;var(--glncn--item-size)<br/>
        &nbsp;* 0.25<br/>
        );</code>
      </td>
      <td>
        <span>
          Specifies the "padding-left" value for the header text when displayed vertically.
        </span>
      </td>
    </tr>
    <tr>
      <td pd-h05><code>--glncn-week-title-pd-lf:<br/>
        calc(<br/>
        &nbsp;var(--glncn--item-size)<br/>
        &nbsp;* 1.25<br/>
        );</code>
      </td>
      <td>
        <span>
          Specifies the "padding-left" value for the header text when displayed vertically and when displaying the week
          number ("isWeekNumber" flag).
        </span>
      </td>
    </tr>
    <tr>
      <td pd-h05><code>--glncn-def-title-cl:<br/>
      hsl(<br/>
      &nbsp;var(--gln-default-[h,s,l])<br/>
      );</code>
      </td>
      <td>
        <span>
          Specifies the "color" value for the general title default.
        </span>
      </td>
    </tr>
    <tr>
      <td pd-h05><code>--glncn-dis-title-cl:<br/>
      hsla(<br/>
      &nbsp;var(--gln-default-[h,s,l]),<br/>
      0.8);</code>
      </td>
      <td>
        <span>
          Specifies the "color" value for the general title in "disabled" mode.
        </span>
      </td>
    </tr>
    <tr>
      <td><code>--glncn-caption-hg: 2.5em;</code>
      </td>
      <td>
        <span>
          Specifies the "height" value for the caption text.
        </span>
      </td>
    </tr>
    <tr>
      <td><code>--glncn-caption-pd: 0px;</code>
      </td>
      <td>
        <span>
          Specifies the "padding" value for the caption text.
        </span>
      </td>
    </tr>

    <tr colspan="2"
      id="api-css-variables-nav">
      <th colspan="2">
        Section "nav". Buttons: "switch view", "previous", "next".
        <a [href]="urlCmCalendar + '#api-css-variables-nav'">#</a>
      </th>
    </tr>
    <tr>
      <td pd-h05><code>--glncn-def-nav-cl:<br/>
        hsl(<br/>
        &nbsp;var(--gln-primary-[h,s,l])<br/>
        );</code>
      </td>
      <td>
        <span>
          Specifies the default text color for buttons: "switch view", "previous", "next".
        </span>
      </td>
    </tr>
    <tr>
      <td><code>--glncn-def-nav-bg-cl:<br/>
        transparent;</code>
      </td>
      <td>
        <span>
          Specifies the default background color for buttons: "switch view", "previous", "next".
        </span>
      </td>
    </tr>

    <tr>
      <td pd-h05><code>--glncn-hov-nav-cl:<br/>
        var(--glncn-def-nav-cl);</code>
      </td>
      <td>
        <span>
          Specifies the text color of the mouse hover for buttons: "switch view", "previous", "next".
        </span>
      </td>
    </tr>
    <tr>
      <td pd-h05><code>--glncn-hov-nav-bg-cl:<br/>
        hsla(<br/>
        &nbsp;var(--gln-primary-[h,s,l]),<br/>
        0.1);</code>
      </td>
      <td>
        <span>
          Specifies the background color for mouse hover buttons: "switch view", "previous", "next".
        </span>
      </td>
    </tr>

    <tr>
      <td pd-h05><code>--glncn-foc-nav-cl:<br/>
        var(--glncn-hov-nav-cl);</code>
      </td>
      <td>
        <span>
          Specifies the text color when receiving focus for buttons: "switch view", "previous", "next".
        </span>
      </td>
    </tr>
    <tr>
      <td pd-h05><code>--glncn-foc-nav-bg-cl:<br/>
        var(--glncn-hov-nav-bg-cl);</code>
      </td>
      <td>
        <span>
          Specifies the background color when receiving focus for buttons: "switch view", "previous", "next".
        </span>
      </td>
    </tr>

    <tr>
      <td pd-h05><code>--glncn-dis-nav-cl:<br/>
        hsla(<br/>
        &nbsp;var(--gln-default-[h,s,l]),<br/>
        0.6);</code>
      </td>
      <td>
        <span>
          Specifies the color of the text when the state is "disabled" for buttons: "switch view", "previous", "next".
        </span>
      </td>
    </tr>
    <tr>
      <td pd-h05><code>--glncn-dis-nav-bg-cl:<br/>
        transparent;</code>
      </td>
      <td>
        <span>
          Specifies the background color when the state is "disabled" for buttons: "switch view", "previous", "next".
        </span>
      </td>
    </tr>

    <tr>
      <td><code>--glncn-nav-br-rd:<br/>
        var(--glncn-br-rd, 50%);</code>
      </td>
      <td>
        <span>
          Specifies the "border-radius" property for buttons: "switch view", "previous", "next".
        </span>
      </td>
    </tr>
    <tr>
      <td><code>--glncn-nav-pd: 0.5em;</code>
      </td>
      <td>
        <span>
          Specifies the "padding" property for buttons: "switch view", "previous", "next".
        </span>
      </td>
    </tr>

    <tr>
      <td><code>--glncn-prev-ord: unset;</code>
      </td>
      <td>
        <span>
          Specifies the "order" property for the "previous" button.
          <br />
          You can change the order of elements: "title text", "previous" button, "next" button.
        </span>
      </td>
    </tr>
    <tr>
      <td><code>--glncn-next-ord: unset;</code>
      </td>
      <td>
        <span>
          Specifies the "order" property for the "next" button.
          <br />
          You can change the order of elements: "title text", "previous" button, "next" button.
        </span>
      </td>
    </tr>

    <tr colspan="2"
      id="api-css-variables-day-cage">
      <th colspan="2">
        Section "cage" view mode "day". The header "name of the days of the week".
        <a [href]="urlCmCalendar + '#api-css-variables-day-cage'">#</a>
      </th>
    </tr>
    <tr>
      <td><code>font-size:<br/>
        &nbsp;calc(1em - 1px);</code>
      </td>
      <td>
        <span>
          Specifies the "font-size" property for the "days of the week" header.
        </span>
      </td>
    </tr>
    <tr>
      <td><code>--glncn-cage-fn-wg: 400;</code>
      </td>
      <td>
        <span>
          Specifies the "font-weight" property for the "days of the week" header.
        </span>
      </td>
    </tr>
    <tr>
      <td><code>--glncn-cage-hg:<br/>
        &nbsp;var(--glncn-item-hg);</code>
      </td>
      <td>
        <span>
          Specifies the "height" property for the "days of the week" header.
        </span>
      </td>
    </tr>

    <tr colspan="2"
      id="api-css-variables-day-row">
      <th colspan="2">
        Section "row" view mode "day".
        <a [href]="urlCmCalendar + '#api-css-variables-day-row'">#</a>
      </th>
    </tr>
    <tr>
      <td><code>--glncn-row-fn-wg: 400;</code>
      </td>
      <td>
        <span>
          Specifies the "font-weight" property for the "day of the month" row.
        </span>
      </td>
    </tr>

    <tr colspan="2"
      id="api-css-variables-day-cell-def">
      <th colspan="2">
        Section "cell" view mode "day" - default text and background color.
        <a [href]="urlCmCalendar + '#api-css-variables-day-cell-def'">#</a>
      </th>
    </tr>
    <tr>
      <td pd-h05><code>--glncn-def-act-cl:<br/>
        hsl(<br/>
        &nbsp;var(--gln-default-[h,s,l])<br/>
        );</code>
      </td>
      <td>
        <span>
          Specifies the default text color for the "day of the month" cell for the current month (active).
        </span>
      </td>
    </tr>
    <tr>
      <td><code>--glncn-def-act-bg-cl:<br/>
        transparent;</code>
      </td>
      <td>
        <span>
          Specifies the default background color for the "day of the month" cell for the current month (active).
        </span>
      </td>
    </tr>
    <tr>
      <td pd-h05><code>--glncn-def-slct-cl:<br/>
        hsl(<br/>
        var(--gln-default-bg-[h,s,l])<br/>
        );</code>
      </td>
      <td>
        <span>
          Specifies the default text color for the "day of the month" cell for the selected date.
        </span>
      </td>
    </tr>
    <tr>
      <td pd-h05><code>--glncn-def-slct-bg-cl:<br/>
        hsl(<br/>
          &nbsp;var(--gln-primary-[h,s,l])<br/>
        );</code>
      </td>
      <td>
        <span>
          Specifies the default background color for the "day of the month" cell for the selected date.
        </span>
      </td>
    </tr>
    <tr>
      <td pd-h05><code>--glncn-def-psv-cl:<br/>
        hsla(<br/>
        &nbsp;var(--gln-default-[h,s,l]),<br/>
        0.6);</code>
      </td>
      <td>
        <span>
          Specifies the default text color for the "day of the month" cell for the previous (next) month (passive).
        </span>
      </td>
    </tr>
    <tr>
      <td><code>--glncn-def-psv-bg-cl:<br/>
        transparent;</code>
      </td>
      <td>
        <span>
          Specifies the default background color for the "day of the month" cell for the previous (next) month
          (passive).
        </span>
      </td>
    </tr>

    <tr colspan="2"
      id="api-css-variables-day-cell-hov">
      <th colspan="2">
        Section "cell" view mode "day" - text and background color on mouse hover.
        <a [href]="urlCmCalendar + '#api-css-variables-day-cell-hov'">#</a>
      </th>
    </tr>
    <tr>
      <td><code>--glncn-hov-act-cl:<br/>
        var(--glncn-def-act-cl);</code>
      </td>
      <td>
        <span>
          Specifies the text color for the "day of the month" cell on mouse hover for the current (active) month.
        </span>
      </td>
    </tr>
    <tr>
      <td pd-h05><code>--glncn-hov-act-bg-cl:<br/>
        hsla(<br/>
        &nbsp;var(--gln-primary-[h,s,l]),<br/>
        0.15);</code>
      </td>
      <td>
        <span>
          Specifies the background color for the "day of the month" cell on mouse hover for the current month (active).
        </span>
      </td>
    </tr>
    <tr>
      <td><code>--glncn-hov-slct-cl:<br/>
        var(--glncn-def-slct-cl);</code>
      </td>
      <td>
        <span>
          Specifies the text color for the "day of the month" cell on mouse hover for the selected date.
        </span>
      </td>
    </tr>
    <tr>
      <td pd-h05><code>--glncn-hov-slct-bg-cl:<br/>
        hsl(<br/>
          &nbsp;var(--gln--primary-h),<br/>
          &nbsp;var(--gln--primary-s),<br/>
          &nbsp;calc(var(--gln--primary-l) - 7%)<br/>
        );</code>
      </td>
      <td>
        <span>
          Specifies the background color for the "day of the month" cell on mouse hover for the selected date.
        </span>
      </td>
    </tr>
    <tr>
      <td><code>--glncn-hov-psv-cl:<br/>
        &nbsp;var(--glncn-def-psv-cl);</code>
      </td>
      <td>
        <span>
          Specifies the text color for the "day of the month" cell on mouse hover for the previous (next) month
          (passive).
        </span>
      </td>
    </tr>
    <tr>
      <td><code>--glncn-hov-psv-bg-cl:<br/>
        &nbsp;var(--glncn-def-psv-bg-cl);</code>
      </td>
      <td>
        <span>
          Specifies the background color for the "day of the month" cell on mouse hover for the previous (next) month
          (passive).
        </span>
      </td>
    </tr>

    <!-- <tr>
      <td pd-h05><code>--glncn-hov-nav-cl:<br/>
        var(--glncn-def-nav-cl);</code>
      </td>
      <td>
        <span>
          Specifies the text color of the mouse hover for buttons: "switch view", "previous", "next".
        </span>
      </td>
    </tr>
    <tr>
      <td pd-h05><code>--glncn-hov-nav-bg-cl:<br/>
        hsla(<br/>
        &nbsp;var(--gln-primary-[h,s,l]),<br/>
        0.1);</code>
      </td>
      <td>
        <span>
          Specifies the background color for mouse hover buttons: "switch view", "previous", "next".
        </span>
      </td>
    </tr> -->

    <!-- <tr>
      <td pd-h05><code>--glncn-foc-nav-cl:<br/>
        var(--glncn-hov-nav-cl);</code>
      </td>
      <td>
        <span>
          Specifies the text color when receiving focus for buttons: "switch view", "previous", "next".
        </span>
      </td>
    </tr>
    <tr>
      <td pd-h05><code>--glncn-foc-nav-bg-cl:<br/>
        var(--glncn-hov-nav-bg-cl);</code>
      </td>
      <td>
        <span>
          Specifies the background color when receiving focus for buttons: "switch view", "previous", "next".
        </span>
      </td>
    </tr> -->

    <!-- <tr>
      <td pd-h05><code>--glncn-dis-nav-cl:<br/>
        hsla(<br/>
        &nbsp;var(--gln-default-[h,s,l]),<br/>
        0.6);</code>
      </td>
      <td>
        <span>
          Specifies the color of the text when the state is "disabled" for buttons: "switch view", "previous", "next".
        </span>
      </td>
    </tr>
    <tr>
      <td pd-h05><code>--glncn-dis-nav-bg-cl:<br/>
        transparent;</code>
      </td>
      <td>
        <span>
          Specifies the background color when the state is "disabled" for buttons: "switch view", "previous", "next".
        </span>
      </td>
    </tr> -->

  </tbody>
</table>

<!-- <tr colspan="2"
      id="api-css-variables-nav">
      <th colspan="2">
        Section "nav". Buttons: "switch view", "previous", "next".
        <a [href]="urlCmCalendar + '#api-css-variables-nav'">#</a>
      </th>
    </tr> -->
<section mr-vr
  id="api-css-variables-tmp01">
  <h4 class="app-hover-link">
    CSS variables-tmp01.
    <a [href]="urlCmCalendar + '#api-css-variables-tmp01'">#</a>
  </h4>
</section>
<table class="app-tab">
  <thead>
    <tr>
      <th class="app-mn-wd-22ch">Name</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>

    <tr>
      <td pd-h05><code>--glncn-def-nav-cl:<br/>
        hsl(<br/>
        &nbsp;var(--gln-primary-[h,s,l])<br/>
        );</code>
      </td>
      <td>
        <span>
          Specifies the default text color for buttons: "switch view", "previous", "next".
        </span>
      </td>
    </tr>

  </tbody>
</table>

<hr br-nn />