<section mr-vr
  [attr.id]="fragment8">
  <p>Button style in "Warning" mode.</p>
</section>

<section mr-vr>
  <label>
    <input type="checkbox"
      (change)="isDisabledWarning=!isDisabledWarning" />
    Is disabled
  </label>
</section>

<div class="bp-items bstr-warning">

  <gln-button class="bstr-btn"
    noElevation
    noUppercase
    [glnColor]="{ primary: 'bs-warning' }"
    exterior="contained"
    frameSize="short"
    isNoRipple
    [isDisabled]="isDisabledWarning ? '': null">
    <span>Warning 1</span>
  </gln-button>

  <gln-button class="bstr-btn"
    noElevation
    noUppercase
    [glnColor]="{ primary: 'bs-warning' }"
    exterior="contained"
    frameSize="short"
    isNoRipple
    [isDisabled]="isDisabledWarning ? '': null">
    <a [routerLink]="[routerLink]"
      [fragment]="fragment8">
      Warning 1 Link
    </a>
  </gln-button>

  <gln-button class="bstr-btn"
    noUppercase
    [glnColor]="{ primary: 'bs-warning' }"
    exterior="outlined"
    frameSize="short"
    isNoRipple
    [isDisabled]="isDisabledWarning ? '': null">
    <span>Warning 2</span>
  </gln-button>

  <gln-button class="bstr-btn"
    noUppercase
    [glnColor]="{ primary: 'bs-warning' }"
    exterior="outlined"
    frameSize="short"
    isNoRipple
    [isDisabled]="isDisabledWarning ? '': null">
    <a [routerLink]="[routerLink]"
      [fragment]="fragment8">
      Warning 2 Link
    </a>
  </gln-button>

</div>

<section mr-vr>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="labelHtml">
          <code><pre source="html">
&lt;div class="bp-items bstr-warning"&gt;

  &lt;gln-button class="bstr-btn"
    noElevation
    noUppercase
    [glnColor]="&#123; primary: 'bs-warning' &#125;"
    exterior="contained"
    frameSize="short"
    isNoRipple
    [isDisabled]="isDisabledWarning ? '': null"&gt;
    &lt;span&gt;Warning 1&lt;/span&gt;
  &lt;/gln-button&gt;

  &lt;gln-button class="bstr-btn"
    noElevation
    noUppercase
    [glnColor]="&#123; primary: 'bs-warning' &#125;"
    exterior="contained"
    frameSize="short"
    isNoRipple
    [isDisabled]="isDisabledWarning ? '': null"&gt;
    &lt;a [routerLink]="[routerLink]"
      [fragment]="fragment8"&gt;
      Warning 1 Link
    &lt;/a&gt;
  &lt;/gln-button&gt;

  &lt;gln-button class="bstr-btn"
    noUppercase
    [glnColor]="&#123; primary: 'bs-warning' &#125;"
    exterior="outlined"
    frameSize="short"
    isNoRipple
    [isDisabled]="isDisabledWarning ? '': null"&gt;
    &lt;span&gt;Warning 2&lt;/span&gt;
  &lt;/gln-button&gt;

  &lt;gln-button class="bstr-btn"
    noUppercase
    [glnColor]="&#123; primary: 'bs-warning' &#125;"
    exterior="outlined"
    frameSize="short"
    isNoRipple
    [isDisabled]="isDisabledWarning ? '': null"&gt;
    &lt;a [routerLink]="[routerLink]"
      [fragment]="fragment8"&gt;
      Warning 2 Link
    &lt;/a&gt;
  &lt;/gln-button&gt;

&lt;/div&gt;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelTs">
          <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';

@Component(&#123;
  selector: 'app-button',
  templateUrl: './button.component.html',
  styleUrls: ['./button.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class ButtonComponent &#123;
  public routerLink = '/components/button';
  public fragment8 = 'palette8';
  public isDisabledWarning = false;
&#125;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelCss">
          <code><pre source="css">
.bp-items &#123;
  display: flex;
  flex-wrap: wrap;
&#125;
.bp-items &gt; :first-child &#123;
  margin-left: 1%;
&#125;
.bp-items &gt; :not(first-child) &#123;
  margin-left: 5%;
&#125;

// ** Style: bstrap "bs-btn" **
.bstr-btn.gln-button &#123;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  --glnbt-lb-pd-lf: 0.75rem;
  --glnbt-lb-pd-rg: 0.75rem;
&#125;
.bstr-btn.gln-button.gln-disabled&gt;.glnbt-btn &#123;
  opacity: .65;
&#125;
.bstr-btn.gln-button:not(.gln-disabled):not(.no-shadow)&gt;.glnbt-btn:focus-within,
.bstr-btn.gln-button:not(.gln-disabled):not(.no-shadow).focus&gt;.glnbt-btn &#123;
  box-shadow: 0 0 0 0.2rem hsla(var(--glnbt--primary-h), var(--glnbt--primary-s), 57%, 50%);
&#125;

// ** Style: bstrap "bs-btn-contained" **
.bstr-btn.glnbt-contained&gt;.glnbt-btn &#123;
  --glnbt-c-foc-bg-cl: var(--glnbt--hov-bg-cl);
  --glnbt-c-dis-cl: var(--glnbt--def-cl);
  --glnbt-c-dis-bg-cl:  var(--glnbt--def-bg-cl);
  --glnbt-c-dis-br-cl:  var(--glnbt--def-bg-cl);
&#125;

// ** Style: bstrap "bs-btn-outline" **
.bstr-btn.gln-button.glnbt-outlined &#123;
  --glnbt-o-def-br-cl: var(--glnbt--def-cl);
  --glnbt-o-hov-cl: var(--bs-o-hov-cl,  hsl(var(--glnbt--default-bg-h), var(--glnbt--default-bg-s), 100%)); // #fff
  --glnbt--hov-bg-cl: var(--glnbt-o-def-cl);
  --glnbt-o-dis-cl:  var(--glnbt--def-cl);
  --glnbt-o-dis-br-cl:  var(--glnbt--def-cl);
&#125;

.bstr-warning &#123;
  --gln-bs-warning-h: 45;
  --gln-bs-warning-s: 100%;
  --gln-bs-warning-l: 51%;
  // #ffc107 = hsl(45deg 100% 51%);
  --glnbt-c-def-cl   : #212529;
  --glnbt-c-def-bg-cl: #ffc107;
  --glnbt-c-def-br-cl: #ffc107;
  --glnbt-c-hov-bg-cl: #e0a800;
  --glnbt-c-hov-br-cl: #d39e00;
  --glnbt-o-def-cl: #ffc107;
  --bs-o-hov-cl: #212529;
&#125;</pre></code>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
</section>

<hr br-nn />


<section mr-vr
  [attr.id]="fragment9">
  <p>Button style in "Info" mode.</p>
</section>

<section mr-vr>
  <label>
    <input type="checkbox"
      (change)="isDisabledInfo=!isDisabledInfo" />
    Is disabled
  </label>
</section>

<div class="bp-items bstr-info">

  <gln-button class="bstr-btn"
    noElevation
    noUppercase
    [glnColor]="{ primary: 'bs-info' }"
    exterior="contained"
    frameSize="short"
    isNoRipple
    [isDisabled]="isDisabledInfo ? '': null">
    <span>Info 1</span>
  </gln-button>

  <gln-button class="bstr-btn"
    noElevation
    noUppercase
    [glnColor]="{ primary: 'bs-info' }"
    exterior="contained"
    frameSize="short"
    isNoRipple
    [isDisabled]="isDisabledInfo ? '': null">
    <a [routerLink]="[routerLink]"
      [fragment]="fragment9">
      Info 1 Link
    </a>
  </gln-button>

  <gln-button class="bstr-btn"
    noUppercase
    [glnColor]="{ primary: 'bs-info' }"
    exterior="outlined"
    frameSize="short"
    isNoRipple
    [isDisabled]="isDisabledInfo ? '': null">
    <span>Info 2</span>
  </gln-button>

  <gln-button class="bstr-btn"
    noUppercase
    [glnColor]="{ primary: 'bs-info' }"
    exterior="outlined"
    frameSize="short"
    isNoRipple
    [isDisabled]="isDisabledInfo ? '': null">
    <a [routerLink]="[routerLink]"
      [fragment]="fragment9">
      Info 2 Link
    </a>
  </gln-button>

</div>

<section mr-vr>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="labelHtml">
          <code><pre source="html">
&lt;div class="bp-items bstr-info"&gt;

  &lt;gln-button class="bstr-btn"
    noElevation
    noUppercase
    [glnColor]="&#123; primary: 'bs-info' &#125;"
    exterior="contained"
    frameSize="short"
    isNoRipple
    [isDisabled]="isDisabledInfo ? '': null"&gt;
    &lt;span&gt;Info 1&lt;/span&gt;
  &lt;/gln-button&gt;

  &lt;gln-button class="bstr-btn"
    noElevation
    noUppercase
    [glnColor]="&#123; primary: 'bs-info' &#125;"
    exterior="contained"
    frameSize="short"
    isNoRipple
    [isDisabled]="isDisabledInfo ? '': null"&gt;
    &lt;a [routerLink]="[routerLink]"
      [fragment]="fragment9"&gt;
      Info 1 Link
    &lt;/a&gt;
  &lt;/gln-button&gt;

  &lt;gln-button class="bstr-btn"
    noUppercase
    [glnColor]="&#123; primary: 'bs-info' &#125;"
    exterior="outlined"
    frameSize="short"
    isNoRipple
    [isDisabled]="isDisabledInfo ? '': null"&gt;
    &lt;span&gt;Info 2&lt;/span&gt;
  &lt;/gln-button&gt;

  &lt;gln-button class="bstr-btn"
    noUppercase
    [glnColor]="&#123; primary: 'bs-info' &#125;"
    exterior="outlined"
    frameSize="short"
    isNoRipple
    [isDisabled]="isDisabledInfo ? '': null"&gt;
    &lt;a [routerLink]="[routerLink]"
      [fragment]="fragment9"&gt;
      Info 2 Link
    &lt;/a&gt;
  &lt;/gln-button&gt;

&lt;/div&gt;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelTs">
          <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';

@Component(&#123;
  selector: 'app-button',
  templateUrl: './button.component.html',
  styleUrls: ['./button.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class ButtonComponent &#123;
  public routerLink = '/components/button';
  public fragment9 = 'palette9';
  public isDisabledInfo = false;
&#125;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelCss">
          <code><pre source="css">
.bp-items &#123;
  display: flex;
  flex-wrap: wrap;
&#125;
.bp-items &gt; :first-child &#123;
  margin-left: 1%;
&#125;
.bp-items &gt; :not(first-child) &#123;
  margin-left: 5%;
&#125;

// ** Style: bstrap "bs-btn" **
.bstr-btn.gln-button &#123;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  --glnbt-lb-pd-lf: 0.75rem;
  --glnbt-lb-pd-rg: 0.75rem;
&#125;
.bstr-btn.gln-button.gln-disabled&gt;.glnbt-btn &#123;
  opacity: .65;
&#125;
.bstr-btn.gln-button:not(.gln-disabled):not(.no-shadow)&gt;.glnbt-btn:focus-within,
.bstr-btn.gln-button:not(.gln-disabled):not(.no-shadow).focus&gt;.glnbt-btn &#123;
  box-shadow: 0 0 0 0.2rem hsla(var(--glnbt--primary-h), var(--glnbt--primary-s), 57%, 50%);
&#125;

// ** Style: bstrap "bs-btn-contained" **
.bstr-btn.glnbt-contained&gt;.glnbt-btn &#123;
  --glnbt-c-foc-bg-cl: var(--glnbt--hov-bg-cl);
  --glnbt-c-dis-cl: var(--glnbt--def-cl);
  --glnbt-c-dis-bg-cl:  var(--glnbt--def-bg-cl);
  --glnbt-c-dis-br-cl:  var(--glnbt--def-bg-cl);
&#125;

// ** Style: bstrap "bs-btn-outline" **
.bstr-btn.gln-button.glnbt-outlined &#123;
  --glnbt-o-def-br-cl: var(--glnbt--def-cl);
  --glnbt-o-hov-cl: var(--bs-o-hov-cl,  hsl(var(--glnbt--default-bg-h), var(--glnbt--default-bg-s), 100%)); // #fff
  --glnbt--hov-bg-cl: var(--glnbt-o-def-cl);
  --glnbt-o-dis-cl:  var(--glnbt--def-cl);
  --glnbt-o-dis-br-cl:  var(--glnbt--def-cl);
&#125;

// ** Style: bstrap "Info" **

.bstr-info &#123;
  --gln-bs-info-h: 188;
  --gln-bs-info-s: 78%;
  --gln-bs-info-l: 41%;
  // #17a2b8 = hsl(188deg 78% 41%);
  --glnbt-c-def-bg-cl: #17a2b8;
  --glnbt-c-def-br-cl: #17a2b8;
  --glnbt-c-hov-bg-cl: #138496;
  --glnbt-c-hov-br-cl: #117a8b;
  --glnbt-o-def-cl: #17a2b8;
&#125;</pre></code>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
</section>

<hr br-nn />


<section mr-vr
  [attr.id]="fragment10">
  <p>Button style in "Light" mode.</p>
</section>

<section mr-vr>
  <label>
    <input type="checkbox"
      (change)="isDisabledLight=!isDisabledLight" />
    Is disabled
  </label>
</section>

<div class="bp-items bstr-light">

  <gln-button class="bstr-btn"
    noElevation
    noUppercase
    [glnColor]="{ primary: 'bs-light' }"
    exterior="contained"
    frameSize="short"
    isNoRipple
    [isDisabled]="isDisabledLight ? '': null">
    <span>Light 1</span>
  </gln-button>

  <gln-button class="bstr-btn"
    noElevation
    noUppercase
    [glnColor]="{ primary: 'bs-light' }"
    exterior="contained"
    frameSize="short"
    isNoRipple
    [isDisabled]="isDisabledLight ? '': null">
    <a [routerLink]="[routerLink]"
      [fragment]="fragment10">
      Light 1 Link
    </a>
  </gln-button>

  <gln-button class="bstr-btn no-shadow"
    noUppercase
    [glnColor]="{ primary: 'bs-light' }"
    exterior="outlined"
    frameSize="short"
    isNoRipple
    [isDisabled]="isDisabledLight ? '': null">
    <span>Light 2</span>
  </gln-button>

  <gln-button class="bstr-btn no-shadow"
    noUppercase
    [glnColor]="{ primary: 'bs-light' }"
    exterior="outlined"
    frameSize="short"
    isNoRipple
    [isDisabled]="isDisabledLight ? '': null">
    <a [routerLink]="[routerLink]"
      [fragment]="fragment10">
      Light 2 Link
    </a>
  </gln-button>

</div>

<section mr-vr>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="labelHtml">
          <code><pre source="html">
&lt;div class="bp-items bstr-light"&gt;

  &lt;gln-button class="bstr-btn"
    noElevation
    noUppercase
    [glnColor]="&#123; primary: 'bs-light' &#125;"
    exterior="contained"
    frameSize="short"
    isNoRipple
    [isDisabled]="isDisabledLight ? '': null"&gt;
    &lt;span&gt;Light 1&lt;/span&gt;
  &lt;/gln-button&gt;

  &lt;gln-button class="bstr-btn"
    noElevation
    noUppercase
    [glnColor]="&#123; primary: 'bs-light' &#125;"
    exterior="contained"
    frameSize="short"
    isNoRipple
    [isDisabled]="isDisabledLight ? '': null"&gt;
    &lt;a [routerLink]="[routerLink]"
      [fragment]="fragment10"&gt;
      Light 1 Link
    &lt;/a&gt;
  &lt;/gln-button&gt;

  &lt;gln-button class="bstr-btn no-shadow"
    noUppercase
    [glnColor]="&#123; primary: 'bs-light' &#125;"
    exterior="outlined"
    frameSize="short"
    isNoRipple
    [isDisabled]="isDisabledLight ? '': null"&gt;
    &lt;span&gt;Light 2&lt;/span&gt;
  &lt;/gln-button&gt;

  &lt;gln-button class="bstr-btn no-shadow"
    noUppercase
    [glnColor]="&#123; primary: 'bs-light' &#125;"
    exterior="outlined"
    frameSize="short"
    isNoRipple
    [isDisabled]="isDisabledLight ? '': null"&gt;
    &lt;a [routerLink]="[routerLink]"
      [fragment]="fragment10"&gt;
      Light 2 Link
    &lt;/a&gt;
  &lt;/gln-button&gt;

&lt;/div&gt;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelTs">
          <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';

@Component(&#123;
  selector: 'app-button',
  templateUrl: './button.component.html',
  styleUrls: ['./button.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class ButtonComponent &#123;
  public routerLink = '/components/button';
  public fragment10 = 'palette10';
  public isDisabledLight = false;
&#125;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelCss">
          <code><pre source="css">
.bp-items &#123;
  display: flex;
  flex-wrap: wrap;
&#125;
.bp-items &gt; :first-child &#123;
  margin-left: 1%;
&#125;
.bp-items &gt; :not(first-child) &#123;
  margin-left: 5%;
&#125;

// ** Style: bstrap "bs-btn" **
.bstr-btn.gln-button &#123;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  --glnbt-lb-pd-lf: 0.75rem;
  --glnbt-lb-pd-rg: 0.75rem;
&#125;
.bstr-btn.gln-button.gln-disabled&gt;.glnbt-btn &#123;
  opacity: .65;
&#125;
.bstr-btn.gln-button:not(.gln-disabled):not(.no-shadow)&gt;.glnbt-btn:focus-within,
.bstr-btn.gln-button:not(.gln-disabled):not(.no-shadow).focus&gt;.glnbt-btn &#123;
  box-shadow: 0 0 0 0.2rem hsla(var(--glnbt--primary-h), var(--glnbt--primary-s), 57%, 50%);
&#125;

// ** Style: bstrap "bs-btn-contained" **
.bstr-btn.glnbt-contained&gt;.glnbt-btn &#123;
  --glnbt-c-foc-bg-cl: var(--glnbt--hov-bg-cl);
  --glnbt-c-dis-cl: var(--glnbt--def-cl);
  --glnbt-c-dis-bg-cl:  var(--glnbt--def-bg-cl);
  --glnbt-c-dis-br-cl:  var(--glnbt--def-bg-cl);
&#125;

// ** Style: bstrap "bs-btn-outline" **
.bstr-btn.gln-button.glnbt-outlined &#123;
  --glnbt-o-def-br-cl: var(--glnbt--def-cl);
  --glnbt-o-hov-cl: var(--bs-o-hov-cl,  hsl(var(--glnbt--default-bg-h), var(--glnbt--default-bg-s), 100%)); // #fff
  --glnbt--hov-bg-cl: var(--glnbt-o-def-cl);
  --glnbt-o-dis-cl:  var(--glnbt--def-cl);
  --glnbt-o-dis-br-cl:  var(--glnbt--def-cl);
&#125;

// ** Style: bstrap "Light" **

.bstr-light &#123;
  --gln-bs-light-h: 210;
  --gln-bs-light-s: 17%;
  --gln-bs-light-l: 98%;
  // #f8f9fa = hsl(210, 17%, 98%) = RGB(248, 249, 250)
  --glnbt-c-def-cl   : #212529;
  --glnbt-c-def-bg-cl: #f8f9fa;
  --glnbt-c-def-br-cl: #f8f9fa;
  --glnbt-c-hov-bg-cl: #e2e6ea;
  --glnbt-c-hov-br-cl: #dae0e5;
  --glnbt-o-def-cl: #f8f9fa;
  --bs-o-hov-cl: #212529;
&#125;</pre></code>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
</section>

<hr br-nn />


<section mr-vr
  [attr.id]="fragment11">
  <p>Button style in "Dark" mode.</p>
</section>

<section mr-vr>
  <label>
    <input type="checkbox"
      (change)="isDisabledDark=!isDisabledDark" />
    Is disabled
  </label>
</section>

<div class="bp-items bstr-dark">

  <gln-button class="bstr-btn"
    noElevation
    noUppercase
    [glnColor]="{ primary: 'bs-dark' }"
    exterior="contained"
    frameSize="short"
    isNoRipple
    [isDisabled]="isDisabledDark ? '': null">
    <span>Dark 1</span>
  </gln-button>

  <gln-button class="bstr-btn"
    noElevation
    noUppercase
    [glnColor]="{ primary: 'bs-dark' }"
    exterior="contained"
    frameSize="short"
    isNoRipple
    [isDisabled]="isDisabledDark ? '': null">
    <a [routerLink]="[routerLink]"
      [fragment]="fragment11">
      Dark 1 Link
    </a>
  </gln-button>

  <gln-button class="bstr-btn"
    noUppercase
    [glnColor]="{ primary: 'bs-dark' }"
    exterior="outlined"
    frameSize="short"
    isNoRipple
    [isDisabled]="isDisabledDark ? '': null">
    <span>Dark 2</span>
  </gln-button>

  <gln-button class="bstr-btn"
    noUppercase
    [glnColor]="{ primary: 'bs-dark' }"
    exterior="outlined"
    frameSize="short"
    isNoRipple
    [isDisabled]="isDisabledDark ? '': null">
    <a [routerLink]="[routerLink]"
      [fragment]="fragment11">
      Dark 2 Link
    </a>
  </gln-button>

</div>

<section mr-vr>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="labelHtml">
          <code><pre source="html">
&lt;div class="bp-items bstr-dark"&gt;

  &lt;gln-button class="bstr-btn"
    noElevation
    noUppercase
    [glnColor]="&#123; primary: 'bs-dark' &#125;"
    exterior="contained"
    frameSize="short"
    isNoRipple
    [isDisabled]="isDisabledDark ? '': null"&gt;
    &lt;span&gt;Dark 1&lt;/span&gt;
  &lt;/gln-button&gt;

  &lt;gln-button class="bstr-btn"
    noElevation
    noUppercase
    [glnColor]="&#123; primary: 'bs-dark' &#125;"
    exterior="contained"
    frameSize="short"
    isNoRipple
    [isDisabled]="isDisabledDark ? '': null"&gt;
    &lt;a [routerLink]="[routerLink]"
      [fragment]="fragment11"&gt;
      Dark 1 Link
    &lt;/a&gt;
  &lt;/gln-button&gt;

  &lt;gln-button class="bstr-btn"
    noUppercase
    [glnColor]="&#123; primary: 'bs-dark' &#125;"
    exterior="outlined"
    frameSize="short"
    isNoRipple
    [isDisabled]="isDisabledDark ? '': null"&gt;
    &lt;span&gt;Dark 2&lt;/span&gt;
  &lt;/gln-button&gt;

  &lt;gln-button class="bstr-btn"
    noUppercase
    [glnColor]="&#123; primary: 'bs-dark' &#125;"
    exterior="outlined"
    frameSize="short"
    isNoRipple
    [isDisabled]="isDisabledDark ? '': null"&gt;
    &lt;a [routerLink]="[routerLink]"
      [fragment]="fragment11"&gt;
      Dark 2 Link
    &lt;/a&gt;
  &lt;/gln-button&gt;

&lt;/div&gt;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelTs">
          <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';

@Component(&#123;
  selector: 'app-button',
  templateUrl: './button.component.html',
  styleUrls: ['./button.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class ButtonComponent &#123;
  public routerLink = '/components/button';
  public fragment11 = 'palette11';
  public isDisabledDark = false;
&#125;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelCss">
          <code><pre source="css">
.bp-items &#123;
  display: flex;
  flex-wrap: wrap;
&#125;
.bp-items &gt; :first-child &#123;
  margin-left: 1%;
&#125;
.bp-items &gt; :not(first-child) &#123;
  margin-left: 5%;
&#125;

// ** Style: bstrap "bs-btn" **
.bstr-btn.gln-button &#123;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  --glnbt-lb-pd-lf: 0.75rem;
  --glnbt-lb-pd-rg: 0.75rem;
&#125;
.bstr-btn.gln-button.gln-disabled&gt;.glnbt-btn &#123;
  opacity: .65;
&#125;
.bstr-btn.gln-button:not(.gln-disabled):not(.no-shadow)&gt;.glnbt-btn:focus-within,
.bstr-btn.gln-button:not(.gln-disabled):not(.no-shadow).focus&gt;.glnbt-btn &#123;
  box-shadow: 0 0 0 0.2rem hsla(var(--glnbt--primary-h), var(--glnbt--primary-s), 57%, 50%);
&#125;

// ** Style: bstrap "bs-btn-contained" **
.bstr-btn.glnbt-contained&gt;.glnbt-btn &#123;
  --glnbt-c-foc-bg-cl: var(--glnbt--hov-bg-cl);
  --glnbt-c-dis-cl: var(--glnbt--def-cl);
  --glnbt-c-dis-bg-cl:  var(--glnbt--def-bg-cl);
  --glnbt-c-dis-br-cl:  var(--glnbt--def-bg-cl);
&#125;

// ** Style: bstrap "bs-btn-outline" **
.bstr-btn.gln-button.glnbt-outlined &#123;
  --glnbt-o-def-br-cl: var(--glnbt--def-cl);
  --glnbt-o-hov-cl: var(--bs-o-hov-cl,  hsl(var(--glnbt--default-bg-h), var(--glnbt--default-bg-s), 100%)); // #fff
  --glnbt--hov-bg-cl: var(--glnbt-o-def-cl);
  --glnbt-o-dis-cl:  var(--glnbt--def-cl);
  --glnbt-o-dis-br-cl:  var(--glnbt--def-cl);
&#125;

// ** Style: bstrap "Dark" **

.bstr-dark &#123;
  --gln-bs-dark-h: 210;
  --gln-bs-dark-s: 10%;
  --gln-bs-dark-l: 23%;
  // #343a40 = hsl(210deg 10% 23%);
  --glnbt-c-def-bg-cl: #343a40;
  --glnbt-c-def-br-cl: #343a40;
  --glnbt-c-hov-bg-cl: #23272b;
  --glnbt-c-hov-br-cl: #1d2124;
  --glnbt-o-def-cl: #343a40;
&#125;</pre></code>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
</section>

<hr br-nn />

<section mr-vr
  [attr.id]="fragment12">
  <p>Button style in "Reference" mode.</p>
</section>

<section mr-vr>
  <label>
    <input type="checkbox"
      (change)="isDisabledReference=!isDisabledReference" />
    Is disabled
  </label>
</section>

<div class="bp-items">

  <gln-button class="bstr-btn bstr-link no-shadow"
    noUppercase
    [glnColor]="{ primary: 'bs-link' }"
    exterior="text"
    frameSize="short"
    isNoRipple
    [isDisabled]="isDisabledReference ? '': null">
    <span>Reference</span>
  </gln-button>

  <gln-button class="bstr-btn bstr-link no-shadow"
    noUppercase
    [glnColor]="{ primary: 'bs-link' }"
    exterior="text"
    frameSize="short"
    isNoRipple
    [isDisabled]="isDisabledReference ? '': null">
    <a [routerLink]="[routerLink]"
      [fragment]="fragment12">
      Reference Link
    </a>
  </gln-button>

</div>

<section mr-vr>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="labelHtml">
          <code><pre source="html">
&lt;div class="bp-items"&gt;

  &lt;gln-button class="bstr-btn bstr-link no-shadow"
    noUppercase
    [glnColor]="&#123; primary: 'bs-link' &#125;"
    exterior="text"
    frameSize="short"
    isNoRipple
    [isDisabled]="isDisabledReference ? '': null"&gt;
    &lt;span&gt;Reference&lt;/span&gt;
  &lt;/gln-button&gt;

  &lt;gln-button class="bstr-btn bstr-link no-shadow"
    noUppercase
    [glnColor]="&#123; primary: 'bs-link' &#125;"
    exterior="text"
    frameSize="short"
    isNoRipple
    [isDisabled]="isDisabledReference ? '': null"&gt;
    &lt;a [routerLink]="[routerLink]"
      [fragment]="fragment12"&gt;
      Reference Link
    &lt;/a&gt;
  &lt;/gln-button&gt;

&lt;/div&gt;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelTs">
          <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';

@Component(&#123;
  selector: 'app-button',
  templateUrl: './button.component.html',
  styleUrls: ['./button.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class ButtonComponent &#123;
  public routerLink = '/components/button';
  public fragment12 = 'palette12';
  public isDisabledReference = false;
&#125;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelCss">
          <code><pre source="css">
.bp-items &#123;
  display: flex;
  flex-wrap: wrap;
&#125;
.bp-items &gt; :first-child &#123;
  margin-left: 1%;
&#125;
.bp-items &gt; :not(first-child) &#123;
  margin-left: 5%;
&#125;

// ** Style: bstrap "bs-btn" **
.bstr-btn.gln-button &#123;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  --glnbt-lb-pd-lf: 0.75rem;
  --glnbt-lb-pd-rg: 0.75rem;
&#125;
.bstr-btn.gln-button.gln-disabled&gt;.glnbt-btn &#123;
  opacity: .65;
&#125;
.bstr-btn.gln-button:not(.gln-disabled):not(.no-shadow)&gt;.glnbt-btn:focus-within,
.bstr-btn.gln-button:not(.gln-disabled):not(.no-shadow).focus&gt;.glnbt-btn &#123;
  box-shadow: 0 0 0 0.2rem hsla(var(--glnbt--primary-h), var(--glnbt--primary-s), 57%, 50%);
&#125;

// ** Style: bstrap "bs-btn-contained" **
.bstr-btn.glnbt-contained&gt;.glnbt-btn &#123;
  --glnbt-c-foc-bg-cl: var(--glnbt--hov-bg-cl);
  --glnbt-c-dis-cl: var(--glnbt--def-cl);
  --glnbt-c-dis-bg-cl:  var(--glnbt--def-bg-cl);
  --glnbt-c-dis-br-cl:  var(--glnbt--def-bg-cl);
&#125;

// ** Style: bstrap "bs-btn-outline" **
.bstr-btn.gln-button.glnbt-outlined &#123;
  --glnbt-o-def-br-cl: var(--glnbt--def-cl);
  --glnbt-o-hov-cl: var(--bs-o-hov-cl,  hsl(var(--glnbt--default-bg-h), var(--glnbt--default-bg-s), 100%)); // #fff
  --glnbt--hov-bg-cl: var(--glnbt-o-def-cl);
  --glnbt-o-dis-cl:  var(--glnbt--def-cl);
  --glnbt-o-dis-br-cl:  var(--glnbt--def-cl);
&#125;

.bstr-link &#123;
  --gln-bs-link-h: 210;
  --gln-bs-link-s: 10%;
  --gln-bs-link-l: 23%;
  --glnbt-t-def-cl: #007bff;
  --glnbt-t-hov-cl: #0056b3;
  --glnbt-t-hov-bg-cl: transparent;
&#125;
.bstr-link.gln-button:not(.gln-disabled)&gt;.glnbt-btn:hover &#123;
  text-decoration: underline;
&#125;
.bstr-link.gln-button:not(.gln-disabled)&gt;.glnbt-btn:focus-within,
.bstr-link.gln-button:not(.gln-disabled).focus&gt;.glnbt-btn &#123;
  box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
&#125;</pre></code>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
</section>

<hr br-nn />