/*# sourceURL=button-palette3.component.scss */

app-button-palette3 {
  display: block;

  .bp-items {
    display: flex;
    flex-wrap: wrap;
  }
  .bp-items > :first-child {
    margin-left: 1%;
  }
  .bp-items > :not(first-child) {
    margin-left: 5%;
  }

  // ** Style: bstrap "bs-btn" **
  .bstr-btn.gln-button {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    --glnbt-lb-pd-lf: 0.75rem;
    --glnbt-lb-pd-rg: 0.75rem;
  }
  .bstr-btn.gln-button.gln-disabled>.glnbt-btn {
    opacity: .65;
  }
  .bstr-btn.gln-button:not(.gln-disabled):not(.no-shadow)>.glnbt-btn:focus-within,
  .bstr-btn.gln-button:not(.gln-disabled):not(.no-shadow).focus>.glnbt-btn {
    box-shadow: 0 0 0 0.2rem hsla(var(--glnbt--primary-h), var(--glnbt--primary-s), 57%, 50%);
  }

  // ** Style: bstrap "bs-btn-contained" **
  .bstr-btn.glnbt-contained>.glnbt-btn {
    --glnbt-c-foc-bg-cl: var(--glnbt--hov-bg-cl);
    --glnbt-c-dis-cl: var(--glnbt--def-cl);
    --glnbt-c-dis-bg-cl:  var(--glnbt--def-bg-cl);
    --glnbt-c-dis-br-cl:  var(--glnbt--def-bg-cl);
  }

  // ** Style: bstrap "bs-btn-outline" **
  .bstr-btn.gln-button.glnbt-outlined {
    --glnbt-o-def-br-cl: var(--glnbt--def-cl);
    --glnbt-o-hov-cl: var(--bs-o-hov-cl,  hsl(var(--glnbt--default-bg-h), var(--glnbt--default-bg-s), 100%)); // #fff
    --glnbt--hov-bg-cl: var(--glnbt-o-def-cl);
    --glnbt-o-dis-cl:  var(--glnbt--def-cl);
    --glnbt-o-dis-br-cl:  var(--glnbt--def-cl);
  }

  // OLD =V
  // ** Style: bstrap "bs-btn" **
/*
  .gln-button.bs-btn {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    --glnbt-lb-pd-lf: 0.75rem;
    --glnbt-lb-pd-rg: 0.75rem;
  }
  .gln-button.bs-btn:not(.gln-disabled)>.glnbt-btn {
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  }
  .gln-button.bs-btn.gln-disabled>.glnbt-btn {
    opacity: .65;
  }
  .gln-button.bs-btn:not(.gln-disabled)>.glnbt-btn:active,
  .gln-button.bs-btn:not(.gln-disabled).active>.glnbt-btn {
    background-color: var(--bs-act-bg-cl);
  }
  .gln-button.bs-btn:not(.gln-disabled)>.glnbt-btn:focus-within,
  .gln-button.bs-btn:not(.gln-disabled).focus>.glnbt-btn {
    box-shadow: 0 0 0 0.2rem var(--bs-foc-bs-cl);
  }

  // ** Style: bstrap "bs-btn-contained" **

  .gln-button.bs-btn-contained:not(.gln-disabled)>.glnbt-btn:focus-within,
  .gln-button.bs-btn-contained:not(.gln-disabled).focus>.glnbt-btn {
    background-color: var(--bs-c-foc-bg-cl);
  }

  // ** Style: bstrap "bs-btn-outline" **

  .gln-button.bs-btn-outline:not(.gln-disabled)>.glnbt-btn:hover {
    color: var(--bs-o-hov-cl);
  }
  .gln-button.bs-btn-outline:not(.gln-disabled)>.glnbt-btn:active,
  .gln-button.bs-btn-outline:not(.gln-disabled).active>.glnbt-btn {
    color: var(--bs-o-act-cl);
  }
  // OLD =^
*/
  // ** Style: bstrap "Warning" **

  .bstr-warning {
    --gln-bs-warning-h: 45;
    --gln-bs-warning-s: 100%;
    --gln-bs-warning-l: 51%;
    // #ffc107 = hsl(45deg 100% 51%);
    --glnbt-c-def-cl   : #212529;
    --glnbt-c-def-bg-cl: #ffc107;
    --glnbt-c-def-br-cl: #ffc107;
    --glnbt-c-hov-bg-cl: #e0a800;
    --glnbt-c-hov-br-cl: #d39e00;
    --glnbt-o-def-cl: #ffc107;
    --bs-o-hov-cl: #212529;
  }

  // ** Style: bstrap "Info" **

  .bstr-info {
    --gln-bs-info-h: 188;
    --gln-bs-info-s: 78%;
    --gln-bs-info-l: 41%;
    // #17a2b8 = hsl(188deg 78% 41%);
    --glnbt-c-def-bg-cl: #17a2b8;
    --glnbt-c-def-br-cl: #17a2b8;
    --glnbt-c-hov-bg-cl: #138496;
    --glnbt-c-hov-br-cl: #117a8b;
    --glnbt-o-def-cl: #17a2b8;
  }

  // ** Style: bstrap "Light" **

  .bstr-light {
    --gln-bs-light-h: 210;
    --gln-bs-light-s: 17%;
    --gln-bs-light-l: 98%;
    // #f8f9fa = hsl(210, 17%, 98%) = RGB(248, 249, 250)
    --glnbt-c-def-cl   : #212529;
    --glnbt-c-def-bg-cl: #f8f9fa;
    --glnbt-c-def-br-cl: #f8f9fa;
    --glnbt-c-hov-bg-cl: #e2e6ea;
    --glnbt-c-hov-br-cl: #dae0e5;
    --glnbt-o-def-cl: #f8f9fa;
    --bs-o-hov-cl: #212529;
  }

  // ** Style: bstrap "Dark" **

  .bstr-dark {
    --gln-bs-dark-h: 210;
    --gln-bs-dark-s: 10%;
    --gln-bs-dark-l: 23%;
    // #343a40 = hsl(210deg 10% 23%);
    --glnbt-c-def-bg-cl: #343a40;
    --glnbt-c-def-br-cl: #343a40;
    --glnbt-c-hov-bg-cl: #23272b;
    --glnbt-c-hov-br-cl: #1d2124;
    --glnbt-o-def-cl: #343a40;
  }

  .bstr-link {
    --gln-bs-link-h: 210;
    --gln-bs-link-s: 10%;
    --gln-bs-link-l: 23%;
    --glnbt-t-def-cl: #007bff;
    --glnbt-t-hov-cl: #0056b3;
    --glnbt-t-hov-bg-cl: transparent;
    --glnbt-t-dis-cl: #6c757d;
  }
  .bstr-link.gln-button:not(.gln-disabled)>.glnbt-btn:hover {
    text-decoration: underline;
  }
  .bstr-link.gln-button:not(.gln-disabled)>.glnbt-btn:focus-within,
  .bstr-link.gln-button:not(.gln-disabled).focus>.glnbt-btn {
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
  }

}
