<section mr-vr
  [attr.id]="fragment8">
  <p>Button style in "Warning" mode.</p>
</section>

<section mr-vr>
  <label>
    <input type="checkbox"
      (change)="isDisabledWarning=!isDisabledWarning" />
    Is disabled
  </label>
</section>

<div class="bp-items bstr-warning">

  <gln-button class="bstr-btn"
    noElevation
    noUppercase
    [glnColor]="{ primary: 'bs-warning' }"
    exterior="contained"
    frameSize="short"
    isNoRipple
    [isDisabled]="isDisabledWarning ? '': null">
    <span>Warning 1</span>
  </gln-button>

  <gln-button class="bstr-btn"
    noElevation
    noUppercase
    [glnColor]="{ primary: 'bs-warning' }"
    exterior="contained"
    frameSize="short"
    isNoRipple
    [isDisabled]="isDisabledWarning ? '': null">
    <a [routerLink]="[routerLink]"
      [fragment]="fragment8">
      Warning 1 Link
    </a>
  </gln-button>

  <gln-button class="bstr-btn"
    noUppercase
    [glnColor]="{ primary: 'bs-warning' }"
    exterior="outlined"
    frameSize="short"
    isNoRipple
    [isDisabled]="isDisabledWarning ? '': null">
    <span>Warning 2</span>
  </gln-button>

  <gln-button class="bstr-btn"
    noUppercase
    [glnColor]="{ primary: 'bs-warning' }"
    exterior="outlined"
    frameSize="short"
    isNoRipple
    [isDisabled]="isDisabledWarning ? '': null">
    <a [routerLink]="[routerLink]"
      [fragment]="fragment8">
      Warning 2 Link
    </a>
  </gln-button>

</div>

<section mr-vr>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="labelHtml">
          <code><pre source="html">
&lt;div class="bp-items bstr-warning"&gt;

  &lt;gln-button class="bstr-btn"
    noElevation
    noUppercase
    [glnColor]="&#123; primary: 'bs-warning' &#125;"
    exterior="contained"
    frameSize="short"
    isNoRipple
    [isDisabled]="isDisabledWarning ? '': null"&gt;
    &lt;span&gt;Warning 1&lt;/span&gt;
  &lt;/gln-button&gt;

  &lt;gln-button class="bstr-btn"
    noElevation
    noUppercase
    [glnColor]="&#123; primary: 'bs-warning' &#125;"
    exterior="contained"
    frameSize="short"
    isNoRipple
    [isDisabled]="isDisabledWarning ? '': null"&gt;
    &lt;a [routerLink]="[routerLink]"
      [fragment]="fragment8"&gt;
      Warning 1 Link
    &lt;/a&gt;
  &lt;/gln-button&gt;

  &lt;gln-button class="bstr-btn"
    noUppercase
    [glnColor]="&#123; primary: 'bs-warning' &#125;"
    exterior="outlined"
    frameSize="short"
    isNoRipple
    [isDisabled]="isDisabledWarning ? '': null"&gt;
    &lt;span&gt;Warning 2&lt;/span&gt;
  &lt;/gln-button&gt;

  &lt;gln-button class="bstr-btn"
    noUppercase
    [glnColor]="&#123; primary: 'bs-warning' &#125;"
    exterior="outlined"
    frameSize="short"
    isNoRipple
    [isDisabled]="isDisabledWarning ? '': null"&gt;
    &lt;a [routerLink]="[routerLink]"
      [fragment]="fragment8"&gt;
      Warning 2 Link
    &lt;/a&gt;
  &lt;/gln-button&gt;

&lt;/div&gt;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelTs">
          <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';

@Component(&#123;
  selector: 'app-button',
  templateUrl: './button.component.html',
  styleUrls: ['./button.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class ButtonComponent &#123;
  public routerLink = '/components/button';
  public fragment8 = 'palette8';
  public isDisabledWarning = false;
&#125;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelCss">
          <code><pre source="css">
.bp-items &#123;
  display: flex;
  flex-wrap: wrap;
&#125;
.bp-items &gt; :first-child &#123;
  margin-left: 1%;
&#125;
.bp-items &gt; :not(first-child) &#123;
  margin-left: 5%;
&#125;

// ** Style: bstrap "bs-btn" **
.bstr-btn.gln-button &#123;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  --glnbt-lb-pd-lf: 0.75rem;
  --glnbt-lb-pd-rg: 0.75rem;
&#125;
.bstr-btn.gln-button:not(.gln-disabled)&gt;.glnbt-btn &#123;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
&#125;
.bstr-btn.gln-button.gln-disabled&gt;.glnbt-btn &#123;
  opacity: .65;
&#125;
.bstr-btn.gln-button:not(.gln-disabled)&gt;.glnbt-btn:focus-within,
.bstr-btn.gln-button:not(.gln-disabled).focus&gt;.glnbt-btn &#123;
  box-shadow: 0 0 0 0.2rem hsla(var(--glnbt--primary-h), var(--glnbt--primary-s), 57%, 50%);
&#125;

// ** Style: bstrap "bs-btn-contained" **
.bstr-btn.gln-button.glnbt-contained:not(.gln-disabled)&gt;.glnbt-btn:focus-within,
.bstr-btn.gln-button.glnbt-contained:not(.gln-disabled).focus&gt;.glnbt-btn &#123;
  background-color: hsl(var(--glnbt--primary-h), var(--glnbt--primary-s), 40%);
&#125;
.bstr-btn.gln-button.glnbt-contained.gln-disabled&gt;.glnbt-btn &#123;
  background-color: hsl(var(--glnbt--primary-h), var(--glnbt--primary-s), 46%);
  color: hsl(var(--glnbt--default-bg-h), var(--glnbt--default-bg-s), 100%);
&#125;

// ** Style: bstrap "bs-btn-outline" **
.bstr-btn.gln-button.glnbt-outlined&gt;.glnbt-btn &#123;
  border-color: hsl(var(--glnbt--primary-h), var(--glnbt--primary-s), 46%);
&#125;
.bstr-btn.gln-button.glnbt-outlined:not(.gln-disabled)&gt;.glnbt-btn:hover &#123;
  background-color: hsl(var(--glnbt--primary-h), var(--glnbt--primary-s), 46%);
  color: hsl(var(--glnbt--default-bg-h), var(--glnbt--default-bg-s), 100%); // #fff
&#125;
.bstr-btn.gln-button.glnbt-outlined.gln-disabled&gt;.glnbt-btn &#123;
  color: hsl(var(--glnbt--primary-h), var(--glnbt--primary-s), 46%);
&#125;

// ** Style: bstrap "Warning" **

.bstr-warning &#123;
  --gln-bs-warning-h: 45;
  --gln-bs-warning-s: 100%;
  --gln-bs-warning-l: 51%;
&#125;
.bstr-warning .bstr-btn.gln-button.glnbt-contained>.glnbt-btn &#123;
  color: #212529;
&#125;
.bstr-warning .bstr-btn.gln-button.glnbt-outlined:not(.gln-disabled)>.glnbt-btn:hover &#123;
  color: #212529;
&#125;</pre></code>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
</section>

<hr br-nn />


<section mr-vr
  [attr.id]="fragment9">
  <p>Button style in "Info" mode.</p>
</section>

<section mr-vr>
  <label>
    <input type="checkbox"
      (change)="isDisabledInfo=!isDisabledInfo" />
    Is disabled
  </label>
</section>

<div class="bp-items bstr-info">

  <gln-button class="bstr-btn"
    noElevation
    noUppercase
    [glnColor]="{ primary: 'bs-info' }"
    exterior="contained"
    frameSize="short"
    isNoRipple
    [isDisabled]="isDisabledInfo ? '': null">
    <span>Info 1</span>
  </gln-button>

  <gln-button class="bstr-btn"
    noElevation
    noUppercase
    [glnColor]="{ primary: 'bs-info' }"
    exterior="contained"
    frameSize="short"
    isNoRipple
    [isDisabled]="isDisabledInfo ? '': null">
    <a [routerLink]="[routerLink]"
      [fragment]="fragment9">
      Info 1 Link
    </a>
  </gln-button>

  <gln-button class="bstr-btn"
    noUppercase
    [glnColor]="{ primary: 'bs-info' }"
    exterior="outlined"
    frameSize="short"
    isNoRipple
    [isDisabled]="isDisabledInfo ? '': null">
    <span>Info 2</span>
  </gln-button>

  <gln-button class="bstr-btn"
    noUppercase
    [glnColor]="{ primary: 'bs-info' }"
    exterior="outlined"
    frameSize="short"
    isNoRipple
    [isDisabled]="isDisabledInfo ? '': null">
    <a [routerLink]="[routerLink]"
      [fragment]="fragment9">
      Info 2 Link
    </a>
  </gln-button>

</div>

<section mr-vr>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="labelHtml">
          <code><pre source="html">
&lt;div class="bp-items bstr-info"&gt;

  &lt;gln-button class="bstr-btn"
    noElevation
    noUppercase
    [glnColor]="&#123; primary: 'bs-info' &#125;"
    exterior="contained"
    frameSize="short"
    isNoRipple
    [isDisabled]="isDisabledInfo ? '': null"&gt;
    &lt;span&gt;Info 1&lt;/span&gt;
  &lt;/gln-button&gt;

  &lt;gln-button class="bstr-btn"
    noElevation
    noUppercase
    [glnColor]="&#123; primary: 'bs-info' &#125;"
    exterior="contained"
    frameSize="short"
    isNoRipple
    [isDisabled]="isDisabledInfo ? '': null"&gt;
    &lt;a [routerLink]="[routerLink]"
      [fragment]="fragment9"&gt;
      Info 1 Link
    &lt;/a&gt;
  &lt;/gln-button&gt;

  &lt;gln-button class="bstr-btn"
    noUppercase
    [glnColor]="&#123; primary: 'bs-info' &#125;"
    exterior="outlined"
    frameSize="short"
    isNoRipple
    [isDisabled]="isDisabledInfo ? '': null"&gt;
    &lt;span&gt;Info 2&lt;/span&gt;
  &lt;/gln-button&gt;

  &lt;gln-button class="bstr-btn"
    noUppercase
    [glnColor]="&#123; primary: 'bs-info' &#125;"
    exterior="outlined"
    frameSize="short"
    isNoRipple
    [isDisabled]="isDisabledInfo ? '': null"&gt;
    &lt;a [routerLink]="[routerLink]"
      [fragment]="fragment9"&gt;
      Info 2 Link
    &lt;/a&gt;
  &lt;/gln-button&gt;

&lt;/div&gt;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelTs">
          <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';

@Component(&#123;
  selector: 'app-button',
  templateUrl: './button.component.html',
  styleUrls: ['./button.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class ButtonComponent &#123;
  public routerLink = '/components/button';
  public fragment9 = 'palette9';
  public isDisabledInfo = false;
&#125;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelCss">
          <code><pre source="css">
.bp-items &#123;
  display: flex;
  flex-wrap: wrap;
&#125;
.bp-items &gt; :first-child &#123;
  margin-left: 1%;
&#125;
.bp-items &gt; :not(first-child) &#123;
  margin-left: 5%;
&#125;

// ** Style: bstrap "bs-btn" **
.bstr-btn.gln-button &#123;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  --glnbt-lb-pd-lf: 0.75rem;
  --glnbt-lb-pd-rg: 0.75rem;
&#125;
.bstr-btn.gln-button:not(.gln-disabled)&gt;.glnbt-btn &#123;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
&#125;
.bstr-btn.gln-button.gln-disabled&gt;.glnbt-btn &#123;
  opacity: .65;
&#125;
.bstr-btn.gln-button:not(.gln-disabled)&gt;.glnbt-btn:focus-within,
.bstr-btn.gln-button:not(.gln-disabled).focus&gt;.glnbt-btn &#123;
  box-shadow: 0 0 0 0.2rem hsla(var(--glnbt--primary-h), var(--glnbt--primary-s), 57%, 50%);
&#125;

// ** Style: bstrap "bs-btn-contained" **
.bstr-btn.gln-button.glnbt-contained:not(.gln-disabled)&gt;.glnbt-btn:focus-within,
.bstr-btn.gln-button.glnbt-contained:not(.gln-disabled).focus&gt;.glnbt-btn &#123;
  background-color: hsl(var(--glnbt--primary-h), var(--glnbt--primary-s), 40%);
&#125;
.bstr-btn.gln-button.glnbt-contained.gln-disabled&gt;.glnbt-btn &#123;
  background-color: hsl(var(--glnbt--primary-h), var(--glnbt--primary-s), 46%);
  color: hsl(var(--glnbt--default-bg-h), var(--glnbt--default-bg-s), 100%);
&#125;

// ** Style: bstrap "bs-btn-outline" **
.bstr-btn.gln-button.glnbt-outlined&gt;.glnbt-btn &#123;
  border-color: hsl(var(--glnbt--primary-h), var(--glnbt--primary-s), 46%);
&#125;
.bstr-btn.gln-button.glnbt-outlined:not(.gln-disabled)&gt;.glnbt-btn:hover &#123;
  background-color: hsl(var(--glnbt--primary-h), var(--glnbt--primary-s), 46%);
  color: hsl(var(--glnbt--default-bg-h), var(--glnbt--default-bg-s), 100%); // #fff
&#125;
.bstr-btn.gln-button.glnbt-outlined.gln-disabled&gt;.glnbt-btn &#123;
  color: hsl(var(--glnbt--primary-h), var(--glnbt--primary-s), 46%);
&#125;

// ** Style: bstrap "Info" **

.bstr-info &#123;
  --gln-bs-info-h: 188;
  --gln-bs-info-s: 78%;
  --gln-bs-info-l: 41%;
&#125;</pre></code>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
</section>

<hr br-nn />


<section mr-vr
  [attr.id]="fragment10">
  <p>Button style in "Light" mode.</p>
</section>

<section mr-vr>
  <label>
    <input type="checkbox"
      (change)="isDisabledLight=!isDisabledLight" />
    Is disabled
  </label>
</section>

<div class="bp-items bst-light">

  <gln-button class="bst-btn"
    noElevation
    noUppercase
    [glnColor]="{ primary: 'bs-light' }"
    exterior="contained"
    frameSize="short"
    isNoRipple
    [isDisabled]="isDisabledLight ? '': null">
    <span>Light 1</span>
  </gln-button>

  <gln-button class="bst-btn"
    noElevation
    noUppercase
    [glnColor]="{ primary: 'bs-light' }"
    exterior="contained"
    frameSize="short"
    isNoRipple
    [isDisabled]="isDisabledLight ? '': null">
    <a [routerLink]="[routerLink]"
      [fragment]="fragment10">
      Light 1 Link
    </a>
  </gln-button>

  <gln-button class="bst-btn"
    noUppercase
    [glnColor]="{ primary: 'bs-light' }"
    exterior="outlined"
    frameSize="short"
    isNoRipple
    [isDisabled]="isDisabledLight ? '': null">
    <span>Light 2</span>
  </gln-button>

  <gln-button class="bst-btn"
    noUppercase
    [glnColor]="{ primary: 'bs-light' }"
    exterior="outlined"
    frameSize="short"
    isNoRipple
    [isDisabled]="isDisabledLight ? '': null">
    <a [routerLink]="[routerLink]"
      [fragment]="fragment10">
      Light 2 Link
    </a>
  </gln-button>

</div>

<section mr-vr>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="labelHtml">
          <code><pre source="html">
&lt;div class="bp-items bst-light"&gt;

  &lt;gln-button class="bst-btn"
    noElevation
    noUppercase
    [glnColor]="&#123; primary: 'bs-light' &#125;"
    exterior="contained"
    frameSize="short"
    isNoRipple
    [isDisabled]="isDisabledLight ? '': null"&gt;
    &lt;span&gt;Light 1&lt;/span&gt;
  &lt;/gln-button&gt;

  &lt;gln-button class="bst-btn"
    noElevation
    noUppercase
    [glnColor]="&#123; primary: 'bs-light' &#125;"
    exterior="contained"
    frameSize="short"
    isNoRipple
    [isDisabled]="isDisabledLight ? '': null"&gt;
    &lt;a [routerLink]="[routerLink]"
      [fragment]="fragment10"&gt;
      Light 1 Link
    &lt;/a&gt;
  &lt;/gln-button&gt;

  &lt;gln-button class="bst-btn"
    noUppercase
    [glnColor]="&#123; primary: 'bs-light' &#125;"
    exterior="outlined"
    frameSize="short"
    isNoRipple
    [isDisabled]="isDisabledLight ? '': null"&gt;
    &lt;span&gt;Light 2&lt;/span&gt;
  &lt;/gln-button&gt;

  &lt;gln-button class="bst-btn"
    noUppercase
    [glnColor]="&#123; primary: 'bs-light' &#125;"
    exterior="outlined"
    frameSize="short"
    isNoRipple
    [isDisabled]="isDisabledLight ? '': null"&gt;
    &lt;a [routerLink]="[routerLink]"
      [fragment]="fragment10"&gt;
      Light 2 Link
    &lt;/a&gt;
  &lt;/gln-button&gt;

&lt;/div&gt;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelTs">
          <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';

@Component(&#123;
  selector: 'app-button',
  templateUrl: './button.component.html',
  styleUrls: ['./button.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class ButtonComponent &#123;
  public routerLink = '/components/button';
  public fragment10 = 'palette10';
  public isDisabledLight = false;
&#125;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelCss">
          <code><pre source="css">
.bp-items &#123;
  display: flex;
  flex-wrap: wrap;
&#125;
.bp-items &gt; :first-child &#123;
  margin-left: 1%;
&#125;
.bp-items &gt; :not(first-child) &#123;
  margin-left: 5%;
&#125;

// ** Style: bstrap "Light" **

.bst-btn.gln-button &#123;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  --glnbt-lb-pd-lf: 0.75rem;
  --glnbt-lb-pd-rg: 0.75rem;
&#125;

.bst-light .gln-button:not(.gln-disabled)&gt;.glnbt-btn:focus-within &#123;
  box-shadow: 0 0 0 0.2rem rgb(216 217 219 / 50%);
&#125;
.bst-light .gln-button.gln-disabled&gt;.glnbt-btn &#123;
  opacity: .65;
&#125;

.bst-light .glnbt-contained &#123;
  // Exterior: "contained"
  --glnbt-c-def-cl: #212529;
  --glnbt-c-def-bg-cl: #f8f9fa; // hsl(210deg 17% 98%);
  // :hover
  --glnbt-c-hov-bg-cl: #e2e6ea; // hsl(210deg 16% 90%);
  // disabled
  --glnbt-c-dis-cl: var(--glnbt-c-def-cl);
  --glnbt-c-dis-bg-cl:var(--glnbt-c-def-bg-cl);
&#125;
.bst-light .glnbt-contained:not(.gln-disabled)&gt;.glnbt-btn:focus-within &#123;
  background-color: var(--glnbt-c-hov-bg-cl);
&#125;

.bst-light .glnbt-outlined &#123;
  // Exterior: "outlined"
  --glnbt-o-def-cl: #c7c7c7;
  --glnbt-o-def-br-cl: #c7c7c7;
  // :hover
  // --bs-o-hov-cl: #212529;
  --glnbt-o-hov-bg-cl: #f8f9fa;
  --glnbt-o-hov-br-cl: #f8f9fa;
  // disable
  --glnbt-o-dis-cl: var(--glnbt-o-def-cl);
  --glnbt-o-dis-br-cl: var(--glnbt-o-def-br-cl);
&#125;
.bst-light .glnbt-outlined:not(.gln-disabled)&gt;.glnbt-btn:hover &#123;
  color: #212529;
&#125;</pre></code>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
</section>

<hr br-nn />


<section mr-vr
  [attr.id]="fragment11">
  <p>Button style in "Dark" mode.</p>
</section>

<section mr-vr>
  <label>
    <input type="checkbox"
      (change)="isDisabledDark=!isDisabledDark" />
    Is disabled
  </label>
</section>

<div class="bp-items">

  <gln-button class="bs-btn bs-btn-contained bs-dark"
    noElevation
    noUppercase
    [isDisabled]="isDisabledDark ? '': null"
    [config]="cfgContained">
    <span>Dark 1</span>
  </gln-button>

  <gln-button class="bs-btn bs-btn-contained bs-dark"
    noElevation
    noUppercase
    [isDisabled]="isDisabledDark ? '': null"
    [config]="cfgContained">
    <a [routerLink]="[routerLink]"
      [fragment]="fragment11">
      Dark 1 Link
    </a>
  </gln-button>

  <gln-button class="bs-btn bs-btn-outline bs-dark"
    noUppercase
    [isDisabled]="isDisabledDark ? '': null"
    [config]="cfgOutlined">
    <span>Dark 2</span>
  </gln-button>

  <gln-button class="bs-btn bs-btn-outline bs-dark"
    noUppercase
    [isDisabled]="isDisabledDark ? '': null"
    [config]="cfgOutlined">
    <a [routerLink]="[routerLink]"
      [fragment]="fragment11">
      Dark 2 Link
    </a>
  </gln-button>

</div>

<section mr-vr>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="labelHtml">
          <code><pre source="html">
&lt;div class="bp-items"&gt;

  &lt;gln-button class="bs-btn bs-btn-contained bs-dark"
    noElevation
    noUppercase
    [isDisabled]="isDisabledDark ? '': null"
    [config]="cfgContained"&gt;
    &lt;span&gt;Dark 1&lt;/span&gt;
  &lt;/gln-button&gt;

  &lt;gln-button class="bs-btn bs-btn-contained bs-dark"
    noElevation
    noUppercase
    [isDisabled]="isDisabledDark ? '': null"
    [config]="cfgContained"&gt;
    &lt;a [routerLink]="[routerLink]"
      [fragment]="fragment11"&gt;
      Dark 1 Link
    &lt;/a&gt;
  &lt;/gln-button&gt;

  &lt;gln-button class="bs-btn bs-btn-outline bs-dark"
    noUppercase
    [isDisabled]="isDisabledDark ? '': null"
    [config]="cfgOutlined"&gt;
    &lt;span&gt;Dark 2&lt;/span&gt;
  &lt;/gln-button&gt;

  &lt;gln-button class="bs-btn bs-btn-outline bs-dark"
    noUppercase
    [isDisabled]="isDisabledDark ? '': null"
    [config]="cfgOutlined"&gt;
    &lt;a [routerLink]="[routerLink]"
      [fragment]="fragment11"&gt;
      Dark 2 Link
    &lt;/a&gt;
  &lt;/gln-button&gt;

&lt;/div&gt;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelTs">
          <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';
import &#123;
 GlnButtonConfig, GlnButtonExterior, GlnFrameSize
&#125; from 'gelenium-ui';

@Component(&#123;
  selector: 'app-button',
  templateUrl: './button.component.html',
  styleUrls: ['./button.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class ButtonComponent &#123;
  public routerLink = '/components/button';
  public fragment11 = 'palette11';
  public isDisabledDark = false;

  public cfgContained: GlnButtonConfig = &#123;
    exterior: GlnButtonExterior.contained,
    frameSize: GlnFrameSize.short,
    isNoRipple: true,
  &#125;;

  public cfgOutlined: GlnButtonConfig = &#123;
    exterior: GlnButtonExterior.outlined,
    frameSize: GlnFrameSize.short,
    isNoRipple: true,
  &#125;;

&#125;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelCss">
          <code><pre source="css">
.bp-items &#123;
  display: flex;
  flex-wrap: wrap;
&#125;
.bp-items &gt; :first-child &#123;
  margin-left: 1%;
&#125;
.bp-items &gt; :not(first-child) &#123;
  margin-left: 5%;
&#125;

// ** Style: bstrap "bs-btn" **

.gln-button.bs-btn &#123;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  --glnbt-lb-pd-lf: 0.75rem;
  --glnbt-lb-pd-rg: 0.75rem;
&#125;
.gln-button.bs-btn:not(.gln-disabled)&gt;.glnbt-btn &#123;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
&#125;
.gln-button.bs-btn.gln-disabled&gt;.glnbt-btn &#123;
  opacity: .65;
&#125;
.gln-button.bs-btn:not(.gln-disabled)&gt;.glnbt-btn:active,
.gln-button.bs-btn:not(.gln-disabled).active&gt;.glnbt-btn &#123;
  background-color: var(--bs-act-bg-cl);
&#125;
.gln-button.bs-btn:not(.gln-disabled)&gt;.glnbt-btn:focus-within,
.gln-button.bs-btn:not(.gln-disabled).focus&gt;.glnbt-btn &#123;
  box-shadow: 0 0 0 0.2rem var(--bs-foc-bs-cl);
&#125;

// ** Style: bstrap "bs-btn-contained" **

.gln-button.bs-btn-contained:not(.gln-disabled)&gt;.glnbt-btn:focus-within,
.gln-button.bs-btn-contained:not(.gln-disabled).focus&gt;.glnbt-btn &#123;
  background-color: var(--bs-c-foc-bg-cl);
&#125;

// ** Style: bstrap "bs-btn-outline" **

.gln-button.bs-btn-outline:not(.gln-disabled)&gt;.glnbt-btn:hover &#123;
  color: var(--bs-o-hov-cl);
&#125;
.gln-button.bs-btn-outline:not(.gln-disabled)&gt;.glnbt-btn:active,
.gln-button.bs-btn-outline:not(.gln-disabled).active&gt;.glnbt-btn &#123;
  color: var(--bs-o-act-cl);
&#125;

// ** Style: bstrap "Dark" **

.gln-button.bs-btn-contained.bs-dark &#123;
  // Exterior: "contained"
  --glnbt-c-def-cl: #fff;
  --glnbt-c-def-bg-cl: #343a40;
  // :hover
  --glnbt-c-hov-bg-cl: #23272b;
  // :active
  --bs-act-bg-cl: #1d2124;
  // :focus
  --bs-c-foc-bg-cl: #23272b;
  --bs-foc-bs-cl: rgb(82 88 93 / 50%);
  // disabled
  --glnbt-c-dis-cl: var(--glnbt-c-def-cl);
  --glnbt-c-dis-bg-cl:var(--glnbt-c-def-bg-cl);
&#125;

.gln-button.bs-btn-outline.bs-dark &#123;
  // Exterior: "outlined"
  --glnbt-o-def-cl: #343a40;
  --glnbt-o-def-br-cl: #343a40;
  // :hover
  --bs-o-hov-cl: #fff;
  --glnbt-o-hov-bg-cl: #343a40;
  --glnbt-o-hov-br-cl: #343a40;
  // :active
  --bs-o-act-cl: #fff;
  --bs-act-bg-cl: #343a40;
  // :focus
  --bs-foc-bs-cl: rgb(52 58 64 / 50%);
  // disable
  --glnbt-o-dis-cl: var(--glnbt-o-def-cl);
  --glnbt-o-dis-br-cl: var(--glnbt-o-def-br-cl);
&#125;</pre></code>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
</section>

<hr br-nn />

<section mr-vr
  [attr.id]="fragment12">
  <p>Button style in "Reference" mode.</p>
</section>

<section mr-vr>
  <label>
    <input type="checkbox"
      (change)="isDisabledReference=!isDisabledReference" />
    Is disabled
  </label>
</section>

<div class="bp-items">

  <gln-button class="bs-btn bs-btn-text bs-link"
    noUppercase
    [isDisabled]="isDisabledReference ? '': null"
    [config]="cfgText">
    <span>Reference</span>
  </gln-button>

  <gln-button class="bs-btn bs-btn-text bs-link"
    noUppercase
    [isDisabled]="isDisabledReference ? '': null"
    [config]="cfgText">
    <a [routerLink]="[routerLink]"
      [fragment]="fragment12">
      Reference Link
    </a>
  </gln-button>

</div>

<section mr-vr>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="labelHtml">
          <code><pre source="html">
&lt;div class="bp-items"&gt;

  &lt;gln-button class="bs-btn bs-btn-text bs-link"
    noUppercase
    [isDisabled]="isDisabledReference ? '': null"
    [config]="cfgText"&gt;
    &lt;span&gt;Reference&lt;/span&gt;
  &lt;/gln-button&gt;

  &lt;gln-button class="bs-btn bs-btn-text bs-link"
    noUppercase
    [isDisabled]="isDisabledReference ? '': null"
    [config]="cfgText"&gt;
    &lt;a [routerLink]="[routerLink]"
      [fragment]="fragment12"&gt;
      Reference Link
    &lt;/a&gt;
  &lt;/gln-button&gt;

&lt;/div&gt;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelTs">
          <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';
import &#123;
 GlnButtonConfig, GlnButtonExterior, GlnFrameSize
&#125; from 'gelenium-ui';

@Component(&#123;
  selector: 'app-button',
  templateUrl: './button.component.html',
  styleUrls: ['./button.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class ButtonComponent &#123;
  public routerLink = '/components/button';
  public fragment12 = 'palette12';
  public isDisabledReference = false;

  public cfgText: GlnButtonConfig = &#123;
    exterior: GlnButtonExterior.text,
    frameSize: GlnFrameSize.short,
    isNoRipple: true,
  &#125;;

&#125;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelCss">
          <code><pre source="css">
.bp-items &#123;
  display: flex;
  flex-wrap: wrap;
&#125;
.bp-items &gt; :first-child &#123;
  margin-left: 1%;
&#125;
.bp-items &gt; :not(first-child) &#123;
  margin-left: 5%;
&#125;

// ** Style: bstrap "bs-btn" **

.gln-button.bs-btn &#123;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  --glnbt-lb-pd-lf: 0.75rem;
  --glnbt-lb-pd-rg: 0.75rem;
&#125;
.gln-button.bs-btn:not(.gln-disabled)&gt;.glnbt-btn &#123;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
&#125;
.gln-button.bs-btn.gln-disabled&gt;.glnbt-btn &#123;
  opacity: .65;
&#125;
.gln-button.bs-btn:not(.gln-disabled)&gt;.glnbt-btn:active,
.gln-button.bs-btn:not(.gln-disabled).active&gt;.glnbt-btn &#123;
  background-color: var(--bs-act-bg-cl);
&#125;
.gln-button.bs-btn:not(.gln-disabled)&gt;.glnbt-btn:focus-within,
.gln-button.bs-btn:not(.gln-disabled).focus&gt;.glnbt-btn &#123;
  box-shadow: 0 0 0 0.2rem var(--bs-foc-bs-cl);
&#125;

// ** Style: bstrap "bs-link" **

.gln-button.bs-link:not(.gln-disabled)&gt;.glnbt-btn:hover &#123;
  color: var(--bs-hov-cl);
  text-decoration: underline;
&#125;
.gln-button.bs-link:not(.gln-disabled)&gt;.glnbt-btn:focus-within,
.gln-button.bs-link:not(.gln-disabled).focus&gt;.glnbt-btn &#123;
  text-decoration: underline;
&#125;

// ** Style: bstrap "Link" **

.gln-button.bs-btn-text.bs-link &#123;
  // Exterior: "text"
  --glnbt-t-def-cl: #007bff;
  // :hover
  --bs-hov-cl: #0056b3;
  --glnbt-t-hov-bg-cl: transparent;
  // :focus
  --bs-foc-bs-cl: rgb(0 123 255 / 25%);
  // disable
  --glnbt-t-dis-cl: #6c757d;
&#125;</pre></code>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
</section>

<hr br-nn />