<section mr-vr>
  <h3 class="app-hover-link">
    Basic.
    <a [href]="urlPlRadio + '#Basic'">#</a>
  </h3>
  <p>
    The GlnRadioButton component has the ability to change its color.
  </p>
  <span>For example:</span>
  <code><pre source="html">
&lt;gln-radio-button formControlName="model07" name="model07"
  <i><strong>[glnColor]="&#123; primary: 'danger' &#125;"</strong></i>
  value="demo1"&gt;Demo 1
&lt;/gln-radio-button&gt;</pre></code>
  <p>
    This means that you want to use the system color "danger"
    as the "primary" color.
  </p>
  <span>
    To use the glnColor directive, you need to add in your module:
  </span>
  <code><pre source="ts">
import &#123; GlnColorModule &#125; from 'gelenium-ui';</pre>
  </code>
</section>


<section mr-vr>
  <label>
    <input type="checkbox"
      (change)="isDisabled07a=!isDisabled07a"
      [checked]="isDisabled07a" /> Is disabled
  </label>&nbsp;
</section>


<form [formGroup]="formGroup07a"
  novalidate
  autocomplete="off">

  <gln-radio-group class="app-group"
    name="model07a">

    <div class="app-elem rbpl1-elem">
      <div>
        <small><em>color: primary</em></small>
      </div>
      <gln-radio-button formControlName="model07a"
        [glnColor]="{ primary: 'primary' }"
        value="primary1"
        [isDisabled]="isDisabled07a">primary 1
      </gln-radio-button>
    </div>

    <div class="app-elem rbpl1-elem">
      <div>
        <small><em>color: primary</em></small>
      </div>
      <gln-radio-button formControlName="model07a"
        [glnColor]="{ primary: 'primary' }"
        value="primary2"
        [isDisabled]="isDisabled07a">primary 2
      </gln-radio-button>
    </div>

  </gln-radio-group>

  <gln-radio-group class="app-group"
    name="model07b">

    <div class="app-elem rbpl1-elem">
      <div>
        <small><em>color: danger</em></small>
      </div>
      <gln-radio-button formControlName="model07b"
        [glnColor]="{ primary: 'danger' }"
        value="danger1"
        [isDisabled]="isDisabled07a">danger 1
      </gln-radio-button>
    </div>

    <div class="app-elem rbpl1-elem">
      <div>
        <small><em>color: danger</em></small>
      </div>
      <gln-radio-button formControlName="model07b"
        [glnColor]="{ primary: 'danger' }"
        value="danger2"
        [isDisabled]="isDisabled07a">danger 2
      </gln-radio-button>
    </div>

  </gln-radio-group>

  <gln-radio-group class="app-group"
    name="model07c">

    <div class="app-elem rbpl1-elem">
      <div>
        <small><em>color: success</em></small>
      </div>
      <gln-radio-button formControlName="model07c"
        [glnColor]="{ primary: 'success' }"
        value="success1"
        [isDisabled]="isDisabled07a">success 1
      </gln-radio-button>
    </div>

    <div class="app-elem rbpl1-elem">
      <div>
        <small><em>color: success</em></small>
      </div>
      <gln-radio-button formControlName="model07c"
        [glnColor]="{ primary: 'success' }"
        value="success2"
        [isDisabled]="isDisabled07a">success 2
      </gln-radio-button>
    </div>

  </gln-radio-group>

  <gln-radio-group class="app-group"
    name="model07d">

    <div class="app-elem rbpl1-elem">
      <div>
        <small><em>color: info</em></small>
      </div>
      <gln-radio-button formControlName="model07d"
        [glnColor]="{ primary: 'info' }"
        value="info1"
        [isDisabled]="isDisabled07a">info 1
      </gln-radio-button>
    </div>

    <div class="app-elem rbpl1-elem">
      <div>
        <small><em>color: info</em></small>
      </div>
      <gln-radio-button formControlName="model07d"
        [glnColor]="{ primary: 'info' }"
        value="info2"
        [isDisabled]="isDisabled07a">info 2
      </gln-radio-button>
    </div>

  </gln-radio-group>

  <gln-radio-group class="app-group"
    name="model07e">

    <div class="app-elem rbpl1-elem">
      <div>
        <small><em>color: warning</em></small>
      </div>
      <gln-radio-button formControlName="model07e"
        [glnColor]="{ primary: 'warning' }"
        value="warning1"
        [isDisabled]="isDisabled07a">warning 1
      </gln-radio-button>
    </div>

    <div class="app-elem rbpl1-elem">
      <div>
        <small><em>color: warning</em></small>
      </div>
      <gln-radio-button formControlName="model07e"
        [glnColor]="{ primary: 'warning' }"
        value="warning2"
        [isDisabled]="isDisabled07a">warning 2
      </gln-radio-button>
    </div>

  </gln-radio-group>

  <gln-radio-group class="app-group"
    name="model07f">

    <div class="app-elem rbpl1-elem">
      <div>
        <small><em>color: customer</em></small>
      </div>
      <gln-radio-button formControlName="model07f"
        class="rbpl1-customer"
        [glnColor]="{ primary: 'customer' }"
        value="customer1"
        [isDisabled]="isDisabled07a">customer 1
      </gln-radio-button>
    </div>

    <div class="app-elem rbpl1-elem">
      <div>
        <small><em>color: customer</em></small>
      </div>
      <gln-radio-button formControlName="model07f"
        class="rbpl1-customer"
        [glnColor]="{ primary: 'customer' }"
        value="customer2"
        [isDisabled]="isDisabled07a">customer 2
      </gln-radio-button>
    </div>

  </gln-radio-group>

</form>


<section mr-vr>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="labelHtml">
          <code><pre source="html">
&lt;form [formGroup]="formGroup07a"
  novalidate
  autocomplete="off"&gt;

  &lt;gln-radio-group class="app-group"
    name="model07a"&gt;

    &lt;div class="app-elem rbpl1-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;&lt;em&gt;color: primary&lt;/em&gt;&lt;/small&gt;
      &lt;/div&gt;
      &lt;gln-radio-button formControlName="model07a"
        [glnColor]="&#123; primary: 'primary' &#125;"
        value="primary1"
        [isDisabled]="isDisabled07a"&gt;primary 1
      &lt;/gln-radio-button&gt;
    &lt;/div&gt;

    &lt;div class="app-elem rbpl1-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;&lt;em&gt;color: primary&lt;/em&gt;&lt;/small&gt;
      &lt;/div&gt;
      &lt;gln-radio-button formControlName="model07a"
        [glnColor]="&#123; primary: 'primary' &#125;"
        value="primary2"
        [isDisabled]="isDisabled07a"&gt;primary 2
      &lt;/gln-radio-button&gt;
    &lt;/div&gt;

  &lt;/gln-radio-group&gt;

  &lt;gln-radio-group class="app-group"
    name="model07b"&gt;

    &lt;div class="app-elem rbpl1-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;&lt;em&gt;color: danger&lt;/em&gt;&lt;/small&gt;
      &lt;/div&gt;
      &lt;gln-radio-button formControlName="model07b"
        [glnColor]="&#123; primary: 'danger' &#125;"
        value="danger1"
        [isDisabled]="isDisabled07a"&gt;danger 1
      &lt;/gln-radio-button&gt;
    &lt;/div&gt;

    &lt;div class="app-elem rbpl1-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;&lt;em&gt;color: danger&lt;/em&gt;&lt;/small&gt;
      &lt;/div&gt;
      &lt;gln-radio-button formControlName="model07b"
        [glnColor]="&#123; primary: 'danger' &#125;"
        value="danger2"
        [isDisabled]="isDisabled07a"&gt;danger 2
      &lt;/gln-radio-button&gt;
    &lt;/div&gt;

  &lt;/gln-radio-group&gt;

  &lt;gln-radio-group class="app-group"
    name="model07c"&gt;

    &lt;div class="app-elem rbpl1-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;&lt;em&gt;color: success&lt;/em&gt;&lt;/small&gt;
      &lt;/div&gt;
      &lt;gln-radio-button formControlName="model07c"
        [glnColor]="&#123; primary: 'success' &#125;"
        value="success1"
        [isDisabled]="isDisabled07a"&gt;success 1
      &lt;/gln-radio-button&gt;
    &lt;/div&gt;

    &lt;div class="app-elem rbpl1-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;&lt;em&gt;color: success&lt;/em&gt;&lt;/small&gt;
      &lt;/div&gt;
      &lt;gln-radio-button formControlName="model07c"
        [glnColor]="&#123; primary: 'success' &#125;"
        value="success2"
        [isDisabled]="isDisabled07a"&gt;success 2
      &lt;/gln-radio-button&gt;
    &lt;/div&gt;

  &lt;/gln-radio-group&gt;

  &lt;gln-radio-group class="app-group"
    name="model07d"&gt;

    &lt;div class="app-elem rbpl1-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;&lt;em&gt;color: info&lt;/em&gt;&lt;/small&gt;
      &lt;/div&gt;
      &lt;gln-radio-button formControlName="model07d"
        [glnColor]="&#123; primary: 'info' &#125;"
        value="info1"
        [isDisabled]="isDisabled07a"&gt;info 1
      &lt;/gln-radio-button&gt;
    &lt;/div&gt;

    &lt;div class="app-elem rbpl1-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;&lt;em&gt;color: info&lt;/em&gt;&lt;/small&gt;
      &lt;/div&gt;
      &lt;gln-radio-button formControlName="model07d"
        [glnColor]="&#123; primary: 'info' &#125;"
        value="info2"
        [isDisabled]="isDisabled07a"&gt;info 2
      &lt;/gln-radio-button&gt;
    &lt;/div&gt;

  &lt;/gln-radio-group&gt;

  &lt;gln-radio-group class="app-group"
    name="model07e"&gt;

    &lt;div class="app-elem rbpl1-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;&lt;em&gt;color: warning&lt;/em&gt;&lt;/small&gt;
      &lt;/div&gt;
      &lt;gln-radio-button formControlName="model07e"
        [glnColor]="&#123; primary: 'warning' &#125;"
        value="warning1"
        [isDisabled]="isDisabled07a"&gt;warning 1
      &lt;/gln-radio-button&gt;
    &lt;/div&gt;

    &lt;div class="app-elem rbpl1-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;&lt;em&gt;color: warning&lt;/em&gt;&lt;/small&gt;
      &lt;/div&gt;
      &lt;gln-radio-button formControlName="model07e"
        [glnColor]="&#123; primary: 'warning' &#125;"
        value="warning2"
        [isDisabled]="isDisabled07a"&gt;warning 2
      &lt;/gln-radio-button&gt;
    &lt;/div&gt;

  &lt;/gln-radio-group&gt;

  &lt;gln-radio-group class="app-group"
    name="model07f"&gt;

    &lt;div class="app-elem rbpl1-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;&lt;em&gt;color: customer&lt;/em&gt;&lt;/small&gt;
      &lt;/div&gt;
      &lt;gln-radio-button formControlName="model07f"
        class="rbpl1-customer"
        [glnColor]="&#123; primary: 'customer' &#125;"
        value="customer1"
        [isDisabled]="isDisabled07a"&gt;customer 1
      &lt;/gln-radio-button&gt;
    &lt;/div&gt;

    &lt;div class="app-elem rbpl1-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;&lt;em&gt;color: customer&lt;/em&gt;&lt;/small&gt;
      &lt;/div&gt;
      &lt;gln-radio-button formControlName="model07f"
        class="rbpl1-customer"
        [glnColor]="&#123; primary: 'customer' &#125;"
        value="customer2"
        [isDisabled]="isDisabled07a"&gt;customer 2
      &lt;/gln-radio-button&gt;
    &lt;/div&gt;

  &lt;/gln-radio-group&gt;

&lt;/form&gt;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelTs">
          <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';
import &#123;
  FormControl, FormGroup
&#125; from '@angular/forms';

@Component(&#123;
  selector: 'app-radio-button',
  templateUrl: './radio-button.component.html',
  styleUrls: ['./radio-button.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class RadioButtonComponent &#123;
  public isDisabled07a = false;
  public formGroup07a: FormGroup = new FormGroup(&#123;
    model07a: new FormControl('primary1', []),
    model07b: new FormControl('danger1', []),
    model07c: new FormControl('success1', []),
    model07d: new FormControl('info1', []),
    model07e: new FormControl('warning1', []),
    model07f: new FormControl('customer1', []),
  &#125;);
&#125;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelCss">
          <code><pre source="css">
app-checkbox &#123;
  .app-group &#123;
    display: flex;
    flex-wrap: wrap;
  &#125;
  .app-elem &#123;
    min-width: 26ch;
    margin: 10px 10px;
  &#125;
  .rbpl1-elem &#123;
    min-width: 17ch;
  &#125;
  .rbpl1-customer &#123;
    --gln-customer-h: 200;
    --gln-customer-s: 75%;
    --gln-customer-l: 50%;

    --glnrb-dis-cl-svg: hsla(var(--gln-customer-h), var(--gln-customer-s), var(--gln-customer-l), 0.3);
    --glnrb-dis-chk-cl-svg: hsla(var(--gln-customer-h), var(--gln-customer-s), var(--gln-customer-l), 0.3);
  &#125;
&#125;</pre></code>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
</section>

<hr br-nn />