<section mr-vr>
  <p>
    The css-style "fp-bstrap" implements a bootstrap-style color palette.
  </p>
</section>

<form [formGroup]="formGroup06b"
  novalidate
  autocomplete="off">

  <div class="app-group">
    <small>
      <em>Style like Bootstrap</em>
    </small>
  </div>

  <div class="app-group">

    <div class="app-elem"
      style="width: 15em;">
      <div>
        <small>
          <em>Attributes: isRequired, helperText.</em>
        </small>
      </div>
      <gln-input class="fp-bstrap"
        formControlName="input06g"
        frameSize="short"
        noLabel
        exterior="outlined"
        isRequired
        wdFull
        helperText="{{
          (controls06b.input06g.errors?.required
            ? 'Required field.': 'Enter value.')
        }}">
      </gln-input>
    </div>

    <div class="app-elem"
      style="width: 15em;">
      <div>
        <small>
          <em>Attributes: isRequired, helperText.</em>
        </small>
      </div>
      <gln-input class="fp-bstrap"
        formControlName="input06h"
        frameSize="short"
        noLabel
        exterior="outlined"
        isRequired
        wdFull
        helperText="{{
          (controls06b.input06h.errors?.required
            ? 'Required field.': 'Enter value.')
        }}">
      </gln-input>
    </div>

    <div class="app-elem">
      <div>
        <small>
          <em>Class: is-success.</em>
        </small>
      </div>
      <gln-input [ngClass]="['fp-bstrap', (!controls06b.input06i.errors ? 'is-success' : '')]"
        formControlName="input06i"
        frameSize="short"
        noLabel
        exterior="outlined"
        isRequired
        wdFull
        helperText="{{
          (controls06b.input06i.errors?.required
            ? 'Required field.': 'Enter value.')
        }}">
      </gln-input>
    </div>

    <div class="app-elem">
      <div>
        <small>
          <em>Attributes: isDisabled.</em>
        </small>
      </div>
      <gln-input class="fp-bstrap"
        formControlName="input06j"
        frameSize="short"
        noLabel
        exterior="outlined"
        isDisabled
        wdFull
        helperText="The parameter is disabled.">
      </gln-input>
    </div>

  </div>

</form>

<section mr-vr>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="labelHtml">
          <code><pre source="html">
&lt;form [formGroup]="formGroup06b"
  novalidate
  autocomplete="off"&gt;

  &lt;div class="app-group"&gt;
    &lt;small&gt;
      &lt;em&gt;Style like Bootstrap&lt;/em&gt;
    &lt;/small&gt;
  &lt;/div&gt;

  &lt;div class="app-group"&gt;

    &lt;div class="app-elem"
      style="width: 15em;"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;Attributes: isRequired, helperText.&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;gln-input class="fp-bstrap"
        formControlName="input06g"
        frameSize="short"
        noLabel
        exterior="outlined"
        isRequired
        wdFull
        helperText="<b>&#123;</b>&#123;
          (controls06b.input06g.errors?.required
            ? 'Required field.': 'Enter value.')
        &#125;&#125;"&gt;
      &lt;/gln-input&gt;
    &lt;/div&gt;

    &lt;div class="app-elem"
      style="width: 15em;"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;Attributes: isRequired, helperText.&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;gln-input class="fp-bstrap"
        formControlName="input06h"
        frameSize="short"
        noLabel
        exterior="outlined"
        isRequired
        wdFull
        helperText="<b>&#123;</b>&#123;
          (controls06b.input06h.errors?.required
            ? 'Required field.': 'Enter value.')
        &#125;&#125;"&gt;
      &lt;/gln-input&gt;
    &lt;/div&gt;

    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;Attributes: isDisabled.&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;gln-input class="fp-bstrap"
        formControlName="input06i"
        frameSize="short"
        noLabel
        exterior="outlined"
        isDisabled
        helperText="The parameter is disabled."&gt;
      &lt;/gln-input&gt;
    &lt;/div&gt;

  &lt;/div&gt;

&lt;/form&gt;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelTs">
          <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';
import &#123;
  FormControl, FormGroup, Validators
&#125; from '@angular/forms';

@Component(&#123;
  selector: 'app-frame-input',
  templateUrl: './frame-input.component.html',
  styleUrls: ['./frame-input.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class FrameComponent &#123;
  public controls06b = &#123;
    input06g: new FormControl('Hello World', [Validators.required]),
    input06h: new FormControl('', [Validators.required]),
    input06i: new FormControl('Hello World', []),
  &#125;;
  public formGroup06b: FormGroup = new FormGroup(this.controls06b);

&#125;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelCss">
          <code><pre source="css">
.app-group &#123;
  display: flex;
  flex-wrap: wrap;
&#125;
.app-elem &#123;
  min-width: 26ch;
  margin: 10px 10px;
&#125;

// BootStrap
// BootStrap
.fp-bstrap &#123;
  color: #495057;
  --bs-err-cl: #dc3545;
  --bs-hov-err-cl: #dc3545;
  --bs-foc-cl: #80bdff;
  --bs-def-br-cl: #ced4da;
  --bs-dis-bgr-cl: #e9ecef;
&#125;
.fp-bstrap .gln-frame &#123;
  line-height: 1.5;
&#125;
.fp-bstrap .gln-frame:not(.gln-disabled):not(.gln-error):not(:hover):not(:focus-within) .glnf-fieldset &#123;
  border-color: var(--bs-def-br-cl);
&#125;
.fp-bstrap .gln-frame:not(.gln-disabled):not(.gln-error):hover:not(:focus-within) .glnf-fieldset &#123;
  border-color: var(--bs-def-br-cl);
&#125;
.fp-bstrap .gln-frame:not(.gln-disabled):not(.gln-error):focus-within .glnf-fieldset &#123;
  border-color: var(--bs-foc-cl);
&#125;
.fp-bstrap .gln-frame:not(.gln-disabled).gln-error:not(:hover):not(:focus-within) .glnf-fieldset &#123;
  border-color: var(--bs-err-cl);
&#125;
.fp-bstrap .gln-frame:not(.gln-disabled).gln-error:hover:not(:focus-within) .glnf-fieldset &#123;
  border-color: var(--bs-hov-err-cl);
&#125;
.fp-bstrap .gln-frame.gln-disabled .glnf-fieldset &#123;
  border-color: var(--bs-def-br-cl);
&#125;
.fp-bstrap .gln-frame.gln-disabled &#123;
  background-color: var(--bs-dis-bgr-cl);
  opacity: 1;
&#125;
.fp-bstrap gln-hint-or-error.ghe-error &#123;
  color: var(--bs-err-cl);
&#125;
.fp-bstrap .gln-frame.gln-disabled .glnf-fieldset &#123;
  border-style: solid;
&#125;
.fp-bstrap .gln-frame:focus-within .glnf-fieldset &#123;
  border-width: 1px;
&#125;
.fp-bstrap .gln-frame:focus-within.gln-error .glnf-fieldset &#123;
  box-shadow: 0 0 0 0.2rem rgb(220 53 69 / 25%);
&#125;
.fp-bstrap .gln-frame:focus-within:not(.gln-error) .glnf-fieldset &#123;
  box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
&#125;
.fp-bstrap .gln-frame.gln-error .glni-input &#123;
  padding-right: 1.4em;
  background-image: url("data:image/svg+xml,"
  + "&lt;svg xmlns='http://www.w3.org/2000/svg' width='12' "
  + "height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'&gt;"
  + "&lt;circle cx='6' cy='6' r='4.5'/&gt;"
  + "&lt;path stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/&gt;"
  + "&lt;circle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/&gt;"
  + "&lt;/svg&gt;");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
  margin-right: 5px;
&#125;</pre></code>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
</section>

<hr br-nn>