<div class="lc-api-class">
  <code>GrnInput</code>
</div>
<p class="lc-brk-wrd">
  <span>Selector:</span>
  <span class="lc-api-param">grn-input</span>
</p>
<p class="lc-brk-wrd">
  <span>Exported as:</span>
  <span class="lc-api-param">grnInput</span>
</p>

<h4>Properties</h4>

<table class="lc-api-tab">
  <tbody>
    <tr>
      <th>Name</th>
      <th>Description</th>
    </tr>

    <tr>
      <td>
        <code>@Input()</code>
        <code>id: string;</code>
      </td>
      <td>
        <span>ID of the native input element.<br />(default = 'grn_input_' + ++identifier;)</span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>type: string;</code>
      </td>
      <td>
        <span>The type of the native input element.<br />(default = InputType.text.valueOf();)</span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>label: string;</code>
      </td>
      <td>
        <span>The content of the label.<br />(default = '';)</span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>exterOutlined: string | null;</code>
      </td>
      <td>
        <span>Changes the appearance of the element to "Outlined" mode.<br />Attribute (no content).</span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>exterUnderline: string | null;</code>
      </td>
      <td>
        <span>Changes the appearance of the element to "Underline" mode.<br />Attribute (no content).</span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>exterStandard: string | null;</code>
      </td>
      <td>
        <span>Changes the appearance of the element to "Standard" mode. Default.<br />Attribute (no content).</span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>isReadOnly: string | null;</code>
      </td>
      <td>
        <span>Whether the element is readonly.<br />Attribute (no content).</span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>isRequired: string | null;</code>
      </td>
      <td>
        <span>Adds a validation condition: required field.<br />Attribute (no content).</span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>isDisabled: string | null;</code>
      </td>
      <td>
        <span>The element is disabled.<br />Attribute (no content).</span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>lbShrink: string | null;</code>
      </td>
      <td>
        <span>Disable label animation. The label is always static, at the top.<br />Attribute (no content).</span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>szShort: string | null;</code>
      </td>
      <td>
        <span>Changes the size of the element in "szShort" mode (height: 38px).<br />Attribute (no content).</span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>szSmall: string | null;</code>
      </td>
      <td>
        <span>Changes the size of the element in "szSmall" mode (height: 44px).<br />Attribute (no content).</span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>szMiddle: string | null;</code>
      </td>
      <td>
        <span>Changes the size of the element in "szMiddle" mode (height: 50px).<br />Attribute (no content).</span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>szNormal: string | null;</code>
      </td>
      <td>
        <span>Changes the size of the element in "szNormal" mode (height: 56px). Default.<br />Attribute (no
          content).</span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>szLarge: string | null;</code>
      </td>
      <td>
        <span>Changes the size of the element in "szLarge" mode (height: 62px).<br />Attribute (no content).</span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>szHuge: string | null;</code>
      </td>
      <td>
        <span>Changes the size of the element in "szHuge" mode (height: 68px).<br />Attribute (no content).</span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>hiddenLabel: string | null;</code>
      </td>
      <td>
        <span>Disables the display of the label.<br />Attribute (no content).</span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>isError: string | null;</code>
      </td>
      <td>
        <span>Forces the error status of an item to be displayed.<br />Attribute (no content).</span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>pattern: string;</code>
      </td>
      <td>
        <span>The attribute defines a regular expression that is passed to the native input element to validate the
          input value.
          Applies to an input element of type: text, tel, email, url, password, and search.
          <br />(default = '';)
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>onlyByRegex: string;</code>
      </td>
      <td>
        <span>Attribute, defines a regular expression for the grnOnlyByRegex directive.
          This directive checks the input value against the specified regular expression.
          <br />'#numeric' - which matches the regular expression '^-?(\d+)$';
          <br />'#numeric(,2)' - which matches the regular expression
          '^-?(\d+(\.\d&#123;0,2&#125;)?|\.\d&#123;0,2&#125;)$';
          <br />'#numeric(12,2)' - which matches the regular expression
          '^-?(\d&#123;1,12&#125;(\.\d&#123;0,2&#125;)?|\.\d&#123;0,2&#125;)$';
          <br />(default = '';)
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>autoComplete: string;</code>
      </td>
      <td>
        <span>Defines permissions for autocomplete native input.
          <br />(default = '';)
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>helperText: string;</code>
      </td>
      <td>
        <span>Specifies the text for additional clarification or error.
          <br />(default = null;)
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>step: string;</code>
      </td>
      <td>
        <span>The step value for increasing / decreasing the value of the input element.
          <br />(default = null;)
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>min: string;</code>
      </td>
      <td>
        <span>Determines the minimum value that is acceptable for an input element.
          <br />(default = null;)
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>max: string;</code>
      </td>
      <td>
        <span>Determines the maximum value that is acceptable for an input element.
          <br />(default = null;)
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>minLength: string;</code>
      </td>
      <td>
        <span>Defines defines the minimum number of characters for an input element.
          <br />(default = null;)
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>maxLength: string;</code>
      </td>
      <td>
        <span>Defines defines the maximum number of characters for an input element.
          <br />(default = null;)
        </span>
      </td>
    </tr>
  </tbody>
</table>