<section mr-vr>
  <h3 class="app-hover-link">
    Config.
    <a [href]="urlCmButton + '#Config'">#</a>
  </h3>
  <p>
    If your application will have a single style for buttons, then you can set a single
    configuration.
    To do this, you need to create an object with the GlnButtonConfig interface and define the
    required values.
    Next, specify the resulting object in the list of providers for the entire application (at the
    level of the AppComponent).
  </p>
  <code><pre source="ts">
  const glnButtonConfigDefault: GlnButtonConfig = &#123;
    exterior: GlnButtonExterior.contained,
    frameSize: GlnFrameSize.small,
  &#125;;

  @Component(&#123;
    selector: 'app-root',
    templateUrl: './app.component.html',
    styleUrls: ['./app.component.scss'],
    encapsulation: ViewEncapsulation.None,
    providers: [
      &#123;
        provide: GLN_BUTTON_CONFIG,
        useValue: glnButtonConfigDefault
      &#125;
    ],
  &#125;)
  export class AppComponent &#123;
    title = 'demo';
  &#125;</pre></code>
  <p>
    After that, all buttons based on the "GlnButtonConfig" component will have the same
    configuration.
  </p>
</section>

<section mr-vr
  id="config-interface">
  <h4 class="app-hover-link">
    GlnButtonConfig interface.
    <a [href]="urlCmButton + '#config-interface'">#</a>
  </h4>
</section>

<table class="app-tab">
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>

  <tr>
    <td><code>exterior?: GlnButtonExterior;</code></td>
    <td>
      <span>
        This property determines the appearance of the button.
        It takes the following values:
      </span>
      <ul>
        <li>
          "contained" - The element has a background.
        </li>
        <li>
          "outlined" - A border around the entire perimeter of the element.
        </li>
        <li>
          "text" - There is no border. (default)
        </li>
      </ul>
      <span>(optional)</span>
    </td>
  </tr>
  <tr>
    <td><code>frameSize?: GlnFrameSize;</code></td>
    <td>
      <span>
        This property determines the size of the element (its height).
        <a [href]="urlCmFrame + '#FrameSize'">More details.</a>
        It takes the following values:
      </span>
      <ul>
        <li>"short" - sets the height to 38px;</li>
        <li>"small" - sets the height to 44px (default);</li>
        <li>"middle" - sets the height to 50px;</li>
        <li>"wide" - sets the height to 56px;</li>
        <li>"large" - sets the height to 62px;</li>
        <li>"huge" - sets the height to 68px;</li>
      </ul>
      <span>(optional)</span>
    </td>
  </tr>
  <tr>
    <td><code>frameSizeValue?: number;</code></td>
    <td>
      <span>
        This property sets the height of the element in pixels.
        This property applies only if there is no "frameSize" property.
      </span>
    </td>
  </tr>
  <tr>
    <td><code>labelPd?: number;</code></td>
    <td>
      <span>
        The value of the label's horizontal offset from the frame (in pixels).
      </span>
    </td>
  </tr>
  <tr>
    <td><code>isNoRipple?: boolean;</code></td>
    <td>
      <span>
        This property to turn off the ripple effect.
        <br />(default = false;)
      </span><br />
      <span>(optional)</span>
    </td>
  </tr>
</table>

<section mr-vr
  id="config1">
  <h4 class="app-hover-link">
    1. Configuration with "outlined" and "middle".
    <a [href]="urlCmButton + '#config1'">#</a>
  </h4>
  <p>
    For example, let's prepare a configuration in which:
  </p>
  <ul>
    <li>"exterior" will have the value "outlined".</li>
    <li>"frameSize" will have the value "middle" (height to 50px;).</li>
  </ul>
  <code><pre source="ts">
    const glnButtonConfigDefault: GlnButtonConfig = &#123;
      exterior: GlnButtonExterior.outlined,
      frameSize: GlnFrameSize.middle,
    &#125;;</pre></code>
</section>

<section mr-vr
  id="config2">
  <h4 class="app-hover-link">
    2. Specify "underline" and "middle".
    <a [href]="urlCmButton + '#config2'">#</a>
  </h4>
  <p>
    Suppose we have a provider in our application with "GlnButtonConfig" and all buttons
    accept its default values.
    We can change these values for an individual element.
    To do this, you need to specify in this element those properties that do not match in the
    configuration provider.
  </p>
  <p>
    For example, let's specify the following parameters:
  </p>
  <code><pre source="ts">
  frameSize="wide"
  exterior="outlined"</pre></code>
  <p>
    In other words, there is the following order of determining the configuration parameters:
  </p>
  <ul>
    <li>
      Standard values are taken.
      <code><pre source="ts">
  exterior="text",
  frameSize="small",
  isNoRipple=false</pre></code>
    </li>
    <li>
      Values from the default configuration provider (if there is one).
    </li>
    <li>
      Values from button parameters (if there is one).
    </li>
  </ul>
</section>

<div class="app-group">

  <div class="app-elem">
    <div>
      <small>
        <em>1. Default config: "text", "small".</em>
      </small>
    </div>
    <gln-button>
      <span>Default</span>
    </gln-button>
  </div>

  <div class="app-elem">
    <div>
      <small>
        <em>2. exterior="outlined", frameSize="wide".</em>
      </small>
    </div>
    <gln-button exterior="outlined"
      frameSize="wide">
      <span>Settings</span>
    </gln-button>
  </div>

</div>

<section mr-vr>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="labelHtml">
          <code><pre source="html">
&lt;div class="app-group"&gt;

  &lt;div class="app-elem"&gt;
    &lt;div&gt;
      &lt;small&gt;
        &lt;em&gt;1. Default config: "text", "small".&lt;/em&gt;
      &lt;/small&gt;
    &lt;/div&gt;
    &lt;gln-button&gt;
      &lt;span&gt;Default&lt;/span&gt;
    &lt;/gln-button&gt;
  &lt;/div&gt;

  &lt;div class="app-elem"&gt;
    &lt;div&gt;
      &lt;small&gt;
        &lt;em&gt;2. exterior="outlined", frameSize="wide".&lt;/em&gt;
      &lt;/small&gt;
    &lt;/div&gt;
    &lt;gln-button exterior="outlined"
      frameSize="wide"&gt;
      &lt;span&gt;Settings&lt;/span&gt;
    &lt;/gln-button&gt;
  &lt;/div&gt;

&lt;/div&gt;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelTs">
          <code><pre source="ts">
import &#123; Component, ViewEncapsulation &#125; from '@angular/core';

@Component(&#123;
  selector: 'app-button',
  templateUrl: './button.component.html',
  styleUrls: ['./button.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class ButtonComponent &#123;
&#125;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelCss">
          <code><pre source="css">
.app-group &#123;
  display: flex;
  flex-wrap: wrap;
&#125;
.app-elem &#123;
  min-width: 26ch;
  margin: 10px 10px;
&#125;</pre></code>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
</section>