/*# sourceURL=app-infinite-scroll.component.scss */

app-infinite-scroll {
  display: block;

  .is-section {
    margin-top: 20px;
    margin-bottom: 15px;
  }
  pre.is-fw-nr b {
    font-weight: normal;
  }
}