/*# sourceURL=app.component.scss */

app-root {
  --app-border-width: 2px;
  --app-border-style: solid;
  --app-border-color: #E5E8EC;
  --app-header-height: 42px;
  --app-footer-height: 0px;

  height: 100%;
  display: flex;
  flex-direction: column;

  &>.app-header {
    flex-shrink: 0;
    flex-basis: var(--app-header-height);
    display: flex;
    align-items: center;
    article {
      padding: 0 10px;
      margin: 0 10px;
    }
  }
  &>.app-middle {
    flex-grow: 1;
    height: fit-content; // IMPORTANT for scrolling in safari
    overflow-y: hidden;
    position: relative;
  }
  &>.app-footer {
    flex-shrink: 0;
    flex-basis: var(--app-footer-height);
  }

  .app-brd-bt {
    border-bottom-width: var(--app-border-width);
    border-bottom-style: var(--app-border-style);
    border-bottom-color: var(--app-border-color);
    box-sizing: border-box;
  }
  .app-brd-rg {
    border-right-width: var(--app-border-width);
    border-right-style: var(--app-border-style);
    border-right-color: var(--app-border-color);
    box-sizing: border-box;
  }
  
  .app-group {
    display: flex;
    flex-wrap: wrap;
  }
  .app-elem {
    min-width: 28ch;
    margin: 10px 10px;
  }
  .app-elem>div {
    margin-bottom: 13px;
  }
  .app-group div>small {
    color: #00000096;
  }

  table.app-tab {
    border-collapse: collapse;
    border: 1px solid rgba(0,0,0,.12);
    tr {
      border-top: 1px solid rgba(0,0,0,.12);
    }
    th, td {
      &:not(:last-of-type) {
        border-right: 1px solid rgba(0,0,0,.12);
      }
    }
    th {
      font-weight: 400;
      max-width: 100px;
      text-align: left;
      background: whitesmoke;
    }
    th, td {
      padding: 8px 16px;
      code {
        display: block;
      }
    }
    ul {
      margin-block-start: 0;
      margin-block-end: 0;
      padding-inline-start: 30px;
    }
  }

}
