<h3>Component: "GlnDatepicker"</h3>

<div *ngIf="!showNum || showNum==='01'"
  id="Basic">
  <app-cm-datepicker-basic></app-cm-datepicker-basic>
  <hr br-tp>
</div>

<!-- <div *ngIf="!showNum || showNum==='02'"
  id="Attributes">
  <app-cm-datepicker-attributes></app-cm-datepicker-attributes>
  <hr br-tp>
</div> -->

<!-- <div *ngIf="!showNum || showNum==='03'"
  id="Validation">
  <app-cm-datepicker-validation></app-cm-datepicker-validation>
  <hr br-tp>
</div> -->

<!-- <div *ngIf="!showNum || showNum==='04'"
  id="Group">
  <app-cm-datepicker-group></app-cm-datepicker-group>
  <hr br-tp>
</div> -->

<!-- <div *ngIf="!showNum || showNum==='05'"
  id="Trigger">
  <app-cm-datepicker-trigger></app-cm-datepicker-trigger>
  <hr br-tp>
</div> -->

<!-- <div *ngIf="!showNum || showNum==='06'"
  id="Ornaments">
  <app-cm-datepicker-ornaments></app-cm-datepicker-ornaments>
  <hr br-tp>
</div> -->

<!-- <section mr-vr
  *ngIf="!showNum"
  id="Size">
  <h3 class="app-hover-link">
    Size
    <a [href]="urlCmDatepicker + '#Size'">#</a>
  </h3>
  <p>
    The <a [href]="urlCmFrame + '#Size'">"GlnFrame#Size"</a>
    page shows you how to resize an element.
  </p>
  <hr br-tp>
</section> -->

<!-- <section mr-vr
  *ngIf="!showNum"
  id="HelperText">
  <h3 class="app-hover-link">
    Helper text
    <a [href]="urlCmDatepicker + '#HelperText'">#</a>
  </h3>
  <p>
    The <a [href]="urlCmFrame + '#HelperText'">"GlnFrame#HelperText"</a>
    page shows you how to effectively use the helperText property.
  </p>
  <hr br-tp>
</section> -->

<!-- <section mr-vr
  *ngIf="!showNum"
  id="BorderRadius">
  <h3 class="app-hover-link">
    Border Radius
    <a [href]="urlCmDatepicker + '#BorderRadius'">#</a>
  </h3>
  <p>
    The <a [href]="urlCmFrame + '#BorderRadius'">"GlnFrame#BorderRadius"</a>
    page shows you how to change the rounding radius of an element.
  </p>
  <hr br-tp>
</section> -->

<!-- <section mr-vr
  *ngIf="!showNum"
  id="Palette">
  <h3 class="app-hover-link">
    Palette
    <a [href]="urlCmDatepicker + '#Palette'">#</a>
  </h3>
  <p>
    The <a [href]="urlPlDatepicker + '#Basic'">"Palette GlnDatepicker#Basic"</a>
    page shows you how to change the color palette of an element.
  </p>
  <hr br-tp>
</section> -->

<div *ngIf="!showNum || showNum==='07'"
  id="Feature">
  <app-cm-datepicker-feature></app-cm-datepicker-feature>
  <hr br-tp>
</div>

<!-- <div *ngIf="!showNum || showNum==='08'"
  id="Config">
  <app-cm-datepicker-config></app-cm-datepicker-config>
  <hr br-tp>
</div> -->

<!-- <div *ngIf="!showNum || showNum==='09'"
  id="Api">
  <app-cm-datepicker-api></app-cm-datepicker-api>
  <hr br-tp>
</div> -->

<br />
<br />