/* You can add global styles to this file, and also import other style files */
/* lib: gelenium-ui */

:root {

  // ** glnFrame **
  // The color of the label and border on mouse hover.
  --gf-hov-cl: rgba(0, 0, 0, 0.87);
  // The color of the label and border in an error state.
  --gf-err-cl: #d32f2f;
  --gf-err-cl2: #d32f2fcf;
  // The color of the label and border on mouse hover in an error state.
  --gf-hov-err-cl: #ff0000;
  // The color of the border and label when getting focus.
  --gf-foc-cl: #1976d2;
  // The color of the label and border in the state is disabled.
  --gf-dis-cl: #787878;

  // For "label"
  // The default color for the label.
  --gf-def-cl1: rgba(0, 0, 0, 0.6);

  // For "frame" - outlined
  // The default border color for "outlined" mode.
  --gf-def-cl2: rgba(0, 0, 0, 0.23);

  // For "frame" - underline
  // The default background color for "underline" mode.
  --gf-def2-cl: rgba(0, 0, 0, 0.06);
  // The background color on mouse hover for the "underline" mode.
  --gf-hov2-cl: #1976d20b;
  // The background color when getting focus for "underline" mode.
  --gf-foc2-cl: #1976d20f;
  // The background color in an error state for "underline" mode.
  --gf-err2-cl: #d32f2f0f;
  // The background color on mouse hover in an error state  for "underline" mode.
  --gf-hov-err2-cl: #d32f2f0b;
  // The background color when getting focus in an error state for "underline" mode.
  --gf-foc-err2-cl: #ce51512d; // rgba(0, 0, 0, 0.06);
  // The background color in the state is disabled for the "underline" mode.
  --gf-dis2-cl: #7878783b;

  // For "frame" - standard and underline
  // The default bottom border color for "underline" and "standard" modes.
  --gf-def-bg-cl2: rgba(0, 0, 0, 0.42);

  // ** **

}
