<section mr-vr>
  <h3 class="app-hover-link">
    API: GlnButton
    <a [href]="urlCmButton + '#Api'">#</a>
  </h3>
  <p>
    Selector:
    <span fw500>gln-button</span>
  </p>
  <p>
    Exported as:
    <span fw500>glnButton</span>
  </p>
</section>

<section mr-vr
  id="api-properties">
  <h4 class="app-hover-link">
    Properties
    <a [href]="urlCmButton + '#api-properties'">#</a>
  </h4>
</section>

<table class="app-tab">
  <thead>
    <tr>
      <th class="app-mn-wd-22ch">Name</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <code>@Input()</code>
        <code>id: string;</code>
      </td>
      <td>
        <span>
          ID of the native button.<br />
          (default = `glnbt-$&#123;uniqueIdCounter++&#125;`;)
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>config: GlnButtonConfig<br/>
          &nbsp;&nbsp;| null<br/>
          &nbsp;&nbsp;| undefined;</code>
      </td>
      <td>
        <span>Defines a configuration object.</span><br />
        <a [href]="urlCmButton + '#config-interface'">More details.</a>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>exterior: string<br/>
          &nbsp;&nbsp;| null<br/>
          &nbsp;&nbsp;| undefined;</code>
      </td>
      <td>
        <span>
          Determines the appearance of an button.<br />
          It can take the following values:
        </span>
        <ul>
          <li>"contained";</li>
          <li>"outlined";</li>
          <li>"text" (default);</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>isDisabled: string<br/>
          &nbsp;&nbsp;| boolean<br/>
          &nbsp;&nbsp;| null<br/>
          &nbsp;&nbsp;| undefined;</code>
      </td>
      <td>
        <span>The element is disabled.<br />
          Attribute (no content).</span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>isNoRipple: string<br/>
          &nbsp;&nbsp;| boolean<br/>
          &nbsp;&nbsp;| null<br/>
          &nbsp;&nbsp;| undefined;</code>
      </td>
      <td>
        <span>
          Flag for disabling the ripple effect.<br />
          Attribute (no content).
        </span><br />
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>ornamLfAlign: string<br/>
          &nbsp;&nbsp;| null<br/>
          &nbsp;&nbsp;| undefined;</code>
      </td>
      <td>
        <span>
          This property controls the vertical alignment for the left ornament.
          <br />(default = 'default';)
          It can take the following values:
        </span>
        <ul>
          <li>"default" - defines the default</li>
          <li>"center" - defines middle alignment</li>
          <li>"flexStart" - defines top alignment</li>
          <li>"flexEnd" - defines bottom alignment</li>
          <li>"baseline" - defines baseline alignment</li>
          <li>"stretch" - stretches across the entire height</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>ornamRgAlign: string<br/>
          &nbsp;&nbsp;| null<br/>
          &nbsp;&nbsp;| undefined;</code>
      </td>
      <td>
        <span>
          This property controls the vertical alignment of the right ornament.
          <br />(default = 'default';)
          It can take the following values:
        </span>
        <ul>
          <li>"default" - defines the default</li>
          <li>"center" - defines middle alignment</li>
          <li>"flexStart" - defines top alignment</li>
          <li>"flexEnd" - defines bottom alignment</li>
          <li>"baseline" - defines baseline alignment</li>
          <li>"stretch" - stretches across the entire height</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>size: number<br/>
          &nbsp;&nbsp;| string<br/>
          &nbsp;&nbsp;| null<br/>
          &nbsp;&nbsp;| undefined;</code>
      </td>
      <td>
        <span>Determines the size of the button.</span><br />
        <a [href]="urlCmFrame + '#Size'">More details.</a><br />
        <span>It can take the following values:</span>
        <ul>
          <li>"short" - height: 38px;</li>
          <li>"small" - height: 44px (default);</li>
          <li>"middle" - height: 50px;</li>
          <li>"wide" - height: 56px;</li>
          <li>"large" - height: 62px;</li>
          <li>"huge" - height: 68px;</li>
        </ul>
        <span>
          This property can also contain the element's height in pixels, either as a string
          or as a number.<br />
          The value in the units of "pixels" allow you to accurately calculate the size of
          internal elements.<br />
          For example: <code>size="57" or [size]="57"</code>
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Output()</code>
        <code>focused: EventEmitter&lt;void&gt;;</code>
      </td>
      <td>
        <span>
          Fires when the element receives input focus.
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Output()</code>
        <code>blured: EventEmitter&lt;void&gt;;</code>
      </td>
      <td>
        <span>
          Fires when an element loses input focus.
        </span>
      </td>
    </tr>
  </tbody>
</table>


<section mr-vr
  id="api-methods">
  <h4 class="app-hover-link">
    Methods
    <a [href]="urlCmButton + '#api-methods'">#</a>
  </h4>
</section>

<table class="app-tab">
  <thead>
    <th colspan="2">
      <span fw500>focus(): void;</span>
    </th>
  </thead>
  <tbody>
    <tr colspan="2">
      <td>
        This element is given input focus.
      </td>
    </tr>
  </tbody>
</table>

<hr br-nn />


<section mr-vr
  id="api-css-variables">
  <h4 class="app-hover-link">
    CSS variables at the component level.
    <a [href]="urlCmButton + '#api-css-variables'">#</a>
  </h4>
</section>

<table class="app-tab">
  <thead>
    <tr>
      <th class="app-mn-wd-22ch">Name</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><code>--glnbt--default-h:<br/>
        &nbsp;var(--glncl-default-h,<br/>
        &nbsp;&nbsp;var(--gln-default-h)<br/>
        &nbsp;);</code></td>
      <td>
        <span>
          In the "disabled" state defines:
        </span>
        <ul>
          <li>text and background color for exterior "contained";</li>
          <li>the color of the text and frame for the exterior "outland";</li>
          <li>text color for exterior "text";</li>
        </ul>
        <span>
          The value is determined by the system css-variable
          <code ubr>--gln-default-h</code>.<br />
          Or the css-variable of the GlnColor directive
          <code ubr>--glncl-default-h</code>.<br />
          The hue value for the "hsl()" css function.
        </span>
      </td>
    </tr>
    <tr>
      <td><code>--glnbt--default-s:<br/>
        &nbsp;var(--glncl-default-s,<br/>
        &nbsp;&nbsp;var(--gln-default-s)<br/>
        &nbsp;);</code></td>
      <td>
        <span>
          The value is determined by the system css-variable
          <code ubr>--gln-default-s</code>.<br />
          Or the css-variable of the GlnColor directive
          <code ubr>--glncl-default-s</code>.<br />
          The saturation value for the "hsl()" css function.
        </span>
      </td>
    </tr>
    <tr>
      <td><code>--glnbt--default-bg-h:<br/>
        &nbsp;var(--glncl-default-bg-h,<br/>
        &nbsp;&nbsp;var(--gln-default-bg-h)<br/>
        &nbsp;);</code>
      </td>
      <td>
        <span>
          This setting defines:
        </span>
        <ul>
          <li>
            text color and ripple effect for exterior "contained";
          </li>
        </ul>
        <span>
          The value is determined by the system css-variable
          <code ubr>--gln-default-bg-h</code>.<br />
          Or the css-variable of the GlnColor directive
          <code ubr>--glncl-default-bg-h</code>.<br />
          The hue value for the "hsl()" css function.
        </span>
      </td>
    </tr>
    <tr>
      <td><code>--glnbt--default-bg-s:<br/>
        &nbsp;var(--glncl-default-bg-s,<br/>
        &nbsp;&nbsp;var(--gln-default-bg-s)<br/>
        &nbsp;);</code>
      </td>
      <td>
        <span>
          The value is determined by the system css-variable
          <code ubr>--gln-default-bg-s</code>.<br />
          Or the css-variable of the GlnColor directive
          <code ubr>--glncl-default-bg-s</code>.<br />
          The saturation value for the "hsl()" css function.
        </span>
      </td>
    </tr>
    <tr>
      <td><code>--glnbt--primary-h:<br/>
        &nbsp;var(--glncl-primary-h,<br/>
        &nbsp;&nbsp;var(--gln-primary-h)<br/>
        &nbsp;);</code>
      </td>
      <td>
        <span>
          This parameter for the exterior "contained" defines:
        </span>
        <ul>
          <li>background color by default and on mouse hover;</li>
        </ul>
        <span>
          This parameter for the exterior "outlined" defines:
        </span>
        <ul>
          <li>ripple effect color;</li>
          <li>text color, border color, mouse hover background color;</li>
        </ul>
        <span>
          This parameter for the exterior "text" defines:
        </span>
        <ul>
          <li>ripple effect color;</li>
          <li>text color, mouse hover background color;</li>
        </ul>
        <span>
          The value is determined by the system css-variable
          <code ubr>--gln-primary-h</code>.<br />
          Or the css-variable of the GlnColor directive
          <code ubr>--glncl-primary-h</code>.<br />
          The hue value for the "hsl()" css function.
        </span>
      </td>
    </tr>
    <tr>
      <td><code>--glnbt--primary-s:<br/>
        &nbsp;var(--glncl-primary-s,<br/>
        &nbsp;&nbsp;var(--gln-primary-s)<br/>
        &nbsp;);</code>
      </td>
      <td>
        <span>
          The value is determined by the system css-variable
          <code ubr>--gln-primary-s</code>.<br />
          Or the css-variable of the GlnColor directive
          <code ubr>--glncl-primary-s</code>.<br />
          The saturation value for the "hsl()" css function.<br />
        </span>
      </td>
    </tr>
  </tbody>
</table>


<section mr-vr
  id="api-css-variables-option">
  <h4>
    Css variables, optional. You can override the default values.
    <a [href]="urlCmButton + '#api-css-variables-option'">#</a>
  </h4>
</section>

<table class="app-tab">
  <tbody>
    <tr>
      <th class="app-mn-wd-22ch">Name</th>
      <th>Description</th>
    </tr>

    <tr>
      <td><code>--glnbt-uppercase:<br/>
        &nbsp; none;</code>
      </td>
      <td>
        <span>
          The property blocks the translation of the button name to uppercase.
        </span>
      </td>
    </tr>
    <tr>
      <td><code>--glnbt-elevation:<br/>
        &nbsp; none;</code>
      </td>
      <td>
        <span>
          The property to remove the height of the button (only for "contained").
        </span>
      </td>
    </tr>
    <tr>
      <td><code>--glnbt-br-rd: 0.25em;</code></td>
      <td>
        <span>The value of the border radius.</span>
      </td>
    </tr>
    <tr>
      <td><code>--glnbt-pd-tp:<br/>
        &nbsp;0.375em; // 6px "contained";<br/>
        &nbsp;0.3125em; // 5px "outlined";<br/>
        &nbsp;0.375em; // 6px "text";</code>
      </td>
      <td>
        <span>
          The value of the "padding-top" property for the button label.
        </span>
      </td>
    </tr>
    <tr>
      <td><code>--glnbt-pd-bt:<br/>
        &nbsp;0.375em; // 6px "contained";<br/>
        &nbsp;0.3125em; // 5px "outlined";<br/>
        &nbsp;0.375em; // 6px "text";</code>
      </td>
      <td>
        <span>
          The value of the "padding-bottom" property for the button label.
        </span>
      </td>
    </tr>
    <tr>
      <td><code>--glnbt-pd-lf:<br/>
        &nbsp;1em; // 16px "contained";<br/>
        &nbsp;0.9375em; // 15px "outlined";<br/>
        &nbsp;0.5em; // 8px "text";</code>
      </td>
      <td>
        <span>
          The value of the "padding-left" property for the button label.
        </span>
      </td>
    </tr>
    <tr>
      <td><code>--glnbt-pd-rg:<br/>
        &nbsp;1em; // 16px "contained";<br/>
        &nbsp;0.9375em; // 15px "outlined";<br/>
        &nbsp;0.5em; // 8px "text";</code>
      </td>
      <td>
        <span>
          The value of the "padding-right" property for the button label.
        </span>
      </td>
    </tr>

    <tr>
      <td colspan="2"><em>Default values.</em></td>
    </tr>
    <tr>
      <td><code>--glnbt-def-lb-cl:<br/>
        &nbsp;hsl(--glnbt--default-bg-[h,s],100%); // "contained"<br/>
        &nbsp;hsl(--glnbt--primary-[h,s],50%); // "outlined", "text"</code>
      </td>
      <td>
        <span>Text color.</span>
      </td>
    </tr>
    <tr>
      <td><code>--glnbt-def-br-cl:<br/>
        &nbsp;hsl(--glnbt--primary-[h,s],70%); // "outlined"</code>
      </td>
      <td>
        <span>
          Border color.<br />
          The value is defined only for the "outlined" mode.
        </span>
      </td>
    </tr>
    <tr>
      <td><code>--glnbt-def-bg-cl:<br/>
        &nbsp;hsl(--glnbt--primary-[h,s],50%); // "contained"</code>
      </td>
      <td>
        <span>
          Background color.<br />
          The value is defined only for the "contained" mode.
        </span>
      </td>
    </tr>

    <tr>
      <td colspan="2"><em>Values on mouseover.</em></td>
    </tr>
    <tr>
      <td><code>--glnbt-hov-lb-cl:<br/>
        &nbsp;hsl(--glnbt--default-bg-[h,s],100%); // "contained"<br/>
        &nbsp;hsl(--glnbt--primary-[h,s],50%); // "outlined", "text"</code>
      </td>
      <td>
        <span>Text color when hovering the mouse.</span>
      </td>
    </tr>
    <tr>
      <td><code>--glnbt-hov-br-cl:<br/>
        &nbsp;hsl(--glnbt--primary-[h,s],50%); // "outlined"</code>
      </td>
      <td>
        <span>
          Border color when hovering the mouse.<br />
          The value is defined only for the "outlined" mode.
        </span>
      </td>
    </tr>
    <tr>
      <td><code>--glnbt-hov-bg-cl:<br/>
        &nbsp;hsl(--glnbt--primary-[h,s],40%); // "contained"<br/>
        &nbsp;hsl(--glnbt--primary-[h,s],95%); // "outlined", "text"</code>
      </td>
      <td>
        <span>
          Background color when hovering the mouse.
        </span>
      </td>
    </tr>

    <tr>
      <td colspan="2"><em>Values when focus is received.</em></td>
    </tr>
    <tr>
      <td><code>--glnbt-foc-lb-cl:<br/>
        &nbsp;var(--glnbt-def-lb-cl);</code>
      </td>
      <td>
        <span>
          Text color when it receives focus.<br />
          Corresponds to the default value.
        </span>
      </td>
    </tr>
    <tr>
      <td><code>--glnbt-foc-br-cl:<br/>
        &nbsp;var(--glnbt-def-br-cl);</code>
      </td>
      <td>
        <span>
          Border color when it receives focus.<br />
          Corresponds to the default value.
        </span>
      </td>
    </tr>
    <tr>
      <td><code>--glnbt-foc-bg-cl:<br/>
        &nbsp;var(--glnbt-def-bg-cl);</code>
      </td>
      <td>
        <span>
          Background color when it receives focus.<br />
          Corresponds to the default value.
        </span>
      </td>
    </tr>

    <tr>
      <td colspan="2"><em>Values when status: "disabled".</em></td>
    </tr>
    <tr>
      <td><code>--glnbt-dis-lb-cl:<br/>
        &nbsp;hsl(--glnbt--default-[h,s],65%);<br/>
        &nbsp;// "contained", "outlined", "text"</code>
      </td>
      <td>
        <span>Text color in disabled state.</span>
      </td>
    </tr>
    <tr>
      <td><code>--glnbt-dis-br-cl:<br/>
        &nbsp;hsl(--glnbt--default-[h,s],75%); // "outlined"</code>
      </td>
      <td>
        <span>
          Border color in disabled state.<br />
          The value is defined only for the "outlined" mode.
        </span>
      </td>
    </tr>
    <tr>
      <td><code>--glnbt-dis-bg-cl:<br/>
        &nbsp;hsl(--glnbt--default-[h,s],90%); // "contained"</code>
      </td>
      <td>
        <span>
          Background color in disabled state.<br />
          The value is defined only for the "contained" mode.
        </span>
      </td>
    </tr>

    <tr>
      <td colspan="2"></td>
    </tr>
    <tr>
      <td><code>--glnbt-ripple-cl:<br/>
        &nbsp;hsla(--glnbt--default-bg-[h,s],100%,0.3); // "contained"<br/>
        &nbsp;hsla(--glnbt--primary-[h,s],46%,0.3); // "outlined", "text"
      </code>
      </td>
      <td>
        <span>
          The color of the ripple effect.
        </span>
      </td>
    </tr>

  </tbody>
</table>

<hr br-nn />