/*# sourceURL=pl-checkbox-material-ui.component.scss */

app-pl-checkbox-material-ui {
  display: block;

  .cbpl2-elem {
    min-width: 17ch;
  }
  .cbpl2-mui-primary {
    font-size: 12px;
    --glncl-primary-h: 210;
    --glncl-primary-s: 79%;
    --glncl-primary-l: 46%;
  }
  .cbpl2-mui-secondary {
    font-size: 12px;
    --glncl-primary-h: 291;
    --glncl-primary-s: 64%;
    --glncl-primary-l: 42%;
  }
  .cbpl2-mui-success {
    font-size: 12px;
    --glncl-primary-h: 123;
    --glncl-primary-s: 46%;
    --glncl-primary-l: 34%;
  }
  .cbpl2-mui-default {
    font-size: 12px;
    --glncl-primary-h: 0;
    --glncl-primary-s: 0%;
    --glncl-primary-l: 0%;
    --glncb-def-cl-svg: rgba(0, 0, 0, 0.6);
    --glncb-def-chk-cl-svg: rgba(0, 0, 0, 0.6);
    --glncb-dis-cl-svg: rgba(0, 0, 0, 0.26);
    --glncb-dis-chk-cl-svg: rgba(0, 0, 0, 0.26);
  }
  .cbpl2-mui-pink {
    font-size: 12px;
    --glncl-primary-h: 338;
    --glncl-primary-s: 78%;
    --glncl-primary-l: 48%;
  }
}
