/*# sourceURL=cm-spinner-palette.component.scss */

app-cm-spinner-palette {
  display: block;

  .spp-customer {
    --gln-customer-h: 200;
    --gln-customer-s: 75%;
    --gln-customer-l: 50%;
    --gln-customer-cl: hsl(var(--gln-customer-h), var(--gln-customer-s), var(--gln-customer-l));
  }
}
