<h3>Component: "GlnCheckbox"</h3>

<div *ngIf="!showNum || showNum==='01'"
  id="Basic">
  <app-cm-checkbox-basic></app-cm-checkbox-basic>
  <hr br-tp>
</div>

<div *ngIf="!showNum || showNum==='02'"
  id="Attributes">
  <app-cm-checkbox-attributes></app-cm-checkbox-attributes>
  <hr br-tp>
</div>

<div *ngIf="!showNum || showNum==='03'"
  id="Size">
  <app-cm-checkbox-size></app-cm-checkbox-size>
  <hr br-tp>
</div>

<section mr-vr
  *ngIf="!showNum"
  id="Palette">
  <h3 class="app-hover-link">
    Palette
    <a [href]="urlCmCheckbox + '#Palette'">#</a>
  </h3>
  <p>
    The <a [href]="urlPlCheckbox + '#Basic'">"Palette GlnCheckbox#Basic"</a>
    page shows you how to change the color palette of an element.
  </p>
  <hr br-tp>
</section>

<div *ngIf="!showNum || showNum==='08'"
  id="Config">
  <app-cm-checkbox-config></app-cm-checkbox-config>
  <hr br-tp>
</div>

<div *ngIf="!showNum || showNum==='09'"
  id="Api">
  <app-cm-checkbox-api></app-cm-checkbox-api>
  <hr br-tp>
</div>

<br />
<br />