<section mr-vr>
  <h3>API: GlnButton</h3>
  <p>
    Selector:
    <span fw500>gln-button</span>
  </p>
  <p>
    Exported as:
    <span fw500>glnButton</span>
  </p>
</section>

<section mr-vr>
  <h4>Properties</h4>
</section>

<table class="app-tab">
  <tbody>
    <tr>
      <th>Name</th>
      <th>Description</th>
    </tr>

    <tr>
      <td>
        <code>@Input()</code>
        <code>id: string;</code>
      </td>
      <td>
        <span>
          ID of the native button.<br />
          (default = `glnbt-$&#123;uniqueIdCounter++&#125;`;)
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>config: GlnButtonConfig<br/>
          &nbsp;&nbsp;| null<br/>
          &nbsp;&nbsp;| undefined;</code>
      </td>
      <td>
        <span>Defines a configuration object.</span><br />
        <a [href]="urlButton + '#Config'">More details.</a>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>exterior: string<br/>
          &nbsp;&nbsp;| null<br/>
          &nbsp;&nbsp;| undefined;</code>
      </td>
      <td>
        <span>
          Determines the appearance of an button.<br />
          It can take the following values:
        </span>
        <ul>
          <li>"contained";</li>
          <li>"outlined";</li>
          <li>"text" (default);</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>frameSize: string<br/>
          &nbsp;&nbsp;| null<br/>
          &nbsp;&nbsp;| undefined;</code>
      </td>
      <td>
        <span>Determines the size of the button.</span><br />
        <a [href]="urlFrame + '#FrameSize'">More details.</a><br />
        <span>It can take the following values:</span>
        <ul>
          <li>"short" - height: 38px;</li>
          <li>"small" - height: 44px (default);</li>
          <li>"middle" - height: 50px;</li>
          <li>"wide" - height: 56px;</li>
          <li>"large" - height: 62px;</li>
          <li>"huge" - height: 68px;</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>isDisabled: string<br/>
          &nbsp;&nbsp;| boolean<br/>
          &nbsp;&nbsp;| null<br/>
          &nbsp;&nbsp;| undefined;</code>
      </td>
      <td>
        <span>The element is disabled.<br />
          Attribute (no content).</span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>isNoRipple: string<br/>
          &nbsp;&nbsp;| boolean<br/>
          &nbsp;&nbsp;| null<br/>
          &nbsp;&nbsp;| undefined;</code>
      </td>
      <td>
        <span>
          Flag for disabling the ripple effect.<br />
          Attribute (no content).
        </span><br />
      </td>
    </tr>

    <tr>
      <td>
        <code>@Input()</code>
        <code>ornamLfAlign: string<br/>
          &nbsp;&nbsp;| null<br/>
          &nbsp;&nbsp;| undefined;</code>
      </td>
      <td>
        <span>Specifies the height justification for the left ornament.
          <br />(default = 'default';)
          It can take the following values:
        </span>
        <ul>
          <li>"default" - depending on frame type</li>
          <li>"center" - in the center</li>
          <li>"flex-start" - at the top</li>
          <li>"flex-end" - at the bottom</li>
          <li>"baseline" - along the baseline</li>
          <li>"stretch" - at the top</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>ornamRgAlign: string<br/>
          &nbsp;&nbsp;| null<br/>
          &nbsp;&nbsp;| undefined;</code>
      </td>
      <td>
        <span>Specifies the height justification for the right ornament.
          <br />(default = 'default';)
          It can take the following values:
        </span>
        <ul>
          <li>"default" - depending on frame type</li>
          <li>"center" - in the center</li>
          <li>"flex-start" - at the top</li>
          <li>"flex-end" - at the bottom</li>
          <li>"baseline" - along the baseline</li>
          <li>"stretch" - at the top</li>
        </ul>
      </td>
    </tr>

  </tbody>
</table>

<section mr-vr>
  <h4>Css variables at the ":root" level.</h4>
</section>
<table class="app-tab">
  <tbody>
    <tr>
      <th>Name</th>
      <th>Description</th>
    </tr>

    <tr>
      <td><code>--glnbt-def-cl: #1976d2;</code></td>
      <td>
        <span>
          Text color for mode: "outlined" and "text". Background color for mode: "contained".
        </span>
      </td>
    </tr>
    <tr>
      <td><code>--glnbt-dis-cl: #00000042;</code></td>
      <td>
        <span>Text color in disabled state.</span>
      </td>
    </tr>
    <tr>
      <td><code>--glnbt-dis-cl2: #0000001f;</code></td>
      <td>
        <span>
          Background color in disabled state for "contained" mode.
          Border color in disabled state for "outlined" mode.
        </span>
      </td>
    </tr>
    <tr>
      <td><code>--glnbt-hov-bg-cl: #1976d20a;</code></td>
      <td>
        <span>
          Background color when hovering the mouse for modes: "outlined" and "text".
        </span>
      </td>
    </tr>
    <tr>
      <td><code>--glnbt-def-cl2: #fff;</code></td>
      <td>
        <span>Text color for "contained" mode.</span>
      </td>
    </tr>
    <tr>
      <td><code>--glnbt-hov-bg-cl2: #1565c0;</code></td>
      <td>
        <span>Background color when hovering the mouse for "contained" mode.</span>
      </td>
    </tr>
    <tr>
      <td><code>--glnbt-br-cl: #1976d280;</code></td>
      <td>
        <span>Border color for "outlined" mode.</span>
      </td>
    </tr>
  </tbody>
</table>


<section mr-vr>
  <h4>Css variables, optional. Override default values.</h4>
</section>
<table class="app-tab">
  <tbody>
    <tr>
      <th>Name</th>
      <th>Description</th>
    </tr>

    <tr>
      <td><code>--glnbt-br-rd: 0.25em;</code></td>
      <td>
        <span>The value of the border radius.</span>
      </td>
    </tr>
    <tr>
      <td><code>--glnbt-lb-pd-tp: 0.375em;</code></td>
      <td>
        <span>
          The value of the "padding-top" property for the button label.
        </span>
      </td>
    </tr>
    <tr>
      <td><code>--glnbt-lb-pd-bt: 0.375em;</code></td>
      <td>
        <span>
          The value of the "padding-bottom" property for the button label.
        </span>
      </td>
    </tr>
    <tr>
      <td><code>--glnbt-lb-pd-lf: 1em;</code></td>
      <td>
        <span>
          The value of the "padding-left" property for the button label.
        </span>
      </td>
    </tr>
    <tr>
      <td><code>--glnbt-lb-pd-rg: 1em;</code></td>
      <td>
        <span>
          The value of the "padding-right" property for the button label.
        </span>
      </td>
    </tr>
    <tr>
      <td><code>--glnbt-c-def-cl: #00acc1;</code></td>
      <td>
        <span>Text color for "contained" mode.</span>
      </td>
    </tr>
    <tr>
      <td><code>--glnbt-c-def-bg-cl: #b2ebf299;</code></td>
      <td>
        <span>Background color for mode: "contained".</span>
      </td>
    </tr>
    <tr>
      <td><code>--glnbt-c-hov-bg-cl: #0069d9;</code></td>
      <td>
        <span>Background color when hovering the mouse for "contained" mode.</span>
      </td>
    </tr>
    <tr>
      <td><code>--glnbt-c-dis-cl: #76b0b7;</code></td>
      <td>
        <span>Text color in disabled state for "contained" mode.</span>
      </td>
    </tr>
    <tr>
      <td><code>--glnbt-c-dis-bg-cl: #b2ebf233;</code></td>
      <td>
        <span>Background color in disabled state for "contained" mode.</span>
      </td>
    </tr>
    <tr>
      <td><code>--glnbt-o-def-cl: #00acc1;</code></td>
      <td>
        <span>Text color for "outlined" mode.</span>
      </td>
    </tr>
    <tr>
      <td><code>--glnbt-o-def-br-cl: #00acc1a0;</code></td>
      <td>
        <span>Border color for "outlined" mode.</span>
      </td>
    </tr>
    <tr>
      <td><code>--glnbt-o-hov-bg-cl: #b2ebf299;</code></td>
      <td>
        <span>Background color when hovering the mouse for "outlined" mode.</span>
      </td>
    </tr>
    <tr>
      <td><code>--glnbt-o-hov-br-cl: #00acc1;</code></td>
      <td>
        <span>Border color when hovering the mouse for "outlined" mode.</span>
      </td>
    </tr>
    <tr>
      <td><code>--glnbt-o-dis-cl: #76b0b7;</code></td>
      <td>
        <span>Text color in disabled state for "outlined" mode.</span>
      </td>
    </tr>
    <tr>
      <td><code>--glnbt-o-dis-br-cl: #76b0b77a;</code></td>
      <td>
        <span>Border color in disabled state for "outlined" mode.</span>
      </td>
    </tr>
    <tr>
      <td><code>--glnbt-t-def-cl: #00acc1;</code></td>
      <td>
        <span>Text color for "text" mode.</span>
      </td>
    </tr>
    <tr>
      <td><code>--glnbt-t-hov-bg-cl: #b2ebf299;</code></td>
      <td>
        <span>Background color when hovering the mouse for "text" mode.</span>
      </td>
    </tr>
    <tr>
      <td><code>--glnbt-t-dis-cl: #76b0b7;</code></td>
      <td>
        <span>Text color in disabled state for "text" mode.</span>
      </td>
    </tr>
    <tr>
      <td><code>--glntr-ripple-cl: #686aec5d;</code></td>
      <td>
        <span>The color of the touch pulse when the mouse is clicked.</span>
      </td>
    </tr>
  </tbody>
</table>

<hr br-nn />