<div class="in-section">
  <h3>Helper text</h3>
  <p>
    The height of the input element depends on the presence of the "helperText" auxiliary text. 
    If two input elements are located on the same line and the first has auxiliary text, and the second does not, 
    then they will differ in height. It will look like this:
  </p>
</div>

<form class="in-section" [formGroup]="formGroup06" novalidate>

  <div style="display: flex; align-items: center;">
    <grn-input class="in-item" formControlName="input06a"
      exterOutlined label="Enter the name"
      helperText="The name must be complete.">
    </grn-input>

    <grn-input class="in-item" formControlName="input06b"
      exterOutlined label="Enter the name">
    </grn-input>
  </div>

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="labelHtml">
          <pre>
&lt;form [formGroup]="formGroup06" novalidate&gt;

  &lt;div style="display: flex; align-items: center;"&gt;
    &lt;grn-input class="in-item" formControlName="input06a"
      exterOutlined label="Enter the name"
      helperText="The name must be complete."&gt;
    &lt;/grn-input&gt;

    &lt;grn-input class="in-item" formControlName="input06b"
      exterOutlined label="Enter the name"&gt;
    &lt;/grn-input&gt;
  &lt;/div&gt;

&lt;/form&gt;</pre>
        </mat-tab>
        <mat-tab [label]="labelTs">
          <pre>
import &#123; Component, ViewEncapsulation &#125; from '@angular/core';
import &#123; FormControl, FormGroup &#125; from '@angular/forms';

@Component(&#123;
  selector: 'app-input',
  templateUrl: './input.component.html',
  styleUrls: ['./input.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class InputComponent &#123;
  public formGroup06: FormGroup = new FormGroup(&#123;
    input06a: new FormControl('Hello World', []),
    input06b: new FormControl('Hello World', []),
  &#125;);
&#125;</pre>
        </mat-tab>
        <mat-tab [label]="labelCss">
          <pre>
.in-item &#123;
  width: 240px;
  margin: 10px 10px;
&#125;</pre>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>

  <p>
    For a quick fix, you can add a helperText property with a space value to the second input element (helperText=" ").
  </p>

  <div style="display: flex; align-items: center;">
    <grn-input class="in-item" formControlName="input06c"
      exterOutlined label="Enter the name"
      helperText="The name must be complete.">
    </grn-input>

    <grn-input class="in-item" formControlName="input06d"
      exterOutlined label="Enter the name"
      helperText=" ">
    </grn-input>
  </div>

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="labelHtml">
          <pre>
&lt;form [formGroup]="formGroup06" novalidate&gt;

  &lt;div style="display: flex; align-items: center;"&gt;
    &lt;grn-input class="in-item" formControlName="input06c"
      exterOutlined label="Enter the name"
      helperText="The name must be complete."&gt;
    &lt;/grn-input&gt;

    &lt;grn-input class="in-item" formControlName="input06d"
      exterOutlined label="Enter the name"
      helperText=" "&gt;
    &lt;/grn-input&gt;
  &lt;/div&gt;

&lt;/form&gt;</pre>
        </mat-tab>
        <mat-tab [label]="labelTs">
          <pre>
import &#123; Component, ViewEncapsulation &#125; from '@angular/core';
import &#123; FormControl, FormGroup &#125; from '@angular/forms';

@Component(&#123;
  selector: 'app-input',
  templateUrl: './input.component.html',
  styleUrls: ['./input.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class InputComponent &#123;
  public formGroup06: FormGroup = new FormGroup(&#123;
  input06c: new FormControl('Hello World', []),
  input06d: new FormControl('Hello World', []),
  &#125;);
&#125;</pre>
        </mat-tab>
        <mat-tab [label]="labelCss">
          <pre>
.in-item &#123;
  width: 240px;
  margin: 10px 10px;
&#125;</pre>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>

</form>
