<h3>Component: "GlnSpinner"</h3>

<div *ngIf="!showNum || showNum==='01'"
  id="Basic">
  <app-cm-spinner-basic></app-cm-spinner-basic>
  <hr br-tp>
</div>

<!-- <div *ngIf="!showNum || showNum==='02'"
  id="Attributes">
  <app-cm-spinner-attributes></app-cm-spinner-attributes>
  <hr br-tp>
</div> -->

<!-- <div *ngIf="!showNum || showNum==='03'"
  id="ItemSize">
  <app-cm-spinner-size></app-cm-spinner-size>
  <hr br-tp>
</div> -->

<!-- <div *ngIf="!showNum || showNum==='04'"
  id="Palette">
  <app-cm-spinner-palette></app-cm-spinner-palette>
  <hr br-tp>
</div> -->

<!-- <div *ngIf="!showNum || showNum==='05'"
  id="Customization">
  <app-cm-spinner-customization></app-cm-spinner-customization>
  <hr br-tp>
</div> -->

<!-- <div *ngIf="!showNum || showNum==='06'"
  id="Feature">
  <app-cm-spinner-feature></app-cm-spinner-feature>
  <hr br-tp>
</div> -->

<!-- <div *ngIf="!showNum || showNum==='09'"
  id="Api">
  <app-cm-spinner-api></app-cm-spinner-api>
  <hr br-tp>
</div> -->

<br />
<br />