<section mr-vr>
  <h3>API: GlnTextarea</h3>
  <p>
    Selector:
    <span fw500>gln-textarea</span>
  </p>
  <p>
    Exported as:
    <span fw500>glnTextarea</span>
  </p>
</section>

<section mr-vr>
  <h4>Properties</h4>
</section>

<table class="app-tab">
  <tbody>
    <tr>
      <th>Name</th>
      <th>Description</th>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>id: string;</code>
      </td>
      <td>
        <span>
          ID of the native textarea element.
          <br />(default = `glnt-$&#123;uniqueIdCounter++&#125;`;)
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>autoComplete: string;</code>
      </td>
      <td>
        <span>Defines permissions for autocomplete native textarea.
          <br />(default = '';)
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>cntCols: number;</code>
      </td>
      <td>
        <span>Determines the number of columns.
          <br />(default = null;)
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>cntRows: number;</code>
      </td>
      <td>
        <span>Defines the number of visible rows.
          The height of the text area is calculated as "cntRows"
          multiplied by to the line height.
          <br />(default = null;)
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>config: GlnFrameConfig | null | undefined;</code>
      </td>
      <td>
        <span>Defines a configuration object.</span><br />
        <a [href]="urlFrame + '#Config'">More details.</a>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>exterior: string | null | undefined;</code>
      </td>
      <td>
        <span>
          Determines the appearance of an element.<br />
          It can take the following values:
        </span>
        <ul>
          <li>"outlined" (default);</li>
          <li>"underline";</li>
          <li>"standard";</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>frameSize: string | null | undefined;</code>
      </td>
      <td>
        <span>Determines the size of the element.<br />
          It can take the following values:
        </span>
        <ul>
          <li>"short" - if one line is height: 38px;</li>
          <li>"small" - if one line is height: 44px;</li>
          <li>"middle" - if one line is height: 50px (default);</li>
          <li>"wide" - if one line is height: 56px;</li>
          <li>"large" - if one line is height: 62px;</li>
          <li>"huge" - if one line is height: 68px;</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>helperText: string | null | undefined;</code>
      </td>
      <td>
        <span>Specifies the text for additional clarification or error.
          <br />(default = undefined;)
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>isDisabled: string | boolean | null | undefined;</code>
      </td>
      <td>
        <span>The element is disabled.<br />Attribute (no content).</span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>isError: string | boolean | null | undefined;</code>
      </td>
      <td>
        <span>Forces the error status of an item to be displayed.
          <br />Attribute (no content).
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>isHoverColor: string | boolean | null | undefined;</code>
      </td>
      <td>
        <span>
          If specified, then when hovering the mouse, the color of the label
          and frame will be the same as when the focus was received.
          <br />
          If not specified, then when you hover the mouse, the color of the
          label and frame will be the same as the default.
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>isLabelShrink: string | boolean | null | undefined;</code>
      </td>
      <td>
        <span>Disable label animation. The label is always static, at the top.
          <br />Attribute (no content).
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>isNoAnimation: string | boolean | null | undefined;</code>
      </td>
      <td>
        <span>Disable animation execution.</span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>isNoLabel: string | boolean | null | undefined;</code>
      </td>
      <td>
        <span>Disables the display of the label.
          <br />Attribute (no content).
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>isReadOnly: string | boolean | null | undefined;</code>
      </td>
      <td>
        <span>Whether the element is readonly.<br />Attribute (no content).</span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>isRequired: string | boolean | null | undefined;</code>
      </td>
      <td>
        <span>Adds a validation condition: required field.
          <br />Attribute (no content).
        </span>
      </td>
    </tr>
    <!-- isValueInit: string | boolean | null | undefined; -->
    <tr>
      <td>
        <code>@Input()</code>
        <code>label: string;</code>
      </td>
      <td>
        <span>The content of the label.<br />(default = '';)</span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>minLength: number;</code>
      </td>
      <td>
        <span>Defines the minimum number of characters for an textarea element.
          <br />(default = null;)
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>maxLength: number;</code>
      </td>
      <td>
        <span>Defines the maximum number of characters for an textarea element.
          <br />(default = null;)
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>minRows: number;</code>
      </td>
      <td>
        <span>Defines the minimum number of visible rows.
          The minimum height of the text area is calculated as "minRows"
          multiplied by to the line height. Active if "cntRows" is not specified.
          <br />(default = null;)
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>maxRows: number;</code>
      </td>
      <td>
        <span>Defines the maximum number of visible rows.
          The maximum height of the text area is calculated as "maxRows"
          multiplied by to the line height. Active if "cntRows" is not specified.
          <br />(default = null;)
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>ornamLfAlign: string | null = null;</code>
      </td>
      <td>
        <span>Specifies the height justification for the left ornament.
          <br />(default = 'default';)
          It can take the following values:
        </span>
        <ul>
          <li>"default" - depending on frame type</li>
          <li>"center" - in the center</li>
          <li>"flex-start" - at the top</li>
          <li>"flex-end" - at the bottom</li>
          <li>"baseline" - along the baseline</li>
          <li>"stretch" - at the top</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>ornamRgAlign: string | null = null;</code>
      </td>
      <td>
        <span>Specifies the height justification for the right ornament.
          <br />(default = 'default';)
          It can take the following values:
        </span>
        <ul>
          <li>"default" - depending on frame type</li>
          <li>"center" - in the center</li>
          <li>"flex-start" - at the top</li>
          <li>"flex-end" - at the bottom</li>
          <li>"baseline" - along the baseline</li>
          <li>"stretch" - at the top</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>tabIndex: number;</code>
      </td>
      <td>
        <span>Indicates that its element can be focused.
          <br />(default = 0;)
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>wdFull: string;</code>
      </td>
      <td>
        <span>
          Sets the width to the parent's width (width: 100%;).
          <br />Attribute (no content).
        </span>
      </td>
    </tr>

    <tr>
      <td>
        <code>@Output()</code>
        <code>inputData: EventEmitter&lt;Event&gt;;</code>
      </td>
      <td>
        <span>The event is called when the user changes the value of an element.</span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Output()</code>
        <code>changeData: EventEmitter&lt;Event&gt;;</code>
      </td>
      <td>
        <span>The event is called when the user has finished changing the value
          of an element.</span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Output()</code>
        <code>keydownData: EventEmitter&lt;KeyboardEvent&gt;;</code>
      </td>
      <td>
        <span>The event is called when any button moves down.</span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Output()</code>
        <code>keypressData: EventEmitter&lt;KeyboardEvent&gt;;</code>
      </td>
      <td>
        <span>The event is called when a button that has a printable
          character is pressed.</span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Output()</code>
        <code>keyupData: EventEmitter&lt;KeyboardEvent&gt;;</code>
      </td>
      <td>
        <span>The event is called when any button moves up.</span>
      </td>
    </tr>

  </tbody>
</table>

<section mr-vr>
  <p>
    We recommend using "formControlName" and NOT using "[(ngModel)]".
    <a [href]="urlFrame + '#Feature'">More details.</a>
  </p>
</section>