<section *ngIf="isShowBasic01"
  mr-vr>
  <h3 class="app-hover-link">
    Basic.
    <a [href]="urlCmSnackbar + '#Basic'">#</a>
  </h3>
  <span>
    To display notifications, you need to connect the "GlnSnackbarService" service.<br />
    This service is described in the GlnSnackbarModule.<br />
    If you need to specify a single notification display configuration for the entire application,
    then you can call the setConfig(config: GlnSnackbarConfig) method of this service.<br />
    It is recommended that you add the GlnSnackbarModule to your app's
    <strong fw500>root module</strong> (<strong fw500>AppModule</strong>).<br />
    This will allow a single configuration to be established before the rest of the modules are
    loaded.
  </span>
  <span>
    To use this service, in your module you need to add:
  </span>
  <code><pre source="ts">
import &#123; GlnSnackbarModule &#125; from 'gelenium-ui';</pre>
  </code>
  <span>
    Notifications inform the user about some event:
  </span>
  <ul>
    <li>start the data calculation process;</li>
    <li>data saving was successful (or not);</li>
    <li>file upload completed successfully (or not);</li>
  </ul>
  <span> For example:</span>
  <code><pre source="html">
&lt;button type="button" (click)="onClick()"&gt;
  &lt;span&gt;Open notification&lt;/span&gt;
&lt;/button&gt;
</pre></code>
  <code><pre source="ts">
import &#123; <i><strong>GlnSnackbarModule</strong></i> &#125; from <i><strong>'gelenium-ui'</strong></i>;
@Component(&#123; ... &#125;)
export class NotificationComponent &#123;
  constructor(private <strong>snackbarService: GlnSnackbarService</strong>) &#123;&#125;
  public onClick(): void &#123;
    this.<strong>snackbarService.open('text notification !');</strong>
  &#125;
&#125;</pre></code>
  <br />
  <span>
    The "open" method of the <i>GlnSnackbarService</i> service has the following
    parameters:
  </span>
  <ul>
    <li>message: string; - notification text;</li>
    <li>action?: string; - action button text (optional);</li>
    <li>config?: <i>GlnSnackbarConfig</i>; - notification configuration (optional);</li>
  </ul>
  <p>
    If the value "action" is specified, then an additional button (with this name)
    will be displayed in the notification.
  </p>
  <span><i>GlnSnackbarConfig</i>&nbsp; basic configuration options:</span>
  <table class="app-tab">
    <thead>
      <tr>
        <th class="snbs1-mn-wd-12ch">Parameter</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <code>duration?: number<br/>
            &nbsp;= 6000;</code>
        </td>
        <td>
          Time to wait (in milliseconds) before automatically closing the snackbar.<br />
          If set to 0, notifications will not automatically close.
        </td>
      </tr>
      <tr>
        <td>
          <code>horizontal?: string<br/>
            &nbsp;= 'center';</code>
        </td>
        <td>
          Horizontal position to accommodate the snackbar.<br />
          Takes values: 'left', 'center', 'right'.
        </td>
      </tr>
      <tr>
        <td>
          <code>maxCount?: number<br/>
            &nbsp;= 4;</code>
        </td>
        <td>
          The maximum number of visible snackbar items in the current overlay.
        </td>
      </tr>
      <tr>
        <td>
          <code>overlayClasses?: string<br/>
            &nbsp;| string[];</code>
        </td>
        <td>
          Additional CSS classes to add to the snackbar overlay panel.
        </td>
      </tr>
      <tr>
        <td>
          <code>vertical?: string<br/>
            &nbsp;= 'bottom';</code>
        </td>
        <td>
          Vertical position to accommodate the snackbar.<br />
          Takes values: 'top', 'center', 'bottom'.
        </td>
      </tr>
      <tr>
        <td>
          <code>transition?: string<br/>
            &nbsp;= 'grow';</code>
        </td>
        <td>
          Type of transformation when displaying (hiding) the snackbar.<br />
          Takes values: 'grow', 'fade', 'blur', 'slide', 'slide-dw', 'slide-lf',
          'slide-rg','turn','turn-y';
        </td>
      </tr>
      <tr>
        <td>
          <code>wrapperClass?: string<br/>
            &nbsp; | string[];</code>
        </td>
        <td>
          Additional CSS classes to add on the wrapper to the snackbar.
        </td>
      </tr>
    </tbody>
  </table>
</section>


<section *ngIf="isShowBasic01"
  mr-vr
  id="simple-snackbars">
  <h4 class="app-hover-link">
    Simple snackbars
    <a [href]="urlCmSnackbar + '#simple-snackbars'">#</a>
  </h4>
  <p>
    The following is an example of a simple notification.
  </p>
</section>


<div *ngIf="isShowBasic01"
  class="app-group">

  <div class="app-elem">
    <button class="snbs1-btn"
      tabindex="0"
      type="button"
      (click)="clickSimple()">
      <span>Open simple notification</span>
    </button>
  </div>
</div>


<section *ngIf="isShowBasic01"
  mr-vr>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="labelHtml">
          <code><pre source="html">
&lt;div class="app-group"&gt;

  &lt;div class="app-elem"&gt;
    &lt;button class="snbs1-btn"
      tabindex="0"
      type="button"
      (click)="clickSimple()"&gt;
      &lt;span&gt;Open simple notification&lt;/span&gt;
    &lt;/button&gt;
  &lt;/div&gt;

&lt;/div&gt;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelTs">
          <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';
import &#123; GlnSnackbarService &#125; from 'gelenium-ui';

@Component(&#123;
  selector: 'app-snackbar',
  templateUrl: './snackbar.component.html',
  styleUrls: ['./snackbar.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class SnackbarComponent &#123;

  constructor(private snackbarService: GlnSnackbarService) &#123;&#125;

  public clickSimple(): void &#123;
    this.snackbarService.open('simple notification !');
  &#125;
&#125;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelCss">
          <code><pre source="css">
app-snackbar &#123;
  .app-group &#123;
    display: flex;
    flex-wrap: wrap;
  &#125;
  .app-elem &#123;
    min-width: 26ch;
    margin: 10px 10px;
  &#125;
  .snbs1-btn &#123;
    border-radius: 4px;
    border-width: 0;
    cursor: pointer;
    font-size: 0.875em;
    height: 38px;
    min-width: 64px;
    padding: 0 1.143em;
  &#125;
&#125;</pre></code>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
</section>

<hr br-nn />



<section *ngIf="isShowAttrib01"
  mr-vr
  id="snackbars-with-types">
  <h4 class="app-hover-link">
    Snackbars with types
    <a [href]="urlCmSnackbar + '#snackbars-with-types'">#</a>
  </h4>
  <p>
    You can display notifications with different types: "default", "error", "warning", "success",
    "info".
  </p>
</section>


<div *ngIf="isShowAttrib01"
  class="snat1-elem">
  <p>
    <gln-snackbar class="snat1-box"
      [params]="{ message: 'snackbar with type \'default\''
        , msgType: 'default', 'isNoClose': true }"
      (click)="clickTypical('snackbar with type \'default\''
        , '', { data: { msgType: 'default'}} )">
    </gln-snackbar>
  </p>
  <p>
    <gln-snackbar class="snat1-box"
      [params]="{ message: 'snackbar with type \'error\''
        , msgType: 'error', 'isNoClose': true }"
      (click)="clickTypical('snackbar with type \'error\''
        , '', { data: { msgType: 'error'}})">
    </gln-snackbar>
  </p>
  <p>
    <gln-snackbar class="snat1-box"
      [params]="{ message: 'snackbar with type \'warning\''
        , msgType: 'warning', 'isNoClose': true }"
      (click)="clickTypical('snackbar with type \'warning\''
        , '', { data: { msgType: 'warning'}})">
    </gln-snackbar>
  </p>
  <p>
    <gln-snackbar class="snat1-box"
      [params]="{ message: 'snackbar with type \'success\''
        , msgType: 'success', 'isNoClose': true }"
      (click)="clickTypical('snackbar with type \'success\''
        , '', { data: { msgType: 'success'}})">
    </gln-snackbar>
  </p>
  <p>
    <gln-snackbar class="snat1-box"
      [params]="{ message: 'snackbar with type \'info\''
        , msgType: 'info', 'isNoClose': true }"
      (click)="clickTypical('snackbar with type \'info\''
        , '', { data: { msgType: 'info'}})">
    </gln-snackbar>
  </p>
</div>


<section *ngIf="isShowAttrib01"
  mr-vr>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="labelHtml">
          <code><pre source="html">
&lt;div class="snat1-elem"&gt;

  &lt;p&gt;
    &lt;gln-snackbar class="snat1-box"
      [params]="&#123; message: 'notifications with type \'default\''
        , msgType: 'default', 'isNoClose': true &#125;"
      (click)="clickTypical('notifications with type \'default\''
        , '', &#123; data: &#123; msgType: 'default'&#125;&#125; )"&gt;
    &lt;/gln-snackbar&gt;
  &lt;/p&gt;
  &lt;p&gt;
    &lt;gln-snackbar class="snat1-box"
      [params]="&#123; message: 'notifications with type \'error\''
        , msgType: 'error', 'isNoClose': true &#125;"
      (click)="clickTypical('notifications with type \'error\''
        , '', &#123; data: &#123; msgType: 'error'&#125;&#125;)"&gt;
    &lt;/gln-snackbar&gt;
  &lt;/p&gt;
  &lt;p&gt;
    &lt;gln-snackbar class="snat1-box"
      [params]="&#123; message: 'notifications with type \'warning\''
        , msgType: 'warning', 'isNoClose': true &#125;"
      (click)="clickTypical('notifications with type \'warning\''
        , '', &#123; data: &#123; msgType: 'warning'&#125;&#125;)"&gt;
    &lt;/gln-snackbar&gt;
  &lt;/p&gt;
  &lt;p&gt;
    &lt;gln-snackbar class="snat1-box"
      [params]="&#123; message: 'notifications with type \'success\''
        , msgType: 'success', 'isNoClose': true &#125;"
      (click)="clickTypical('notifications with type \'success\''
        , '', &#123; data: &#123; msgType: 'success'&#125;&#125;)"&gt;
    &lt;/gln-snackbar&gt;
  &lt;/p&gt;
  &lt;p&gt;
    &lt;gln-snackbar class="snat1-box"
      [params]="&#123; message: 'notifications with type \'info\''
        , msgType: 'info', 'isNoClose': true &#125;"
      (click)="clickTypical('notifications with type \'info\''
        , '', &#123; data: &#123; msgType: 'info'&#125;&#125;)"&gt;
    &lt;/gln-snackbar&gt;
  &lt;/p&gt;

&lt;/div&gt;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelTs">
          <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';
import &#123; GlnSnackbarService &#125; from 'gelenium-ui';

@Component(&#123;
  selector: 'app-snackbar',
  templateUrl: './snackbar.component.html',
  styleUrls: ['./snackbar.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class SnackbarComponent &#123;

  constructor(private snackbarService: GlnSnackbarService) &#123;&#125;

  public clickTypical(
    message: string, action: string = '', config: any
  ): void &#123;
    this.snackbarService.open(message, action, config);
  &#125;
&#125;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelCss">
          <code><pre source="css">
app-snackbar &#123;
  .snat1-elem &#123;
    max-width: 40ch;
  &#125;
  .snat1-box &#123;
    cursor: pointer;
  &#125;
&#125;</pre></code>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
</section>

<hr br-nn />



<section *ngIf="isShowAttrib02"
  mr-vr
  id="positioning-snackbars">
  <h4 class="app-hover-link">
    Positioning of snackbars
    <a [href]="urlCmSnackbar + '#positioning-snackbars'">#</a>
  </h4>
  <p>
    The display position of snackbars is subject to change and is defined in the configuration.
  </p>
</section>


<div *ngIf="isShowAttrib02">

  <div class="app-group">

    <button class="app-elem snat2-btn"
      tabindex="0"
      type="button"
      (click)="clickPosition('Positioning - top left'
        , '', { horizontal: 'left', vertical: 'top' })">
      <span>Top Left</span>
    </button>

    <button class="app-elem snat2-btn"
      tabindex="0"
      type="button"
      (click)="clickPosition('Positioning - top center'
        , '', { horizontal: 'center', vertical: 'top' })">
      <span>Top Center</span>
    </button>

    <button class="app-elem snat2-btn"
      tabindex="0"
      type="button"
      (click)="clickPosition('Positioning - top right'
        , '', { horizontal: 'right', vertical: 'top' })">
      <span>Top Right</span>
    </button>

  </div>

  <div class="app-group">

    <button class="app-elem snat2-btn"
      tabindex="0"
      type="button"
      (click)="clickPosition('Positioning - bottom left'
        , '', { horizontal: 'left', vertical: 'bottom' })">
      <span>Bottom Left</span>
    </button>

    <button class="app-elem snat2-btn"
      tabindex="0"
      type="button"
      (click)="clickPosition('Positioning - bottom center'
        , '', { horizontal: 'center', vertical: 'bottom' })">
      <span>Bottom Center</span>
    </button>

    <button class="app-elem snat2-btn"
      tabindex="0"
      type="button"
      (click)="clickPosition('Positioning - bottom right'
        , '', { horizontal: 'right', vertical: 'bottom' })">
      <span>Bottom Right</span>
    </button>

  </div>

</div>


<section *ngIf="isShowAttrib02"
  mr-vr>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="labelHtml">
          <code><pre source="html">
&lt;div&gt;
  &lt;div class="app-group"&gt;

    &lt;button class="app-elem snat2-btn"
      tabindex="0"
      type="button"
      (click)="clickPosition('Positioning - top left'
        , '', &#123; horizontal: 'left', vertical: 'top' &#125;)"&gt;
      &lt;span&gt;Top Left&lt;/span&gt;
    &lt;/button&gt;

    &lt;button class="app-elem snat2-btn"
      tabindex="0"
      type="button"
      (click)="clickPosition('Positioning - top center'
        , '', &#123; horizontal: 'center', vertical: 'top' &#125;)"&gt;
      &lt;span&gt;Top Center&lt;/span&gt;
    &lt;/button&gt;

    &lt;button class="app-elem snat2-btn"
      tabindex="0"
      type="button"
      (click)="clickPosition('Positioning - top right'
        , '', &#123; horizontal: 'right', vertical: 'top' &#125;)"&gt;
      &lt;span&gt;Top Right&lt;/span&gt;
    &lt;/button&gt;

  &lt;/div&gt;

  &lt;div class="app-group"&gt;

    &lt;button class="app-elem snat2-btn"
      tabindex="0"
      type="button"
      (click)="clickPosition('Positioning - bottom left'
        , '', &#123; horizontal: 'left', vertical: 'bottom' &#125;)"&gt;
      &lt;span&gt;Bottom Left&lt;/span&gt;
    &lt;/button&gt;

    &lt;button class="app-elem snat2-btn"
      tabindex="0"
      type="button"
      (click)="clickPosition('Positioning - bottom center'
        , '', &#123; horizontal: 'center', vertical: 'bottom' &#125;)"&gt;
      &lt;span&gt;Bottom Center&lt;/span&gt;
    &lt;/button&gt;

    &lt;button class="app-elem snat2-btn"
      tabindex="0"
      type="button"
      (click)="clickPosition('Positioning - bottom right'
        , '', &#123; horizontal: 'right', vertical: 'bottom' &#125;)"&gt;
      &lt;span&gt;Bottom Right&lt;/span&gt;
    &lt;/button&gt;

  &lt;/div&gt;
&lt;/div&gt;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelTs">
          <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';
import &#123; GlnSnackbarService &#125; from 'gelenium-ui';

@Component(&#123;
  selector: 'app-snackbar',
  templateUrl: './snackbar.component.html',
  styleUrls: ['./snackbar.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class SnackbarComponent &#123;

  constructor(private snackbarService: GlnSnackbarService) &#123;&#125;

  public clickPosition(
    message: string, action: string = '', config: any
  ): void &#123;
    this.snackbarService.open(message, action, config);
  &#125;
&#125;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelCss">
          <code><pre source="css">
app-snackbar &#123;
  .app-group &#123;
    display: flex;
    flex-wrap: wrap;
  &#125;
  .app-elem &#123;
    min-width: 26ch;
    margin: 10px 10px;
  &#125;
  .snat2-btn &#123;
    border-radius: 4px;
    border-width: 0;
    cursor: pointer;
    font-size: 0.875em;
    height: 38px;
    min-width: 16ch;
    padding: 0 1.143em;
  &#125;
&#125;</pre></code>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
</section>

<hr br-nn />



<section *ngIf="isShowAttrib03"
  mr-vr
  id="transitions-snackbars">
  <h4 class="app-hover-link">
    "Transitions" of snackbars
    <a [href]="urlCmSnackbar + '#transitions-snackbars'">#</a>
  </h4>
  <p>
    The display of "transitions" of snack bars can be changed.
    The configuration parameter "transition" is responsible for the transition type.
  </p>
  <span>And it can take the following values:</span>
  <ul>
    <li>
      'grow' - "scaling" transition (css - transform: scale(.3)) (default);
    </li>
    <li>
      'fade' - "manifestation" transition (css - opacity: 0);
    </li>
    <li>
      'blur' - "blur" transition (css - filter: blur(20px));
    </li>
    <li>
      'slide' - "slide up" transition (css - transform: translate(0px, 120vh));
    </li>
    <li>
      'slide-dw' - "slide down" transition (css - transform: translate(0px, -120vh));
    </li>
    <li>
      'slide-lf' - "slide left" transition (css - transform: translate(-120vw, 0px));
    </li>
    <li>
      'slide-rg' - "slide right" transition (css - transform: translate(120vw, 0px));
    </li>
    <li>
      'turn' - "3D turn along x-axis" transition (css - transform: perspective(400px)
      rotateX(90deg));
    </li>
    <li>
      'turn-y' - "3D turn along y-axis" transition (css - transform: perspective(400px)
      rotateY(90deg));
    </li>
  </ul>
</section>


<section *ngIf="isShowAttrib03">
  <label>
    transition
    <select class="snat3-select"
      (change)="transition02g=getValue02g($event.target)">
      <option *ngFor="let item of transition02gList"
        [value]="item"
        [attr.selected]="transition02g==item ? '' : null">{{ item }}
      </option>
    </select>
  </label>
</section>


<div *ngIf="isShowAttrib03"
  class="app-group">

  <div class="app-elem">
    <button class="snat3-btn"
      tabindex="0"
      type="button"
      (click)="clickTransition('show transition \'' + transition02g + '\''
        , { transition: transition02g })">
      <span>Open transition</span>
    </button>
  </div>
</div>


<section *ngIf="isShowAttrib03"
  mr-vr>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="labelHtml">
          <code><pre source="html">
&lt;section&gt;
  &lt;label&gt;
    transition
    &lt;select class="snat3-select"
      (change)="transition02g=getValue02g($event.target)"&gt;
      &lt;option *ngFor="let item of transition02gList"
        [value]="item"
        [attr.selected]="transition02g==item ? '' : null"&gt;<b>&#123;</b>&#123; item &#125;&#125;
      &lt;/option&gt;
    &lt;/select&gt;
  &lt;/label&gt;
&lt;/section&gt;


&lt;div class="app-group"&gt;

  &lt;div class="app-elem"&gt;
    &lt;button class="snat3-btn"
      tabindex="0"
      type="button"
      (click)="clickTransition('show transition \'' + transition02g + '\''
        , &#123; transition: transition02g &#125;)"&gt;
      &lt;span&gt;Open transition&lt;/span&gt;
    &lt;/button&gt;
  &lt;/div&gt;
&lt;/div&gt;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelTs">
          <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';
import &#123; GlnSnackbarService &#125; from 'gelenium-ui';

@Component(&#123;
  selector: 'app-snackbar',
  templateUrl: './snackbar.component.html',
  styleUrls: ['./snackbar.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class SnackbarComponent &#123;
  public transition02gList: string[] = [
  'grow', 'fade', 'blur',
  'slide', 'slide-dw', 'slide-lf', 'slide-rg',
  'turn', 'turn-y'
  ];
  public transition02g: string = this.transition02gList[0];

  constructor(private snackbarService: GlnSnackbarService) &#123;&#125;

  public getValue02g(eventTarget: any): any &#123;
    return eventTarget != null
      ? (eventTarget as Attr).value : '';
  &#125;

  public clickTransition(
    message: string, config: any
  ): void &#123;
    this.snackbarService.open(message, '', config);
  &#125;
&#125;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelCss">
          <code><pre source="css">
app-snackbar &#123;
  .app-group &#123;
    display: flex;
    flex-wrap: wrap;
  &#125;
  .app-elem &#123;
    min-width: 26ch;
    margin: 10px 10px;
  &#125;
  .snat3-select &#123;
    padding: 6px 1em;
    font-size: 14px;
    outline: none;
    margin: 3px;
  &#125;
  .snat3-btn &#123;
    border-radius: 4px;
    border-width: 0;
    cursor: pointer;
    font-size: 0.875em;
    height: 38px;
    min-width: 64px;
    padding: 0 1.143em;
  &#125;
&#125;</pre></code>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
</section>

<hr br-nn />



<section *ngIf="isShowAttrib04"
  mr-vr
  id="snackbar-action">
  <h4 class="app-hover-link">
    snackbar with action button
    <a [href]="urlCmSnackbar + '#snackbar-action'">#</a>
  </h4>
  <p>
    The snackbar component provides the ability to display an action button.
  </p>
</section>


<div *ngIf="isShowAttrib04"
  class="app-group">

  <div class="app-elem">
    <button class="snat4-btn"
      tabindex="0"
      type="button"
      (click)="clickAction('snackbar action button', 'UNDO', {})">
      <span>Open snackbar with action</span>
    </button>
  </div>
</div>


<section *ngIf="isShowAttrib03"
  mr-vr>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="labelHtml">
          <code><pre source="html">
&lt;div class="app-group"&gt;
  &lt;div class="app-elem"&gt;
    &lt;button class="snat4-btn"
      tabindex="0"
      type="button"
      (click)="clickAction('snackbar action button', 'UNDO', &#123;&#125;)"&gt;
      &lt;span&gt;Open snackbar with action&lt;/span&gt;
    &lt;/button&gt;
  &lt;/div&gt;
&lt;/div&gt;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelTs">
          <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';
import &#123; GlnSnackbarService &#125; from 'gelenium-ui';

@Component(&#123;
  selector: 'app-snackbar',
  templateUrl: './snackbar.component.html',
  styleUrls: ['./snackbar.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class SnackbarComponent &#123;
  constructor(private snackbarService: GlnSnackbarService) &#123;&#125;

  public clickAction(
    message: string, action: string, config: any
  ): void &#123;
    this.snackbarService.open(message, action, config)
    .result.then((response) => &#123;
      // response=undefined - When closing by the "close" button.
      // response=UNDO      - When closing by the "action" button.
      console.log(`simple action response=$&#123;response&#125;`);
    &#125;);
  &#125;
#125;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelCss">
          <code><pre source="css">
app-snackbar &#123;
  .app-group &#123;
    display: flex;
    flex-wrap: wrap;
  &#125;
  .app-elem &#123;
    min-width: 26ch;
    margin: 10px 10px;
  &#125;
  .snat4-btn &#123;
    border-radius: 4px;
    border-width: 0;
    cursor: pointer;
    font-size: 0.875em;
    height: 38px;
    min-width: 64px;
    padding: 0 1.143em;
  &#125;
&#125;</pre></code>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
</section>

<hr br-nn />



<section *ngIf="isShowCustom05"
  mr-vr
  id="Customization">
  <h4 class="app-hover-link">
    Customization
    <a [href]="urlCmSnackbar + '#Customization'">#</a>
  </h4>
  <p>
    You can specify your own context when displaying the snackbar.
  </p>
  <span> For example:</span>
  <!--
  <code><pre source="html">
&lt;ng-template #<i><strong>contextTemplate1</strong></i>
  let-name="nameVar"&gt;
  &lt;b&gt;<b>&#123;</b>&#123;name&#125;&#125;&lt;/b&gt; is a very &lt;em&gt;tasty&lt;/em&gt;&nbsp;&lt;u&gt;fruit&lt;/u&gt; !
&lt;/ng-template&gt;

&lt;button class="ttcs-btn"
  <strong>[glnTool tip]</strong>="<i><strong>contextTemplate1</strong></i>"
  <strong>[glnttContent]</strong>="&#123; nameVar: 'Mango' &#125;"&gt;
  &lt;span&gt; Action &lt;/span&gt;
&lt;/button&gt;</pre></code>
-->
</section>


<div *ngIf="isShowCustom05"
  class="app-group">

  <div class="app-elem">
    <div>
      <small>
        <em>Show snackbar HTML.</em>
      </small>
    </div>
    <div>
      <ng-template #snackbarTemplate
        let-context="context"
        let-snackbarRef="snackbarRef">
        <div class="sccs-alert">
          <span>
            <b>{{context.name}}</b> is a very <em>tasty</em>&nbsp;<u>fruit</u> !
          </span>
          <div>
            <button class="sccs-close"
              (click)="snackbarRef.close('close')">X
            </button>
          </div>
        </div>
      </ng-template>
      <button class="sncs-btn"
        tabindex="0"
        type="button"
        (click)="clickTemplate(snackbarTemplate, { name: 'Mango' })">
        <span>Open snackbar HTML</span>
      </button>
    </div>
  </div>

</div>


<hr br-nn />


<!-- Page: Pal07 -->
<h3 *ngIf="isShowPal07Basic">Palette for GlnSnackbar.</h3>

<!-- Page: isShowPal07Basic -->
<!-- <div *ngIf="!showNum || showNum==='01'"
  id="Basic">
  <app-pl-snackbar-basic></app-pl-snackbar-basic>
  <hr br-tp>
</div> -->
<section *ngIf="isShowPal07Basic"
  mr-vr>
  <h4 class="app-hover-link">
    Basic.
    <a [href]="urlPlSnackbar + '#Basic'">#</a>
  </h4>
  <p>
    For the GlnSnackbar component, you can specify the "msgType" parameter,
    which takes the following values: "error", "warning", "success", "info".
    If the "msgType" parameter is not specified, then it takes the "default" value.
  </p>
</section>


<div *ngIf="isShowPal07Basic"
  class="snpl1-elem">
  <p>
    <gln-snackbar class="snpl1-box"
      [params]="{ message: 'snackbar with type \'default\''
        , msgType: 'default', 'isNoClose': true }"
      (click)="clickMsgType('snackbar with type \'default\''
        , '', { data: { msgType: 'default'}} )">
    </gln-snackbar>
  </p>
  <p>
    <gln-snackbar class="snpl1-box"
      [params]="{ message: 'snackbar with type \'error\''
        , msgType: 'error', 'isNoClose': true }"
      (click)="clickMsgType('snackbar with type \'error\''
        , '', { data: { msgType: 'error'}})">
    </gln-snackbar>
  </p>
  <p>
    <gln-snackbar class="snpl1-box"
      [params]="{ message: 'snackbar with type \'warning\''
        , msgType: 'warning', 'isNoClose': true }"
      (click)="clickMsgType('snackbar with type \'warning\''
        , '', { data: { msgType: 'warning'}})">
    </gln-snackbar>
  </p>
  <p>
    <gln-snackbar class="snpl1-box"
      [params]="{ message: 'snackbar with type \'success\''
        , msgType: 'success', 'isNoClose': true }"
      (click)="clickMsgType('snackbar with type \'success\''
        , '', { data: { msgType: 'success'}})">
    </gln-snackbar>
  </p>
  <p>
    <gln-snackbar class="snpl1-box"
      [params]="{ message: 'snackbar with type \'info\''
        , msgType: 'info', 'isNoClose': true }"
      (click)="clickMsgType('snackbar with type \'info\''
        , '', { data: { msgType: 'info'}})">
    </gln-snackbar>
  </p>
  <p>
    <gln-snackbar class="snpl1-box snpl1-customer snpl1-svg-leaf"
      [params]="{ message: 'snackbar - customer'
        , 'isNoClose': true }"
      (click)="clickMsgType('snackbar - customer'
        , '', { wrapperClass: ['snpl1-customer', 'snpl1-svg-leaf'] })">
    </gln-snackbar>
  </p>
</div>


<section *ngIf="isShowPal07Basic"
  mr-vr>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="labelHtml">
          <code><pre source="html">
&lt;div class="snpl1-elem"&gt;

  &lt;p&gt;
    &lt;gln-snackbar class="snpl1-box"
      [params]="&#123; message: 'snackbar with type \'default\''
        , msgType: 'default', 'isNoClose': true &#125;"
      (click)="clickMsgType('snackbar with type \'default\''
        , '', &#123; data: &#123; msgType: 'default'&#125;&#125; )"&gt;
    &lt;/gln-snackbar&gt;
  &lt;/p&gt;
  &lt;p&gt;
    &lt;gln-snackbar class="snpl1-box"
      [params]="&#123; message: 'snackbar with type \'error\''
        , msgType: 'error', 'isNoClose': true &#125;"
      (click)="clickMsgType('snackbar with type \'error\''
        , '', &#123; data: &#123; msgType: 'error'&#125;&#125;)"&gt;
    &lt;/gln-snackbar&gt;
  &lt;/p&gt;
  &lt;p&gt;
    &lt;gln-snackbar class="snpl1-box"
      [params]="&#123; message: 'snackbar with type \'warning\''
        , msgType: 'warning', 'isNoClose': true &#125;"
      (click)="clickMsgType('snackbar with type \'warning\''
        , '', &#123; data: &#123; msgType: 'warning'&#125;&#125;)"&gt;
    &lt;/gln-snackbar&gt;
  &lt;/p&gt;
  &lt;p&gt;
    &lt;gln-snackbar class="snpl1-box"
      [params]="&#123; message: 'snackbar with type \'success\''
        , msgType: 'success', 'isNoClose': true &#125;"
      (click)="clickMsgType('snackbar with type \'success\''
        , '', &#123; data: &#123; msgType: 'success'&#125;&#125;)"&gt;
    &lt;/gln-snackbar&gt;
  &lt;/p&gt;
  &lt;p&gt;
    &lt;gln-snackbar class="snpl1-box"
      [params]="&#123; message: 'snackbar with type \'info\''
        , msgType: 'info', 'isNoClose': true &#125;"
      (click)="clickMsgType('snackbar with type \'info\''
        , '', &#123; data: &#123; msgType: 'info'&#125;&#125;)"&gt;
    &lt;/gln-snackbar&gt;
  &lt;/p&gt;
  &lt;p&gt;
    &lt;gln-snackbar class="snpl1-box snpl1-customer snpl1-svg-leaf"
      [params]="&#123; message: 'snackbar - customer'
        , 'isNoClose': true &#125;"
      (click)="clickMsgType('snackbar - customer'
        , '', &#123; wrapperClass: ['snpl1-customer', 'snpl1-svg-leaf'] &#125;)"&gt;
    &lt;/gln-snackbar&gt;
  &lt;/p&gt;

&lt;/div&gt;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelTs">
          <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';
import &#123; GlnSnackbarService &#125; from 'gelenium-ui';

@Component(&#123;
  selector: 'app-snackbar',
  templateUrl: './snackbar.component.html',
  styleUrls: ['./snackbar.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class SnackbarComponent &#123;

  constructor(private snackbarService: GlnSnackbarService) &#123;&#125;

  public clickMsgType(
    message: string, action: string, config: any
  ): void &#123;
    this.snackbarService.open(message, action, config);
  &#125;
&#125;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelCss">
          <code><pre source="css">
app-snackbar &#123;
  .snpl1-elem &#123;
    max-width: 40ch;    
  &#125;
  .snpl1-box &#123;
    cursor: pointer;
  &#125;
&#125;
.snpl1-customer &#123;
  // background color
  --glncl-default-h: 200;
  --glncl-default-s: 75%;
  --glncl-default-l: 50%;
  // color
  --glncl-default-bg-h: 315;
  --glncl-default-bg-s: 80%;
  --glncl-default-bg-l: 90%;
&#125;
.snpl1-svg-leaf .gln-snackbar-wrap-icon &#123;
  background-image: url("data:image/svg+xml,"
  + "&lt;svg xmlns='http://www.w3.org/2000/svg' width='40' height='40'"
  + " fill='rgb(13 100 5 / 100%)'&gt;"
  + "&lt;path d='M 32.5,2.5 C 33.1499,2.80393 33.8165,3.13727 34.5,3.5C"
  + " 36.4996,11.3838 35.3329,18.7172 31,25.5C 25.4363,30.3422 19.10"
  + "3,31.6755 12,29.5C 10.3804,31.2415 8.88041,33.0748 7.5,35C 6.20"
  + "677,35.49 4.87344,35.6567 3.5,35.5C 3.33982,33.8008 3.50649,32."
  + "1341 4,30.5C 9.04294,24.7243 15.2096,20.5576 22.5,18C 25.2239,1"
  + "6.4779 27.2239,14.3112 28.5,11.5C 27.9984,10.479 27.3317,10.312"
  + "3 26.5,11C 20.4243,15.7903 13.9243,19.957 7,23.5C 4.66714,14.66"
  + "74 7.83381,8.50075 16.5,5C 21.9561,4.05529 27.2894,3.22195 32.5"
  + ",2.5 Z'/&gt;"
  + "&lt;/svg&gt;");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 30px;
  margin-right: 0.5em;
  width: 30px;
&#125;
</pre></code>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
</section>

<hr *ngIf="isShowPal07Basic"
  br-nn />



<!-- Page: isShowPal07BS -->
<!-- <div *ngIf="!showNum || showNum==='02'"
  id="Bootstrap">
  <app-pl-snackbar-bootstrap></app-pl-snackbar-bootstrap>
  <hr br-tp>
</div> -->
<section *ngIf="isShowPal07BS"
  mr-vr>
  <h4 class="app-hover-link">
    Like a Bootstrap.
    <a [href]="urlPlSnackbar + '#Bootstrap'">#</a>
  </h4>
  <p>
    It is possible to display GlnSnackbar in style as "Bootstrap".
  </p>
</section>


<div *ngIf="isShowPal07BS"
  class="snpl2-elem">
  <p>
    <gln-snackbar class="snpl2-bs-snackbar snpl2-bs-standard"
      [params]="{ message: 'snackbar Bootstrap \'standard\''
        , 'isNoClose': true }"
      (click)="clickBootstrap('snackbar Bootstrap \'standard\'', '', 
        { wrapperClass: ['snpl2-bs-snackbar', 'snpl2-bs-standard'] })">
    </gln-snackbar>
  </p>
  <p>
    <gln-snackbar class="snpl2-bs-snackbar snpl2-bs-primary"
      [params]="{ message: 'snackbar Bootstrap \'primary\''
        , 'isNoClose': true }"
      (click)="clickBootstrap('snackbar Bootstrap \'primary\'', '', 
        { wrapperClass: ['snpl2-bs-snackbar', 'snpl2-bs-primary'] })">
    </gln-snackbar>
  </p>
  <p>
    <gln-snackbar class="snpl2-bs-snackbar snpl2-bs-secondary"
      [params]="{ message: 'snackbar Bootstrap \'secondary\''
        , 'isNoClose': true }"
      (click)="clickBootstrap('snackbar Bootstrap \'secondary\'', '', 
        { wrapperClass: ['snpl2-bs-snackbar', 'snpl2-bs-secondary'] })">
    </gln-snackbar>
  </p>
  <p>
    <gln-snackbar class="snpl2-bs-snackbar snpl2-bs-success"
      [params]="{ message: 'snackbar Bootstrap \'success\''
        , 'isNoClose': true }"
      (click)="clickBootstrap('snackbar Bootstrap \'success\'', '', 
        { wrapperClass: ['snpl2-bs-snackbar', 'snpl2-bs-success'] })">
    </gln-snackbar>
  </p>
  <p>
    <gln-snackbar class="snpl2-bs-snackbar snpl2-bs-danger"
      [params]="{ message: 'snackbar Bootstrap \'danger\''
        , 'isNoClose': true }"
      (click)="clickBootstrap('snackbar Bootstrap \'danger\'', '', 
        { wrapperClass: ['snpl2-bs-snackbar', 'snpl2-bs-danger'] })">
    </gln-snackbar>
  </p>
  <p>
    <gln-snackbar class="snpl2-bs-snackbar snpl2-bs-warning"
      [params]="{ message: 'snackbar Bootstrap \'warning\''
        , 'isNoClose': true }"
      (click)="clickBootstrap('snackbar Bootstrap \'warning\'', '', 
        { wrapperClass: ['snpl2-bs-snackbar', 'snpl2-bs-warning'] })">
    </gln-snackbar>
  </p>
  <p>
    <gln-snackbar class="snpl2-bs-snackbar snpl2-bs-info"
      [params]="{ message: 'snackbar Bootstrap \'info\''
        , 'isNoClose': true }"
      (click)="clickBootstrap('snackbar Bootstrap \'info\'', '', 
        { wrapperClass: ['snpl2-bs-snackbar', 'snpl2-bs-info'] })">
    </gln-snackbar>
  </p>
</div>


<section *ngIf="isShowPal07BS"
  mr-vr>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="labelHtml">
          <code><pre source="html">
&lt;div class="snpl2-elem"&gt;
  &lt;p&gt;
    &lt;gln-snackbar class="snpl2-bs-snackbar snpl2-bs-standard"
      [params]="&#123; message: 'snackbar Bootstrap \'standard\''
        , 'isNoClose': true &#125;"
      (click)="clickBootstrap('snackbar Bootstrap \'standard\'', '',
        &#123; wrapperClass: ['snpl2-bs-snackbar', 'snpl2-bs-standard'] &#125;)"&gt;
    &lt;/gln-snackbar&gt;
  &lt;/p&gt;
  &lt;p&gt;
    &lt;gln-snackbar class="snpl2-bs-snackbar snpl2-bs-primary"
      [params]="&#123; message: 'snackbar Bootstrap \'primary\''
        , 'isNoClose': true &#125;"
      (click)="clickBootstrap('snackbar Bootstrap \'primary\'', '',
        &#123; wrapperClass: ['snpl2-bs-snackbar', 'snpl2-bs-primary'] &#125;)"&gt;
    &lt;/gln-snackbar&gt;
  &lt;/p&gt;
  &lt;p&gt;
    &lt;gln-snackbar class="snpl2-bs-snackbar snpl2-bs-secondary"
      [params]="&#123; message: 'snackbar Bootstrap \'secondary\''
        , 'isNoClose': true &#125;"
      (click)="clickBootstrap('snackbar Bootstrap \'secondary\'', '',
        &#123; wrapperClass: ['snpl2-bs-snackbar', 'snpl2-bs-secondary'] &#125;)"&gt;
    &lt;/gln-snackbar&gt;
  &lt;/p&gt;
  &lt;p&gt;
    &lt;gln-snackbar class="snpl2-bs-snackbar snpl2-bs-success"
      [params]="&#123; message: 'snackbar Bootstrap \'success\''
        , 'isNoClose': true &#125;"
      (click)="clickBootstrap('snackbar Bootstrap \'success\'', '',
        &#123; wrapperClass: ['snpl2-bs-snackbar', 'snpl2-bs-success'] &#125;)"&gt;
    &lt;/gln-snackbar&gt;
  &lt;/p&gt;
  &lt;p&gt;
    &lt;gln-snackbar class="snpl2-bs-snackbar snpl2-bs-danger"
      [params]="&#123; message: 'snackbar Bootstrap \'danger\''
        , 'isNoClose': true &#125;"
      (click)="clickBootstrap('snackbar Bootstrap \'danger\'', '',
        &#123; wrapperClass: ['snpl2-bs-snackbar', 'snpl2-bs-danger'] &#125;)"&gt;
    &lt;/gln-snackbar&gt;
  &lt;/p&gt;
  &lt;p&gt;
    &lt;gln-snackbar class="snpl2-bs-snackbar snpl2-bs-warning"
      [params]="&#123; message: 'snackbar Bootstrap \'warning\''
        , 'isNoClose': true &#125;"
      (click)="clickBootstrap('snackbar Bootstrap \'warning\'', '',
        &#123; wrapperClass: ['snpl2-bs-snackbar', 'snpl2-bs-warning'] &#125;)"&gt;
    &lt;/gln-snackbar&gt;
  &lt;/p&gt;
  &lt;p&gt;
    &lt;gln-snackbar class="snpl2-bs-snackbar snpl2-bs-info"
      [params]="&#123; message: 'snackbar Bootstrap \'info\''
        , 'isNoClose': true &#125;"
      (click)="clickBootstrap('snackbar Bootstrap \'info\'', '',
        &#123; wrapperClass: ['snpl2-bs-snackbar', 'snpl2-bs-info'] &#125;)"&gt;
    &lt;/gln-snackbar&gt;
  &lt;/p&gt;
&lt;/div&gt;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelTs">
          <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';
import &#123; GlnSnackbarService &#125; from 'gelenium-ui';

@Component(&#123;
  selector: 'app-snackbar',
  templateUrl: './snackbar.component.html',
  styleUrls: ['./snackbar.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class SnackbarComponent &#123;

  constructor(private snackbarService: GlnSnackbarService) &#123;&#125;

  public clickBootstrap(
    message: string, action: string, config: any
  ): void &#123;
    const configBS = &#123;
      overlayClasses: 'snpl2-bs-overlay',
      horizontal: 'right',
      transition: 'fade',
      vertical: 'top',
    &#125;;
    this.snackbarService.open(message, action, &#123; ...configBS, ...config &#125;);
  &#125;
&#125;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelCss">
          <code><pre source="css">
app-snackbar &#123;
  .snpl2-elem &#123;
    max-width: 40ch;
  &#125;
&#125;

gln-snackbar.snpl2-bs-snackbar &#123;
  cursor: pointer;
&#125;
.snpl2-bs-overlay &#123;
  --glnsbc-mr-mini: 0.75rem;
  --glnsbc-mr: 1.5rem;
  z-index: 1090;
&#125;
.snpl2-bs-snackbar &#123;
  --glnsb-brd-wd: 1px;
  --glnsb-brd-cl: rgba(0, 0, 0, 0.175);
  --glnsb-brd-rds: 0.375rem;
  --glnsb-bx-shd: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  --glnsb-mn-hg: 45px;
  --glnsb-mn-wd: 350px;
  font-size: 0.875rem;
&#125;
.snpl2-bs-standard &#123;
  --glnsb-bg-color: #ffffffd9;
  --glnsb-color: #212529;
&#125;
.snpl2-bs-primary &#123;
  --glnsb-bg-color: #0d6efd;
  --glnsb-color: #fafafa;
&#125;
.snpl2-bs-secondary &#123;
  --glnsb-bg-color: #5c636a;
  --glnsb-color: #fafafa;
&#125;
.snpl2-bs-success &#123;
  --glnsb-bg-color: #198754;
  --glnsb-color: #fafafa;
&#125;
.snpl2-bs-danger &#123;
  --glnsb-bg-color: #dc3545;
  --glnsb-color: #fafafa;
&#125;
.snpl2-bs-warning &#123;
  --glnsb-bg-color: #ffc107;
  --glnsb-color: #000;
&#125;
.snpl2-bs-info &#123;
  --glnsb-bg-color: #0dcaf0;
  --glnsb-color: #000;
&#125;
</pre></code>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
</section>

<hr *ngIf="isShowPal07Basic"
  br-nn />



<!-- Page: isShowPal07MUI -->
<!-- <div *ngIf="!showNum || showNum==='03'"
  id="MaterialUI">
  <app-pl-snackbar-material-ui></app-pl-snackbar-material-ui>
  <hr br-tp>
</div> -->
<section *ngIf="isShowPal07MUI"
  mr-vr>
  <h4 class="app-hover-link">
    Like a Material-UI.
    <a [href]="urlPlSnackbar + '#MaterialUI'">#</a>
  </h4>
  <p>
    It is possible to display GlnSnackbar in style as "Material-UI".
  </p>
</section>


<div *ngIf="isShowPal07MUI"
  class="snpl3-elem">
  <p>
    <gln-snackbar class="snpl3-mui-snackbar snpl3-mui-default"
      [params]="{ message: 'snackbar material-ui \'default\''
        , 'isNoClose': true }"
      (click)="clickMUI('snackbar material-ui \'default\'', '', 
        { wrapperClass: ['snpl3-mui-snackbar', 'snpl3-mui-default'] })">
    </gln-snackbar>
  </p>
  <p>
    <gln-snackbar class="snpl3-mui-snackbar snpl3-mui-error"
      [params]="{ message: 'snackbar material-ui \'error\''
        , msgType: 'error', 'isNoClose': true }"
      (click)="clickMUI('snackbar material-ui \'error\'', '', 
        { data: { msgType: 'error'},
          wrapperClass: ['snpl3-mui-snackbar', 'snpl3-mui-error'] })">
    </gln-snackbar>
  </p>
  <p>
    <gln-snackbar class="snpl3-mui-snackbar snpl3-mui-warning"
      [params]="{ message: 'snackbar material-ui \'warning\''
        , msgType: 'warning', 'isNoClose': true }"
      (click)="clickMUI('snackbar material-ui \'warning\'', '', 
        { data: { msgType: 'warning'},
          wrapperClass: ['snpl3-mui-snackbar', 'snpl3-mui-warning'] })">
    </gln-snackbar>
  </p>
  <p>
    <gln-snackbar class="snpl3-mui-snackbar snpl3-mui-info"
      [params]="{ message: 'snackbar material-ui \'info\''
        , msgType: 'info', 'isNoClose': true }"
      (click)="clickMUI('snackbar material-ui \'info\'', '', 
        { data: { msgType: 'info'}, 
          wrapperClass: ['snpl3-mui-snackbar', 'snpl3-mui-info'] })">
    </gln-snackbar>
  </p>
  <p>
    <gln-snackbar class="snpl3-mui-snackbar snpl3-mui-success"
      [params]="{ message: 'snackbar material-ui \'success\''
        , msgType: 'success', 'isNoClose': true }"
      (click)="clickMUI('snackbar material-ui \'success\'', '', 
        { data: { msgType: 'success'}, 
          wrapperClass: ['snpl3-mui-snackbar', 'snpl3-mui-success'] })">
    </gln-snackbar>
  </p>
</div>


<section *ngIf="isShowPal07BS"
  mr-vr>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="labelHtml">
          <code><pre source="html">
&lt;div class="snpl3-elem"&gt;
  &lt;p&gt;
    &lt;gln-snackbar class="snpl3-mui-snackbar snpl3-mui-default"
      [params]="&#123; message: 'snackbar material-ui \'default\''
        , 'isNoClose': true &#125;"
      (click)="clickMUI('snackbar material-ui \'default\'', '',
        &#123; wrapperClass: ['snpl3-mui-snackbar', 'snpl3-mui-default'] &#125;)"&gt;
    &lt;/gln-snackbar&gt;
  &lt;/p&gt;
  &lt;p&gt;
    &lt;gln-snackbar class="snpl3-mui-snackbar snpl3-mui-error"
      [params]="&#123; message: 'snackbar material-ui \'error\''
        , msgType: 'error', 'isNoClose': true &#125;"
      (click)="clickMUI('snackbar material-ui \'error\'', '',
        &#123; data: &#123; msgType: 'error'&#125;,
          wrapperClass: ['snpl3-mui-snackbar', 'snpl3-mui-error'] &#125;)"&gt;
    &lt;/gln-snackbar&gt;
  &lt;/p&gt;
  &lt;p&gt;
    &lt;gln-snackbar class="snpl3-mui-snackbar snpl3-mui-warning"
      [params]="&#123; message: 'snackbar material-ui \'warning\''
        , msgType: 'warning', 'isNoClose': true &#125;"
      (click)="clickMUI('snackbar material-ui \'warning\'', '',
        &#123; data: &#123; msgType: 'warning'&#125;,
          wrapperClass: ['snpl3-mui-snackbar', 'snpl3-mui-warning'] &#125;)"&gt;
    &lt;/gln-snackbar&gt;
  &lt;/p&gt;
  &lt;p&gt;
    &lt;gln-snackbar class="snpl3-mui-snackbar snpl3-mui-info"
      [params]="&#123; message: 'snackbar material-ui \'info\''
        , msgType: 'info', 'isNoClose': true &#125;"
      (click)="clickMUI('snackbar material-ui \'info\'', '',
        &#123; data: &#123; msgType: 'info'&#125;,
          wrapperClass: ['snpl3-mui-snackbar', 'snpl3-mui-info'] &#125;)"&gt;
    &lt;/gln-snackbar&gt;
  &lt;/p&gt;
  &lt;p&gt;
    &lt;gln-snackbar class="snpl3-mui-snackbar snpl3-mui-success"
      [params]="&#123; message: 'snackbar material-ui \'success\''
        , msgType: 'success', 'isNoClose': true &#125;"
      (click)="clickMUI('snackbar material-ui \'success\'', '',
        &#123; data: &#123; msgType: 'success'&#125;,
          wrapperClass: ['snpl3-mui-snackbar', 'snpl3-mui-success'] &#125;)"&gt;
    &lt;/gln-snackbar&gt;
  &lt;/p&gt;
&lt;/div&gt;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelTs">
          <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';
import &#123; GlnSnackbarService &#125; from 'gelenium-ui';

@Component(&#123;
  selector: 'app-snackbar',
  templateUrl: './snackbar.component.html',
  styleUrls: ['./snackbar.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class SnackbarComponent &#123;

  constructor(private snackbarService: GlnSnackbarService) &#123;&#125;

  public clickMUI(
    message: string, action: string, config: any
  ): void &#123;
    const configMUI = &#123;
      overlayClasses: 'snpl3-mui-overlay',
      horizontal: 'center',
      transition: 'grow',
      vertical: 'bottom',
    &#125;;
    this.snackbarService.open(message, action, &#123; ...configMUI, ...config &#125;);
  &#125;
&#125;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelCss">
          <code><pre source="css">
app-snackbar &#123;
  .snpl3-elem &#123;
    max-width: 40ch;
  &#125;
&#125;

gln-snackbar.snpl3-mui-snackbar &#123;
  cursor: pointer;
&#125;
.snpl3-mui-overlay &#123;
  --glnsbc-mr-mini: 0.75rem;
  --glnsbc-mr: 1.5rem;
  z-index: 1400;
&#125;
.snpl3-mui-snackbar &#123;
  --glnsb-mn-hg: 48px;
  --glnsb-mn-wd: 288px;
  --glnsb-brd-rds: 4px;
  --glnsb-bx-shd: 0px 3px 5px -1px rgba(0,0,0,0.2)
    , 0px 6px 10px 0px rgba(0,0,0,0.14)
    , 0px 1px 18px 0px rgba(0,0,0,0.12);
  font-size: 0.875rem;
&#125;
.snpl3-mui-default &#123;
  --glnsb-bg-color: rgb(50, 50, 50);
  --glnsb-color: #fff;
&#125;
.snpl3-mui-error &#123;
  --glnsb-bg-color: #d32f2f;
  --glnsb-color: #fff;
&#125;
.snpl3-mui-warning &#123;
  --glnsb-bg-color: #ed6c02;
  --glnsb-color: #fff;
&#125;
.snpl3-mui-info &#123;
  --glnsb-bg-color: #0288d1;
  --glnsb-color: #fff;
&#125;
.snpl3-mui-success &#123;
  --glnsb-bg-color: #2e7d32;
  --glnsb-color: #fff;
&#125;
</pre></code>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
</section>

<hr *ngIf="isShowPal07Basic"
  br-nn />


<br *ngIf="isShowPal07Basic" />
<br *ngIf="isShowPal07Basic" />






<p></p>
<p>_</p>

<section>
  <label>
    <select class="tta4-select"
      (change)="msgType01a=getValue($event.target)">
      <option *ngFor="let item of msgType01List"
        [value]="item"
        [attr.selected]="msgType01a==item ? '' : null">{{ item }}
      </option>
    </select>
    msgType
  </label>
  &nbsp;
  <label>
    <select class="tta4-select"
      (change)="transition01a=getValue($event.target)">
      <option *ngFor="let item of transition01aList"
        [value]="item"
        [attr.selected]="transition01a==item ? '' : null">{{ item }}
      </option>
    </select>
    transition
  </label>
</section>

<div *ngIf="isShowBasic01"
  class="app-group">

  <div class="app-elem">
    <div>
      <small>
        <em>
          Demo 1 (standard)
        </em>
      </small>
    </div>
    <button class="snbs1-btn"
      tabindex="0"
      type="button"
      (click)="clickDemo1(msgType01a, transition01a)">
      <span>Open1 snackbar</span>
      <!-- <span class="MuiTouchRipple-root css-w0pj6f"></span> -->
    </button>
  </div>

  <div class="app-elem">
    <div>
      <small>
        <em>
          Demo 2 (left top)
        </em>
      </small>
    </div>
    <button class="snbs1-btn"
      tabindex="0"
      type="button"
      (click)="clickDemo2()">
      <span>Open2 success snackbar</span>
    </button>
  </div>

</div>