/*# sourceURL=cm-snackbar-basic.component.scss */

app-cm-snackbar-basic {
  display: block;

  .snbs1-mn-wd-12ch {
    min-width: 12ch;
  }
  // Page: Basic01

  .snbs1-btn {
    border-radius: 4px;
    border-width: 0;
    cursor: pointer;
    font-size: 0.875em;
    height: 38px;
    min-width: 64px;
    padding: 0 1.143em;
  }

  // Page: Attrib01
  .snat1-elem {
    max-width: 40ch;
  }
  .snat1-box {
    cursor: pointer;
  }

  // Page: Attrib02
  .snat2-btn {
    border-radius: 4px;
    border-width: 0;
    cursor: pointer;
    font-size: 0.875em;
    height: 38px;
    min-width: 16ch;
    padding: 0 1.143em;
  }

  // Page: Attrib03
  .snat3-select {
    padding: 6px 1em;
    font-size: 14px;
    outline: none;
    margin: 3px;
  }
  .snat3-btn {
    border-radius: 4px;
    border-width: 0;
    cursor: pointer;
    font-size: 0.875em;
    height: 38px;
    min-width: 64px;
    padding: 0 1.143em;
  }

  // Page: Custom05
  .sncs-btn {
    border-radius: 4px;
    border-width: 0;
    cursor: pointer;
    font-size: 0.875em;
    height: 38px;
    min-width: 64px;
    padding: 0 1.143em;
  }

  // Page: isShowPal07Basic
  .snpl1-elem {
    max-width: 40ch;
  }
  .snpl1-box {
    cursor: pointer;
  }

  // Page: isShowPal07BS Bootstrap
  .snpl2-elem {
    max-width: 40ch;
  }

  // Page: isShowPal07MUI
  .snpl3-elem {
    max-width: 40ch;
  }

  // Page: Config08
  .sncf-btn {
    border-radius: 4px;
    border-width: 0;
    cursor: pointer;
    font-size: 0.875em;
    height: 38px;
    min-width: 64px;
    padding: 0 1.143em;
  }
}


// Page: Custom05
.gln-snackbar-panel {
  .sccs-alert {
    align-items: center;
    background-color: lavender;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2), 0px 6px 10px 0px rgba(0,0,0,0.14), 0px 1px 18px 0px rgba(0,0,0,0.12);
    color: black;
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 48px;
    min-width: 300px;
    padding: 0px 16px;
  }
  .sccs-close {
    align-items: center;
    background-color: transparent;
    border: 0;
    border-radius: 50%;
    box-sizing: border-box;
    color: inherit;
    cursor: pointer;
    display: inline-flex;
    font-family: inherit;
    justify-content: center;
    // outline: 1px solid blue; // #
    // outline: 0;
    outline: 1px solid black;
    overflow: visible;
    padding: 4px 6px;
  }
} 

// Page: isShowPal07Basic
.snpl1-customer {
  // background color
  --glncl-default-h: 200;
  --glncl-default-s: 75%;
  --glncl-default-l: 50%;
  // color
  --glncl-default-bg-h: 315;
  --glncl-default-bg-s: 80%;
  --glncl-default-bg-l: 90%;
}
.snpl1-svg-leaf .gln-snackbar-wrap-icon {
  background-image: url("data:image/svg+xml,"
  + "<svg xmlns='http://www.w3.org/2000/svg' width='40' height='40'"
  + " fill='rgb(13 100 5 / 100%)'>"
  + "<path d='M 32.5,2.5 C 33.1499,2.80393 33.8165,3.13727 34.5,3.5C"
  + " 36.4996,11.3838 35.3329,18.7172 31,25.5C 25.4363,30.3422 19.10"
  + "3,31.6755 12,29.5C 10.3804,31.2415 8.88041,33.0748 7.5,35C 6.20"
  + "677,35.49 4.87344,35.6567 3.5,35.5C 3.33982,33.8008 3.50649,32."
  + "1341 4,30.5C 9.04294,24.7243 15.2096,20.5576 22.5,18C 25.2239,1"
  + "6.4779 27.2239,14.3112 28.5,11.5C 27.9984,10.479 27.3317,10.312"
  + "3 26.5,11C 20.4243,15.7903 13.9243,19.957 7,23.5C 4.66714,14.66"
  + "74 7.83381,8.50075 16.5,5C 21.9561,4.05529 27.2894,3.22195 32.5"
  + ",2.5 Z'/>"
  + "</svg>");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 30px;
  margin-right: 0.5em;
  width: 30px;
}

// Page: isShowPal07BS Bootstrap
gln-snackbar.snpl2-bs-snackbar {
  cursor: pointer;
}
.snpl2-bs-overlay {
  --glnsbc-mr-mini: 0.75rem;
  --glnsbc-mr: 1.5rem;
  z-index: 1090;
}
.snpl2-bs-snackbar {
  --glnsb-brd-wd: 1px;
  --glnsb-brd-cl: rgba(0, 0, 0, 0.175);
  --glnsb-brd-rds: 0.375rem;
  --glnsb-bx-shd: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  --glnsb-mn-hg: 45px;
  --glnsb-mn-wd: 350px;
  font-size: 0.875rem;
}
.snpl2-bs-standard {
  --glnsb-bg-color: #ffffffd9;
  --glnsb-color: #212529;
}
.snpl2-bs-primary {
  --glnsb-bg-color: #0d6efd;
  --glnsb-color: #fafafa;
}
.snpl2-bs-secondary {
  --glnsb-bg-color: #5c636a;
  --glnsb-color: #fafafa;
}
.snpl2-bs-success {
  --glnsb-bg-color: #198754;
  --glnsb-color: #fafafa;
}
.snpl2-bs-danger {
  --glnsb-bg-color: #dc3545;
  --glnsb-color: #fafafa;
}
.snpl2-bs-warning {
  --glnsb-bg-color: #ffc107;
  --glnsb-color: #000;
}
.snpl2-bs-info {
  --glnsb-bg-color: #0dcaf0;
  --glnsb-color: #000;
}

// Page: isShowPal07MUI
gln-snackbar.snpl3-mui-snackbar {
  cursor: pointer;
}
.snpl3-mui-overlay {
  --glnsbc-mr-mini: 0.75rem;
  --glnsbc-mr: 1.5rem;
  z-index: 1400;
}
.snpl3-mui-snackbar {
  --glnsb-mn-hg: 48px;
  --glnsb-mn-wd: 288px;
  --glnsb-brd-rds: 4px;
  --glnsb-bx-shd: 0px 3px 5px -1px rgba(0,0,0,0.2), 0px 6px 10px 0px rgba(0,0,0,0.14), 0px 1px 18px 0px rgba(0,0,0,0.12);
  font-size: 0.875rem;
}
.snpl3-mui-default {
  --glnsb-bg-color: rgb(50, 50, 50);
  --glnsb-color: #fff;
}
.snpl3-mui-error {
  --glnsb-bg-color: #d32f2f;
  --glnsb-color: #fff;
}
.snpl3-mui-warning {
  --glnsb-bg-color: #ed6c02;
  --glnsb-color: #fff;
}
.snpl3-mui-info {
  --glnsb-bg-color: #0288d1;
  --glnsb-color: #fff;
}
.snpl3-mui-success {
  --glnsb-bg-color: #2e7d32;
  --glnsb-color: #fff;
}
