/*# sourceURL=cm-snackbar-basic.component.scss */

app-cm-snackbar-basic {
  display: block;

  .snbs1-mn-wd-12ch {
    min-width: 12ch;
  }
  // Page: Basic01

  .snbs1-btn {
    border-radius: 4px;
    border-width: 0;
    cursor: pointer;
    font-size: 0.875em;
    height: 38px;
    min-width: 64px;
    padding: 0 1.143em;
  }

  // Page: Attrib01
  .snat1-elem {
    max-width: 40ch;
  }
  .snat1-box {
    cursor: pointer;
  }

  // Page: Attrib02
  .snat2-btn {
    border-radius: 4px;
    border-width: 0;
    cursor: pointer;
    font-size: 0.875em;
    height: 38px;
    min-width: 16ch;
    padding: 0 1.143em;
  }

  // Page: Attrib03
  .snat3-select {
    padding: 6px 1em;
    font-size: 14px;
    outline: none;
    margin: 3px;
  }
  .snat3-btn {
    border-radius: 4px;
    border-width: 0;
    cursor: pointer;
    font-size: 0.875em;
    height: 38px;
    min-width: 64px;
    padding: 0 1.143em;
  }

  // Page: Custom05
  .sncs-btn {
    border-radius: 4px;
    border-width: 0;
    cursor: pointer;
    font-size: 0.875em;
    height: 38px;
    min-width: 64px;
    padding: 0 1.143em;
  }

  // Page: Config08
  .sncf-btn {
    border-radius: 4px;
    border-width: 0;
    cursor: pointer;
    font-size: 0.875em;
    height: 38px;
    min-width: 64px;
    padding: 0 1.143em;
  }
}


// Page: Custom05
.gln-snackbar-panel {
  .sccs-alert {
    align-items: center;
    background-color: lavender;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2), 0px 6px 10px 0px rgba(0,0,0,0.14), 0px 1px 18px 0px rgba(0,0,0,0.12);
    color: black;
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 48px;
    min-width: 300px;
    padding: 0px 16px;
  }
  .sccs-close {
    align-items: center;
    background-color: transparent;
    border: 0;
    border-radius: 50%;
    box-sizing: border-box;
    color: inherit;
    cursor: pointer;
    display: inline-flex;
    font-family: inherit;
    justify-content: center;
    // outline: 1px solid blue; // #
    // outline: 0;
    outline: 1px solid black;
    overflow: visible;
    padding: 4px 6px;
  }

  .sncs-MUI {
    --glnsbb-mn-hg: 48px;
    --glnsbb-mn-wd: 288px;
    --glncl-default-h: 0;
    --glncl-default-s: 0%;
    --glncl-default-l: 19.61%;
    --glncl-default-bg-h: 0;
    --glncl-default-bg-s: 0%;
    --glncl-default-bg-l: 100%;
    font-size: 14px;
    // padding: 6px 16px;
    --glnsbb-box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2), 0px 6px 10px 0px rgba(0,0,0,0.14), 0px 1px 18px 0px rgba(0,0,0,0.12);
  }
} 
