<!-- Basic - start  -->
<ng-container *ngIf="true">
  <section mr-vr>
    <h3 class="app-hover-link">
      Basic.
      <a [href]="urlCmAutocomplete + '#Basic'">#</a>
    </h3>
    <span>
      To use this component, in your module you need to add:
    </span>
    <code><pre source="ts">
import &#123; GlnAutocompleteModule, GlnOptionModule &#125; from 'gelenium-ui';</pre>
  </code>
    <p>
      The GlnAutocomplete component allows you to supplement the input of the GlnInput
      component with a panel of suggested options.
    </p>
    <span>For example:</span>
    <code><pre source="html">
&lt;gln-input formControlName="model01a"
  label="Enter value"
  [<strong>glnAutocompleteTrigger</strong>]="<i><strong>autocomplete01</strong></i>"&gt;
  &lt;/gln-input&gt;
  &lt;<strong>gln-autocomplete</strong> #<i><strong>autocomplete01</strong></i>="glnAutocomplete"&gt;
    &lt;gln-option value="mango"&gt;Mango&lt;/gln-option&gt;
    &lt;gln-option value="lemon"&gt;Lemon&lt;/gln-option&gt;
    &lt;gln-option value="orange"&gt;Orange&lt;/gln-option&gt;
    &lt;gln-option value="kiwi"&gt;Kiwi&lt;/gln-option&gt;
  &lt;<strong>gln-autocomplete</strong>&gt;</pre></code>
    <p>
      If you are using the GlnInput component, then you need to add the appropriate module.
    </p>
    <code><pre source="ts">
import &#123; GlnInputModule &#125; from 'gelenium-ui';</pre>
    </code>
  </section>

  <form *ngIf="false"
    [formGroup]="formGroup01"
    novalidate
    autocomplete="off">

    <div class="app-group">

      <div class="app-elem">
        <div mb0>
          <small><em>exterior: Outlined</em></small>
        </div>
        <div>
          <small>
            <em>
              Model: {{ control01.model01a.value }}
            </em>
          </small>
        </div>
        <gln-input formControlName="model01a"
          label="Enter value"
          exterior="outlined"
          wdFull
          [glnAutocompleteTrigger]="autocomplete01a">
        </gln-input>
        <gln-autocomplete #autocomplete01a="glnAutocomplete">
          <gln-option value="mango">Mango</gln-option>
          <gln-option value="lemon">Lemon</gln-option>
          <gln-option value="orange">Orange</gln-option>
          <gln-option value="kiwi">Kiwi</gln-option>
        </gln-autocomplete>
      </div>

      <div class="app-elem">
        <div mb0>
          <small><em>exterior: Underline</em></small>
        </div>
        <div>
          <small>
            <em>
              Model: {{ control01.model01b.value }}
            </em>
          </small>
        </div>
        <div style="display: inline;">
          <gln-input formControlName="model01b"
            label="Enter value"
            exterior="underline"
            wdFull
            [glnAutocompleteTrigger]="autocomplete01b">
          </gln-input>
          <gln-autocomplete #autocomplete01b="glnAutocomplete">
            <gln-option value="mango">Mango</gln-option>
            <gln-option value="lemon">Lemon</gln-option>
            <gln-option value="orange">Orange</gln-option>
            <gln-option value="kiwi">Kiwi</gln-option>
          </gln-autocomplete>
        </div>
      </div>

      <div class="app-elem">
        <div mb0>
          <small><em>exterior: Standard</em></small>
        </div>
        <div>
          <small>
            <em>
              Model: {{ control01.model01c.value }}
            </em>
          </small>
        </div>
        <gln-input formControlName="model01c"
          label="Enter value"
          exterior="standard"
          wdFull
          [glnAutocompleteTrigger]="autocomplete01c">
        </gln-input>
        <gln-autocomplete #autocomplete01c="glnAutocomplete">
          <gln-option value="mango">Mango</gln-option>
          <gln-option value="lemon">Lemon</gln-option>
          <gln-option value="orange">Orange</gln-option>
          <gln-option value="kiwi">Kiwi</gln-option>
        </gln-autocomplete>
      </div>

      <div class="app-elem">
        <div mb0>
          <small><em>Native "input" element</em></small>
        </div>
        <div>
          <small>
            <em>
              Model: {{ control01.model01d.value }}
            </em>
          </small>
        </div>
        <input type="text"
          class="aca-input"
          formControlName="model01d"
          [glnAutocompleteTrigger]="autocomplete01d" />
        <gln-autocomplete #autocomplete01d="glnAutocomplete">
          <gln-option value="mango">Mango</gln-option>
          <gln-option value="lemon">Lemon</gln-option>
          <gln-option value="orange">Orange</gln-option>
          <gln-option value="kiwi">Kiwi</gln-option>
        </gln-autocomplete>
      </div>

    </div>

  </form>
</ng-container>

<!-- section mr-vr
  mat-accordion -->

<hr br-nn />



<!-- attributes-supported01 - start -->
<section *ngIf="true"
  mr-vr>
  <h3 class="app-hover-link">
    Attributes.
    <a [href]="urlCmAutocomplete + '#Attributes'">#</a>
  </h3>
  <h4 class="app-hover-link"
    id="attributes-supported01">
    The following attributes are supported:
    <a [href]="urlCmAutocomplete + '#attributes-supported01'">#</a>
  </h4>

  <ul>
    <li>
      "id" - parameter for defining the unique identifier of the field
      (id="unique_identifier");
    </li>
    <li>
      "config" - Defines a configuration object.
      <a [href]="urlCmAutocomplete + '#config-interface'">More details.</a>
    </li>
    <li>"isDisabled" - a sign that the field is disabled (isDisabled);</li>
    <li>
      "position" - Defines horizontal positioning.
      It can take the following values:
      <ul>
        <li>"start" - positioned at the left edge (default);</li>
        <li>"center" - positioned in the middle;</li>
        <li>"end" - positioned on the right edge;</li>
      </ul>
    </li>
  </ul>
</section>

<section *ngIf="true"
  mr-vr>
  <span>exterior: </span>
  <mat-button-toggle-group value="exterior02b"
    (change)="exterior02b=$event.value">
    <mat-button-toggle [checked]="exterior02b==='outlined'"
      value="outlined">{{ labelOutlined }}</mat-button-toggle>
    <mat-button-toggle [checked]="exterior02b==='underline'"
      value="underline">{{ labelUnderline }}</mat-button-toggle>
    <mat-button-toggle [checked]="exterior02b==='standard'"
      value="standard">{{ labelStandard }}</mat-button-toggle>
  </mat-button-toggle-group>
</section>

<form *ngIf="false"
  [formGroup]="formGroup02b">

  <div class="app-group">

    <div class="app-elem">
      <div>
        <small>
          <em>Attribute: isDisabled.</em>
        </small>
      </div>
      <gln-input formControlName="model02e"
        class="aca-middle"
        label="Fruit"
        [exterior]="exterior02b"
        [glnAutocompleteTrigger]="autocomplete02e">
      </gln-input>
      <gln-autocomplete #autocomplete02e="glnAutocomplete"
        isDisabled>
        <gln-option *ngFor="let item of fruitsB"
          [value]="item">
          {{ capitalizeFirstLetter(item) }}
        </gln-option>
      </gln-autocomplete>
    </div>

    <div class="app-elem">
      <div>
        <small>
          <em>Attribute: id, position='start' (default).</em>
        </small>
      </div>
      <gln-input formControlName="model02f"
        class="aca-middle"
        label="Fruit"
        [exterior]="exterior02b"
        [glnAutocompleteTrigger]="autocomplete02f">
      </gln-input>
      <gln-autocomplete #autocomplete02f="glnAutocomplete"
        id="unique_id_autocomplete02e"
        position="start">
        <gln-option *ngFor="let item of fruitsB"
          [value]="item">
          {{ capitalizeFirstLetter(item) }}
        </gln-option>
      </gln-autocomplete>
    </div>

    <div class="app-elem">
      <div>
        <small>
          <em>Attribute: position='center'.</em>
        </small>
      </div>
      <gln-input formControlName="model02g"
        class="aca-middle"
        label="Fruit"
        [exterior]="exterior02b"
        [glnAutocompleteTrigger]="autocomplete02g">
      </gln-input>
      <gln-autocomplete #autocomplete02g="glnAutocomplete"
        position="center">
        <gln-option *ngFor="let item of fruitsB"
          [value]="item">
          {{ capitalizeFirstLetter(item) }}
        </gln-option>
      </gln-autocomplete>
    </div>

    <div class="app-elem">
      <div>
        <small>
          <em>Attribute: position='end'.</em>
        </small>
      </div>
      <gln-input formControlName="model02h"
        class="aca-middle"
        label="Fruit"
        [exterior]="exterior02b"
        [glnAutocompleteTrigger]="autocomplete02h">
      </gln-input>
      <gln-autocomplete #autocomplete02h="glnAutocomplete"
        position="end">
        <gln-option *ngFor="let item of fruitsB"
          [value]="item">
          {{ capitalizeFirstLetter(item) }}
        </gln-option>
      </gln-autocomplete>
    </div>

  </div>
</form>

<!-- section mr-vr
  mat-accordion -->

<hr br-nn />
<!-- attributes-supported01 - finish -->



<!-- attributes-supported02 - start -->
<section *ngIf="true"
  mr-vr
  id="attributes-supported02">
  <h4 class="app-hover-link">
    Attributes are also supported:
    <a [href]="urlCmAutocomplete + '#attributes-supported02'">#</a>
  </h4>
  <ul>
    <li>
      "isMaxWd" - set the maximum width when expanding the dropdown list of options.
      <br />
      Without this setting, the maximum width of the options panel is determined by its
      content.
      <br />
      The value of the minimum width of the options panel is always equal to the width
      of the parent.
    </li>
    <li>
      css: '--glnol-min-width: 180px;' - defines the minimum width of the option list
      dropdown list of options.
    </li>
    <li>
      css: '--glnol-max-width: 180px;' - defines the maximum width of the option list
      dropdown list of options.
    </li>
  </ul>
</section>

<section *ngIf="true"
  mr-vr>
  <span>exterior: </span>
  <mat-button-toggle-group value="exterior02c"
    (change)="exterior02c=$event.value">
    <mat-button-toggle [checked]="exterior02c==='outlined'"
      value="outlined">{{ labelOutlined }}</mat-button-toggle>
    <mat-button-toggle [checked]="exterior02c==='underline'"
      value="underline">{{ labelUnderline }}</mat-button-toggle>
    <mat-button-toggle [checked]="exterior02c==='standard'"
      value="standard">{{ labelStandard }}</mat-button-toggle>
  </mat-button-toggle-group>
</section>

<form *ngIf="false"
  [formGroup]="formGroup02c"
  novalidate
  autocomplete="off">

  <div class="app-group">

    <div class="app-elem">
      <div>
        <small>
          <em>Attribute: without isMaxWd.</em>
        </small>
      </div>
      <gln-input formControlName="model02i"
        class="aca-middle"
        label="Fruit"
        [exterior]="exterior02c"
        [glnAutocompleteTrigger]="autocomplete02i">
      </gln-input>
      <gln-autocomplete #autocomplete02i="glnAutocomplete">
        <gln-option *ngFor="let item of fruitsB"
          [value]="item">{{ capitalizeFirstLetter(item) }}
        </gln-option>
      </gln-autocomplete>
    </div>

    <div class="app-elem">
      <div>
        <small>
          <em>Attribute: with isMaxWd.</em>
        </small>
      </div>
      <gln-input formControlName="model02j"
        class="aca-middle"
        label="Fruit"
        [exterior]="exterior02c"
        [glnAutocompleteTrigger]="autocomplete02j">
      </gln-input>
      <gln-autocomplete #autocomplete02j="glnAutocomplete"
        isMaxWd>
        <gln-option *ngFor="let item of fruitsB"
          [value]="item">{{ capitalizeFirstLetter(item) }}
        </gln-option>
      </gln-autocomplete>
    </div>

    <div class="app-elem">
      <div>
        <small>
          <em>Attribute: '--glnol-max-width: 185px;'.</em>
        </small>
      </div>
      <gln-input formControlName="model02k"
        style="width: 161px;"
        label="Fruit"
        [exterior]="exterior02c"
        [glnAutocompleteTrigger]="autocomplete02k"
        hintOrError="The 'visibleSize' are used.">
      </gln-input>
      <gln-autocomplete #autocomplete02k="glnAutocomplete"
        style="--glnol-max-width: 185px;">
        <gln-option *ngFor="let item of fruitsB"
          [value]="item">
          {{ capitalizeFirstLetter(item) }}
        </gln-option>
      </gln-autocomplete>
    </div>

  </div>
</form>

<!-- section mr-vr
  mat-accordion -->

<hr br-nn />
<!-- attributes-supported02 - finish -->



<!-- attributes-supported03 - start -->
<section *ngIf="true"
  mr-vr
  id="attributes-supported03">
  <h4 class="app-hover-link">
    Attributes are also supported:
    <a [href]="urlCmAutocomplete + '#attributes-supported03'">#</a>
  </h4>
  <ul>
    <li>
      "visibleSize" - sets the maximum number of visible option elements.
      <br />
      The options bar is set to <i>max-height = optionHeight * visibleSize</i>.
      <br />
      Where option height is <i>optionHeight = lineHeight + 2 * 0.375 * fontSize</i>;
    </li>
    <li>
      css: '--glnol-max-height: 180px;' - defines the maximum height of the option
      list dropdown list of options.
    </li>
    <li>
      "isNoAnimation" - hide the display of animation when expanding the dropdown
      list of options.
    </li>
    <li>
      css: '--glnac-elevation: none;' - hide the display of shadow effects when
      expanding the dropdown list of options.
    </li>
  </ul>
</section>

<section *ngIf="true"
  mr-vr>
  <span>exterior: </span>
  <mat-button-toggle-group value="exterior02d"
    (change)="exterior02d=$event.value">
    <mat-button-toggle [checked]="exterior02d==='outlined'"
      value="outlined">{{ labelOutlined }}</mat-button-toggle>
    <mat-button-toggle [checked]="exterior02d==='underline'"
      value="underline">{{ labelUnderline }}</mat-button-toggle>
    <mat-button-toggle [checked]="exterior02d==='standard'"
      value="standard">{{ labelStandard }}</mat-button-toggle>
  </mat-button-toggle-group>
</section>

<form *ngIf="false"
  [formGroup]="formGroup02d"
  novalidate
  autocomplete="off">

  <div class="app-group">

    <div class="app-elem aca-middle">
      <div>
        <small>
          <em>Attribute: visibleSize=6.</em>
        </small>
      </div>
      <gln-input formControlName="model02n"
        style="width: 161px;"
        label="Fruit"
        [exterior]="exterior02d"
        [glnAutocompleteTrigger]="autocomplete02n"
        helperText="The 'visibleSize' are used.">
      </gln-input>
      <gln-autocomplete #autocomplete02n="glnAutocomplete"
        [visibleSize]="6">
        <gln-option *ngFor="let item of fruits"
          [value]="item">
          {{ capitalizeFirstLetter(item) }}
        </gln-option>
      </gln-autocomplete>
    </div>

    <div class="app-elem">
      <div>
        <small>
          <em>css: '--glnol-max-height: 180px;'.</em>
        </small>
      </div>
      <gln-input formControlName="model02o"
        class="aca-middle"
        label="Fruit"
        [exterior]="exterior02d"
        [glnAutocompleteTrigger]="autocomplete02o"
        helperText="css: '--glnol-max-height'.">
      </gln-input>
      <gln-autocomplete #autocomplete02o="glnAutocomplete"
        style="--glnol-max-height: 180px;">
        <gln-option *ngFor="let item of fruits"
          [value]="item">{{ capitalizeFirstLetter(item) }}
        </gln-option>
      </gln-autocomplete>
    </div>

    <div class="app-elem">
      <div>
        <small>
          <em>Attribute: isNoAnimation.</em>
        </small>
      </div>
      <gln-input formControlName="model02p"
        class="aca-middle"
        label="Fruit"
        [exterior]="exterior02d"
        [glnAutocompleteTrigger]="autocomplete02p"
        helperText="Attribute: isNoAnimation.">
      </gln-input>
      <gln-autocomplete #autocomplete02p="glnAutocomplete"
        isNoAnimation>
        <gln-option *ngFor="let item of fruitsB"
          [value]="item">{{ capitalizeFirstLetter(item) }}
        </gln-option>
      </gln-autocomplete>
    </div>

    <div class="app-elem">
      <div>
        <small>
          <em>css: '--glnac-elevation: none;'.</em>
        </small>
      </div>
      <gln-input formControlName="model02q"
        class="aca-middle"
        label="Fruit"
        [exterior]="exterior02d"
        [glnAutocompleteTrigger]="autocomplete02q"
        helperText="css: '--glnac-elevation'.">
      </gln-input>
      <gln-autocomplete #autocomplete02q="glnAutocomplete"
        style="--glnac-elevation: none;">
        <gln-option *ngFor="let item of fruitsB"
          [value]="item">{{ capitalizeFirstLetter(item) }}
        </gln-option>
      </gln-autocomplete>
    </div>


  </div>
</form>
<!-- section mr-vr
  mat-accordion -->

<hr br-nn />
<!-- attributes-supported03 - finish -->



<!-- Feature - start  -->
<section mr-vr>
  <h3 class="app-hover-link">
    Feature
    <a [href]="urlCmAutocomplete + '#Feature'">#</a>
  </h3>
  <p>
    The GlnAutocomplete component has the functionality of opening a panel to select
    available values.
    This panel closes when the user selects the desired value.
    Also, this panel is closed in case of loss of focus of the current input element.
    It is possible to forcibly close all open panels of GlnAutocomplete components,
    for example, when an emergency transition to another page occurs.
  </p>
  <p>
    There is a static class GlnAutocompleteOpenUtil, which contains a list of all
    GlnAutocomplete components with an open panel.
    Calling the static method "closeAll()" will gracefully close all open panes.
  </p>
</section>

<section mr-vr
  id="feature-activate">
  <h4 class="app-hover-link">
    GlnAutocomplete activate.
    <a [href]="urlCmAutocomplete + '#feature-activate'">#</a>
  </h4>
  <p>
    Demo !
  </p>
</section>

<form *ngIf="true"
  [formGroup]="formGroup07a"
  novalidate
  autocomplete="off">

  <div class="app-group">

    <div class="app-elem aca-middle">
      <div>
        <small>
          <em>Default: visibleSize: 6. {{ value07aLoading }}</em>
        </small>
      </div>
      <div style="display: inline;"
        *ngIf="true">
        <gln-input formControlName="model07a"
          style9="width: 161px;"
          label="Fruit"
          [glnAutocompleteTrigger]="autocomplete07a"
          helperText="Size: 6."
          (input)="value07aLoading = true; filteredAsyn(fruits, control07a.model07a.value, value07a$);">
        </gln-input>
        <gln-autocomplete #autocomplete07a="glnAutocomplete"
          [visibleSize]="6"
          [attr.load]="value07aLoading">
          <gln-option *ngIf="value07aLoading"
            value="">Loading
          </gln-option>
          <!-- <ng-container *ngIf="!value07aLoading"> -->
          <gln-option [value]="item"
            *ngFor="let item of value07a | async">
            {{ 'fruit - ' + capitalizeFirstLetter(item) }}
          </gln-option>
          <!-- </ng-container> -->
        </gln-autocomplete>
      </div>
    </div>

    <div class="app-elem aca-middle">
      <div>
        <small>
          <em>Params: position: 'center', visibleSize: 5.</em>
        </small>
      </div>
      <gln-input formControlName="model07b"
        style="width: 161px;"
        label="Fruit"
        [glnAutocompleteTrigger]="autocomplete07b"
        helperText="Position: 'center', Size: 5."
        (input)="value07b = filtered(fruits, control07a.model07b.value)">
      </gln-input>
      <gln-autocomplete #autocomplete07b="glnAutocomplete"
        position="center"
        [visibleSize]="5">
        <gln-option *ngFor="let item of value07b"
          [value]="item">
          {{ 'fruit - ' + capitalizeFirstLetter(item) }}
        </gln-option>
      </gln-autocomplete>
    </div>

  </div>
</form>
<!-- section mr-vr
  mat-accordion -->

<hr br-nn />
<!-- Feature - finish -->




<!-- Config - start -->
<section *ngIf="true"
  mr-vr>
  <h3 class="app-hover-link">
    Config
    <a [href]="urlCmAutocomplete + '#Config'">#</a>
  </h3>
  <p>
    If your application will have a single style for GlnAutocomplete elements, then you can
    set a single configuration.
    To do this, you need to create an object with the GlnAutocompleteConfig interface and
    define the required values.
    Next, specify the resulting object in the list of providers for the entire application
    (at the level of the AppComponent).
  </p>
  <code><pre source="ts">
const glnAutocompleteConfigDefault: GlnAutocompleteConfig = &#123;
  position: 'center',
  visibleSize: 8,
&#125;;

@Component(&#123;
  selector: 'app-root',
  templateUrl: './app.component.html',
  styleUrls: ['./app.component.scss'],
  providers: [
    &#123; provide: GLN_AUTOCOMPLETE_CONFIG, useValue: glnAutocompleteConfigDefault &#125;
  ],
&#125;)
export class AppComponent &#123;
  title = 'demo';
&#125;</pre></code>
  <p>
    After that, all "GlnAutocomplete" components will have the same configuration.
  </p>
</section>


<section mr-vr
  id="config-interface">
  <h4 class="app-hover-link">
    GlnAutocompleteConfig interface.
    <a [href]="urlCmAutocomplete + '#config-interface'">#</a>
  </h4>
</section>

<table class="app-tab">
  <tr>
    <th class="app-mn-wd-22ch">Name</th>
    <th>Description</th>
  </tr>

  <tr>
    <td><code>isMaxWd?:<br/>
      &nbsp;&nbsp;boolean<br/>
      &nbsp;&nbsp;| undefined;</code></td>
    <td>
      <span>
        isMaxWd<br />
      </span>
    </td>
  </tr>
  <tr>
    <td><code>isNoAnimation?:<br/>
      &nbsp;&nbsp;boolean<br/>
      &nbsp;&nbsp;| undefined;</code></td>
    <td>
      <span>
        Disable animation execution. (default = false;)
      </span>
    </td>
  </tr>
  <tr>
    <td><code>position?:<br/>
        &nbsp;&nbsp;string<br/>
        &nbsp;&nbsp;| undefined;<br/>
        //&nbsp;GlnAutocompletePositionType
      </code></td>
    <td>
      <span>
        Specifies how to horizontally align the options list panel.
      </span>
      <ul>
        <li>'start' - align to the left of the main element; (default)</li>
        <li>'center' - align to the center of the main element;</li>
        <li>'end' - align to the right side of the main element;</li>
      </ul>
    </td>
  </tr>
  <tr>
    <td><code>visibleSize?:<br/>
        &nbsp;&nbsp;number<br/>
        &nbsp;&nbsp;| undefined;</code></td>
    <td>
      <span>
        Specifies the maximum number of visible option elements.
        This value is multiplied by the height of the option and defines the
        maximum height of the options panel.
        <br />
        If multiple option elements have the smallest height, then that will be the
        height of the option element.
      </span>
    </td>
  </tr>

</table>

<section mr-vr
  id="config-provide">
  <h4 class="app-hover-link">
    1. Configuration with "outlined" and "small".
    <a [href]="urlCmAutocomplete + '#config-provide'">#</a>
  </h4>
  <p>
    For example, let's prepare a configuration in which:
  </p>
  <ul>
    <li>"exterior" will have the value "outlined";</li>
    <li>"frameSize" will have the value "small" (height to 44px);</li>
  </ul>
  <code><pre source="ts">
const glnAutocompleteConfigDefault: GlnAutocompleteConfig = &#123;
  position: 'end';
  visibleSize: 8
&#125;;</pre></code>
</section>

<section mr-vr
  id="config-params">
  <h4 class="app-hover-link">
    2. Configuration with "position" and "visibleSize".
    <a [href]="urlCmAutocomplete + '#config-params'">#</a>
  </h4>
  <p>
    Suppose we have a provider in our application with "GlnAutocompleteConfig"
    and all Autocomplete elements accept its default values.
    We can change these values for an individual element.
    To do this, you need to specify in this element those properties that do not match the
    provider's configuration.
  </p>
  <p>
    For example, let's specify the following parameters:
  </p>
  <code><pre source="ts">
position="center"
visibleSize=5</pre></code>
  <p>
    In other words, there is the following order of determining the configuration parameters:
  </p>
  <ul>
    <li>
      Standard values are taken.
      <code><pre source="ts">
isMaxWd=false,
isNoAnimation=false,
position='start',
visibleSize=0</pre></code>
    </li>
    <li>
      Values from the default configuration provider (if there is one).
    </li>
    <li>
      Values from input parameters (if there is one).
    </li>
  </ul>
</section>

<form *ngIf="false"
  [formGroup]="formGroup08a"
  novalidate
  autocomplete="off">

  <div class="app-group">

    <div class="app-elem aca-middle">
      <div>
        <small>
          <em>Default: position: 'end', visibleSize: 8.</em>
        </small>
      </div>
      <gln-input formControlName="model08a"
        style="width: 161px;"
        label="Fruit"
        [glnAutocompleteTrigger]="autocomplete08a"
        helperText="Position: 'end', Size: 8.">
      </gln-input>
      <gln-autocomplete #autocomplete08a="glnAutocomplete">
        <gln-option *ngFor="let item of fruits"
          [value]="item">
          {{ 'fruit - ' + capitalizeFirstLetter(item) }}
        </gln-option>
      </gln-autocomplete>
    </div>


    <div class="app-elem aca-middle">
      <div>
        <small>
          <em>Params: position: 'center', visibleSize: 5.</em>
        </small>
      </div>
      <gln-input formControlName="model08b"
        style="width: 161px;"
        label="Fruit"
        [glnAutocompleteTrigger]="autocomplete08b"
        helperText="Position: 'center', Size: 5.">
      </gln-input>
      <gln-autocomplete #autocomplete08b="glnAutocomplete"
        position="center"
        [visibleSize]="5">
        <gln-option *ngFor="let item of fruits"
          [value]="item">
          {{ 'fruit - ' + capitalizeFirstLetter(item) }}
        </gln-option>
      </gln-autocomplete>
    </div>


  </div>
</form>
<!-- section mr-vr
  mat-accordion -->

<hr br-nn />
<!-- Config - finish -->

<p>-</p>
<p>-</p>
<p>-</p>
<p>-</p>
<hr br-nn />



<p>_</p>
<p>_</p>
<p>_</p>
<p>_</p>
<p>demo1</p>
<p>_</p>
<p>_</p>
<p>_</p>
<p>_</p>
<p>demo2</p>
<p>_</p>
<p>_</p>
<p>_</p>
<p>_</p>
<p>demo3</p>