<section *ngIf="true"
  mr-vr>
  <h3 class="app-hover-link">
    Basic.
    <a [href]="urlCmAutocomplete + '#Basic'">#</a>
  </h3>
  <span>
    To use this component, in your module you need to add:
  </span>
  <code><pre source="ts">
import &#123; GlnAutocompleteModule, GlnOptionModule &#125; from 'gelenium-ui';</pre>
  </code>
  <p>
    The GlnAutocomplete component allows you to supplement the input of the GlnInput
    component with a panel of suggested options.
  </p>
  <span>For example:</span>
  <code><pre source="html">
&lt;gln-input formControlName="model01a"
  label="Enter value"
  [<strong>glnAutocompleteTrigger</strong>]="<i><strong>autocomplete01</strong></i>"&gt;
  &lt;/gln-input&gt;
  &lt;<strong>gln-autocomplete</strong> #<i><strong>autocomplete01</strong></i>="glnAutocomplete"&gt;
    &lt;gln-option value="mango"&gt;Mango&lt;/gln-option&gt;
    &lt;gln-option value="lemon"&gt;Lemon&lt;/gln-option&gt;
    &lt;gln-option value="orange"&gt;Orange&lt;/gln-option&gt;
    &lt;gln-option value="kiwi"&gt;Kiwi&lt;/gln-option&gt;
  &lt;<strong>gln-autocomplete</strong>&gt;</pre></code>
  <p>
    If you are using the GlnInput component, then you need to add the appropriate module.
  </p>
  <code><pre source="ts">
import &#123; GlnInputModule &#125; from 'gelenium-ui';</pre>
    </code>
  <p>
    You can open the options panel by clicking the mouse, pressing the 'Arrow Up' (&#11014;)
    or 'Arrow Down' (&#11015;).
  </p>
  <p>
    You can close the options panel by clicking on another element,
    by pressing 'Escape' or 'Alt + Arrow Up'.
  </p>
</section>

<form [formGroup]="formGroup01"
  novalidate
  autocomplete="off">

  <div class="app-group">

    <div class="app-elem">
      <div>
        <small><em>exterior: Outlined</em></small>
      </div>
      <gln-input formControlName="model01a"
        label="Enter value"
        exterior="outlined"
        wdFull
        [glnAutocompleteTrigger]="autocomplete01a">
      </gln-input>
      <gln-autocomplete #autocomplete01a="glnAutocomplete">
        <gln-option value="mango">Mango</gln-option>
        <gln-option value="lemon">Lemon</gln-option>
        <gln-option value="orange">Orange</gln-option>
        <gln-option value="kiwi">Kiwi</gln-option>
      </gln-autocomplete>
    </div>

    <div class="app-elem">
      <div>
        <small><em>exterior: Underline</em></small>
      </div>
      <div style="display: inline;">
        <gln-input formControlName="model01b"
          label="Enter value"
          exterior="underline"
          wdFull
          [glnAutocompleteTrigger]="autocomplete01b">
        </gln-input>
        <gln-autocomplete #autocomplete01b="glnAutocomplete">
          <gln-option value="mango">Mango</gln-option>
          <gln-option value="lemon">Lemon</gln-option>
          <gln-option value="orange">Orange</gln-option>
          <gln-option value="kiwi">Kiwi</gln-option>
        </gln-autocomplete>
      </div>
    </div>

    <div class="app-elem">
      <div>
        <small><em>exterior: Standard</em></small>
      </div>
      <gln-input formControlName="model01c"
        label="Enter value"
        exterior="standard"
        wdFull
        [glnAutocompleteTrigger]="autocomplete01c">
      </gln-input>
      <gln-autocomplete #autocomplete01c="glnAutocomplete">
        <gln-option value="mango">Mango</gln-option>
        <gln-option value="lemon">Lemon</gln-option>
        <gln-option value="orange">Orange</gln-option>
        <gln-option value="kiwi">Kiwi</gln-option>
      </gln-autocomplete>
    </div>

    <div class="app-elem">
      <div>
        <small><em>Native "input" element</em></small>
      </div>
      <input type="text"
        class="acb-input"
        formControlName="model01d"
        [glnAutocompleteTrigger]="autocomplete01d" />
      <gln-autocomplete #autocomplete01d="glnAutocomplete">
        <gln-option value="mango">Mango</gln-option>
        <gln-option value="lemon">Lemon</gln-option>
        <gln-option value="orange">Orange</gln-option>
        <gln-option value="kiwi">Kiwi</gln-option>
      </gln-autocomplete>
    </div>

  </div>

</form>

<section mr-vr>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="labelHtml">
          <code><pre source="html">
&lt;form [formGroup]="formGroup01"
  novalidate
  autocomplete="off"&gt;

  &lt;div class="app-group"&gt;

    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;&lt;em&gt;exterior: Outlined&lt;/em&gt;&lt;/small&gt;
      &lt;/div&gt;
      &lt;gln-input formControlName="model01a"
        label="Enter value"
        exterior="outlined"
        wdFull
        [glnAutocompleteTrigger]="autocomplete01a"&gt;
      &lt;/gln-input&gt;
      &lt;gln-autocomplete #autocomplete01a="glnAutocomplete"&gt;
        &lt;gln-option value="mango"&gt;Mango&lt;/gln-option&gt;
        &lt;gln-option value="lemon"&gt;Lemon&lt;/gln-option&gt;
        &lt;gln-option value="orange"&gt;Orange&lt;/gln-option&gt;
        &lt;gln-option value="kiwi"&gt;Kiwi&lt;/gln-option&gt;
      &lt;/gln-autocomplete&gt;
    &lt;/div&gt;

    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;&lt;em&gt;exterior: Underline&lt;/em&gt;&lt;/small&gt;
      &lt;/div&gt;
      &lt;div style="display: inline;"&gt;
        &lt;gln-input formControlName="model01b"
          label="Enter value"
          exterior="underline"
          wdFull
          [glnAutocompleteTrigger]="autocomplete01b"&gt;
        &lt;/gln-input&gt;
        &lt;gln-autocomplete #autocomplete01b="glnAutocomplete"&gt;
          &lt;gln-option value="mango"&gt;Mango&lt;/gln-option&gt;
          &lt;gln-option value="lemon"&gt;Lemon&lt;/gln-option&gt;
          &lt;gln-option value="orange"&gt;Orange&lt;/gln-option&gt;
          &lt;gln-option value="kiwi"&gt;Kiwi&lt;/gln-option&gt;
        &lt;/gln-autocomplete&gt;
      &lt;/div&gt;
    &lt;/div&gt;

    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;&lt;em&gt;exterior: Standard&lt;/em&gt;&lt;/small&gt;
      &lt;/div&gt;
      &lt;gln-input formControlName="model01c"
        label="Enter value"
        exterior="standard"
        wdFull
        [glnAutocompleteTrigger]="autocomplete01c"&gt;
      &lt;/gln-input&gt;
      &lt;gln-autocomplete #autocomplete01c="glnAutocomplete"&gt;
        &lt;gln-option value="mango"&gt;Mango&lt;/gln-option&gt;
        &lt;gln-option value="lemon"&gt;Lemon&lt;/gln-option&gt;
        &lt;gln-option value="orange"&gt;Orange&lt;/gln-option&gt;
        &lt;gln-option value="kiwi"&gt;Kiwi&lt;/gln-option&gt;
      &lt;/gln-autocomplete&gt;
    &lt;/div&gt;

    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;&lt;em&gt;Native "input" element&lt;/em&gt;&lt;/small&gt;
      &lt;/div&gt;
      &lt;input type="text"
        class="acb-input"
        formControlName="model01d"
        [glnAutocompleteTrigger]="autocomplete01d" /&gt;
      &lt;gln-autocomplete #autocomplete01d="glnAutocomplete"&gt;
        &lt;gln-option value="mango"&gt;Mango&lt;/gln-option&gt;
        &lt;gln-option value="lemon"&gt;Lemon&lt;/gln-option&gt;
        &lt;gln-option value="orange"&gt;Orange&lt;/gln-option&gt;
        &lt;gln-option value="kiwi"&gt;Kiwi&lt;/gln-option&gt;
      &lt;/gln-autocomplete&gt;
    &lt;/div&gt;

  &lt;/div&gt;

&lt;/form&gt;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelTs">
          <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';
import &#123;
  FormGroup, FormControl 
&#125; from '@angular/forms';

@Component(&#123;
  selector: 'app-autocomplete',
  templateUrl: './autocomplete.component.html',
  styleUrls: ['./autocomplete.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class AutocompleteComponent &#123;

  public control01 = &#123;
    model01a: new FormControl(null, []),
    model01b: new FormControl(null, []),
    model01c: new FormControl(null, []),
    model01d: new FormControl(null, []),
  &#125;;
  public formGroup01: FormGroup = new FormGroup(this.control01);
&#125;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelCss">
          <code><pre source="css">
app-autocomplete &#123;
  .app-group &#123;
    display: flex;
    flex-wrap: wrap;
  &#125;
  .app-elem &#123;
    min-width: 26ch;
    margin: 10px 10px;
  &#125;
  .acb-input &#123;
    font-size: 1em;
    line-height: 2em;
    margin-top: 1em;
  &#125;
&#125;</pre></code>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
</section>


<section mr-vr
  id="basic-group">
  <h4 class="app-hover-link">
    Group
    <a [href]="urlCmAutocomplete + '#basic-group'">#</a>
  </h4>
  <p>
    It is possible to group some options in the selection list.
    For this, the "GlnOptionGroup" component is used.
  </p>
  <span>
    To use this component, in your module you need to add:
  </span>
  <code><pre source="ts">
import &#123; GlnOptionGroupModule &#125; from 'gelenium-ui';</pre>
  </code>
  <span>For example:</span>
  <code><pre source="html">
&lt;gln-input formControlName="model01b"
  label="Enter value"
  [<strong>glnAutocompleteTrigger</strong>]="<i><strong>autocomplete01</strong></i>"&gt;
  &lt;/gln-input&gt;
  &lt;<strong>gln-autocomplete</strong> #<i><strong>autocomplete01</strong></i>="glnAutocomplete"&gt;
  <strong>&lt;gln-option-group label="fruits"&gt;</strong>
    &lt;gln-option value="mango"&gt;Mango&lt;/gln-option&gt;
    &lt;gln-option value="lemon"&gt;Lemon&lt;/gln-option&gt;
    &lt;gln-option value="orange"&gt;Orange&lt;/gln-option&gt;
    &lt;gln-option value="kiwi"&gt;Kiwi&lt;/gln-option&gt;
  <strong>&lt;/gln-option-group&gt;</strong>  
  &lt;<strong>gln-autocomplete</strong>&gt;</pre></code>
</section>

<hr br-nn />