/*# sourceURL=cm-autocomplete-basic.component.scss */

app-cm-autocomplete-basic {
  display: block;

  // Block "Basic".
  .acb-input {
    border-width: 1px;
    box-sizing: border-box;
    font-size: 1em;
    line-height: 2em;
    margin-top: 0.8em;
  }

  
  // Block "Config"
  gln-autocomplete .glnac-panel.acc-panel {
    --glnac-border-radius: 10px;
    background-color: hsla(160, 100%, 75%, 4%);
    box-shadow: #276566de 0 5px 5px -3px
      , #27656694 0 8px 10px 1px
      , #27656694 0 5px 14px 2px;
  }


  // == == ==
  // == OLD ==

  // // temp
  // div.app-elem {
  //   outline: 1px dashed green;
  // }

}
