<section mr-vr>
  <h3>Frame Size</h3>
  <h3>Border radius.</h3>
  <p>
    You can change the value of the rounding radius in outlined appearance mode.
    To do this, you need to specify a new value for the rounding radius in the
    "&#8209;&#8209;gfi&#8209;outlined-border-radius" css-variable for the "grn&#8209;frame-input"
    css-style.
    For example:
  </p>
  <pre>
  .ibr-outlined-radius grn-frame-input &#123;
    --gfi-outlined-border-radius: calc(var(--gfi-base-size)*0.5);
  &#125;</pre>
  <p>
    This value for the fillet radius corresponds to 50% of the height of the current element.
    The minimum value for the fillet radius is 0.
    The maximum value for the fillet radius is 50% of the height of the current element.
    The value of the css-variable
    <a [href]="urlFrameInput + '#HelperText'">"&#8209;&#8209;gfi&#8209;base-size"</a>
    determines the height of the current element.
  </p>
  <p>
    In this case, you also need to change the value of the left indent for correct display.
    The value of the left indentation is determined by the special css-variable
    "&#8209;&#8209;gfi-outlined-frm-pd-lf-rg" in the css-style "grn-frame-input".
    For example:
  </p>
  <pre>
  .ibr-outlined-radius grn-frame-input &#123;
    --gfi-outlined-border-radius: calc(var(--gfi-base-size)*0.5);
    --gfi-outlined-frm-pd-lf-rg: calc(var(--gfi-base-size)*0.57);
  &#125;</pre>
  <p>
    In our example, the value of the coefficient for changing the fillet radius will change
    dynamically.
    For this, an additional css-variable "&#8209;&#8209;ibr-border-radius" is used.
    As a result, we get the following:
  </p>
  <pre>
  .ibr-outlined-radius grn-frame-input &#123;
    --gfi-outlined-border-radius:
      calc(var(--gfi-base-size)*var(--ibr-border-radius)/100);
    --gfi-outlined-frm-pd-lf-rg: calc(0.57*var(--gfi-base-size));
  &#125;</pre>
  <p>
    This is what the original values look like:
  </p>
  <pre>
  grn-frame-input &#123;
    --gfi-outlined-border-radius: calc(var(--gfi-base-size)/10);
    --gfi-outlined-frm-pd-lf-rg: calc(0.25*var(--gfi-base-size));
  &#125;</pre>
  <p>
    Similarly, you can change the fillet radius for the underline appearance mode.
  </p>
  <p>
    To do this, you need to specify a new value for the rounding radius in the
    css-variable "&#8209;&#8209;gfi-underline-border-radius" for the css-style
    "grn&#8209;frame-input".
    And you also need to change the value of the left indentation value of the
    css-variable "&#8209;&#8209;gfi-underline-frm-pd-lf-rg" for the css-style
    "grn&#8209;frame-input".
  </p>
  <p>
    We get the following:
  </p>
  <pre>
    .ibr-underline-radius grn-frame-input &#123;
      --gfi-underline-border-radius:
        calc(var(--gfi-base-size)*var(--ibr-border-radius)/100);
      --gfi-underline-frm-pd-lf-rg: calc(0.4*var(--gfi-base-size));
    &#125;
  </pre>
  <p>
    This is what the original values look like:
  </p>
  <pre>
    grn-frame-input &#123;
    --gfi-underline-border-radius: calc(var(--gfi-base-size)/10);
    --gfi-underline-frm-pd-lf-rg: calc(0.214285714*var(--gfi-base-size));
    &#125;
  </pre>
</section>

<section mr-vr>
  <span>exterior: </span>
  <mat-button-toggle-group [(ngModel)]="exterior05">
    <mat-button-toggle value="outlined">{{ labelOutlined }}</mat-button-toggle>
    <mat-button-toggle value="underline">{{ labelUnderline }}</mat-button-toggle>
  </mat-button-toggle-group>
</section>

<section mr-vr
  class="fibr-slider-box">
  <span>border-radius = ( BaseSize * <b class="fibr-slider-value">{{ borderRadius }}</b>/100
    )</span>
  <mat-slider class="fibr-slider"
    color="primary"
    min="0"
    max="50"
    step="5"
    [value]="borderRadius"
    (input)="inputBorderRadius($event)"></mat-slider>
</section>

<section mr-vr>
  <mat-slide-toggle color="primary"
    [checked]="isHiddenLabel"
    (change)="isHiddenLabel=$event.checked">
    is hiddenLabel
  </mat-slide-toggle>
</section>

<form class="fibr-outlined-radius fibr-underline-radius"
  [formGroup]="formGroup05"
  novalidate
  autocomplete="off">

  <div class="app-elem">
    <div>
      <small>
        <em>"Short" height: 38px; font-size: 16px;</em>
      </small>
    </div>
    <grn-input formControlName="input05a"
      label="Enter value"
      [hiddenLabel]="isHiddenLabel ? '':null"
      frameSize="short"
      [exterior]="exterior05">
    </grn-input>
  </div>
  <hr br-nn>

  <div class="app-elem">
    <div>
      <small>
        <em>"Small" height: 44px; font-size: 16px;</em>
      </small>
    </div>
    <grn-input formControlName="input05b"
      label="Enter value"
      [hiddenLabel]="isHiddenLabel ? '':null"
      frameSize="small"
      [exterior]="exterior05">
    </grn-input>
  </div>
  <hr br-nn>

  <div class="app-elem">
    <div>
      <small>
        <em>"Middle" height: 50px; font-size: 16px;</em>
      </small>
    </div>
    <grn-input formControlName="input05c"
      label="Enter value"
      [hiddenLabel]="isHiddenLabel ? '':null"
      frameSize="middle"
      [exterior]="exterior05">
    </grn-input>
  </div>
  <hr br-nn>

  <div class="app-elem">
    <div>
      <small>
        <em>"Wide" height: 56px; font-size: 16px;</em>
      </small>
    </div>
    <grn-input formControlName="input05d"
      label="Enter value"
      [hiddenLabel]="isHiddenLabel ? '':null"
      frameSize="wide"
      [exterior]="exterior05">
    </grn-input>
  </div>
  <hr br-nn>

  <div class="app-elem">
    <div>
      <small>
        <em>"Large" height: 62px; font-size: 18px;</em>
      </small>
    </div>
    <grn-input formControlName="input05e"
      class="fibr-large"
      label="Enter value"
      [hiddenLabel]="isHiddenLabel ? '':null"
      frameSize="large"
      [exterior]="exterior05">
    </grn-input>
  </div>
  <hr br-nn>

  <div class="app-elem">
    <div>
      <small>
        <em>"Huge" height: 68px; font-size: 20px;</em>
      </small>
    </div>
    <grn-input formControlName="input05f"
      class="fibr-huge"
      label="Enter value"
      [hiddenLabel]="isHiddenLabel ? '':null"
      frameSize="huge"
      [exterior]="exterior05">
    </grn-input>
  </div>

</form>

<section mr-vr>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="labelHtml">
          <pre source="html">
&lt;form class="fibr-outlined-radius fibr-underline-radius"
  [formGroup]="formGroup05"
  novalidate
  autocomplete="off"&gt;

  &lt;div class="app-elem"&gt;
    &lt;div&gt;
      &lt;small&gt;
        &lt;em&gt;"Short" height: 38px; font-size: 16px;&lt;/em&gt;
      &lt;/small&gt;
    &lt;/div&gt;
    &lt;grn-input formControlName="input05a"
      label="Enter value"
      [hiddenLabel]="isHiddenLabel ? '':null"
      frameSize="short"
      [exterior]="exterior05"&gt;
    &lt;/grn-input&gt;
  &lt;/div&gt;
  &lt;hr br-nn&gt;

  &lt;div class="app-elem"&gt;
    &lt;div&gt;
      &lt;small&gt;
        &lt;em&gt;"Small" height: 44px; font-size: 16px;&lt;/em&gt;
      &lt;/small&gt;
    &lt;/div&gt;
    &lt;grn-input formControlName="input05b"
      label="Enter value"
      [hiddenLabel]="isHiddenLabel ? '':null"
      frameSize="small"
      [exterior]="exterior05"&gt;
    &lt;/grn-input&gt;
  &lt;/div&gt;
  &lt;hr br-nn&gt;

  &lt;div class="app-elem"&gt;
    &lt;div&gt;
      &lt;small&gt;
        &lt;em&gt;"Middle" height: 50px; font-size: 16px;&lt;/em&gt;
      &lt;/small&gt;
    &lt;/div&gt;
    &lt;grn-input formControlName="input05c"
      label="Enter value"
      [hiddenLabel]="isHiddenLabel ? '':null"
      frameSize="middle"
      [exterior]="exterior05"&gt;
    &lt;/grn-input&gt;
  &lt;/div&gt;
  &lt;hr br-nn&gt;

  &lt;div class="app-elem"&gt;
    &lt;div&gt;
      &lt;small&gt;
        &lt;em&gt;"Wide" height: 56px; font-size: 16px;&lt;/em&gt;
      &lt;/small&gt;
    &lt;/div&gt;
    &lt;grn-input formControlName="input05d"
      label="Enter value"
      [hiddenLabel]="isHiddenLabel ? '':null"
      frameSize="wide"
      [exterior]="exterior05"&gt;
    &lt;/grn-input&gt;
  &lt;/div&gt;
  &lt;hr br-nn&gt;

  &lt;div class="app-elem"&gt;
    &lt;div&gt;
      &lt;small&gt;
        &lt;em&gt;"Large" height: 62px; font-size: 18px;&lt;/em&gt;
      &lt;/small&gt;
    &lt;/div&gt;
    &lt;grn-input formControlName="input05e"
      class="fibr-large"
      label="Enter value"
      [hiddenLabel]="isHiddenLabel ? '':null"
      frameSize="large"
      [exterior]="exterior05"&gt;
    &lt;/grn-input&gt;
  &lt;/div&gt;
  &lt;hr br-nn&gt;

  &lt;div class="app-elem"&gt;
    &lt;div&gt;
      &lt;small&gt;
        &lt;em&gt;"Huge" height: 68px; font-size: 20px;&lt;/em&gt;
      &lt;/small&gt;
    &lt;/div&gt;
    &lt;grn-input formControlName="input05f"
      class="fibr-huge"
      label="Enter value"
      [hiddenLabel]="isHiddenLabel ? '':null"
      frameSize="huge"
      [exterior]="exterior05"&gt;
    &lt;/grn-input&gt;
  &lt;/div&gt;

&lt;/form&gt;</pre>
        </mat-tab>
        <mat-tab [label]="labelTs">
          <pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';
import &#123;
  FormControl, FormGroup
&#125; from '@angular/forms';

@Component(&#123;
  selector: 'app-input',
  templateUrl: './input.component.html',
  styleUrls: ['./input.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class FrameInputComponent &#123;
  public formGroup05: FormGroup = new FormGroup(&#123;
    input05a: new FormControl('Demo Size Short', []),
    input05b: new FormControl('Demo Size Small', []),
    input05c: new FormControl('Demo Size Middle', []),
    input05d: new FormControl('Demo Size Wide', []),
    input05e: new FormControl('Demo Size Large', []),
    input05f: new FormControl('Demo Size Huge', []),
  &#125;);
  public exterior05 = 'outlined';
  public isHiddenLabel = false;
  public borderRadius = 50;
&#125;</pre>
        </mat-tab>
        <mat-tab [label]="labelCss">
          <pre source="css">
.app-elem &#123;
  min-width: 25ch;
  margin: 10px 10px;
&#125;
.fibr-slider-box &#123;
  width: 46ch;
  display: flex;
  align-items: center;
&#125;
.fibr-slider &#123;
  flex-grow: 1;
  margin-left: 7px;
&#125;
.fibr-slider-value &#123;
  width: 25px;
  display: inline-block;
  text-align: center;
  color: #3f51b5;
&#125;
.fibr-large &#123;
  font-size: 18px;
&#125;
.fibr-huge &#123;
  font-size: 20px;
&#125;

--ibr-border-radius: 20;

.fibr-outlined-radius grn-frame-input &#123;
  --gfi-outlined-border-radius
    : calc(var(--gfi-base-size)*var(--ibr-border-radius)/100);
  --gfi-outlined-frm-pd-lf-rg: calc(0.57*var(--gfi-base-size));
&#125;

.fibr-underline-radius grn-frame-input &#123;
  --gfi-underline-border-radius
    : calc(var(--gfi-base-size)*var(--ibr-border-radius)/100);
  --gfi-underline-frm-pd-lf-rg: calc(0.4*var(--gfi-base-size));
&#125;</pre>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
</section>