/*# sourceURL=frame-input-border-radius.component.scss */

app-frame-input-border-radius {
  display: block;

  .fibr-slider-box {
    width: 46ch;
    display: flex;
    align-items: center;
  }
  .fibr-slider {
    flex-grow: 1;
    margin-left: 7px;
  }
  .fibr-slider-value {
    width: 25px;
    display: inline-block;
    text-align: center;
    color: #3f51b5;
  }
  .fibr-large {
    font-size: 18px;
  }
  .fibr-huge {
    font-size: 20px;
  }

  --fibr-border-radius: 20;

  .fibr-outlined-radius grn-frame-input {
    --gfi-o-br-rd: calc(var(--gfi-size)*var(--fibr-border-radius)/100);
    --gfi-o-lbl-pd: calc(0.57*var(--gfi-size));
  }

  .fibr-underline-radius grn-frame-input {
    --fibr-u-br-rd: calc(var(--gfi-size)*var(--fibr-border-radius)/100);
    --gfi-u-br-rd: var(--fibr-u-br-rd) var(--fibr-u-br-rd) 0 0;
    --gfi-u-lbl-pd: calc(0.4*var(--gfi-size));
  }


  .fibr-radius-a grn-frame-input {
    --gfi-o-br-rd: calc(var(--gfi-size)/4) 0 0 calc(var(--gfi-size)/4);
    --gfi-o-lbl-pd: calc(0.37*var(--gfi-size));
  }
  .fibr-radius-b grn-frame-input {
    --gfi-o-br-rd: 0 calc(var(--gfi-size)/4) calc(var(--gfi-size)/4) 0;
    --gfi-o-lbl-pd: calc(0.37*var(--gfi-size));
  }
  .fibr-radius-c grn-frame-input {
    --gfi-o-br-rd: calc(var(--gfi-size)/4) 0 calc(var(--gfi-size)/4) 0;
    --gfi-o-lbl-pd: calc(0.37*var(--gfi-size));
  }
  .fibr-radius-d grn-frame-input {
    --gfi-o-br-rd: 0 calc(var(--gfi-size)/4) 0 calc(var(--gfi-size)/4);
    --gfi-o-lbl-pd: calc(0.37*var(--gfi-size));
  }

  .fibr-radius-e grn-frame-input {
    --gfi-u-br-rd: calc(var(--gfi-size)/3) 0 0 0;
    --gfi-u-lbl-pd: calc(0.37*var(--gfi-size));
  }
  .fibr-radius-f grn-frame-input {
    --gfi-u-br-rd: 0 calc(var(--gfi-size)/3) 0 0;
    --gfi-u-lbl-pd: calc(0.37*var(--gfi-size));
  }


  .fibr-radius-h grn-frame-input {
    --gfi-u-br-rd: 0 0 0 calc(var(--gfi-size)/3);
    --gfi-u-lbl-pd: calc(0.37*var(--gfi-size));
    .gfi-u-frm:before, .gfi-u-frm:after {
      border-radius: var(--gfi-u-br-rd);
      height: calc(0.65*var(--gfi-size));
    }
  }
  .fibr-radius-i grn-frame-input {
    --gfi-u-br-rd: 0 0 calc(var(--gfi-size)/3) 0;
    --gfi-u-lbl-pd: calc(0.37*var(--gfi-size));
    .gfi-u-frm:before, .gfi-u-frm:after {
      border-radius: var(--gfi-u-br-rd);
      height: calc(0.65*var(--gfi-size));
    }
  }

  .fibr-radius-j grn-frame-input {
    --gfi-u-br-rd: calc(var(--gfi-size)/3) 0 0 calc(var(--gfi-size)/3);
    --gfi-u-lbl-pd: calc(0.37*var(--gfi-size));
    .gfi-u-frm:before, .gfi-u-frm:after {
      border-radius: var(--gfi-u-br-rd);
      height: calc(0.65*var(--gfi-size));
    }
  }
  .fibr-radius-k grn-frame-input {
    --gfi-u-br-rd: 0 calc(var(--gfi-size)/3) calc(var(--gfi-size)/3) 0;
    --gfi-u-lbl-pd: calc(0.37*var(--gfi-size));
    .gfi-u-frm:before, .gfi-u-frm:after {
      border-radius: var(--gfi-u-br-rd);
      height: calc(0.65*var(--gfi-size));
    }
  }

  .fibr-radius-l grn-frame-input {
    --gfi-u-br-rd: calc(var(--gfi-size)/3);
    --gfi-u-lbl-pd: calc(0.37*var(--gfi-size));
    .gfi-u-frm:before, .gfi-u-frm:after {
      border-radius: var(--gfi-u-br-rd);
      height: calc(0.65*var(--gfi-size));
    }
  }
}