<section mr-vr>
  <h3>Frame Size</h3>
  <h3>Border radius.</h3>
  <p>
    You can change the value of the rounding radius in outlined appearance mode.
    To do this, you need to specify a new value for the rounding radius in the
    "&#8209;&#8209;gfi&#8209;outlined-border-radius" css-variable for the "grn&#8209;frame-input"
    css-style.
    For example:
  </p>
  <pre>
  .ibr-outlined-radius grn-frame-input &#123;
    --gfi-outlined-border-radius: calc(var(--gfi-base-size)*0.5);
  &#125;</pre>
  <p>
    This value for the fillet radius corresponds to 50% of the height of the current element.
    The minimum value for the fillet radius is 0.
    The maximum value for the fillet radius is 50% of the height of the current element.
    The value of the css-variable
    <a [href]="urlFrameInput + '#HelperText'">"&#8209;&#8209;gfi&#8209;base-size"</a>
    determines the height of the current element.
  </p>
  <p>
    In this case, you also need to change the value of the left indent for correct display.
    The value of the left indentation is determined by the special css-variable
    "&#8209;&#8209;gfi-outlined-frm-pd-lf-rg" in the css-style "grn-frame-input".
    For example:
  </p>
  <pre>
  .ibr-outlined-radius grn-frame-input &#123;
    --gfi-outlined-border-radius: calc(var(--gfi-base-size)*0.5);
    --gfi-outlined-frm-pd-lf-rg: calc(var(--gfi-base-size)*0.57);
  &#125;</pre>
  <p>
    In our example, the value of the coefficient for changing the fillet radius will change
    dynamically.
    For this, an additional css-variable "&#8209;&#8209;ibr-border-radius" is used.
    As a result, we get the following:
  </p>
  <pre>
  .ibr-outlined-radius grn-frame-input &#123;
    --gfi-outlined-border-radius:
      calc(var(--gfi-base-size)*var(--ibr-border-radius)/100);
    --gfi-outlined-frm-pd-lf-rg: calc(0.57*var(--gfi-base-size));
  &#125;</pre>
  <p>
    This is what the original values look like:
  </p>
  <pre>
  grn-frame-input &#123;
    --gfi-outlined-border-radius: calc(var(--gfi-base-size)/10);
    --gfi-outlined-frm-pd-lf-rg: calc(0.25*var(--gfi-base-size));
  &#125;</pre>
  <p>
    Similarly, you can change the fillet radius for the underline appearance mode.
  </p>
  <p>
    To do this, you need to specify a new value for the rounding radius in the
    css-variable "&#8209;&#8209;gfi-underline-border-radius" for the css-style
    "grn&#8209;frame-input".
    And you also need to change the value of the left indentation value of the
    css-variable "&#8209;&#8209;gfi-underline-frm-pd-lf-rg" for the css-style
    "grn&#8209;frame-input".
  </p>
  <p>
    We get the following:
  </p>
  <pre>
    .ibr-underline-radius grn-frame-input &#123;
      --gfi-underline-border-radius:
        calc(var(--gfi-base-size)*var(--ibr-border-radius)/100);
      --gfi-underline-frm-pd-lf-rg: calc(0.4*var(--gfi-base-size));
    &#125;
  </pre>
  <p>
    This is what the original values look like:
  </p>
  <pre>
    grn-frame-input &#123;
    --gfi-underline-border-radius: calc(var(--gfi-base-size)/10);
    --gfi-underline-frm-pd-lf-rg: calc(0.214285714*var(--gfi-base-size));
    &#125;
  </pre>
</section>

<section mr-vr>
  <span>exterior: </span>
  <mat-button-toggle-group [(ngModel)]="exterior05">
    <mat-button-toggle value="outlined">{{ labelOutlined }}</mat-button-toggle>
    <mat-button-toggle value="underline">{{ labelUnderline }}</mat-button-toggle>
    <mat-button-toggle value="standard">{{ labelStandard }}</mat-button-toggle>
  </mat-button-toggle-group>
</section>