/*# sourceURL=cm-select-attributes.component.scss */

app-cm-select-attributes {
  display: block;

  // Block "attributes-supported02"
	.sa-middle {
    width: 160px;
	}

  // Block "attributes-supported03"
  .sa-medium {
    width: 160px;
  }

  // Block "attributes-supported04"
  .sa-normal {
    width: 160px;
  }

  // Block "attributes-supported05"
  // Block "attributes-supported06"
  .sa-elem {
    width: 28ch;
  }

  // Block "attributes-supported06"
  .sa-large {
    font-size: 18px;
  }
  .sa-huge {
    font-size: 20px;
  }
}

// Block "attributes-supported03"
.cdk-overlay-pane .gln-select-panel.sa-max-width {
  --glnslpo-max-width: 185px;
}
.cdk-overlay-pane .gln-select-panel.sa-panel-color {
  color: blue;
  background-color: honeydew;
}

// Block "attributes-supported04"
.cdk-overlay-pane .gln-select-panel.sa-max-height {
  --glnslpo-max-height: 180px;
}
.cdk-overlay-pane .gln-select-panel.sa-elevation {
  --glnslpo-elevation: none;
}

