/*# sourceURL=cm-select-attributes.component.scss */

app-cm-select-attributes {
  display: block;

	.sa-text-center {
		text-align: center;
	}
	.sa-mini {
		min-width: 90px;
	}
	.sa-elem {
    width: 28ch;
  }
	.sa-large {
    font-size: 18px;
  }
  .sa-huge {
    font-size: 20px;
  }
}
