<section mr-vr>
  <h3 class="app-hover-link">
    API: GlnInput.
    <a [href]="urlInput + '#Api'">#</a>
  </h3>
  <p>
    Selector:
    <span fw500>gln-input</span>
  </p>
  <p>
    Exported as:
    <span fw500>glnInput</span>
  </p>
</section>

<section mr-vr>
  <h4>Properties</h4>
</section>

<table class="app-tab">
  <tbody>
    <tr>
      <th>Name</th>
      <th>Description</th>
    </tr>

    <tr>
      <td>
        <code>@Input()</code>
        <code>id: string;</code>
      </td>
      <td>
        <span>
          ID of the native input element.<br />(default = `glnin-$&#123;uniqueIdCounter++&#125;`;)
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>autoComplete: string;</code>
      </td>
      <td>
        <span>Defines permissions for autocomplete native input.
          <br />(default = '';)
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>config: GlnFrameConfig<br/>
          &nbsp;&nbsp;| null<br/>
          &nbsp;&nbsp;| undefined;</code>
      </td>
      <td>
        <span>Defines a configuration object.</span><br />
        <a [href]="urlFrame2 + '#Config'">More details.</a>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>exterior: string<br/>
          &nbsp;&nbsp;| null<br/>
          &nbsp;&nbsp;| undefined;</code>
      </td>
      <td>
        <span>
          Determines the appearance of an element.<br />
          It can take the following values:
        </span>
        <ul>
          <li>"outlined" (default);</li>
          <li>"underline";</li>
          <li>"standard";</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>frameSize: string<br/>
          &nbsp;&nbsp;| null<br/>
          &nbsp;&nbsp;| undefined;</code>
      </td>
      <td>
        <span>Determines the size of the element.<br />
          It can take the following values:
        </span>
        <ul>
          <li>"short" - height: 38px;</li>
          <li>"small" - height: 44px;</li>
          <li>"middle" - height: 50px (default);</li>
          <li>"wide" - height: 56px;</li>
          <li>"large" - height: 62px;</li>
          <li>"huge" - height: 68px;</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>helperText: string<br/>
          &nbsp;&nbsp;| null<br/>
          &nbsp;&nbsp;| undefined;</code>
      </td>
      <td>
        <span>
          Specifies the text for additional clarification or error.
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>isDisabled: string<br/>
          &nbsp;&nbsp;| boolean<br/>
          &nbsp;&nbsp;| null<br/>
          &nbsp;&nbsp;| undefined;</code>
      </td>
      <td>
        <span>The element is disabled.<br />Attribute (no content).</span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>isError: string<br/>
          &nbsp;&nbsp;| boolean<br/>
          &nbsp;&nbsp;| null<br/>
          &nbsp;&nbsp;| undefined;</code>
      </td>
      <td>
        <span>
          Forces the error status of an item to be displayed.<br />Attribute (no content).
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>isHoverColor: string<br/>
          &nbsp;&nbsp;| boolean<br/>
          &nbsp;&nbsp;| null<br/>
          &nbsp;&nbsp;| undefined;</code>
      </td>
      <td>
        <span>
          If specified, then when hovering the mouse, the color of the label
          and frame will be the same as when the focus was received.
          <br />
          If not specified, then when you hover the mouse, the color of the
          label and frame will be the same as the default.
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>isLabelShrink: string<br/>
          &nbsp;&nbsp;| boolean<br/>
          &nbsp;&nbsp;| null<br/>
          &nbsp;&nbsp;| undefined;</code>
      </td>
      <td>
        <span>
          Disable label animation. The label is always static, at the top.<br />
          Attribute (no content).
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>isNoAnimation: string<br/>
          &nbsp;&nbsp;| boolean<br/>
          &nbsp;&nbsp;| null<br/>
          &nbsp;&nbsp;| undefined;</code>
      </td>
      <td>
        <span>Disable animation execution.</span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>isNoLabel: string<br/>
          &nbsp;&nbsp;| boolean<br/>
          &nbsp;&nbsp;| null<br/>
          &nbsp;&nbsp;| undefined;</code>
      </td>
      <td>
        <span>
          Disables the display of the label.<br />Attribute (no content).
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>isReadOnly: string<br/>
          &nbsp;&nbsp;| boolean<br/>
          &nbsp;&nbsp;| null<br/>
          &nbsp;&nbsp;| undefined;</code>
      </td>
      <td>
        <span>Whether the element is readonly.<br />Attribute (no content).</span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>isRequired: string<br/>
          &nbsp;&nbsp;| boolean<br/>
          &nbsp;&nbsp;| null<br/>
          &nbsp;&nbsp;| undefined;</code>
      </td>
      <td>
        <span>
          Adds a validation condition: required field.<br />Attribute (no content).
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>isValueInit: string<br/>
          &nbsp;&nbsp;| boolean<br/>
          &nbsp;&nbsp;| null<br/>
          &nbsp;&nbsp;| undefined;</code>
      </td>
      <td>
        <span>
          Sign of calling the event "writeValueInit" after the second "writeValue()"
          with real data.
          <br />
          This should use "[(ngModel)]".
          <a [href]="urlFrame2 + '#Feature'">More details.</a>
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>label: string<br/>
          &nbsp;&nbsp;| null<br/>
          &nbsp;&nbsp;| undefined;</code>
      </td>
      <td>
        <span>The content of the label.</span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>max: number<br/>
          &nbsp;&nbsp;| null<br/>
          &nbsp;&nbsp;| undefined;</code>
      </td>
      <td>
        <span>Determines the maximum value that is acceptable for an input element.
          <br />(default = null;)
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>maxLength: number<br/>
          &nbsp;&nbsp;| null<br/>
          &nbsp;&nbsp;| undefined;</code>
      </td>
      <td>
        <span>Defines the maximum number of characters for an input element.
          <br />(default = null;)
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>min: number<br/>
          &nbsp;&nbsp;| null<br/>
          &nbsp;&nbsp;| undefined;</code>
      </td>
      <td>
        <span>Determines the minimum value that is acceptable for an input element.
          <br />(default = null;)
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>minLength: number<br/>
          &nbsp;&nbsp;| null<br/>
          &nbsp;&nbsp;| undefined;</code>
      </td>
      <td>
        <span>Defines the minimum number of characters for an input element.
          <br />(default = null;)
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>ornamLfAlign: string<br/>
          &nbsp;&nbsp;| null<br/>
          &nbsp;&nbsp;| undefined;</code>
      </td>
      <td>
        <span>Specifies the height justification for the left ornament.
          <br />(default = 'default';)
          It can take the following values:
        </span>
        <ul>
          <li>"default" - depending on frame type</li>
          <li>"center" - in the center</li>
          <li>"flex-start" - at the top</li>
          <li>"flex-end" - at the bottom</li>
          <li>"baseline" - along the baseline</li>
          <li>"stretch" - at the top</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>ornamRgAlign: string<br/>
          &nbsp;&nbsp;| null<br/>
          &nbsp;&nbsp;| undefined;</code>
      </td>
      <td>
        <span>Specifies the height justification for the right ornament.
          <br />(default = 'default';)
          It can take the following values:
        </span>
        <ul>
          <li>"default" - depending on frame type</li>
          <li>"center" - in the center</li>
          <li>"flex-start" - at the top</li>
          <li>"flex-end" - at the bottom</li>
          <li>"baseline" - along the baseline</li>
          <li>"stretch" - at the top</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>pattern: string<br/>
          &nbsp;&nbsp;| RegExp = '';</code>
      </td>
      <td>
        <span>
          The attribute defines a regular expression that is passed to the native input element
          to validate the input value.
          Applies to an input element of type: text, tel, email, url, password, and search.
          <br />(default = '';)
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>step: number<br/>
          &nbsp;&nbsp;| null<br/>
          &nbsp;&nbsp;| undefined;</code>
      </td>
      <td>
        <span>The step value for increasing/decreasing the value of the input element.
          <br />(default = null;)
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>tabIndex: number;</code>
      </td>
      <td>
        <span>Indicates that its element can be focused.
          <br />(default = 0;)
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>type: string;</code>
      </td>
      <td>
        <span>The type of the native input element.<br />(default =
          GlnInputType.text.valueOf();)</span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>wdFull: string<br/>
          &nbsp;&nbsp;| null<br/>
          &nbsp;&nbsp;| undefined;</code>
      </td>
      <td>
        <span>
          Sets the width to the parent's width (width: 100%;).
          <br />Attribute (no content).
        </span>
      </td>
    </tr>

    <tr>
      <td>
        <code>@Output()</code>
        <code>focused: EventEmitter&lt;void&gt;;</code>
      </td>
      <td>
        <span>Fires when the element receives input focus.</span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Output()</code>
        <code>blured: EventEmitter&lt;void&gt;;</code>
      </td>
      <td>
        <span>Fires when an element loses input focus.</span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Output()</code>
        <code>writeValueInit:<br/> EventEmitter&lt;void&gt;;</code>
      </td>
      <td>
        <span>
          Fires after the second call to "writeValue()" with real data.
          <br />
          This should use "[(ngModel)]".
          <br />
          "writeValueInit" must be set.
          <a [href]="urlFrame2 + '#Feature'">More details.</a>
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Output()</code>
        <code>input: EventEmitter&lt;Event&gt;;</code>
      </td>
      <td>
        <span>The event is called when the user changes the value of an element.</span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Output()</code>
        <code>change: EventEmitter&lt;Event&gt;;</code>
      </td>
      <td>
        <span>The event is called when the user has finished changing the value
          of an element.</span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Output()</code>
        <code>keydownData: EventEmitter&lt;KeyboardEvent&gt;;</code>
      </td>
      <td>
        <span>The event is called when any button moves down.</span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Output()</code>
        <code>keypressData: EventEmitter&lt;KeyboardEvent&gt;;</code>
      </td>
      <td>
        <span>The event is called when a button that has a printable character is pressed.</span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Output()</code>
        <code>keyupData: EventEmitter&lt;KeyboardEvent&gt;;</code>
      </td>
      <td>
        <span>The event is called when any button moves up.</span>
      </td>
    </tr>

  </tbody>
</table>


<section mr-vr
  id="css-variables01">
  <h4 class="app-hover-link">
    Css variables, optional. You can override the default values.
    <a [href]="urlInput + '#css-variables01'">#</a>
  </h4>
</section>

<table class="app-tab">
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>

  <tr>
    <td><code>--glnin-he-pd-lf:<br/>
      &nbsp;var(--glnfrs-pd-lf);</code>
    </td>
    <td>
      <span>
        The value of the "padding-left" property for the GlnHintOrError component.
      </span>
    </td>
  </tr>

  <tr>
    <td><code>--glnin-he-pd-rg:<br/>
      &nbsp;var(--glnfrs-pd-rg);</code>
    </td>
    <td>
      <span>
        The value of the "padding-right" property for the GlnHintOrError component.
      </span>
    </td>
  </tr>

</table>