<section mr-vr>
  <h3>API: GrnInput</h3>
  <p>
    Selector:
    <span fw500>grn-input</span>
  </p>
  <p>
    Exported as:
    <span fw500>grnInput</span>
  </p>
</section>

<section mr-vr>
  <h4>Properties</h4>
</section>

<table class="app-tab">
  <tbody>
    <tr>
      <th>Name</th>
      <th>Description</th>
    </tr>

    <tr>
      <td>
        <code>@Input()</code>
        <code>id: string;</code>
      </td>
      <td>
        <span>
          ID of the native input element.<br />(default = 'grn_input_' + (++identifier);)
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>type: string;</code>
      </td>
      <td>
        <span>The type of the native input element.<br />(default =
          InputType.text.valueOf();)</span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>label: string;</code>
      </td>
      <td>
        <span>The content of the label.<br />(default = '';)</span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>config: GrnFrameInputConfig | null = null;</code>
      </td>
      <td>
        <span>Defines a configuration object.</span><br />
        <a [href]="urlFrameInput + '#Config'">More details.</a>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>exterior: string | null;</code>
      </td>
      <td>
        <span>
          Determines the appearance of an element.<br />
          It can take the following values:
        </span>
        <ul>
          <li>"outlined" (default);</li>
          <li>"underline";</li>
          <li>"standard";</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>frameSize: string | null;</code>
      </td>
      <td>
        <span>Determines the size of the element.<br />
          It can take the following values:
        </span>
        <ul>
          <li>"short" - height: 38px;</li>
          <li>"small" - height: 44px;</li>
          <li>"middle" - height: 50px (default);</li>
          <li>"wide" - height: 56px;</li>
          <li>"large" - height: 62px;</li>
          <li>"huge" - height: 68px;</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>lbShrink: string | null;</code>
      </td>
      <td>
        <span>
          Disable label animation. The label is always static, at the top.<br />
          Attribute (no content).
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>hiddenLabel: string | null;</code>
      </td>
      <td>
        <span>
          Disables the display of the label.<br />Attribute (no content).
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>isDisabled: string | null;</code>
      </td>
      <td>
        <span>The element is disabled.<br />Attribute (no content).</span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>isError: string | null;</code>
      </td>
      <td>
        <span>
          Forces the error status of an item to be displayed.<br />Attribute (no content).
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>isRequired: string | null;</code>
      </td>
      <td>
        <span>
          Adds a validation condition: required field.<br />Attribute (no content).
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>helperText: string;</code>
      </td>
      <td>
        <span>
          Specifies the text for additional clarification or error.
          <br />(default = null;)
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>isReadOnly: string | null;</code>
      </td>
      <td>
        <span>Whether the element is readonly.<br />Attribute (no content).</span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>pattern: string;</code>
      </td>
      <td>
        <span>
          The attribute defines a regular expression that is passed to the native input element
          to validate the input value.
          Applies to an input element of type: text, tel, email, url, password, and search.
          <br />(default = '';)
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>autoComplete: string;</code>
      </td>
      <td>
        <span>Defines permissions for autocomplete native input.
          <br />(default = '';)
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>wdFull: string;</code>
      </td>
      <td>
        <span>
          Sets the width to the parent's width (width: 100%;).
          <br />Attribute (no content).
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>step: number;</code>
      </td>
      <td>
        <span>The step value for increasing/decreasing the value of the input element.
          <br />(default = null;)
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>min: number;</code>
      </td>
      <td>
        <span>Determines the minimum value that is acceptable for an input element.
          <br />(default = null;)
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>max: number;</code>
      </td>
      <td>
        <span>Determines the maximum value that is acceptable for an input element.
          <br />(default = null;)
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>minLength: number;</code>
      </td>
      <td>
        <span>Defines the minimum number of characters for an input element.
          <br />(default = null;)
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>maxLength: number;</code>
      </td>
      <td>
        <span>Defines the maximum number of characters for an input element.
          <br />(default = null;)
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>ornamLfAlign: string | null = null;</code>
      </td>
      <td>
        <span>Specifies the height justification for the left ornament.
          <br />(default = 'default';)
          It can take the following values:
        </span>
        <ul>
          <li>"default" - depending on frame type</li>
          <li>"center" - in the center</li>
          <li>"flex-start" - at the top</li>
          <li>"flex-end" - at the bottom</li>
          <li>"baseline" - along the baseline</li>
          <li>"stretch" - at the top</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>ornamRgAlign: string | null = null;</code>
      </td>
      <td>
        <span>Specifies the height justification for the right ornament.
          <br />(default = 'default';)
          It can take the following values:
        </span>
        <ul>
          <li>"default" - depending on frame type</li>
          <li>"center" - in the center</li>
          <li>"flex-start" - at the top</li>
          <li>"flex-end" - at the bottom</li>
          <li>"baseline" - along the baseline</li>
          <li>"stretch" - at the top</li>
        </ul>
      </td>
    </tr>

    <tr>
      <td>
        <code>@Output()</code>
        <code>inputData: EventEmitter&lt;Event&gt;;</code>
      </td>
      <td>
        <span>The event is called when the user changes the value of an element.</span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Output()</code>
        <code>changeData: EventEmitter&lt;Event&gt;;</code>
      </td>
      <td>
        <span>The event is called when the user has finished changing the value
          of an element.</span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Output()</code>
        <code>keydownData: EventEmitter&lt;KeyboardEvent&gt;;</code>
      </td>
      <td>
        <span>The event is called when any button moves down.</span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Output()</code>
        <code>keypressData: EventEmitter&lt;KeyboardEvent&gt;;</code>
      </td>
      <td>
        <span>The event is called when a button that has a printable character is pressed.</span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Output()</code>
        <code>keyupData: EventEmitter&lt;KeyboardEvent&gt;;</code>
      </td>
      <td>
        <span>The event is called when any button moves up.</span>
      </td>
    </tr>

  </tbody>
</table>