<section mr-vr>
  <h4 class="app-hover-link">
    Basic.
    <a [href]="urlPlPagination + '#Basic'">#</a>
  </h4>
  <p>
    The GlnPagination component has the ability to change its color.
  </p>
  <span>For example:</span>
  <code><pre source="html">
&lt;gln-pagination
  <i><strong>[glnColor]="&#123; primary: 'danger' &#125;"</strong></i>
  [page]="page10a"
  [count]="10"
  (changePage)="page10a = $event"&gt;
&lt;/gln-pagination&gt;</pre></code>
  <p>
    This means that you want to use the system color "danger"
    as the "primary" color.
  </p>
  <span>
    To use the glnColor directive, you need to add in your module:
  </span>
  <code><pre source="ts">
import &#123; GlnColorModule &#125; from 'gelenium-ui';</pre>
  </code>
</section>

<section mr-vr>
  <span>exterior: </span>
  <mat-button-toggle-group value="exterior11a"
    (change)="exterior11a=$event.value">
    <mat-button-toggle [checked]="exterior11a==='outlined'"
      value="outlined">{{ labelOutlined }}</mat-button-toggle>
    <mat-button-toggle [checked]="exterior11a==='text'"
      value="text">{{ labelText }}</mat-button-toggle>
  </mat-button-toggle-group>
</section>


<div class="app-group">

  <div class="app-elem pgpb-elem">
    <div>
      <small>
        <em>Attributes: count, page, exterior.</em>
      </small>
    </div>
    <gln-pagination [page]="page11a"
      style="font-size: 16px;"
      [count]="10"
      [exterior]="exterior11a"
      (changePage)="page11a = $event">
    </gln-pagination>
  </div>

  <div class="app-elem pgpb-elem">
    <div>
      <small>
        <em>Attributes: count, page, exterior, color='danger'.</em>
      </small>
    </div>
    <gln-pagination [page]="page11b"
      style="font-size: 16px;"
      [count]="10"
      [glnColor]="{ primary: 'danger' }"
      [exterior]="exterior11a"
      (changePage)="page11b = $event">
    </gln-pagination>
  </div>

  <div class="app-elem pgpb-elem">
    <div>
      <small>
        <em>Attributes: count, page, exterior, color='success'.</em>
      </small>
    </div>
    <gln-pagination [page]="page11c"
      style="font-size: 16px;"
      [count]="10"
      [glnColor]="{ primary: 'success' }"
      [exterior]="exterior11a"
      (changePage)="page11c = $event">
    </gln-pagination>
  </div>

  <div class="app-elem pgpb-elem">
    <div>
      <small>
        <em>Attributes: count, page, exterior, color='info'.</em>
      </small>
    </div>
    <gln-pagination [page]="page11d"
      style="font-size: 16px;"
      [count]="10"
      [glnColor]="{ primary: 'info' }"
      [exterior]="exterior11a"
      (changePage)="page11d = $event">
    </gln-pagination>
  </div>

  <div class="app-elem pgpb-elem">
    <div>
      <small>
        <em>Attributes: count, page, exterior, color='warning'.</em>
      </small>
    </div>
    <gln-pagination [page]="page11e"
      style="font-size: 16px;"
      [count]="10"
      [glnColor]="{ primary: 'warning' }"
      [exterior]="exterior11a"
      (changePage)="page11e = $event">
    </gln-pagination>
  </div>

  <div class="app-elem pgpb-elem">
    <div>
      <small>
        <em>Attributes: count, page, exterior, isDisabled.</em>
      </small>
    </div>
    <gln-pagination [page]="page11f"
      style="font-size: 16px;"
      [count]="10"
      [exterior]="exterior11a"
      isDisabled
      (changePage)="page11f = $event">
    </gln-pagination>
  </div>

</div>


<section mr-vr>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="labelHtml">
          <code><pre source="html">
&lt;div class="app-group"&gt;

  &lt;div class="app-elem pgpb-elem"&gt;
    &lt;div&gt;
      &lt;small&gt;
        &lt;em&gt;Attributes: count, page, exterior.&lt;/em&gt;
      &lt;/small&gt;
    &lt;/div&gt;
    &lt;gln-pagination [page]="page11a"
      style="font-size: 16px;"
      [count]="10"
      [exterior]="exterior11a"
      (changePage)="page11a = $event"&gt;
    &lt;/gln-pagination&gt;
  &lt;/div&gt;

  &lt;div class="app-elem pgpb-elem"&gt;
    &lt;div&gt;
      &lt;small&gt;
        &lt;em&gt;Attributes: count, page, exterior, color='danger'.&lt;/em&gt;
      &lt;/small&gt;
    &lt;/div&gt;
    &lt;gln-pagination [page]="page11b"
      style="font-size: 16px;"
      [count]="10"
      [glnColor]="&#123; primary: 'danger' &#125;"
      [exterior]="exterior11a"
      (changePage)="page11b = $event"&gt;
    &lt;/gln-pagination&gt;
  &lt;/div&gt;

  &lt;div class="app-elem pgpb-elem"&gt;
    &lt;div&gt;
      &lt;small&gt;
        &lt;em&gt;Attributes: count, page, exterior, color='success'.&lt;/em&gt;
      &lt;/small&gt;
    &lt;/div&gt;
    &lt;gln-pagination [page]="page11c"
      style="font-size: 16px;"
      [count]="10"
      [glnColor]="&#123; primary: 'success' &#125;"
      [exterior]="exterior11a"
      (changePage)="page11c = $event"&gt;
    &lt;/gln-pagination&gt;
  &lt;/div&gt;

  &lt;div class="app-elem pgpb-elem"&gt;
    &lt;div&gt;
      &lt;small&gt;
        &lt;em&gt;Attributes: count, page, exterior, color='info'.&lt;/em&gt;
      &lt;/small&gt;
    &lt;/div&gt;
    &lt;gln-pagination [page]="page11d"
      style="font-size: 16px;"
      [count]="10"
      [glnColor]="&#123; primary: 'info' &#125;"
      [exterior]="exterior11a"
      (changePage)="page11d = $event"&gt;
    &lt;/gln-pagination&gt;
  &lt;/div&gt;

  &lt;div class="app-elem pgpb-elem"&gt;
    &lt;div&gt;
      &lt;small&gt;
        &lt;em&gt;Attributes: count, page, exterior, color='warning'.&lt;/em&gt;
      &lt;/small&gt;
    &lt;/div&gt;
    &lt;gln-pagination [page]="page11e"
      style="font-size: 16px;"
      [count]="10"
      [glnColor]="&#123; primary: 'warning' &#125;"
      [exterior]="exterior11a"
      (changePage)="page11e = $event"&gt;
    &lt;/gln-pagination&gt;
  &lt;/div&gt;

  &lt;div class="app-elem pgpb-elem"&gt;
    &lt;div&gt;
      &lt;small&gt;
        &lt;em&gt;Attributes: count, page, exterior, isDisabled.&lt;/em&gt;
      &lt;/small&gt;
    &lt;/div&gt;
    &lt;gln-pagination [page]="page11f"
      style="font-size: 16px;"
      [count]="10"
      [exterior]="exterior11a"
      isDisabled
      (changePage)="page11f = $event"&gt;
    &lt;/gln-pagination&gt;
  &lt;/div&gt;

&lt;/div&gt;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelTs">
          <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';

@Component(&#123;
  selector: 'app-pagination',
  templateUrl: './pagination.component.html',
  styleUrls: ['./pagination.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class PaginationComponent &#123;
  public page11a: number = 1;
  public page11b: number = 1;
  public page11c: number = 1;
  public page11d: number = 1;
  public page11e: number = 1;
  public page11f: number = 1;
&#125;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelCss">
          <code><pre source="css">
app-input &#123;
  .app-group &#123;
    display: flex;
    flex-wrap: wrap;
  &#125;
  .app-elem &#123;
    min-width: 26ch;
    margin: 10px 10px;
  &#125;
  .pgpb-elem &#123;
    width: 100%;
    display: flex;
    flex-direction: column;
  &#125;
&#125;</pre></code>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
</section>

<hr br-nn />