/*# sourceURL=gd-start-getting-started.component.scss */

app-gd-start-getting-started {
  display: block;

  .sgs-highlight {
    background-color: #f5f2f0;
  }
  .sgs-blue {
    color: #07a;
  }
  .sgs-green {
    color: #690;
  }
}
