<section mr-vr>
  <h3>Config.</h3>
  <p>
    If your application will have a single style for input elements, then you can set a single
    configuration.
    To do this, you need to create an object with the GrnFrameInputConfig interface and define the
    required values.
    Next, specify the resulting object in the list of providers for the entire application (at the
    level of the AppComponent).
  </p>
  <code><pre>
  const grnFrameInputConfigDefault: GrnFrameInputConfig = &#123;
    exterior: Exterior.outlined,
    frameSize: FrameSize.small,
  &#125;;

  @Component(&#123;
    selector: 'app-root',
    templateUrl: './app.component.html',
    styleUrls: ['./app.component.scss'],
    encapsulation: ViewEncapsulation.None,
    providers: [
      &#123;
        provide: GRN_FRAME_INPUT_CONFIG,
        useValue: grnFrameInputConfigDefault
      &#125;
    ],
  &#125;)
  export class AppComponent &#123;
    title = 'demo';
  &#125;
  </pre></code>
  <p>
    After that, all input elements based on the "GrnFrameInput" component will have the same
    configuration.
  </p>
</section>

<section mr-vr>
  <h4>GrnFrameInputConfig interface.</h4>
</section>

<table class="app-tab">
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>

  <tr>
    <td><code>exterior?: Exterior;</code></td>
    <td>
      <span>
        This property determines the appearance of the element.
        It takes the following values:
      </span>
      <ul>
        <li>
          "outlined" - A border around the entire perimeter of the element.
        </li>
        <li>
          "underline" - The border is at the bottom of the element and has a
          background.
        </li>
        <li>
          "standard" - The border is just at the bottom of the element.
        </li>
      </ul>
      <span>(optional)</span>
    </td>
  </tr>
  <tr>
    <td><code>frameSize?: FrameSize;</code></td>
    <td>
      <span>
        This property determines the size of the element (its height).
        <a [href]="urlFrameInput + '#FrameSize'">More details.</a>
        It takes the following values:
      </span>
      <ul>
        <li>"short" - sets the height to 38px;</li>
        <li>"small" - sets the height to 44px;</li>
        <li>"middle" - sets the height to 50px;</li>
        <li>"wide" - sets the height to 56px (default);</li>
        <li>"large" - sets the height to 62px;</li>
        <li>"huge" - sets the height to 68px;</li>
      </ul>
      <span>(optional)</span>
    </td>
  </tr>
  <tr>
    <td><code>frameSizeValue?: number;</code></td>
    <td>
      <span>
        This property sets the height of the element in pixels.
        This property applies only if there is no "frameSize" property.
      </span>
    </td>
  </tr>
  <tr>
    <td><code>isLabelShrink?: boolean;</code></td>
    <td>
      <span>
        An indication that the label has moved up and shrunk.
        <br />(default = false;)
      </span><br />
      <span>(optional)</span>
    </td>
  </tr>
  <tr>
    <td><code>hiddenLabel?: boolean;</code></td>
    <td>
      <span>
        Disabled the display of the label.
        <br />(default = false;)
      </span><br />
      <span>(optional)</span>
    </td>
  </tr>
  <tr>
    <td><code>labelPd?: number;</code></td>
    <td>
      <span>
        The value of the label offset from the frame (in pixels).
      </span>
    </td>
  </tr>
  <tr>
    <td><code>ornamLfAlign?: OrnamAlign;</code></td>
    <td>
      <span>
        This property controls the vertical alignment for the left ornament.
        It takes the following values:
      </span>
      <ul>
        <li>"default" - defines the default</li>
        <li>"center" - defines middle alignment</li>
        <li>"flexStart" - defines top alignment</li>
        <li>"flexEnd" - defines bottom alignment</li>
        <li>"baseline" - defines baseline alignment</li>
        <li>"stretch" - stretches across the entire height</li>
      </ul>
    </td>
  </tr>
  <tr>
    <td><code>ornamRgAlign?: OrnamAlign;</code></td>
    <td>
      <span>
        This property controls the vertical alignment of the right ornament.
        It takes the following values:
      </span>
      <ul>
        <li>"default" - defines the default</li>
        <li>"center" - defines middle alignment</li>
        <li>"flexStart" - defines top alignment</li>
        <li>"flexEnd" - defines bottom alignment</li>
        <li>"baseline" - defines baseline alignment</li>
        <li>"stretch" - stretches across the entire height</li>
      </ul>
    </td>
  </tr>
</table>

<section mr-vr>
  <h4>1. Configuration with "outlined" and "small".</h4>
  <p>
    For example, let's prepare a configuration in which:
  </p>
  <ul>
    <li>"exterior" will have the value "outlined".</li>
    <li>"frameSize" will have the value "small" (height to 44px;).</li>
  </ul>
  <code><pre>
    const grnFrameInputConfigDefault: GrnFrameInputConfig = &#123;
      exterior: Exterior.outlined,
      frameSize: FrameSize.small,
    &#125;;
  </pre></code>
</section>

<section mr-vr>
  <h4>2. Specify "underline" and "middle".</h4>
  <p>
    Suppose we have a provider in our application with "GrnFrameInputConfig" and all input elements
    accept its default values.
    We can change these values for an individual element.
    To do this, you need to specify in this element those properties that do not match in the
    configuration provider.
  </p>
  <p>
    For example, let's specify the following parameters:
  </p>
  <code><pre>
  frameSize="middle"
  exterior="underline"
  </pre></code>
  <p>
    In other words, there is the following order of determining the configuration parameters:
  </p>
  <ul>
    <li>
      Standard values are taken.
      <code><pre>
  exterior="standard",
  frameSize="wide",
  isLabelShrink=false,
  hiddenLabel=false</pre></code>
    </li>
    <li>
      Values from the default configuration provider (if there is one).
    </li>
    <li>
      Values from input parameters (if there is one).
    </li>
  </ul>
</section>

<form class="io-ornament"
  [formGroup]="formGroup07"
  novalidate
  autocomplete="off">

  <div class="app-group">

    <div class="app-elem">
      <div>
        <small>
          <em>1. Config: "outlined", "small".</em>
        </small>
      </div>
      <grn-input formControlName="input07a"
        label="Enter value"
        helperText="A value must be entered.">
      </grn-input>
    </div>

    <div class="app-elem">
      <div>
        <small>
          <em>2. exterior="underline", frameSize="middle".</em>
        </small>
      </div>
      <grn-input formControlName="input07b"
        label="Enter value"
        helperText="A value must be entered."
        frameSize="middle"
        exterior="underline">
      </grn-input>
    </div>

  </div>

</form>

<section mr-vr>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="labelHtml">
          <code><pre source="html">
&lt;form class="io-ornament"
  [formGroup]="formGroup07"
  novalidate
  autocomplete="off"&gt;

  &lt;div class="app-group"&gt;

    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;1. Config: "outlined", "small".&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;grn-input formControlName="input07a"
        label="Enter value"
        helperText="A value must be entered."&gt;
      &lt;/grn-input&gt;
    &lt;/div&gt;

    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;2. exterior="underline", frameSize="middle".&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;grn-input formControlName="input07b"
        label="Enter value"
        helperText="A value must be entered."
        frameSize="middle"
        exterior="underline"&gt;
      &lt;/grn-input&gt;
    &lt;/div&gt;

  &lt;/div&gt;

&lt;/form&gt;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelTs">
          <code><pre source="ts">
import &#123; Component, ViewEncapsulation &#125; from '@angular/core';
import &#123; FormControl, FormGroup &#125; from '@angular/forms';

@Component(&#123;
  selector: 'app-frame-input',
  templateUrl: './frame-input.component.html',
  styleUrls: ['./frame-input.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class FrameInputComponent &#123;
  public formGroup07: FormGroup = new FormGroup(&#123;
    input07a: new FormControl('', []),
    input07b: new FormControl('', []),
  &#125;);
&#125;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelCss">
          <code><pre source="css">
.app-group &#123;
  display: flex;
  flex-wrap: wrap;
&#125;
.app-elem &#123;
  min-width: 26ch;
  margin: 10px 10px;
&#125;</pre></code>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
</section>