<section mr-vr>
  <h3>Basic</h3>
  <p>
    The GlnSelect component is a form control. It includes: label, input and help text.
    <br />
    It comes in three versions:
  </p>
  <!-- <ul>
    <li>with an outline (exterior="outlined" - default)</li>
    <li>with a fill (exterior="underline")</li>
    <li>standard (exterior="standard")</li>
  </ul> -->
</section>

<input type="text">
<p></p>

<p>nativeSelect: {{nativeSelect}}</p>

<label for="pet-select">Choose a pet:</label>
<select name="pets"
  id="pet-select"
  multiple9
  size9="5"
  [(ngModel)]="nativeSelect">
  <option value="">--Please choose an option--</option>
  <option value="dog">Text Dog</option>
  <option value="cat">Text Cat</option>
  <option value="hamster">Text Hamster</option>
  <!-- <option value="parrot">Text Parrot</option>
  <option value="spider">Text Spider</option>
  <option value="goldfish">Text Goldfish</option> -->

  <option label="label Dog2">Text Dog2</option>
  <option label="label Cat2">Text Cat2</option>
  <option label="label Hamster2">Text Hamster2</option>

  <option label="only Dog3"></option>
  <option label="only Cat3"></option>
  <option label="only Hamster3"></option>

  <option label="value Dog4"
    value="dog4">Text Dog4</option>
  <option label="value Cat4"
    value="cat4">Text Cat4</option>
  <option label="value Hamster4"
    value="hamster4">Text Hamster4</option>
  <option></option>

  <option>Text Dog5</option>
  <option>Text Cat5</option>
  <option>Text Hamster5</option>
</select>

<!-- <p *ngFor="let i of [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]">{{i}}</p> -->

<form [formGroup]="formGroup01"
  novalidate
  autocomplete="off">

  <div class="app-group">

    <div class="app-elem">
      <gln-select formControlName="input01a"
        label="demo"
        [sizeVisible]="4">
        <gln-menu-item><em>None</em></gln-menu-item>
        <gln-menu-item value="item01">context <em>item01</em></gln-menu-item>
        <gln-menu-item value="item02">context <em>item02</em></gln-menu-item>
        <gln-menu-item value="item03">context <em>item03</em></gln-menu-item>
        <gln-menu-item value="item04">context <em>item04</em></gln-menu-item>
        <gln-menu-item value="item05">context <em>item05</em></gln-menu-item>
        <gln-menu-item value="item06">context <em>item06</em></gln-menu-item>
      </gln-select>
    </div>
    <!-- <div class="app-elem">
      <gln-input formControlName="input01a"
        label="Outlined"
        exterior="outlined">
      </gln-input>
    </div> -->

    <!-- <div class="app-elem">
      <gln-input formControlName="input01b"
        label="Underline"
        exterior="underline">
      </gln-input>
    </div> -->

    <!-- <div class="app-elem">
      <gln-input formControlName="input01c"
        label="Standard"
        exterior="standard">
      </gln-input>
    </div> -->

  </div>

</form>