<section mr-vr>
  <h3>Basic</h3>
  <p>
    The GlnSelect component is a form control. It includes: label, input and help text.
    <br />
    It comes in three versions:
  </p>
  <ul>
    <li>with an outline (exterior="outlined" - default)</li>
    <li>with a fill (exterior="underline")</li>
    <li>standard (exterior="standard")</li>
  </ul>
</section>

<div class="app-group">

  <div class="app-elem sb-elem">
    <div mb0>
      <small><em>Outlined</em></small>
    </div>
    <div>
      <small>
        <em>Model: {{ model01a === null ? 'null' : model01a }}</em>
      </small>
    </div>
    <gln-select [(ngModel)]="model01a"
      label="Fruit"
      exterior="outlined"
      wdFull>
      <gln-menu-item><em>None</em></gln-menu-item>
      <gln-menu-item value="mango">Mango</gln-menu-item>
      <gln-menu-item value="lemon">Lemon</gln-menu-item>
      <gln-menu-item value="orange">Orange</gln-menu-item>
      <gln-menu-item value="kiwi">Kiwi</gln-menu-item>
    </gln-select>
  </div>

  <div class="app-elem sb-elem">
    <div mb0>
      <small><em>Underline</em></small>
    </div>
    <div>
      <small>
        <em>Model: {{ model01b !== null ? model01b : 'null' }}</em>
      </small>
    </div>
    <gln-select [(ngModel)]="model01b"
      label="Fruit"
      exterior="underline"
      wdFull>
      <gln-menu-item><em>None</em></gln-menu-item>
      <gln-menu-item value="mango">Mango</gln-menu-item>
      <gln-menu-item value="lemon">Lemon</gln-menu-item>
      <gln-menu-item value="orange">Orange</gln-menu-item>
      <gln-menu-item value="kiwi">Kiwi</gln-menu-item>
    </gln-select>
  </div>

  <div class="app-elem sb-elem">
    <div mb0>
      <small><em>Standard</em></small>
    </div>
    <div>
      <small>
        <em>Model: {{ model01c !== null ? model01c : 'null' }}</em>
      </small>
    </div>
    <gln-select [(ngModel)]="model01c"
      label="Fruit"
      exterior="standard"
      wdFull>
      <gln-menu-item><em>None</em></gln-menu-item>
      <gln-menu-item value="mango">Mango</gln-menu-item>
      <gln-menu-item value="lemon">Lemon</gln-menu-item>
      <gln-menu-item value="orange">Orange</gln-menu-item>
      <gln-menu-item value="kiwi">Kiwi</gln-menu-item>
    </gln-select>
  </div>

</div>

<section mr-vr>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="labelHtml">
          <code><pre source="html">
&lt;div class="app-group"&gt;

  &lt;div class="app-elem sb-elem"&gt;
    &lt;div mb0&gt;
      &lt;small&gt;&lt;em&gt;Outlined&lt;/em&gt;&lt;/small&gt;
    &lt;/div&gt;
    &lt;div&gt;
      &lt;small&gt;
        &lt;em&gt;Model: <b>&#123;</b>&#123; model01a === null ? 'null' : model01a &#125;&#125;&lt;/em&gt;
      &lt;/small&gt;
    &lt;/div&gt;
    &lt;gln-select [(ngModel)]="model01a"
      label="Fruit"
      exterior="outlined"
      wdFull&gt;
      &lt;gln-menu-item&gt;&lt;em&gt;None&lt;/em&gt;&lt;/gln-menu-item&gt;
      &lt;gln-menu-item value="mango"&gt;Mango&lt;/gln-menu-item&gt;
      &lt;gln-menu-item value="lemon"&gt;Lemon&lt;/gln-menu-item&gt;
      &lt;gln-menu-item value="orange"&gt;Orange&lt;/gln-menu-item&gt;
      &lt;gln-menu-item value="kiwi"&gt;Kiwi&lt;/gln-menu-item&gt;
    &lt;/gln-select&gt;
  &lt;/div&gt;

  &lt;div class="app-elem sb-elem"&gt;
    &lt;div mb0&gt;
      &lt;small&gt;&lt;em&gt;Underline&lt;/em&gt;&lt;/small&gt;
    &lt;/div&gt;
    &lt;div&gt;
      &lt;small&gt;
        &lt;em&gt;Model: <b>&#123;</b>&#123; model01b !== null ? model01b : 'null' &#125;&#125;&lt;/em&gt;
      &lt;/small&gt;
    &lt;/div&gt;
    &lt;gln-select [(ngModel)]="model01b"
      label="Fruit"
      exterior="underline"
      wdFull&gt;
      &lt;gln-menu-item&gt;&lt;em&gt;None&lt;/em&gt;&lt;/gln-menu-item&gt;
      &lt;gln-menu-item value="mango"&gt;Mango&lt;/gln-menu-item&gt;
      &lt;gln-menu-item value="lemon"&gt;Lemon&lt;/gln-menu-item&gt;
      &lt;gln-menu-item value="orange"&gt;Orange&lt;/gln-menu-item&gt;
      &lt;gln-menu-item value="kiwi"&gt;Kiwi&lt;/gln-menu-item&gt;
    &lt;/gln-select&gt;
  &lt;/div&gt;

  &lt;div class="app-elem sb-elem"&gt;
    &lt;div mb0&gt;
      &lt;small&gt;&lt;em&gt;Standard&lt;/em&gt;&lt;/small&gt;
    &lt;/div&gt;
    &lt;div&gt;
      &lt;small&gt;
        &lt;em&gt;Model: <b>&#123;</b>&#123; model01c !== null ? model01c : 'null' &#125;&#125;&lt;/em&gt;
      &lt;/small&gt;
    &lt;/div&gt;
    &lt;gln-select [(ngModel)]="model01c"
      label="Fruit"
      exterior="standard"
      wdFull&gt;
      &lt;gln-menu-item&gt;&lt;em&gt;None&lt;/em&gt;&lt;/gln-menu-item&gt;
      &lt;gln-menu-item value="mango"&gt;Mango&lt;/gln-menu-item&gt;
      &lt;gln-menu-item value="lemon"&gt;Lemon&lt;/gln-menu-item&gt;
      &lt;gln-menu-item value="orange"&gt;Orange&lt;/gln-menu-item&gt;
      &lt;gln-menu-item value="kiwi"&gt;Kiwi&lt;/gln-menu-item&gt;
    &lt;/gln-select&gt;
  &lt;/div&gt;

&lt;/div&gt;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelTs">
          <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';

@Component(&#123;
  selector: 'app-select',
  templateUrl: './select.component.html',
  styleUrls: ['./select.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class SelectComponent &#123;
  public model01a = null;
  public model01b = null;
  public model01c = null;
&#125;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelCss">
          <code><pre source="css">
.app-group &#123;
  display: flex;
  flex-wrap: wrap;
&#125;
.app-elem &#123;
  min-width: 26ch;
  margin: 10px 10px;
&#125;
.sb-elem &#123;
  min-width: 120px;
  width: 120px;
  margin: 10px 40px;
&#125;</pre></code>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
</section>