<section mr-vr>
  <h3>API: GlnHintOrErrorComponent</h3>
  <p>
    Selector:
    <span fw500>gln-hint-or-error</span>
  </p>
  <p>
    Exported as:
    <span fw500>glnHintOrErrorComponent</span>
  </p>
</section>

<section mr-vr>
  <h4>Properties</h4>
</section>

<table class="app-tab">
  <tbody>
    <tr>
      <th>Name</th>
      <th>Description</th>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>text: string | null = null;</code>
      </td>
      <td>
        <span>
          Text to display (hint or error).
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>isError: boolean | null = null;</code>
      </td>
      <td>
        <span>
          Flag for displaying the error state.
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>isFocused: boolean | null = null;</code>
      </td>
      <td>
        <span>
          Flag to display status when focus is received.
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>isDisabled: boolean | null = null;</code>
      </td>
      <td>
        <span>
          Flag to display status disabled.
        </span>
      </td>
    </tr>
  </tbody>
</table>


<section mr-vr>
  <h4>Css variables, optional. Override default values.</h4>
</section>
<table class="app-tab">
  <tbody>
    <tr>
      <th>Name</th>
      <th>Description</th>
    </tr>

    <tr>
      <td><code>--glnhe-def-cl: rgba(0, 0, 0, 0.6);</code></td>
      <td><span>The default color for the label.</span></td>
    </tr>
    <tr>
      <td><code>--glnhe-foc-cl: rgba(0, 0, 0, 0.87);</code></td>
      <td><span>The color of the label when getting focus.</span></td>
    </tr>
    <tr>
      <td><code>--glnhe-err-cl: #d32f2fcf;</code></td>
      <td><span>The color of the label in an error state.</span></td>
    </tr>
    <tr>
      <td><code>--glnhe-foc-err-cl: #d32f2f;</code></td>
      <td><span>The color of the label when getting focus in an error state.</span>
      </td>
    </tr>
    <tr>
      <td><code>--glnhe-dis-cl: #787878;</code></td>
      <td><span>The color of the label in the state is disabled.</span></td>
    </tr>
  </tbody>
</table>