<section mr-vr>
  <h3 class="app-hover-link">
    Config.
    <a [href]="urlCmInput + '#Config'">#</a>
  </h3>
  <p>
    If your application will have a single style for GlnInput elements, then you can set a single
    configuration.
    To do this, you need to create an object with the GlnInputConfig interface and define the
    required values.
    Next, specify the resulting object in the list of providers for the entire application (at the
    level of the AppComponent).
  </p>
  <code><pre source="ts">
const glnInputConfigDefault: GlnInputConfig = &#123;
  exterior: 'outlined',
  frameSize: 'small',
&#125;;

@Component(&#123;
  selector: 'app-root',
  templateUrl: './app.component.html',
  styleUrls: ['./app.component.scss'],
  providers: [
    &#123; provide: GLN_INPUT_CONFIG, useValue: glnInputConfigDefault &#125;
  ],
&#125;)
export class AppComponent &#123;
  title = 'demo';
&#125;</pre></code>
  <p>
    After that, all input elements based on the "GlnInput" component will have the same
    configuration.
  </p>
</section>


<section mr-vr
  id="config-input-interface">
  <h4 class="app-hover-link">
    GlnInputConfig interface.
    <a [href]="urlCmInput + '#config-input-interface'">#</a>
  </h4>
  <p>
    The GlnInputConfig interface is inherited from the GlnFrameConfig
    (<a [href]="urlCmFrame + '#config-interface'">in more detail</a>).
  </p>
</section>

<table class="app-tab">
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>

  <tr>
    <td><code>isError?: boolean;</code></td>
    <td>
      <span>
        Indicates that the element is in an error state.
        <br />(default = false;)
      </span><br />
      <span>(optional)</span>
    </td>
  </tr>
  <tr>
    <td><code>isReadOnly?: boolean;</code></td>
    <td>
      <span>
        Indicates that the element is read-only.
        <br />(default = false;)
      </span><br />
      <span>(optional)</span>
    </td>
  </tr>
  <tr>
    <td>
      <code>ornamLfAlign?: string;<br/>
      //&nbsp;GlnFrameOrnamAlignType
      </code>
    </td>
    <td>
      <span>
        This property controls the vertical alignment for the left ornament.
        <br />(default = 'default';)
        It can take the following values:
      </span>
      <ul>
        <li>"default" - defines the default</li>
        <li>"center" - defines middle alignment</li>
        <li>"flexStart" - defines top alignment</li>
        <li>"flexEnd" - defines bottom alignment</li>
        <li>"baseline" - defines baseline alignment</li>
        <li>"stretch" - stretches across the entire height</li>
      </ul>
    </td>
  </tr>
  <tr>
    <td>
      <code>ornamRgAlign?: string;<br/>
      //&nbsp;GlnFrameOrnamAlignType
      </code>
    </td>
    <td>
      <span>
        This property controls the vertical alignment of the right ornament.
        <br />(default = 'default';)
        It can take the following values:
      </span>
      <ul>
        <li>"default" - defines the default</li>
        <li>"center" - defines middle alignment</li>
        <li>"flexStart" - defines top alignment</li>
        <li>"flexEnd" - defines bottom alignment</li>
        <li>"baseline" - defines baseline alignment</li>
        <li>"stretch" - stretches across the entire height</li>
      </ul>
    </td>
  </tr>

</table>


<section mr-vr
  id="config-input-provide">
  <h4 class="app-hover-link">
    1. Configuration with "outlined" and "small".
    <a [href]="urlCmInput + '#config-input-provide'">#</a>
  </h4>
  <p>
    For example, let's prepare a configuration in which:
  </p>
  <ul>
    <li>"exterior" will have the value "outlined";</li>
    <li>"frameSize" will have the value "small" (height to 44px);</li>
  </ul>
  <code><pre source="ts">
const glnInputConfigDefault: GlnInputConfig = &#123;
  exterior: 'outlined',
  frameSize: 'small',
&#125;;</pre></code>
</section>


<section mr-vr
  id="config-input-params">
  <h4 class="app-hover-link">
    2. Configuration with "underline" and "wide".
    <a [href]="urlCmInput + '#config-input-params'">#</a>
  </h4>
  <p>
    Suppose we have a provider in our application with "GlnInputConfig" and all input elements
    accept its default values.
    We can change these values for an individual element.
    To do this, you need to specify in this element those properties that do not match the
    provider's configuration.
  </p>
  <p>
    For example, let's specify the following parameters:
  </p>
  <code><pre source="ts">
frameSize="wide"
exterior="underline"
isRequired</pre></code>
  <p>
    In other words, there is the following order of determining the configuration parameters:
  </p>
  <ul>
    <li>
      Standard values are taken.
      <code><pre source="ts">
exterior="outlined", // GlnFrameConfig
frameSize="middle",  // GlnFrameConfig
isLabelShrink=false, // GlnFrameConfig
isNoAnimation=false, // GlnFrameConfig
isNoLabel=false,     // GlnFrameConfig
isRequired=false,    // GlnFrameConfig

isError=false,
isReadOnly=false,
ornamLfAlign='default',
ornamRgAlign='default',</pre></code>
    </li>
    <li>
      Values from the default configuration provider (if there is one).
    </li>
    <li>
      Values from input parameters (if there is one).
    </li>
  </ul>
</section>


<form [formGroup]="formGroup07"
  novalidate
  autocomplete="off">

  <div class="app-group">

    <div class="app-elem">
      <div>
        <small>
          <em>1. Default config: "outlined", "medium".</em>
        </small>
      </div>
      <gln-input formControlName="model07a"
        label="Enter value"
        helperText="A value must be entered.">
      </gln-input>
    </div>

    <div class="app-elem">
      <div>
        <small>
          <em>2. exterior="underline", frameSize="wide".</em>
        </small>
      </div>
      <gln-input formControlName="model07b"
        label="Enter value"
        helperText="A value must be entered."
        frameSize="wide"
        exterior="underline"
        isRequired>
      </gln-input>
    </div>

  </div>

</form>


<section mr-vr>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="labelHtml">
          <code><pre source="html">
&lt;form [formGroup]="formGroup07"
  novalidate
  autocomplete="off"&gt;

  &lt;div class="app-group"&gt;

    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;1. Default config: "outlined", "medium".&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;gln-input formControlName="model07a"
        label="Enter value"
        helperText="A value must be entered."&gt;
      &lt;/gln-input&gt;
    &lt;/div&gt;

    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;2. exterior="underline", frameSize="wide".&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;gln-input formControlName="model07b"
        label="Enter value"
        helperText="A value must be entered."
        frameSize="wide"
        exterior="underline"
        isRequired&gt;
      &lt;/gln-input&gt;
    &lt;/div&gt;

  &lt;/div&gt;

&lt;/form&gt;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelTs">
          <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';
import &#123;
  FormControl, FormGroup
&#125; from '@angular/forms';
import &#123;
  GlnInputConfig, GLN_INPUT_CONFIG
&#125; from 'gelenium-ui';

const glnInputConfigDefault: GlnInputConfig = &#123;
  exterior: 'outlined',
  frameSize: 'small',
&#125;;

@Component(&#123;
  selector: 'app-input',
  templateUrl: './input.component.html',
  styleUrls: ['./input.component.scss'],
  encapsulation: ViewEncapsulation.None,
  providers: [&#123;
    provide: GLN_INPUT_CONFIG, useValue: glnInputConfigDefault
  &#125;],
&#125;)
export class InputComponent &#123;
  public formGroup07: FormGroup = new FormGroup(&#123;
    model07a: new FormControl('', []),
    model07b: new FormControl('Hello World', []),
  &#125;);
&#125;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelCss">
          <code><pre source="css">
app-input &#123;
  .app-group &#123;
    display: flex;
    flex-wrap: wrap;
  &#125;
  .app-elem &#123;
    min-width: 26ch;
    margin: 10px 10px;
  &#125;
&#125;</pre></code>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
</section>