<section mr-vr>
  <h3 class="app-hover-link">
    API: GlnSelect.
    <a [href]="urlCmSelect + '#Api'">#</a>
  </h3>
  <p>
    Selector:
    <span fw500>gln-select</span>
  </p>
  <p>
    Exported as:
    <span fw500>glnSelect</span>
  </p>
</section>


<section mr-vr
  id="api-properties">
  <h4 class="app-hover-link">
    Properties.
    <a [href]="urlCmSelect + '#api-properties'">#</a>
  </h4>
</section>

<table class="app-tab">
  <thead>
    <tr>
      <th class="app-mn-wd-22ch">Name</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <code>@Input()</code>
        <code>id: string;</code>
      </td>
      <td>
        <span>
          ID of the native element.<br />(default = `glnsl-$&#123;uniqueIdCounter++&#125;`;)
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>config: GlnFrameConfig<br/>
          &nbsp;&nbsp;| null<br/>
          &nbsp;&nbsp;| undefined;</code>
      </td>
      <td>
        <span>Defines a configuration object.</span><br />
        <a [href]="urlCmSelect + '#config-interface'">More details.</a>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>exterior: string<br/>
          &nbsp;&nbsp;| null<br/>
          &nbsp;&nbsp;| undefined;</code>
      </td>
      <td>
        <span>
          Determines the appearance of an element.<br />
          It can take the following values:
        </span>
        <ul>
          <li>"outlined" (default);</li>
          <li>"underline";</li>
          <li>"standard";</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>helperText: string<br/>
          &nbsp;&nbsp;| null<br/>
          &nbsp;&nbsp;| undefined;</code>
      </td>
      <td>
        <span>
          Specifies the text for additional clarification or error.
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>isCheckmark: string<br/>
          &nbsp;&nbsp;| boolean<br/>
          &nbsp;&nbsp;| null<br/>
          &nbsp;&nbsp;| undefined;</code>
      </td>
      <td>
        <span>
          Flag for displaying a "checkbox" for each option.
          (only for isMultiple)<br />
          Attribute (no content).
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>isDisabled: string<br/>
          &nbsp;&nbsp;| boolean<br/>
          &nbsp;&nbsp;| null<br/>
          &nbsp;&nbsp;| undefined;</code>
      </td>
      <td>
        <span>
          Indicates that the element is disabled.<br />
          (default = false;) Attribute (no content).
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>isError: string<br/>
          &nbsp;&nbsp;| boolean<br/>
          &nbsp;&nbsp;| null<br/>
          &nbsp;&nbsp;| undefined;</code>
      </td>
      <td>
        <span>
          Indicates that the element is in an error state.<br />
          (default = false;) Attribute (no content).
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>isLabelShrink: string<br/>
          &nbsp;&nbsp;| boolean<br/>
          &nbsp;&nbsp;| null<br/>
          &nbsp;&nbsp;| undefined;</code>
      </td>
      <td>
        <span>
          Indication that the label has shrunk and moved up.<br />
          (default = false;) Attribute (no content).
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>isMaxWd: string<br/>
          &nbsp;&nbsp;| boolean<br/>
          &nbsp;&nbsp;| null<br/>
          &nbsp;&nbsp;| undefined;</code>
      </td>
      <td>
        <span>
          Flag for setting the maximum width when expanding the drop-down list of options.
          <br />
          Without this setting, the maximum width of the options panel is determined by its
          content.
          <br />
          The value of the minimum width of the options panel is always equal to the width
          of the parent.
          <br />
          (default = false;) Attribute (no content).
          <br />
          Also, the minimum/maximum width of the options panel can be set via css parameters:
          '--glnslpo-min-width', '--glnslpo-max-width'.
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>isMultiple: string<br/>
          &nbsp;&nbsp;| boolean<br/>
          &nbsp;&nbsp;| null<br/>
          &nbsp;&nbsp;| undefined;</code>
      </td>
      <td>
        <span>
          Sign of multiple choice of options.<br />
          (default = false;) Attribute (no content).
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>isNoAnimation: string<br/>
          &nbsp;&nbsp;| boolean<br/>
          &nbsp;&nbsp;| null<br/>
          &nbsp;&nbsp;| undefined;</code>
      </td>
      <td>
        <span>
          Indicates that animation is disabled.<br />
          (default = false;) Attribute (no content).
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>isNoIcon: string<br/>
          &nbsp;&nbsp;| boolean<br/>
          &nbsp;&nbsp;| null<br/>
          &nbsp;&nbsp;| undefined;</code>
      </td>
      <td>
        <span>
          Disable the display of the icon - the status of the state of the open list.<br />
          (default = false;) Attribute (no content).
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>isNoRipple: string<br/>
          &nbsp;&nbsp;| boolean<br/>
          &nbsp;&nbsp;| null<br/>
          &nbsp;&nbsp;| undefined;</code>
      </td>
      <td>
        <span>
          Flag for disabling the ripple effect.<br />
          (default = false;) Attribute (no content).
        </span><br />
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>isPlaceholder: string<br/>
          &nbsp;&nbsp;| boolean<br/>
          &nbsp;&nbsp;| null<br/>
          &nbsp;&nbsp;| undefined;</code>
      </td>
      <td>
        <span>
          Specifies that the value of the "label" field be displayed
          as the "placeholder" attribute for the "input" element.<br />
          (default = false;) Attribute (no content).
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>isReadOnly: string<br/>
          &nbsp;&nbsp;| boolean<br/>
          &nbsp;&nbsp;| null<br/>
          &nbsp;&nbsp;| undefined;</code>
      </td>
      <td>
        <span>
          Indicates that the element is read-only.<br />
          (default = false;) Attribute (no content).
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>isRequired: string<br/>
          &nbsp;&nbsp;| boolean<br/>
          &nbsp;&nbsp;| null<br/>
          &nbsp;&nbsp;| undefined;</code>
      </td>
      <td>
        <span>
          Indicates that the field is required.<br />
          (default = false;) Attribute (no content).
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>label: string<br/>
          &nbsp;&nbsp;| null<br/>
          &nbsp;&nbsp;| undefined;</code>
      </td>
      <td>
        <span>
          Specifies the content of the label.
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>maxLength: number<br/>
          &nbsp;&nbsp;| null<br/>
          &nbsp;&nbsp;| undefined;</code>
      </td>
      <td>
        <span>
          Specifies the maximum number of selected options.<br />
          (default = null;)
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>minLength: number<br/>
          &nbsp;&nbsp;| null<br/>
          &nbsp;&nbsp;| undefined;</code>
      </td>
      <td>
        <span>
          Specifies the minimum number of selected options.<br />
          (default = null;)
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>ornamLfAlign: string<br/>
          &nbsp;&nbsp;| null<br/>
          &nbsp;&nbsp;| undefined;</code>
      </td>
      <td>
        <span>
          This property controls the vertical alignment for the left ornament.
          <br />(default = 'default';)
          It can take the following values:
        </span>
        <ul>
          <li>"default" - defines the default</li>
          <li>"center" - defines middle alignment</li>
          <li>"flexStart" - defines top alignment</li>
          <li>"flexEnd" - defines bottom alignment</li>
          <li>"baseline" - defines baseline alignment</li>
          <li>"stretch" - stretches across the entire height</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>ornamRgAlign: string<br/>
          &nbsp;&nbsp;| null<br/>
          &nbsp;&nbsp;| undefined;</code>
      </td>
      <td>
        <span>
          This property controls the vertical alignment of the right ornament.
          <br />(default = 'default';)
          It can take the following values:
        </span>
        <ul>
          <li>"default" - defines the default</li>
          <li>"center" - defines middle alignment</li>
          <li>"flexStart" - defines top alignment</li>
          <li>"flexEnd" - defines bottom alignment</li>
          <li>"baseline" - defines baseline alignment</li>
          <li>"stretch" - stretches across the entire height</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>panelClass: string<br/>
          &nbsp;&nbsp;| string[]<br/>
          &nbsp;&nbsp;| Set&lt;string&gt;<br/>
          &nbsp;&nbsp;| &#123; [key: string]: unknown &#125;<br/>
          = ''</code>
      </td>
      <td>
        <span>
          Classes to be passed to the select panel. Supports the same syntax as 'ngClass'.<br />
          (default = '';)
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>position: string<br/>
          &nbsp;&nbsp;| null<br/>
          &nbsp;&nbsp;| undefined;</code>
      </td>
      <td>
        <span>
          Specifies how to horizontally align the options list panel.
        </span>
        <ul>
          <li>'start' - align to the left of the main element; (default)</li>
          <li>'center' - align to the center of the main element;</li>
          <li>'end' - align to the right side of the main element;</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>size: number<br/>
          &nbsp;&nbsp;| string<br/>
          &nbsp;&nbsp;| null<br/>
          &nbsp;&nbsp;| undefined;</code>
      </td>
      <td>
        <span>Determines the size of the element.<br />
          It can take the following values:
        </span>
        <ul>
          <li>"short" - height: 38px;</li>
          <li>"small" - height: 44px;</li>
          <li>"middle" - height: 50px (default);</li>
          <li>"wide" - height: 56px;</li>
          <li>"large" - height: 62px;</li>
          <li>"huge" - height: 68px;</li>
        </ul>
        <span>
          This property can also contain the element's height in pixels, either as a string
          or as a number.<br />
          The value in the units of "pixels" allow you to accurately calculate the size of
          internal elements.<br />
          For example: <code>size="57" or [size]="57"</code>
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>visibleSize: number;</code>
      </td>
      <td>
        <span>
          Specifies the maximum number of visible option elements.
          This value is multiplied by the height of the option and defines the
          maximum height of the options panel.
          <br />
          If multiple option elements have the smallest height, then that will be the
          height of the option element.
          <br />(default = -1;)
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>tabIndex: number;</code>
      </td>
      <td>
        <span>Indicates that its element can be focused.
          <br />(default = 0;)
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>wdFull: string<br/>
          &nbsp;&nbsp;| null<br/>
          &nbsp;&nbsp;| undefined;</code>
      </td>
      <td>
        <span>
          Sets the width to the parent's width (width: 100%;).
          <br />Attribute (no content).
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>value: unknown<br/>
          &nbsp;&nbsp;| unknown[]<br/>
          &nbsp;&nbsp;| null;</code>
      </td>
      <td>
        <span>
          Specifies the value of an element.
        </span>
      </td>
    </tr>

    <tr>
      <td>
        <code>@Output()</code>
        <code>focused: EventEmitter&lt;void&gt;;</code>
      </td>
      <td>
        <span>Fires when the element receives input focus.</span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Output()</code>
        <code>blured: EventEmitter&lt;void&gt;;</code>
      </td>
      <td>
        <span>Fires when an element loses input focus.</span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Output()</code>
        <code>opened: EventEmitter&lt;void&gt;;</code>
      </td>
      <td>
        <span>Fires when the selection panel opens.</span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Output()</code>
        <code>closed: EventEmitter&lt;void&gt;;</code>
      </td>
      <td>
        <span>Fires when the selection panel closes.</span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Output()</code>
        <code>selected: EventEmitter&lt;&#123;<br/>
          &nbsp;value: unknown | null;<br/>
          &nbsp;values: unknown[];<br/>
          &nbsp;change: GlnSelectionChange<br/>
          &nbsp;&lt;GlnOptionComponent&gt;<br/>
          &#125;&gt;;
        </code>
      </td>
      <td>
        <span>
          Fires when an option is selected/deselected.<br />
          For single mode, the currently selected option
          is the "value" parameter.<br />
          For multiple mode, the currently selected options are
          the "values" parameter.<br />
          The "change" parameter contains a list of added and removed options.
        </span>
      </td>
    </tr>
  </tbody>
</table>


<section mr-vr
  id="api-methods">
  <h4 class="app-hover-link">
    Methods
    <a [href]="urlCmSelect + '#api-methods'">#</a>
  </h4>
</section>

<table class="app-tab">
  <thead>
    <th colspan="2">
      <span fw500>focus(): void;</span>
    </th>
  </thead>
  <tbody>
    <tr colspan="2">
      <td>
        This element is given input focus.
      </td>
    </tr>
  </tbody>
</table>

<hr br-nn />

<table class="app-tab">
  <thead>
    <th colspan="2">
      <span fw500>toggle(): void;</span>
    </th>
  </thead>
  <tbody>
    <tr colspan="2">
      <td>
        Closes an open overlay panel and opens a closed one.
      </td>
    </tr>
  </tbody>
</table>

<hr br-nn />

<table class="app-tab">
  <thead>
    <th colspan="2">
      <span fw500>open(): void;</span>
    </th>
  </thead>
  <tbody>
    <tr colspan="2">
      <td>
        Opens the overlay panel.
      </td>
    </tr>
  </tbody>
</table>

<hr br-nn />

<table class="app-tab">
  <thead>
    <th colspan="2">
      <span fw500>close(): void;</span>
    </th>
  </thead>
  <tbody>
    <tr colspan="2">
      <td>
        Closes the overlay panel.
      </td>
    </tr>
  </tbody>
</table>

<hr br-nn />

<table class="app-tab">
  <thead>
    <th colspan="2">
      <span fw500>addOption(option: GlnOptionComponent | null): void;</span>
    </th>
  </thead>
  <tbody>
    <tr colspan="2">
      <td>
        Add the GlnOptionComponent element to the selection list.
      </td>
    </tr>
  </tbody>
</table>
<table class="app-tab">
  <thead>
    <th colspan="2">
      <code>Parameters</code>
    </th>
  </thead>
  <tbody>
    <tr>
      <td>
        <code>option:<br/>
          &nbsp;&nbsp;GlnOptionComponent<br/>
          &nbsp;&nbsp;| null;</code>
      </td>
      <td>
        The GlnOptionComponent element.
      </td>
    </tr>
  </tbody>
</table>

<hr br-nn />

<table class="app-tab">
  <thead>
    <th colspan="2">
      <span fw500>deleteOption(option: GlnOptionComponent | null): void;</span>
    </th>
  </thead>
  <tbody>
    <tr colspan="2">
      <td>
        Remove the GlnOptionComponent element from the selected list.
      </td>
    </tr>
  </tbody>
</table>
<table class="app-tab">
  <thead>
    <th colspan="2">
      <code>Parameters</code>
    </th>
  </thead>
  <tbody>
    <tr>
      <td>
        <code>option:<br/>
          &nbsp;&nbsp;GlnOptionComponent<br/>
          &nbsp;&nbsp;| null;</code>
      </td>
      <td>
        The GlnOptionComponent element.
      </td>
    </tr>
  </tbody>
</table>

<hr br-nn />


<section mr-vr
  id="api-css-variables-optional">
  <h4 class="app-hover-link">
    Css variables, optional. You can override the default values.
    <a [href]="urlCmSelect + '#api-css-variables-optional'">#</a>
  </h4>
</section>

<table class="app-tab">
  <thead>
    <tr>
      <th class="app-mn-wd-22ch">Name</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><code>--glnsl-min-width:<br/>
      &nbsp;50px;</code>
      </td>
      <td>
        <span>
          The value of the "min-width" property.
        </span>
      </td>
    </tr>
    <tr>
      <td><code>--glnsl-def-rhomb:<br/>
      hsl(--gln-primary-[h,s], 45%);</code>
      </td>
      <td>
        <span>
          The color of the triangle is the state of the list (open/closed) by default.
          <br />
          (hsl(215, 80%, 45%);)
        </span>
      </td>
    </tr>
    <tr>
      <td><code>--glnsl-hov-rhomb:<br/>
      hsl(--gln-primary-[h,s], 40%);</code>
      </td>
      <td>
        <span>
          The color of the triangle is the state of the list (open/closed)
          when hovering over with the mouse.
          <br />
          (hsl(215, 80%, 40%);)
        </span>
      </td>
    </tr>
    <tr>
      <td><code>--glnsl-foc-rhomb:<br/>
      hsl(--gln-primary-[h,s], 50%);</code>
      </td>
      <td>
        <span>
          The color of the triangle is the state of the list (open/closed)
          when focus is received.
          <br />
          (hsl(215, 80%, 50%);)
        </span>
      </td>
    </tr>
    <tr>
      <td><code>--glnsl-def-err-rhomb:<br/>
      hsl(--gln-danger-[h,s], 45%);</code>
      </td>
      <td>
        <span>
          The color of the triangle is the state of the list (open/closed)
          by default in case of an error.
          <br />
          (hsl(5, 85%, 45%);)
        </span>
      </td>
    </tr>
    <tr>
      <td><code>--glnsl-hov-err-rhomb:<br/>
      hsl(--gln-danger-[h,s], 40%);</code>
      </td>
      <td>
        <span>
          The color of the triangle is the state of the list (open/closed)
          when hovering over with the mouse in case of an error.
          <br />
          (hsl(5, 85%, 40%);)
        </span>
      </td>
    </tr>
    <tr>
      <td><code>--glnsl-foc-err-rhomb:<br/>
      hsl(--gln-danger-[h,s], 50%);</code>
      </td>
      <td>
        <span>
          The color of the triangle is the state of the list (open/closed)
          when focus is received in case of an error.
          <br />
          (hsl(5, 85%, 50%);)
        </span>
      </td>
    </tr>
    <tr>
      <td><code>--glnsl-dis-rhomb:<br/>
      hsl(--gln-default-[h,s], 60%);</code>
      </td>
      <td>
        <span>
          The color of the triangle is the state of the list (open/closed)
          when disabled.
          <br />
          (hsl(250, 2%, 60%);)
        </span>
      </td>
    </tr>

    <tr>
      <td><code>--glnsl-plc-hld:<br/>
      hsl(--gln-default-[h,s], 55%);</code>
      </td>
      <td>
        <span>
          The value of the "color" property for the "placeholder" element.
          <br />
          (hsl(250, 2%, 55%);)
        </span>
      </td>
    </tr>

    <tr>
      <td><code>--glnsl-he-pd-lf:<br/>
      &nbsp;var(--glnfrs--pd-lf);</code>
      </td>
      <td>
        <span>
          The value of the "padding-left" property for the GlnHintOrError component.
        </span>
      </td>
    </tr>
    <tr>
      <td><code>--glnsl-he-pd-rg:<br/>
      &nbsp;var(--glnfrs--pd-rg);</code>
      </td>
      <td>
        <span>
          The value of the "padding-right" property for the GlnHintOrError component.
        </span>
      </td>
    </tr>
    <tr>
      <td><code>--glnslpw-def-bg-cl:<br/>
      var(--gln-default-bg-cl);</code>
      </td>
      <td>
        <span>
          The value of the "background-color" property for the
          "gln-select-panel-wrap" element.
        </span>
      </td>
    </tr>
    <tr>
      <td><code>--glnslpw-def-cl:<br/>
      hsl(--gln-default-[h,s], 17%);</code>
      </td>
      <td>
        <span>
          The value of the "color" property for the "gln-select-panel-wrap" element.<br />
          (hsl(250, 2%, 17%);)
        </span>
      </td>
    </tr>
    <tr>
      <td><code>--glnslpo-elevation: undefined;</code>
      </td>
      <td>
        <span>
          To block the display of a shadow, you must specify "--glnslpo-elevation: none;".
        </span><br />
        <span>Example:</span>
        <code><pre source="html">
&lt;gln-select <strong>panelClass="app-no-elevation"</strong>&gt;
  ...
&lt;/gln-select&gt;</pre></code>
        <code><pre source="css">
.cdk-overlay-container .gln-select-panel.<strong>app-no-elevation</strong> &#123;
  <strong>--glnslpo-elevation</strong>: none;
&#125;</pre></code>
      </td>
    </tr>
    <tr>
      <td>
        <code>--glnslpo-border-radius:<br/>
      &nbsp;(size / 10) + 'px';</code>
      </td>
      <td>
        <span>
          Defines the value of the "border-radius" property for the overlay panel
          (expanded list of options).
          This will make rounded edges for the options dropdown panel.<br />
          (default "(size / 10) + 'px'").
        </span>
        <span>Example:</span>
        <code><pre source="html">
&lt;gln-select <strong>panelClass="app-border-radius"</strong>&gt;
  ...
&lt;/gln-select&gt;</pre></code>
        <code><pre source="css">
.cdk-overlay-container .gln-select-panel.<strong>app-border-radius</strong> &#123;
  <strong>--glnslpo-border-radius</strong>: 10px;
&#125;</pre></code>
      </td>
    </tr>
    <tr>
      <td>
        <code>--glnslpo-max-height:<br/>
      &nbsp;80vh;</code>
      </td>
      <td>
        <span>
          Defines the value of the "max-height" property for the overlay panel
          (expanded list of options).<br />
          (default 80vh).
        </span>
        <span>Example:</span>
        <code><pre source="html">
&lt;gln-select <strong>panelClass="app-max-height"</strong>&gt;
  ...
&lt;/gln-select&gt;</pre></code>
        <code><pre source="css">
.cdk-overlay-container .gln-select-panel.<strong>app-max-height</strong> &#123;
  <strong>--glnslpo-max-height</strong>: 180px;
&#125;</pre></code>
      </td>
    </tr>
  </tbody>
</table>


<hr br-nn />

<section mr-vr
  id="api-css-variables-gln-frame">
  <h4 class="app-hover-link">
    Css variables from GlnFrame.
    <a [href]="urlCmSelect + '#api-css-variables-gln-frame'">#</a>
  </h4>
  <p>
    You can also use CSS variables at the
    GlnFrame component level
    <a [href]="urlCmFrame + '#api-css-variables-optional'">GlnFrame#api-css-variables-optional</a>.
    But remember that new css variables must be defined at the GlnFrame level.
  </p>
  <span>For example:</span>
  <pre source="css">
.ip-bootstrap <strong>.gln-frame</strong> &#123;
  // Hover styles match the default styles.
  --glnfr-hov-lb-cl: var(--glnfr--lb-cl-def);
  --glnfr-hov-br-cl: var(--glnfr--br-cl-def);
  // Blocking frame resizing when hovering the mouse for "Outlined" mode.
  --glnfr-hov-dcr-br-wd: unset;
  // Blocking frame resizing when receiving focus for "Outlined" mode.
  --glnfr-foc-dcr-br-wd: unset;
&#125;</pre>
</section>

<hr br-nn />

<section mr-vr
  id="api-providers">
  <h4 class="app-hover-link">
    Providers.
    <a [href]="urlCmSelect + '#api-providers'">#</a>
  </h4>
  <p>
    For "GlnSelect" it is possible to change the scroll behavior.
    To do this, you need to define your provider with the name "GLN_SELECT_SCROLL_STRATEGY".
  </p>
  <span>Here is an example of usage</span>
  <code><pre source="ts">
export function GLN_SELECT_SCROLL_STRATEGY_PROVIDER_BLOCK_FACTORY(
  overlay: Overlay
): () => ScrollStrategy &#123;
  return () => overlay.scrollStrategies.block();
&#125;

export const GLN_SELECT_SCROLL_STRATEGY_PROVIDER_BLOCK = &#123;
  provide: <strong>GLN_SELECT_SCROLL_STRATEGY</strong>,
  deps: [Overlay],
  useFactory: GLN_SELECT_SCROLL_STRATEGY_PROVIDER_BLOCK_FACTORY,
&#125;;

@NgModule(&#123;
  declarations: [AppComponent],
  imports: [BrowserModule, BrowserAnimationsModule, ...],
  bootstrap: [AppComponent],
  providers: [GLN_SELECT_SCROLL_STRATEGY_PROVIDER_BLOCK],
&#125;)
export class AppModule &#123;&#125;</pre></code>
  <p>
    After that, all "GlnSelect" components will have the same scroll behavior.
  </p>
</section>

<hr br-nn />

<section mr-vr
  id="api-remarks">
  <h4 class="app-hover-link">
    Remarks.
    <a [href]="urlCmSelect + '#api-remarks'">#</a>
  </h4>
  <p>
    We recommend using "formControlName" and NOT using "[(ngModel)]" (at least in production).
    For angular 14, there was still an issue with the second call to the
    ControlValueAccessor writeValue method when using [(ngModel)].
    <br />
    <a href="https://github.com/angular/angular/issues/14988">
      ValueAccessor.writeValue is being called twice, first time with a phantom null value
    </a>
  </p>
</section>