<section mr-vr>
  <h3>API: GrnRegexRemove</h3>
  <p>
    Selector:
    <span fw500>grn-regex-remove</span>
  </p>
  <p>
    Exported as:
    <span fw500>grnRegexRemove</span>
  </p>
  <p>
    When changing the value, the directive deletes the data that matches the specified regular
    expression.
  </p>
</section>

<section mr-vr>
  <h4>Properties</h4>
</section>

<table class="app-tab">
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>

  <tr>
    <td>
      <code>@Input()</code>
      <code>grnRegexRemove: string | null;</code>
    </td>
    <td>
      <span>Regular expression for entering numbers only.</span>
      <ul>
        <li><code>grnRegexRemove="/[^\d]/gm"</code></li>
        <li><code>[grnRegexRemove]="'/[^\\d]/gm'"</code></li>
      </ul>
    </td>
  </tr>
</table>