<section mr-vr>
  <h3>Border radius.</h3>
  <p>
    The GlnButton component has the ability to change the "border-radius" css property.
    This requires creating a css variable "--glnb-br-rd" at the level of the component
    or any parent element.
    The value of this css variable can be any valid (as described by
    <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/border-radius">
      "border-radius"
    </a>) value.
  </p>
  <p>
    You can also change the value of the left / right indents, for a more convenient perception.
  </p>
</section>

<section mr-vr>
  <span>exterior: </span>
  <mat-button-toggle-group value="exterior04a"
    (change)="exterior04a=$event.value">
    <mat-button-toggle [checked]="exterior04a==='contained'"
      value="contained">{{ labelContained }}</mat-button-toggle>
    <mat-button-toggle [checked]="exterior04a==='outlined'"
      value="outlined">{{ labelOutlined }}</mat-button-toggle>
    <mat-button-toggle [checked]="exterior04a==='text'"
      value="text">{{ labelText }}</mat-button-toggle>
  </mat-button-toggle-group>
</section>

<section mr-vr
  class="bbr-slider-box">
  <p>
    <span>
      border-radius = ( BaseSize * <b class="bbr-slider-value">{{ borderRadius }}</b>/100)
    </span>
  </p>
  <input type="range"
    class="bbr-border-radius-marks"
    min="0"
    max="50"
    step="5"
    list="border-radius-marks"
    [(ngModel)]="borderRadius" />
  <datalist id="border-radius-marks">
    <option value="0"></option>
    <option value="5"></option>
    <option value="10"></option>
    <option value="15"></option>
    <option value="20"></option>
    <option value="25"></option>
    <option value="30"></option>
    <option value="35"></option>
    <option value="40"></option>
    <option value="45"></option>
    <option value="50"></option>
  </datalist>
</section>

<section mr-vr>
  <label>
    <input type="checkbox"
      (change)="isAddPadding04a=!isAddPadding04a"
      [checked]="isAddPadding04a" />
    Add padding ( BaseSize * {{ labelPdRatio }})
  </label>
</section>


<div class="app-group">
  <div [attr.id]="fragment04a">
    <small><em>"Short" height: 38px; font-size: 16px;</em></small>
  </div>
</div>

<div class="app-group"
  [attr.style]="propRadius + ':'
    + round(getValue(sizeShort) * borderRadius / 100) + 'px'">
  <div class="app-elem">
    <gln-button [exterior]="exterior04a"
      [config]="isAddPadding04a
        ? getConfig(round(getValue(sizeShort) * labelPdRatio)) : null"
      [frameSize]="sizeShort">
      <span>{{ getLabel(exterior04a) }}</span>
    </gln-button>
  </div>

  <div class="app-elem">
    <gln-button [exterior]="exterior04a"
      [config]="isAddPadding04a
        ? getConfig(round(getValue(sizeShort) * labelPdRatio)) : null"
      [frameSize]="sizeShort">
      <a [routerLink]="[routerLink]"
        [fragment]="fragment04a">
        <span>{{ getLabel(exterior04a) }} Link</span>
      </a>
    </gln-button>
  </div>
</div>

<section mr-vr2>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="labelHtml">
          <code><pre source="html">
&lt;div class="app-group"
  [attr.style]="propRadius + ':'
    + round(getValue(sizeShort) * borderRadius / 100) + 'px'"&gt;
  &lt;div class="app-elem"&gt;
    &lt;gln-button [exterior]="exterior04a"
      [config]="isAddPadding04a
        ? getConfig(round(getValue(sizeShort) * labelPdRatio)) : null"
      [frameSize]="sizeShort"&gt;
      &lt;span&gt;<b>&#123;</b>&#123; getLabel(exterior04a) &#125;&#125;&lt;/span&gt;
    &lt;/gln-button&gt;
  &lt;/div&gt;

  &lt;div class="app-elem"&gt;
    &lt;gln-button [exterior]="exterior04a"
      [config]="isAddPadding04a
        ? getConfig(round(getValue(sizeShort) * labelPdRatio)) : null"
      [frameSize]="sizeShort"&gt;
      &lt;a [routerLink]="[routerLink]"
        [fragment]="fragment04a"&gt;
        &lt;span&gt;<b>&#123;</b>&#123; getLabel(exterior04a) &#125;&#125; Link&lt;/span&gt;
      &lt;/a&gt;
    &lt;/gln-button&gt;
  &lt;/div&gt;
&lt;/div&gt;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelTs">
          <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';

@Component(&#123;
  selector: 'app-button',
  templateUrl: './button.component.html',
  styleUrls: ['./button.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class ButtonComponent &#123;
  public exterior04a = 'outlined';
  public routerLink = '/components/button';
  public fragment04a = 'size-link4a';
  public borderRadius = 50;
  public propRadius = '--glnb-br-rd';
  public isAddPadding04a = true;
  public labelPdRatio = 0.4;

  public sizeShort = GlnFrameSize.short;

  public getLabel(exterior: string): string &#123;
    return exterior ?
      exterior.substring(0, 1).toUpperCase() + exterior.substring(1) : '';
  &#125;
  public getValue(value: GlnFrameSize): number &#123;
    return GlnFrameSizeUtil.getValue(value) || 0;
  &#125;
  public round(value: number): number &#123;
    return Math.round(100 * value) / 100;
  &#125;
  public getConfig(labelPd: number): GlnButtonConfig &#123;
    return &#123; labelPd &#125;;
  &#125;
&#125;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelCss">
          <code><pre source="css">
.app-group &#123;
  display: flex;
  flex-wrap: wrap;
&#125;
.app-elem &#123;
  min-width: 26ch;
  margin: 10px 10px;
&#125;</pre></code>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
</section>


<div class="app-group">
  <div [attr.id]="fragment04b">
    <small><em>"Small" height: 44px; font-size: 16px;</em></small>
  </div>
</div>

<div class="app-group"
  [attr.style]="propRadius + ':'
    + round(getValue(sizeSmall) * borderRadius / 100) + 'px'">
  <div class="app-elem">
    <gln-button [exterior]="exterior04a"
      [config]="isAddPadding04a
        ? getConfig(round(getValue(sizeSmall) * labelPdRatio)) : null"
      [frameSize]="sizeSmall">
      <span>{{ getLabel(exterior04a) }}</span>
    </gln-button>
  </div>

  <div class="app-elem">
    <gln-button [exterior]="exterior04a"
      [config]="isAddPadding04a
        ? getConfig(round(getValue(sizeSmall) * labelPdRatio)) : null"
      [frameSize]="sizeSmall">
      <a [routerLink]="[routerLink]"
        [fragment]="fragment04b">
        <span>{{ getLabel(exterior04a) }} Link</span>
      </a>
    </gln-button>
  </div>
</div>

<section mr-vr2>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="labelHtml">
          <code><pre source="html">
&lt;div class="app-group"
  [attr.style]="propRadius + ':'
    + round(getValue(sizeSmall) * borderRadius / 100) + 'px'"&gt;
  &lt;div class="app-elem"&gt;
    &lt;gln-button [exterior]="exterior04a"
      [config]="isAddPadding04a
        ? getConfig(round(getValue(sizeSmall) * labelPdRatio)) : null"
      [frameSize]="sizeSmall"&gt;
      &lt;span&gt;<b>&#123;</b>&#123; getLabel(exterior04a) &#125;&#125;&lt;/span&gt;
    &lt;/gln-button&gt;
  &lt;/div&gt;

  &lt;div class="app-elem"&gt;
    &lt;gln-button [exterior]="exterior04a"
      [config]="isAddPadding04a
        ? getConfig(round(getValue(sizeSmall) * labelPdRatio)) : null"
      [frameSize]="sizeSmall"&gt;
      &lt;a [routerLink]="[routerLink]"
        [fragment]="fragment04b"&gt;
        &lt;span&gt;<b>&#123;</b>&#123; getLabel(exterior04a) &#125;&#125; Link&lt;/span&gt;
      &lt;/a&gt;
    &lt;/gln-button&gt;
  &lt;/div&gt;
&lt;/div&gt;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelTs">
          <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';

@Component(&#123;
  selector: 'app-button',
  templateUrl: './button.component.html',
  styleUrls: ['./button.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class ButtonComponent &#123;
  public exterior04a = 'outlined';
  public routerLink = '/components/button';
  public fragment04b = 'size-link4b';
  public borderRadius = 50;
  public propRadius = '--glnb-br-rd';
  public isAddPadding04a = true;
  public labelPdRatio = 0.4;

  public sizeSmall = GlnFrameSize.small;

  public getLabel(exterior: string): string &#123;
    return exterior ?
      exterior.substring(0, 1).toUpperCase() + exterior.substring(1) : '';
  &#125;
  public getValue(value: GlnFrameSize): number &#123;
    return GlnFrameSizeUtil.getValue(value) || 0;
  &#125;
  public round(value: number): number &#123;
    return Math.round(100 * value) / 100;
  &#125;
  public getConfig(labelPd: number): GlnButtonConfig &#123;
    return &#123; labelPd &#125;;
  &#125;
&#125;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelCss">
          <code><pre source="css">
.app-group &#123;
  display: flex;
  flex-wrap: wrap;
&#125;
.app-elem &#123;
  min-width: 26ch;
  margin: 10px 10px;
&#125;</pre></code>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
</section>


<div class="app-group">
  <div [attr.id]="fragment04c">
    <small><em>"Middle" height: 50px; font-size: 16px;</em></small>
  </div>
</div>

<div class="app-group"
  [attr.style]="propRadius + ':'
    + round(getValue(sizeMiddle) * borderRadius / 100) + 'px'">
  <div class="app-elem">
    <gln-button [exterior]="exterior04a"
      [config]="isAddPadding04a
        ? getConfig(round(getValue(sizeMiddle) * labelPdRatio)) : null"
      [frameSize]="sizeMiddle">
      <span>{{ getLabel(exterior04a) }}</span>
    </gln-button>
  </div>

  <div class="app-elem">
    <gln-button [exterior]="exterior04a"
      [config]="isAddPadding04a
        ? getConfig(round(getValue(sizeMiddle) * labelPdRatio)) : null"
      [frameSize]="sizeMiddle">
      <a [routerLink]="[routerLink]"
        [fragment]="fragment04c">
        <span>{{ getLabel(exterior04a) }} Link</span>
      </a>
    </gln-button>
  </div>
</div>

<section mr-vr2>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="labelHtml">
          <code><pre source="html">
&lt;div class="app-group"
  [attr.style]="propRadius + ':'
    + round(getValue(sizeMiddle) * borderRadius / 100) + 'px'"&gt;
  &lt;div class="app-elem"&gt;
    &lt;gln-button [exterior]="exterior04a"
      [config]="isAddPadding04a
        ? getConfig(round(getValue(sizeMiddle) * labelPdRatio)) : null"
      [frameSize]="sizeMiddle"&gt;
      &lt;span&gt;<b>&#123;</b>&#123; getLabel(exterior04a) &#125;&#125;&lt;/span&gt;
    &lt;/gln-button&gt;
  &lt;/div&gt;

  &lt;div class="app-elem"&gt;
    &lt;gln-button [exterior]="exterior04a"
      [config]="isAddPadding04a
        ? getConfig(round(getValue(sizeMiddle) * labelPdRatio)) : null"
      [frameSize]="sizeMiddle"&gt;
      &lt;a [routerLink]="[routerLink]"
        [fragment]="fragment04c"&gt;
        &lt;span&gt;<b>&#123;</b>&#123; getLabel(exterior04a) &#125;&#125; Link&lt;/span&gt;
      &lt;/a&gt;
    &lt;/gln-button&gt;
  &lt;/div&gt;
&lt;/div&gt;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelTs">
          <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';

@Component(&#123;
  selector: 'app-button',
  templateUrl: './button.component.html',
  styleUrls: ['./button.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class ButtonComponent &#123;
  public exterior04a = 'outlined';
  public routerLink = '/components/button';
  public fragment04c = 'size-link4c';
  public borderRadius = 50;
  public propRadius = '--glnb-br-rd';
  public isAddPadding04a = true;
  public labelPdRatio = 0.4;

  public sizeMiddle = GlnFrameSize.middle;

  public getLabel(exterior: string): string &#123;
    return exterior ?
      exterior.substring(0, 1).toUpperCase() + exterior.substring(1) : '';
  &#125;
  public getValue(value: GlnFrameSize): number &#123;
    return GlnFrameSizeUtil.getValue(value) || 0;
  &#125;
  public round(value: number): number &#123;
    return Math.round(100 * value) / 100;
  &#125;
  public getConfig(labelPd: number): GlnButtonConfig &#123;
    return &#123; labelPd &#125;;
  &#125;
&#125;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelCss">
          <code><pre source="css">
.app-group &#123;
  display: flex;
  flex-wrap: wrap;
&#125;
.app-elem &#123;
  min-width: 26ch;
  margin: 10px 10px;
&#125;</pre></code>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
</section>


<div class="app-group">
  <div [attr.id]="fragment04d">
    <small><em>"Wide" height: 56px; font-size: 16px;</em></small>
  </div>
</div>

<div class="app-group"
  [attr.style]="propRadius + ':'
    + round(getValue(sizeWide) * borderRadius / 100) + 'px'">
  <div class="app-elem">
    <gln-button [exterior]="exterior04a"
      [config]="isAddPadding04a
        ? getConfig(round(getValue(sizeWide) * labelPdRatio)) : null"
      [frameSize]="sizeWide">
      <span>{{ getLabel(exterior04a) }}</span>
    </gln-button>
  </div>

  <div class="app-elem">
    <gln-button [exterior]="exterior04a"
      [config]="isAddPadding04a
        ? getConfig(round(getValue(sizeWide) * labelPdRatio)) : null"
      [frameSize]="sizeWide">
      <a [routerLink]="[routerLink]"
        [fragment]="fragment04d">
        <span>{{ getLabel(exterior04a) }} Link</span>
      </a>
    </gln-button>
  </div>
</div>

<section mr-vr2>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="labelHtml">
          <code><pre source="html">
&lt;div class="app-group"
  [attr.style]="propRadius + ':'
    + round(getValue(sizeWide) * borderRadius / 100) + 'px'"&gt;
  &lt;div class="app-elem"&gt;
    &lt;gln-button [exterior]="exterior04a"
      [config]="isAddPadding04a
        ? getConfig(round(getValue(sizeWide) * labelPdRatio)) : null"
      [frameSize]="sizeWide"&gt;
      &lt;span&gt;<b>&#123;</b>&#123; getLabel(exterior04a) &#125;&#125;&lt;/span&gt;
    &lt;/gln-button&gt;
  &lt;/div&gt;

  &lt;div class="app-elem"&gt;
    &lt;gln-button [exterior]="exterior04a"
      [config]="isAddPadding04a
        ? getConfig(round(getValue(sizeWide) * labelPdRatio)) : null"
      [frameSize]="sizeWide"&gt;
      &lt;a [routerLink]="[routerLink]"
        [fragment]="fragment04d"&gt;
        &lt;span&gt;<b>&#123;</b>&#123; getLabel(exterior04a) &#125;&#125; Link&lt;/span&gt;
      &lt;/a&gt;
    &lt;/gln-button&gt;
  &lt;/div&gt;
&lt;/div&gt;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelTs">
          <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';

@Component(&#123;
  selector: 'app-button',
  templateUrl: './button.component.html',
  styleUrls: ['./button.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class ButtonComponent &#123;
  public exterior04a = 'outlined';
  public routerLink = '/components/button';
  public fragment04d = 'size-link4d';
  public borderRadius = 50;
  public propRadius = '--glnb-br-rd';
  public isAddPadding04a = true;
  public labelPdRatio = 0.4;

  public sizeWide = GlnFrameSize.wide;

  public getLabel(exterior: string): string &#123;
    return exterior ?
      exterior.substring(0, 1).toUpperCase() + exterior.substring(1) : '';
  &#125;
  public getValue(value: GlnFrameSize): number &#123;
    return GlnFrameSizeUtil.getValue(value) || 0;
  &#125;
  public round(value: number): number &#123;
    return Math.round(100 * value) / 100;
  &#125;
  public getConfig(labelPd: number): GlnButtonConfig &#123;
    return &#123; labelPd &#125;;
  &#125;
&#125;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelCss">
          <code><pre source="css">
.app-group &#123;
  display: flex;
  flex-wrap: wrap;
&#125;
.app-elem &#123;
  min-width: 26ch;
  margin: 10px 10px;
&#125;</pre></code>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
</section>


<div class="app-group">
  <div [attr.id]="fragment04e">
    <small><em>"Large" height: 62px; font-size: 18px;;</em></small>
  </div>
</div>

<div class="app-group"
  [attr.style]="propRadius + ':'
   + round(getValue(sizeLarge) * borderRadius / 100) + 'px'">
  <div class="app-elem">
    <gln-button class="bbr-large"
      [exterior]="exterior04a"
      [config]="isAddPadding04a
       ? getConfig(round(getValue(sizeLarge) * labelPdRatio)) : null"
      [frameSize]="sizeLarge">
      <span>{{ getLabel(exterior04a) }}</span>
    </gln-button>
  </div>

  <div class="app-elem">
    <gln-button class="bbr-large"
      [exterior]="exterior04a"
      [config]="isAddPadding04a
        ? getConfig(round(getValue(sizeLarge) * labelPdRatio)) : null"
      [frameSize]="sizeLarge">
      <a [routerLink]="[routerLink]"
        [fragment]="fragment04e">
        <span>{{ getLabel(exterior04a) }} Link</span>
      </a>
    </gln-button>
  </div>
</div>

<section mr-vr2>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="labelHtml">
          <code><pre source="html">
&lt;div class="app-group"
  [attr.style]="propRadius + ':'
   + round(getValue(sizeLarge) * borderRadius / 100) + 'px'"&gt;
  &lt;div class="app-elem"&gt;
    &lt;gln-button class="bbr-large"
      [exterior]="exterior04a"
      [config]="isAddPadding04a
       ? getConfig(round(getValue(sizeLarge) * labelPdRatio)) : null"
      [frameSize]="sizeLarge"&gt;
      &lt;span&gt;<b>&#123;</b>&#123; getLabel(exterior04a) &#125;&#125;&lt;/span&gt;
    &lt;/gln-button&gt;
  &lt;/div&gt;

  &lt;div class="app-elem"&gt;
    &lt;gln-button class="bbr-large"
      [exterior]="exterior04a"
      [config]="isAddPadding04a
        ? getConfig(round(getValue(sizeLarge) * labelPdRatio)) : null"
      [frameSize]="sizeLarge"&gt;
      &lt;a [routerLink]="[routerLink]"
        [fragment]="fragment04e"&gt;
        &lt;span&gt;<b>&#123;</b>&#123; getLabel(exterior04a) &#125;&#125; Link&lt;/span&gt;
      &lt;/a&gt;
    &lt;/gln-button&gt;
  &lt;/div&gt;
&lt;/div&gt;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelTs">
          <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';

@Component(&#123;
  selector: 'app-button',
  templateUrl: './button.component.html',
  styleUrls: ['./button.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class ButtonComponent &#123;
  public exterior04a = 'outlined';
  public routerLink = '/components/button';
  public fragment04e = 'size-link4e';
  public borderRadius = 50;
  public propRadius = '--glnb-br-rd';
  public isAddPadding04a = true;
  public labelPdRatio = 0.4;

  public sizeLarge = GlnFrameSize.large;

  public getLabel(exterior: string): string &#123;
    return exterior ?
      exterior.substring(0, 1).toUpperCase() + exterior.substring(1) : '';
  &#125;
  public getValue(value: GlnFrameSize): number &#123;
    return GlnFrameSizeUtil.getValue(value) || 0;
  &#125;
  public round(value: number): number &#123;
    return Math.round(100 * value) / 100;
  &#125;
  public getConfig(labelPd: number): GlnButtonConfig &#123;
    return &#123; labelPd &#125;;
  &#125;
&#125;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelCss">
          <code><pre source="css">
.app-group &#123;
  display: flex;
  flex-wrap: wrap;
&#125;
.app-elem &#123;
  min-width: 26ch;
  margin: 10px 10px;
&#125;
.bbr-large &#123;
  font-size: 18px;
&#125;</pre></code>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
</section>


<div class="app-group">
  <div [attr.id]="fragment04f">
    <small><em>"Huge" height: 68px; font-size: 20px;</em></small>
  </div>
</div>

<div class="app-group"
  [attr.style]="propRadius + ':'
    + round(getValue(sizeHuge) * borderRadius / 100) + 'px'">
  <div class="app-elem">
    <gln-button class="bbr-huge"
      [exterior]="exterior04a"
      [config]="isAddPadding04a
        ? getConfig(round(getValue(sizeHuge) * labelPdRatio)) : null"
      [frameSize]="sizeHuge">
      <span>{{ getLabel(exterior04a) }}</span>
    </gln-button>
  </div>

  <div class="app-elem">
    <gln-button class="bbr-huge"
      [exterior]="exterior04a"
      [config]="isAddPadding04a
        ? getConfig(round(getValue(sizeHuge) * labelPdRatio)) : null"
      [frameSize]="sizeHuge">
      <a [routerLink]="[routerLink]"
        [fragment]="fragment04f">
        <span>{{ getLabel(exterior04a) }} Link</span>
      </a>
    </gln-button>
  </div>
</div>

<section mr-vr2>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="labelHtml">
          <code><pre source="html">
&lt;div class="app-group"
  [attr.style]="propRadius + ':'
    + round(getValue(sizeHuge) * borderRadius / 100) + 'px'"&gt;
  &lt;div class="app-elem"&gt;
    &lt;gln-button class="bbr-huge"
      [exterior]="exterior04a"
      [config]="isAddPadding04a
        ? getConfig(round(getValue(sizeHuge) * labelPdRatio)) : null"
      [frameSize]="sizeHuge"&gt;
      &lt;span&gt;<b>&#123;</b>&#123; getLabel(exterior04a) &#125;&#125;&lt;/span&gt;
    &lt;/gln-button&gt;
  &lt;/div&gt;

  &lt;div class="app-elem"&gt;
    &lt;gln-button class="bbr-huge"
      [exterior]="exterior04a"
      [config]="isAddPadding04a
        ? getConfig(round(getValue(sizeHuge) * labelPdRatio)) : null"
      [frameSize]="sizeHuge"&gt;
      &lt;a [routerLink]="[routerLink]"
        [fragment]="fragment04f"&gt;
        &lt;span&gt;<b>&#123;</b>&#123; getLabel(exterior04a) &#125;&#125; Link&lt;/span&gt;
      &lt;/a&gt;
    &lt;/gln-button&gt;
  &lt;/div&gt;
&lt;/div&gt;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelTs">
          <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';

@Component(&#123;
  selector: 'app-button',
  templateUrl: './button.component.html',
  styleUrls: ['./button.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class ButtonComponent &#123;
  public exterior04a = 'outlined';
  public routerLink = '/components/button';
  public fragment04f = 'size-link4f';
  public borderRadius = 50;
  public propRadius = '--glnb-br-rd';
  public isAddPadding04a = true;
  public labelPdRatio = 0.4;

  public sizeHuge = GlnFrameSize.huge;

  public getLabel(exterior: string): string &#123;
    return exterior ?
      exterior.substring(0, 1).toUpperCase() + exterior.substring(1) : '';
  &#125;
  public getValue(value: GlnFrameSize): number &#123;
    return GlnFrameSizeUtil.getValue(value) || 0;
  &#125;
  public round(value: number): number &#123;
    return Math.round(100 * value) / 100;
  &#125;
  public getConfig(labelPd: number): GlnButtonConfig &#123;
    return &#123; labelPd &#125;;
  &#125;
&#125;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelCss">
          <code><pre source="css">
.app-group &#123;
  display: flex;
  flex-wrap: wrap;
&#125;
.app-elem &#123;
  min-width: 26ch;
  margin: 10px 10px;
&#125;
.bbr-huge &#123;
  font-size: 20px;
&#125;</pre></code>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
</section>


<section mr-vr>
  <p>
    Below are other possible values for "border-radius".
  </p>
</section>

<section mr-vr>
  <span>exterior: </span>
  <mat-button-toggle-group value="exterior04b"
    (change)="exterior04b=$event.value">
    <mat-button-toggle [checked]="exterior04b==='contained'"
      value="contained">{{ labelContained }}</mat-button-toggle>
    <mat-button-toggle [checked]="exterior04b==='outlined'"
      value="outlined">{{ labelOutlined }}</mat-button-toggle>
    <mat-button-toggle [checked]="exterior04b==='text'"
      value="text">{{ labelText }}</mat-button-toggle>
  </mat-button-toggle-group>
</section>

<section mr-vr>
  <label>
    <input type="checkbox"
      (change)="isAddPadding04b=!isAddPadding04b"
      [checked]="isAddPadding04b" />
    Add padding ( BaseSize * {{ labelPdRatio }})
  </label>
</section>


<div class="app-group">
  <div>
    <small><em>"Middle" height: 50px; font-size: 16px;</em></small>
  </div>
</div>

<div class="app-group">
  <div [attr.id]="fragment04g">
    <small><em>Demo - A (top-left, bottom-left)</em></small>
  </div>
</div>

<div class="app-group"
  [attr.style]="propRadius + ':'
    + round(getValue(sizeMiddle) * radiusRatio) + 'px 0 0 '
    + round(getValue(sizeMiddle) * radiusRatio) + 'px'">
  <div class="app-elem">
    <gln-button [exterior]="exterior04b"
      [config]="isAddPadding04b
        ? getConfig(round(getValue(sizeMiddle) * labelPdRatio)) : null"
      [frameSize]="sizeMiddle">
      <span>{{ 'A - ' + getLabel(exterior04b) }}</span>
    </gln-button>
  </div>

  <div class="app-elem">
    <gln-button [exterior]="exterior04b"
      [config]="isAddPadding04b
        ? getConfig(round(getValue(sizeMiddle) * labelPdRatio)) : null"
      [frameSize]="sizeMiddle">
      <a [routerLink]="[routerLink]"
        [fragment]="fragment04g">
        <span>{{ 'A - ' + getLabel(exterior04b) }} Link</span>
      </a>
    </gln-button>
  </div>
</div>

<section mr-vr2>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="labelHtml">
          <code><pre source="html">
&lt;div class="app-group"
  [attr.style]="propRadius + ':'
    + round(getValue(sizeMiddle) * radiusRatio) + 'px 0 0 '
    + round(getValue(sizeMiddle) * radiusRatio) + 'px'"&gt;
  &lt;div class="app-elem"&gt;
    &lt;gln-button [exterior]="exterior04b"
      [config]="isAddPadding04b
        ? getConfig(round(getValue(sizeMiddle) * labelPdRatio)) : null"
      [frameSize]="sizeMiddle"&gt;
      &lt;span&gt;<b>&#123;</b>&#123; 'A - ' + getLabel(exterior04b) &#125;&#125;&lt;/span&gt;
    &lt;/gln-button&gt;
  &lt;/div&gt;

  &lt;div class="app-elem"&gt;
    &lt;gln-button [exterior]="exterior04b"
      [config]="isAddPadding04b
        ? getConfig(round(getValue(sizeMiddle) * labelPdRatio)) : null"
      [frameSize]="sizeMiddle"&gt;
      &lt;a [routerLink]="[routerLink]"
        [fragment]="fragment04g"&gt;
        &lt;span&gt;<b>&#123;</b>&#123; 'A - ' + getLabel(exterior04b) &#125;&#125; Link&lt;/span&gt;
      &lt;/a&gt;
    &lt;/gln-button&gt;
  &lt;/div&gt;
&lt;/div&gt;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelTs">
          <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';

@Component(&#123;
  selector: 'app-button',
  templateUrl: './button.component.html',
  styleUrls: ['./button.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class ButtonComponent &#123;
  public exterior04b = 'outlined';
  public routerLink = '/components/button';
  public fragment04g = 'size-link4g';
  public propRadius = '--glnb-br-rd';
  public isAddPadding04b = true;
  public radiusRatio = 0.3;
  public sizeMiddle = GlnFrameSize.middle;

  public getLabel(exterior: string): string &#123;
    return exterior ?
      exterior.substring(0, 1).toUpperCase() + exterior.substring(1) : '';
  &#125;
  public getValue(value: GlnFrameSize): number &#123;
    return GlnFrameSizeUtil.getValue(value) || 0;
  &#125;
  public round(value: number): number &#123;
    return Math.round(100 * value) / 100;
  &#125;
  public getConfig(labelPd: number): GlnButtonConfig &#123;
    return &#123; labelPd &#125;;
  &#125;
&#125;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelCss">
          <code><pre source="css">
.app-group &#123;
  display: flex;
  flex-wrap: wrap;
&#125;
.app-elem &#123;
  min-width: 26ch;
  margin: 10px 10px;
&#125;</pre></code>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
</section>


<div class="app-group">
  <div [attr.id]="fragment04h">
    <small><em>Demo - B (top-right, bottom-right)</em></small>
  </div>
</div>

<div class="app-group"
  [attr.style]="propRadius + ': 0 '
    + round(getValue(sizeMiddle) * radiusRatio) + 'px '
    + round(getValue(sizeMiddle) * radiusRatio) + 'px 0'">
  <div class="app-elem">
    <gln-button [exterior]="exterior04b"
      [config]="isAddPadding04b
        ? getConfig(round(getValue(sizeMiddle) * labelPdRatio)) : null"
      [frameSize]="sizeMiddle">
      <span>{{ 'B - ' + getLabel(exterior04b) }}</span>
    </gln-button>
  </div>

  <div class="app-elem">
    <gln-button [exterior]="exterior04b"
      [config]="isAddPadding04b
        ? getConfig(round(getValue(sizeMiddle) * labelPdRatio)) : null"
      [frameSize]="sizeMiddle">
      <a [routerLink]="[routerLink]"
        [fragment]="fragment04h">
        <span>{{ 'B - ' + getLabel(exterior04b) }} Link</span>
      </a>
    </gln-button>
  </div>
</div>

<section mr-vr2>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="labelHtml">
          <code><pre source="html">
&lt;div class="app-group"
  [attr.style]="propRadius + ': 0 '
    + round(getValue(sizeMiddle) * radiusRatio) + 'px '
    + round(getValue(sizeMiddle) * radiusRatio) + 'px 0'"&gt;
  &lt;div class="app-elem"&gt;
    &lt;gln-button [exterior]="exterior04b"
      [config]="isAddPadding04b
        ? getConfig(round(getValue(sizeMiddle) * labelPdRatio)) : null"
      [frameSize]="sizeMiddle"&gt;
      &lt;span&gt;<b>&#123;</b>&#123; 'B - ' + getLabel(exterior04b) &#125;&#125;&lt;/span&gt;
    &lt;/gln-button&gt;
  &lt;/div&gt;

  &lt;div class="app-elem"&gt;
    &lt;gln-button [exterior]="exterior04b"
      [config]="isAddPadding04b
        ? getConfig(round(getValue(sizeMiddle) * labelPdRatio)) : null"
      [frameSize]="sizeMiddle"&gt;
      &lt;a [routerLink]="[routerLink]"
        [fragment]="fragment04h"&gt;
        &lt;span&gt;<b>&#123;</b>&#123; 'B - ' + getLabel(exterior04b) &#125;&#125; Link&lt;/span&gt;
      &lt;/a&gt;
    &lt;/gln-button&gt;
  &lt;/div&gt;
&lt;/div&gt;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelTs">
          <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';

@Component(&#123;
  selector: 'app-button',
  templateUrl: './button.component.html',
  styleUrls: ['./button.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class ButtonComponent &#123;
  public exterior04b = 'outlined';
  public routerLink = '/components/button';
  public fragment04h = 'size-link4h';
  public propRadius = '--glnb-br-rd';
  public isAddPadding04b = true;
  public radiusRatio = 0.3;
  public sizeMiddle = GlnFrameSize.middle;

  public getLabel(exterior: string): string &#123;
    return exterior ?
      exterior.substring(0, 1).toUpperCase() + exterior.substring(1) : '';
  &#125;
  public getValue(value: GlnFrameSize): number &#123;
    return GlnFrameSizeUtil.getValue(value) || 0;
  &#125;
  public round(value: number): number &#123;
    return Math.round(100 * value) / 100;
  &#125;
  public getConfig(labelPd: number): GlnButtonConfig &#123;
    return &#123; labelPd &#125;;
  &#125;
&#125;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelCss">
          <code><pre source="css">
.app-group &#123;
  display: flex;
  flex-wrap: wrap;
&#125;
.app-elem &#123;
  min-width: 26ch;
  margin: 10px 10px;
&#125;</pre></code>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
</section>


<div class="app-group">
  <div [attr.id]="fragment04i">
    <small><em>Demo - C (top-left, bottom-right)</em></small>
  </div>
</div>

<div class="app-group"
  [attr.style]="propRadius + ': '
    + round(getValue(sizeMiddle) * radiusRatio) + 'px 0 '
    + round(getValue(sizeMiddle) * radiusRatio) + 'px 0'">
  <div class="app-elem">
    <gln-button [exterior]="exterior04b"
      [config]="isAddPadding04b
        ? getConfig(round(getValue(sizeMiddle) * labelPdRatio)) : null"
      [frameSize]="sizeMiddle">
      <span>{{ 'C - ' + getLabel(exterior04b) }}</span>
    </gln-button>
  </div>

  <div class="app-elem">
    <gln-button [exterior]="exterior04b"
      [config]="isAddPadding04b
        ? getConfig(round(getValue(sizeMiddle) * labelPdRatio)) : null"
      [frameSize]="sizeMiddle">
      <a [routerLink]="[routerLink]"
        [fragment]="fragment04i">
        <span>{{ 'C - ' + getLabel(exterior04b) }} Link</span>
      </a>
    </gln-button>
  </div>
</div>

<section mr-vr2>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="labelHtml">
          <code><pre source="html">
&lt;div class="app-group"
  [attr.style]="propRadius + ': '
    + round(getValue(sizeMiddle) * radiusRatio) + 'px 0 '
    + round(getValue(sizeMiddle) * radiusRatio) + 'px 0'"&gt;
  &lt;div class="app-elem"&gt;
    &lt;gln-button [exterior]="exterior04b"
      [config]="isAddPadding04b
        ? getConfig(round(getValue(sizeMiddle) * labelPdRatio)) : null"
      [frameSize]="sizeMiddle"&gt;
      &lt;span&gt;<b>&#123;</b>&#123; 'C - ' + getLabel(exterior04b) &#125;&#125;&lt;/span&gt;
    &lt;/gln-button&gt;
  &lt;/div&gt;

  &lt;div class="app-elem"&gt;
    &lt;gln-button [exterior]="exterior04b"
      [config]="isAddPadding04b
        ? getConfig(round(getValue(sizeMiddle) * labelPdRatio)) : null"
      [frameSize]="sizeMiddle"&gt;
      &lt;a [routerLink]="[routerLink]"
        [fragment]="fragment04i"&gt;
        &lt;span&gt;<b>&#123;</b>&#123; 'C - ' + getLabel(exterior04b) &#125;&#125; Link&lt;/span&gt;
      &lt;/a&gt;
    &lt;/gln-button&gt;
  &lt;/div&gt;
&lt;/div&gt;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelTs">
          <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';

@Component(&#123;
  selector: 'app-button',
  templateUrl: './button.component.html',
  styleUrls: ['./button.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class ButtonComponent &#123;
  public exterior04b = 'outlined';
  public routerLink = '/components/button';
  public fragment04i = 'size-link4i';
  public propRadius = '--glnb-br-rd';
  public isAddPadding04b = true;
  public radiusRatio = 0.3;
  public sizeMiddle = GlnFrameSize.middle;

  public getLabel(exterior: string): string &#123;
    return exterior ?
      exterior.substring(0, 1).toUpperCase() + exterior.substring(1) : '';
  &#125;
  public getValue(value: GlnFrameSize): number &#123;
    return GlnFrameSizeUtil.getValue(value) || 0;
  &#125;
  public round(value: number): number &#123;
    return Math.round(100 * value) / 100;
  &#125;
  public getConfig(labelPd: number): GlnButtonConfig &#123;
    return &#123; labelPd &#125;;
  &#125;
&#125;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelCss">
          <code><pre source="css">
.app-group &#123;
  display: flex;
  flex-wrap: wrap;
&#125;
.app-elem &#123;
  min-width: 26ch;
  margin: 10px 10px;
&#125;</pre></code>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
</section>


<div class="app-group">
  <div [attr.id]="fragment04j">
    <small><em>Demo - D (bottom-right, top-left)</em></small>
  </div>
</div>

<div class="app-group"
  [attr.style]="propRadius + ': 0 '
    + round(getValue(sizeMiddle) * radiusRatio) + 'px 0 '
    + round(getValue(sizeMiddle) * radiusRatio) + 'px'">
  <div class="app-elem">
    <gln-button [exterior]="exterior04b"
      [config]="isAddPadding04b
        ? getConfig(round(getValue(sizeMiddle) * labelPdRatio)) : null"
      [frameSize]="sizeMiddle">
      <span>{{ 'D - ' + getLabel(exterior04b) }}</span>
    </gln-button>
  </div>

  <div class="app-elem">
    <gln-button [exterior]="exterior04b"
      [config]="isAddPadding04b
        ? getConfig(round(getValue(sizeMiddle) * labelPdRatio)) : null"
      [frameSize]="sizeMiddle">
      <a [routerLink]="[routerLink]"
        [fragment]="fragment04j">
        <span>{{ 'D - ' + getLabel(exterior04b) }} Link</span>
      </a>
    </gln-button>
  </div>
</div>

<section mr-vr2>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="labelHtml">
          <code><pre source="html">
&lt;div class="app-group"
  [attr.style]="propRadius + ': 0 '
    + round(getValue(sizeMiddle) * radiusRatio) + 'px 0 '
    + round(getValue(sizeMiddle) * radiusRatio) + 'px'"&gt;
  &lt;div class="app-elem"&gt;
    &lt;gln-button [exterior]="exterior04b"
      [config]="isAddPadding04b
        ? getConfig(round(getValue(sizeMiddle) * labelPdRatio)) : null"
      [frameSize]="sizeMiddle"&gt;
      &lt;span&gt;<b>&#123;</b>&#123; 'D - ' + getLabel(exterior04b) &#125;&#125;&lt;/span&gt;
    &lt;/gln-button&gt;
  &lt;/div&gt;

  &lt;div class="app-elem"&gt;
    &lt;gln-button [exterior]="exterior04b"
      [config]="isAddPadding04b
        ? getConfig(round(getValue(sizeMiddle) * labelPdRatio)) : null"
      [frameSize]="sizeMiddle"&gt;
      &lt;a [routerLink]="[routerLink]"
        [fragment]="fragment04j"&gt;
        &lt;span&gt;<b>&#123;</b>&#123; 'D - ' + getLabel(exterior04b) &#125;&#125; Link&lt;/span&gt;
      &lt;/a&gt;
    &lt;/gln-button&gt;
  &lt;/div&gt;
&lt;/div&gt;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelTs">
          <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';

@Component(&#123;
  selector: 'app-button',
  templateUrl: './button.component.html',
  styleUrls: ['./button.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class ButtonComponent &#123;
  public exterior04b = 'outlined';
  public routerLink = '/components/button';
  public fragment04j = 'size-link4j';
  public propRadius = '--glnb-br-rd';
  public isAddPadding04b = true;
  public radiusRatio = 0.3;
  public sizeMiddle = GlnFrameSize.middle;

  public getLabel(exterior: string): string &#123;
    return exterior ?
      exterior.substring(0, 1).toUpperCase() + exterior.substring(1) : '';
  &#125;
  public getValue(value: GlnFrameSize): number &#123;
    return GlnFrameSizeUtil.getValue(value) || 0;
  &#125;
  public round(value: number): number &#123;
    return Math.round(100 * value) / 100;
  &#125;
  public getConfig(labelPd: number): GlnButtonConfig &#123;
    return &#123; labelPd &#125;;
  &#125;
&#125;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelCss">
          <code><pre source="css">
.app-group &#123;
  display: flex;
  flex-wrap: wrap;
&#125;
.app-elem &#123;
  min-width: 26ch;
  margin: 10px 10px;
&#125;</pre></code>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
</section>


<div class="app-group">
  <div [attr.id]="fragment04k">
    <small><em>Demo - E (border-radius: 8%/50%)</em></small>
  </div>
</div>

<div class="app-group bbr-demo-e">
  <div class="app-elem">
    <gln-button [exterior]="exterior04b"
      [config]="isAddPadding04b
        ? getConfig(round(getValue(sizeMiddle) * labelPdRatio)) : null"
      [frameSize]="sizeMiddle">
      <span>{{ 'E - ' + getLabel(exterior04b) }}</span>
    </gln-button>
  </div>

  <div class="app-elem">
    <gln-button [exterior]="exterior04b"
      [config]="isAddPadding04b
        ? getConfig(round(getValue(sizeMiddle) * labelPdRatio)) : null"
      [frameSize]="sizeMiddle">
      <a [routerLink]="[routerLink]"
        [fragment]="fragment04k">
        <span>{{ 'E - ' + getLabel(exterior04b) }} Link</span>
      </a>
    </gln-button>
  </div>
</div>

<section mr-vr2>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="labelHtml">
          <code><pre source="html">
&lt;div class="app-group bbr-demo-e"&gt;
  &lt;div class="app-elem"&gt;
    &lt;gln-button [exterior]="exterior04b"
      [config]="isAddPadding04b
        ? getConfig(round(getValue(sizeMiddle) * labelPdRatio)) : null"
      [frameSize]="sizeMiddle"&gt;
      &lt;span&gt;<b>&#123;</b>&#123; 'E - ' + getLabel(exterior04b) &#125;&#125;&lt;/span&gt;
    &lt;/gln-button&gt;
  &lt;/div&gt;

  &lt;div class="app-elem"&gt;
    &lt;gln-button [exterior]="exterior04b"
      [config]="isAddPadding04b
        ? getConfig(round(getValue(sizeMiddle) * labelPdRatio)) : null"
      [frameSize]="sizeMiddle"&gt;
      &lt;a [routerLink]="[routerLink]"
        [fragment]="fragment04k"&gt;
        &lt;span&gt;<b>&#123;</b>&#123; 'E - ' + getLabel(exterior04b) &#125;&#125; Link&lt;/span&gt;
      &lt;/a&gt;
    &lt;/gln-button&gt;
  &lt;/div&gt;
&lt;/div&gt;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelTs">
          <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';

@Component(&#123;
  selector: 'app-button',
  templateUrl: './button.component.html',
  styleUrls: ['./button.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class ButtonComponent &#123;
  public exterior04b = 'outlined';
  public routerLink = '/components/button';
  public fragment04k = 'size-link4k';
  public propRadius = '--glnb-br-rd';
  public isAddPadding04b = true;
  public radiusRatio = 0.3;
  public sizeMiddle = GlnFrameSize.middle;

  public getLabel(exterior: string): string &#123;
    return exterior ?
      exterior.substring(0, 1).toUpperCase() + exterior.substring(1) : '';
  &#125;
  public getValue(value: GlnFrameSize): number &#123;
    return GlnFrameSizeUtil.getValue(value) || 0;
  &#125;
  public round(value: number): number &#123;
    return Math.round(100 * value) / 100;
  &#125;
  public getConfig(labelPd: number): GlnButtonConfig &#123;
    return &#123; labelPd &#125;;
  &#125;
&#125;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelCss">
          <code><pre source="css">
.app-group &#123;
  display: flex;
  flex-wrap: wrap;
&#125;
.app-elem &#123;
  min-width: 26ch;
  margin: 10px 10px;
&#125;
.bbr-demo-e &#123;
  --glnb-br-rd: 8%/50%;
&#125;
</pre></code>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
</section>

<hr br-nn />
<hr br-nn />