/*# sourceURL=button-palette.component.scss */

app-button-palette {
  display: block;

  .bp-items {
    display: flex;
    flex-wrap: wrap;
  }
  .bp-items > :first-child {
    margin-left: 1%;
  }
  .bp-items > :not(first-child) {
    margin-left: 5%;
  }

  // Exterior: "contained"
  .bp-specific .gln-button.glnbt-contained>.glnbt-btn {
    --glntr-ripple-cl: #686aec5d;
    --glnbt-c-def-cl: #00acc1;
    --glnbt-c-def-bg-cl: #b2ebf299;
    --glnbt-c-hov-bg-cl: #acebec4d;
    --glnbt-c-dis-cl: #76b0b7;
    --glnbt-c-dis-bg-cl: #b2ebf233;
  }

  // Exterior: "outlined"
  .bp-specific .gln-button.glnbt-outlined>.glnbt-btn {
    --glntr-ripple-cl: #19d2944d;
    --glnbt-o-def-cl: #00acc1;
    --glnbt-o-def-br-cl: #00acc1a0;
    --glnbt-o-hov-bg-cl: #b2ebf299;
    --glnbt-o-hov-br-cl: #00acc1;
    --glnbt-o-dis-cl: #76b0b7;
    --glnbt-o-dis-br-cl: #76b0b77a;
   }
    
  // Exterior: "text"
  .bp-specific .gln-button.glnbt-text>.glnbt-btn {
    --glntr-ripple-cl: #19d2944d;
    --glnbt-t-def-cl: #00acc1;
    --glnbt-t-hov-bg-cl: #b2ebf299;
    --glnbt-t-dis-cl: #76b0b7;
  }
}
