<section mr-vr>
  <h3>Palette.</h3>
  <p>
    You can customize the color palette for the buttons.
    To do this, let's define our own values for the required CSS variables.
  </p>
  <p>
    All the CSS classes that define the colors of the button element are children of the
    "gln-button"
    CSS classes.
    Let's add a custom CSS class "bp-specific" to define our colors.
  </p>
</section>


<section mr-vr
  [attr.id]="fragment1">
  <h4 class="app-hover-link">
    Button with "contained" exterior.
    <a [href]="urlButton2 + '#' + fragment1">#</a>
  </h4>
  <p>
    An example of defining css variables for buttons with a "contained" appearance.
  </p>
</section>

<div class="bp-items bp-specific">

  <gln-button exterior="contained">
    <span>Primary</span>
  </gln-button>

  <gln-button exterior="contained"
    isDisabled>
    <span>Primary Disabled</span>
  </gln-button>

  <gln-button exterior="contained">
    <a [routerLink]="[routerLink]"
      [fragment]="fragment1">
      Link
    </a>
  </gln-button>

  <gln-button exterior="contained"
    isDisabled>
    <a [routerLink]="[routerLink]"
      [fragment]="fragment1">
      Link Disabled
    </a>
  </gln-button>

</div>

<section mr-vr>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="labelHtml">
          <code><pre source="html">
&lt;div class="bp-items bp-specific"&gt;

  &lt;gln-button exterior="contained"&gt;
    &lt;span&gt;Primary&lt;/span&gt;
  &lt;/gln-button&gt;

  &lt;gln-button exterior="contained"
    isDisabled&gt;
    &lt;span&gt;Primary Disabled&lt;/span&gt;
  &lt;/gln-button&gt;

  &lt;gln-button exterior="contained"&gt;
    &lt;a [routerLink]="[routerLink]"
      [fragment]="fragment1"&gt;
      Link
    &lt;/a&gt;
  &lt;/gln-button&gt;

  &lt;gln-button exterior="contained"
    isDisabled&gt;
    &lt;a [routerLink]="[routerLink]"
      [fragment]="fragment1"&gt;
      Link Disabled
    &lt;/a&gt;
  &lt;/gln-button&gt;

&lt;/div&gt;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelTs">
          <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';

@Component(&#123;
  selector: 'app-button',
  templateUrl: './button.component.html',
  styleUrls: ['./button.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class ButtonComponent &#123;
  public routerLink = '/components/button2';
  public fragment1 = 'palette1';
&#125;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelCss">
          <code><pre source="css">
.bp-items &#123;
  display: flex;
  flex-wrap: wrap;
&#125;
.bp-items &gt; :first-child &#123;
  margin-left: 1%;
&#125;
.bp-items &gt; :not(first-child) &#123;
  margin-left: 5%;
&#125;

// Exterior: "contained"
.bp-specific .gln-button.glnbt-contained &#123;
  --glnbt-c-ripple-cl: #686aec5d;
  --glnbt-c-def-cl: #00acc1;
  --glnbt-c-def-bg-cl: #b2ebf299;
  --glnbt-c-hov-bg-cl: #acebec4d;
  --glnbt-c-dis-cl: #76b0b7;
  --glnbt-c-dis-bg-cl: #b2ebf233;
&#125;</pre></code>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
</section>

<hr br-nn />


<section mr-vr
  [attr.id]="fragment2">
  <h4 class="app-hover-link">
    Button with "outlined" exterior.
    <a [href]="urlButton2 + '#' + fragment2">#</a>
  </h4>
  <p>
    An example of defining css variables for buttons with a "outlined" appearance.
  </p>
</section>

<div class="bp-items bp-specific">

  <gln-button exterior="outlined">
    <span>Secondary</span>
  </gln-button>

  <gln-button exterior="outlined"
    isDisabled>
    <span>Secondary Disabled</span>
  </gln-button>

  <gln-button exterior="outlined">
    <a [routerLink]="[routerLink]"
      [fragment]="fragment2">
      Link
    </a>
  </gln-button>

  <gln-button exterior="outlined"
    isDisabled>
    <a [routerLink]="[routerLink]"
      [fragment]="fragment2">
      Link Disabled
    </a>
  </gln-button>

</div>

<section mr-vr>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="labelHtml">
          <code><pre source="html">
&lt;div class="bp-items bp-specific"&gt;

  &lt;gln-button exterior="outlined"&gt;
    &lt;span&gt;Secondary&lt;/span&gt;
  &lt;/gln-button&gt;

  &lt;gln-button exterior="outlined"
    isDisabled&gt;
    &lt;span&gt;Secondary Disabled&lt;/span&gt;
  &lt;/gln-button&gt;

  &lt;gln-button exterior="outlined"&gt;
    &lt;a [routerLink]="[routerLink]"
      [fragment]="fragment2"&gt;
      Link
    &lt;/a&gt;
  &lt;/gln-button&gt;

  &lt;gln-button exterior="outlined"
    isDisabled&gt;
    &lt;a [routerLink]="[routerLink]"
      [fragment]="fragment2"&gt;
      Link Disabled
    &lt;/a&gt;
  &lt;/gln-button&gt;

&lt;/div&gt;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelTs">
          <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';

@Component(&#123;
  selector: 'app-button',
  templateUrl: './button.component.html',
  styleUrls: ['./button.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class ButtonComponent &#123;
  public routerLink = '/components/button2';
  public fragment2 = 'palette2';
&#125;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelCss">
          <code><pre source="css">
.bp-items &#123;
  display: flex;
  flex-wrap: wrap;
&#125;
.bp-items &gt; :first-child &#123;
  margin-left: 1%;
&#125;
.bp-items &gt; :not(first-child) &#123;
  margin-left: 5%;
&#125;

// Exterior: "outlined"
.bp-specific .gln-button.glnbt-outlined &#123;
  --glnbt-o-ripple-cl: #19d2944d;
  --glnbt-o-def-cl: #00acc1;
  --glnbt-o-def-br-cl: #00acc1a0;
  --glnbt-o-hov-bg-cl: #b2ebf299;
  --glnbt-o-hov-br-cl: #00acc1;
  --glnbt-o-dis-cl: #76b0b7;
  --glnbt-o-dis-br-cl: #76b0b77a;
&#125;</pre></code>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
</section>

<hr br-nn />


<section mr-vr
  [attr.id]="fragment3">
  <div>
    <h4 class="app-hover-link">
      Button with "text" exterior.
      <a [href]="urlButton2 + '#' + fragment3">#</a>
    </h4>
    <p>
      An example of defining css variables for buttons with a "text" appearance.
    </p>
  </div>
</section>

<div class="bp-items bp-specific">

  <gln-button exterior="text">
    <span>Additionally</span>
  </gln-button>

  <gln-button exterior="text"
    isDisabled>
    <span>Additionally Disabled</span>
  </gln-button>

  <gln-button exterior="text">
    <a [routerLink]="[routerLink]"
      [fragment]="fragment3">
      Link
    </a>
  </gln-button>

  <gln-button exterior="text"
    isDisabled>
    <a [routerLink]="[routerLink]"
      [fragment]="fragment3">
      Link Disabled
    </a>
  </gln-button>

</div>

<section mr-vr>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="labelHtml">
          <code><pre source="html">
&lt;div class="bp-items bp-specific"&gt;

  &lt;gln-button exterior="text"&gt;
    &lt;span&gt;Additionally&lt;/span&gt;
  &lt;/gln-button&gt;

  &lt;gln-button exterior="text"
    isDisabled&gt;
    &lt;span&gt;Additionally Disabled&lt;/span&gt;
  &lt;/gln-button&gt;

  &lt;gln-button exterior="text"&gt;
    &lt;a [routerLink]="[routerLink]"
      [fragment]="fragment3"&gt;
      Link
    &lt;/a&gt;
  &lt;/gln-button&gt;

  &lt;gln-button exterior="text"
    isDisabled&gt;
    &lt;a [routerLink]="[routerLink]"
      [fragment]="fragment3"&gt;
      Link Disabled
    &lt;/a&gt;
  &lt;/gln-button&gt;

&lt;/div&gt;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelTs">
          <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';

@Component(&#123;
  selector: 'app-button',
  templateUrl: './button.component.html',
  styleUrls: ['./button.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class ButtonComponent &#123;
  public routerLink = '/components/button2';
  public fragment3 = 'palette3';
&#125;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelCss">
          <code><pre source="css">
.bp-items &#123;
  display: flex;
  flex-wrap: wrap;
&#125;
.bp-items &gt; :first-child &#123;
  margin-left: 1%;
&#125;
.bp-items &gt; :not(first-child) &#123;
  margin-left: 5%;
&#125;

// Exterior: "text"
.bp-specific .gln-button.glnbt-text &#123;
  --glnbt-t-ripple-cl: #19d2944d;
  --glnbt-t-def-cl: #00acc1;
  --glnbt-t-hov-bg-cl: #b2ebf299;
  --glnbt-t-dis-cl: #76b0b7;
&#125;</pre></code>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
</section>

<hr br-nn />