<!-- BASIC -->
<section mr-vr>
  <h3 class="app-hover-link">
    Basic.
    <a [href]="urlCmSwitch + '#Basic'">#</a>
  </h3>
  <span>
    To use this component, in your module you need to add:
  </span>
  <code><pre source="ts">
import &#123; GlnSwitchModule &#125; from 'gelenium-ui';</pre>
  </code>
  <p>
    The GlnSwitch component displays the "on" or "off" state.
    It can be used to display the status of any parameter.
  </p>
</section>


<form *ngIf="false"
  [formGroup]="formGroup01"
  novalidate
  autocomplete="off">

  <div class="app-group">

    <div class="app-elem sb-elem">
      <div>
        <small>
          <em>checked by default.</em>
        </small>
      </div>
      <gln-switch formControlName="model01a">
      </gln-switch>
    </div>

    <div class="app-elem sb-elem">
      <div>
        <small>
          <em>unchecked by default.</em>
        </small>
      </div>
      <gln-switch formControlName="model01b">
      </gln-switch>
    </div>

    <div class="app-elem sb-elem">
      <div>
        <small>
          <em>disabled and checked.</em>
        </small>
      </div>
      <gln-switch formControlName="model01c"
        isDisabled>
      </gln-switch>
    </div>

    <div class="app-elem sb-elem">
      <div>
        <small>
          <em>disabled and unchecked.</em>
        </small>
      </div>
      <gln-switch formControlName="model01d"
        isDisabled>
      </gln-switch>
    </div>

  </div>
</form>


<!-- ATTRIBUTES -->

<section *ngIf="false"
  mr-vr>
  <h3 class="app-hover-link">
    Attributes.
    <a [href]="urlCmSwitch + '#Attributes'">#</a>
  </h3>
  <p>
  <p>The following attributes are supported:</p>
  <ul>
    <li>"id" - parameter for defining the unique identifier of the input field
      (id="unique_identifier");
    </li>

    <li>
      "config" - Defines a configuration object.
      <!-- <a [href]="urlCmFrame + '#Config'">More details.</a> -->
    </li>

  </ul>

  <span>For example:</span>
  <code><pre source="html">
&lt;gln-switch formControlName="model02a"&gt;
  Label
&lt;/gln-switch&gt;</pre></code>
</section>

<!-- <div class="app-group">

  <div class="app-elem">
    <div>
      <small>
        <em>Attributes: isChecked.</em>
      </small>
    </div>
    <gln-switch [(ngModel)]="modelData02a">
    </gln-switch>
  </div>

</div> -->


<label>
  <input type="checkbox"
    [(ngModel)]="isDisabled02a" />isDisabled02a
</label>
<label>
  <input type="checkbox"
    [(ngModel)]="isNoAnimation02a" />isNoAnimation02a
</label>
<label>
  <input type="checkbox"
    [(ngModel)]="isReadOnly02a" />isReadOnly02a
</label>
<label>
  <input type="checkbox"
    [(ngModel)]="isRequired02a" />isRequired02a
</label>
<label>
  <input type="checkbox"
    [(ngModel)]="isNoRipple02a" />isNoRipple02a
</label>
<!--  -->

<form *ngIf="true"
  [formGroup]="formGroup02"
  novalidate
  autocomplete="off">

  <div class="app-group">

    <!-- demo1 -->
    <div class="app-elem">
      <div>
        <small>
          <em>Attributes: id.</em>
        </small>
      </div>
      <gln-switch formControlName="model02a"
        config9="config02a"
        isDisabled9="isDisabled02a ? true : undefined"
        [isNoAnimation]="isNoAnimation02a ? true : undefined"
        [isReadOnly]="isReadOnly02a ? true : undefined"
        [isRequired]="isRequired02a ? true : undefined"
        [isNoRipple]="isNoRipple02a ? true : undefined"
        id9="unique_id_switch02a">
        formGroup02.controls['model02a'].value
      </gln-switch> ( {{ formGroup02.controls['model02a'].value }})
    </div>

    <!-- demo2 -->
    <!-- <div class="app-elem">
      <div>
        <small>
          <em>Attributes: id.</em>
        </small>
      </div>
      <gln-switch formControlName="model02a"
        isChecked>
      </gln-switch> ( {{ formGroup02.controls['model02a'].value }})
    </div> -->

    <!-- origin -->
    <!-- <div class="app-elem">
      <div>
        <small>
          <em>Attributes: id.</em>
        </small>
      </div>
      <gln-switch formControlName="model02a"
        id="unique_id_switch02a">
      </gln-switch>
    </div>

    <div class="app-elem">
      <div>
        <small>
          <em>checked by default.</em>
        </small>
      </div>
      <gln-switch formControlName="model02a">
        Label
      </gln-switch>
    </div>

    <div class="app-elem">
      <div>
        <small>
          <em>disabled and unchecked.</em>
        </small>
      </div>
      <gln-switch formControlName="model02b"
        isDisabled>
        Disabled
      </gln-switch>
    </div> -->

  </div>
</form>

<!-- -->

<section *ngIf="false"
  mr-vr>
  <h4 class="app-hover-link">
    Size.
    <a [href]="urlCmSwitch + '#Size'">#</a>
  </h4>
  <p>
    The GlnSwitch component has the ability to change its size.
    All component elements are associated with a font size for the gln-switch tag.
    Thus, by changing the font size, you can choose the size of this component that is optimal for
    you.
  </p>
  <span>For example:</span>
</section>

<form *ngIf="false"
  [formGroup]="formGroup03"
  novalidate
  autocomplete="off">

  <div class="app-group">
    <div class="app-elem">
      <div>
        <small>
          <em>font-size: 9px; height: 27px;</em>
        </small>
      </div>
      <gln-switch class="sb-mini09"
        formControlName="model03a">
        Parameter definition label
      </gln-switch>
    </div>
  </div>

  <div class="app-group">
    <div class="app-elem">
      <div>
        <small>
          <em>font-size: 10px; height: 30px;</em>
        </small>
      </div>
      <gln-switch class="sb-mini10"
        formControlName="model03b">
        Parameter definition label
      </gln-switch>
    </div>
  </div>

  <div class="app-group">
    <div class="app-elem">
      <div>
        <small>
          <em>font-size: 11px; height: 33px;</em>
        </small>
      </div>
      <gln-switch class="sb-mini11"
        formControlName="model03c">
        Parameter definition label
      </gln-switch>
    </div>
  </div>

  <div class="app-group">
    <div class="app-elem">
      <div>
        <small>
          <em>font-size: 12px; height: 36px;</em>
        </small>
      </div>
      <gln-switch class="sb-small12"
        formControlName="model03d">
        Parameter definition label
      </gln-switch>
    </div>
  </div>

  <div class="app-group">
    <div class="app-elem">
      <div>
        <small>
          <em>font-size: 13px; height: 39px;</em>
        </small>
      </div>
      <gln-switch class="sb-small13"
        formControlName="model03e">
        Parameter definition label
      </gln-switch>
    </div>
  </div>

  <div class="app-group">
    <div class="app-elem">
      <div>
        <small>
          <em>font-size: 14px; height: 42px;</em>
        </small>
      </div>
      <gln-switch class="sb-small14"
        formControlName="model03f">
        Parameter definition label
      </gln-switch>
    </div>
  </div>

</form>



<!-- -->

<section *ngIf="false"
  mr-vr>
  <h4 class="app-hover-link">
    Color.
    <a [href]="urlCmSwitch + '#Color'">#</a>
  </h4>
  <p>
    The GlnSwitch component has the ability to change its color.
  </p>
  <span>For example:</span>
  <code><pre source="html">
&lt;gln-switch
  <i><strong>[glnColor]="&#123; primary: 'danger' &#125;"</strong></i>
  formControlName="model02a"&gt;
  Label
&lt;/gln-switch&gt;</pre></code>
</section>

<form *ngIf="false"
  [formGroup]="formGroup04"
  novalidate
  autocomplete="off">

  <div class="app-group">

    <div class="app-elem sb-elem">
      <div>
        <small>
          <em>color: primary</em>
        </small>
      </div>
      <gln-switch [glnColor]="{ primary: 'primary' }"
        formControlName="model04a">
      </gln-switch>
    </div>

    <div class="app-elem sb-elem">
      <div>
        <small>
          <em>color: danger</em>
        </small>
      </div>
      <gln-switch [glnColor]="{ primary: 'danger' }"
        formControlName="model04b">
      </gln-switch>
    </div>

    <div class="app-elem sb-elem">
      <div>
        <small>
          <em>color: success</em>
        </small>
      </div>
      <gln-switch [glnColor]="{ primary: 'success' }"
        formControlName="model04c">
      </gln-switch>
    </div>

    <div class="app-elem sb-elem">
      <div>
        <small>
          <em>color: info</em>
        </small>
      </div>
      <gln-switch [glnColor]="{ primary: 'info' }"
        formControlName="model04d">
      </gln-switch>
    </div>

    <div class="app-elem sb-elem">
      <div>
        <small>
          <em>color: warning</em>
        </small>
      </div>
      <gln-switch [glnColor]="{ primary: 'warning' }"
        formControlName="model04e">
      </gln-switch>
    </div>

    <div class="app-elem sb-elem sb-customer">
      <div>
        <small>
          <em>color: customer</em>
        </small>
      </div>
      <gln-switch [glnColor]="{ primary: 'customer' }"
        formControlName="model04e">
      </gln-switch>
    </div>

  </div>
</form>


<!-- -->