<!-- BASIC -->
<section mr-vr>
  <h3 class="app-hover-link">
    Basic.
    <a [href]="urlCmSwitch + '#Basic'">#</a>
  </h3>
  <span>
    To use this component, in your module you need to add:
  </span>
  <code><pre source="ts">
import &#123; GlnSwitchModule &#125; from 'gelenium-ui';</pre>
  </code>
  <p>
    The GlnSwitch component displays the "on" or "off" state.
    It can be used to display the status of any parameter.
  </p>
</section>


<form [formGroup]="formGroup01"
  novalidate
  autocomplete="off">

  <div class="app-group">

    <div class="app-elem sb-elem">
      <div>
        <small>
          <em>Checked by default.</em>
        </small>
      </div>
      <gln-switch formControlName="model01a">
      </gln-switch>
    </div>

    <div class="app-elem sb-elem">
      <div>
        <small>
          <em>Unchecked by default.</em>
        </small>
      </div>
      <gln-switch formControlName="model01b">
      </gln-switch>
    </div>

    <div class="app-elem sb-elem">
      <div>
        <small>
          <em>Disabled and checked.</em>
        </small>
      </div>
      <gln-switch formControlName="model01c"
        isDisabled>
      </gln-switch>
    </div>

    <div class="app-elem sb-elem">
      <div>
        <small>
          <em>Disabled and unchecked.</em>
        </small>
      </div>
      <gln-switch formControlName="model01d"
        isDisabled>
      </gln-switch>
    </div>

  </div>
</form>


<section mr-vr>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="labelHtml">
          <code><pre source="html">
&lt;form [formGroup]="formGroup01"
  novalidate
  autocomplete="off"&gt;

  &lt;div class="app-group"&gt;

    &lt;div class="app-elem sb-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;Checked by default.&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;gln-switch formControlName="model01a"&gt;
      &lt;/gln-switch&gt;
    &lt;/div&gt;

    &lt;div class="app-elem sb-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;Unchecked by default.&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;gln-switch formControlName="model01b"&gt;
      &lt;/gln-switch&gt;
    &lt;/div&gt;

    &lt;div class="app-elem sb-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;Disabled and checked.&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;gln-switch formControlName="model01c"
        isDisabled&gt;
      &lt;/gln-switch&gt;
    &lt;/div&gt;

    &lt;div class="app-elem sb-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;Disabled and unchecked.&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;gln-switch formControlName="model01d"
        isDisabled&gt;
      &lt;/gln-switch&gt;
    &lt;/div&gt;

  &lt;/div&gt;
&lt;/form&gt;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelTs">
          <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';
import &#123;
  FormControl, FormGroup
&#125; from '@angular/forms';

@Component(&#123;
  selector: 'app-switch',
  templateUrl: './switch.component.html',
  styleUrls: ['./switch.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class SwitchComponent &#123;
  public formGroup01: FormGroup = new FormGroup(&#123;
    model01a: new FormControl(true, []),
    model01b: new FormControl(false, []),
    model01c: new FormControl(true, []),
    model01d: new FormControl(false, []),
  &#125;);
&#125;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelCss">
          <code><pre source="css">
app-switch &#123;
  .app-group &#123;
    display: flex;
    flex-wrap: wrap;
  &#125;
  .app-elem &#123;
    min-width: 26ch;
    margin: 10px 10px;
  &#125;
  .sb-elem &#123;
    min-width: 17ch;
  &#125;
&#125;</pre></code>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
</section>