<h3>Component: "GlnButton" part 1</h3>

<div *ngIf="!showNum || showNum==='01'"
  id="Basic">
  <app-button-basic></app-button-basic>
  <hr br-tp>
</div>

<div *ngIf="!showNum || showNum==='02'"
  id="Attributes">
  <app-button-attributes></app-button-attributes>
  <hr br-tp>
</div>

<div *ngIf="!showNum || showNum==='03'"
  id="Size">
  <app-button-size></app-button-size>
  <hr br-tp>
</div>

<div *ngIf="!showNum || showNum==='04'"
  id="BorderRadius">
  <app-button-border-radius></app-button-border-radius>
  <hr br-tp>
</div>

<br />
<br />