/*# sourceURL=cm-radio-basic.component.scss */

app-cm-radio-basic {
  display: block;

  // Page: Basic01
  // .rbbs-fn-sz {
  //   font-size: 16px;
  // }

  // Page: Attributes02a

  // Page: Attributes02e
  .rdat2-err {
    color: red;
  }
  // Page: Attributes02g
  .rbar2-elem {
    min-width: 17ch;
  }

  // Page: Attributes02l
  .rbat2-props {
    display: inline-flex;
    flex-wrap: wrap;
    max-width: 60ch;
    margin: 0;
    &>label {
      margin-top: 0.5em;
      min-width: 18ch;
    }
  }

  // Page: Palette07a Basic
  .rbpl1-elem {
    min-width: 17ch;
  }
  .rbpl1-customer {
    --gln-customer-h: 200;
    --gln-customer-s: 75%;
    --gln-customer-l: 50%;
  }

  // Page: Palette07i Bootstrap
  .rbpl2-elem {
    min-width: 17ch;
  }
  .rbpl2-bootstrap {
    --glnrb-icon-fn-sz: 10px;
    &.gln-disabled [glnrb-icon-block] {
      opacity: .5;
    }
    --glnrb-def-cl-svg: rgba(0,0,0,.25);
    --glnrb-dis-cl-svg: rgba(0,0,0,.25);

    &.primary {
      --glnrb-def-chk-cl-svg: #0d6efd;
      --glnrb-dis-chk-cl-svg: #0d6efd;
    }
    &.secondary {
      --glnrb-def-chk-cl-svg: #6c757d;
      --glnrb-dis-chk-cl-svg: #6c757d;
    }
    &.success {
      --glnrb-def-chk-cl-svg: #198754;
      --glnrb-dis-chk-cl-svg: #198754;
    }
    &.danger {
      --glnrb-def-chk-cl-svg: #dc3545;
      --glnrb-dis-chk-cl-svg: #dc3545;
    }
    &.warning {
      --glnrb-def-chk-cl-svg: #ffc107;
      --glnrb-dis-chk-cl-svg: #ffc107;
    }
    &.info {
      --glnrb-def-chk-cl-svg: #0dcaf0;
      --glnrb-dis-chk-cl-svg: #0dcaf0;
    }
    &.dark {
      --glnrb-def-chk-cl-svg: #212529;
      --glnrb-dis-chk-cl-svg: #212529;
    }
  }
  
  // Page: Palette07q MUI
  .rbpl3-elem {
    min-width: 17ch;
  }
  .rbpl3-mui {
    --glnrb-icon-fn-sz: 14px;
    --glnrb-def-cl-svg: rgba(0, 0, 0, 0.6);
    --glnrb-def-lbl: rgba(0, 0, 0, 0.6);
    --glnrb-dis-cl-svg: rgba(0, 0, 0, 0.26);
    --glnrb-dis-lbl: rgba(0, 0, 0, 0.38);

    &.primary {
      --glncl-primary-h: 210;
      --glncl-primary-s: 79%;
      --glncl-primary-l: 46%;
    }
    &.secondary {
      --glncl-primary-h: 291;
      --glncl-primary-s: 64%;
      --glncl-primary-l: 42%;
    }
    &.success {
      --glncl-primary-h: 123;
      --glncl-primary-s: 46%;
      --glncl-primary-l: 34%;
    }
    &.default {
      --glncl-primary-h: 0;
      --glncl-primary-s: 0%;
      --glncl-primary-l: 0%;
      --glnrb-def-cl-svg: rgba(0, 0, 0, 0.6);
      --glnrb-def-chk-cl-svg: rgba(0, 0, 0, 0.6);
      --glnrb-dis-cl-svg: rgba(0, 0, 0, 0.26);
      --glnrb-dis-chk-cl-svg: rgba(0, 0, 0, 0.26);
    }
  }
  .rbpl3-mui-pink {
    --glnrb-icon-fn-sz: 14px;
    --glnrb-def-lbl: rgba(0, 0, 0, 0.6);
    --glnrb-dis-lbl: rgba(0, 0, 0, 0.38);

    --glncl-primary-h: 338;
    --glncl-primary-s: 78%;
    --glncl-primary-l: 48%;

    --glncl-default-h: 338;
    --glncl-default-s: 78%;
    --glncl-default-l: 48%;
  }

}
