/*# sourceURL=cm-radio-basic.component.scss */

app-cm-radio-basic {
  display: block;

  // Page: Basic01
  .rbbs-fn-sz {
    font-size: 16px;
  }

  // Page: Attributes02a
  .rbat1-fn-sz {
    font-size: 16px;
  }

  // Page: Attributes02f
  .rbat2-fn-sz {
    font-size: 16px;
  }

}
