<section mr-vr>
  <h3 class="app-hover-link">
    API: GlnRegexCheck.
    <a [href]="urlDrRegexCheck + '#Api'">#</a>
  </h3>
  <p>
    Selector:
    <span fw500>[glnRegexCheck]</span>
  </p>
  <p>
    Exported as:
    <span fw500>glnRegexCheck</span>
  </p>
  <p>
    The directive checks the value of the input against the specified regular expression.
    If a mismatch is detected, then an error occurs with the "regexCheck" property.
  </p>
</section>

<section mr-vr>
  <h4 class="app-hover-link"
    id="properties">
    Properties.
    <a [href]="urlDrRegexCheck + '#properties'">#</a>
  </h4>
</section>

<table class="app-tab">
  <tr>
    <th class="app-mn-wd-22ch">Name</th>
    <th>Description</th>
  </tr>

  <tr>
    <td>
      <code>@Input()</code>
      <code>glnRegexCheck: string | GlnRegexCheck | null;</code>
    </td>
    <td>
      <span>A regular expression value or configuration object.
        <br />
        Examples of input value as regular expression:
      </span>
      <ul>
        <li><code>glnRegexCheck ="^-?(\d+)$"</code></li>
        <li><code>[glnRegexCheck]="'^-?(\\d+)$'"</code></li>
        <li><code>glnRegexCheck ="/^-?(\d+)$/i"</code></li>
        <li><code>[glnRegexCheck]="'/^-?(\\d+)$/i'"</code></li>
      </ul>
      <span>
        An example of an input value as a configuration:<br />
        <code>
          [glnRegexCheck]="&#123;<br />
          'Letters': '^(?=.*[a-zA-Z])[\\w\\W]&#123;1,&#125;$',<br />
          'Digits': '^(?=.*\\d)[\\w\\W]&#123;1,&#125;$',<br />
          'Symbols': '^(?=.*[!@#$%^&*])[\\w\\W]&#123;1,&#125;$'<br />
        &#125;"
        </code>
      </span>
    </td>
  </tr>
</table>

<section mr-vr>
  <h4 class="app-hover-link"
    id="additionally">
    Additionally.
    <a [href]="urlDrRegexCheck + '#additionally'">#</a>
  </h4>
  <p>
    At the moment of creation, the "GlnRegexCheck" directive adds its validation function to the
    Form Control.
    This works great if it's a simple control.
    For example, the GlnInput component is a complex control.
    Since it has its internal control element (FormControl), to which all validation functions
    apply.
    It turns out that the "GlnRegexCheck" directive can pass its validation function only to the
    external implementation of the "GlnInput" component.
    And the internal control element of the "GlnInput" component will not know anything about the
    new validation function.
    As a result, the "GlnInput" component will not be able to correctly apply the new validation
    function.
  </p>
  <p>
    To solve this problem, a mechanism of interaction between the "GlnRegexCheck" directive and the
    "GlnInput" component has been implemented.
    The "GlnInput" component implements the provider with the "GRN_NODE_INTERNAL_VALIDATOR" token.
    The "GlnRegexCheck" directive, when created, gets an instance of this provider, if any.
    The provider instance has its own "GlnNodeInternalValidator" interface.
    This interface provides methods for adding validation functions.
  </p>
  <ul>
    <li><code>addValidators(validators: ValidatorFn | ValidatorFn[]): void;</code></li>
    <li><code>addAsyncValidators(validators: AsyncValidatorFn | AsyncValidatorFn[]): void;</code>
    </li>
  </ul>
  <p>
    Thus, the "GlnRegexCheck" directive passes its check functions to the "GlnInput" component.
    And the "GlnInput" component in turn applies the new validation function to its internal control
    (FormControl).
    And everything works great.
  </p>
</section>