<h3>Component: "GrnTextarea"</h3>

<div *ngIf="!showNum || showNum==='01'"
  id="Basic">
  <app-textarea-basic></app-textarea-basic>
  <hr br-tp>
</div>

<div *ngIf="!showNum || showNum==='02'"
  id="Attributes">
  <app-textarea-attributes></app-textarea-attributes>
  <hr br-tp>
</div>

<div *ngIf="!showNum || showNum==='03'"
  id="Validation">
  <app-textarea-validation></app-textarea-validation>
  <hr br-tp>
</div>

<div *ngIf="!showNum || showNum==='04'"
  id="Capability">
  <app-textarea-capability></app-textarea-capability>
  <hr br-tp>
</div>



<section mr-vr
  id="ItemSize">
  <h3>Item Size</h3>
  <p>
    The <a [href]="urlFrameInput + '#FrameSize'">"GrnFrameInput#FrameSize"</a>
    page shows you how to resize an element.
  </p>
  <hr br-tp>
</section>

<section mr-vr
  id="HelperText">
  <h3>Helper text</h3>
  <p>
    The <a [href]="urlFrameInput + '#HelperText'">"GrnFrameInput#HelperText"</a>
    page shows you how to effectively use the helperText property.
  </p>
  <hr br-tp>
</section>

<section mr-vr
  id="BorderRadius">
  <h3>Border Radius</h3>
  <p>
    The <a [href]="urlFrameInput + '#BorderRadius'">"GrnFrameInput#BorderRadius"</a>
    page shows you how to change the rounding radius of an element.
  </p>
  <hr br-tp>
</section>

<section mr-vr
  id="Palette">
  <h3>Palette</h3>
  <p>
    The <a [href]="urlFrameInput + '#Palette'">"GrnFrameInput#Palette"</a>
    page shows you how to change the color palette of an element.
  </p>
  <hr br-tp>
</section>

<div *ngIf="!showNum || showNum==='05'"
  id="Api">
  <app-textarea-api></app-textarea-api>
  <hr br-tp>
</div>

<br />
<br />