/*# sourceURL=textarea.component.scss */

app-textarea {
  display: block;

  .ta-section {
    margin-top: 20px;
    margin-bottom: 15px;
  }
  .ta-row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .ta-item {
    width: 240px;
    margin: 10px 10px;
  }
}
