<h3>Component: "GrnTextarea"</h3>

<section *ngIf="!showNum || showNum==='01'"
  id="Basic">
  <app-textarea-basic></app-textarea-basic>
  <hr br-tp>
</section>

<section *ngIf="!showNum || showNum==='02'"
  id="Attributes">
  <app-textarea-attributes></app-textarea-attributes>
  <hr br-tp>
</section>

<!-- <section *ngIf="!showNum || showNum==='03'" id="Validation">
  <app-input-validation></app-input-validation>
  <hr br-tp>
</section> -->

<!-- <section *ngIf="!showNum || showNum==='04'" id="ItemSize">
  <app-input-item-size></app-input-item-size>
  <hr br-tp>
</section> -->

<!-- <section *ngIf="!showNum || showNum==='0?'" id="Api">
  <app-textarea-api></app-textarea-api>
  <hr br-tp>
</section> -->

<br />
<br />