<h3>Component: "GrnTextarea"</h3>

<div *ngIf="!showNum || showNum==='01'"
  id="Basic">
  <app-textarea-basic></app-textarea-basic>
  <hr br-tp>
</div>

<div *ngIf="!showNum || showNum==='02'"
  id="Attributes">
  <app-textarea-attributes></app-textarea-attributes>
  <hr br-tp>
</div>

<div *ngIf="!showNum || showNum==='03'"
  id="Validation">
  <app-textarea-validation></app-textarea-validation>
  <hr br-tp>
</div>

<div *ngIf="!showNum || showNum==='04'"
  id="Capability">
  <app-textarea-capability></app-textarea-capability>
  <hr br-tp>
</div>

<div *ngIf="!showNum || showNum==='05'"
  id="Api">
  <app-textarea-api></app-textarea-api>
  <hr br-tp>
</div>

<br />
<br />