<section mr-vr>
  <h3>Feature</h3>
  <p>
    For angular 12, there was still an issue with the second call to the
    ControlValueAccessor writeValue method when using [(ngModel)].
    <br />
    <a href="https://github.com/angular/angular/issues/14988">
      ValueAccessor.writeValue is being called twice, first time with a phantom null value
    </a>
    <br />
    That is, if we use [(ngModel)], then after calling AfterViewInit (for all components
    on the page), a second writeValue call is made, which passes the value of the element.
    Since the second call to writeValue occurs after a significant time interval, there
    is a parasitic animation of the transition from the error state to the normal state.
    <br />
    This can be seen in an example:
  </p>
  <p></p>
</section>

<section mr-vr>
  <span>exterior: </span>
  <mat-button-toggle-group value="exterior08a"
    (change)="exterior08a=$event.value">
    <mat-button-toggle [checked]="exterior08a==='outlined'"
      value="outlined">{{ labelOutlined }}</mat-button-toggle>
    <mat-button-toggle [checked]="exterior08a==='underline'"
      value="underline">{{ labelUnderline }}</mat-button-toggle>
    <mat-button-toggle [checked]="exterior08a==='standard'"
      value="standard">{{ labelStandard }}</mat-button-toggle>
  </mat-button-toggle-group>
</section>

<div class="app-group">

  <div class="app-elem">
    <gln-input [(ngModel)]="model08a"
      label="Parameter value 1"
      helperText="Field for parameter 1."
      #ctrl08a="ngModel"
      [isError]="!ctrl08a.value ? '':null"
      [exterior]="exterior08a">
    </gln-input>
  </div>

  <div class="app-elem">
    <gln-input [(ngModel)]="model08b"
      label="Parameter value 2"
      helperText="Field for parameter 2."
      #ctrl08b="ngModel"
      [isError]="!ctrl08b.value ? '':null"
      [exterior]="exterior08a">
    </gln-input>
  </div>

</div>

<section mr-vr2>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="labelHtml">
          <code><pre source="html">
&lt;div class="app-group"&gt;

  &lt;div class="app-elem"&gt;
    &lt;gln-input [(ngModel)]="model08a"
      label="Parameter value 1"
      helperText="Field for parameter 1."
      #ctrl08a="ngModel"
      [isError]="!ctrl08a.value ? '':null"
      [exterior]="exterior08a"&gt;
    &lt;/gln-input&gt;
  &lt;/div&gt;

  &lt;div class="app-elem"&gt;
    &lt;gln-input [(ngModel)]="model08b"
      label="Parameter value 2"
      helperText="Field for parameter 2."
      #ctrl08b="ngModel"
      [isError]="!ctrl08b.value ? '':null"
      [exterior]="exterior08a"&gt;
    &lt;/gln-input&gt;
  &lt;/div&gt;

&lt;/div&gt;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelTs">
          <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';

@Component(&#123;
  selector: 'app-feature',
  templateUrl: './feature.component.html',
  styleUrls: ['./feature.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class FeatureComponent implements OnInit &#123;
  public exterior08a = 'outlined';

  public model08a = 'Hello World';
  public model08b = 'Hello World';
&#125;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelCss">
          <code><pre source="css">
.app-group &#123;
  display: flex;
  flex-wrap: wrap;
&#125;
.app-elem &#123;
  min-width: 26ch;
  margin: 10px 10px;
&#125;</pre></code>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
</section>

<section mr-vr>
  <p>
    But if for some reason you use [(ngModel)], then it is possible to change the
    rendering algorithm when the component is initialized.
    <br />
    This requires adding parameters: isValueInit, isNoAnimation, writeValueInit.
  </p>
</section>

<div class="app-group">

  <div class="app-elem">
    <gln-input [(ngModel)]="model08c"
      label="Parameter value 3"
      helperText="Field for parameter 3."
      #ctrl08c="ngModel"
      [isError]="!ctrl08c.value ? '':null"
      [exterior]="exterior08a"
      isValueInit
      [isNoAnimation]="noAnm08c"
      (writeValueInit)="noAnm08c=false">
    </gln-input>
  </div>

  <div class="app-elem">
    <gln-input [(ngModel)]="model08d"
      label="Parameter value 4"
      helperText="Field for parameter 4."
      #ctrl08d="ngModel"
      [isError]="!ctrl08d.value ? '':null"
      [exterior]="exterior08a"
      isValueInit
      [isNoAnimation]="noAnm08d"
      (writeValueInit)="noAnm08d=false">
    </gln-input>
  </div>

</div>

<section mr-vr2>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="labelHtml">
          <code><pre source="html">
&lt;div class="app-group"&gt;

  &lt;div class="app-elem"&gt;
    &lt;gln-input [(ngModel)]="model08c"
      label="Parameter value 3"
      helperText="Field for parameter 3."
      #ctrl08c="ngModel"
      [isError]="!ctrl08c.value ? '':null"
      [exterior]="exterior08a"
      isValueInit
      [isNoAnimation]="noAnm08c"
      (writeValueInit)="noAnm08c=false"&gt;
    &lt;/gln-input&gt;
  &lt;/div&gt;

  &lt;div class="app-elem"&gt;
    &lt;gln-input [(ngModel)]="model08d"
      label="Parameter value 4"
      helperText="Field for parameter 4."
      #ctrl08d="ngModel"
      [isError]="!ctrl08d.value ? '':null"
      [exterior]="exterior08a"
      isValueInit
      [isNoAnimation]="noAnm08d"
      (writeValueInit)="noAnm08d=false"&gt;
    &lt;/gln-input&gt;
  &lt;/div&gt;

&lt;/div&gt;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelTs">
          <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';

@Component(&#123;
  selector: 'app-feature',
  templateUrl: './feature.component.html',
  styleUrls: ['./feature.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class FeatureComponent implements OnInit &#123;
  public exterior08a = 'outlined';

  public model08c = 'Hello World';
  public noAnm08c = true;

  public model08d = 'Hello World';
  public noAnm08d = true;
&#125;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelCss">
          <code><pre source="css">
.app-group &#123;
  display: flex;
  flex-wrap: wrap;
&#125;
.app-elem &#123;
  min-width: 26ch;
  margin: 10px 10px;
&#125;</pre></code>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
</section>

<section mr-vr>
  <span>Let's add a sign to disable the animation.</span>
  <code><pre source="ts">
public noAnm08c = true;</pre></code>
  <span>Let's add event handling after the second call to "writeValue".</span>
  <code><pre source="html">
&lt;gln-input [(ngModel)]="model08c"
  isValueInit
  [isNoAnimation]="noAnm08c"
  (writeValueInit)="noAnm08c=false"&gt;
&lt;/gln-input&gt;</pre></code>
  <p>
    In this case, when the component is created, the flag for disabling animation is set.
    And only after the second call to writeValue and when using setTimeout,
    the animation will be enabled.
  </p>
  <p>
    But we strongly recommend DO NOT USE [(ngModel)] (at least in production).
  </p>
</section>