<section mr-vr>
  <p>
    It is also possible to change the color palette for an input element
    by defining appropriate CSS variables.
  </p>
  <code><pre source="css">
// The second variant of the palette definition.

.fp-second &#123;
  // ** Section: Color "label". **
  // The state without disabled, error, hover, focused.
  --glnf-def-lb-cl: #558b2f;
  // The state without disabled, error, focused and with hover.
  --glnf-hov-lb-cl: #1b5e20; // #689f38;
  // The state without disabled, error and with focused.
  --glnf-foc-lb-cl: #2e7d32;
  // The state without disabled, hover, focused and error.
  --glnf-err-lb-cl: #ef6c00;
  // The state without disabled, focused and error, hover.
  --glnf-hov-err-lb-cl: #e66502;
  // The state without disabled and error, focused.
  --glnf-foc-err-lb-cl: #e65100;
  // The state with disabled.
  --glnf-dis-lb-cl: #ab47bc;
  ...
&#125;</pre></code>
</section>

<section mr-vr>
  <span>exterior: </span>
  <mat-button-toggle-group [(ngModel)]="exterior06c">
    <mat-button-toggle value="outlined">{{ labelOutlined }}</mat-button-toggle>
    <mat-button-toggle value="underline">{{ labelUnderline }}</mat-button-toggle>
    <mat-button-toggle value="standard">{{ labelStandard }}</mat-button-toggle>
  </mat-button-toggle-group>
</section>

<form [formGroup]="formGroup06c"
  novalidate
  autocomplete="off">

  <div class="app-group fp-second">

    <div class="app-elem">
      <div>
        <small>
          <em>State: empty.</em>
        </small>
      </div>
      <gln-input formControlName="model06k"
        label="Enter value"
        [exterior]="exterior06c">
      </gln-input>
    </div>

    <div class="app-elem">
      <div>
        <small>
          <em>Attributes: isRequired, helperText.</em>
        </small>
      </div>
      <gln-input formControlName="model06l"
        label="Required field"
        isRequired
        helperText="A value must be entered."
        [exterior]="exterior06c">
      </gln-input>
    </div>

    <div class="app-elem">
      <div>
        <small>
          <em>Attribute: isReadOnly.</em>
        </small>
      </div>
      <gln-input formControlName="model06m"
        label="Read Only"
        isReadOnly
        helperText="The parameter is read only."
        [exterior]="exterior06c">
      </gln-input>
    </div>

    <div class="app-elem">
      <div>
        <small>
          <em>Attribute: isDisabled.</em>
        </small>
      </div>
      <gln-input formControlName="model06n"
        label="Disabled"
        isDisabled
        helperText="The parameter is disabled."
        [exterior]="exterior06c">
      </gln-input>
    </div>

    <div class="app-elem">
      <div>
        <small>
          <em>Attribute: isRequired, minLength.</em>
        </small>
      </div>
      <gln-input formControlName="model06o"
        [label]="controls06c.model06o.errors ? 'Error':'Value'"
        isRequired
        [minLength]="minLength06c"
        helperText="
        {{(controls06c.model06o.errors?.required ?
          'Required field.':
          (controls06c.model06o.errors?.minlength ?
            'Minimum length '
            + controls06c.model06o.errors?.minlength.requiredLength
            + ' characters.'
            :'Enter value.'
          )
        )}}"
        [exterior]="exterior06c">
      </gln-input>
    </div>

    <div class="app-elem">
      <div>
        <small>
          <em>Attribute: isError + isDisabled.</em>
        </small>
      </div>
      <gln-input formControlName="model06p"
        label="Error-Disabled"
        isError
        isDisabled
        helperText="The parameter is disabled."
        [exterior]="exterior06c">
      </gln-input>
    </div>

  </div>

</form>

<section mr-vr>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="labelHtml">
          <code><pre source="html">
&lt;form [formGroup]="formGroup06c"
  novalidate
  autocomplete="off"&gt;

  &lt;div class="app-group fp-second"&gt;

    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;State: empty.&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;gln-input formControlName="model06k"
        label="Enter value"
        [exterior]="exterior06c"&gt;
      &lt;/gln-input&gt;
    &lt;/div&gt;

    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;Attributes: isRequired, helperText.&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;gln-input formControlName="model06l"
        label="Required field"
        isRequired
        helperText="A value must be entered."
        [exterior]="exterior06c"&gt;
      &lt;/gln-input&gt;
    &lt;/div&gt;

    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;Attribute: isReadOnly.&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;gln-input formControlName="model06m"
        label="Read Only"
        isReadOnly
        helperText="The parameter is read only."
        [exterior]="exterior06c"&gt;
      &lt;/gln-input&gt;
    &lt;/div&gt;

    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;Attribute: isDisabled.&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;gln-input formControlName="model06n"
        label="Disabled"
        isDisabled
        helperText="The parameter is disabled."
        [exterior]="exterior06c"&gt;
      &lt;/gln-input&gt;
    &lt;/div&gt;

    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;Attribute: isRequired, minLength.&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;gln-input formControlName="model06o"
        [label]="controls06c.model06o.errors ? 'Error':'Value'"
        isRequired
        [minLength]="minLength06c"
        helperText="
        <b>&#123;</b>&#123;(controls06c.model06o.errors?.required ?
          'Required field.':
          (controls06c.model06o.errors?.minlength ?
            'Minimum length '
            + controls06c.model06o.errors?.minlength.requiredLength
            + ' characters.'
            :'Enter value.'
          )
        )&#125;&#125;"
        [exterior]="exterior06c"&gt;
      &lt;/gln-input&gt;
    &lt;/div&gt;

    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;Attribute: isError + isDisabled.&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;gln-input formControlName="model06p"
        label="Error-Disabled"
        isError
        isDisabled
        helperText="The parameter is disabled."
        [exterior]="exterior06c"&gt;
      &lt;/gln-input&gt;
    &lt;/div&gt;

  &lt;/div&gt;

&lt;/form&gt;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelTs">
          <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';
import &#123;
  FormControl, FormGroup, Validators
&#125; from '@angular/forms';

@Component(&#123;
  selector: 'app-frame-input',
  templateUrl: './frame-input.component.html',
  styleUrls: ['./frame-input.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class FrameComponent &#123;
  public minLength06c = 5;
  public controls06c = &#123;
    model06k: new FormControl('', []),
    model06l: new FormControl('Hello World', [Validators.required]),
    model06m: new FormControl('Hello World', []),
    model06n: new FormControl('Hello World', []),
    model06o: new FormControl('demo', [
      Validators.required, Validators.minLength(this.minLength06c)
    ]),
    model06p: new FormControl('Hello World', []),
  &#125;;
  public formGroup06c: FormGroup = new FormGroup(this.controls06c);
  public exterior06c = 'outlined';
&#125;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelCss">
          <code><pre source="css">
.app-group &#123;
  display: flex;
  flex-wrap: wrap;
&#125;
.app-elem &#123;
  min-width: 26ch;
  margin: 10px 10px;
&#125;

// The second variant of the palette definition.

.fp-second &#123;
  // ** Section: Color "label". **
  // The state without disabled, error, hover, focused.
  --glnf-def-lb-cl: #558b2f;
  // The state without disabled, error, focused and with hover.
  --glnf-hov-lb-cl: #1b5e20; // #689f38;
  // The state without disabled, error and with focused.
  --glnf-foc-lb-cl: #2e7d32;
  // The state without disabled, hover, focused and error.
  --glnf-err-lb-cl: #ef6c00;
  // The state without disabled, focused and error, hover.
  --glnf-hov-err-lb-cl: #c45418;
  // The state without disabled and error, focused.
  --glnf-foc-err-lb-cl: #d85e01; // #e65100;
  // The state with disabled.
  --glnf-dis-lb-cl: #ab47bc;

  // ** Section: Background-Color "div.glnf-border" for "Underline" mode. **
  // The state without disabled, error, hover, focused.
  --glnf-def-bg-cl: #e8f5e9;
  // The state without disabled, error, focused and with hover.
  --glnf-hov-bg-cl: #dcedc8; // #689f38;
  // The state without disabled, error and with focused.
  --glnf-foc-bg-cl: #c8e6c9;
  // The state without disabled, hover, focused and error.
  --glnf-err-bg-cl: #fcd9ce;
  // The state without disabled, focused and error, hover.
  --glnf-hov-err-bg-cl: #fbe9e7;
  // The state without disabled and error, focused.
  --glnf-foc-err-bg-cl: #ffd3c5;
  // The state with disabled.
  --glnf-dis-bg-cl: #f6e8f8;

  // Border-Bottom-Color "div.glnf-border" for "Outlined" and "Standard" mode.
  // The state without disabled, error, hover, focused.
  --glnf-def-brb-bf: #558b2f;
  // The state without disabled, error and with hover.
  --glnf-hov-brb-bf: #1b5e20;
  // The state without disabled, hover, focused and error.
  --glnf-err-brb-bf: #ef6c00;
  // The state without disabled, focused and error, hover.
  --glnf-hov-err-brb-bf: #e66502;
  // The state without disabled, error and focused.
  --glnf-foc-brb-af: #2e7d32;
  // The state without disabled and error, focused.
  --glnf-foc-err-brb-af: #e65100;
  // The state with disabled.
  --glnf-dis-brb-bf: #ab47bc;

  // ** Section "Fieldset" for "Outlined" mode. **
  // The state without disabled, error, hover, focused.
  --glnf-def-br-cl: #558b2f;
  // The state without disabled, error, focused and with hover.
  --glnf-hov-br-cl: #1b5e20;
  // The state without disabled, error and with focused.
  --glnf-foc-br-cl: #2e7d32;
  // The state without disabled, hover, focused and error.
  --glnf-err-br-cl: #ef6c00;
  // The state without disabled, focused and error, hover.
  --glnf-hov-err-br-cl: #c45418;
  // The state without disabled and error, focused.
  --glnf-foc-err-br-cl: #d85e01;
  // The state with disabled.
  --glnf-dis-br-cl: #ab47bc;

  // Color for "HintOrError".
  // The state without error, focused and disabled.
  --glnhe-def-cl: #558b2f;
  // The state with error.
  --glnhe-err-cl: #ef6c00;
  // The state with focused but without error.
  --glnhe-foc-cl: #1b5e20;
  // The state with focused but with error.
  --glnhe-foc-err-cl: #e65100;
  // The state with disabled but without error.
  --glnhe-dis-cl: #ab47bc;
&#125;</pre></code>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
</section>

<hr br-nn>