<section mr-vr>
  <h3>Border radius.</h3>
  <p>
    For components that use GlnFrame it is possible to change the border-radius
    css property.
    This requires creating a css variable "--glnf-br-rd" at the level of the component
    or any parent element.
    The value of this css variable can be any valid (as described by
    <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/border-radius">
      "border-radius"
    </a>) value.
  </p>
  <span>For example:</span>
  <code><pre source="html">
&lt;div&gt;
  &lt;gln-input style="--glnf-br-rd: 25px;"
    [(ngModel)]="inputData"
    label="Enter value"
    exterior="outlined"
    [config]="&#123; labelPd: 29 &#125;"&gt;
  &lt;/gln-input&gt;
&lt;/div&gt;</pre></code>
  <span>Another example:</span>
  <code><pre source="html">
&lt;div style="--glnf-br-rd: 25px;"&gt;
  &lt;gln-input [(ngModel)]="inputData"
    label="Enter value"
    exterior="outlined"
    [config]="&#123; labelPd: 29 &#125;"&gt;
  &lt;/gln-input&gt;
&lt;/div&gt;</pre></code>
  <p>
    In the same way, you can change the border-radius for the "Underline" mode.
  </p>
  <code><pre source="html">
&lt;div&gt;
  &lt;gln-input style="--glnf-br-rd: 25px 25px 0 0;"
    [(ngModel)]="inputData"
    label="Enter value"
    exterior="underline"
    [config]="&#123; labelPd: 20 &#125;"&gt;
  &lt;/gln-input&gt;
&lt;/div&gt;</pre></code>
  <p>
    This value for the fillet radius corresponds to 50% of the height of the current element.<br />
    The minimum value for the fillet radius is 0.<br />
    The maximum value for the fillet radius is 50% of the height of the current element.<br />
  </p>
  <p>
    You can also change the value of the left / right indents, for a more convenient perception.
  </p>
</section>


<section mr-vr>
  <span>exterior: </span>
  <mat-button-toggle-group [(ngModel)]="exterior05">
    <mat-button-toggle value="outlined">{{ labelOutlined }}</mat-button-toggle>
    <mat-button-toggle value="underline">{{ labelUnderline }}</mat-button-toggle>
  </mat-button-toggle-group>
</section>

<section mr-vr
  class="fbr-slider-box">
  <p>
    <span>
      border-radius = ( BaseSize * <b class="fbr-slider-value">{{ borderRadius }}</b>/100)
    </span>
  </p>
  <input type="range"
    class="fbr-border-radius-marks"
    min="0"
    max="50"
    step="5"
    list="border-radius-marks"
    [(ngModel)]="borderRadius" />
  <datalist id="border-radius-marks">
    <option value="0"></option>
    <option value="5"></option>
    <option value="10"></option>
    <option value="15"></option>
    <option value="20"></option>
    <option value="25"></option>
    <option value="30"></option>
    <option value="35"></option>
    <option value="40"></option>
    <option value="45"></option>
    <option value="50"></option>
  </datalist>
</section>

<section mr-vr>
  <label>
    <input type="checkbox"
      [(ngModel)]="isAddPadding05" />
    Add padding ( BaseSize * {{ getRatio(exterior05) }})
  </label>
</section>

<section mr-vr>
  <label>
    <input type="checkbox"
      [(ngModel)]="isNoLabel05" />
    is no Label
  </label>
</section>


<form class="fbr-outlined-radius fbr-underline-radius"
  [formGroup]="formGroup05"
  novalidate
  autocomplete="off">

  <div class="app-group">
    <div>
      <small><em>"Short" height: 38px; font-size: 16px;</em></small>
    </div>
  </div>
  <hr br-nn-m8>

  <div class="app-group"
    [attr.style]="safeStyle(propRadius + ':'
      + getRadius(getValue(sizeShort) * borderRadius / 100, exterior05))">

    <div class="app-elem">
      <gln-input formControlName="input05a"
        label="Enter value"
        [noLabel]="isNoLabel05 ? '':null"
        frameSize="short"
        [exterior]="exterior05"
        [config]="isAddPadding05
          ? getConfig(getValue(sizeShort) * getRatio(exterior05)) : null">
      </gln-input>
    </div>

  </div>

  <section mr-vr2>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-tab-group animationDuration="0ms">
          <mat-tab [label]="labelHtml">
            <code><pre source="html">
&lt;div class="app-group"
  [attr.style]="safeStyle(propRadius + ':'
    + getRadius(getValue(sizeShort) * borderRadius / 100, exterior05))"&gt;

&lt;div class="app-elem"&gt;
  &lt;gln-input formControlName="input05a"
    label="Enter value"
    [noLabel]="isNoLabel05 ? '':null"
    frameSize="short"
    [exterior]="exterior05"
    [config]="isAddPadding05
      ? getConfig(getValue(sizeShort) * getRatio(exterior05)) : null"&gt;
  &lt;/gln-input&gt;
&lt;/div&gt;

&lt;/div&gt;</pre></code>
          </mat-tab>
          <mat-tab [label]="labelTs">
            <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';
import &#123;
  FormControl, FormGroup
&#125; from '@angular/forms';

@Component(&#123;
  selector: 'app-button',
  templateUrl: './button.component.html',
  styleUrls: ['./button.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class ButtonComponent &#123;
  public borderRadius = 50;
  public propRadius = '--glnf-br-rd';
  public ratioOutlined = 0.58;
  public ratioUnderline = 0.4;
  public exterior05 = 'outlined';
  public isAddPadding05 = true;

  public sizeShort = GlnFrameSize.short;

  public formGroup05: FormGroup = new FormGroup(&#123;
    input05a: new FormControl('Demo Size Short', []),
  &#125;

  constructor(private sanitizer: DomSanitizer) &#123;&#125;

  public safeStyle(style: string): SafeStyle &#123;
    return this.sanitizer.bypassSecurityTrustStyle(style);
  &#125;
  public getValue(value: GlnFrameSize): number &#123;
    return GlnFrameSizeUtil.getValue(value) || 0;
  &#125;
  public getRadius(value: number, exterior: string): string &#123;
    return exterior === 'underline' ? value + 'px ' + value + 'px 0 0' : value + 'px';
  &#125;
  public getRatio(exterior: string): number &#123;
    return exterior === 'underline' ? this.ratioUnderline : this.ratioOutlined;
  &#125;
  public getConfig(labelPd: number): GlnButtonConfig &#123;
    return &#123; labelPd &#125;;
  &#125;
&#125;</pre></code>
          </mat-tab>
          <mat-tab [label]="labelCss">
            <code><pre source="css">
.app-group &#123;
  display: flex;
  flex-wrap: wrap;
&#125;
.app-elem &#123;
  min-width: 26ch;
  margin: 10px 10px;
&#125;</pre></code>
          </mat-tab>
        </mat-tab-group>
      </mat-expansion-panel>
    </mat-accordion>
  </section>

  <hr br-nn>

  <div class="app-group">
    <div>
      <small><em>"Small" height: 44px; font-size: 16px;</em></small>
    </div>
  </div>
  <hr br-nn-m8>

  <div class="app-group"
    [attr.style]="safeStyle(propRadius + ':'
      + getRadius(getValue(sizeSmall) * borderRadius / 100, exterior05))">

    <div class="app-elem">
      <gln-input formControlName="input05b"
        label="Enter value"
        [noLabel]="isNoLabel05 ? '':null"
        frameSize="small"
        [exterior]="exterior05"
        [config]="isAddPadding05
          ? getConfig(getValue(sizeSmall) * getRatio(exterior05)) : null">
      </gln-input>
    </div>

  </div>

  <section mr-vr2>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-tab-group animationDuration="0ms">
          <mat-tab [label]="labelHtml">
            <code><pre source="html">
&lt;div class="app-group"
  [attr.style]="safeStyle(propRadius + ':'
    + getRadius(getValue(sizeSmall) * borderRadius / 100, exterior05))"&gt;

&lt;div class="app-elem"&gt;
  &lt;gln-input formControlName="input05b"
    label="Enter value"
    [noLabel]="isNoLabel05 ? '':null"
    frameSize="small"
    [exterior]="exterior05"
    [config]="isAddPadding05
      ? getConfig(getValue(sizeSmall) * getRatio(exterior05)) : null"&gt;
  &lt;/gln-input&gt;
&lt;/div&gt;

&lt;/div&gt;</pre></code>
          </mat-tab>
          <mat-tab [label]="labelTs">
            <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';
import &#123;
  FormControl, FormGroup
&#125; from '@angular/forms';

@Component(&#123;
  selector: 'app-button',
  templateUrl: './button.component.html',
  styleUrls: ['./button.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class ButtonComponent &#123;
  public borderRadius = 50;
  public propRadius = '--glnf-br-rd';
  public ratioOutlined = 0.58;
  public ratioUnderline = 0.4;
  public exterior05 = 'outlined';
  public isAddPadding05 = true;

  public sizeSmall = GlnFrameSize.small;

  public formGroup05: FormGroup = new FormGroup(&#123;
    input05b: new FormControl('Demo Size Small', []),
  &#125;

  constructor(private sanitizer: DomSanitizer) &#123;&#125;

  public safeStyle(style: string): SafeStyle &#123;
    return this.sanitizer.bypassSecurityTrustStyle(style);
  &#125;
  public getValue(value: GlnFrameSize): number &#123;
    return GlnFrameSizeUtil.getValue(value) || 0;
  &#125;
  public getRadius(value: number, exterior: string): string &#123;
    return exterior === 'underline' ? value + 'px ' + value + 'px 0 0' : value + 'px';
  &#125;
  public getRatio(exterior: string): number &#123;
    return exterior === 'underline' ? this.ratioUnderline : this.ratioOutlined;
  &#125;
  public getConfig(labelPd: number): GlnButtonConfig &#123;
    return &#123; labelPd &#125;;
  &#125;
&#125;</pre></code>
          </mat-tab>
          <mat-tab [label]="labelCss">
            <code><pre source="css">
.app-group &#123;
  display: flex;
  flex-wrap: wrap;
&#125;
.app-elem &#123;
  min-width: 26ch;
  margin: 10px 10px;
&#125;</pre></code>
          </mat-tab>
        </mat-tab-group>
      </mat-expansion-panel>
    </mat-accordion>
  </section>

  <hr br-nn>

  <div class="app-group">
    <div>
      <small><em>"Middle" height: 50px; font-size: 16px;</em></small>
    </div>
  </div>
  <hr br-nn-m8>

  <div class="app-group"
    [attr.style]="safeStyle(propRadius + ':'
      + getRadius(getValue(sizeMiddle) * borderRadius / 100, exterior05))">

    <div class="app-elem">
      <gln-input formControlName="input05c"
        label="Enter value"
        [noLabel]="isNoLabel05 ? '':null"
        frameSize="middle"
        [exterior]="exterior05"
        [config]="isAddPadding05
          ? getConfig(getValue(sizeMiddle) * getRatio(exterior05)) : null">
      </gln-input>
    </div>

  </div>

  <section mr-vr2>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-tab-group animationDuration="0ms">
          <mat-tab [label]="labelHtml">
            <code><pre source="html">
&lt;div class="app-group"
  [attr.style]="safeStyle(propRadius + ':'
    + getRadius(getValue(sizeMiddle) * borderRadius / 100, exterior05))"&gt;

&lt;div class="app-elem"&gt;
  &lt;gln-input formControlName="input05c"
    label="Enter value"
    [noLabel]="isNoLabel05 ? '':null"
    frameSize="middle"
    [exterior]="exterior05"
    [config]="isAddPadding05
      ? getConfig(getValue(sizeMiddle) * getRatio(exterior05)) : null"&gt;
  &lt;/gln-input&gt;
&lt;/div&gt;

&lt;/div&gt;</pre></code>
          </mat-tab>
          <mat-tab [label]="labelTs">
            <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';
import &#123;
  FormControl, FormGroup
&#125; from '@angular/forms';

@Component(&#123;
  selector: 'app-button',
  templateUrl: './button.component.html',
  styleUrls: ['./button.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class ButtonComponent &#123;
  public borderRadius = 50;
  public propRadius = '--glnf-br-rd';
  public ratioOutlined = 0.58;
  public ratioUnderline = 0.4;
  public exterior05 = 'outlined';
  public isAddPadding05 = true;

  public sizeMiddle = GlnFrameSize.middle;

  public formGroup05: FormGroup = new FormGroup(&#123;
    input05c: new FormControl('Demo Size Middle', []),
  &#125;

  constructor(private sanitizer: DomSanitizer) &#123;&#125;

  public safeStyle(style: string): SafeStyle &#123;
    return this.sanitizer.bypassSecurityTrustStyle(style);
  &#125;
  public getValue(value: GlnFrameSize): number &#123;
    return GlnFrameSizeUtil.getValue(value) || 0;
  &#125;
  public getRadius(value: number, exterior: string): string &#123;
    return exterior === 'underline' ? value + 'px ' + value + 'px 0 0' : value + 'px';
  &#125;
  public getRatio(exterior: string): number &#123;
    return exterior === 'underline' ? this.ratioUnderline : this.ratioOutlined;
  &#125;
  public getConfig(labelPd: number): GlnButtonConfig &#123;
    return &#123; labelPd &#125;;
  &#125;
&#125;</pre></code>
          </mat-tab>
          <mat-tab [label]="labelCss">
            <code><pre source="css">
.app-group &#123;
  display: flex;
  flex-wrap: wrap;
&#125;
.app-elem &#123;
  min-width: 26ch;
  margin: 10px 10px;
&#125;</pre></code>
          </mat-tab>
        </mat-tab-group>
      </mat-expansion-panel>
    </mat-accordion>
  </section>

  <hr br-nn>

  <div class="app-group">
    <div>
      <small><em>"Wide" height: 56px; font-size: 16px;</em></small>
    </div>
  </div>
  <hr br-nn-m8>

  <div class="app-group"
    [attr.style]="safeStyle(propRadius + ':'
      + getRadius(getValue(sizeWide) * borderRadius / 100, exterior05))">

    <div class="app-elem">
      <gln-input formControlName="input05d"
        label="Enter value"
        [noLabel]="isNoLabel05 ? '':null"
        frameSize="wide"
        [exterior]="exterior05"
        [config]="isAddPadding05
          ? getConfig(getValue(sizeWide) * getRatio(exterior05)) : null">
      </gln-input>
    </div>

  </div>

  <section mr-vr2>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-tab-group animationDuration="0ms">
          <mat-tab [label]="labelHtml">
            <code><pre source="html">
&lt;div class="app-group"
  [attr.style]="safeStyle(propRadius + ':'
    + getRadius(getValue(sizeWide) * borderRadius / 100, exterior05))"&gt;

&lt;div class="app-elem"&gt;
  &lt;gln-input formControlName="input05d"
    label="Enter value"
    [noLabel]="isNoLabel05 ? '':null"
    frameSize="wide"
    [exterior]="exterior05"
    [config]="isAddPadding05
      ? getConfig(getValue(sizeWide) * getRatio(exterior05)) : null"&gt;
  &lt;/gln-input&gt;
&lt;/div&gt;

&lt;/div&gt;</pre></code>
          </mat-tab>
          <mat-tab [label]="labelTs">
            <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';
import &#123;
  FormControl, FormGroup
&#125; from '@angular/forms';

@Component(&#123;
  selector: 'app-button',
  templateUrl: './button.component.html',
  styleUrls: ['./button.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class ButtonComponent &#123;
  public borderRadius = 50;
  public propRadius = '--glnf-br-rd';
  public ratioOutlined = 0.58;
  public ratioUnderline = 0.4;
  public exterior05 = 'outlined';
  public isAddPadding05 = true;

  public sizeWide = GlnFrameSize.wide;

  public formGroup05: FormGroup = new FormGroup(&#123;
    input05d: new FormControl('Demo Size Wide', []),
  &#125;

  constructor(private sanitizer: DomSanitizer) &#123;&#125;

  public safeStyle(style: string): SafeStyle &#123;
    return this.sanitizer.bypassSecurityTrustStyle(style);
  &#125;
  public getValue(value: GlnFrameSize): number &#123;
    return GlnFrameSizeUtil.getValue(value) || 0;
  &#125;
  public getRadius(value: number, exterior: string): string &#123;
    return exterior === 'underline' ? value + 'px ' + value + 'px 0 0' : value + 'px';
  &#125;
  public getRatio(exterior: string): number &#123;
    return exterior === 'underline' ? this.ratioUnderline : this.ratioOutlined;
  &#125;
  public getConfig(labelPd: number): GlnButtonConfig &#123;
    return &#123; labelPd &#125;;
  &#125;
&#125;</pre></code>
          </mat-tab>
          <mat-tab [label]="labelCss">
            <code><pre source="css">
.app-group &#123;
  display: flex;
  flex-wrap: wrap;
&#125;
.app-elem &#123;
  min-width: 26ch;
  margin: 10px 10px;
&#125;</pre></code>
          </mat-tab>
        </mat-tab-group>
      </mat-expansion-panel>
    </mat-accordion>
  </section>

  <hr br-nn>

  <div class="app-group">
    <div>
      <small><em>"Large" height: 62px; font-size: 18px;</em></small>
    </div>
  </div>
  <hr br-nn-m8>

  <div class="app-group"
    [attr.style]="safeStyle(propRadius + ':'
      + getRadius(getValue(sizeLarge) * borderRadius / 100, exterior05))">

    <div class="app-elem">
      <gln-input formControlName="input05e"
        class="fbr-large"
        label="Enter value"
        [noLabel]="isNoLabel05 ? '':null"
        frameSize="large"
        [exterior]="exterior05"
        [config]="isAddPadding05
          ? getConfig(getValue(sizeLarge) * getRatio(exterior05)) : null">
      </gln-input>
    </div>

  </div>

  <section mr-vr2>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-tab-group animationDuration="0ms">
          <mat-tab [label]="labelHtml">
            <code><pre source="html">
&lt;div class="app-group"
  [attr.style]="safeStyle(propRadius + ':'
    + getRadius(getValue(sizeLarge) * borderRadius / 100, exterior05))"&gt;

&lt;div class="app-elem"&gt;
  &lt;gln-input formControlName="input05e"
    class="fbr-large"
    label="Enter value"
    [noLabel]="isNoLabel05 ? '':null"
    frameSize="large"
    [exterior]="exterior05"
    [config]="isAddPadding05
      ? getConfig(getValue(sizeLarge) * getRatio(exterior05)) : null"&gt;
  &lt;/gln-input&gt;
&lt;/div&gt;

&lt;/div&gt;</pre></code>
          </mat-tab>
          <mat-tab [label]="labelTs">
            <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';
import &#123;
  FormControl, FormGroup
&#125; from '@angular/forms';

@Component(&#123;
  selector: 'app-button',
  templateUrl: './button.component.html',
  styleUrls: ['./button.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class ButtonComponent &#123;
  public borderRadius = 50;
  public propRadius = '--glnf-br-rd';
  public ratioOutlined = 0.58;
  public ratioUnderline = 0.4;
  public exterior05 = 'outlined';
  public isAddPadding05 = true;

  public sizeLarge = GlnFrameSize.large;

  public formGroup05: FormGroup = new FormGroup(&#123;
    input05e: new FormControl('Demo Size Large', []),
  &#125;

  constructor(private sanitizer: DomSanitizer) &#123;&#125;

  public safeStyle(style: string): SafeStyle &#123;
    return this.sanitizer.bypassSecurityTrustStyle(style);
  &#125;
  public getValue(value: GlnFrameSize): number &#123;
    return GlnFrameSizeUtil.getValue(value) || 0;
  &#125;
  public getRadius(value: number, exterior: string): string &#123;
    return exterior === 'underline' ? value + 'px ' + value + 'px 0 0' : value + 'px';
  &#125;
  public getRatio(exterior: string): number &#123;
    return exterior === 'underline' ? this.ratioUnderline : this.ratioOutlined;
  &#125;
  public getConfig(labelPd: number): GlnButtonConfig &#123;
    return &#123; labelPd &#125;;
  &#125;
&#125;</pre></code>
          </mat-tab>
          <mat-tab [label]="labelCss">
            <code><pre source="css">
.app-group &#123;
  display: flex;
  flex-wrap: wrap;
&#125;
.app-elem &#123;
  min-width: 26ch;
  margin: 10px 10px;
&#125;
.fbr-large &#123;
  font-size: 18px;
&#125;</pre></code>
          </mat-tab>
        </mat-tab-group>
      </mat-expansion-panel>
    </mat-accordion>
  </section>

  <hr br-nn>

  <div class="app-group">
    <div>
      <small><em>"Huge" height: 68px; font-size: 20px;</em></small>
    </div>
  </div>
  <hr br-nn-m8>

  <div class="app-group"
    [attr.style]="safeStyle(propRadius + ':'
      + getRadius(getValue(sizeHuge) * borderRadius / 100, exterior05))">

    <div class="app-elem">
      <gln-input formControlName="input05f"
        class="fbr-huge"
        label="Enter value"
        [noLabel]="isNoLabel05 ? '':null"
        frameSize="huge"
        [exterior]="exterior05"
        [config]="isAddPadding05
          ? getConfig(getValue(sizeHuge) * getRatio(exterior05)) : null">
      </gln-input>
    </div>
  </div>

  <section mr-vr2>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-tab-group animationDuration="0ms">
          <mat-tab [label]="labelHtml">
            <code><pre source="html">
&lt;div class="app-group"
  [attr.style]="safeStyle(propRadius + ':'
    + getRadius(getValue(sizeHuge) * borderRadius / 100, exterior05))"&gt;

&lt;div class="app-elem"&gt;
  &lt;gln-input formControlName="input05f"
    class="fbr-huge"
    label="Enter value"
    [noLabel]="isNoLabel05 ? '':null"
    frameSize="huge"
    [exterior]="exterior05"
    [config]="isAddPadding05
      ? getConfig(getValue(sizeHuge) * getRatio(exterior05)) : null"&gt;
  &lt;/gln-input&gt;
&lt;/div&gt;

&lt;/div&gt;</pre></code>
          </mat-tab>
          <mat-tab [label]="labelTs">
            <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';
import &#123;
  FormControl, FormGroup
&#125; from '@angular/forms';

@Component(&#123;
  selector: 'app-button',
  templateUrl: './button.component.html',
  styleUrls: ['./button.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class ButtonComponent &#123;
  public borderRadius = 50;
  public propRadius = '--glnf-br-rd';
  public ratioOutlined = 0.58;
  public ratioUnderline = 0.4;
  public exterior05 = 'outlined';
  public isAddPadding05 = true;

  public sizeHuge = GlnFrameSize.huge;

  public formGroup05: FormGroup = new FormGroup(&#123;
    input05f: new FormControl('Demo Size Huge', []),
  &#125;

  constructor(private sanitizer: DomSanitizer) &#123;&#125;

  public safeStyle(style: string): SafeStyle &#123;
    return this.sanitizer.bypassSecurityTrustStyle(style);
  &#125;
  public getValue(value: GlnFrameSize): number &#123;
    return GlnFrameSizeUtil.getValue(value) || 0;
  &#125;
  public getRadius(value: number, exterior: string): string &#123;
    return exterior === 'underline' ? value + 'px ' + value + 'px 0 0' : value + 'px';
  &#125;
  public getRatio(exterior: string): number &#123;
    return exterior === 'underline' ? this.ratioUnderline : this.ratioOutlined;
  &#125;
  public getConfig(labelPd: number): GlnButtonConfig &#123;
    return &#123; labelPd &#125;;
  &#125;
&#125;</pre></code>
          </mat-tab>
          <mat-tab [label]="labelCss">
            <code><pre source="css">
.app-group &#123;
  display: flex;
  flex-wrap: wrap;
&#125;
.app-elem &#123;
  min-width: 26ch;
  margin: 10px 10px;
&#125;
.fbr-huge &#123;
  font-size: 20px;
&#125;</pre></code>
          </mat-tab>
        </mat-tab-group>
      </mat-expansion-panel>
    </mat-accordion>
  </section>

</form>


<hr br-nn>


<section mr-vr>
  <p>
    Below are other possible values for "border-radius".
  </p>
</section>

<section mr-vr>
  <label>
    <input type="checkbox"
      [(ngModel)]="isAddPadding06" />
    Add padding ( BaseSize * {{ getRatio(exterior05) }})
  </label>
</section>

<section mr-vr>
  <label>
    <input type="checkbox"
      [(ngModel)]="isNoLabel06" />
    is no Label
  </label>
</section>

<form [formGroup]="formGroup06"
  novalidate
  autocomplete="off">

  <div>
    <small>
      <em>For "outlined" mode.</em>
    </small>
  </div>

  <div class="app-group">
    <div>
      <small><em>Demo - A (top-left, bottom-left)</em></small>
    </div>
  </div>
  <hr br-nn-m8>

  <div class="app-group">
    <div class="app-elem">

      <gln-input style="--glnf-br-rd: 12.5px 0px 0px 12.5px;"
        formControlName="input06a"
        label="Enter value"
        [noLabel]="isNoLabel06 ? '':null"
        exterior="outlined"
        [config]="isAddPadding06 ? configOutlined : null">
      </gln-input>

    </div>
  </div>

  <section mr-vr2>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-tab-group animationDuration="0ms">
          <mat-tab [label]="labelHtml">
            <code><pre source="html">
&lt;form [formGroup]="formGroup06"
  class="app-group"
  novalidate
  autocomplete="off"&gt;

  &lt;div class="app-elem"&gt;

    &lt;gln-input style="--glnf-br-rd: 12.5px 0px 0px 12.5px;"
      formControlName="input06a"
      label="Enter value"
      [noLabel]="isNoLabel06 ? '':null"
      exterior="outlined"
      [config]="isAddPadding06 ? configOutlined : null"&gt;
    &lt;/gln-input&gt;

  &lt;/div&gt;

&lt;/form&gt;</pre></code>
          </mat-tab>
          <mat-tab [label]="labelTs">
            <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';
import &#123;
  FormControl, FormGroup
&#125; from '@angular/forms';

@Component(&#123;
  selector: 'app-button',
  templateUrl: './button.component.html',
  styleUrls: ['./button.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class ButtonComponent &#123;
  public isAddPadding06 = true;
  public isNoLabel06 = false;
  // GlnFrameConfig
  public configOutlined = &#123;
    labelPd: 18.5, // 0.37*GlnFrameSizeValue.middle (50px)
  &#125;;

  public formGroup06: FormGroup = new FormGroup(&#123;
    input06a: new FormControl('Demo - A', []),
  &#125;
&#125;</pre></code>
          </mat-tab>
          <mat-tab [label]="labelCss">
            <code><pre source="css">
.app-group &#123;
  display: flex;
  flex-wrap: wrap;
&#125;
.app-elem &#123;
  min-width: 26ch;
  margin: 10px 10px;
&#125;</pre></code>
          </mat-tab>
        </mat-tab-group>
      </mat-expansion-panel>
    </mat-accordion>
  </section>

  <hr br-nn>


  <div class="app-group">
    <div>
      <small><em>Demo - B (top-right, bottom-right)</em></small>
    </div>
  </div>
  <hr br-nn-m8>

  <div class="app-group">
    <div class="app-elem">

      <gln-input style="--glnf-br-rd: 0px 12.5px 12.5px 0px;"
        formControlName="input06b"
        label="Enter value"
        [noLabel]="isNoLabel06 ? '':null"
        exterior="outlined"
        [config]="isAddPadding06 ? configOutlined : null">
      </gln-input>

    </div>
  </div>

  <section mr-vr2>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-tab-group animationDuration="0ms">
          <mat-tab [label]="labelHtml">
            <code><pre source="html">
&lt;form [formGroup]="formGroup06"
  class="app-group"
  novalidate
  autocomplete="off"&gt;

  &lt;div class="app-elem"&gt;

    &lt;gln-input style="--glnf-br-rd: 0px 12.5px 12.5px 0px;"
      formControlName="input06b"
      label="Enter value"
      [noLabel]="isNoLabel06 ? '':null"
      exterior="outlined"
      [config]="isAddPadding06 ? configOutlined : null"&gt;
    &lt;/gln-input&gt;

  &lt;/div&gt;

&lt;/form&gt;</pre></code>
          </mat-tab>
          <mat-tab [label]="labelTs">
            <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';
import &#123;
  FormControl, FormGroup
&#125; from '@angular/forms';

@Component(&#123;
  selector: 'app-button',
  templateUrl: './button.component.html',
  styleUrls: ['./button.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class ButtonComponent &#123;
  public isAddPadding06 = true;
  public isNoLabel06 = false;
  // GlnFrameConfig
  public configOutlined = &#123;
    labelPd: 18.5, // 0.37*GlnFrameSizeValue.middle (50px)
  &#125;;

  public formGroup06: FormGroup = new FormGroup(&#123;
    input06b: new FormControl('Demo - B', []),
  &#125;
&#125;</pre></code>
          </mat-tab>
          <mat-tab [label]="labelCss">
            <code><pre source="css">
.app-group &#123;
  display: flex;
  flex-wrap: wrap;
&#125;
.app-elem &#123;
  min-width: 26ch;
  margin: 10px 10px;
&#125;</pre></code>
          </mat-tab>
        </mat-tab-group>
      </mat-expansion-panel>
    </mat-accordion>
  </section>

  <hr br-nn>


  <div class="app-group">
    <div>
      <small><em>Demo - C (top-left, bottom-right)</em></small>
    </div>
  </div>
  <hr br-nn-m8>

  <div class="app-group">
    <div class="app-elem">

      <gln-input style="--glnf-br-rd: 12.5px 0px 12.5px 0px;"
        formControlName="input06c"
        label="Enter value"
        [noLabel]="isNoLabel06 ? '':null"
        exterior="outlined"
        [config]="isAddPadding06 ? configOutlined : null">
      </gln-input>

    </div>
  </div>

  <section mr-vr2>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-tab-group animationDuration="0ms">
          <mat-tab [label]="labelHtml">
            <code><pre source="html">
&lt;form [formGroup]="formGroup06"
  class="app-group"
  novalidate
  autocomplete="off"&gt;

  &lt;div class="app-elem"&gt;

    &lt;gln-input style="--glnf-br-rd: 12.5px 0px 12.5px 0px;"
      formControlName="input06c"
      label="Enter value"
      [noLabel]="isNoLabel06 ? '':null"
      exterior="outlined"
      [config]="isAddPadding06 ? configOutlined : null"&gt;
    &lt;/gln-input&gt;

  &lt;/div&gt;

&lt;/form&gt;</pre></code>
          </mat-tab>
          <mat-tab [label]="labelTs">
            <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';
import &#123;
  FormControl, FormGroup
&#125; from '@angular/forms';

@Component(&#123;
  selector: 'app-button',
  templateUrl: './button.component.html',
  styleUrls: ['./button.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class ButtonComponent &#123;
  public isAddPadding06 = true;
  public isNoLabel06 = false;
  // GlnFrameConfig
  public configOutlined = &#123;
    labelPd: 18.5, // 0.37*GlnFrameSizeValue.middle (50px)
  &#125;;

  public formGroup06: FormGroup = new FormGroup(&#123;
    input06c: new FormControl('Demo - C', []),
  &#125;
&#125;</pre></code>
          </mat-tab>
          <mat-tab [label]="labelCss">
            <code><pre source="css">
.app-group &#123;
  display: flex;
  flex-wrap: wrap;
&#125;
.app-elem &#123;
  min-width: 26ch;
  margin: 10px 10px;
&#125;</pre></code>
          </mat-tab>
        </mat-tab-group>
      </mat-expansion-panel>
    </mat-accordion>
  </section>

  <hr br-nn>


  <div class="app-group">
    <div>
      <small><em>Demo - D (bottom-right, top-left)</em></small>
    </div>
  </div>
  <hr br-nn-m8>

  <div class="app-group">
    <div class="app-elem">

      <gln-input style="--glnf-br-rd: 0px 12.5px 0px 12.5px;"
        formControlName="input06d"
        label="Enter value"
        [noLabel]="isNoLabel06 ? '':null"
        exterior="outlined"
        [config]="isAddPadding06 ? configOutlined : null">
      </gln-input>

    </div>
  </div>

  <section mr-vr2>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-tab-group animationDuration="0ms">
          <mat-tab [label]="labelHtml">
            <code><pre source="html">
&lt;form [formGroup]="formGroup06"
  class="app-group"
  novalidate
  autocomplete="off"&gt;

  &lt;div class="app-elem"&gt;

    &lt;gln-input style="--glnf-br-rd: 0px 12.5px 0px 12.5px;"
      formControlName="input06d"
      label="Enter value"
      [noLabel]="isNoLabel06 ? '':null"
      exterior="outlined"
      [config]="isAddPadding06 ? configOutlined : null"&gt;
    &lt;/gln-input&gt;

  &lt;/div&gt;

&lt;/form&gt;</pre></code>
          </mat-tab>
          <mat-tab [label]="labelTs">
            <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';
import &#123;
  FormControl, FormGroup
&#125; from '@angular/forms';

@Component(&#123;
  selector: 'app-button',
  templateUrl: './button.component.html',
  styleUrls: ['./button.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class ButtonComponent &#123;
  public isAddPadding06 = true;
  public isNoLabel06 = false;
  // GlnFrameConfig
  public configOutlined = &#123;
    labelPd: 18.5, // 0.37*GlnFrameSizeValue.middle (50px)
  &#125;;

  public formGroup06: FormGroup = new FormGroup(&#123;
    input06d: new FormControl('Demo - D', []),
  &#125;
&#125;</pre></code>
          </mat-tab>
          <mat-tab [label]="labelCss">
            <code><pre source="css">
.app-group &#123;
  display: flex;
  flex-wrap: wrap;
&#125;
.app-elem &#123;
  min-width: 26ch;
  margin: 10px 10px;
&#125;</pre></code>
          </mat-tab>
        </mat-tab-group>
      </mat-expansion-panel>
    </mat-accordion>
  </section>

  <hr br-nn>


  <div class="app-group">
    <div>
      <small><em>Demo - E (border-radius: 5%/50%)</em></small>
    </div>
  </div>
  <hr br-nn-m8>

  <div class="app-group">
    <div class="app-elem">

      <gln-input style="--glnf-br-rd: 5% / 50%;"
        formControlName="input06e"
        label="Enter value"
        [noLabel]="isNoLabel06 ? '':null"
        exterior="outlined"
        [config]="isAddPadding06 ? configOutlined : null">
      </gln-input>

    </div>
  </div>

  <section mr-vr2>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-tab-group animationDuration="0ms">
          <mat-tab [label]="labelHtml">
            <code><pre source="html">
&lt;form [formGroup]="formGroup06"
  class="app-group"
  novalidate
  autocomplete="off"&gt;

  &lt;div class="app-elem"&gt;

    &lt;gln-input style="--glnf-br-rd: 5% / 50%;"
      formControlName="input06e"
      label="Enter value"
      [noLabel]="isNoLabel06 ? '':null"
      exterior="outlined"
      [config]="isAddPadding06 ? configOutlined : null"&gt;
    &lt;/gln-input&gt;

  &lt;/div&gt;

&lt;/form&gt;</pre></code>
          </mat-tab>
          <mat-tab [label]="labelTs">
            <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';
import &#123;
  FormControl, FormGroup
&#125; from '@angular/forms';

@Component(&#123;
  selector: 'app-button',
  templateUrl: './button.component.html',
  styleUrls: ['./button.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class ButtonComponent &#123;
  public isAddPadding06 = true;
  public isNoLabel06 = false;
  // GlnFrameConfig
  public configOutlined = &#123;
    labelPd: 18.5, // 0.37*GlnFrameSizeValue.middle (50px)
  &#125;;

  public formGroup06: FormGroup = new FormGroup(&#123;
    input06e: new FormControl('Demo - E', []),
  &#125;
&#125;</pre></code>
          </mat-tab>
          <mat-tab [label]="labelCss">
            <code><pre source="css">
.app-group &#123;
  display: flex;
  flex-wrap: wrap;
&#125;
.app-elem &#123;
  min-width: 26ch;
  margin: 10px 10px;
&#125;</pre></code>
          </mat-tab>
        </mat-tab-group>
      </mat-expansion-panel>
    </mat-accordion>
  </section>

  <hr br-nn>


  <div>
    <small>
      <em>For "underline" mode.</em>
    </small>
  </div>

  <div class="app-group">
    <div>
      <small><em>Demo - F (border-radius: 16.66px)</em></small>
    </div>
  </div>
  <hr br-nn-m8>

  <div class="app-group">
    <div class="app-elem">

      <style>
        .radius-f {
          /* GlnFrameSize.middle [50px] / 3 */
          --glnf-br-rd: 16.66667px;
        }

        .radius-f div.glnf-border:before,
        .radius-f div.glnf-border:after {
          /* GlnFrameSize.middle [50px] */
          height: 50px;
        }
      </style>

      <gln-input class="radius-f"
        formControlName="input06f"
        label="Enter value"
        [noLabel]="isNoLabel06 ? '':null"
        exterior="underline"
        [config]="isAddPadding06 ? configOutlined : null">
      </gln-input>

    </div>
  </div>

  <section mr-vr2>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-tab-group animationDuration="0ms">
          <mat-tab [label]="labelHtml">
            <code><pre source="html">
&lt;form [formGroup]="formGroup06"
  class="app-group"
  novalidate
  autocomplete="off"&gt;

  &lt;div class="app-elem"&gt;

    &lt;style&gt;
      .radius-f &#123;
        /* GlnFrameSize.middle [50px] / 3 */
        --glnf-br-rd: 16.66667px;
      &#125;
      .radius-f div.glnf-border:before,
      .radius-f div.glnf-border:after &#123;
        /* GlnFrameSize.middle [50px] */
        height: 50px;
      &#125;
    &lt;/style&gt;

    &lt;gln-input  class="radius-f"
      formControlName="input06f"
      label="Enter value"
      [noLabel]="isNoLabel06 ? '':null"
      exterior="outlined"
      [config]="isAddPadding06 ? configOutlined : null"&gt;
    &lt;/gln-input&gt;

  &lt;/div&gt;

&lt;/form&gt;</pre></code>
          </mat-tab>
          <mat-tab [label]="labelTs">
            <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';
import &#123;
  FormControl, FormGroup
&#125; from '@angular/forms';

@Component(&#123;
  selector: 'app-button',
  templateUrl: './button.component.html',
  styleUrls: ['./button.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class ButtonComponent &#123;
  public isAddPadding06 = true;
  public isNoLabel06 = false;
  // GlnFrameConfig
  public configOutlined = &#123;
    labelPd: 18.5, // 0.37*GlnFrameSizeValue.middle (50px)
  &#125;;

  public formGroup06: FormGroup = new FormGroup(&#123;
    input06f: new FormControl('Demo - F', []),
  &#125;
&#125;</pre></code>
          </mat-tab>
          <mat-tab [label]="labelCss">
            <code><pre source="css">
.app-group &#123;
  display: flex;
  flex-wrap: wrap;
&#125;
.app-elem &#123;
  min-width: 26ch;
  margin: 10px 10px;
&#125;</pre></code>
          </mat-tab>
        </mat-tab-group>
      </mat-expansion-panel>
    </mat-accordion>
  </section>

</form>

<hr br-nn />
<hr br-nn />