/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// :host {
//   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
//   font-size: 14px;
//   color: #333;
//   box-sizing: border-box;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
// }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
//   margin: 8px 0;
}

// p {
//   margin: 0;
// }


// a,
// a:visited,
// a:hover {
//   color: #1976d2;
//   text-decoration: none;
// }
// a:hover {
//   color: #125699;
// }

pre[source] {
  margin: 0 auto;
  max-height: min(68vh, 1000px);
  padding: 16px;
  overflow: auto;
  max-width: calc(100vw - 32px);
  box-sizing: border-box;
}
pre[source=html] {
  background-color: rgb(250 235 215 / 30%);
}
pre[source=ts] {
  background-color: rgb(240 255 255 / 30%);
}
pre[source=css] {
  background-color: rgb(245 245 220 / 30%);
}

// .app-nav9 {
//   @media (min-width: 600px) {      width: 180px;    }
//   @media (min-width: 900px) {      width: 210px;    }
//   @media (min-width: 1200px) {      width: 240px;    }
// }
section[mr-vr] {
  margin-top: 20px;
  margin-bottom: 15px;
  .mat-expansion-panel {
    margin-bottom: 20px;
  }
  .mat-expansion-panel-header.mat-expanded {
    height: 48px;
  }
  .mat-expansion-panel-body {
    padding: 0 0;
  }
}

form div>small em {
  color: #00000096;
}


hr[br-tp] {
  border-top: 1px solid #ababab;
}
hr[br-nn] {
  border: none;
}
pre.fw-nr b {
  font-weight: normal;
}
