<h3>Component: "GrnInput"</h3>

<div *ngIf="!showNum || showNum==='01'"
  id="Basic">
  <app-input-basic></app-input-basic>
  <hr br-tp>
</div>

<div *ngIf="!showNum || showNum==='02'"
  id="Attributes">
  <app-input-attributes></app-input-attributes>
  <hr br-tp>
</div>

<div *ngIf="!showNum || showNum==='03'"
  id="Validation">
  <app-input-validation></app-input-validation>
  <hr br-tp>
</div>

<!-- // TOD del; <section *ngIf="!showNum || showNum==='04'" id="ItemSize">
  <app-input-item-size></app-input-item-size>
  <hr br-tp>
</section> -->

<div *ngIf="!showNum || showNum==='05'"
  id="NumericalValue">
  <app-input-numerical-value></app-input-numerical-value>
  <hr br-tp>
</div>

<!-- <section *ngIf="!showNum || showNum==='06'"
  id="HelperText">
  <app-input-helper-text></app-input-helper-text>
  <hr br-tp>
</section> -->
<section mr-vr
  id="HelperText">
  <h3>Helper text</h3>
  <p>
    Interesting examples of using "helperText" can be found on the
    <a [href]="urlFrameInput + '#HelperText'">"GrnFrameInput#HelperText"</a>
    page.
  </p>
  <hr br-tp>
</section>

<div *ngIf="!showNum || showNum==='07'"
  id="PaletteCustomization">
  <app-input-palette-customization></app-input-palette-customization>
  <hr br-tp>
</div>

<div *ngIf="!showNum || showNum==='08'"
  id="Ornaments">
  <app-input-ornaments></app-input-ornaments>
  <hr br-tp>
</div>

<div *ngIf="!showNum || showNum==='09'"
  id="BorderRadius">
  <app-input-border-radius></app-input-border-radius>
  <hr br-tp>
</div>

<div *ngIf="!showNum || showNum==='10'"
  id="Api">
  <app-input-api></app-input-api>
  <hr br-tp>
</div>

<br />
<br />