/*# sourceURL=input.component.scss */

app-input {
  display: block;
  line-height: 1.5;
  box-sizing: border-box;
  padding: 10px 10px;

  .in-section {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .in-row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .in-item {
    width: 240px;
    margin: 10px 10px;
  }
  .mat-expansion-panel-body {
    padding: 0 5px 5px 5px;
  }
  .mat-expansion-panel {
    margin-bottom: 20px;
  }
  pre.in-fw-nr b {
    font-weight: normal;
  }
  hr[br-tp] {
    border-top: 1px solid var(--app-root-border-color);
  }
}