<section mr-vr>
  <h3>Label</h3>
  <p>
    The "label" property defines the contents of the legend for the current component.
    If the component has no value set, then the legend is displayed as a placeholder.
    When the user enters a value for such a component, the legend shrinks and moves up.
    This is the default behavior for a legend.
  </p>
  <p>
    Sometimes you want to deviate from the standard legend behavior.
    For example, you want to display the legend at the top only.
    This requires adding the "lbShrink" attribute.
  </p>
  <p>
    Another example, you need to hide the legend display.
    This requires adding the "noLabel" attribute.
  </p>
</section>

<section mr-vr>
  <span>exterior: </span>
  <mat-button-toggle-group [(ngModel)]="exterior03">
    <mat-button-toggle value="outlined">{{ labelOutlined }}</mat-button-toggle>
    <mat-button-toggle value="underline">{{ labelUnderline }}</mat-button-toggle>
    <mat-button-toggle value="standard">{{ labelStandard }}</mat-button-toggle>
  </mat-button-toggle-group>
</section>

<form [formGroup]="formGroup03a"
  novalidate
  autocomplete="off">

  <div class="app-group">

    <div class="app-elem">
      <div>
        <small><em>Attribute: lbShrink.</em></small>
      </div>
      <gln-input formControlName="model03a"
        label="Permanent label"
        lbShrink
        helperText="The position of the label is fixed."
        [exterior]="exterior03">
      </gln-input>
    </div>

  </div>

</form>

<section mr-vr>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="labelHtml">
          <code><pre source="html">
&lt;form [formGroup]="formGroup03a"
  novalidate
  autocomplete="off"&gt;

  &lt;div class="app-group"&gt;

    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;&lt;em&gt;Attribute: lbShrink.&lt;/em&gt;&lt;/small&gt;
      &lt;/div&gt;
      &lt;gln-input formControlName="model03a"
        label="Permanent label"
        lbShrink
        helperText="The position of the label is fixed."
        [exterior]="exterior03"&gt;
      &lt;/gln-input&gt;
    &lt;/div&gt;

  &lt;/div&gt;

&lt;/form&gt;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelTs">
          <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';
import &#123;
  FormControl, FormGroup
&#125; from '@angular/forms';

@Component(&#123;
  selector: 'app-frame-input',
  templateUrl: './frame-input.component.html',
  styleUrls: ['./frame-input.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class FrameComponent &#123;
  public exterior03a = 'outlined';
  public formGroup03a: FormGroup = new FormGroup(&#123;
    model03a: new FormControl('', []),
  &#125;);
&#125;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelCss">
          <code><pre source="css">
.app-group &#123;
  display: flex;
  flex-wrap: wrap;
&#125;
.app-elem &#123;
  min-width: 26ch;
  margin: 10px 10px;
&#125;</pre></code>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
</section>

<hr br-nn />


<form [formGroup]="formGroup03b"
  novalidate
  autocomplete="off">

  <div class="app-group">

    <div class="app-elem">
      <div>
        <small><em>Attribute: noLabel.</em></small>
      </div>
      <gln-input formControlName="model03b"
        label="noLabel"
        noLabel
        helperText="The label is not displayed."
        [exterior]="exterior03">
      </gln-input>
    </div>

  </div>

</form>

<section mr-vr>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="labelHtml">
          <code><pre source="html">
&lt;form [formGroup]="formGroup03b"
  novalidate
  autocomplete="off"&gt;

  &lt;div class="app-group"&gt;

    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;&lt;em&gt;Attribute: noLabel.&lt;/em&gt;&lt;/small&gt;
      &lt;/div&gt;
      &lt;gln-input formControlName="model03b"
        label="noLabel"
        noLabel
        helperText="The label is not displayed."
        [exterior]="exterior03"&gt;
      &lt;/gln-input&gt;
    &lt;/div&gt;

  &lt;/div&gt;

&lt;/form&gt;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelTs">
          <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';
import &#123;
  FormControl, FormGroup
&#125; from '@angular/forms';

@Component(&#123;
  selector: 'app-frame-input',
  templateUrl: './frame-input.component.html',
  styleUrls: ['./frame-input.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class FrameComponent &#123;
  public exterior03b = 'outlined';
  public formGroup03b: FormGroup = new FormGroup(&#123;
    model03b: new FormControl('Hello World', []),
  &#125;);
&#125;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelCss">
          <code><pre source="css">
.app-group &#123;
  display: flex;
  flex-wrap: wrap;
&#125;
.app-elem &#123;
  min-width: 26ch;
  margin: 10px 10px;
&#125;</pre></code>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
</section>

<hr br-nn />