<section mr-vr>
  <h3 class="app-hover-link">
    Attributes.
    <a [href]="urlCmSwitch + '#Attributes'">#</a>
  </h3>
  <p>The following attributes are supported:</p>
  <ul>
    <li>"id" - parameter for defining the unique identifier of the input field
      (id="unique_identifier");
    </li>
    <li>
      "config" - Defines a configuration object.
      <a [href]="urlCmSwitch + '#config-interface'">More details.</a>
    </li>
    <li>"isChecked" - specifies only the initial value of the element (isChecked);</li>
    <li>"isDisabled" - a sign that the field is disabled (isDisabled);</li>
    <li>"isNoAnimation" - disable animation execution (isNoAnimation);</li>
    <li>"isNoRipple" - disables the execution of the ripple effect (isNoRipple);</li>
    <li>"isReadOnly" - Specifies the status of an element as read-only (isReadOnly);</li>
  </ul>
</section>


<div class="app-group">

  <div class="app-elem">
    <div>
      <small>
        <em>Attributes: id, isChecked. Value={{ data02a }}</em>
      </small>
    </div>
    <gln-switch id="unique_id_switch02a"
      (change)="data02a=$event.checked"
      [isChecked]="data02a">Checked
    </gln-switch>
  </div>

  <div class="app-elem">
    <div>
      <small>
        <em>Attributes: [(ngModel)]. Value={{ data02b }}</em>
      </small>
    </div>
    <gln-switch [(ngModel)]="data02b">
    </gln-switch>
  </div>

</div>


<form [formGroup]="formGroup02a"
  novalidate
  autocomplete="off">

  <div class="app-group">

    <div class="app-elem sa-elem">
      <div>
        <small>
          <em>Attributes: isReadOnly.</em>
        </small>
      </div>
      <gln-switch formControlName="model02b"
        isReadOnly>Read Only
      </gln-switch>
    </div>

    <div class="app-elem sa-elem">
      <div>
        <small>
          <em>Attributes: isDisabled.</em>
        </small>
      </div>
      <gln-switch formControlName="model02c"
        isDisabled>Disabled
      </gln-switch>
    </div>

    <div class="app-elem sa-elem">
      <div>
        <small>
          <em>Attributes: isNoAnimation</em>
        </small>
      </div>
      <gln-switch formControlName="model02d"
        isNoAnimation>No Animation
      </gln-switch>
    </div>

    <div class="app-elem sa-elem">
      <div>
        <small>
          <em>Attributes: isNoRipple</em>
        </small>
      </div>
      <gln-switch formControlName="model02e"
        isNoRipple>No Ripple
      </gln-switch>
    </div>

  </div>
</form>


<section mr-vr>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="labelHtml">
          <code><pre source="html">
&lt;div class="app-group"&gt;

  &lt;div class="app-elem"&gt;
    &lt;div&gt;
      &lt;small&gt;
        &lt;em&gt;Attributes: id, isChecked. Value=<b>&#123;</b>&#123; data02a &#125;&#125;&lt;/em&gt;
      &lt;/small&gt;
    &lt;/div&gt;
    &lt;gln-switch id="unique_id_switch02a"
      (change)="data02a=$event.checked"
      [isChecked]="data02a"&gt;Checked
    &lt;/gln-switch&gt;
  &lt;/div&gt;

  &lt;div class="app-elem"&gt;
    &lt;div&gt;
      &lt;small&gt;
        &lt;em&gt;Attributes: [(ngModel)]. Value=<b>&#123;</b>&#123; data02b &#125;&#125;&lt;/em&gt;
      &lt;/small&gt;
    &lt;/div&gt;
    &lt;gln-switch [(ngModel)]="data02b"&gt;
    &lt;/gln-switch&gt;
  &lt;/div&gt;

&lt;/div&gt;

&lt;form [formGroup]="formGroup02a"
  novalidate
  autocomplete="off"&gt;

  &lt;div class="app-group"&gt;

    &lt;div class="app-elem sa-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;Attributes: isReadOnly.&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;gln-switch formControlName="model02b"
        isReadOnly&gt;ReadOnly
      &lt;/gln-switch&gt;
    &lt;/div&gt;

    &lt;div class="app-elem sa-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;Attributes: isDisabled.&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;gln-switch formControlName="model02c"
        isDisabled&gt;Disabled
      &lt;/gln-switch&gt;
    &lt;/div&gt;

    &lt;div class="app-elem sa-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;Attributes: isNoAnimation&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;gln-switch formControlName="model02d"
        isNoAnimation&gt; noAnimation
      &lt;/gln-switch&gt;
    &lt;/div&gt;

    &lt;div class="app-elem sa-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;Attributes: isNoRipple&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;gln-switch formControlName="model02e"
        isNoRipple&gt;noRipple
      &lt;/gln-switch&gt;
    &lt;/div&gt;

  &lt;/div&gt;
 
&lt;/form&gt;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelTs">
          <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';
import &#123;
  FormControl, FormGroup
&#125; from '@angular/forms';

@Component(&#123;
  selector: 'app-switch',
  templateUrl: './switch.component.html',
  styleUrls: ['./switch.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class SwitchComponent &#123;
  public data02a = true;
  public data02b = true;
  public formGroup02a: FormGroup = new FormGroup(&#123;
    model02b: new FormControl(true, []),
    model02c: new FormControl(true, []),
    model02d: new FormControl(true, []),
    model02e: new FormControl(true, []),
  &#125;);
&#125;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelCss">
          <code><pre source="css">
app-switch &#123;
  .app-group &#123;
    display: flex;
    flex-wrap: wrap;
  &#125;
  .app-elem &#123;
    min-width: 26ch;
    margin: 10px 10px;
  &#125;
  .sa-elem &#123;
    min-width: 19ch;
  &#125;
&#125;</pre></code>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
</section>


<section mr-vr
  id="attributes-position">
  <h4 class="app-hover-link">
    Position.
    <a [href]="urlCmSwitch + '#attributes-position'">#</a>
  </h4>
  <p>
    It is possible to change the position of the label relative to the GlnSwitch component.
  </p>
</section>


<form [formGroup]="formGroup02b"
  novalidate
  autocomplete="off">

  <div class="app-group">

    <div class="app-elem sa-elem">
      <div>
        <small>
          <em>Attributes: position - top.</em>
        </small>
      </div>
      <gln-switch formControlName="model02f"
        position="top">Position - top
      </gln-switch>
    </div>

    <div class="app-elem sa-elem">
      <div>
        <small>
          <em>Attributes: position - bottom.</em>
        </small>
      </div>
      <gln-switch formControlName="model02g"
        position="bottom">Position - bottom
      </gln-switch>
    </div>

    <div class="app-elem sa-elem">
      <div>
        <small>
          <em>Attributes: position - start.</em>
        </small>
      </div>
      <gln-switch formControlName="model02h"
        position="start">Position - start
      </gln-switch>
    </div>

    <div class="app-elem sa-elem">
      <div>
        <small>
          <em>Attributes: position - end.</em>
        </small>
      </div>
      <gln-switch formControlName="model02i"
        position="end">Position - end
      </gln-switch>
    </div>

  </div>
</form>


<section mr-vr>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="labelHtml">
          <code><pre source="html">
&lt;form [formGroup]="formGroup02b"
  novalidate
  autocomplete="off"&gt;

  &lt;div class="app-group"&gt;

    &lt;div class="app-elem sa-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;Attributes: position - top.&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;gln-switch formControlName="model02f"
        position="top"&gt;Position - top
      &lt;/gln-switch&gt;
    &lt;/div&gt;

    &lt;div class="app-elem sa-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;Attributes: position - bottom.&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;gln-switch formControlName="model02g"
        position="bottom"&gt;Position - bottom
      &lt;/gln-switch&gt;
    &lt;/div&gt;

    &lt;div class="app-elem sa-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;Attributes: position - start.&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;gln-switch formControlName="model02h"
        position="start"&gt;Position - start
      &lt;/gln-switch&gt;
    &lt;/div&gt;

    &lt;div class="app-elem sa-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;Attributes: position - end.&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;gln-switch formControlName="model02i"
        position="end"&gt;Position - end
      &lt;/gln-switch&gt;
    &lt;/div&gt;

  &lt;/div&gt;

&lt;/form&gt;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelTs">
          <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';
import &#123;
  FormControl, FormGroup
&#125; from '@angular/forms';

@Component(&#123;
  selector: 'app-switch',
  templateUrl: './switch.component.html',
  styleUrls: ['./switch.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class SwitchComponent &#123;
  public formGroup02b: FormGroup = new FormGroup(&#123;
    model02f: new FormControl(true, []),
    model02g: new FormControl(true, []),
    model02h: new FormControl(true, []),
    model02i: new FormControl(true, []),
  &#125;);
&#125;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelCss">
          <code><pre source="css">
app-switch &#123;
  .app-group &#123;
    display: flex;
    flex-wrap: wrap;
  &#125;
  .app-elem &#123;
    min-width: 26ch;
    margin: 10px 10px;
  &#125;
  .sa-elem &#123;
    min-width: 19ch;
  &#125;
&#125;</pre></code>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
</section>