<section mr-vr>
  <h3>Attributes</h3>
  <p>The following attributes are supported:</p>
  <ul>
    <li>
      "config" - Defines a configuration object.
      <a [href]="urlFrame + '#Config'">More details.</a>
    </li>
    <li>
      "exterior" - Determines the appearance of an element.<br />
      It can take the following values:
      <ul>
        <li>"outlined";</li>
        <li>"underline";</li>
        <li>"standard";</li>
      </ul>
    </li>
    <li>
      "hoverColor" - When hovering the mouse, the label and frame
      will have the same color as when they received focus.
    </li>
    <li>"isDisabled" - a sign that the field is disabled (isDisabled);</li>
    <li>"isError" - a sign that the field is in error status (isError);</li>
    <li>"isFilled" - Indicates that the input element is not empty (filled).</li>
    <li>"isLabelShrink" - An indication that the label has moved up and shrunk.</li>
    <li>"isRequired" - a sign that the field is required (isRequired);</li>
    <li>"label" - The content of the label.</li>
    <li>"noLabel" - Hide label display.</li>
  </ul>
  <p>
    For example, we will use the "GlnInput" component, since it contains
    the "GlnFrame" component.<br />
    The examples use the "exterior" property, which is passed the current
    value of the "exterior" variable.
  </p>
</section>


<section mr-vr>
  <span>exterior: </span>
  <mat-button-toggle-group value="exterior02a"
    (change)="exterior02a=$event.value">
    <mat-button-toggle [checked]="exterior02a==='outlined'"
      value="outlined">{{ labelOutlined }}</mat-button-toggle>
    <mat-button-toggle [checked]="exterior02a==='underline'"
      value="underline">{{ labelUnderline }}</mat-button-toggle>
    <mat-button-toggle [checked]="exterior02a==='standard'"
      value="standard">{{ labelStandard }}</mat-button-toggle>
  </mat-button-toggle-group>
</section>

<form [formGroup]="formGroup02a"
  novalidate
  autocomplete="off">

  <div class="app-group">

    <div class="app-elem">
      <div>
        <small>
          <em>State: empty.</em>
        </small>
      </div>
      <gln-input formControlName="model02a"
        label="Enter value"
        [exterior]="exterior02a">
      </gln-input>
    </div>

    <div class="app-elem">
      <div>
        <small>
          <em>Attributes: isRequired.</em>
        </small>
      </div>
      <gln-input formControlName="model02b"
        label="Required field"
        isRequired
        [exterior]="exterior02a">
      </gln-input>
    </div>

    <div class="app-elem">
      <div>
        <small>
          <em>Attribute: noLabel.</em>
        </small>
      </div>
      <gln-input formControlName="model02c"
        label="noLabel"
        noLabel
        helperText="The label is not displayed."
        [exterior]="exterior02a">
      </gln-input>
    </div>

    <div class="app-elem">
      <div>
        <small>
          <em>Attribute: isDisabled.</em>
        </small>
      </div>
      <gln-input formControlName="model02d"
        label="Disabled"
        isDisabled
        helperText="The parameter is disabled."
        [exterior]="exterior02a">
      </gln-input>
    </div>

  </div>

</form>

<section mr-vr2>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="labelHtml">
          <code><pre source="html">
&lt;form [formGroup]="formGroup02a"
  novalidate
  autocomplete="off"&gt;

  &lt;div class="app-group"&gt;

    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;State: empty.&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;gln-input formControlName="model02a"
        label="Enter value"
        [exterior]="exterior02a"&gt;
      &lt;/gln-input&gt;
    &lt;/div&gt;

    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;Attributes: isRequired.&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;gln-input formControlName="model02b"
        label="Required field"
        isRequired
        [exterior]="exterior02a"&gt;
      &lt;/gln-input&gt;
    &lt;/div&gt;

    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;Attribute: noLabel.&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;gln-input formControlName="model02c"
        label="noLabel"
        noLabel
        helperText="The label is not displayed."
        [exterior]="exterior02a"&gt;
      &lt;/gln-input&gt;
    &lt;/div&gt;

    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;Attribute: isDisabled.&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;gln-input formControlName="model02d"
        label="Disabled"
        isDisabled
        helperText="The parameter is disabled."
        [exterior]="exterior02a"&gt;
      &lt;/gln-input&gt;
    &lt;/div&gt;

  &lt;/div&gt;

&lt;/form&gt;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelTs">
          <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';
import &#123;
  FormControl, FormGroup, Validators
&#125; from '@angular/forms';

@Component(&#123;
  selector: 'app-frame',
  templateUrl: './frame.component.html',
  styleUrls: ['./frame.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class FrameComponent &#123;
  public exterior02a = 'outlined';
  public formGroup02a: FormGroup = new FormGroup(&#123;
    model02a: new FormControl(null, []),
    model02b: new FormControl('Hello World', [Validators.required]),
    model02c: new FormControl('Hello World', []),
    model02d: new FormControl('Hello World', []),
  &#125;);
&#125;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelCss">
          <code><pre source="css">
.app-group &#123;
  display: flex;
  flex-wrap: wrap;
&#125;
.app-elem &#123;
  min-width: 26ch;
  margin: 10px 10px;
&#125;</pre></code>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
</section>

<hr br-nn />


<section mr-vr>
  <span>exterior: </span>
  <mat-button-toggle-group value="exterior02b"
    (change)="exterior02b=$event.value">
    <mat-button-toggle [checked]="exterior02b==='outlined'"
      value="outlined">{{ labelOutlined }}</mat-button-toggle>
    <mat-button-toggle [checked]="exterior02b==='underline'"
      value="underline">{{ labelUnderline }}</mat-button-toggle>
    <mat-button-toggle [checked]="exterior02b==='standard'"
      value="standard">{{ labelStandard }}</mat-button-toggle>
  </mat-button-toggle-group>
</section>

<form [formGroup]="formGroup02b"
  novalidate
  autocomplete="off">

  <div class="app-group">

    <div class="app-elem">
      <div>
        <small>
          <em>Attribute: lbShrink.</em>
        </small>
      </div>
      <gln-input formControlName="model02e"
        label="Permanent label"
        lbShrink
        helperText="The position of the label is fixed."
        [exterior]="exterior02b">
      </gln-input>
    </div>

    <div class="app-elem">
      <div>
        <small>
          <em>Attribute: isError.</em>
        </small>
      </div>
      <gln-input formControlName="model02f"
        [label]="!control02b.model02f.value
        ? 'Requires a value':'Parameter value'"
        [isError]="!control02b.model02f.value ? '':null"
        [helperText]="control02b.model02f.value
      ? 'The field is filled.'
      : 'The field is not filled.'"
        [exterior]="exterior02b">
      </gln-input>
    </div>

    <div class="app-elem">
      <div>
        <small>
          <em>Attribute: hoverColor.</em>
        </small>
      </div>
      <gln-input formControlName="model02g"
        label="Parameter value"
        hoverColor
        helperText="On hover, a frame with the focus color."
        [exterior]="exterior02b">
      </gln-input>
    </div>

  </div>

</form>

<section mr-vr2>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="labelHtml">
          <code><pre source="html">
&lt;form [formGroup]="formGroup02b"
  novalidate
  autocomplete="off"&gt;

  &lt;div class="app-group"&gt;

    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;Attribute: lbShrink.&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;gln-input formControlName="model02e"
        label="Permanent label"
        lbShrink
        helperText="The position of the label is fixed."
        [exterior]="exterior02b"&gt;
      &lt;/gln-input&gt;
    &lt;/div&gt;

    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;Attribute: isError.&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;gln-input formControlName="model02f"
        [label]="!control02b.model02f.value
        ? 'Requires a value':'Parameter value'"
        [isError]="!control02b.model02f.value ? '':null"
        [helperText]="control02b.model02f.value
      ? 'The field is filled.'
      : 'The field is not filled.'"
        [exterior]="exterior02b"&gt;
      &lt;/gln-input&gt;
    &lt;/div&gt;

    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;Attribute: hoverColor.&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;gln-input formControlName="model02g"
        label="Parameter value"
        hoverColor
        helperText="On hover, a frame with the focus color."
        [exterior]="exterior02b"&gt;
      &lt;/gln-input&gt;
    &lt;/div&gt;

  &lt;/div&gt;

&lt;/form&gt;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelTs">
          <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';
import &#123;
  FormControl, FormGroup
&#125; from '@angular/forms';

@Component(&#123;
  selector: 'app-frame',
  templateUrl: './frame.component.html',
  styleUrls: ['./frame.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class FrameComponent &#123;
  public exterior02b = 'outlined';
  public control02b = &#123;
    model02e: new FormControl(null, []),
    model02f: new FormControl(null, []),
    model02g: new FormControl('Hello World', []),
  &#125;;
  public formGroup02b: FormGroup = new FormGroup(this.control02b);
&#125;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelCss">
          <code><pre source="css">
.app-group &#123;
  display: flex;
  flex-wrap: wrap;
&#125;
.app-elem &#123;
  min-width: 26ch;
  margin: 10px 10px;
&#125;</pre></code>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
</section>

<hr br-nn />


<section mr-vr>
  <h4>Configuration for custom height (57px).</h4>
  <p>
    Let's add the definition of the "config" property.
    Let's create a configuration object specifying the
    specified height of the component.
  </p>
</section>

<section mr-vr>
  <span>exterior: </span>
  <mat-button-toggle-group value="exterior02c"
    (change)="exterior02c=$event.value">
    <mat-button-toggle [checked]="exterior02c==='outlined'"
      value="outlined">{{ labelOutlined }}</mat-button-toggle>
    <mat-button-toggle [checked]="exterior02c==='underline'"
      value="underline">{{ labelUnderline }}</mat-button-toggle>
    <mat-button-toggle [checked]="exterior02c==='standard'"
      value="standard">{{ labelStandard }}</mat-button-toggle>
  </mat-button-toggle-group>
</section>

<form [formGroup]="formGroup02c"
  novalidate
  autocomplete="off">

  <div class="app-group">

    <div class="app-elem">
      <div>
        <small>
          <em>"Huge" height: 57px; font-size: 16px;</em>
        </small>
      </div>
      <gln-input formControlName="model02h"
        label="Required field"
        isRequired
        [exterior]="exterior02c"
        [config]="config02"
        wdFull>
      </gln-input>
    </div>

    <div class="app-elem">
      <div>
        <small>
          <em>"Large" height: 57px; font-size: 18px;</em>
        </small>
      </div>
      <gln-input formControlName="model02i"
        class="fa-large"
        label="Required field"
        isRequired
        [exterior]="exterior02c"
        [config]="config02"
        wdFull>
      </gln-input>
    </div>

    <div class="app-elem">
      <div>
        <small>
          <em>"Huge" height: 57px; font-size: 20px;</em>
        </small>
      </div>
      <gln-input formControlName="model02j"
        class="fa-huge"
        label="Required field"
        isRequired
        [exterior]="exterior02c"
        [config]="config02"
        wdFull>
      </gln-input>
    </div>

  </div>

</form>

<section mr-vr2>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="labelHtml">
          <code><pre source="html">
&lt;form [formGroup]="formGroup02c"
  novalidate
  autocomplete="off"&gt;

  &lt;div class="app-group"&gt;

    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;"Huge" height: 57px; font-size: 16px;&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;gln-input formControlName="model02h"
        label="Required field"
        isRequired
        [exterior]="exterior02c"
        [config]="config02"
        wdFull&gt;
      &lt;/gln-input&gt;
    &lt;/div&gt;

    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;"Large" height: 57px; font-size: 18px;&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;gln-input formControlName="model02i"
        class="fa-large"
        label="Required field"
        isRequired
        [exterior]="exterior02c"
        [config]="config02"
        wdFull&gt;
      &lt;/gln-input&gt;
    &lt;/div&gt;

    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;"Huge" height: 57px; font-size: 20px;&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;gln-input formControlName="model02j"
        class="fa-huge"
        label="Required field"
        isRequired
        [exterior]="exterior02c"
        [config]="config02"
        wdFull&gt;
      &lt;/gln-input&gt;
    &lt;/div&gt;

  &lt;/div&gt;

&lt;/form&gt;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelTs">
          <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';
import &#123;
  FormControl, FormGroup
&#125; from '@angular/forms';

@Component(&#123;
  selector: 'app-frame',
  templateUrl: './frame.component.html',
  styleUrls: ['./frame.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class FrameComponent &#123;
  public exterior02c = 'outlined';
  public formGroup02c: FormGroup = new FormGroup(&#123;
    model02h: new FormControl('Hello World', []),
    model02i: new FormControl('Hello World', []),
    model02j: new FormControl('Hello World', []),
  &#125;);

  public config02 = &#123;
    frameSizeValue: 57,
  &#125;;
&#125;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelCss">
          <code><pre source="css">
.app-group &#123;
  display: flex;
  flex-wrap: wrap;
&#125;
.app-elem &#123;
  min-width: 26ch;
  margin: 10px 10px;
  width: 28ch;
&#125;
.fa-large &#123;
  font-size: 18px;
&#125;
.fa-huge &#123;
  font-size: 20px;
&#125;</pre></code>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
</section>

<hr br-nn />