<section mr-vr>
  <h3 class="app-hover-link">
    Attributes
    <a [href]="urlFrame1 + '#Attributes'">#</a>
  </h3>
  <p>The following attributes are supported:</p>
  <ul>
    <li>
      "config" - Defines a configuration object.
      <a [href]="urlFrame1 + '#Config'">More details.</a>
    </li>
    <li>
      "exterior" - Determines the appearance of an element.<br />
      It can take the following values:
      <ul>
        <li>"outlined";</li>
        <li>"underline";</li>
        <li>"standard";</li>
      </ul>
    </li>
    <li>"isDisabled" - a sign that the field is disabled (isDisabled);</li>
    <li>"isError" - a sign that the field is in error status (isError);</li>
    <li>"isFilled" - Indicates that the input element is not empty (filled).</li>
    <li>"isLabelShrink" - An indication that the label has moved up and shrunk.</li>
    <li>"isNoLabel" - Hide label display.</li>
    <li>"isRequired" - a sign that the field is required (isRequired);</li>
    <li>"label" - The content of the label.</li>
    <li>
      "wdFull" - an attribute sets the width to the width of the parent (width: 100%).
      <br />
      In this case, the width must be defined at the parent or at the current level.
      <br />
      Without this parameter, the width is determined by the content and may change
      when the font size is changed.
    </li>
  </ul>
  <p>
    For example, we will use the "GlnInput" component, since it contains
    the "GlnFrame" component.<br />
    The examples use the "exterior" property, which is passed the current
    value of the "exterior" variable.
  </p>
</section>


<section mr-vr>
  <span>exterior: </span>
  <mat-button-toggle-group value="exterior02a"
    (change)="exterior02a=$event.value">
    <mat-button-toggle [checked]="exterior02a==='outlined'"
      value="outlined">{{ labelOutlined }}</mat-button-toggle>
    <mat-button-toggle [checked]="exterior02a==='underline'"
      value="underline">{{ labelUnderline }}</mat-button-toggle>
    <mat-button-toggle [checked]="exterior02a==='standard'"
      value="standard">{{ labelStandard }}</mat-button-toggle>
  </mat-button-toggle-group>
</section>

<form [formGroup]="formGroup02a"
  novalidate
  autocomplete="off">

  <div class="app-group">

    <div class="app-elem">
      <div>
        <small>
          <em>State: empty.</em>
        </small>
      </div>
      <gln-input formControlName="model02a"
        label="Enter value"
        [exterior]="exterior02a">
      </gln-input>
    </div>

    <div class="app-elem">
      <div>
        <small>
          <em>Attributes: isRequired.</em>
        </small>
      </div>
      <gln-input formControlName="model02b"
        label="Required field"
        isRequired
        [exterior]="exterior02a">
      </gln-input>
    </div>

    <div class="app-elem">
      <div>
        <small>
          <em>Attribute: isNoLabel.</em>
        </small>
      </div>
      <gln-input formControlName="model02c"
        label="isNoLabel"
        isNoLabel
        helperText="The label is not displayed."
        [exterior]="exterior02a">
      </gln-input>
    </div>

    <div class="app-elem">
      <div>
        <small>
          <em>Attribute: isDisabled.</em>
        </small>
      </div>
      <gln-input formControlName="model02d"
        label="Disabled"
        isDisabled
        helperText="The parameter is disabled."
        [exterior]="exterior02a">
      </gln-input>
    </div>

  </div>

</form>

<section mr-vr2>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="labelHtml">
          <code><pre source="html">
&lt;form [formGroup]="formGroup02a"
  novalidate
  autocomplete="off"&gt;

  &lt;div class="app-group"&gt;

    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;State: empty.&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;gln-input formControlName="model02a"
        label="Enter value"
        [exterior]="exterior02a"&gt;
      &lt;/gln-input&gt;
    &lt;/div&gt;

    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;Attributes: isRequired.&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;gln-input formControlName="model02b"
        label="Required field"
        isRequired
        [exterior]="exterior02a"&gt;
      &lt;/gln-input&gt;
    &lt;/div&gt;

    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;Attribute: isNoLabel.&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;gln-input formControlName="model02c"
        label="isNoLabel"
        isNoLabel
        helperText="The label is not displayed."
        [exterior]="exterior02a"&gt;
      &lt;/gln-input&gt;
    &lt;/div&gt;

    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;Attribute: isDisabled.&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;gln-input formControlName="model02d"
        label="Disabled"
        isDisabled
        helperText="The parameter is disabled."
        [exterior]="exterior02a"&gt;
      &lt;/gln-input&gt;
    &lt;/div&gt;

  &lt;/div&gt;

&lt;/form&gt;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelTs">
          <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';
import &#123;
  FormControl, FormGroup, Validators
&#125; from '@angular/forms';

@Component(&#123;
  selector: 'app-frame',
  templateUrl: './frame.component.html',
  styleUrls: ['./frame.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class FrameComponent &#123;
  public exterior02a = 'outlined';
  public formGroup02a: FormGroup = new FormGroup(&#123;
    model02a: new FormControl(null, []),
    model02b: new FormControl('Hello World', [Validators.required]),
    model02c: new FormControl('Hello World', []),
    model02d: new FormControl('Hello World', []),
  &#125;);
&#125;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelCss">
          <code><pre source="css">
.app-group &#123;
  display: flex;
  flex-wrap: wrap;
&#125;
.app-elem &#123;
  min-width: 26ch;
  margin: 10px 10px;
&#125;</pre></code>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
</section>

<hr br-nn />


<section mr-vr>
  <span>exterior: </span>
  <mat-button-toggle-group value="exterior02b"
    (change)="exterior02b=$event.value">
    <mat-button-toggle [checked]="exterior02b==='outlined'"
      value="outlined">{{ labelOutlined }}</mat-button-toggle>
    <mat-button-toggle [checked]="exterior02b==='underline'"
      value="underline">{{ labelUnderline }}</mat-button-toggle>
    <mat-button-toggle [checked]="exterior02b==='standard'"
      value="standard">{{ labelStandard }}</mat-button-toggle>
  </mat-button-toggle-group>
</section>

<form [formGroup]="formGroup02b"
  novalidate
  autocomplete="off">

  <div class="app-group">

    <div class="app-elem">
      <div>
        <small>
          <em>Attribute: isLabelShrink.</em>
        </small>
      </div>
      <gln-input formControlName="model02e"
        label="Permanent label"
        isLabelShrink
        helperText="The position of the label is fixed."
        [exterior]="exterior02b">
      </gln-input>
    </div>

    <div class="app-elem">
      <div>
        <small>
          <em>Attribute: isError.</em>
        </small>
      </div>
      <gln-input formControlName="model02f"
        [label]="!control02b.model02f.value
        ? 'Requires a value':'Parameter value'"
        [isError]="!control02b.model02f.value ? '':null"
        [helperText]="control02b.model02f.value
      ? 'The field is filled.'
      : 'The field is not filled.'"
        [exterior]="exterior02b">
      </gln-input>
    </div>

    <div class="app-elem">
      <div>
        <small>
          <em>Attribute: isHoverColor99.</em>
        </small>
      </div>
      <gln-input formControlName="model02g"
        label="Parameter value"
        isHoverColor99
        helperText="On hover, a frame with the focus color."
        [exterior]="exterior02b">
      </gln-input>
    </div>

    <div class="app-elem fa-elem">
      <div>
        <small>
          <em>Attribute: wdFull and parent width: 28ch.</em>
        </small>
      </div>
      <gln-input formControlName="model02h"
        label="Parameter value"
        wdFull
        helperText="The width is equal to the parent."
        [exterior]="exterior02b">
      </gln-input>
    </div>

  </div>

</form>

<section mr-vr2>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="labelHtml">
          <code><pre source="html">
&lt;form [formGroup]="formGroup02b"
  novalidate
  autocomplete="off"&gt;

  &lt;div class="app-group"&gt;

    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;Attribute: isLabelShrink.&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;gln-input formControlName="model02e"
        label="Permanent label"
        isLabelShrink
        helperText="The position of the label is fixed."
        [exterior]="exterior02b"&gt;
      &lt;/gln-input&gt;
    &lt;/div&gt;

    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;Attribute: isError.&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;gln-input formControlName="model02f"
        [label]="!control02b.model02f.value
        ? 'Requires a value':'Parameter value'"
        [isError]="!control02b.model02f.value ? '':null"
        [helperText]="control02b.model02f.value
      ? 'The field is filled.'
      : 'The field is not filled.'"
        [exterior]="exterior02b"&gt;
      &lt;/gln-input&gt;
    &lt;/div&gt;

    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;Attribute: isHoverColor99.&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;gln-input formControlName="model02g"
        label="Parameter value"
        isHoverColor99
        helperText="On hover, a frame with the focus color."
        [exterior]="exterior02b"&gt;
      &lt;/gln-input&gt;
    &lt;/div&gt;

  &lt;/div&gt;

&lt;/form&gt;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelTs">
          <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';
import &#123;
  FormControl, FormGroup
&#125; from '@angular/forms';

@Component(&#123;
  selector: 'app-frame',
  templateUrl: './frame.component.html',
  styleUrls: ['./frame.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class FrameComponent &#123;
  public exterior02b = 'outlined';
  public control02b = &#123;
    model02e: new FormControl(null, []),
    model02f: new FormControl(null, []),
    model02g: new FormControl('Hello World', []),
  &#125;;
  public formGroup02b: FormGroup = new FormGroup(this.control02b);
&#125;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelCss">
          <code><pre source="css">
.app-group &#123;
  display: flex;
  flex-wrap: wrap;
&#125;
.app-elem &#123;
  min-width: 26ch;
  margin: 10px 10px;
&#125;</pre></code>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
</section>

<hr br-nn />