<!-- Page: "Basic" 01 -->
<section mr-vr>
  <h3 class="app-hover-link">
    Basic.
    <a [href]="urlCmSpinner + '#Basic'">#</a>
  </h3>
  <span>
    To use this component, in your module you need to add:
  </span>
  <code><pre source="ts">
import &#123; GlnSpinnerModule &#125; from 'gelenium-ui';</pre>
  </code>
  <p>
    The GlnSpinner component is used to display the progress of data processing.<br />
    This component renders an internal "svg" image that rotates around its own axis.<br />
    Also, this component can display its content instead of an internal image.
  </p>
</section>


<div class="app-group">

  <div class="app-elem">
    <gln-spinner></gln-spinner>
  </div>

</div>


<section mr-vr>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="labelHtml">
          <code><pre source="html">
&lt;div class="app-group"&gt;

  &lt;div class="app-elem"&gt;
    &lt;gln-spinner&gt;&lt;/gln-spinner&gt;
  &lt;/div&gt;

&lt;/div&gt;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelTs">
          <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';

@Component(&#123;
  selector: 'app-spinner',
  templateUrl: './spinner.component.html',
  styleUrls: ['./spinner.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class SpinnerComponent &#123;
&#125;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelCss">
          <code><pre source="css">
app-spinner &#123;
  .app-group &#123;
    display: flex;
    flex-wrap: wrap;
  &#125;
  .app-elem &#123;
    min-width: 26ch;
    margin: 10px 10px;
  &#125;
&#125;</pre></code>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
</section>

<hr br-nn />



<!-- Page: "Attributes" 02 -->
<section mr-vr>
  <h3 class="app-hover-link">
    Attributes.
    <a [href]="urlCmSpinner + '#Attributes'">#</a>
  </h3>
  <p>The following attributes are supported:</p>
  <ul>
    <li>
      "id" - parameter for defining the unique identifier of the input field
      (id="unique_identifier");
    </li>
    <li>
      "config" - Defines a configuration object.
      <a [href]="urlCmSpinner + '#config-interface'">More details.</a>
    </li>
    <li>
      "isExternal" - Displays the specified content instead of an inline SVG image.
    </li>
    <li>
      "isNoAnimation" - disable animation execution (isNoAnimation);
    </li>
    <li>
      "isNoPulsate" - disable circle pulsate (isNoPulsate);
    </li>
    <li>
      "size" - specifies the size (height and width) of the component.
    </li>
  </ul>
</section>


<section mr-vr>
  <label>
    <input type="checkbox"
      (change)="isNoAnimation02a=!isNoAnimation02a" />
    start animation
  </label>
  <br />
  <label>
    <input type="checkbox"
      (change)="isNoPulsate02a=!isNoPulsate02a" />
    no pulsate
  </label>
  <br />
  <label>
    <input type="checkbox"
      (change)="isExternal02a=!isExternal02a" />
    is external
  </label>
</section>

<div class="app-group">

  <div class="app-elem">
    <div>
      <small>
        <em>Attributes: isNoAnimation, isNoPulsate, isExternal.</em>
      </small>
    </div>
    <gln-spinner id="unique_id_spinner02a"
      [isNoAnimation]="isNoAnimation02a ? '' : null"
      [isNoPulsate]="isNoPulsate02a ? '' : null"
      [isExternal]="isExternal02a ? '' : null">
      <div class="spa-external02">
        demo
      </div>
    </gln-spinner>
  </div>

</div>

<section mr-vr>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="labelHtml">
          <code><pre source="html">
&lt;div class="app-group"&gt;

  &lt;div class="app-elem"&gt;
    &lt;div&gt;
      &lt;small&gt;
        &lt;em&gt;Attributes: isNoAnimation, isNoPulsate, isExternal.&lt;/em&gt;
      &lt;/small&gt;
    &lt;/div&gt;
    &lt;gln-spinner id="unique_id_spinner02a"
      [isNoAnimation]="isNoAnimation02a ? '' : null"
      [isNoPulsate]="isNoPulsate02a ? '' : null"
      [isExternal]="isExternal02a ? '' : null"&gt;
      &lt;div class="spa-external02"&gt;
        demo
      &lt;/div&gt;
    &lt;/gln-spinner&gt;
  &lt;/div&gt;

&lt;/div&gt;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelTs">
          <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';

@Component(&#123;
  selector: 'app-spinner',
  templateUrl: './spinner.component.html',
  styleUrls: ['./spinner.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class SpinnerComponent &#123;
  public isNoAnimation02a: boolean = true;
  public isNoPulsate02a: boolean = false;
  public isExternal02a: boolean = false;
&#125;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelCss">
          <code><pre source="css">
app-spinner &#123;
  .app-group &#123;
    display: flex;
    flex-wrap: wrap;
  &#125;
  .app-elem &#123;
    min-width: 26ch;
    margin: 10px 10px;
  &#125;
  .spa-external02 &#123;
    align-items: center;
    background-color: aquamarine;
    border: 1px solid green;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    height: inherit;
    width: inherit;
  &#125;  
&#125;</pre></code>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
</section>

<hr br-nn />



<!-- Page: "ItemSize" 03 -->
<section>
  <h3 class="app-hover-link">
    Item size.
    <a [href]="urlCmSpinner + '#ItemSize'">#</a>
  </h3>
  <p>
    The "size" property determines the size of the element (its height).
  </p>
  <p>
    It takes the following values:
  </p>
  <ul>
    <li>"short" - sets the height to 38px;</li>
    <li>"small" - sets the height to 44px (default);</li>
    <li>"middle" - sets the height to 50px;</li>
    <li>"wide" - sets the height to 56px;</li>
    <li>"large" - sets the height to 62px;</li>
    <li>"huge" - sets the height to 68px;</li>
  </ul>
</section>


<section mr-vr>
  <label>
    <input type="checkbox"
      (change)="isNoAnimation03a=!isNoAnimation03a" />
    start animation
  </label>
</section>

<div class="app-group">
  <div class="app-elem">
    <div>
      <small><em>"Short" height: 38px;</em></small>
    </div>
    <gln-spinner size="short"
      [isNoAnimation]="isNoAnimation03a ? '' : null">
    </gln-spinner>
  </div>
</div>

<div class="app-group">
  <div class="app-elem">
    <div>
      <small><em>"Small" height: 44px;</em></small>
    </div>
    <gln-spinner size="small"
      [isNoAnimation]="isNoAnimation03a ? '' : null">
    </gln-spinner>
  </div>
</div>

<div class="app-group">
  <div class="app-elem">
    <div>
      <small><em>"Middle" height: 50px;</em></small>
    </div>
    <gln-spinner size="middle"
      [isNoAnimation]="isNoAnimation03a ? '' : null">
    </gln-spinner>
  </div>
</div>

<div class="app-group">
  <div class="app-elem">
    <div>
      <small><em>"Wide" height: 56px;</em></small>
    </div>
    <gln-spinner size="wide"
      [isNoAnimation]="isNoAnimation03a ? '' : null">
    </gln-spinner>
  </div>
</div>

<div class="app-group">
  <div class="app-elem">
    <div>
      <small><em>"Large" height: 62px;</em></small>
    </div>
    <gln-spinner size="large"
      [isNoAnimation]="isNoAnimation03a ? '' : null">
    </gln-spinner>
  </div>
</div>

<div class="app-group">
  <div class="app-elem">
    <div>
      <small><em>"huge" height: 68px;</em></small>
    </div>
    <gln-spinner size="huge"
      [isNoAnimation]="isNoAnimation03a ? '' : null">
    </gln-spinner>
  </div>
</div>


<section mr-vr>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="labelHtml">
          <code><pre source="html">
&lt;div class="app-group"&gt;
  &lt;div class="app-elem"&gt;
    &lt;div&gt;
      &lt;small&gt;&lt;em&gt;"Short" height: 38px;&lt;/em&gt;&lt;/small&gt;
    &lt;/div&gt;
    &lt;gln-spinner size="short"
      [isNoAnimation]="isNoAnimation03a ? '' : null"&gt;
    &lt;/gln-spinner&gt;
  &lt;/div&gt;
&lt;/div&gt;

&lt;div class="app-group"&gt;
  &lt;div class="app-elem"&gt;
    &lt;div&gt;
      &lt;small&gt;&lt;em&gt;"Small" height: 44px;&lt;/em&gt;&lt;/small&gt;
    &lt;/div&gt;
    &lt;gln-spinner size="small"
      [isNoAnimation]="isNoAnimation03a ? '' : null"&gt;
    &lt;/gln-spinner&gt;
  &lt;/div&gt;
&lt;/div&gt;

&lt;div class="app-group"&gt;
  &lt;div class="app-elem"&gt;
    &lt;div&gt;
      &lt;small&gt;&lt;em&gt;"Middle" height: 50px;&lt;/em&gt;&lt;/small&gt;
    &lt;/div&gt;
    &lt;gln-spinner size="middle"
      [isNoAnimation]="isNoAnimation03a ? '' : null"&gt;
    &lt;/gln-spinner&gt;
  &lt;/div&gt;
&lt;/div&gt;

&lt;div class="app-group"&gt;
  &lt;div class="app-elem"&gt;
    &lt;div&gt;
      &lt;small&gt;&lt;em&gt;"Wide" height: 56px;&lt;/em&gt;&lt;/small&gt;
    &lt;/div&gt;
    &lt;gln-spinner size="wide"
      [isNoAnimation]="isNoAnimation03a ? '' : null"&gt;
    &lt;/gln-spinner&gt;
  &lt;/div&gt;
&lt;/div&gt;

&lt;div class="app-group"&gt;
  &lt;div class="app-elem"&gt;
    &lt;div&gt;
      &lt;small&gt;&lt;em&gt;"Large" height: 62px;&lt;/em&gt;&lt;/small&gt;
    &lt;/div&gt;
    &lt;gln-spinner size="large"
      [isNoAnimation]="isNoAnimation03a ? '' : null"&gt;
    &lt;/gln-spinner&gt;
  &lt;/div&gt;
&lt;/div&gt;

&lt;div class="app-group"&gt;
  &lt;div class="app-elem"&gt;
    &lt;div&gt;
      &lt;small&gt;&lt;em&gt;"huge" height: 68px;&lt;/em&gt;&lt;/small&gt;
    &lt;/div&gt;
    &lt;gln-spinner size="huge"
      [isNoAnimation]="isNoAnimation03a ? '' : null"&gt;
    &lt;/gln-spinner&gt;
  &lt;/div&gt;
&lt;/div&gt;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelTs">
          <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';

@Component(&#123;
  selector: 'app-spinner',
  templateUrl: './spinner.component.html',
  styleUrls: ['./spinner.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class SpinnerComponent &#123;
  public isNoAnimation03a: boolean = true;
&#125;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelCss">
          <code><pre source="css">
app-spinner &#123;
  .app-group &#123;
    display: flex;
    flex-wrap: wrap;
  &#125;
  .app-elem &#123;
    min-width: 26ch;
    margin: 10px 10px;
  &#125;
&#125;</pre></code>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
</section>

<hr br-nn />

<section mr-vr
  id="api-properties">
  <h4 class="app-hover-link">
    Configuration for custom height (57px).
    <a [href]="urlCmSpinner + '#ItemSize-custom'">#</a>
  </h4>
  <p>
    In the 'size' parameter, you can specify the required size of the element.
  </p>
  <span>For example:</span>
  <code><pre source="html">
&lt;gln-spinner <strong>size="57"</strong>&gt;
&lt;/gln-spinner&gt;</pre></code>
  <p>
    You can also specify the required size of the element in the configuration
    parameter.
  </p>
  <span>For example:</span>
  <code><pre source="html">
&lt;gln-spinner <strong>[config]="&#123; size: 57 &#125;"</strong>&gt;
&lt;/gln-spinner&gt;</pre></code>
</section>


<section mr-vr>
  <label>
    <input type="checkbox"
      (change)="isNoAnimation03b=!isNoAnimation03b" />
    start animation
  </label>
</section>


<div class="app-group">

  <div class="app-elem">
    <div>
      <small><em>custom [size]="57"</em></small>
    </div>
    <gln-spinner [size]="57"
      [isNoAnimation]="isNoAnimation03b ? '' : null">
    </gln-spinner>
  </div>

  <div class="app-elem">
    <div>
      <small><em>custom [config]="&#123; size: '57' &#125;"</em></small>
    </div>
    <gln-spinner [config]="{ size: '57' }"
      [isNoAnimation]="isNoAnimation03b ? '' : null">
    </gln-spinner>
  </div>

</div>


<section mr-vr>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="labelHtml">
          <code><pre source="html">
&lt;div class="app-group"&gt;

  &lt;div class="app-elem"&gt;
    &lt;div&gt;
      &lt;small&gt;&lt;em&gt;custom [size]="57"&lt;/em&gt;&lt;/small&gt;
    &lt;/div&gt;
    &lt;gln-spinner [size]="57"
      [isNoAnimation]="isNoAnimation03b ? '' : null"&gt;
    &lt;/gln-spinner&gt;
  &lt;/div&gt;

  &lt;div class="app-elem"&gt;
    &lt;div&gt;
      &lt;small&gt;&lt;em&gt;custom [config]="&#123; size: '57' &#125;"&lt;/em&gt;&lt;/small&gt;
    &lt;/div&gt;
    &lt;gln-spinner [config]="&#123; size: '57' &#125;"
      [isNoAnimation]="isNoAnimation03b ? '' : null"&gt;
    &lt;/gln-spinner&gt;
  &lt;/div&gt;

&lt;/div&gt;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelTs">
          <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';

@Component(&#123;
  selector: 'app-spinner',
  templateUrl: './spinner.component.html',
  styleUrls: ['./spinner.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class SpinnerComponent &#123;
  public isNoAnimation03b: boolean = true;
&#125;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelCss">
          <code><pre source="css">
app-spinner &#123;
  .app-group &#123;
    display: flex;
    flex-wrap: wrap;
  &#125;
  .app-elem &#123;
    min-width: 26ch;
    margin: 10px 10px;
  &#125;
&#125;</pre></code>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
</section>

<hr br-nn />



<!-- Page: "Palette" 04 -->
<section>
  <h3 class="app-hover-link">
    Palette.
    <a [href]="urlCmSpinner + '#Palette'">#</a>
  </h3>
  <p>
    The GlnSpinner component has the ability to change its color.
  </p>
  <span>For example:</span>
  <code><pre source="html">
&lt;gln-spinner <strong>[glnColor]="&#123; primary: 'danger' &#125;"</strong>&gt;
&lt;/gln-spinner&gt;</pre></code>
  <p>
    This means that you want to use the system color "danger"
    as the "primary" color.
  </p>
  <span>
    To use the glnColor directive, you need to add in your module:
  </span>
  <code><pre source="ts">
import &#123; GlnColorModule &#125; from 'gelenium-ui';</pre></code>
</section>


<section mr-vr>
  <label>
    <input type="checkbox"
      (change)="isNoAnimation04a=!isNoAnimation04a" />
    start animation
  </label>
</section>

<div class="app-group">

  <div class="app-elem">
    <div>
      <small><em>color: primary</em></small>
    </div>
    <gln-spinner [glnColor]="{ primary: 'primary' }"
      [isNoAnimation]="isNoAnimation04a ? '' : null">
    </gln-spinner>
  </div>

  <div class="app-elem">
    <div>
      <small><em>color: danger</em></small>
    </div>
    <gln-spinner [glnColor]="{ primary: 'danger' }"
      [isNoAnimation]="isNoAnimation04a ? '' : null">
    </gln-spinner>
  </div>

  <div class="app-elem">
    <div>
      <small><em>color: success</em></small>
    </div>
    <gln-spinner [glnColor]="{ primary: 'success' }"
      [isNoAnimation]="isNoAnimation04a ? '' : null">
    </gln-spinner>
  </div>

  <div class="app-elem">
    <div>
      <small><em>color: info</em></small>
    </div>
    <gln-spinner [glnColor]="{ primary: 'info' }"
      [isNoAnimation]="isNoAnimation04a ? '' : null">
    </gln-spinner>
  </div>

  <div class="app-elem">
    <div>
      <small><em>color: warning</em></small>
    </div>
    <gln-spinner [glnColor]="{ primary: 'warning' }"
      [isNoAnimation]="isNoAnimation04a ? '' : null">
    </gln-spinner>
  </div>

  <div class="app-elem spp-customer">
    <div>
      <small><em>color: customer</em></small>
    </div>
    <gln-spinner [glnColor]="{ primary: 'customer' }"
      [isNoAnimation]="isNoAnimation04a ? '' : null">
    </gln-spinner>
  </div>

</div>

<section mr-vr>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="labelHtml">
          <code><pre source="html">
&lt;div class="app-group"&gt;

  &lt;div class="app-elem"&gt;
    &lt;div&gt;
      &lt;small&gt;&lt;em&gt;color: primary&lt;/em&gt;&lt;/small&gt;
    &lt;/div&gt;
    &lt;gln-spinner [glnColor]="&#123; primary: 'primary' &#125;"
      [isNoAnimation]="isNoAnimation04a ? '' : null"&gt;
    &lt;/gln-spinner&gt;
  &lt;/div&gt;

  &lt;div class="app-elem"&gt;
    &lt;div&gt;
      &lt;small&gt;&lt;em&gt;color: danger&lt;/em&gt;&lt;/small&gt;
    &lt;/div&gt;
    &lt;gln-spinner [glnColor]="&#123; primary: 'danger' &#125;"
      [isNoAnimation]="isNoAnimation04a ? '' : null"&gt;
    &lt;/gln-spinner&gt;
  &lt;/div&gt;

  &lt;div class="app-elem"&gt;
    &lt;div&gt;
      &lt;small&gt;&lt;em&gt;color: success&lt;/em&gt;&lt;/small&gt;
    &lt;/div&gt;
    &lt;gln-spinner [glnColor]="&#123; primary: 'success' &#125;"
      [isNoAnimation]="isNoAnimation04a ? '' : null"&gt;
    &lt;/gln-spinner&gt;
  &lt;/div&gt;

  &lt;div class="app-elem"&gt;
    &lt;div&gt;
      &lt;small&gt;&lt;em&gt;color: info&lt;/em&gt;&lt;/small&gt;
    &lt;/div&gt;
    &lt;gln-spinner [glnColor]="&#123; primary: 'info' &#125;"
      [isNoAnimation]="isNoAnimation04a ? '' : null"&gt;
    &lt;/gln-spinner&gt;
  &lt;/div&gt;

  &lt;div class="app-elem"&gt;
    &lt;div&gt;
      &lt;small&gt;&lt;em&gt;color: warning&lt;/em&gt;&lt;/small&gt;
    &lt;/div&gt;
    &lt;gln-spinner [glnColor]="&#123; primary: 'warning' &#125;"
      [isNoAnimation]="isNoAnimation04a ? '' : null"&gt;
    &lt;/gln-spinner&gt;
  &lt;/div&gt;

  &lt;div class="app-elem spp-customer"&gt;
    &lt;div&gt;
      &lt;small&gt;&lt;em&gt;color: customer&lt;/em&gt;&lt;/small&gt;
    &lt;/div&gt;
    &lt;gln-spinner [glnColor]="&#123; primary: 'customer' &#125;"
      [isNoAnimation]="isNoAnimation04a ? '' : null"&gt;
    &lt;/gln-spinner&gt;
  &lt;/div&gt;

&lt;/div&gt;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelTs">
          <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';

@Component(&#123;
  selector: 'app-spinner',
  templateUrl: './spinner.component.html',
  styleUrls: ['./spinner.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class SpinnerComponent &#123;
  public isNoAnimation04a: boolean = true;
&#125;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelCss">
          <code><pre source="css">
app-spinner &#123;
  .app-group &#123;
    display: flex;
    flex-wrap: wrap;
  &#125;
  .app-elem &#123;
    min-width: 26ch;
    margin: 10px 10px;
  &#125;
  .spp-customer &#123;
    --gln-customer-h: 200;
    --gln-customer-s: 75%;
    --gln-customer-l: 50%;
    --gln-customer-cl:
    hsl(var(--gln-customer-h), var(--gln-customer-s), var(--gln-customer-l));
  &#125;
&#125;</pre></code>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
</section>

<hr br-nn />


<!-- Page: "Customization" 05 -->
<i id="Customization">Customization_ID</i>
<section>
  <h3 class="app-hover-link">
    Customization.
    <a [href]="urlCmSpinner + '#Customization'">#</a>
  </h3>
  <p>
    The GlnSpinner component has additional user customization.
    By default, the GlnSpinner component renders an inline svg image.
    It is also possible to display user-specified content.
    The 'isExternal' parameter is used for this.
  </p>
  <p>
    You can specify in the content a class that uses the svg image from resources.
  </p>
  <span>For example html:</span>
  <code><pre source="html">
&lt;gln-spinner <strong>isExternal</strong>&gt;
  <strong>&lt;i class="app-external-svg"&gt;&lt;/i&gt;</strong>
&lt;/gln-spinner&gt;</pre></code>
  <span>For example css:</span>
  <code><pre source="css">
.app-external-svg &#123;
  background-image: url('assets/icons/icon-demo.svg');
  display: inline-block;
  height: inherit;
  width: inherit;
&#125;</pre></code>
  <p>
    You can also specify in the content the 'svg' tag inside which the 'use' tag.
    And already inside the 'use' tag, use a link to the svg image from the resources.
  </p>
  <span>For example html:</span>
  <code><pre source="html">
&lt;gln-spinner <strong>isExternal</strong>&gt;
  <strong>&lt;svg&gt;&lt;use href="assets/icons/icon-demo.svg"&gt;&lt;/use&gt;&lt;/svg&gt;</strong>
&lt;/gln-spinner&gt;</pre></code>
</section>

<section mr-vr>
  <label>
    <input type="checkbox"
      (change)="isNoAnimation05a=!isNoAnimation05a" />
    start animation
  </label>
</section>


<div class="app-group">

  <div class="app-elem">
    <div>
      <small><em>spinner refresh</em></small>
    </div>
    <gln-spinner isExternal
      [isNoAnimation]="isNoAnimation05a ? '' : null">
      <i class="spc-spinner-refresh"></i>
    </gln-spinner>
  </div>

  <div class="app-elem">
    <div>
      <small><em>spinner of dots</em></small>
    </div>
    <gln-spinner isExternal
      [isNoAnimation]="isNoAnimation05a ? '' : null">
      <svg>
        <use
          href="assets/icons/lib-components/cm-spinner-customization/icon-spinner-of-dots.svg#icon-spinner-of-dots">
        </use>
      </svg>
    </gln-spinner>
  </div>

</div>


<section mr-vr>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="labelHtml">
          <code><pre source="html">
&lt;div class="app-group"&gt;

  &lt;div class="app-elem"&gt;
    &lt;div&gt;
      &lt;small&gt;&lt;em&gt;spinner refresh&lt;/em&gt;&lt;/small&gt;
    &lt;/div&gt;
    &lt;gln-spinner isExternal
      [isNoAnimation]="isNoAnimation05a ? '' : null"&gt;
      &lt;i class="spc-spinner-refresh"&gt;&lt;/i&gt;
    &lt;/gln-spinner&gt;
  &lt;/div&gt;

  &lt;div class="app-elem"&gt;
    &lt;div&gt;
      &lt;small&gt;&lt;em&gt;spinner of dots&lt;/em&gt;&lt;/small&gt;
    &lt;/div&gt;
    &lt;gln-spinner isExternal
      [isNoAnimation]="isNoAnimation05a ? '' : null"&gt;
      &lt;svg&gt;
        &lt;use
          href="assets/icons/lib-components/cm-spinner-customization/icon-spinner-of-dots.svg#icon-spinner-of-dots"&gt;
        &lt;/use&gt;
      &lt;/svg&gt;
    &lt;/gln-spinner&gt;
  &lt;/div&gt;

&lt;/div&gt;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelTs">
          <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';

@Component(&#123;
  selector: 'app-spinner',
  templateUrl: './spinner.component.html',
  styleUrls: ['./spinner.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class SpinnerComponent &#123;
  public isNoAnimation05a: boolean = true;
&#125;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelCss">
          <code><pre source="css">
app-spinner &#123;
  .app-group &#123;
    display: flex;
    flex-wrap: wrap;
  &#125;
  .app-elem &#123;
    min-width: 26ch;
    margin: 10px 10px;
  &#125;
  .spc-spinner-refresh &#123;
    background-color: currentColor;
    display: inline-block;
    height: inherit;
    mask: url("data:image/svg+xml;charset=utf8,"
      + "&lt;svg xmlns='http://www.w3.org/2000/svg' "
      + " viewBox='-1.5 0 24 24'&gt;"
      + "&lt;g stroke-width='0'&gt;&lt;/g&gt;"
      + "&lt;g stroke-linecap='round' stroke-linejoin='round'&gt;&lt;/g&gt;"
      + "&lt;g&gt;"
      + "&lt;path"
      + " d='m7.5 21 2.999-3v1.5c4.143 0 7.501-3.359 7.501-7.502 0-2.074-."
      + "842-3.952-2.202-5.309l2.114-2.124c1.908 1.901 3.088 4.531 3.088 7"
      + ".437 0 5.798-4.7 10.498-10.498 10.498-.001 0-.001 0-.002 0v1.5zm-"
      + "7.5-9c.007-5.796 4.704-10.493 10.499-10.5h.001v-1.5l3 3-3 3v-1.5s"
      + "-.001 0-.002 0c-4.143 0-7.502 3.359-7.502 7.502 0 2.074.842 3.952"
      + " 2.203 5.31l-2.112 2.124c-1.907-1.89-3.088-4.511-3.088-7.407 0-.0"
      + "1 0-.02 0-.03v.002z'&gt;"
      + "&lt;/path&gt;"
      + "&lt;/g&gt;"
      + "&lt;/svg&gt;");
    width: inherit;
  &#125;
&#125;</pre></code>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
</section>

<hr br-nn />



<!-- Page: "Config" 08 -->
<section mr-vr>
  <h3 class="app-hover-link">
    Config
    <a [href]="urlCmSpinner + '#Config'">#</a>
  </h3>
  <p>
    If your application will have a single style for GlnSpinner elements, then you can set a single
    configuration.
    To do this, you need to create an object with the GlnSpinnerConfig interface and define the
    required values.
    Next, specify the resulting object in the list of providers for the entire application (at the
    level of the AppComponent).
  </p>
  <code><pre source="ts">
const glnSpinnerConfigDefault: GlnSpinnerConfig = &#123;
  exterior: 'underline',
  size: 'wide',
&#125;;

@Component(&#123;
  selector: 'app-root',
  templateUrl: './app.component.html',
  styleUrls: ['./app.component.scss'],
  providers: [
    &#123; provide: GLN_SPINNER_CONFIG, useValue: glnSpinnerConfigDefault &#125;
  ],
&#125;)
export class AppComponent &#123;
  title = 'demo';
&#125;</pre></code>
  <p>
    After that, all "GlnSpinner" components will have the same configuration.
  </p>
</section>


<section mr-vr
  id="config-interface">
  <h4 class="app-hover-link">
    GlnSpinnerConfig interface.
    <a [href]="urlCmSpinner + '#config-interface'">#</a>
  </h4>
</section>

<table class="app-tab">
  <thead>
    <tr>
      <th class="app-mn-wd-22ch">Name</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><code>isExternal?: boolean<br/>
        &nbsp;&nbsp;| undefined;</code></td>
      <td>
        <span>
          Displays the specified content instead of an inline SVG image.
          <br />(default = false;)
        </span>
      </td>
    </tr>
    <tr>
      <td><code>isNoAnimation?: boolean<br/>
        &nbsp;&nbsp;| undefined;</code></td>
      <td>
        <span>
          Disable animation execution.
          <br />(default = false;)
        </span>
      </td>
    </tr>
    <tr>
      <td><code>isNoPulsate?: boolean<br/>
        &nbsp;&nbsp;| undefined;</code></td>
      <td>
        <span>
          Disable circle pulsate.
          <br />(default = false;)
        </span>
      </td>
    </tr>
    <tr>
      <td><code>size?: number<br/>
        &nbsp;&nbsp;| string<br/>
        &nbsp;&nbsp;| undefined;</code></td>
      <td>
        <span>Determines the size of the element.<br />
          It can take the following values:
        </span>
        <ul>
          <li>"short" - height: 38px;</li>
          <li>"small" - height: 44px (default);</li>
          <li>"middle" - height: 50px;</li>
          <li>"wide" - height: 56px;</li>
          <li>"large" - height: 62px;</li>
          <li>"huge" - height: 68px;</li>
        </ul>
        <span>
          This property can also contain a string with the value of the height
          of the element in pixels.<br />
          For example: <code>size="57" or [size]="57"</code>
        </span>
      </td>
    </tr>
  </tbody>
</table>


<section mr-vr
  id="config-provide">
  <h4 class="app-hover-link">
    1. Configuration with "outlined" and "small".
    <a [href]="urlCmSpinner + '#config-provide'">#</a>
  </h4>
  <p>
    For example, let's prepare a configuration in which:
  </p>
  <ul>
    <li>"size" will have the value "short" (height to 38px);</li>
  </ul>
  <code><pre source="ts">
const glnSpinnerConfigDefault: GlnSpinnerConfig = &#123;
  size: 'short',
&#125;;</pre></code>
</section>

<section mr-vr
  id="config-params">
  <h4 class="app-hover-link">
    2. Configuration with "middle".
    <a [href]="urlCmSpinner + '#config-params'">#</a>
  </h4>
  <p>
    Suppose we have a provider in our application with "GlnSpinnerConfig" and all "GlnSpinner"
    elements accept its default values.
    We can change these values for an individual element.
    To do this, you need to specify in this element those properties that do not match the
    provider's configuration.
  </p>
  <p>
    For example, let's specify the following parameters:
  </p>
  <code><pre source="ts">
size="middle"</pre></code>
  <p>
    In other words, there is the following order of determining the configuration parameters:
  </p>
  <ul>
    <li>
      Standard values are taken.
      <code><pre source="ts">
isExternal=false,
isNoAnimation=false,
isNoPulsate=false,
size='small'</pre></code>
    </li>
    <li>
      Values from the default configuration provider (if there is one).
    </li>
    <li>
      Values from input parameters (if there is one).
    </li>
  </ul>
</section>

<section mr-vr>
  <label>
    <input type="checkbox"
      (change)="isNoAnimation08a=!isNoAnimation08a" />
    start animation
  </label>
</section>


<div class="app-group">

  <div class="app-elem">
    <div>
      <small>
        <em>1. Default config: "short".</em>
      </small>
    </div>
    <gln-spinner [isNoAnimation]="isNoAnimation08a ? '' : null">
    </gln-spinner>
  </div>

  <div class="app-elem">
    <div>
      <small>
        <em>2. size="middle".</em>
      </small>
    </div>
    <gln-spinner [isNoAnimation]="isNoAnimation08a ? '' : null"
      size="middle">
    </gln-spinner>
  </div>

</div>


<section mr-vr>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="labelHtml">
          <code><pre source="html">
&lt;div class="app-group"&gt;

  &lt;div class="app-elem"&gt;
    &lt;div&gt;
      &lt;small&gt;
        &lt;em&gt;1. Default config: "short".&lt;/em&gt;
      &lt;/small&gt;
    &lt;/div&gt;
    &lt;gln-spinner [isNoAnimation]="isNoAnimation08a ? '' : null"&gt;
    &lt;/gln-spinner&gt;
  &lt;/div&gt;

  &lt;div class="app-elem"&gt;
    &lt;div&gt;
      &lt;small&gt;
        &lt;em&gt;2. size="middle".&lt;/em&gt;
      &lt;/small&gt;
    &lt;/div&gt;
    &lt;gln-spinner [isNoAnimation]="isNoAnimation08a ? '' : null"
      size="middle"&gt;
    &lt;/gln-spinner&gt;
  &lt;/div&gt;

&lt;/div&gt;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelTs">
          <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';
import &#123;
  GlnSpinnerConfig, GLN_SPINNER_CONFIG
&#125; from 'gelenium-ui';

const glnSpinnerConfigDefault: GlnSpinnerConfig = &#123;
  size: 'short',
&#125;;

@Component(&#123;
  selector: 'app-spinner',
  templateUrl: './spinner.component.html',
  styleUrls: ['./spinner.component.scss'],
  encapsulation: ViewEncapsulation.None,
  providers: [&#123; provide: GLN_SPINNER_CONFIG, useValue: glnSpinnerConfigDefault &#125;],
&#125;)
export class SpinnerComponent &#123;
  public isNoAnimation08a: boolean = true;
&#125;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelCss">
          <code><pre source="css">
app-spinner &#123;
  .app-group &#123;
    display: flex;
    flex-wrap: wrap;
  &#125;
  .app-elem &#123;
    min-width: 26ch;
    margin: 10px 10px;
  &#125;
&#125;</pre></code>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
</section>

<hr br-nn />


<!-- Page: "Api" 09 -->

<section mr-vr>
  <h3 class="app-hover-link">
    API: GlnSpinner.
    <a [href]="urlCmSpinner + '#Api'">#</a>
  </h3>
  <p>
    Selector:
    <span fw500>gln-spinner</span>
  </p>
  <p>
    Exported as:
    <span fw500>glnSpinner</span>
  </p>
</section>

<section mr-vr
  id="api-properties">
  <h4 class="app-hover-link">
    Properties.
    <a [href]="urlCmSpinner + '#api-properties'">#</a>
  </h4>
</section>

<table class="app-tab">
  <thead>
    <tr>
      <th class="app-mn-wd-22ch">Name</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <code>@Input()</code>
        <code>id: string;</code>
      </td>
      <td>
        <span>
          ID of the native element.
          <br />(default = `glnsp-$&#123;uniqueIdCounter++&#125;`;)
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>config: GlnSpinnerConfig<br/>
            &nbsp;&nbsp;| null<br/>
            &nbsp;&nbsp;| undefined;</code>
      </td>
      <td>
        <span>Defines a configuration object.</span><br />
        <a [href]="urlCmSpinner + '#config-interface'">More details.</a>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>isExternal: string<br/>
            &nbsp;&nbsp;| boolean<br/>
            &nbsp;&nbsp;| null<br/>
            &nbsp;&nbsp;| undefined;</code>
      </td>
      <td>
        <span>Display user context instead of internal svg image.</span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>isNoAnimation: string<br/>
            &nbsp;&nbsp;| boolean<br/>
            &nbsp;&nbsp;| null<br/>
            &nbsp;&nbsp;| undefined;</code>
      </td>
      <td>
        <span>Disable animation execution.</span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>isNoPulsate: string<br/>
            &nbsp;&nbsp;| boolean<br/>
            &nbsp;&nbsp;| null<br/>
            &nbsp;&nbsp;| undefined;</code>
      </td>
      <td>
        <span>Disable circle pulsate.</span>
      </td>
    </tr>
    <tr>
      <td>
        <code>@Input()</code>
        <code>size: number<br/>
            &nbsp;&nbsp;| string<br/>
            &nbsp;&nbsp;| null<br/>
            &nbsp;&nbsp;| undefined;</code>
      </td>
      <td>
        <span>Determines the size of the element.<br />
          It can take the following values:
        </span>
        <ul>
          <li>"short" - height: 38px;</li>
          <li>"small" - height: 44px (default);</li>
          <li>"middle" - height: 50px;</li>
          <li>"wide" - height: 56px;</li>
          <li>"large" - height: 62px;</li>
          <li>"huge" - height: 68px;</li>
        </ul>
        <span>
          This property can also contain a string with the value of the height
          of the element in pixels.<br />
          For example: <code>size="57" or [size]="57"</code>
        </span>
      </td>
    </tr>
  </tbody>
</table>

<section mr-vr
  id="api-css-variables-optional">
  <h4 class="app-hover-link">
    Css variables, optional. You can override the default values.
    <a [href]="urlCmSpinner + '#api-css-variables-optional'">#</a>
  </h4>
</section>

<table class="app-tab">
  <thead>
    <tr>
      <th class="app-mn-wd-22ch">Name</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><code>--glnsp--primary-h:<br/>
          &nbsp;var(--glncl-primary-h,<br/>
          &nbsp;&nbsp;var(--gln-primary-h)<br/>
          &nbsp;);</code>
      </td>
      <td>
        <span>
          The value is determined by the system css-variable
          <code ubr>--gln-primary-h</code>.<br />
          Or the css-variable of the GlnColor directive
          <code ubr>--glncl-primary-h</code>.<br />
          The hue value for the "hsl()" css function.<br />
        </span>
      </td>
    </tr>
    <tr>
      <td><code>--glnsp--primary-s:<br/>
          &nbsp;var(--glncl-primary-s,<br/>
          &nbsp;&nbsp;var(--gln-primary-s)<br/>
          &nbsp;);</code>
      </td>
      <td>
        <span>
          The value is determined by the system css-variable
          <code ubr>--gln-primary-s</code>.<br />
          Or the css-variable of the GlnColor directive
          <code ubr>--glncl-primary-s</code>.<br />
          The saturation value for the "hsl()" css function.<br />
        </span>
      </td>
    </tr>
    <tr>
      <td><code>--glnsp--primary-l:<br/>
          &nbsp;var(--glncl-primary-l,<br/>
          &nbsp;&nbsp;var(--gln-primary-l)<br/>
          &nbsp;);</code>
      </td>
      <td>
        <span>
          The value is determined by the system css-variable
          <code ubr>--gln-primary-l</code>.<br />
          Or the css-variable of the GlnColor directive
          <code ubr>--glncl-primary-l</code>.<br />
          The lightness value for the "hsl()" css function.<br />
        </span>
      </td>
    </tr>
    <tr>
      <td><code>--glnsp-size:<br/>
        &nbsp;&nbsp;var(--glnsp--size, 32px);</code></td>
      <td>
        <span>
          Determines the height and width of the element.<br />
          The value of the internal css variable '--glnsp--size' is determined
          by the input parameter 'size'.
        </span>
      </td>
    </tr>
    <tr>
      <td><code>--glnsp-duration: 1.4s;</code></td>
      <td>
        <span>
          This is the animation time for rotating an image (internal or external)
          around its axis in one cycle.<br />
          Also, this is the execution time of one circle ripple cycle for the internal svg image.
        </span>
      </td>
    </tr>
  </tbody>
</table>