/*# sourceURL=button-palette2.component.scss */

app-button-palette2 {
  display: block;

  .bp-items {
    display: flex;
    flex-wrap: wrap;
  }
  .bp-items > :first-child {
    margin-left: 1%;
  }
  .bp-items > :not(first-child) {
    margin-left: 5%;
  }

  // ** Style: bstrap "bs-btn" **
  .bstr-btn.gln-button {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    --glnbt-lb-pd-lf: 0.75rem;
    --glnbt-lb-pd-rg: 0.75rem;
  }
  .bstr-btn.gln-button.gln-disabled>.glnbt-btn {
    opacity: .65;
  }
  .bstr-btn.gln-button:not(.gln-disabled)>.glnbt-btn:focus-within,
  .bstr-btn.gln-button:not(.gln-disabled).focus>.glnbt-btn {
    box-shadow: 0 0 0 0.2rem hsla(var(--glnbt--primary-h), var(--glnbt--primary-s), 57%, 50%);
  }

  // ** Style: bstrap "bs-btn-contained" **
  .bstr-btn.glnbt-contained>.glnbt-btn {
    --glnbt-c-foc-bg-cl: var(--glnbt--hov-bg-cl);
    --glnbt-c-dis-cl: var(--glnbt--def-cl);
    --glnbt-c-dis-bg-cl:  var(--glnbt--def-bg-cl);
    --glnbt-c-dis-br-cl:  var(--glnbt--def-bg-cl);
  }

  // ** Style: bstrap "bs-btn-outline" **
  .bstr-btn.gln-button.glnbt-outlined {
    --glnbt-o-def-br-cl: var(--glnbt--def-cl);
    --glnbt-o-hov-cl: var(--bs-o-hov-cl,  hsl(var(--glnbt--default-bg-h), var(--glnbt--default-bg-s), 100%)); // #fff
    --glnbt--hov-bg-cl: var(--glnbt-o-def-cl);
    --glnbt-o-dis-cl:  var(--glnbt--def-cl);
    --glnbt-o-dis-br-cl:  var(--glnbt--def-cl);
  }

  // ** Style: bstrap "Primary" **

  .bstr-primary {
    --gln-bs-primary-h: 211;
    --gln-bs-primary-s: 100%;
    --gln-bs-primary-l: 50%;
     // #007bff = hsl(211deg 100% 50%);
    --glnbt-c-def-bg-cl: #007bff;
    --glnbt-c-def-br-cl: #007bff;
    --glnbt-c-hov-bg-cl: #0069d9;
    --glnbt-c-hov-br-cl: #0062cc;
    --glnbt-o-def-cl: #007bff;
  }

  // ** Style: bstrap "Secondary" **

  .bstr-secondary {
    --gln-bs-secondary-h: 208;
    --gln-bs-secondary-s: 7%;
    --gln-bs-secondary-l: 46%;
    // #6c757d = hsl(208deg 7% 46%);
    --glnbt-c-def-bg-cl: #6c757d;
    --glnbt-c-def-br-cl: #6c757d;
    --glnbt-c-hov-bg-cl: #5a6268;
    --glnbt-c-hov-br-cl: #545b62;
    --glnbt-o-def-cl: #6c757d;
  }

  // ** Style: bstrap "Success" **

  .bstr-success {
    --gln-bs-success-h: 134;
    --gln-bs-success-s: 61%;
    --gln-bs-success-l: 41%;
    // #28a745 = hsl(134deg 61% 41%);
    --glnbt-c-def-bg-cl: #28a745;
    --glnbt-c-def-br-cl: #28a745;
    --glnbt-c-hov-bg-cl: #218838;
    --glnbt-c-hov-br-cl: #1e7e34;
    --glnbt-o-def-cl: #28a745;
  }

  // ** Style: bstrap "Danger" **

  .bstr-danger {
    --gln-bs-danger-h: 354;
    --gln-bs-danger-s: 70%;
    --gln-bs-danger-l: 54%;
    // #dc3545 = hsl(354deg 70% 54%);
    --glnbt-c-def-bg-cl: #dc3545;
    --glnbt-c-def-br-cl: #dc3545;
    --glnbt-c-hov-bg-cl: #c82333;
    --glnbt-c-hov-br-cl: #bd2130;
    --glnbt-o-def-cl: #dc3545;
  }
}
