/*# sourceURL=button-palette2.component.scss */

app-button-palette2 {
  display: block;

  .bp-items {
    display: flex;
    flex-wrap: wrap;
  }
  .bp-items > :first-child {
    margin-left: 1%;
  }
  .bp-items > :not(first-child) {
    margin-left: 5%;
  }

  // ** Style: bstrap "bs-btn" **
  .bstr-btn.gln-button {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    --glnbt-lb-pd-lf: 0.75rem;
    --glnbt-lb-pd-rg: 0.75rem;
  }
  .bstr-btn.gln-button:not(.gln-disabled)>.glnbt-btn {
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  }
  .bstr-btn.gln-button.gln-disabled>.glnbt-btn {
    opacity: .65;
  }
  .bstr-btn.gln-button:not(.gln-disabled)>.glnbt-btn:focus-within,
  .bstr-btn.gln-button:not(.gln-disabled).focus>.glnbt-btn {
    box-shadow: 0 0 0 0.2rem hsla(var(--glnbt--primary-h), var(--glnbt--primary-s), 57%, 50%);
  }

  // ** Style: bstrap "bs-btn-contained" **
  .bstr-btn.gln-button.glnbt-contained:not(.gln-disabled)>.glnbt-btn:focus-within,
  .bstr-btn.gln-button.glnbt-contained:not(.gln-disabled).focus>.glnbt-btn {
    background-color: hsl(var(--glnbt--primary-h), var(--glnbt--primary-s), 40%);
  }
  .bstr-btn.gln-button.glnbt-contained.gln-disabled>.glnbt-btn {
    background-color: hsl(var(--glnbt--primary-h), var(--glnbt--primary-s), 46%);
    color: hsl(var(--glnbt--default-bg-h), var(--glnbt--default-bg-s), 100%);
  }

  // ** Style: bstrap "bs-btn-outline" **
  .bstr-btn.gln-button.glnbt-outlined>.glnbt-btn {
    border-color: hsl(var(--glnbt--primary-h), var(--glnbt--primary-s), 46%);
  }
  .bstr-btn.gln-button.glnbt-outlined:not(.gln-disabled)>.glnbt-btn:hover {
    background-color: hsl(var(--glnbt--primary-h), var(--glnbt--primary-s), 46%);
    color: hsl(var(--glnbt--default-bg-h), var(--glnbt--default-bg-s), 100%); // #fff
  }
  .bstr-btn.gln-button.glnbt-outlined.gln-disabled>.glnbt-btn {
    color: hsl(var(--glnbt--primary-h), var(--glnbt--primary-s), 46%);
  }

  // ** Style: bstrap "Primary" **

  .bstr-primary {
    --gln-bs-primary-h: 211;
    --gln-bs-primary-s: 100%;
    --gln-bs-primary-l: 50%;
  }

  // ** Style: bstrap "Secondary" **

  .bstr-secondary {
    --gln-bs-secondary-h: 208;
    --gln-bs-secondary-s: 7%;
    --gln-bs-secondary-l: 46%;
  }

  // ** Style: bstrap "Success" **

  .bstr-success {
    --gln-bs-success-h: 134;
    --gln-bs-success-s: 61%;
    --gln-bs-success-l: 41%;
  }

  // ** Style: bstrap "Danger" **

  .bstr-danger {
    --gln-bs-danger-h: 354;
    --gln-bs-danger-s: 70%;
    --gln-bs-danger-l: 54%;
  }
}
