<section mr-vr
  [attr.id]="fragment4">
  <div>
    <h4>Bootstrap style buttons.</h4>
  </div>
  <p>Button style in "Primary" mode. <a [href]="urlButton + '#' + fragment4">#</a></p>
</section>

<section mr-vr>
  <label>
    <input type="checkbox"
      (change)="isDisabledPrimary=!isDisabledPrimary" />
    Is disabled
  </label>
</section>

<div class="bp-items bstr-primary">

  <gln-button class="bstr-btn"
    noElevation
    noUppercase
    [glnColor]="{ primary: 'bs-primary' }"
    exterior="contained"
    frameSize="short"
    isNoRipple
    [isDisabled]="isDisabledPrimary ? '': null">
    <span>Primary 1</span>
  </gln-button>

  <gln-button class="bstr-btn"
    noElevation
    noUppercase
    [glnColor]="{ primary: 'bs-primary' }"
    exterior="contained"
    frameSize="short"
    isNoRipple
    [isDisabled]="isDisabledPrimary ? '': null">
    <a [routerLink]="[routerLink]"
      [fragment]="fragment4">
      Primary 1 Link
    </a>
  </gln-button>

  <gln-button class="bstr-btn"
    noUppercase
    [glnColor]="{ primary: 'bs-primary' }"
    exterior="outlined"
    frameSize="short"
    isNoRipple
    [isDisabled]="isDisabledPrimary ? '': null">
    <span>Primary 2</span>
  </gln-button>

  <gln-button class="bstr-btn"
    noUppercase
    [glnColor]="{ primary: 'bs-primary' }"
    exterior="outlined"
    frameSize="short"
    isNoRipple
    [isDisabled]="isDisabledPrimary ? '': null">
    <a [routerLink]="[routerLink]"
      [fragment]="fragment4">
      Primary 2 Link
    </a>
  </gln-button>

</div>

<section mr-vr>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="labelHtml">
          <code><pre source="html">
&lt;div class="bp-items bstr-primary"&gt;

  &lt;gln-button class="bstr-btn"
    noElevation
    noUppercase
    [glnColor]="&#123; primary: 'bs-primary' &#125;"
    exterior="contained"
    frameSize="short"
    isNoRipple
    [isDisabled]="isDisabledPrimary ? '': null"&gt;
    &lt;span&gt;Primary 1&lt;/span&gt;
  &lt;/gln-button&gt;

  &lt;gln-button class="bstr-btn"
    noElevation
    noUppercase
    [glnColor]="&#123; primary: 'bs-primary' &#125;"
    exterior="contained"
    frameSize="short"
    isNoRipple
    [isDisabled]="isDisabledPrimary ? '': null"&gt;
    &lt;a [routerLink]="[routerLink]"
      [fragment]="fragment4"&gt;
      Primary 1 Link
    &lt;/a&gt;
  &lt;/gln-button&gt;

  &lt;gln-button class="bstr-btn"
    noUppercase
    [glnColor]="&#123; primary: 'bs-primary' &#125;"
    exterior="outlined"
    frameSize="short"
    isNoRipple
    [isDisabled]="isDisabledPrimary ? '': null"&gt;
    &lt;span&gt;Primary 2&lt;/span&gt;
  &lt;/gln-button&gt;

  &lt;gln-button class="bstr-btn"
    noUppercase
    [glnColor]="&#123; primary: 'bs-primary' &#125;"
    exterior="outlined"
    frameSize="short"
    isNoRipple
    [isDisabled]="isDisabledPrimary ? '': null"&gt;
    &lt;a [routerLink]="[routerLink]"
      [fragment]="fragment4"&gt;
      Primary 2 Link
    &lt;/a&gt;
  &lt;/gln-button&gt;

&lt;/div&gt;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelTs">
          <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';

@Component(&#123;
  selector: 'app-button',
  templateUrl: './button.component.html',
  styleUrls: ['./button.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class ButtonComponent &#123;
  public routerLink = '/components/button';
  public fragment4 = 'palette4';
  public isDisabledPrimary = false;
&#125;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelCss">
          <code><pre source="css">
.bp-items &#123;
  display: flex;
  flex-wrap: wrap;
&#125;
.bp-items &gt; :first-child &#123;
  margin-left: 1%;
&#125;
.bp-items &gt; :not(first-child) &#123;
  margin-left: 5%;
&#125;

// ** Style: bstrap "bs-btn" **
.bstr-btn.gln-button &#123;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  --glnbt-lb-pd-lf: 0.75rem;
  --glnbt-lb-pd-rg: 0.75rem;
&#125;
.bstr-btn.gln-button:not(.gln-disabled)&gt;.glnbt-btn &#123;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
&#125;
.bstr-btn.gln-button.gln-disabled&gt;.glnbt-btn &#123;
  opacity: .65;
&#125;
.bstr-btn.gln-button:not(.gln-disabled)&gt;.glnbt-btn:focus-within,
.bstr-btn.gln-button:not(.gln-disabled).focus&gt;.glnbt-btn &#123;
  box-shadow: 0 0 0 0.2rem hsla(var(--glnbt--primary-h), var(--glnbt--primary-s), 57%, 50%);
&#125;

// ** Style: bstrap "bs-btn-contained" **
.bstr-btn.gln-button.glnbt-contained:not(.gln-disabled)&gt;.glnbt-btn:focus-within,
.bstr-btn.gln-button.glnbt-contained:not(.gln-disabled).focus&gt;.glnbt-btn &#123;
  background-color: hsl(var(--glnbt--primary-h), var(--glnbt--primary-s), 40%);
&#125;
.bstr-btn.gln-button.glnbt-contained.gln-disabled&gt;.glnbt-btn &#123;
  background-color: hsl(var(--glnbt--primary-h), var(--glnbt--primary-s), 46%);
  color: hsl(var(--glnbt--default-bg-h), var(--glnbt--default-bg-s), 100%);
&#125;

// ** Style: bstrap "bs-btn-outline" **
.bstr-btn.gln-button.glnbt-outlined&gt;.glnbt-btn &#123;
  border-color: hsl(var(--glnbt--primary-h), var(--glnbt--primary-s), 46%);
&#125;
.bstr-btn.gln-button.glnbt-outlined:not(.gln-disabled)&gt;.glnbt-btn:hover &#123;
  background-color: hsl(var(--glnbt--primary-h), var(--glnbt--primary-s), 46%);
  color: hsl(var(--glnbt--default-bg-h), var(--glnbt--default-bg-s), 100%); // #fff
&#125;
.bstr-btn.gln-button.glnbt-outlined.gln-disabled&gt;.glnbt-btn &#123;
  color: hsl(var(--glnbt--primary-h), var(--glnbt--primary-s), 46%);
&#125;

// ** Style: bstrap "Primary" **

.bstr-primary &#123;
  --gln-bs-primary-h: 211;
  --gln-bs-primary-s: 100%;
  --gln-bs-primary-l: 50%;
&#125;</pre></code>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
</section>

<hr br-nn />

<section mr-vr
  [attr.id]="fragment5">
  <p>Button style in "Secondary" mode. <a [href]="urlButton + '#' + fragment5">#</a></p>
</section>

<section mr-vr>
  <label>
    <input type="checkbox"
      (change)="isDisabledSecondary=!isDisabledSecondary" />
    Is disabled
  </label>
</section>

<div class="bp-items bstr-secondary">

  <gln-button class=" bstr-btn"
    noElevation
    noUppercase
    [glnColor]="{ primary: 'bs-secondary' }"
    exterior="contained"
    frameSize="short"
    isNoRipple
    [isDisabled]="isDisabledSecondary ? '': null">
    <span>Secondary 1</span>
  </gln-button>

  <gln-button class="bstr-btn"
    noElevation
    noUppercase
    [glnColor]="{ primary: 'bs-secondary' }"
    exterior="contained"
    frameSize="short"
    isNoRipple
    [isDisabled]="isDisabledSecondary ? '': null">
    <a [routerLink]="[routerLink]"
      [fragment]="fragment5">
      Secondary 1 Link
    </a>
  </gln-button>

  <gln-button class="bstr-btn"
    noUppercase
    [glnColor]="{ primary: 'bs-secondary' }"
    exterior="outlined"
    frameSize="short"
    isNoRipple
    [isDisabled]="isDisabledSecondary ? '': null">
    <span>Secondary 2</span>
  </gln-button>

  <gln-button class="bstr-btn"
    noUppercase
    [glnColor]="{ primary: 'bs-secondary' }"
    exterior="outlined"
    frameSize="short"
    isNoRipple
    [isDisabled]="isDisabledSecondary ? '': null">
    <a [routerLink]="[routerLink]"
      [fragment]="fragment5">
      Secondary 2 Link
    </a>
  </gln-button>

</div>

<section mr-vr>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="labelHtml">
          <code><pre source="html">
&lt;div class="bp-items bstr-secondary"&gt;

  &lt;gln-button class=" bstr-btn"
    noElevation
    noUppercase
    [glnColor]="&#123; primary: 'bs-secondary' &#125;"
    exterior="contained"
    frameSize="short"
    isNoRipple
    [isDisabled]="isDisabledSecondary ? '': null"&gt;
    &lt;span&gt;Secondary 1&lt;/span&gt;
  &lt;/gln-button&gt;

  &lt;gln-button class="bstr-btn"
    noElevation
    noUppercase
    [glnColor]="&#123; primary: 'bs-secondary' &#125;"
    exterior="contained"
    frameSize="short"
    isNoRipple
    [isDisabled]="isDisabledSecondary ? '': null"&gt;
    &lt;a [routerLink]="[routerLink]"
      [fragment]="fragment5"&gt;
      Secondary 1 Link
    &lt;/a&gt;
  &lt;/gln-button&gt;

  &lt;gln-button class="bstr-btn"
    noUppercase
    [glnColor]="&#123; primary: 'bs-secondary' &#125;"
    exterior="outlined"
    frameSize="short"
    isNoRipple
    [isDisabled]="isDisabledSecondary ? '': null"&gt;
    &lt;span&gt;Secondary 2&lt;/span&gt;
  &lt;/gln-button&gt;

  &lt;gln-button class="bstr-btn"
    noUppercase
    [glnColor]="&#123; primary: 'bs-secondary' &#125;"
    exterior="outlined"
    frameSize="short"
    isNoRipple
    [isDisabled]="isDisabledSecondary ? '': null"&gt;
    &lt;a [routerLink]="[routerLink]"
      [fragment]="fragment5"&gt;
      Secondary 2 Link
    &lt;/a&gt;
  &lt;/gln-button&gt;

&lt;/div&gt;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelTs">
          <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';

@Component(&#123;
  selector: 'app-button',
  templateUrl: './button.component.html',
  styleUrls: ['./button.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class ButtonComponent &#123;
  public routerLink = '/components/button';
  public fragment5 = 'palette5';
  public isDisabledSecondary = false;
&#125;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelCss">
          <code><pre source="css">
.bp-items &#123;
  display: flex;
  flex-wrap: wrap;
&#125;
.bp-items &gt; :first-child &#123;
  margin-left: 1%;
&#125;
.bp-items &gt; :not(first-child) &#123;
  margin-left: 5%;
&#125;

// ** Style: bstrap "bs-btn" **
.bstr-btn.gln-button &#123;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  --glnbt-lb-pd-lf: 0.75rem;
  --glnbt-lb-pd-rg: 0.75rem;
&#125;
.bstr-btn.gln-button:not(.gln-disabled)&gt;.glnbt-btn &#123;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
&#125;
.bstr-btn.gln-button.gln-disabled&gt;.glnbt-btn &#123;
  opacity: .65;
&#125;
.bstr-btn.gln-button:not(.gln-disabled)&gt;.glnbt-btn:focus-within,
.bstr-btn.gln-button:not(.gln-disabled).focus&gt;.glnbt-btn &#123;
  box-shadow: 0 0 0 0.2rem hsla(var(--glnbt--primary-h), var(--glnbt--primary-s), 57%, 50%);
&#125;

// ** Style: bstrap "bs-btn-contained" **
.bstr-btn.gln-button.glnbt-contained:not(.gln-disabled)&gt;.glnbt-btn:focus-within,
.bstr-btn.gln-button.glnbt-contained:not(.gln-disabled).focus&gt;.glnbt-btn &#123;
  background-color: hsl(var(--glnbt--primary-h), var(--glnbt--primary-s), 40%);
&#125;
.bstr-btn.gln-button.glnbt-contained.gln-disabled&gt;.glnbt-btn &#123;
  background-color: hsl(var(--glnbt--primary-h), var(--glnbt--primary-s), 46%);
  color: hsl(var(--glnbt--default-bg-h), var(--glnbt--default-bg-s), 100%);
&#125;

// ** Style: bstrap "bs-btn-outline" **
.bstr-btn.gln-button.glnbt-outlined&gt;.glnbt-btn &#123;
  border-color: hsl(var(--glnbt--primary-h), var(--glnbt--primary-s), 46%);
&#125;
.bstr-btn.gln-button.glnbt-outlined:not(.gln-disabled)&gt;.glnbt-btn:hover &#123;
  background-color: hsl(var(--glnbt--primary-h), var(--glnbt--primary-s), 46%);
  color: hsl(var(--glnbt--default-bg-h), var(--glnbt--default-bg-s), 100%); // #fff
&#125;
.bstr-btn.gln-button.glnbt-outlined.gln-disabled&gt;.glnbt-btn &#123;
  color: hsl(var(--glnbt--primary-h), var(--glnbt--primary-s), 46%);
&#125;

// ** Style: bstrap "Secondary" **

.bstr-secondary &#123;
--gln-bs-secondary-h: 208;
--gln-bs-secondary-s: 7%;
--gln-bs-secondary-l: 46%;
&#125;</pre></code>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
</section>

<hr br-nn />


<section mr-vr
  [attr.id]="fragment6">
  <p>Button style in "Success" mode. <a [href]="urlButton + '#' + fragment6">#</a></p>
</section>

<section mr-vr>
  <label>
    <input type="checkbox"
      (change)="isDisabledSuccess=!isDisabledSuccess" />
    Is disabled
  </label>
</section>

<div class="bp-items bstr-success">

  <gln-button class=" bstr-btn"
    noElevation
    noUppercase
    [glnColor]="{ primary: 'bs-success' }"
    exterior="contained"
    frameSize="short"
    isNoRipple
    [isDisabled]="isDisabledSuccess ? '': null">
    <span>Success 1</span>
  </gln-button>

  <gln-button class="bstr-btn"
    noElevation
    noUppercase
    [glnColor]="{ primary: 'bs-success' }"
    exterior="contained"
    frameSize="short"
    isNoRipple
    [isDisabled]="isDisabledSuccess ? '': null">
    <a [routerLink]="[routerLink]"
      [fragment]="fragment6">
      Success 1 Link
    </a>
  </gln-button>

  <gln-button class="bstr-btn"
    noUppercase
    [glnColor]="{ primary: 'bs-success' }"
    exterior="outlined"
    frameSize="short"
    isNoRipple
    [isDisabled]="isDisabledSuccess ? '': null">
    <span>Success 2</span>
  </gln-button>

  <gln-button class="bstr-btn"
    noUppercase
    [glnColor]="{ primary: 'bs-success' }"
    exterior="outlined"
    frameSize="short"
    isNoRipple
    [isDisabled]="isDisabledSuccess ? '': null">
    <a [routerLink]="[routerLink]"
      [fragment]="fragment6">
      Success 2 Link
    </a>
  </gln-button>

</div>

<section mr-vr>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="labelHtml">
          <code><pre source="html">
&lt;div class="bp-items bstr-success"&gt;

  &lt;gln-button class=" bstr-btn"
    noElevation
    noUppercase
    [glnColor]="&#123; primary: 'bs-success' &#125;"
    exterior="contained"
    frameSize="short"
    isNoRipple
    [isDisabled]="isDisabledSuccess ? '': null"&gt;
    &lt;span&gt;Success 1&lt;/span&gt;
  &lt;/gln-button&gt;

  &lt;gln-button class="bstr-btn"
    noElevation
    noUppercase
    [glnColor]="&#123; primary: 'bs-success' &#125;"
    exterior="contained"
    frameSize="short"
    isNoRipple
    [isDisabled]="isDisabledSuccess ? '': null"&gt;
    &lt;a [routerLink]="[routerLink]"
      [fragment]="fragment6"&gt;
      Success 1 Link
    &lt;/a&gt;
  &lt;/gln-button&gt;

  &lt;gln-button class="bstr-btn"
    noUppercase
    [glnColor]="&#123; primary: 'bs-success' &#125;"
    exterior="outlined"
    frameSize="short"
    isNoRipple
    [isDisabled]="isDisabledSuccess ? '': null"&gt;
    &lt;span&gt;Success 2&lt;/span&gt;
  &lt;/gln-button&gt;

  &lt;gln-button class="bstr-btn"
    noUppercase
    [glnColor]="&#123; primary: 'bs-success' &#125;"
    exterior="outlined"
    frameSize="short"
    isNoRipple
    [isDisabled]="isDisabledSuccess ? '': null"&gt;
    &lt;a [routerLink]="[routerLink]"
      [fragment]="fragment6"&gt;
      Success 2 Link
    &lt;/a&gt;
  &lt;/gln-button&gt;

&lt;/div&gt;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelTs">
          <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';

@Component(&#123;
  selector: 'app-button',
  templateUrl: './button.component.html',
  styleUrls: ['./button.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class ButtonComponent &#123;
  public routerLink = '/components/button';
  public fragment6 = 'palette6';
  public isDisabledSuccess = false;
&#125;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelCss">
          <code><pre source="css">
.bp-items &#123;
  display: flex;
  flex-wrap: wrap;
&#125;
.bp-items &gt; :first-child &#123;
  margin-left: 1%;
&#125;
.bp-items &gt; :not(first-child) &#123;
  margin-left: 5%;
&#125;

// ** Style: bstrap "bs-btn" **
.bstr-btn.gln-button &#123;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  --glnbt-lb-pd-lf: 0.75rem;
  --glnbt-lb-pd-rg: 0.75rem;
&#125;
.bstr-btn.gln-button:not(.gln-disabled)&gt;.glnbt-btn &#123;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
&#125;
.bstr-btn.gln-button.gln-disabled&gt;.glnbt-btn &#123;
  opacity: .65;
&#125;
.bstr-btn.gln-button:not(.gln-disabled)&gt;.glnbt-btn:focus-within,
.bstr-btn.gln-button:not(.gln-disabled).focus&gt;.glnbt-btn &#123;
  box-shadow: 0 0 0 0.2rem hsla(var(--glnbt--primary-h), var(--glnbt--primary-s), 57%, 50%);
&#125;

// ** Style: bstrap "bs-btn-contained" **
.bstr-btn.gln-button.glnbt-contained:not(.gln-disabled)&gt;.glnbt-btn:focus-within,
.bstr-btn.gln-button.glnbt-contained:not(.gln-disabled).focus&gt;.glnbt-btn &#123;
  background-color: hsl(var(--glnbt--primary-h), var(--glnbt--primary-s), 40%);
&#125;
.bstr-btn.gln-button.glnbt-contained.gln-disabled&gt;.glnbt-btn &#123;
  background-color: hsl(var(--glnbt--primary-h), var(--glnbt--primary-s), 46%);
  color: hsl(var(--glnbt--default-bg-h), var(--glnbt--default-bg-s), 100%);
&#125;

// ** Style: bstrap "bs-btn-outline" **
.bstr-btn.gln-button.glnbt-outlined&gt;.glnbt-btn &#123;
  border-color: hsl(var(--glnbt--primary-h), var(--glnbt--primary-s), 46%);
&#125;
.bstr-btn.gln-button.glnbt-outlined:not(.gln-disabled)&gt;.glnbt-btn:hover &#123;
  background-color: hsl(var(--glnbt--primary-h), var(--glnbt--primary-s), 46%);
  color: hsl(var(--glnbt--default-bg-h), var(--glnbt--default-bg-s), 100%); // #fff
&#125;
.bstr-btn.gln-button.glnbt-outlined.gln-disabled&gt;.glnbt-btn &#123;
  color: hsl(var(--glnbt--primary-h), var(--glnbt--primary-s), 46%);
&#125;

// ** Style: bstrap "Success" **

.bstr-success &#123;
  --gln-bs-success-h: 134;
  --gln-bs-success-s: 61%;
  --gln-bs-success-l: 41%;
&#125;</pre></code>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
</section>

<hr br-nn />


<section mr-vr
  [attr.id]="fragment7">
  <p>Button style in "Danger" mode. <a [href]="urlButton + '#' + fragment7">#</a></p>
</section>

<section mr-vr>
  <label>
    <input type="checkbox"
      (change)="isDisabledDanger=!isDisabledDanger" />
    Is disabled
  </label>
</section>

<div class="bp-items bstr-danger">

  <gln-button class=" bstr-btn"
    noElevation
    noUppercase
    [glnColor]="{ primary: 'bs-danger' }"
    exterior="contained"
    frameSize="short"
    isNoRipple
    [isDisabled]="isDisabledDanger ? '': null">
    <span>Danger 1</span>
  </gln-button>

  <gln-button class="bstr-btn"
    noElevation
    noUppercase
    [glnColor]="{ primary: 'bs-danger' }"
    exterior="contained"
    frameSize="short"
    isNoRipple
    [isDisabled]="isDisabledDanger ? '': null">
    <a [routerLink]="[routerLink]"
      [fragment]="fragment7">
      Danger 1 Link
    </a>
  </gln-button>

  <gln-button class="bstr-btn"
    noUppercase
    [glnColor]="{ primary: 'bs-danger' }"
    exterior="outlined"
    frameSize="short"
    isNoRipple
    [isDisabled]="isDisabledDanger ? '': null">
    <span>Danger 2</span>
  </gln-button>

  <gln-button class="bstr-btn"
    noUppercase
    [glnColor]="{ primary: 'bs-danger' }"
    exterior="outlined"
    frameSize="short"
    isNoRipple
    [isDisabled]="isDisabledDanger ? '': null">
    <a [routerLink]="[routerLink]"
      [fragment]="fragment7">
      Danger 2 Link
    </a>
  </gln-button>

</div>

<section mr-vr>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="labelHtml">
          <code><pre source="html">
&lt;div class="bp-items"&gt;


&lt;/div&gt;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelTs">
          <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';

@Component(&#123;
  selector: 'app-button',
  templateUrl: './button.component.html',
  styleUrls: ['./button.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class ButtonComponent &#123;
  public routerLink = '/components/button';
  public fragment7 = 'palette7';
  public isDisabledDanger = false;
&#125;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelCss">
          <code><pre source="css">
.bp-items &#123;
  display: flex;
  flex-wrap: wrap;
&#125;
.bp-items &gt; :first-child &#123;
  margin-left: 1%;
&#125;
.bp-items &gt; :not(first-child) &#123;
  margin-left: 5%;
&#125;

// ** Style: bstrap "bs-btn" **
.bstr-btn.gln-button &#123;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  --glnbt-lb-pd-lf: 0.75rem;
  --glnbt-lb-pd-rg: 0.75rem;
&#125;
.bstr-btn.gln-button:not(.gln-disabled)&gt;.glnbt-btn &#123;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
&#125;
.bstr-btn.gln-button.gln-disabled&gt;.glnbt-btn &#123;
  opacity: .65;
&#125;
.bstr-btn.gln-button:not(.gln-disabled)&gt;.glnbt-btn:focus-within,
.bstr-btn.gln-button:not(.gln-disabled).focus&gt;.glnbt-btn &#123;
  box-shadow: 0 0 0 0.2rem hsla(var(--glnbt--primary-h), var(--glnbt--primary-s), 57%, 50%);
&#125;

// ** Style: bstrap "bs-btn-contained" **
.bstr-btn.gln-button.glnbt-contained:not(.gln-disabled)&gt;.glnbt-btn:focus-within,
.bstr-btn.gln-button.glnbt-contained:not(.gln-disabled).focus&gt;.glnbt-btn &#123;
  background-color: hsl(var(--glnbt--primary-h), var(--glnbt--primary-s), 40%);
&#125;
.bstr-btn.gln-button.glnbt-contained.gln-disabled&gt;.glnbt-btn &#123;
  background-color: hsl(var(--glnbt--primary-h), var(--glnbt--primary-s), 46%);
  color: hsl(var(--glnbt--default-bg-h), var(--glnbt--default-bg-s), 100%);
&#125;

// ** Style: bstrap "bs-btn-outline" **
.bstr-btn.gln-button.glnbt-outlined&gt;.glnbt-btn &#123;
  border-color: hsl(var(--glnbt--primary-h), var(--glnbt--primary-s), 46%);
&#125;
.bstr-btn.gln-button.glnbt-outlined:not(.gln-disabled)&gt;.glnbt-btn:hover &#123;
  background-color: hsl(var(--glnbt--primary-h), var(--glnbt--primary-s), 46%);
  color: hsl(var(--glnbt--default-bg-h), var(--glnbt--default-bg-s), 100%); // #fff
&#125;
.bstr-btn.gln-button.glnbt-outlined.gln-disabled&gt;.glnbt-btn &#123;
  color: hsl(var(--glnbt--primary-h), var(--glnbt--primary-s), 46%);
&#125;

// ** Style: bstrap "Danger" **

.bstr-danger &#123;
  --gln-bs-danger-h: 354;
  --gln-bs-danger-s: 70%;
  --gln-bs-danger-l: 54%;
&#125;</pre></code>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
</section>

<hr br-nn />