<section mr-vr>
  <h3>Palette.</h3>
  <p>
    You can customize the color palette for the input element.
    To avoid duplicating color codes, we will use the following CSS variables:
  </p>
  <code><pre>
  // Let's create our own color palette.
  .fip-specific &#123;
    // The color of the label and border on mouse hover.
    --fip-hover-color: #00acc1;
    // The color of the label and border in an error state.
    --fip-error-color: #ad1457;
    // The color of the label and border on mouse hover in an error state.
    --fip-hover-error-color: #f3006a;
    // The color of the border and label when getting focus.
    --fip-focused-color: #0097a7;
    // The color of the label and border in the state is disabled.
    --fip-disabled-color: #9c27b0;

    --fip-label-default-color: #5c6bc0;
    // For "frame" - outlined
    --fip-o-default-brd-color: #5c6bc0;
    // For "frame" - underline
    --fip-u-default-bg-color: rgba(178, 235, 242, 0.6);
    --fip-u-error-bg-color: rgba(240, 98, 146, 0.15);
    --fip-u-hover-error-bg-color: rgba(240, 94, 146, 0.09);
    // --fip-u-hover-error-bg-color: rgba(240, 94, 220, 0.1);
    --fip-u-hover-bg-color: rgba(172, 235, 236, 0.3);
    --fip-u-focused-bg-color: rgba(178, 235, 242, 0.4);
    --fip-u-disabled-bg-color: rgba(178, 235, 242, 0.2);
    // For "frame" - standard and underline
    --fip-su-default-brd-color: rgba(101, 1, 151, 0.9);
  &#125;</pre></code>
  <p>
    All the CSS classes that define the colors of the input element are children of the
    "grn-frame-input" CSS classes.
    Add a custom "fip-specific" CSS class to define our colors.
  </p>
  <p>
    To replace the color of the label, we define a group of CSS classes.
  </p>
  <code><pre>
// The state without mouse hover, error, focused and disabled.
.fip-specific .grn-frame-input:not(:hover):not(.gfi-error):not(.gfi-focused):not(.gfi-disabled)>.gfi-label &#123;
  color: var(--fip-label-default-color);
&#125; // The state with mouse hover but without error, focused and disabled.
.fip-specific .grn-frame-input:hover:not(.gfi-error):not(.gfi-focused):not(.gfi-disabled)>.gfi-label &#123;
  color: var(--fip-hover-color);
&#125; // The state with error.
.fip-specific .grn-frame-input.gfi-error>.gfi-label &#123;
  color: var(--fip-error-color);
&#125; // The state with mouse hover and error but without focused and disabled.
.fip-specific .grn-frame-input:hover.gfi-error:not(.gfi-focused):not(.gfi-disabled)>.gfi-label &#123;
  color: var(--fip-hover-error-color);
&#125; // The state with focused but without error.
.fip-specific .grn-frame-input.gfi-focused:not(.gfi-error)>.gfi-label &#123;
  color: var(--fip-focused-color);
&#125; // The state with disabled but without error.
.fip-specific .grn-frame-input.gfi-disabled:not(.gfi-error)>.gfi-label &#123;
  color: var(--fip-disabled-color);
&#125;</pre></code>
  <p>
    Likewise to replace the "Outlined" border color define a group of CSS classes.
  </p>

  <p>
    The following example demonstrates how to change the colors of an input element.
  </p>
  <p>
    The css-style "fip-bstrap" implements a bootstrap-style color palette.
  </p>
</section>

<section mr-vr>
  <span>exterior: </span>
  <mat-button-toggle-group [(ngModel)]="exterior06">
    <mat-button-toggle value="outlined">{{ labelOutlined }}</mat-button-toggle>
    <mat-button-toggle value="underline">{{ labelUnderline }}</mat-button-toggle>
    <mat-button-toggle value="standard">{{ labelStandard }}</mat-button-toggle>
  </mat-button-toggle-group>
</section>

<form [formGroup]="formGroup06a"
  novalidate
  autocomplete="off">

  <div class="app-group fip-specific">

    <div class="app-elem">
      <div>
        <small>
          <em>State: empty.</em>
        </small>
      </div>
      <grn-input formControlName="input06a"
        label="Enter value"
        [exterior]="exterior06">
      </grn-input>
    </div>

    <div class="app-elem">
      <div>
        <small>
          <em>Attributes: isRequired, helperText.</em>
        </small>
      </div>
      <grn-input formControlName="input06b"
        label="Required field"
        isRequired
        helperText="A value must be entered."
        [exterior]="exterior06">
      </grn-input>
    </div>

    <div class="app-elem">
      <div>
        <small>
          <em>Attribute: isReadOnly.</em>
        </small>
      </div>
      <grn-input formControlName="input06c"
        label="Read Only"
        isReadOnly
        helperText="The parameter is read only."
        [exterior]="exterior06">
      </grn-input>
    </div>

    <div class="app-elem">
      <div>
        <small>
          <em>Attribute: isDisabled.</em>
        </small>
      </div>
      <grn-input formControlName="input06d"
        label="Disabled"
        isDisabled
        helperText="The parameter is disabled."
        [exterior]="exterior06">
      </grn-input>
    </div>

    <div class="app-elem">
      <div>
        <small>
          <em>Attribute: isRequired, minLength.</em>
        </small>
      </div>
      <grn-input formControlName="input06e"
        [label]="controls06a.input06e.errors ? 'Error':'Value'"
        isRequired
        [minLength]="minLength06e"
        helperText="
        {{(controls06a.input06e.errors?.required ?
          'Required field.':
          (controls06a.input06e.errors?.minlength ?
            'Minimum length '
            + controls06a.input06e.errors?.minlength.requiredLength
            + ' characters.'
            :'Enter value.'
          )
        )}}"
        [exterior]="exterior06">
      </grn-input>
    </div>

    <div class="app-elem">
      <div>
        <small>
          <em>Attribute: isError + isDisabled.</em>
        </small>
      </div>
      <grn-input formControlName="input06f"
        label="Error-Disabled"
        isError
        isDisabled
        helperText="The parameter is disabled."
        [exterior]="exterior06">
      </grn-input>
    </div>

  </div>

</form>

<section mr-vr>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="labelHtml">
          <code><pre source="html">
&lt;form [formGroup]="formGroup06a"
  novalidate
  autocomplete="off"&gt;

  &lt;div class="app-group fip-specific"&gt;

    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;State: empty.&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;grn-input formControlName="input06a"
        label="Enter value"
        [exterior]="exterior06"&gt;
      &lt;/grn-input&gt;
    &lt;/div&gt;

    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;Attributes: isRequired, helperText.&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;grn-input formControlName="input06b"
        label="Required field"
        isRequired
        helperText="A value must be entered."
        [exterior]="exterior06"&gt;
      &lt;/grn-input&gt;
    &lt;/div&gt;

    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;Attribute: isReadOnly.&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;grn-input formControlName="input06c"
        label="Read Only"
        isReadOnly
        helperText="The parameter is read only."
        [exterior]="exterior06"&gt;
      &lt;/grn-input&gt;
    &lt;/div&gt;

    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;Attribute: isDisabled.&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;grn-input formControlName="input06d"
        label="Disabled"
        isDisabled
        helperText="The parameter is disabled."
        [exterior]="exterior06"&gt;
      &lt;/grn-input&gt;
    &lt;/div&gt;

    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;Attribute: isRequired, minLength.&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;grn-input formControlName="input06e"
        [label]="controls06a.input06e.errors ? 'Error':'Value'"
        isRequired
        [minLength]="minLength06e"
        helperText="
      <b>&#123;</b>&#123;(controls06a.input06e.errors?.required ?
        'Required field.':
        (controls06a.input06e.errors?.minlength ?
          'Minimum length '
          + controls06a.input06e.errors?.minlength.requiredLength
          + ' characters.'
          :'Enter value.'
        )
      )&#125;&#125;"
        [exterior]="exterior06"&gt;
      &lt;/grn-input&gt;
    &lt;/div&gt;

    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;Attribute: isError + isDisabled.&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;grn-input formControlName="input06f"
        label="Error-Disabled"
        isError
        isDisabled
        helperText="The parameter is disabled."
        [exterior]="exterior06"&gt;
      &lt;/grn-input&gt;
    &lt;/div&gt;

  &lt;/div&gt;

&lt;/form&gt;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelTs">
          <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';
import &#123;
  FormControl, FormGroup, Validators
&#125; from '@angular/forms';

@Component(&#123;
  selector: 'app-frame-input',
  templateUrl: './frame-input.component.html',
  styleUrls: ['./frame-input.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class FrameInputComponent &#123;
  public minLength06e = 5;
  public controls06a = &#123;
    input06a: new FormControl('', []),
    input06b: new FormControl('Hello World', [Validators.required]),
    input06c: new FormControl('Hello World', []),
    input06d: new FormControl('Hello World', []),
    input06e: new FormControl('demo', [
      Validators.required, Validators.minLength(this.minLength06e)
    ]),
    input06f: new FormControl('Hello World', []),
  &#125;;
  public formGroup06a: FormGroup = new FormGroup(this.controls06a);
  public exterior06 = 'outlined';
&#125;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelCss">
          <code><pre source="css">
.app-group &#123;
  display: flex;
  flex-wrap: wrap;
&#125;
.app-elem &#123;
  min-width: 26ch;
  margin: 10px 10px;
&#125;


.fip-specific &#123;
  --fip-hover-color: #00acc1;
  --fip-error-color: #ad1457;
  --fip-hover-error-color: #f3006a;
  --fip-focused-color: #0097a7;
  --fip-disabled-color: #9c27b0;

  --fip-label-default-color: #5c6bc0;
  // For "frame" - outlined
  --fip-o-default-brd-color: #5c6bc0;
  // For "frame" - underline
  --fip-u-default-bg-color: rgba(178, 235, 242, 0.6);
  --fip-u-error-bg-color: rgba(240, 98, 146, 0.15);
  --fip-u-hover-error-bg-color: rgba(240, 94, 146, 0.09);
  --fip-u-hover-bg-color: rgba(172, 235, 236, 0.3);
  --fip-u-focused-bg-color: rgba(178, 235, 242, 0.4);
  --fip-u-disabled-bg-color: rgba(178, 235, 242, 0.2);
  // For "frame" - standard and underline
  --fip-su-default-brd-color: rgba(101, 1, 151, 0.9);
&#125;

// Color for "label".

// The state without mouse hover, error, focused and disabled.
.fip-specific .grn-frame-input:not(:hover):not(.gfi-error):not(.gfi-focused):not(.gfi-disabled)&gt;.gfi-label &#123;
  color: var(--fip-label-default-color);
&#125;// The state with mouse hover but without error, focused and disabled.
.fip-specific .grn-frame-input:hover:not(.gfi-error):not(.gfi-focused):not(.gfi-disabled)&gt;.gfi-label &#123;
  color: var(--fip-hover-color);
&#125;// The state with error.
.fip-specific .grn-frame-input.gfi-error&gt;.gfi-label &#123;
  color: var(--fip-error-color);
&#125;// The state with mouse hover and error but without focused and disabled.
.fip-specific .grn-frame-input:hover.gfi-error:not(.gfi-focused):not(.gfi-disabled)&gt;.gfi-label &#123;
  color: var(--fip-hover-error-color);
&#125; // The state with focused but without error.
.fip-specific .grn-frame-input.gfi-focused:not(.gfi-error)&gt;.gfi-label &#123;
  color: var(--fip-focused-color);
&#125;// The state with disabled but without error.
.fip-specific .grn-frame-input.gfi-disabled&gt;.gfi-label &#123;
  color: var(--fip-disabled-color);
&#125;

// Border-color for "outlined" mode.

// The state without mouse hover, error, focused and disabled.
.fip-specific .grn-frame-input:not(:hover):not(.gfi-error):not(.gfi-focused):not(.gfi-disabled) .gfi-fieldset &#123;
  border-color: var(--fip-o-default-brd-color);
&#125;// The state with mouse hover but without error, focused and disabled.
.fip-specific .grn-frame-input:hover:not(.gfi-error):not(.gfi-focused):not(.gfi-disabled) .gfi-fieldset &#123;
  border-color: var(--fip-hover-color);
&#125;// The state with error.
.fip-specific .grn-frame-input.gfi-error .gfi-fieldset &#123;
  border-color: var(--fip-error-color);
&#125;// The state with mouse hover and error but without focused and disabled.
.fip-specific .grn-frame-input:hover.gfi-error:not(.gfi-focused):not(.gfi-disabled) .gfi-fieldset &#123;
  border-color: var(--fip-hover-error-color);
&#125;// The state with focused but without error.
.fip-specific .grn-frame-input.gfi-focused:not(.gfi-error) .gfi-fieldset &#123;
  border-color: var(--fip-focused-color);
&#125;// The state with disabled but without error.
.fip-specific .grn-frame-input.gfi-disabled .gfi-fieldset &#123;
  border-color: var(--fip-disabled-color);
&#125;

// Background-color for "underline" mode.
// The state without mouse hover, error, focused and disabled.
.fip-specific .gfi-underline:not(:hover):not(.gfi-error):not(.gfi-focused):not(.gfi-disabled)&gt;.gfi-frame &#123;
  background-color: var(--fip-u-default-bg-color);
&#125; // The state with mouse hover but without error, focused and disabled.
.fip-specific .gfi-underline:hover:not(.gfi-error):not(.gfi-focused):not(.gfi-disabled)&gt;.gfi-frame &#123;
  background-color: var(--fip-u-hover-bg-color);
&#125; // The state with error.
.fip-specific .gfi-underline.gfi-error&gt;.gfi-frame &#123;
  background-color: var(--fip-u-error-bg-color);
&#125; // The state with mouse hover and error but without focused and disabled.
.fip-specific .gfi-underline:hover.gfi-error:not(.gfi-focused):not(.gfi-disabled)&gt;.gfi-frame &#123;
  background-color: var(--fip-u-hover-error-bg-color);
&#125; // The state with focused but without error.
.fip-specific .gfi-underline.gfi-focused:not(.gfi-error)&gt;.gfi-frame &#123;
  background-color: var(--fip-u-focused-bg-color);
&#125; // The state with disabled but without error.
.fip-specific .gfi-underline.gfi-disabled&gt;.gfi-frame &#123;
  background-color: var(--fip-u-disabled-bg-color);
&#125;

// Border-bottom-color for "underline" and "standard" mode.
// The state without mouse hover, error, focused and disabled.
.fip-specific .gfi-border:not(:hover):not(.gfi-error):not(.gfi-focused):not(.gfi-disabled)&gt;.gfi-frame:before &#123;
  border-bottom-color: var(--fip-su-default-brd-color);
&#125; // The state with mouse hover but without error, focused and disabled.
.fip-specific .gfi-border:hover:not(.gfi-error):not(.gfi-focused):not(.gfi-disabled)&gt;.gfi-frame:before &#123;
  border-bottom-color: var(--fip-hover-color);
&#125; // The state with error.
.fip-specific .gfi-border.gfi-error&gt;.gfi-frame:before &#123;
  border-bottom-color: var(--fip-error-color);
&#125;
.fip-specific .gfi-border.gfi-error&gt;.gfi-frame:after &#123;
  border-bottom-color: var(--fip-error-color);
&#125; // The state with mouse hover and error but without focused and disabled.
.fip-specific .gfi-border:hover.gfi-error:not(.gfi-focused):not(.gfi-disabled)&gt;.gfi-frame:before &#123;
  border-bottom-color: var(--fip-hover-error-color);
&#125; // The state with focused but without error.
.fip-specific .gfi-border.gfi-focused:not(.gfi-error)&gt;.gfi-frame:after &#123;
  border-bottom-color: var(--fip-focused-color);
&#125; // The state with disabled but without error.
.fip-specific .gfi-border.gfi-disabled&gt;.gfi-frame:before &#123;
  border-bottom-color: var(--fip-disabled-color);
&#125;

// Color for "HintOrError".
.fip-specific .gfi-hint-or-error &#123;
  // The state without error, focused and disabled.
  &:not(.gfi-error):not(.gfi-focused):not(.gfi-disabled) &#123;
    color: var(--fip-label-default-color);
  &#125; // The state with error.
  &.gfi-error:not(.gfi-disabled) &#123;
    color: var(--fip-error-color);
  &#125; // The state with focused but without error.
  &.gfi-focused:not(.gfi-error) &#123;
    color: var(--fip-focused-color);
  &#125; // The state with disabled but without error.
  &.gfi-disabled &#123;
    color: var(--fip-disabled-color);
  &#125;
&#125;</pre></code>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
</section>

<form [formGroup]="formGroup06b"
  novalidate
  autocomplete="off">

  <div class="app-group">
    <small>
      <em>Style like Bootstrap</em>
    </small>
  </div>

  <div class="app-group">

    <div class="app-elem"
      style="width: 15em;">
      <div>
        <small>
          <em>Attributes: isRequired, helperText.</em>
        </small>
      </div>
      <grn-input class="fip-bstrap"
        formControlName="input06g"
        frameSize="short"
        hiddenLabel
        exterior="outlined"
        isRequired
        wdFull
        helperText="{{
          (controls06b.input06g.errors?.required
            ? 'Required field.': 'Enter value.')
        }}">
      </grn-input>
    </div>

    <div class="app-elem"
      style="width: 15em;">
      <div>
        <small>
          <em>Attributes: isRequired, helperText.</em>
        </small>
      </div>
      <grn-input class="fip-bstrap"
        formControlName="input06h"
        frameSize="short"
        hiddenLabel
        exterior="outlined"
        isRequired
        wdFull
        helperText="{{
          (controls06b.input06h.errors?.required
            ? 'Required field.': 'Enter value.')
        }}">
      </grn-input>
    </div>

    <div class="app-elem">
      <div>
        <small>
          <em>Attributes: isDisabled.</em>
        </small>
      </div>
      <grn-input class="fip-bstrap"
        formControlName="input06i"
        frameSize="short"
        hiddenLabel
        exterior="outlined"
        isDisabled
        helperText="The parameter is disabled.">
      </grn-input>
    </div>

  </div>

</form>

<section mr-vr>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="labelHtml">
          <code><pre source="html">
&lt;form [formGroup]="formGroup06b"
  novalidate
  autocomplete="off"&gt;

  &lt;div class="app-group"&gt;
    &lt;small&gt;
      &lt;em&gt;Style like Bootstrap&lt;/em&gt;
    &lt;/small&gt;
  &lt;/div&gt;

  &lt;div class="app-group"&gt;

    &lt;div class="app-elem"
      style="width: 15em;"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;Attributes: isRequired, helperText.&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;grn-input class="fip-bstrap"
        formControlName="input06g"
        frameSize="short"
        hiddenLabel
        exterior="outlined"
        isRequired
        wdFull
        helperText="<b>&#123;</b>&#123;
          (controls06b.input06g.errors?.required
            ? 'Required field.': 'Enter value.')
        &#125;&#125;"&gt;
      &lt;/grn-input&gt;
    &lt;/div&gt;

    &lt;div class="app-elem"
      style="width: 15em;"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;Attributes: isRequired, helperText.&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;grn-input class="fip-bstrap"
        formControlName="input06h"
        frameSize="short"
        hiddenLabel
        exterior="outlined"
        isRequired
        wdFull
        helperText="<b>&#123;</b>&#123;
          (controls06b.input06h.errors?.required
            ? 'Required field.': 'Enter value.')
        &#125;&#125;"&gt;
      &lt;/grn-input&gt;
    &lt;/div&gt;

    &lt;div class="app-elem"&gt;
      &lt;div&gt;
        &lt;small&gt;
          &lt;em&gt;Attributes: isDisabled.&lt;/em&gt;
        &lt;/small&gt;
      &lt;/div&gt;
      &lt;grn-input class="fip-bstrap"
        formControlName="input06i"
        frameSize="short"
        hiddenLabel
        exterior="outlined"
        isDisabled
        helperText="The parameter is disabled."&gt;
      &lt;/grn-input&gt;
    &lt;/div&gt;

  &lt;/div&gt;

&lt;/form&gt;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelTs">
          <code><pre source="ts">
import &#123;
  Component, ViewEncapsulation
&#125; from '@angular/core';
import &#123;
  FormControl, FormGroup, Validators
&#125; from '@angular/forms';

@Component(&#123;
  selector: 'app-frame-input',
  templateUrl: './frame-input.component.html',
  styleUrls: ['./frame-input.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class FrameInputComponent &#123;
  public controls06b = &#123;
    input06g: new FormControl('Hello World', [Validators.required]),
    input06h: new FormControl('', [Validators.required]),
    input06i: new FormControl('Hello World', []),
  &#125;;
  public formGroup06b: FormGroup = new FormGroup(this.controls06b);

&#125;</pre></code>
        </mat-tab>
        <mat-tab [label]="labelCss">
          <code><pre source="css">
.app-group &#123;
  display: flex;
  flex-wrap: wrap;
&#125;
.app-elem &#123;
  min-width: 26ch;
  margin: 10px 10px;
&#125;

// BootStrap
.fip-bstrap &#123;
  color: #495057;
&#125;
.fip-bstrap &#123;
  --g-err-cl: #dc3545;
  --g-hov-err-cl: #dc3545;
  --g-foc-cl: #80bdff;
  --g-o-def-br-cl: #ced4da;
  --g-dis-bgr-cl: #e9ecef;
&#125;
.fip-bstrap .grn-frame-input &#123;
  line-height: 1.5;
&#125;

.fip-bstrap .grn-frame-input:not(:hover):not(.gfi-error):not(.gfi-focused):not(.gfi-disabled) .gfi-fieldset &#123;
  border-color: var(--g-o-def-br-cl);
&#125;
.fip-bstrap .grn-frame-input:hover:not(.gfi-error):not(.gfi-focused):not(.gfi-disabled) .gfi-fieldset &#123;
  border-color: var(--g-o-def-br-cl);
&#125;
.fip-bstrap .grn-frame-input.gfi-error .gfi-fieldset &#123;
  border-color: var(--g-err-cl);
&#125;
.fip-bstrap .grn-frame-input:hover.gfi-error:not(.gfi-focused):not(.gfi-disabled) .gfi-fieldset &#123;
  border-color: var(--g-hov-err-cl);
&#125;
.fip-bstrap .grn-frame-input.gfi-focused:not(.gfi-error) .gfi-fieldset &#123;
  border-color: var(--g-foc-cl);
&#125;
.fip-bstrap .grn-frame-input.gfi-disabled .gfi-fieldset &#123;
  border-color: var(--g-o-def-br-cl);
&#125;
.fip-bstrap .grn-frame-input.gfi-disabled &#123;
  background-color: var(--g-dis-bgr-cl);
  opacity: 1;
&#125;
.fip-bstrap grn-hint-or-error.gfi-error &#123;
  color: var(--g-err-cl);
&#125;

.fip-bstrap .grn-frame-input.gfi-disabled .gfi-fieldset &#123;
  border-style: solid;
&#125;
.fip-bstrap .grn-frame-input.gfi-focused .gfi-fieldset &#123;
  border-width: 1px;
&#125;
.fip-bstrap .grn-frame-input.gfi-focused.gfi-error .gfi-fieldset &#123;
  box-shadow: 0 0 0 0.2rem rgb(220 53 69 / 25%);
&#125;
.fip-bstrap .grn-frame-input.gfi-focused:not(.gfi-error) .gfi-fieldset &#123;
  box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
&#125;
.fip-bstrap .grn-frame-input.gfi-error .gi-input &#123;
  padding-right: 1.4em;
  background-image: url("data:image/svg+xml,"
  + "&lt;svg xmlns='http://www.w3.org/2000/svg' width='12' "
  + "height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'&gt;"
  + "&lt;circle cx='6' cy='6' r='4.5'/&gt;"
  + "&lt;path stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/&gt;"
  + "&lt;circle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/&gt;"
  + "&lt;/svg&gt;");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
  margin-right: 5px;
&#125;</pre></code>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
</section>