/*# sourceURL=frame-input-palette.component.scss */

app-frame-input-palette {
  display: block;

  .fip-specific {
    --fip-hover-color: #00acc1;
    --fip-error-color: #ad1457;
    --fip-error-color2: #c13874eb;
    --fip-hover-error-color: #f3006a;
    --fip-focused-color: #0097a7;
    --fip-disabled-color: #9c27b0;

    --fip-label-default-color: #5c6bc0;
    // For "frame" - outlined
    --fip-o-default-brd-color: #5c6bc0;
    // For "frame" - underline
    --fip-u-default-bg-color: rgba(178, 235, 242, 0.6);
    --fip-u-error-bg-color: rgba(240, 98, 146, 0.15);
    --fip-u-hover-error-bg-color: rgba(240, 94, 146, 0.09);
    --fip-u-focused-error-bg-color: rgba(240, 94, 146, 0.18);
    --fip-u-hover-bg-color: rgba(172, 235, 236, 0.3);
    --fip-u-focused-bg-color: rgba(178, 235, 242, 0.4);
    --fip-u-disabled-bg-color: rgba(178, 235, 242, 0.2);
    // For "frame" - standard and underline
    --fip-su-default-brd-color: rgba(101, 1, 151, 0.9);
  }

  // Color for "label".
  // +The state without: disabled, error, mouse hover, focused.
  .fip-specific .grn-frame-input:not(.gfi-disabled):not(.gfi-error):not(:hover):not(:focus-within)>.gfi-label {
    color: var(--fip-label-default-color);
  } // The state without: disabled, error, focused and with mouse hover.
  .fip-specific .grn-frame-input:not(.gfi-disabled):not(.gfi-error):hover:not(:focus-within)>.gfi-label {
    color: var(--fip-hover-color);
  } // The state without: disabled, error and with focused.
  .fip-specific .grn-frame-input:not(.gfi-disabled):not(.gfi-error):focus-within>.gfi-label {
    color: var(--fip-focused-color);
  } // The state without: disabled, mouse hover, focused and with error.
  .fip-specific .grn-frame-input:not(.gfi-disabled).gfi-error:not(:hover):not(:focus-within)>.gfi-label {
    color: var(--fip-error-color);
  } // The state without: disabled, focused and with error, mouse hover.
  .fip-specific .grn-frame-input:not(.gfi-disabled).gfi-error:hover:not(:focus-within)>.gfi-label {
    color: var(--fip-hover-error-color);
  } // The state without: disabled and with error, focused.
  .fip-specific .grn-frame-input:not(.gfi-disabled).gfi-error:focus-within>.gfi-label {
    color: var(--fip-error-color);
  } // The state with disabled.
  .fip-specific .grn-frame-input.gfi-disabled>.gfi-label {
    color: var(--fip-disabled-color);
  }

  // Border-color for "outlined" mode.
  // +The state without: disabled, error, mouse hover, focused.
  .fip-specific .grn-frame-input:not(.gfi-disabled):not(.gfi-error):not(:hover):not(:focus-within) .gfi-fieldset {
    border-color: var(--fip-o-default-brd-color);
  } // The state without: disabled, error, focused and with mouse hover.
  .fip-specific .grn-frame-input:not(.gfi-disabled):not(.gfi-error):hover:not(:focus-within) .gfi-fieldset {
    border-color: var(--fip-hover-color);
  } // The state without: disabled, error and with focused.
  .fip-specific .grn-frame-input:not(.gfi-disabled):not(.gfi-error):focus-within .gfi-fieldset {
    border-color: var(--fip-focused-color);
  } // The state without: disabled, mouse hover, focused and with error.
  .fip-specific .grn-frame-input:not(.gfi-disabled).gfi-error:not(:hover):not(:focus-within) .gfi-fieldset {
    border-color: var(--fip-error-color);
  } // The state without: disabled, focused and with error, mouse hover.
  .fip-specific .grn-frame-input:not(.gfi-disabled).gfi-error:hover:not(:focus-within) .gfi-fieldset {
    border-color: var(--fip-hover-error-color);
  } // The state without: disabled and with error, focused.
  .fip-specific .grn-frame-input:not(.gfi-disabled).gfi-error:focus-within .gfi-fieldset {
    border-color: var(--fip-error-color);
  } // The state with disabled.
  .fip-specific .grn-frame-input.gfi-disabled .gfi-fieldset {
    border-color: var(--fip-disabled-color);
  }
  
  // Background-color for "underline" mode.
  // +The state without: disabled, error, mouse hover, focused.
  .fip-specific .gfi-underline:not(.gfi-disabled):not(.gfi-error):not(:hover):not(:focus-within)>.gfi-frame {
    background-color: var(--fip-u-default-bg-color);
  } // The state without: disabled, error, focused and with mouse hover.
  .fip-specific .gfi-underline:not(.gfi-disabled):not(.gfi-error):hover:not(:focus-within)>.gfi-frame {
    background-color: var(--fip-u-hover-bg-color);
  } // The state without: disabled, error and with focused.
  .fip-specific .gfi-underline:not(.gfi-disabled):not(.gfi-error):focus-within>.gfi-frame {
    background-color: var(--fip-u-focused-bg-color);
  } // The state without: disabled, mouse hover, focused and with error.
  .fip-specific .gfi-underline:not(.gfi-disabled).gfi-error:not(:hover):not(:focus-within)>.gfi-frame {
    background-color: var(--fip-u-error-bg-color);
  } // The state without: disabled, focused and with error, mouse hover.
  .fip-specific .gfi-underline:not(.gfi-disabled).gfi-error:hover:not(:focus-within)>.gfi-frame {
    background-color: var(--fip-u-hover-error-bg-color);
  } // The state without: disabled and with error, focused.
  .fip-specific .gfi-underline:not(.gfi-disabled).gfi-error:focus-within>.gfi-frame {
    background-color: var(--fip-u-focused-error-bg-color);
  } // The state with disabled.
  .fip-specific .gfi-underline.gfi-disabled>.gfi-frame {
    background-color: var(--fip-u-disabled-bg-color);
  }

  // Border-bottom-color for "underline" and "standard" mode.
  // +The state without: disabled, error, mouse hover, focused.
  .fip-specific .gfi-border:not(.gfi-disabled):not(.gfi-error):not(:hover):not(:focus-within)>.gfi-frame:before {
    border-bottom-color: var(--fip-su-default-brd-color);
  } // The state without: disabled, error, focused and with mouse hover.
  .fip-specific .gfi-border:not(.gfi-disabled):not(.gfi-error):hover:not(:focus-within)>.gfi-frame:before {
    border-bottom-color: var(--fip-hover-color);
  } // The state without: disabled, mouse hover, focused and with error.
  .fip-specific .gfi-border:not(.gfi-disabled).gfi-error:not(:hover):not(:focus-within)>.gfi-frame:before {
    border-bottom-color: var(--fip-error-color);
  } // The state without: disabled, focused and with error, mouse hover.
  .fip-specific .gfi-border:not(.gfi-disabled).gfi-error:hover:not(:focus-within)>.gfi-frame:before {
    border-bottom-color: var(--fip-hover-error-color);
  } // The state without: disabled, error.
  .fip-specific .gfi-border:not(.gfi-disabled):not(.gfi-error)>.gfi-frame:after {
    border-bottom-color: var(--fip-focused-color);
  } // The state without: disabled and with error.
  .fip-specific .gfi-border:not(.gfi-disabled).gfi-error>.gfi-frame:after {
    border-bottom-color: var(--fip-error-color);
  } // The state with disabled.
  .fip-specific .gfi-border.gfi-disabled>.gfi-frame:before {
    border-bottom-color: var(--fip-disabled-color);
  }

  // Color for "HintOrError".
  .fip-specific .gfhe-hint-or-error {
    // The state without error, focused and disabled.
    &:not(.gfhe-disabled):not(.gfhe-error):not(.gfhe-focused) {
      color: var(--fip-label-default-color);
    } // The state with error.
    &:not(.gfhe-disabled).gfhe-error {
      color: var(--fip-error-color2);
    } // The state with focused but without error.
    &:not(.gfhe-disabled).gfhe-focused:not(.gfhe-error) {
      color: var(--fip-focused-color);
    } // The state with focused and error.
    &:not(.gfhe-disabled).gfhe-focused.gfhe-error {
      color: var(--fip-error-color);
    } // The state with disabled but without error.
    &.gfhe-disabled {
      color: var(--fip-disabled-color);
    }
  }

  // BootStrap
  .fip-bstrap {
    color: #495057;
  }
  .fip-bstrap {
    --bs-err-cl: #dc3545;
    --bs-hov-err-cl: #dc3545;
    --bs-foc-cl: #80bdff;
    --bs-def-br-cl: #ced4da;
    --bs-dis-bgr-cl: #e9ecef;
  }
  .fip-bstrap .grn-frame-input {
    line-height: 1.5;
  }
  .fip-bstrap .grn-frame-input:not(.gfi-disabled):not(.gfi-error):not(:hover):not(:focus-within) .gfi-fieldset {
    border-color: var(--bs-def-br-cl);
  }
  .fip-bstrap .grn-frame-input:not(.gfi-disabled):not(.gfi-error):hover:not(:focus-within) .gfi-fieldset {
    border-color: var(--bs-def-br-cl);
  }
  .fip-bstrap .grn-frame-input:not(.gfi-disabled):not(.gfi-error):focus-within .gfi-fieldset {
    border-color: var(--bs-foc-cl);
  }
  .fip-bstrap .grn-frame-input:not(.gfi-disabled).gfi-error:not(:hover):not(:focus-within) .gfi-fieldset {
    border-color: var(--bs-err-cl);
  }
  .fip-bstrap .grn-frame-input:not(.gfi-disabled).gfi-error:hover:not(:focus-within) .gfi-fieldset {
    border-color: var(--bs-hov-err-cl);
  }
  .fip-bstrap .grn-frame-input.gfi-disabled .gfi-fieldset {
    border-color: var(--bs-def-br-cl);
  }
  .fip-bstrap .grn-frame-input.gfi-disabled {
    background-color: var(--bs-dis-bgr-cl);
    opacity: 1;
  }
  .fip-bstrap grn-hint-or-error.gfhe-error {
    color: var(--bs-err-cl);
  }
  .fip-bstrap .grn-frame-input.gfi-disabled .gfi-fieldset {
    border-style: solid;
  }
  .fip-bstrap .grn-frame-input:focus-within .gfi-fieldset {
    border-width: 1px;
  }
  .fip-bstrap .grn-frame-input:focus-within.gfi-error .gfi-fieldset {
    box-shadow: 0 0 0 0.2rem rgb(220 53 69 / 25%);
  }
  .fip-bstrap .grn-frame-input:focus-within:not(.gfi-error) .gfi-fieldset {
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
  }
  .fip-bstrap .grn-frame-input.gfi-error .gi-input {
    padding-right: 1.4em;
    background-image: url("data:image/svg+xml,"
    + "<svg xmlns='http://www.w3.org/2000/svg' width='12' "
    + "height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'>"
    + "<circle cx='6' cy='6' r='4.5'/>"
    + "<path stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/>"
    + "<circle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/>"
    + "</svg>");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
    margin-right: 5px;
  }

  // The second variant of the palette definition.
  
  .fip-second { 
    // ** Section: Color "label". **
    // The state without disabled, error, hover, focused.
    --gfi-def-lb-cl: #558b2f;
    // The state without disabled, error, focused and with hover.
    --gfi-hov-lb-cl: #1b5e20; // #689f38;
    // The state without disabled, error and with focused.
    --gfi-foc-lb-cl: #2e7d32;
    // The state without disabled, hover, focused and error.
    --gfi-err-lb-cl: #ef6c00;
    // The state without disabled, focused and error, hover.
    --gfi-hov-err-lb-cl: #e66502;
    // The state without disabled and error, focused.
    --gfi-foc-err-lb-cl: #e65100;
    // The state with disabled.
    --gfi-dis-lb-cl: #ab47bc;

    // ** Section: Background-Color "div.gfi-frame" for "Underline" mode. **
    // The state without disabled, error, hover, focused.
    --gfi-def-bg-cl: #e8f5e9;
    // The state without disabled, error, focused and with hover.
    --gfi-hov-bg-cl: #dcedc8; // #689f38;
    // The state without disabled, error and with focused.
    --gfi-foc-bg-cl: #c8e6c9;
    // The state without disabled, hover, focused and error.
    --gfi-err-bg-cl: #fcd9ce;
    // The state without disabled, focused and error, hover.
    --gfi-hov-err-bg-cl: #fbe9e7;
    // The state without disabled and error, focused.
    --gfi-foc-err-bg-cl: #ffd3c5;
    // The state with disabled.
    --gfi-dis-bg-cl: #f6e8f8;

    // Border-Bottom-Color "div.gfi-frame" for "Outlined" and "Standard" mode.
    // The state without disabled, error, hover, focused.
    --gfi-def-brb-bf: #558b2f;
    // The state without disabled, error and with hover.
    --gfi-hov-brb-bf: #1b5e20;
    // The state without disabled, hover, focused and error.
    --gfi-err-brb-bf: #ef6c00;
    // The state without disabled, focused and error, hover.
    --gfi-hov-err-brb-bf: #e66502;
    // The state without disabled, error and focused.
    --gfi-foc-brb-af: #2e7d32;
    // The state without disabled and error, focused.
    --gfi-err-brb-af: #e65100;
    // The state with disabled.
    --gfi-dis-brb-bf: #ab47bc;

    // ** Section "Fieldset" for "Outlined" mode. **
    // The state without disabled, error, hover, focused.
    --gfi-def-br-cl: #558b2f;
    // The state without disabled, error, focused and with hover.
    --gfi-hov-br-cl: #1b5e20;
    // The state without disabled, error and with focused.
    --gfi-foc-br-cl: #2e7d32;
    // The state without disabled, hover, focused and error.
    --gfi-err-br-cl: #ef6c00;
    // The state without disabled, focused and error, hover.
    --gfi-hov-err-br-cl: #e66502;
    // The state without disabled and error, focused.
    --gfi-foc-err-br-cl: #e65100;
    // The state with disabled.
    --gfi-dis-br-cl: #ab47bc;

    // Color for "HintOrError".
    // The state without error, focused and disabled.
    --ghoe-def-cl: #558b2f;
    // The state with error.
    --ghoe-err-cl: #ef6c00;
    // The state with focused but without error.
    --ghoe-hov-cl: #1b5e20;
    // The state with focused but with error.
    --ghoe-foc-err-cl: #e65100;
    // The state with disabled but without error.
    --ghoe-dis-cl: #ab47bc;
  }
}