/*# sourceURL=infinite-scroll-basic.component.scss */

app-infinite-scroll-basic {
  display: block;

  .isb-block {
    position: relative;
  }
  .isb-item-wrap {
    outline: 1px solid blue;
    height: 400px;
    overflow-y: scroll;
  }
  .isb-items {
    outline: 1px dashed green;
    padding: 15px 0;
  }
  .isb-row {
    display: flex;
    padding: 3px 10px;
  }
  .isb-label {
    flex-basis: 120px;
  }
  .isb-value {
    flex-grow: 1;
  }
  .isb-loading {
    color: blue;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(253 255 255 / 70%);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
