<div class="in-section">
  <h3>Item size.</h3>
  <p>
    You can change the height of the element.
    This requires adding one of the following attributes:
  </p>
  <ul>
    <li>"szShort" - sets the height to 38px;</li>
    <li>"szSmall" - sets the height to 44px;</li>
    <li>"szMiddle" - sets the height to 50px;</li>
    <li>"szWide" - sets the height to 56px (default);</li>
    <li>"szLarge" - sets the height to 62px;</li>
    <li>"szHuge" - sets the height to 68px;</li>
  </ul>
  <p>
    The size of the element's height is set in the "&#8209;&#8209;gfi&#8209;base-size" ccc variable in accordance with the "szXXX" size attribute.
    All padding and offset calculations are determined by the value of this variable and the font size.
  </p>
  <p>
    In order to hide the label (legend), add the "hiddenLabel" attribute.
  </p>
  <p>
    The font size for native input and label is determined from the parent container.
    The size of the font can be defined with the css-style for the "grn-input" tag.
    In the example, this is implemented with the styles "iis-fn-sz-large" and "iis-fn-sz-huge".
    We can change the font size at the grn-input tag level, but the element itself will not change the height.
  </p>
  <p>
    The height of the element remains the same even when the font size is changed
    (from font-size: 10px to font-size: 26px).
  </p>
</div>

<div class="in-section">
  <span>exterior: </span>
  <mat-button-toggle-group [(ngModel)]="exterior04" aria-label="Font Style">
    <mat-button-toggle value="outlined">{{ labelOutlined }}</mat-button-toggle>
    <mat-button-toggle value="underline">{{ labelUnderline }}</mat-button-toggle>
    <mat-button-toggle value="standard">{{ labelStandard }}</mat-button-toggle>
  </mat-button-toggle-group>
</div>

<form class="in-section" [formGroup]="formGroup04" novalidate>

  <div class="in-item iis-row iis-text">
    <span>Item height: 38px; font-size: 16px;</span>
  </div>

  <div>
    <grn-input class="in-item" formControlName="input04a"
      label="Size Short" szShort autoComplete="off"
      [exterOutlined]="exterior04==='outlined' ? '':null"
      [exterUnderline]="exterior04==='underline' ? '':null">
    </grn-input>

    <grn-input class="in-item" formControlName="input04a"
      hiddenLabel szShort autoComplete="off"
      [exterOutlined]="exterior04==='outlined' ? '':null"
      [exterUnderline]="exterior04==='underline' ? '':null">
    </grn-input>
  </div>


  <div class="in-item iis-row iis-text">
    <span>Item height: 44px; font-size: 16px;</span>
  </div>

  <div>
    <grn-input class="in-item" formControlName="input04b"
      label="Size Small" szSmall autoComplete="off"
      [exterOutlined]="exterior04==='outlined' ? '':null"
      [exterUnderline]="exterior04==='underline' ? '':null">
    </grn-input>

    <grn-input class="in-item" formControlName="input04b"
      hiddenLabel szSmall autoComplete="off"
      [exterOutlined]="exterior04==='outlined' ? '':null"
      [exterUnderline]="exterior04==='underline' ? '':null">
    </grn-input>
  </div>


  <div class="in-item iis-row iis-text">
    <span>Item height: 50px; font-size: 16px;</span>
  </div>

  <div>
    <grn-input class="in-item" formControlName="input04c"
      label="Size Middle" szMiddle autoComplete="off"
      [exterOutlined]="exterior04==='outlined' ? '':null"
      [exterUnderline]="exterior04==='underline' ? '':null">
    </grn-input>

    <grn-input class="in-item" formControlName="input04c"
      hiddenLabel szMiddle autoComplete="off"
      [exterOutlined]="exterior04==='outlined' ? '':null"
      [exterUnderline]="exterior04==='underline' ? '':null">
    </grn-input>
  </div>


  <div class="in-item iis-row iis-text">
    <span>Item height: 56px; font-size: 16px;</span>
  </div>

  <div>
    <grn-input class="in-item" formControlName="input04d"
      label="Size Wide" szWide autoComplete="off"
      [exterOutlined]="exterior04==='outlined' ? '':null"
      [exterUnderline]="exterior04==='underline' ? '':null">
    </grn-input>

    <grn-input class="in-item" formControlName="input04d"
      hiddenLabel szWide autoComplete="off"
      [exterOutlined]="exterior04==='outlined' ? '':null"
      [exterUnderline]="exterior04==='underline' ? '':null">
    </grn-input>
  </div>


  <div class="in-item iis-row iis-text">
    <span>Item height: 62px; font-size: 18px;</span>
  </div>

  <div>
    <grn-input class="in-item iis-fn-sz-large" formControlName="input04e"
      label="Size Large" szLarge autoComplete="off"
      [exterOutlined]="exterior04==='outlined' ? '':null"
      [exterUnderline]="exterior04==='underline' ? '':null">
    </grn-input>

    <grn-input class="in-item iis-fn-sz-large" formControlName="input04e"
      hiddenLabel szLarge autoComplete="off"
      [exterOutlined]="exterior04==='outlined' ? '':null"
      [exterUnderline]="exterior04==='underline' ? '':null">
    </grn-input>
  </div>


  <div class="in-item iis-row iis-text">
    <span>Item height: 68px; font-size: 20px;</span>
  </div>

  <div>
    <grn-input class="in-item iis-fn-sz-huge" formControlName="input04f"
      label="Size Huge" szHuge autoComplete="off"
      [exterOutlined]="exterior04==='outlined' ? '':null"
      [exterUnderline]="exterior04==='underline' ? '':null">
    </grn-input>

    <grn-input class="in-item iis-fn-sz-huge" formControlName="input04f"
      hiddenLabel szHuge autoComplete="off"
      [exterOutlined]="exterior04==='outlined' ? '':null"
      [exterUnderline]="exterior04==='underline' ? '':null">
    </grn-input>
  </div>

</form>

<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
    </mat-expansion-panel-header>
    <mat-tab-group animationDuration="0ms">
      <mat-tab [label]="labelHtml">
        <pre class="in-fw-nr">
&lt;form [formGroup]="formGroup04" novalidate&gt;

  &lt;div class="in-item iis-row iis-text"&gt;
    &lt;span&gt;Item height: 38px; font-size: 16px;&lt;/span&gt;
  &lt;/div&gt;

  &lt;div&gt;
    &lt;grn-input class="in-item" formControlName="input04a"
      label="Size Short" szShort autoComplete="off"
      [exterOutlined]="exterior04==='outlined' ? '':null"
      [exterUnderline]="exterior04==='underline' ? '':null"&gt;
    &lt;/grn-input&gt;

    &lt;grn-input class="in-item" formControlName="input04a"
      hiddenLabel szShort autoComplete="off"
      [exterOutlined]="exterior04==='outlined' ? '':null"
      [exterUnderline]="exterior04==='underline' ? '':null"&gt;
    &lt;/grn-input&gt;
  &lt;/div&gt;


  &lt;div class="in-item iis-row iis-text"&gt;
    &lt;span&gt;Item height: 44px; font-size: 16px;&lt;/span&gt;
  &lt;/div&gt;

  &lt;div&gt;
    &lt;grn-input class="in-item" formControlName="input04b"
      label="Size Small" szSmall autoComplete="off"
      [exterOutlined]="exterior04==='outlined' ? '':null"
      [exterUnderline]="exterior04==='underline' ? '':null"&gt;
    &lt;/grn-input&gt;

    &lt;grn-input class="in-item" formControlName="input04b"
      hiddenLabel szSmall autoComplete="off"
      [exterOutlined]="exterior04==='outlined' ? '':null"
      [exterUnderline]="exterior04==='underline' ? '':null"&gt;
    &lt;/grn-input&gt;
  &lt;/div&gt;


  &lt;div class="in-item iis-row iis-text"&gt;
    &lt;span&gt;Item height: 50px; font-size: 16px;&lt;/span&gt;
  &lt;/div&gt;

  &lt;div&gt;
    &lt;grn-input class="in-item" formControlName="input04c"
      label="Size Middle" szMiddle autoComplete="off"
      [exterOutlined]="exterior04==='outlined' ? '':null"
      [exterUnderline]="exterior04==='underline' ? '':null"&gt;
    &lt;/grn-input&gt;

    &lt;grn-input class="in-item" formControlName="input04c"
      hiddenLabel szMiddle autoComplete="off"
      [exterOutlined]="exterior04==='outlined' ? '':null"
      [exterUnderline]="exterior04==='underline' ? '':null"&gt;
    &lt;/grn-input&gt;
  &lt;/div&gt;


  &lt;div class="in-item iis-row iis-text"&gt;
    &lt;span&gt;Item height: 56px; font-size: 16px;&lt;/span&gt;
  &lt;/div&gt;

  &lt;div&gt;
    &lt;grn-input class="in-item" formControlName="input04d"
      label="Size Wide" szWide autoComplete="off"
      [exterOutlined]="exterior04==='outlined' ? '':null"
      [exterUnderline]="exterior04==='underline' ? '':null"&gt;
    &lt;/grn-input&gt;

    &lt;grn-input class="in-item" formControlName="input04d"
      hiddenLabel szWide autoComplete="off"
      [exterOutlined]="exterior04==='outlined' ? '':null"
      [exterUnderline]="exterior04==='underline' ? '':null"&gt;
    &lt;/grn-input&gt;
  &lt;/div&gt;


  &lt;div class="in-item iis-row iis-text"&gt;
    &lt;span&gt;Item height: 62px; font-size: 18px;&lt;/span&gt;
  &lt;/div&gt;

  &lt;div&gt;
    &lt;grn-input class="in-item iis-fn-sz-large" formControlName="input04e"
      label="Size Large" szLarge autoComplete="off"
      [exterOutlined]="exterior04==='outlined' ? '':null"
      [exterUnderline]="exterior04==='underline' ? '':null"&gt;
    &lt;/grn-input&gt;

    &lt;grn-input class="in-item iis-fn-sz-large" formControlName="input04e"
      hiddenLabel szLarge autoComplete="off"
      [exterOutlined]="exterior04==='outlined' ? '':null"
      [exterUnderline]="exterior04==='underline' ? '':null"&gt;
    &lt;/grn-input&gt;
  &lt;/div&gt;


  &lt;div class="in-item iis-row iis-text"&gt;
    &lt;span&gt;Item height: 68px; font-size: 20px;&lt;/span&gt;
  &lt;/div&gt;

  &lt;div&gt;
    &lt;grn-input class="in-item iis-fn-sz-huge" formControlName="input04f"
      label="Size Huge" szHuge autoComplete="off"
      [exterOutlined]="exterior04==='outlined' ? '':null"
      [exterUnderline]="exterior04==='underline' ? '':null"&gt;
    &lt;/grn-input&gt;

    &lt;grn-input class="in-item iis-fn-sz-huge" formControlName="input04f"
      hiddenLabel szHuge autoComplete="off"
      [exterOutlined]="exterior04==='outlined' ? '':null"
      [exterUnderline]="exterior04==='underline' ? '':null"&gt;
    &lt;/grn-input&gt;
  &lt;/div&gt;

&lt;/form&gt;</pre>
    </mat-tab>
      <mat-tab [label]="labelTs">
        <pre>
import &#123; Component, ViewEncapsulation &#125; from '@angular/core';
import &#123; FormControl, FormGroup &#125; from '@angular/forms';

@Component(&#123;
  selector: 'app-input',
  templateUrl: './input.component.html',
  styleUrls: ['./input.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class InputComponent &#123;
  public formGroup04: FormGroup = new FormGroup(&#123;
    input04a: new FormControl('Demo Size Short', []),
    input04b: new FormControl('Demo Size Small', []),
    input04c: new FormControl('Demo Size Middle', []),
    input04d: new FormControl('Demo Size Wide', []),
    input04e: new FormControl('Demo Size Large', []),
    input04f: new FormControl('Demo Size Huge', []),
  &#125;);
  public exterior04 = 'outlined';
&#125;</pre>
      </mat-tab>
      <mat-tab [label]="labelCss">
        <pre>
.in-item &#123;
  width: 240px;
  margin: 10px 10px;
&#125;
.iis-row &#123;
  display: inline-flex;
  padding-top: 10px;
&#125;
.iis-text &#123;
  color: #00000096;
  font-size: 0.84em;
  font-style: italic;
&#125;
.iis-fn-sz-large &#123;
  font-size: 18px;
  &#125;
.iis-fn-sz-huge &#123;
  font-size: 20px;
&#125;</pre>
      </mat-tab>
    </mat-tab-group>
  </mat-expansion-panel>
</mat-accordion>
