/*# sourceURL=app-input-item-size.component.scss */

app-input-item-size {
  display: block;

  .iis-row {
    display: inline-flex;
  }
  .iis-text {
    color: #00000096;
    font-size: 0.84em;
    font-style: italic;
  }
  hr[dsh-br-tp] {
    border-top: 1px dashed var(--app-root-border-color);
  }
}
