<div class="in-section">
  <h3>Item size.</h3>
  <p>If you want to reduce the size of the input element, you can use the "szSmall" attribute.</p>
</div>

<div class="in-section">
  <span>exterior: </span>
  <mat-button-toggle-group [(ngModel)]="exterior04" aria-label="Font Style">
    <mat-button-toggle value="outlined">{{ labelOutlined }}</mat-button-toggle>
    <mat-button-toggle value="underline">{{ labelUnderline }}</mat-button-toggle>
    <mat-button-toggle value="standard">{{ labelStandard }}</mat-button-toggle>
  </mat-button-toggle-group>
</div>

<form class="in-section" [formGroup]="formGroup04" novalidate>

  <div>
    <grn-input class="in-item" formControlName="input04a"
     label="Size Short" szShort autoComplete="off"
     helperText="Item height: 38px"
     [exterOutlined]="exterior04==='outlined' ? '':null"
     [exterUnderline]="exterior04==='underline' ? '':null">
    </grn-input>

    <grn-input class="in-item" formControlName="input04a"
     label="Size Short" szShort autoComplete="off" hiddenLabel
     helperText="Item height: 38px hidden label"
     [exterOutlined]="exterior04==='outlined' ? '':null"
     [exterUnderline]="exterior04==='underline' ? '':null">
    </grn-input>
  </div>
  <hr dsh-br-tp>

  <div>
    <grn-input class="in-item" formControlName="input04b"
     label="Size Small" szSmall autoComplete="off"
     helperText="Item height: 44px"
     [exterOutlined]="exterior04==='outlined' ? '':null"
     [exterUnderline]="exterior04==='underline' ? '':null">
    </grn-input>

    <grn-input class="in-item" formControlName="input04b"
     label="Size Small" szSmall autoComplete="off" hiddenLabel
     helperText="Item height: 44px hidden label"
     [exterOutlined]="exterior04==='outlined' ? '':null"
     [exterUnderline]="exterior04==='underline' ? '':null">
    </grn-input>
  </div>
  <hr dsh-br-tp>

  <div>
    <grn-input class="in-item" formControlName="input04c"
     label="Size Middle" szMiddle autoComplete="off"
     helperText="Item height: 50px"
     [exterOutlined]="exterior04==='outlined' ? '':null"
     [exterUnderline]="exterior04==='underline' ? '':null">
    </grn-input>

    <grn-input class="in-item" formControlName="input04c"
     label="Size Middle" szMiddle autoComplete="off" hiddenLabel
     helperText="Item height: 50px hidden label"
     [exterOutlined]="exterior04==='outlined' ? '':null"
     [exterUnderline]="exterior04==='underline' ? '':null">
    </grn-input>
  </div>
  <hr dsh-br-tp>

  <div>
    <grn-input class="in-item" formControlName="input04d"
     label="Size Wide" szWide autoComplete="off"
     helperText="Item height: 56px"
     [exterOutlined]="exterior04==='outlined' ? '':null"
     [exterUnderline]="exterior04==='underline' ? '':null">
    </grn-input>

    <grn-input class="in-item" formControlName="input04d"
     label="Size Wide" szWide autoComplete="off" hiddenLabel
     helperText="Item height: 56px hidden label"
     [exterOutlined]="exterior04==='outlined' ? '':null"
     [exterUnderline]="exterior04==='underline' ? '':null">
    </grn-input>
  </div>
  <hr dsh-br-tp>

  <div>
    <grn-input class="in-item" formControlName="input04e"
     label="Size Large" szLarge autoComplete="off"
     helperText="Item height: 62px"
     [exterOutlined]="exterior04==='outlined' ? '':null"
     [exterUnderline]="exterior04==='underline' ? '':null">
    </grn-input>

    <grn-input class="in-item" formControlName="input04e"
     label="Size Large" szLarge autoComplete="off" hiddenLabel
     helperText="Item height: 62px hidden label"
     [exterOutlined]="exterior04==='outlined' ? '':null"
     [exterUnderline]="exterior04==='underline' ? '':null">
    </grn-input>
  </div>
  <hr dsh-br-tp>

  <div>
    <grn-input class="in-item" formControlName="input04f"
     label="Size Huge" szHuge autoComplete="off"
     helperText="Item height: 68px"
     [exterOutlined]="exterior04==='outlined' ? '':null"
     [exterUnderline]="exterior04==='underline' ? '':null">
    </grn-input>

    <grn-input class="in-item" formControlName="input04f"
     label="Size Huge" szHuge autoComplete="off" hiddenLabel
     helperText="Item height: 68px hidden label"
     [exterOutlined]="exterior04==='outlined' ? '':null"
     [exterUnderline]="exterior04==='underline' ? '':null">
    </grn-input>
  </div>

  <!-- <div>
    <grn-input class="in-item" formControlName="input04c"
     label="Size Normal" autoComplete="off" hiddenLabel9
     helperText="Some important text"
     [exterOutlined]="exterior04==='outlined' ? '':null"
     [exterUnderline]="exterior04==='underline' ? '':null">
    </grn-input>
  </div> -->




  <!-- <div>
    <grn-input class="in-item" formControlName="input04c" exterUnderline label="Size Small" szSmall>
    </grn-input>
  </div> -->

  <!-- <div>
    <grn-input class="in-item" formControlName="input04d" exterUnderline label="Size Normal">
    </grn-input>
  </div> -->

  <!-- <div>
    <grn-input class="in-item" formControlName="input04e" label="Size Small" szSmall>
    </grn-input>
  </div> -->

  <!-- <div>
    <grn-input class="in-item" formControlName="input04f" label="Size Normal">
    </grn-input>
  </div> -->

</form>

<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
    </mat-expansion-panel-header>
    <mat-tab-group animationDuration="0ms">
      <mat-tab [label]="labelHtml">
          <!-- <pre>
&lt;form [formGroup]="formGroup03" novalidate&gt;
  &lt;div&gt;
    &lt;grn-input class="in-item" formControlName="input03a" exterOutlined label="Error" isError&gt;
    &lt;/grn-input&gt;
    &lt;grn-input class="in-item" formControlName="input03b" exterOutlined label="Error-Disabled" isDisabled isError helperText="Incorrect entry."&gt;
    &lt;/grn-input&gt;
  &lt;/div&gt;
  &lt;div&gt;
    &lt;grn-input class="in-item" formControlName="input03c" exterUnderline label="Error" isError&gt;
    &lt;/grn-input&gt;
    &lt;grn-input class="in-item" formControlName="input03d" exterUnderline label="Error-Disabled" isDisabled isError helperText="Incorrect entry."&gt;
    &lt;/grn-input&gt;
  &lt;/div&gt;
  &lt;div&gt;
    &lt;grn-input class="in-item" formControlName="input03e" exterStandard label="Error" isError&gt;
    &lt;/grn-input&gt;
    &lt;grn-input class="in-item" formControlName="input03f" label="Error-Disabled" isDisabled isError helperText="Incorrect entry."&gt;
    &lt;/grn-input&gt;
  &lt;/div&gt;
&lt;/form&gt;</pre> -->
      </mat-tab>
      <mat-tab [label]="labelTs">
          <!-- <pre>
import &#123; Component, ViewEncapsulation &#125; from '@angular/core';
import &#123; FormControl, FormGroup &#125; from '@angular/forms';

@Component(&#123;
  selector: 'app-input',
  templateUrl: './input.component.html',
  styleUrls: ['./input.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class InputComponent &#123;
  public formGroup03: FormGroup = new FormGroup(&#123;
    input03a: new FormControl('Hello World', []),
    input03b: new FormControl('Hello World', []),
    input03c: new FormControl('Hello World', []),
    input03d: new FormControl('Hello World', []),
    input03e: new FormControl('Hello World', []),
    input03f: new FormControl('Hello World', []),
  &#125;);
&#125;</pre> -->
      </mat-tab>
      <mat-tab [label]="labelCss">
          <!-- <pre>
.in-item &#123;
  width: 240px;
  margin: 10px 10px;
&#125;</pre> -->
      </mat-tab>
    </mat-tab-group>
  </mat-expansion-panel>
</mat-accordion>
