<div class="in-section">
  <h3>Item size.</h3>
  <p>
    The input element has the ability to change the height. This requires adding one of the following attributes:
  </p>
  <ul>
    <li>"szShort" - sets the height to 38px;</li>
    <li>"szSmall" - sets the height to 44px;</li>
    <li>"szMiddle" - sets the height to 50px;</li>
    <li>"szWide" - sets the height to 56px (default);</li>
    <li>"szLarge" - sets the height to 62px;</li>
    <li>"szHuge" - sets the height to 68px;</li>
  </ul>
  <p>
    It is possible to hide the display of the label (legend).
    In this case, for the "Standard" mode, the height of the element is reduced by a value of 1em.
  </p>
</div>

<div class="in-section">
  <span>exterior: </span>
  <mat-button-toggle-group [(ngModel)]="exterior04" aria-label="Font Style">
    <mat-button-toggle value="outlined">{{ labelOutlined }}</mat-button-toggle>
    <mat-button-toggle value="underline">{{ labelUnderline }}</mat-button-toggle>
    <mat-button-toggle value="standard">{{ labelStandard }}</mat-button-toggle>
  </mat-button-toggle-group>
</div>

<form class="in-section" [formGroup]="formGroup04" novalidate>

  <div>
    <div class="in-item iis-row iis-text">
      <span>{{ 'Item height: '
        + (exterior04==='standard' ? '39px': '38px')
        + ';' }}
      </span>
    </div>
    <div class="in-item iis-row iis-text">
      <span>{{ 'Item height: '
        + (exterior04==='standard' ? '23px' : '38px')
        + '; label is hidden' }}
      </span>
    </div>
  </div>

  <div>
    <grn-input class="in-item" formControlName="input04a"
      label="Size Short" szShort autoComplete="off"
      [exterOutlined]="exterior04==='outlined' ? '':null"
      [exterUnderline]="exterior04==='underline' ? '':null">
    </grn-input>

    <grn-input class="in-item" formControlName="input04a"
      hiddenLabel szShort autoComplete="off"
      [exterOutlined]="exterior04==='outlined' ? '':null"
      [exterUnderline]="exterior04==='underline' ? '':null">
    </grn-input>
  </div>

  <hr dsh-br-tp>

  <div>
    <div class="in-item iis-row iis-text">
      <span>Item height: 44px;</span>
    </div>
    <div class="in-item iis-row iis-text">
      <span>{{ 'Item height: '
        + (exterior04==='standard' ? '28px' : '44px')
        + '; label is hidden' }}
      </span>
    </div>
  </div>

  <div>
    <grn-input class="in-item" formControlName="input04b"
      label="Size Small" szSmall autoComplete="off"
      [exterOutlined]="exterior04==='outlined' ? '':null"
      [exterUnderline]="exterior04==='underline' ? '':null">
    </grn-input>

    <grn-input class="in-item" formControlName="input04b"
      hiddenLabel szSmall autoComplete="off"
      [exterOutlined]="exterior04==='outlined' ? '':null"
      [exterUnderline]="exterior04==='underline' ? '':null">
    </grn-input>
  </div>

  <hr dsh-br-tp>

  <div>
    <div class="in-item iis-row iis-text">
      <span>Item height: 50px;</span>
    </div>
    <div class="in-item iis-row iis-text">
      <span>{{ 'Item height: '
        + (exterior04==='standard' ? '34px' : '50px')
        + '; label is hidden' }}
      </span>
    </div>
  </div>

  <div>
    <grn-input class="in-item" formControlName="input04c"
      label="Size Middle" szMiddle autoComplete="off"
      [exterOutlined]="exterior04==='outlined' ? '':null"
      [exterUnderline]="exterior04==='underline' ? '':null">
    </grn-input>

    <grn-input class="in-item" formControlName="input04c"
      hiddenLabel szMiddle autoComplete="off"
      [exterOutlined]="exterior04==='outlined' ? '':null"
      [exterUnderline]="exterior04==='underline' ? '':null">
    </grn-input>
  </div>

  <hr dsh-br-tp>

  <div>
    <div class="in-item iis-row iis-text">
      <span>Item height: 56px;</span>
    </div>
    <div class="in-item iis-row iis-text">
      <span>{{ 'Item height: '
        + (exterior04==='standard' ? '40px' : '56px')
        + '; label is hidden' }}
      </span>
    </div>
  </div>

  <div>
    <grn-input class="in-item" formControlName="input04d"
      label="Size Wide" szWide autoComplete="off"
      [exterOutlined]="exterior04==='outlined' ? '':null"
      [exterUnderline]="exterior04==='underline' ? '':null">
    </grn-input>

    <grn-input class="in-item" formControlName="input04d"
      hiddenLabel szWide autoComplete="off"
      [exterOutlined]="exterior04==='outlined' ? '':null"
      [exterUnderline]="exterior04==='underline' ? '':null">
    </grn-input>
  </div>

  <hr dsh-br-tp>

   <div>
    <div class="in-item iis-row iis-text">
      <span>Item height: 62px;</span>
    </div>
    <div class="in-item iis-row iis-text">
      <span>{{ 'Item height: '
        + (exterior04==='standard' ? '46px' : '62px')
        + '; label is hidden' }}
      </span>
    </div>
  </div>

  <div>
    <grn-input class="in-item" formControlName="input04e"
      label="Size Large" szLarge autoComplete="off"
      [exterOutlined]="exterior04==='outlined' ? '':null"
      [exterUnderline]="exterior04==='underline' ? '':null">
    </grn-input>

    <grn-input class="in-item" formControlName="input04e"
      hiddenLabel szLarge autoComplete="off"
      [exterOutlined]="exterior04==='outlined' ? '':null"
      [exterUnderline]="exterior04==='underline' ? '':null">
    </grn-input>
  </div>

  <hr dsh-br-tp>

  <div>
    <div class="in-item iis-row iis-text">
      <span>Item height: 68px;</span>
    </div>
    <div class="in-item iis-row iis-text">
      <span>{{ 'Item height: '
        + (exterior04==='standard' ? '52px' : '68px')
        + '; label is hidden' }}
      </span>
    </div>
  </div>

  <div>
    <grn-input class="in-item" formControlName="input04f"
      label="Size Huge" szHuge autoComplete="off"
      [exterOutlined]="exterior04==='outlined' ? '':null"
      [exterUnderline]="exterior04==='underline' ? '':null">
    </grn-input>

    <grn-input class="in-item" formControlName="input04f"
      hiddenLabel szHuge autoComplete="off"
      [exterOutlined]="exterior04==='outlined' ? '':null"
      [exterUnderline]="exterior04==='underline' ? '':null">
    </grn-input>
  </div>

</form>

<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>{{ labelShowSource }}</mat-panel-title>
    </mat-expansion-panel-header>
    <mat-tab-group animationDuration="0ms">
      <mat-tab [label]="labelHtml">
        <pre class="in-fw-nr">
&lt;form class="in-section" [formGroup]="formGroup04" novalidate&gt;

  &lt;div&gt;
    &lt;div class="in-item iis-row iis-text"&gt;
      &lt;span&gt;<b>&#123;</b>&#123; 'Item height: '
        + (exterior04==='standard' ? '39px': '38px')
        + ';' &#125;&#125;
      &lt;/span&gt;
    &lt;/div&gt;
    &lt;div class="in-item iis-row iis-text"&gt;
      &lt;span&gt;<b>&#123;</b>&#123; 'Item height: '
        + (exterior04==='standard' ? '23px' : '38px')
        + '; label is hidden' &#125;&#125;
      &lt;/span&gt;
    &lt;/div&gt;
  &lt;/div&gt;

  &lt;div&gt;
    &lt;grn-input class="in-item" formControlName="input04a"
      label="Size Short" szShort autoComplete="off"
      [exterOutlined]="exterior04==='outlined' ? '':null"
      [exterUnderline]="exterior04==='underline' ? '':null"&gt;
    &lt;/grn-input&gt;

    &lt;grn-input class="in-item" formControlName="input04a"
      hiddenLabel szShort autoComplete="off"
      [exterOutlined]="exterior04==='outlined' ? '':null"
      [exterUnderline]="exterior04==='underline' ? '':null"&gt;
    &lt;/grn-input&gt;
  &lt;/div&gt;

  &lt;hr dsh-br-tp&gt;

  &lt;div&gt;
    &lt;div class="in-item iis-row iis-text"&gt;
      &lt;span&gt;Item height: 44px;&lt;/span&gt;
    &lt;/div&gt;
    &lt;div class="in-item iis-row iis-text"&gt;
      &lt;span&gt;<b>&#123;</b>&#123; 'Item height: '
        + (exterior04==='standard' ? '28px' : '44px')
        + '; label is hidden' &#125;&#125;
      &lt;/span&gt;
    &lt;/div&gt;
  &lt;/div&gt;

  &lt;div&gt;
    &lt;grn-input class="in-item" formControlName="input04b"
      label="Size Small" szSmall autoComplete="off"
      [exterOutlined]="exterior04==='outlined' ? '':null"
      [exterUnderline]="exterior04==='underline' ? '':null"&gt;
    &lt;/grn-input&gt;

    &lt;grn-input class="in-item" formControlName="input04b"
      hiddenLabel szSmall autoComplete="off"
      [exterOutlined]="exterior04==='outlined' ? '':null"
      [exterUnderline]="exterior04==='underline' ? '':null"&gt;
    &lt;/grn-input&gt;
  &lt;/div&gt;

  &lt;hr dsh-br-tp&gt;

  &lt;div&gt;
    &lt;div class="in-item iis-row iis-text"&gt;
      &lt;span&gt;Item height: 50px;&lt;/span&gt;
    &lt;/div&gt;
    &lt;div class="in-item iis-row iis-text"&gt;
      &lt;span&gt;<b>&#123;</b>&#123; 'Item height: '
        + (exterior04==='standard' ? '34px' : '50px')
        + '; label is hidden' &#125;&#125;
      &lt;/span&gt;
    &lt;/div&gt;
  &lt;/div&gt;

  &lt;div&gt;
    &lt;grn-input class="in-item" formControlName="input04c"
      label="Size Middle" szMiddle autoComplete="off"
      [exterOutlined]="exterior04==='outlined' ? '':null"
      [exterUnderline]="exterior04==='underline' ? '':null"&gt;
    &lt;/grn-input&gt;

    &lt;grn-input class="in-item" formControlName="input04c"
      hiddenLabel szMiddle autoComplete="off"
      [exterOutlined]="exterior04==='outlined' ? '':null"
      [exterUnderline]="exterior04==='underline' ? '':null"&gt;
    &lt;/grn-input&gt;
  &lt;/div&gt;

  &lt;hr dsh-br-tp&gt;

  &lt;div&gt;
    &lt;div class="in-item iis-row iis-text"&gt;
      &lt;span&gt;Item height: 56px;&lt;/span&gt;
    &lt;/div&gt;
    &lt;div class="in-item iis-row iis-text"&gt;
      &lt;span&gt;<b>&#123;</b>&#123; 'Item height: '
        + (exterior04==='standard' ? '40px' : '56px')
        + '; label is hidden' &#125;&#125;
      &lt;/span&gt;
    &lt;/div&gt;
  &lt;/div&gt;

  &lt;div&gt;
    &lt;grn-input class="in-item" formControlName="input04d"
      label="Size Wide" szWide autoComplete="off"
      [exterOutlined]="exterior04==='outlined' ? '':null"
      [exterUnderline]="exterior04==='underline' ? '':null"&gt;
    &lt;/grn-input&gt;

    &lt;grn-input class="in-item" formControlName="input04d"
      hiddenLabel szWide autoComplete="off"
      [exterOutlined]="exterior04==='outlined' ? '':null"
      [exterUnderline]="exterior04==='underline' ? '':null"&gt;
    &lt;/grn-input&gt;
  &lt;/div&gt;

  &lt;hr dsh-br-tp&gt;

   &lt;div&gt;
    &lt;div class="in-item iis-row iis-text"&gt;
      &lt;span&gt;Item height: 62px;&lt;/span&gt;
    &lt;/div&gt;
    &lt;div class="in-item iis-row iis-text"&gt;
      &lt;span&gt;<b>&#123;</b>&#123; 'Item height: '
        + (exterior04==='standard' ? '46px' : '62px')
        + '; label is hidden' &#125;&#125;
      &lt;/span&gt;
    &lt;/div&gt;
  &lt;/div&gt;

  &lt;div&gt;
    &lt;grn-input class="in-item" formControlName="input04e"
      label="Size Large" szLarge autoComplete="off"
      [exterOutlined]="exterior04==='outlined' ? '':null"
      [exterUnderline]="exterior04==='underline' ? '':null"&gt;
    &lt;/grn-input&gt;

    &lt;grn-input class="in-item" formControlName="input04e"
      hiddenLabel szLarge autoComplete="off"
      [exterOutlined]="exterior04==='outlined' ? '':null"
      [exterUnderline]="exterior04==='underline' ? '':null"&gt;
    &lt;/grn-input&gt;
  &lt;/div&gt;

  &lt;hr dsh-br-tp&gt;

  &lt;div&gt;
    &lt;div class="in-item iis-row iis-text"&gt;
      &lt;span&gt;Item height: 68px;&lt;/span&gt;
    &lt;/div&gt;
    &lt;div class="in-item iis-row iis-text"&gt;
      &lt;span&gt;<b>&#123;</b>&#123; 'Item height: '
        + (exterior04==='standard' ? '52px' : '68px')
        + '; label is hidden' &#125;&#125;
      &lt;/span&gt;
    &lt;/div&gt;
  &lt;/div&gt;

  &lt;div&gt;
    &lt;grn-input class="in-item" formControlName="input04f"
      label="Size Huge" szHuge autoComplete="off"
      [exterOutlined]="exterior04==='outlined' ? '':null"
      [exterUnderline]="exterior04==='underline' ? '':null"&gt;
    &lt;/grn-input&gt;

    &lt;grn-input class="in-item" formControlName="input04f"
      hiddenLabel szHuge autoComplete="off"
      [exterOutlined]="exterior04==='outlined' ? '':null"
      [exterUnderline]="exterior04==='underline' ? '':null"&gt;
    &lt;/grn-input&gt;
  &lt;/div&gt;

&lt;/form&gt;
      </pre>
    </mat-tab>
      <mat-tab [label]="labelTs">
        <pre>
import &#123; Component, ViewEncapsulation &#125; from '@angular/core';
import &#123; FormControl, FormGroup &#125; from '@angular/forms';

@Component(&#123;
  selector: 'app-input',
  templateUrl: './input.component.html',
  styleUrls: ['./input.component.scss'],
  encapsulation: ViewEncapsulation.None,
&#125;)
export class InputComponent &#123;
  public formGroup04: FormGroup = new FormGroup(&#123;
    input04a: new FormControl('Demo Size Short', []),
    input04b: new FormControl('Demo Size Small', []),
    input04c: new FormControl('Demo Size Middle', []),
    input04d: new FormControl('Demo Size Wide', []),
    input04e: new FormControl('Demo Size Large', []),
    input04f: new FormControl('Demo Size Huge', []),
  &#125;);
  public exterior04 = 'outlined';
&#125;</pre>
      </mat-tab>
      <mat-tab [label]="labelCss">
        <pre>
.in-item &#123;
  width: 240px;
  margin: 10px 10px;
&#125;
.iis-row &#123;
  display: inline-flex;
&#125;
.iis-text &#123;
  color: #00000096;
  font-size: 0.84em;
  font-style: italic;
&#125;
hr[dsh-br-tp] &#123;
  border-top: 1px dashed var(--app-root-border-color);
&#125;</pre>
      </mat-tab>
    </mat-tab-group>
  </mat-expansion-panel>
</mat-accordion>
