/*# sourceURL=input-item-size.component.scss */

app-input-item-size {
  display: block;

  .iis-row {
    display: inline-flex;
    padding-top: 10px;
  }
  .iis-text {
    color: #00000096;
    font-size: 0.84em;
    font-style: italic;
  }
  .iis-fn-sz-large {
    font-size: 18px;
  }
  .iis-fn-sz-huge {
    font-size: 20px;
  }
}
