/*# sourceURL=cm-select-config.component.scss */

app-cm-select-config {
  display: block;
  .sc-elem {
    width: 28ch;
  }
}

.cdk-overlay-container .sc-backdrop {
  background-color: hsla(240, 72%, 94%, 30%);
}
.cdk-overlay-container .gln-select-panel.sc-panel {
  --glnslpo-border-radius: 10px;
  background-color: hsla(160, 100%, 75%, 4%);
  box-shadow: #276566de 0 5px 5px -3px
    , #27656694 0 8px 10px 1px
    , #27656694 0 5px 14px 2px;
}
